/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.App_6951fbcf {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 400rem;
  padding: 25rem 20rem 10rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.App_title_457204f1 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 14rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.App_separator_6a28805 {
  width: 100%;
  height: 1rem;
  background:
    linear-gradient(to right, transparent 50%, rgb(18, 17, 11) 50%),
    linear-gradient(270deg, #12110b 0%, #c9c9b6 50%, #12110b 100%);
  background-size:
    3rem 2rem,
    100% 100%;
  opacity: 0.2;
  position: absolute;
  right: 0;
  left: 0;
}
.App_separator__top_6b53b19b {
  top: 0;
}
.App_separator__bottom_cf221d84 {
  bottom: 0;
}

.App_bg_856460fd {
  background: linear-gradient(
    90deg,
    rgba(201, 201, 182, 0) 0%,
    #c9c9b6 38.22%,
    #c9c9b6 64.56%,
    rgba(201, 201, 182, 0) 100%
  );
  opacity: 0.07;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App_section_51ca660f {
  padding: 14rem 0;
  position: relative;
}

.App_subTitle_f537f8a7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 6rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
