/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BattleButton_root_ea4cde73,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-pattern */
.BattleButton_3fb5b338 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 158rem;
  height: 50rem;
  cursor: pointer;
}
.BattleButton_base__disabled_ca5dbe01 {
  cursor: default;
}

.BattleButton_bg_722ffd0f {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-image: 6 fill/6rem stretch;
  background: no-repeat 50%/100% 100%;
}
.BattleButton_bg__base_25bf959e {
  border-image-source: url("R.images.story_mode.gui.maps.icons.common.battle_button.normal");
}
.BattleButton_base__disabled_ca5dbe01 .BattleButton_bg__base_25bf959e {
  border-image-source: url("R.images.story_mode.gui.maps.icons.common.battle_button.disabled");
}
.BattleButton_bg__hovered_7a80483f {
  border-image-source: url("R.images.story_mode.gui.maps.icons.common.battle_button.hover");
  opacity: 0;
  transition: opacity 0.2s ease;
}
.BattleButton_base__hovered_ea4cde73 .BattleButton_bg__hovered_7a80483f {
  opacity: 1;
  transition: opacity 0.2s ease;
}
.BattleButton_bg__pressed_9c85d26f {
  border-image-source: url("R.images.story_mode.gui.maps.icons.common.battle_button.down");
  opacity: 0;
  transition: opacity 0.2s ease;
}
.BattleButton_base__pressed_ea4cde73 .BattleButton_bg__pressed_9c85d26f {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.BattleButton_label_534107b5 {
  color: #f2f2f7;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: -4rem;
  white-space: nowrap;
  filter: drop-shadow(-1rem -1rem 1rem #300);
}
.BattleButton_base__disabled_ca5dbe01 .BattleButton_label_534107b5 {
  opacity: 0.8;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Loading_root_3ce622de,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-pattern */
.Loading_container_69bbbe24 {
  color: #e9e2bf;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  display: flex;
  flex-direction: row;
}

.Loading_spinner_6929b406 {
  width: 24rem;
  height: 24rem;
  margin-top: -2rem;
  background: url("R.images.story_mode.gui.maps.icons.common.load") no-repeat 50% / cover;
  animation: Loading_rotating_3ce622de 1.4s linear infinite;
}

@keyframes Loading_rotating_3ce622de {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#PrebattleWindowApp_root_32e0f7c,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PrebattleWindowApp_6edc34ff {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.PrebattleWindowApp_header_38798bdb {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 42rem;
}
.mediaMedium .PrebattleWindowApp_header_38798bdb {
  top: 50rem;
}
.mediaLarge .PrebattleWindowApp_header_38798bdb {
  top: 71rem;
}
.mediaExtraLarge .PrebattleWindowApp_header_38798bdb {
  top: 68rem;
}

.PrebattleWindowApp_stage_b68f72e7 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-secondary);
  font-weight: 600;
}
.mediaMedium .PrebattleWindowApp_stage_b68f72e7 {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
}
.mediaLarge .PrebattleWindowApp_stage_b68f72e7 {
  color: var(--color-general-secondary);
  font-size: 30rem;
  font-weight: 600;
  line-height: 1.07;
  font-weight: 600;
}
.mediaExtraLarge .PrebattleWindowApp_stage_b68f72e7 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: -2rem;
  font-weight: 600;
  line-height: 1.2;
}

.PrebattleWindowApp_title_203355c8 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: -4rem;
  color: var(--color-general-primary);
  font-weight: 600;
  opacity: 0.9;
}
.mediaMedium .PrebattleWindowApp_title_203355c8 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: -5rem;
  font-weight: 600;
}
.mediaLarge .PrebattleWindowApp_title_203355c8 {
  color: var(--color-general-primary);
  font-size: 60rem;
  font-weight: 600;
  line-height: 1.07;
  margin-top: 1rem;
  font-weight: 600;
}
.mediaExtraLarge .PrebattleWindowApp_title_203355c8 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: -10rem;
  font-weight: 600;
}

.PrebattleWindowApp_task_9a7b85b3 {
  color: #ffe4c0;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10rem;
}
.mediaMedium .PrebattleWindowApp_task_9a7b85b3 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 8rem;
}
.mediaLarge .PrebattleWindowApp_task_9a7b85b3 {
  color: #ffe4c0;
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  margin-top: 12rem;
}
.mediaExtraLarge .PrebattleWindowApp_task_9a7b85b3 {
  color: #ffe4c0;
  font-size: 28rem;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 26rem;
}

.PrebattleWindowApp_attackIcon_4449c705 {
  width: 58rem;
  height: 58rem;
  margin-top: 4rem;
  background: url("R.images.story_mode.gui.maps.icons.prebattle.icons.attack") no-repeat 50% / cover;
}

.PrebattleWindowApp_flagIcon_66146e05 {
  width: 51rem;
  height: 52rem;
  margin-top: 4rem;
  background: url("R.images.story_mode.gui.maps.icons.prebattle.icons.flag") no-repeat 50% / cover;
}

.PrebattleWindowApp_battleButton_1d1c076c {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 50rem;
}

.PrebattleWindowApp_continueButton_211ff153 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  min-width: 160rem;
  bottom: 53rem;
}

.PrebattleWindowApp_lore_2881adce {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: 100rem;
}
.mediaMedium .PrebattleWindowApp_lore_2881adce {
  top: 94rem;
}
.mediaLarge .PrebattleWindowApp_lore_2881adce {
  top: 110rem;
}
.mediaExtraLarge .PrebattleWindowApp_lore_2881adce {
  top: 118rem;
}

.PrebattleWindowApp_loading_aab1be28 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 45rem;
}
