.HorizontalTabs_base_92 {
  display: flex;
}
.HorizontalTabs_tab_ca {
  display: flex;
  align-items: center;
  height: 32rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #e9e2bf;
  font-size: 14rem;
  position: relative;
  z-index: 0;
  transition: color 0.16s ease-in-out;
  cursor: pointer;
}
.HorizontalTabs_tab_ca:hover {
  color: #fd9;
}
.HorizontalTabs_tab__medium_88 {
  height: 46rem;
  padding-bottom: 2rem;
  font-size: 16rem;
}
.HorizontalTabs_tab__active_3e {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fd9;
}
.HorizontalTabs_tab__nonInteractive_ce {
  cursor: default;
}
.HorizontalTabs_state_3d {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: background-color 0.16s ease-in-out;
  pointer-events: none;
}
.HorizontalTabs_tab_ca:hover .HorizontalTabs_state_3d,
.HorizontalTabs_tab__active_3e .HorizontalTabs_state_3d {
  background-color: rgba(255, 85, 0, 0.06);
  opacity: 1;
}
.HorizontalTabs_tab__active_3e .HorizontalTabs_state_3d {
  border: 1rem solid rgba(255, 85, 0, 0.2);
}
.HorizontalTabs_highlight_9e {
  width: 338rem;
  height: 168rem;
  background: url("R.images.gui.maps.icons.components.tabs.tab.highlight") no-repeat center/ contain;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.16s ease-in-out;
  pointer-events: none;
}
.HorizontalTabs_tab__active_3e .HorizontalTabs_highlight_9e {
  opacity: 1;
}
.HorizontalTabs_border_08 {
  width: 1rem;
  background: url("R.images.gui.maps.icons.components.tabs.tab.border") 0 50% no-repeat;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: opacity 0.16s ease-in-out;
}
.HorizontalTabs_tab__active_3e .HorizontalTabs_border_08 {
  opacity: 1;
}
.HorizontalTabs_border__left_64 {
  left: -1rem;
}
.HorizontalTabs_border__right_45 {
  right: -1rem;
}
.HorizontalTabs_divider_6f {
  width: 1rem;
  height: 100%;
  background: url("R.images.gui.maps.icons.components.tabs.tab.separator") no-repeat 50% 50%;
  position: absolute;
  top: 0;
  right: -1rem;
  pointer-events: none;
}
.HorizontalTabs_title_10 {
  padding: 0 32rem 1rem;
  z-index: 5;
}
.HorizontalTabs_notification_89 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 14rem;
  height: 14rem;
  padding: 0rem 3rem 2rem;
  border: 1rem solid #fe4e0f;
  border-radius: 999rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 6rem rgba(254, 103, 0, 0.2),
    0 0 12rem 4rem rgba(249, 0, 0, 0.3);
  background-image: url("R.images.gui.maps.icons.components.counter.pattern");
  color: #fff;
  font-size: 12rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: 10rem;
  z-index: 6;
  transform: translateY(-50%);
  pointer-events: none;
}
.HorizontalTabs_notification__symbol_8b {
  width: 14rem;
}
.HorizontalTabs_notification__small_7c {
  min-width: 13rem;
  height: 13rem;
  padding: 0rem 3rem 2rem;
  font-size: 10rem;
}
.HorizontalTabs_notification__small_7c.HorizontalTabs_notification__symbol_8b {
  width: 13rem;
}
.HorizontalTabs_notification__large_a2 {
  min-width: 18rem;
  height: 18rem;
  padding: 0rem 5rem 2rem;
  font-size: 14rem;
}
.HorizontalTabs_notification__large_a2.HorizontalTabs_notification__symbol_8b {
  width: 18rem;
}
.HorizontalTabs_notification__dot_d7 {
  min-width: 0;
  padding: 0;
}
.HorizontalTabs_notification__dot_d7.HorizontalTabs_notification__medium_19,
.HorizontalTabs_notification__dot_d7.HorizontalTabs_notification__large_a2 {
  width: 8rem;
  height: 8rem;
}
.HorizontalTabs_notification__dot_d7.HorizontalTabs_notification__small_7c {
  width: 6rem;
  height: 6rem;
}

.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

.TextButton_base_b6 {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 12rem;
  position: relative;
  cursor: pointer;
}

.TextButton_base__right_39 {
  flex-direction: row-reverse;
}
.TextButton_icon_17 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.back");
  transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
  transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
  margin: -1rem 0;
  background-image: url("R.images.gui.maps.icons.components.text_button.close");
}
.TextButton_icon__info_33 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.info");
}
.TextButton_glow_a4 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.back_hover");
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.close_hover");
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.info_hover");
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
  opacity: 0;
}
.TextButton_caption_82 {
  position: relative;
  transition:
    color 0.16s,
    text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
  color: #ffdd99;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
  color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
  color: #ffdd99;
}
.TextButton_caption__info_23 {
  padding: 0 5rem;
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
  color: #e3ffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 12rem rgba(0, 234, 255, 1),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.6),
    0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
  color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
  margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
  margin-right: 8rem;
}
.TextButton_shine_e2 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transition: opacity 0.16s;
  pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
  left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
  right: -4rem;
  transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
  opacity: 0;
}

@keyframes App_fadeIn_69 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes App_fadeOut_4b {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.App_base_6e {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("R.images.mt_birthday.gui.maps.icons.playerSelect.background") no-repeat center /
    cover;
  overflow: hidden;
  animation: App_fadeIn_69 0.6s forwards;
}
.App_base__error_f3 {
  justify-content: center;
}
.App_header_ab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28rem;
}
.mediaMedium .App_header_ab {
  padding-top: 36rem;
}
.mediaLarge .App_header_ab {
  padding-top: 40rem;
}
.mediaExtraLarge .App_header_ab {
  padding-top: 80rem;
}
.App_headerTitle_d7 {
  color: #fefeec;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.mediaMedium .App_headerTitle_d7 {
  color: #fefeec;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.mediaExtraLarge .App_headerTitle_d7 {
  color: #fefeec;
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.App_headerDescription_c6 {
  color: #fefeec;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 4rem;
}
.mediaMedium .App_headerDescription_c6 {
  color: #fefeec;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.mediaLarge .App_headerDescription_c6 {
  margin-top: 8rem;
}
.mediaExtraLarge .App_headerDescription_c6 {
  color: #fefeec;
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.App_closeBtn_2f {
  position: absolute;
  top: 46rem;
  right: 8rem;
  z-index: 1;
}
.mediaMedium .App_closeBtn_2f {
  top: 68rem;
  right: 20rem;
}
.mediaLarge .App_closeBtn_2f {
  top: 74rem;
  right: 30rem;
}
.mediaExtraLarge .App_closeBtn_2f {
  right: 37rem;
}
.App_tabsWrapper_f2 {
  display: flex;
  margin-top: 24rem;
}
.mediaMedium .App_tabsWrapper_f2 {
  margin-top: 32rem;
}
.mediaLarge .App_tabsWrapper_f2 {
  margin-top: 40rem;
}
.mediaExtraLarge .App_tabsWrapper_f2 {
  margin-top: 56rem;
}
.App_tab_c7 {
  justify-content: center;
  width: 150rem;
  height: 32rem;
}
.App_tabTitle_3f {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  opacity: 0.6;
  transition: opacity 0.16s ease-in-out;
}
.App_tab_c7:hover .App_tabTitle_3f {
  opacity: 1;
}
.App_activeTab_89 .App_tabTitle_3f {
  color: #fd9;
  opacity: 1;
}
.App_playerSelect_d1 {
  display: flex;
  margin-top: 24rem;
}
.mediaMedium .App_playerSelect_d1 {
  margin-top: 32rem;
}
.mediaLarge .App_playerSelect_d1 {
  margin-top: 40rem;
}
.mediaExtraLarge .App_playerSelect_d1 {
  margin-top: 56rem;
}
.App_selectedCount_58 {
  display: flex;
}
.App_selectedText_ce {
  color: #fefeec;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 12rem 0;
}
.App_footer_4c {
  margin-top: 20rem;
}
.mediaMedium .App_footer_4c {
  margin-top: 28rem;
}
.mediaLarge .App_footer_4c {
  margin-top: 44rem;
}
.mediaExtraLarge .App_footer_4c {
  margin-top: 60rem;
}

.CButton_base_40 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
  background-size: 100% 100%;
}

.CButton_base__main_42 {
  background-image: url("R.images.gui.maps.icons.components.button.back_main");
}

.CButton_base__primary_7f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary");
}

.CButton_base__primaryGreen_6f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_green");
}

.CButton_base__primaryRed_ec {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_red");
}

.CButton_base__secondary_50 {
  background-image: url("R.images.gui.maps.icons.components.button.back_secondary");
}

.CButton_base__ghost_ed {
  border-radius: 3rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
  background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
  min-height: 17rem;
  padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
  padding: 0 20rem;
}

.CButton_base__small_df {
  min-height: 18rem;
}

.CButton_base__medium_74 {
  min-height: 32rem;
}

.CButton_base__disabled_d9 {
  cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_main");
}
.CButton_base__primary_7f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary");
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_green");
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_red");
}
.CButton_base__secondary_50 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_secondary");
}
.CButton_texture_fe {
  background: url("R.images.gui.maps.icons.components.button.standard_texture_file");
  background-size: 155rem 31rem;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_state_11 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
  border-radius: 2rem;
  box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
  transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
  background-image: linear-gradient(
    180deg,
    rgba(252, 248, 235, 0.25) 0%,
    rgba(252, 248, 235, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
  opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
  box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
  background-color: rgba(8, 6, 0, 0.18);
  background-image: none;
}
.CButton_stateHighlightActive_35 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
  opacity: 1;
}
.CButton_stateDisabled_54 {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("R.images.gui.maps.icons.components.button.texture_disable");
  background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
  opacity: 1;
}
.CButton_content_cc {
  display: flex;
  align-items: center;
  color: #f2f2e6;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 -1rem 1rem #000;
  letter-spacing: 0.03em;
  transform: translateY(-1rem);
}
.CButton_content_cc[lang="ja"],
.CButton_content_cc[lang="ko"],
.CButton_content_cc[lang="zh_tw"],
.CButton_content_cc[lang="zh_sg"],
.CButton_content_cc[lang="zh_cn"],
.CButton_content_cc[lang="th"] {
  font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
  color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
  font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
  font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
  font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
  opacity: 0.6;
}

.ErrorScreen_base_88 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ErrorScreen_image_02 {
  width: 180rem;
  height: 135rem;
  margin-bottom: 8rem;
  background: url("R.images.mt_birthday.gui.maps.icons.playerSelect.error") no-repeat center / cover;
}

.mediaMedium .ErrorScreen_image_02 {
  width: 296rem;
  height: 222rem;
  margin-bottom: 16rem;
}

.mediaLarge .ErrorScreen_image_02 {
  width: 360rem;
  height: 270rem;
}

.mediaExtraLarge .ErrorScreen_image_02 {
  width: 400rem;
  height: 300rem;
}

.ErrorScreen_title_39 {
  color: #fefeec;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 8rem;
  text-align: center;
}

.mediaMedium .ErrorScreen_title_39 {
  color: #fefeec;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}

.mediaLarge .ErrorScreen_title_39 {
  color: #fefeec;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}

.mediaExtraLarge .ErrorScreen_title_39 {
  color: #fefeec;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 16rem;
}

.ErrorScreen_description_1b {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
}

.ErrorScreen_footer_24 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16rem;
}

.mediaMedium .ErrorScreen_footer_24 {
  margin-top: 24rem;
}

.ErrorScreen_button_a5 {
  min-width: 160rem;
}

.Footer_base_15 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer_stamp_ce {
  display: flex;
  align-items: center;
  height: 26rem;
}

.mediaMedium .Footer_stamp_ce {
  height: 29rem;
}

.Footer_stampText_04 {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  align-items: flex-end;
}

.Footer_stampCount_75 {
  color: #fefeec;
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 2rem;
}

.mediaMedium .Footer_stampCount_75 {
  color: #fefeec;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}

.Footer_iconWrapper_13 {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 4rem 0 0 6rem;
}

.mediaMedium .Footer_iconWrapper_13 {
  margin-left: 8rem;
}

.Footer_stampIcon_c4 {
  width: 16rem;
  height: 16rem;
  background: url("R.images.mt_birthday.gui.maps.icons.common.postStamp.c_24x24.postStamp")
    no-repeat center / cover;
}

.mediaMedium .Footer_stampIcon_c4 {
  width: 24rem;
  height: 24rem;
}

.Footer_buttonsWrapper_f3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
}

.mediaLarge .Footer_buttonsWrapper_f3 {
  margin-top: 12rem;
}

.Footer_button_3f {
  min-width: 160rem;
  min-height: 24rem;
  margin: 0 10rem;
  padding: 0;
}

.mediaMedium .Footer_button_3f {
  min-height: 32rem;
}

.InputControl_base_68 {
  display: flex;
  align-items: center;
  min-width: 100%;
  height: 100%;
  border: 1rem solid #464538;
  border-radius: 2rem;
  box-shadow:
    inset 0 0 1rem #000,
    inset 0 0 8rem #000;
  position: relative;
  transition: border 0.3s ease-in-out;
  cursor: text;
}

.InputControl_base__focused_aa {
  border-color: #626156;
}

.InputControl_base__alert_22 {
  border-color: #ee7000;
  box-shadow:
    inset 0 0 1rem #000,
    inset 0 0 8rem #000,
    inset 0 0 6rem #8d0d03;
}

.InputControl_base__error_ff {
  border-color: #ff2717;
  box-shadow:
    inset 0 0 1rem #000,
    inset 0 0 8rem #000,
    inset 0 0 6rem #8d0d03;
}

.InputControl_base__done_a7 {
  border-color: #7ab300;
}

.InputControl_base__disabled_f8 {
  cursor: default;
}

.InputControl_input_93 {
  flex: 1;
  border: none;
  background-color: transparent;
  color: #8c8c7e;
  position: relative;
  z-index: 1;
}

.InputControl_base__small_85 .InputControl_input_93 {
  font-size: 12rem;
  padding: 1rem 4rem 2rem 8rem;
}

.InputControl_base__medium_a2 .InputControl_input_93 {
  font-size: 14rem;
  padding: 1rem 4rem 2rem 8rem;
}

.InputControl_base__large_32 .InputControl_input_93 {
  font-size: 16rem;
  padding: 4rem 6rem 5rem 12rem;
}

.InputControl_base__withIcon_9e.InputControl_base__small_85 .InputControl_input__search_85 {
  padding-left: 20rem;
}

.InputControl_base__withIcon_9e.InputControl_base__medium_a2 .InputControl_input__search_85 {
  padding-left: 24rem;
}

.InputControl_base__withIcon_9e.InputControl_base__large_32 .InputControl_input__search_85 {
  padding-left: 36rem;
}

.InputControl_base__disabled_f8 .InputControl_input_93 {
  color: #37362e;
  pointer-events: none;
}

.InputControl_input_93::selection {
  background-color: #8c8c7e;
  color: #37362e;
}

.InputControl_disabled_78 {
  width: 100%;
  height: 100%;
  background: url("R.images.gui.maps.icons.library.disabled_pattern") center / 9rem;
  opacity: 0.8;
  position: absolute;
}

.InputControl_placeholder_e3 {
  color: #595950;
  position: absolute;
  left: 8rem;
  pointer-events: none;
}

.InputControl_base__small_85 .InputControl_placeholder_e3 {
  font-size: 12rem;
}

.InputControl_base__medium_a2 .InputControl_placeholder_e3 {
  font-size: 14rem;
}

.InputControl_base__large_32 .InputControl_placeholder_e3 {
  font-size: 16rem;
  left: 12rem;
}

.InputControl_base__withIcon_9e.InputControl_base__small_85 .InputControl_placeholder__search_d5 {
  left: 20rem;
}

.InputControl_base__withIcon_9e.InputControl_base__medium_a2 .InputControl_placeholder__search_d5 {
  left: 24rem;
}

.InputControl_base__withIcon_9e.InputControl_base__large_32 .InputControl_placeholder__search_d5 {
  left: 36rem;
}

.InputControl_base__disabled_f8 .InputControl_placeholder_e3 {
  color: #37362e;
}

.InputControl_icon_13 {
  background: no-repeat center / contain;
  position: absolute;
  left: 8rem;
  z-index: 1;
  pointer-events: none;
}

.InputControl_base__small_85 .InputControl_icon__search_57 {
  width: 8rem;
  height: 8rem;
}

.InputControl_base__medium_a2 .InputControl_icon__search_57 {
  width: 10rem;
  height: 10rem;
}

.InputControl_base__large_32 .InputControl_icon__search_57 {
  width: 16rem;
  height: 16rem;
  left: 12rem;
}

.InputControl_base__disabled_f8 .InputControl_icon_13 {
  opacity: 0.5;
}

.InputControl_clear_bb {
  opacity: 0.6;
  position: absolute;
  right: 4rem;
  z-index: 1;
  cursor: pointer;
}

.InputControl_clear_bb:hover {
  opacity: 1;
}

.InputControl_base__small_85 .InputControl_clear_bb {
  width: 12rem;
  height: 12rem;
  background: url("R.images.gui.maps.icons.components.input.close_small") no-repeat center / 8rem;
}

.InputControl_base__medium_a2 .InputControl_clear_bb {
  width: 14rem;
  height: 14rem;
  background: url("R.images.gui.maps.icons.components.input.close_medium") no-repeat center / 10rem;
}

.InputControl_base__large_32 .InputControl_clear_bb {
  width: 20rem;
  height: 20rem;
  background: url("R.images.gui.maps.icons.components.input.close_large") no-repeat center / 16rem;
  right: 6rem;
}

.HelperMessage_base_1e {
  display: flex;
  width: 100%;
  opacity: 0;
  transition: opacity ease 0.2s;
  pointer-events: none;
}

.HelperMessage_base__shown_ab {
  opacity: 1;
}

.HelperMessage_icon_10 {
  width: 16rem;
  height: 16rem;
  margin-right: 5rem;
  background: no-repeat center / contain;
}

.HelperMessage_message_f4 {
  flex: 1;
}

.HelperMessage_message__alert_b5 {
  color: #ee7000;
}

.HelperMessage_message__error_45 {
  color: #ff2717;
}

.HelperMessage_message__done_2b {
  color: #7ab300;
}

.Input_base_cd {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  background-color: rgba(23, 23, 15, 0.8);
  position: relative;
}

.Input_base__small_c7 {
  height: 18rem;
}

.Input_base__medium_1f {
  height: 24rem;
}

.Input_base__large_11 {
  height: 32rem;
}

.Input_helper_ea {
  height: 100%;
  position: absolute;
  top: 3rem;
  left: 0;
  transform: translateY(100%);
}

.HorizontalBar_base_49 {
  display: flex;
  width: 100%;
  height: 13rem;
  position: relative;
}

.HorizontalBar_base__nonActive_82 {
  visibility: hidden;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transform: rotate(-90deg);
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
  opacity: 1;
}

.HorizontalBar_leftButton_5f {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.HorizontalBar_rightButton_03 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.HorizontalBar_track_0d {
  flex: 1;
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}

.HorizontalBar_thumb_fd {
  display: none;
  flex: 0 0 100%;
  width: 100%;
  min-width: 20rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb_horizontal")
    no-repeat center / 8rem 7rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
  opacity: 1;
}

.HorizontalBar_rail_32 {
  height: 0;
  border-top: 1rem solid #2f2e24;
  position: absolute;
  top: 6rem;
  right: 5rem;
  left: 5rem;
}

.HorizontalBar_rail_32:hover {
  opacity: 0.7;
}

.HorizontalScroll_base_29 {
  width: 100%;
}

.HorizontalScroll_wrapper_1e {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
  width: 100%;
  margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: 100%;
  position: relative;
}

.VerticalBar_base__nonActive_42 {
  visibility: hidden;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
  opacity: 1;
}

.VerticalBar_topButton_d7 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.VerticalBar_bottomButton_06 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.VerticalBar_track_df {
  flex: 1;
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
}

.VerticalBar_thumb_32 {
  display: flex;
  flex: 0 0 13rem;
  width: 13rem;
  height: 100%;
  min-height: 20rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb") no-repeat center /
    7rem 8rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_thumb_32:hover {
  opacity: 1;
}

.VerticalBar_rail_43 {
  width: 0;
  height: 100%;
  border-left: 1rem solid #2f2e24;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  position: absolute;
  top: 0;
  left: 6rem;
  z-index: 0;
}

.VerticalBar_rail_43:hover {
  opacity: 0.7;
}

.VerticalScroll_content_cb {
  height: 100%;
  overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
  display: flex;
}

.VerticalScroll_bar_1e {
  flex: 1;
  margin-left: 7rem;
}

.VerticalScroll_area_af {
  flex: 1;
}

.FormatTextWithColorTags_blackReal_3c {
  color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
  color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
  color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
  color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
  color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
  color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
  color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
  color: #37362e;
}

.FormatTextWithColorTags_red_60 {
  color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
  color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
  color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
  color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
  color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
  color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
  color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
  color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
  color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
  color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
  color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
  color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
  color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
  color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
  color: #a29b70;
}

.Divider_base_54 {
  width: 100%;
  height: 1rem;
  background: rgba(255, 255, 255, 0.1);
}

.Divider_base__horizontal_72 {
  box-shadow: 0rem 1rem 1rem 0rem rgba(0, 0, 0, 0.25);
}

.Divider_base__vertical_57 {
  width: 1rem;
  height: 100%;
}

.EmptyListContent_base_59 {
  display: flex;
  width: 100%;
  height: 100%;
}

.EmptyListContent_wrapper_2f {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16rem 0 0 16rem;
}

.mediaLarge .EmptyListContent_wrapper_2f {
  padding: 20rem 0 0 20rem;
}

.mediaExtraLarge .EmptyListContent_wrapper_2f {
  padding: 24rem 0 0 24rem;
}

.EmptyListContent_content_df {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmptyListContent_warning_0e {
  width: 16rem;
  height: 16rem;
  background: url("R.images.gui.maps.icons.library.maps") no-repeat center / cover;
}

.EmptyListContent_notFound_67 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 4rem;
}

.EmptyListContent_header_3d {
  color: #fefeec;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  width: 100%;
  margin-bottom: 16rem;
  text-align: center;
}

.mediaMedium .EmptyListContent_header_3d {
  color: #fefeec;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24rem;
}

.mediaLarge .EmptyListContent_header_3d {
  color: #fefeec;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}

.mediaExtraLarge .EmptyListContent_header_3d {
  color: #fefeec;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 32rem;
}

.EmptyListContent_header__withSubtitle_59 {
  margin-bottom: 12rem;
}

.mediaMedium .EmptyListContent_header__withSubtitle_59 {
  margin-bottom: 16rem;
}

.mediaLarge .EmptyListContent_header__withSubtitle_59 {
  margin-bottom: 20rem;
}

.mediaExtraLarge .EmptyListContent_header__withSubtitle_59 {
  margin-bottom: 32rem;
}

.EmptyListContent_subheader_86 {
  color: #cbac77;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 12rem;
}

.mediaMedium .EmptyListContent_subheader_86 {
  margin-bottom: 16rem;
}

.mediaLarge .EmptyListContent_subheader_86 {
  color: #cbac77;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 20rem;
}

.mediaExtraLarge .EmptyListContent_subheader_86 {
  color: #cbac77;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 24rem;
}

.EmptyListContent_icon_17 {
  width: 24rem;
  height: 24rem;
  margin-right: 16rem;
  background: no-repeat center / cover;
  position: relative;
}

.mediaLarge .EmptyListContent_icon_17 {
  width: 32rem;
  height: 32rem;
  margin-right: 20rem;
}

.mediaExtraLarge .EmptyListContent_icon_17 {
  width: 40rem;
  height: 40rem;
  margin-right: 24rem;
}

.EmptyListContent_tipsWrapper_f9 {
  display: flex;
  flex-direction: column;
}

.EmptyListContent_tip_66 {
  display: flex;
  align-items: center;
  margin-bottom: 12rem;
}

.mediaMedium .EmptyListContent_tip_66 {
  margin-bottom: 16rem;
}

.mediaMedium .EmptyListContent_tip__last_9b {
  margin-bottom: 0;
}

.mediaExtraLarge .EmptyListContent_tip_66 {
  margin-bottom: 20rem;
}

.mediaExtraLarge .EmptyListContent_tip__last_9b {
  margin-bottom: 0;
}

.EmptyListContent_tip__last_9b {
  margin-bottom: 0;
}

.EmptyListContent_tipText_3e {
  color: #fefeec;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.mediaMedium .EmptyListContent_tipText_3e {
  margin-left: 4rem;
}

.mediaLarge .EmptyListContent_tipText_3e {
  color: #fefeec;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-left: 6rem;
}

.mediaExtraLarge .EmptyListContent_tipText_3e {
  color: #fefeec;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}

.Spinner_base_aa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Spinner_spinner_e7 {
  width: 24rem;
  height: 24rem;
  background: url("R.images.mt_birthday.gui.maps.icons.common.spinner") no-repeat center / cover;
  animation: Spinner_spinner_e7 1s linear infinite;
}

@keyframes Spinner_spinner_e7 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.PlayerCard_base_de {
  display: flex;
  align-items: center;
  width: 280rem;
  height: 56rem;
  padding: 0 64rem 0 32rem;
  border: 1rem solid rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.05);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.PlayerCard_base__loading_d2 {
  justify-content: center;
  padding: 0;
}

.PlayerCard_base__hover_a7 {
  background: rgba(255, 255, 255, 0.08);
}

.PlayerCard_base__selected_f0 {
  border: 1rem solid rgba(255, 178, 102, 1);
  box-shadow: 0 0 5rem 0 rgba(255, 122, 0, 0.5);
  background: rgba(255, 107, 0, 0.22);
}

.PlayerCard_base__selected_f0.PlayerCard_base__hover_a7 {
  background: rgba(255, 107, 0, 0.16);
}

.PlayerCard_base__disabled_a2 {
  border: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.1)
    url("R.images.mt_birthday.gui.maps.icons.playerSelect.background_disabled") 4rem;
  cursor: default;
}

.PlayerCard_base__disabled_a2.PlayerCard_base__hover_a7 {
  background: rgba(0, 0, 0, 0.1)
    url("R.images.mt_birthday.gui.maps.icons.playerSelect.background_disabled") 4rem;
}

.PlayerCard_playerContainer_9b {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  width: 190rem;
}

.PlayerCard_base__disabled_a2 .PlayerCard_playerContainer_9b {
  opacity: 0.5;
}

.PlayerCard_playerNickname_6e {
  display: flex;
  width: 100%;
  padding-right: 10rem;
}

.PlayerCard_playerNameText_22 {
  flex: 0 1 auto;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.PlayerCard_playerClanText_40 {
  font-weight: 400;
}

.PlayerCard_online_f0,
.PlayerCard_offline_9f,
.PlayerCard_inBattle_fe {
  width: 24rem;
  height: 24rem;
  margin-top: 1rem;
  background: no-repeat center / contain;
  position: absolute;
  top: 50%;
  left: 8rem;
  transform: translateY(-50%);
}

.PlayerCard_base__disabled_a2 .PlayerCard_online_f0,
.PlayerCard_base__disabled_a2 .PlayerCard_offline_9f,
.PlayerCard_base__disabled_a2 .PlayerCard_inBattle_fe {
  opacity: 0.3;
}

.PlayerCard_online_f0 {
  background-image: url("R.images.mt_birthday.gui.maps.icons.playerSelect.online");
}

.PlayerCard_offline_9f {
  background-image: url("R.images.mt_birthday.gui.maps.icons.playerSelect.offline");
}

.PlayerCard_inBattle_fe {
  background-image: url("R.images.mt_birthday.gui.maps.icons.playerSelect.in_battle");
}

.PlayerCard_clock_a2 {
  width: 16rem;
  height: 16rem;
  background: url("R.images.mt_birthday.gui.maps.icons.playerSelect.clock") no-repeat center /
    contain;
  position: absolute;
  top: 50%;
  right: 20rem;
  transform: translateY(-50%);
}

.PlayerCard_base__disabled_a2 .PlayerCard_clock_a2 {
  opacity: 0.3;
}

.PlayerCard_sentResponseIcon_6c {
  width: 40rem;
  height: 40rem;
  background: url("R.images.mt_birthday.gui.maps.icons.playerSelect.in_reply") no-repeat center /
    contain;
  position: absolute;
  top: 50%;
  right: 8rem;
  transform: translateY(-50%);
}

.PlayerCard_base__disabled_a2 .PlayerCard_sentResponseIcon_6c {
  opacity: 0.3;
}

.PlayerCard_sentResponseBg_12 {
  width: 100%;
  height: 100%;
  background: url("R.images.mt_birthday.gui.maps.icons.playerSelect.slot_glow") no-repeat right /
    contain;
  position: absolute;
  right: 0;
}

.PlayerCard_base__disabled_a2 .PlayerCard_sentResponseBg_12 {
  opacity: 0.3;
}

.Progress_base_af {
  display: flex;
}

.Progress_progress_01 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 8rem;
  position: relative;
}

.Progress_currentCount_9c {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-right: 2rem;
}

.Progress_currentCount__notFound_68 {
  color: #ff2717;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.Progress_maxCount_fe {
  margin-left: 2rem;
}

.Progress_glow_22 {
  width: 81rem;
  height: 86rem;
  background: url("R.images.mt_birthday.gui.maps.icons.playerSelect.glow") no-repeat center /
    contain;
  position: absolute;
  top: -16rem;
  right: 50%;
  z-index: -1;
  transform: translateX(50%);
}

.Progress_clearSelect_a9 {
  width: 18rem;
  height: 18rem;
  background: url("R.images.mt_birthday.gui.maps.icons.playerSelect.cross") no-repeat center / cover;
  position: absolute;
  top: 50%;
  right: -8rem;
  transform: translate(100%, -50%);
  cursor: pointer;
}

.PlayerSelect_base_ad {
  display: flex;
}
.PlayerSelect_selectedPlayers_f9 {
  width: 280rem;
  margin-right: 16rem;
}
.mediaLarge .PlayerSelect_selectedPlayers_f9 {
  margin-right: 20rem;
}
.mediaExtraLarge .PlayerSelect_selectedPlayers_f9 {
  margin-right: 24rem;
}
.PlayerSelect_selectedCount_be {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 11rem 0;
  position: relative;
}
.PlayerSelect_selectedCount__small_a7 {
  margin: 9rem 0;
}
.PlayerSelect_selectedText_2f {
  color: #fefeec;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.PlayerSelect_textWrapper_03 {
  position: relative;
}
.PlayerSelect_playerList_7e {
  width: 592rem;
}
.mediaMedium .PlayerSelect_playerList_7e {
  width: 888rem;
}
.mediaLarge .PlayerSelect_playerList_7e {
  width: 900rem;
}
.mediaExtraLarge .PlayerSelect_playerList_7e {
  width: 1216rem;
}
.PlayerSelect_playerListHeader_5b {
  margin-left: 16rem;
}
.mediaLarge .PlayerSelect_playerListHeader_5b {
  margin-left: 20rem;
}
.mediaExtraLarge .PlayerSelect_playerListHeader_5b {
  margin-left: 24rem;
}
.PlayerSelect_list_93 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 16rem;
}
.mediaLarge .PlayerSelect_list_93 {
  margin-top: 20rem;
}
.mediaLarge .PlayerSelect_list__empty_fb {
  margin-top: 0;
  padding-top: 20rem;
}
.mediaExtraLarge .PlayerSelect_list_93 {
  margin-top: 24rem;
}
.mediaExtraLarge .PlayerSelect_list__empty_fb {
  margin-top: 0;
  padding-top: 24rem;
}
.PlayerSelect_list__selected_96 {
  justify-content: center;
}
.PlayerSelect_list__empty_fb {
  height: 100%;
  margin-top: 0;
  padding-top: 16rem;
}
.PlayerSelect_playerCard_01 {
  margin: 0 0 16rem 16rem;
}
.mediaLarge .PlayerSelect_playerCard_01 {
  margin: 0 0 20rem 20rem;
}
.mediaExtraLarge .PlayerSelect_playerCard_01 {
  margin: 0 0 24rem 24rem;
}
.PlayerSelect_list__selected_96 .PlayerSelect_playerCard_01 {
  margin-left: 0;
}
.PlayerSelect_scrollWrapper_32 {
  display: flex;
  height: 440rem;
  position: relative;
}
.mediaMedium .PlayerSelect_scrollWrapper_32 {
  height: 495rem;
}
.mediaLarge .PlayerSelect_scrollWrapper_32 {
  height: 615rem;
}
.mediaExtraLarge .PlayerSelect_scrollWrapper_32 {
  height: 848rem;
}
.PlayerSelect_scrollWrapper__column_59 {
  flex-direction: column;
}
.PlayerSelect_scrollBar_33 {
  position: absolute;
  top: 0;
  right: -16rem;
  transform: translateX(100%);
}
.PlayerSelect_barThumb_a4 {
  opacity: 0.7;
}
.PlayerSelect_barRail_72 {
  border-color: rgba(60, 58, 46, 0.7);
}
.PlayerSelect_inputWrapper_24 {
  width: 200rem;
  position: relative;
}
.PlayerSelect_input_4b {
  padding-right: 20rem;
}
.PlayerSelect_lip_92,
.PlayerSelect_lipDivider_7e {
  width: 576rem;
  height: 1rem;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 16rem;
  transition: all 0.3s;
  pointer-events: none;
}
.mediaMedium .PlayerSelect_lip_92,
.mediaMedium .PlayerSelect_lipDivider_7e {
  width: 872rem;
}
.mediaLarge .PlayerSelect_lip_92,
.mediaLarge .PlayerSelect_lipDivider_7e {
  width: 880rem;
  left: 20rem;
}
.mediaExtraLarge .PlayerSelect_lip_92,
.mediaExtraLarge .PlayerSelect_lipDivider_7e {
  width: 1192rem;
  left: 24rem;
}
.PlayerSelect_lip__hidden_e8,
.PlayerSelect_lipDivider__hidden_28 {
  opacity: 0;
}
.PlayerSelect_lip__top_31,
.PlayerSelect_lipDivider__top_fb {
  top: 0;
  bottom: auto;
}
.PlayerSelect_lip_92 {
  height: 176rem;
  background: url("R.images.mt_birthday.gui.maps.icons.playerSelect.lip") no-repeat center / contain;
  transform: translateY(50%);
}
.mediaMedium .PlayerSelect_lip_92 {
  background-size: cover;
}
.PlayerSelect_lip__top_31 {
  transform: translateY(-50%) rotate(180deg);
}
.PlayerSelect_clearTooltip_fd {
  width: 14rem;
  height: 14rem;
  position: absolute;
  top: 50%;
  right: 4rem;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
}
.PlayerSelect_emptyContainer_ea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.PlayerSelect_freeContainer_a4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
}
.PlayerSelect_freeSelectedPlayers_51 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  text-align: center;
}
.PlayerSelect_emptySelectedPlayers_91 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  text-align: center;
}
.PlayerSelect_emptySelectedPlayers_91:first-child {
  margin-bottom: 18rem;
}
