/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.TextBlock_textBlock_f2a08dd6 {
  width: 360rem;
  padding: 0 25rem;
  text-align: center;
  position: relative;
}
.TextBlock_textBlock_f2a08dd6::after {
  width: 1rem;
  background-color: rgba(233, 226, 191, 0.3);
  content: "";
  position: absolute;
  top: 10rem;
  right: 0;
  bottom: 10rem;
}
.TextBlock_textBlock__lastItem_636071ba::after {
  display: none;
}
.TextBlock_textBlock_title_f653fa15 {
  color: #f2f2f7;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12rem;
}
.TextBlock_textBlock_text_8ede10b2 {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.App_3c4da8d3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
  padding: 100rem 0 96rem;
  background:
    linear-gradient(0deg, #0a0a0a 0%, rgba(10, 10, 10, 0) 80%, rgba(10, 10, 10, 0) 100%),
    url("R.images.fort_rush.gui.maps.icons.welcome_screen.bg") no-repeat center/cover;
  position: relative;
  transition: opacity 0.6s;
}
.mediaLarge .App_3c4da8d3 {
  padding: 140rem 0 120rem;
}
.mediaExtraLarge .App_3c4da8d3 {
  padding: 140rem 0 136rem;
}
.App_base_title_5b5564d2 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  animation: App_slide-down_0 1s ease;
}
.App_base_title__outro_b284a788 {
  animation: App_slide-down-out_0 1s ease forwards;
}
.App_base_group_59a9c25 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App_base_row_f23e265a {
  display: flex;
  margin-bottom: 54rem;
  animation: App_slide-up_0 1s ease;
}
.mediaLarge .App_base_row_f23e265a {
  margin-bottom: 65rem;
}
.mediaExtraLarge .App_base_row_f23e265a {
  margin-bottom: 38rem;
}
.App_base_row__outro_235d3c52 {
  animation: App_slide-up-out_0 1s ease forwards;
}
.App_base_buttonBlock_3322b0d0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
}
.App_base_videoPlayButton_3f5f48ac {
  width: 154rem;
  height: 154rem;
  background: url("R.images.fort_rush.gui.maps.icons.welcome_screen.play") no-repeat center/cover;
  transition: all 0.3s ease;
  animation: App_fadeIn_0 0.7s ease;
  cursor: pointer;
}
.mediaLarge .App_base_videoPlayButton_3f5f48ac {
  width: 232rem;
  height: 232rem;
}
.App_base_videoPlayButton_3f5f48ac:hover {
  transform: scale(1.1);
}
.App_base_videoPlayButton__outro_bf5cd0cc {
  animation: App_fadeOut_0 0.7s ease forwards;
  pointer-events: none;
}
.App_base_button_1a64b8a1 {
  width: 180rem;
  animation: App_slide-up_0 1s ease;
}
.App_base_button__outro_235d3c52 {
  animation: App_slide-up-out_0 1s ease forwards;
}
.App_base_closeButton_f5179698 {
  position: absolute;
  top: 30rem;
  right: 30rem;
}

@keyframes App_slide-up_0 {
  from {
    opacity: 0.3;
    transform: translateY(100rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes App_slide-down_0 {
  from {
    opacity: 0.3;
    transform: translateY(-100rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes App_fadeIn_0 {
  from {
    opacity: 0.3;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_fadeOut_0 {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.3;
    transform: scale(0.6);
  }
}
@keyframes App_slide-up-out_0 {
  from {
    opacity: 1;
    transform: translateY(0rem);
  }
  to {
    opacity: 0.3;
    transform: translateY(100rem);
  }
}
@keyframes App_slide-down-out_0 {
  from {
    opacity: 1;
    transform: translateY(0rem);
  }
  to {
    opacity: 0.3;
    transform: translateY(-100rem);
  }
}
