/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_c37bf {
    width: 100%;
    height: var(--progress-bg-height);
    position: relative;
}
.ProgressBar_base__small_af6d6 {
        height: var(--progress-bg-height-small);
    }
.ProgressBar_background_a4e18 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: var(--progress-pattern-size);
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__small_e2b95 {
        height: var(--progress-bg-height-small);
    }
.ProgressBar_lineWrapper_e670c {
    display: flex;
    flex: 1;
}


.ProgressBarBlink_base_d7125 {
    width: var(--progress-glow-width);
    height: var(--progress-glow-height);
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: var(--progress-glow-mixBlendMode);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

    .ProgressBarBlink_base__small_b92f8 {
        width: var(--progress-glow-small-width);
        height: var(--progress-glow-small-height);
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_a3558 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    filter: var(--progress-line-filter);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_a9e8e {
        background-color: var(--progress-line-disabled);
    }
.ProgressLineImpose_base__finished_f889e {
        background-color: var(--progress-line-finished);
    }
.ProgressLineImpose_base__withoutBounce_c0ff9 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressLineImpose_pattern_a4023 {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: var(--progress-pattern-size);
    position: absolute;
    top: var(--progress-pattern-border-size);
    right: var(--progress-pattern-border-size);
    bottom: var(--progress-pattern-border-size);
    left: var(--progress-pattern-border-size);
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_pattern_a4023 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_pattern_a4023 {
        background-image: var(--progress-pattern-disabled);
        left: 0;
    }
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_pattern_a4023 {
        background-image: var(--progress-pattern-finished);
    }
.ProgressLineImpose_gradient_f73c0 {
    max-width: 8001px;
    background-image: var(--progress-pattern-gradient);
    mix-blend-mode: var(--progress-pattern-gradient-mixBlendMode);
    position: absolute;
    top: var(--progress-pattern-border-size);
    right: 0;
    bottom: var(--progress-pattern-border-size);
    left: 0;
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_gradient_f73c0 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_gradient_f73c0 {
        display: none;
    }
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_gradient_f73c0 {
        background-image: var(--progress-pattern-gradient-finished);
    }
.ProgressLineImpose_glow_f237a {
    width: var(--progress-glow-width);
    max-width: 8001px;
    height: var(--progress-glow-height);
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: var(--progress-glow-mixBlendMode);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_b7ffa {
        left: var(--progress-pattern-border-size);
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_glow_f237a,
    .ProgressLineImpose_base__finished_f889e .ProgressLineImpose_glow_f237a {
        display: none;
    }
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_glow_f237a {
        width: var(--progress-glow-small-width);
        height: var(--progress-glow-small-height);
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_f4d46 {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressBarDeltaGrow_glow_c912d {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 .ProgressBarDeltaGrow_glow_c912d {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_cfcd3 {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_dc2b6 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1), cubic-bezier(.21, .61, .35, 1);
    transition-property: width, transform;
}

.FormatText_base_f27a4 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_ae104 {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_c12a8 {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_c5665 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_fff65 {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_d24b3 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_ee7d9 {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_a5b8c {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a0c09 {
    color: #37362E;
}

.FormatTextWithColorTags_red_ad70c {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_afb30 {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_e47d1 {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_e08c4 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_f2e96 {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_ed7be {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_b0875 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_d0263 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_f19b8 {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_fd3be {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_fd915 {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_fdafa {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_ab90e {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_e83f5 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_aa30c {
    color: #A29B70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_bf7ac {
    width: 0;
    color: #8C8C7E;
}

.ProgressMark_base_e3ef1 {
    width: 1rem;
    height: 10rem;
    background-color: #FFFFFF;
    opacity: .2;
}

    .ProgressMark_base__ready_e0bd2 {
        background-color: #ffb565;
    }

.ActiveState_base_a565e {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.ActiveState_tooltipArea_cb9fc {
    width: 456rem;
    height: 100%;
    position: absolute;
    left: 8rem;
}
.ActiveState_tooltipArea__multiple_d8962 {
        width: 424rem;
    }
.ActiveState_title_efe37 {
    color: #C9C9B6;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.ActiveState_steps_c9651 {
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    width: 538rem;
    margin: 0 0 5rem 52rem;
}
.ActiveState_rewards_d7f43 {
    display: flex;
    justify-content: center;
    width: 112rem;
}
.ActiveState_reward_cc682 {
    margin: 0 4rem;
}
.ActiveState_progress_c8948 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480rem;
    margin: 8rem 0 18rem;
    position: relative;
}
.ActiveState_progressGlow_b9ee9 {
    width: 1090rem;
    height: 196rem;
    background: url('R.images.fun_random.gui.maps.icons.feature.progression.sub_modes_selector.incompleteGlowBg') center center / cover;
    opacity: .6;
    position: absolute;
    top: -96rem;
    pointer-events: none;
}
.ActiveState_progressGlow__notStarted_df910 {
        opacity: .15;
    }
.ActiveState_progressScale_b34b6 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: -4rem;
}
.ActiveState_info_d10db {
    display: flex;
    justify-content: center;
    width: 100%;
}
.ActiveState_infoDescription_fe65a {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.ActiveState_notificationIcon_ca574 {
    width: 16rem;
    height: 16rem;
    margin: 3rem 4rem;
    background: url('R.images.gui.maps.icons.library.InformationIcon') center / contain no-repeat;
}

.CompletedFinalState_base_cb57b {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.CompletedFinalState_glow_f09a2 {
    width: 303rem;
    height: 180rem;
    background: url('R.images.fun_random.gui.maps.icons.feature.progression.sub_modes_selector.successGlow') center center / cover;
    position: absolute;
    top: -18rem;
    z-index: -1;
}

.CompletedFinalState_completedIcon_cb81a {
    width: 164rem;
    height: 164rem;
    margin-top: -36rem;
    background: url('R.images.fun_random.gui.maps.icons.feature.progression.sub_modes_selector.readyIcon') center center / cover;
    z-index: -1;
}

.CompletedFinalState_title_c0abf {
    color: #80D43A;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    width: 100%;
    margin-top: -33rem;
    text-align: center;
    white-space: nowrap;
}

.Countdown_base_d0c0c {
    display: flex;
    align-items: center;
}

.Countdown_icon_a453a {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
}

.Countdown_description_ee2e0 {
    color: #FFDD99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.CompletedResettableState_base_c1211 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.CompletedResettableState_glow_fc088 {
    width: 1090rem;
    height: 196rem;
    background: url('R.images.fun_random.gui.maps.icons.feature.progression.sub_modes_selector.incompleteGlowBg') center center / cover;
    opacity: .3;
    position: absolute;
    top: -26rem;
    pointer-events: none;
}

.CompletedResettableState_title_a40e5 {
    color: #C9C9B6;
    font-size: 16rem;
    font-weight: 700;
    line-height: 20rem;
    text-align: center;
}

.CompletedResettableState_timer_ad736 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32rem;
}

.CompletedResettableState_countdown_e312b {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.CompletedResettableState_description_f159d {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-left: 5rem;
}

.Progression_base_de8e5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500rem;
    min-height: 130rem;
    padding: 0 10rem;
}
.Progression_activeWrapper_e771b {
    transition: opacity .4s cubic-bezier(.07, .82, .16, 1) 0s;
}
.Progression_base__completedResettable_e5965 .Progression_activeWrapper_e771b,
    .Progression_base__completedFinal_c4e8a .Progression_activeWrapper_e771b,
    .Progression_base__disabled_d5902 .Progression_activeWrapper_e771b {
        opacity: 0;
        transition-delay: .2s;
        pointer-events: none;
    }
.Progression_completeWrapper_f4c9c {
    display: flex;
    justify-content: center;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity .4s cubic-bezier(.07, .82, .16, 1) 0s;
}
.Progression_base__completedResettable_e5965 .Progression_completeWrapper_f4c9c,
    .Progression_base__completedFinal_c4e8a .Progression_completeWrapper_f4c9c {
        opacity: 1;
        transition-delay: .4s;
    }

.Counter_base_b457c {
    display: flex;
    min-width: 14rem;
    height: 14rem;
    position: relative;
    z-index: 0;
    animation: Counter_show_a62c2 ease-in-out forwards;
}

    .Counter_base__big_d6a57 {
        min-width: 21rem;
        height: 21rem;
    }

    .Counter_base__small_ea547 {
        min-width: 13rem;
        height: 13rem;
    }

    .Counter_base__empty_c2ad2 {
        min-width: 6rem;
        height: 6rem;
    }

    .Counter_base__animated_fb5ef {
        animation-duration: .2s;
    }

    .Counter_base__hidden_b1e71 {
        animation-name: Counter_hide_d1bf0;
    }
.Counter_bg_f25ac {
    border: 1rem solid #fe4e0f;
    border-radius: 7rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, .3),
            0 0 6rem rgba(254,103,0, .2),
            0 0 12rem 4rem rgba(249,0,0, .3);
    background-image: url('R.images.gui.maps.icons.components.counter.pattern');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.Counter_base__big_d6a57 .Counter_bg_f25ac {
        border-radius: 11rem;
    }
.Counter_base__small_ea547 .Counter_bg_f25ac {
        border-radius: 7rem;
    }
.Counter_value_d1de3 {
    display: flex;
    padding: 0 4rem;
    color: #fefeec;
    font-size: 11rem;
    line-height: 13rem;
    white-space: nowrap;
}
.Counter_base__big_d6a57 .Counter_value_d1de3 {
        padding: 0 7rem;
        font-size: 14rem;
        line-height: 20rem;
    }
.Counter_base__small_ea547 .Counter_value_d1de3 {
        font-size: 9rem;
        line-height: 12rem;
    }
.Counter_value__text_bb007 {
        padding: 0 7rem;
    }
.Counter_base__big_d6a57 .Counter_value__text_bb007 {
            padding: 0 10rem;
        }
.Counter_base__small_ea547 .Counter_value__text_bb007 {
            padding: 0 5rem;
            font-size: 10rem;
        }
.Counter_base__pattern_d1fff .Counter_value_d1de3 {
        display: none;
    }
.Counter_plus_a405c {
    position: relative;
    top: -1rem;
}
.Counter_pattern_a4be2 {
    display: none;
}
.Counter_base__pattern_d1fff .Counter_pattern_a4be2 {
        display: block;
        border-radius: 50%;
        background-image: url('R.images.gui.maps.icons.components.counter.pattern');
        opacity: .8;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
@keyframes Counter_show_a62c2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes Counter_hide_d1bf0 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.CardWrapper_base_a75b7 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
}

    .CardWrapper_base__disabled_b2a63 {
        pointer-events: none;
    }

    .CardWrapper_base__isNotStarted_da521 {
        cursor: default;
    }

.CardWrapper_mask_b582e {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    clip-path: inset(0 0 0 0 round 3rem);
}

.CardWrapper_border_d9b36 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    border: 1rem solid rgba(255,255,255, 0.15);
    border-radius: 2rem;
    box-shadow: 0 0 12rem 1rem rgba(0,0,0, 0.5), inset 0 1rem 0 0 rgba(0,0,0, 0.15);
    opacity: 1;
    position: relative;
    pointer-events: none;
}

.CardWrapper_hover_d0f49 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    border-radius: 3rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.hover') no-repeat 50% / 100% 100%;
    opacity: 0;
    mix-blend-mode: screen;
    transition: opacity .3s easeOut;
    transition-delay: .15s;
    pointer-events: none;
}

.CardWrapper_hover__anim_ec99c {
        opacity: 1;
    }

.CardWrapper_animBg_fd31f {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: url('swf://gui/flash/animations/modeSelector/animCardSparksBg.swf') no-repeat 50% 100% / cover;
    mix-blend-mode: screen;
    pointer-events: none;
}

.CardWrapper_animBg__wide_ae2b3 {
        background-image: url('swf://gui/flash/animations/modeSelector/animCardSparksWideBg.swf');
    }

.CardWrapper_selection_e13bb {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-image: url('R.images.gui.maps.icons.mode_selector.common.border_selected') 28 fill / 28rem / 10rem;
    background: linear-gradient(180deg, rgba(31, 32, 29, 0) 12.74%, rgba(31, 32, 29, 0.8) 76.81%);
    pointer-events: none;
}

.CardWrapper_check_ad840 {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    width: 54rem;
    height: 56rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.check_orange') no-repeat 50% / cover;
    position: absolute;
    bottom: -25rem;
    z-index: 1;
    pointer-events: none;
}

.CardWrapper_check__extraSmall_fd5e9,
    .CardWrapper_check__small_cbe5a {
        width: 50rem;
        height: 52rem;
        background-image: url('R.images.gui.maps.icons.mode_selector.common.check_orange_small');
        bottom: -24rem;
    }

.CardWrapper_checkBackground_d3acd {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    width: 238rem;
    height: 180rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.checkGlow') no-repeat 50% / cover;
    mix-blend-mode: screen;
    position: absolute;
    bottom: -90rem;
    z-index: 1;
    pointer-events: none;
}

.CardWrapper_checkBackground__extraSmall_a26f7,
    .CardWrapper_checkBackground__small_c5cc2 {
        width: 138rem;
        height: 104rem;
        background-image: url('R.images.gui.maps.icons.mode_selector.common.checkGlowSmall');
        bottom: -52rem;
    }

.CardWrapper_disabling_cab3e {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-radius: 2rem;
    background: rgba(28, 30, 28, 0.7) url('R.images.gui.maps.icons.mode_selector.common.disabled') repeat 50% / auto;
}

.CardWrapper_background_e76aa {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-radius: 2rem;
    background: #000000 no-repeat 50%;
    transform: scale(1);
    transition: transform .3s easeOut;
    transition-delay: .15s;
}

.CardWrapper_background__anim_ebb39 {
        transform: scale(1.03);
    }

.CardWrapper_background__empty_dbe84 {
        opacity: 0.45;
    }

.CardWrapper_novelty_a69c4 {
    position: absolute;
    top: 9rem;
    left: 7rem;
}

.CardWrapper_info_dc999 {
    width: 32rem;
    height: 32rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.btn_info_normal') no-repeat 50% / contain;
    opacity: 0;
    position: absolute;
    right: 8rem;
    bottom: 8rem;
    transform: translateY(2rem);
    transition: transform .3s easeOut, opacity .3s easeOut;
    transition-delay: .15s;
    pointer-events: none;
}

.CardWrapper_info__anim_d449b {
        opacity: 1;
        transform: translateY(0rem);
        cursor: pointer;
        pointer-events: auto;
    }

.CardWrapper_info_dc999:hover {
        background-image: url('R.images.gui.maps.icons.mode_selector.common.btn_info_hover');
    }

.CardWrapper_info__extraSmall_b47d0,
    .CardWrapper_info__small_df606,
    .CardWrapper_info__medium_e3266 {
        width: 24rem;
        height: 24rem;
        background-image: url('R.images.gui.maps.icons.mode_selector.common.btn_info_normal_small');
        right: 5rem;
        bottom: 5rem;
    }

.CardWrapper_info__extraSmall_b47d0:hover, .CardWrapper_info__small_df606:hover, .CardWrapper_info__medium_e3266:hover {
            background-image: url('R.images.gui.maps.icons.mode_selector.common.btn_info_hover_small');
        }

.CardWrapper_infoCorner_b1e33 {
    width: 70rem;
    height: 34rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.btn_info_corner') no-repeat 50% / contain;
    opacity: 0;
    mix-blend-mode: additive;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: opacity .3s easeOut;
    transition-delay: .15s;
    pointer-events: none;
}

.CardWrapper_infoCorner__anim_bcdbd {
        opacity: 1;
    }

.CardWrapper_children_ae48b {
    width: 100%;
    height: 100%;
    position: absolute;
}

.TimeLeft_base_aa6f2 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
}

    .TimeLeft_base__small_e58f2 {
        color: #E9E2BF;
        font-size: 12rem;
        font-weight: 400;
        line-height: 1.3;
    }

.TimeLeft_icon_c28f6 {
    width: 32rem;
    height: 32rem;
    margin: -1rem 1rem -1rem -1rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.image_calendar_32x32') no-repeat 50% / contain;
}

.TimeLeft_base__small_e58f2 .TimeLeft_icon_c28f6 {
        width: 24rem;
        height: 24rem;
        background-image: url('R.images.gui.maps.icons.mode_selector.common.image_calendar_24x24');
    }

@keyframes modifier_domain_icon_iconHover_d5944 {
    from {
        filter: brightness(1) contrast(1);
    }

    to {
        filter: brightness(1.5) contrast(.75);
    }
}

@keyframes modifier_domain_icon_iconOut_f6409 {
    from {
        filter: brightness(1.5) contrast(.75);
    }

    to {
        filter: brightness(1) contrast(1);
    }
}

.modifier_domain_icon_base_a5dec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modifier_domain_icon_base_a5dec:hover {
    background: url('R.images.battle_modifiers.gui.maps.icons.feature.domains.c_64x64.hoverBg') no-repeat center / contain;
}

.modifier_domain_icon_image_ee779 {
    animation-name: modifier_domain_icon_iconOut_f6409;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.07, .82, .16, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    --icon-height: 40rem;
    --icon-width: var(--icon-height);
    width: var(--icon-width);
    height: var(--icon-height);
    background: no-repeat center / contain;
}

.modifier_domain_icon_image__big_da921 {
        --icon-height: 64rem;
    }

.modifier_domain_icon_image__large_bf22f {
        --icon-height: 80rem;
    }

.modifier_domain_icon_image_ee779:hover {
    animation-name: modifier_domain_icon_iconHover_d5944;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.07, .82, .16, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.CardBottomStatus_base_cb272 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.CardBottomStatus_endDate_a2a79 {
    color: #FFDD99;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: center;
}

.CardBottomStatus_timerIcon_da43d {
    width: 32rem;
    height: 32rem;
    margin: 0 -4rem -8rem -12rem;
    background: url('R.images.fun_random.gui.maps.icons.feature.progression.sub_modes_selector.time_icon') no-repeat center / contain;
}

.SubModeCard_base_f1cb4 {
    width: 222rem;
    height: 347rem;
    margin: 5rem;
    position: relative;
}

    .mediaMedium .SubModeCard_base_f1cb4 {
        width: 300rem;
        height: 439rem;
        margin: 7rem;
}

    .mediaLarge .SubModeCard_base_f1cb4 {
        width: 370rem;
        height: 600rem;
        margin: 10rem;
}

.SubModeCard_name_f37ae {
    color: #FFDD99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    position: absolute;
    top: auto;
    bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 15rem;
    text-align: center;
    white-space: pre-wrap;
    bottom: 163rem;
}

.mediaMedium .SubModeCard_name_f37ae {
        color: #FFDD99;
        font-size: 22rem;
        font-weight: 700;
        line-height: 1.2;
        bottom: 222rem;
}

.mediaLarge .SubModeCard_name_f37ae {
        color: #FFDD99;
        font-size: 24rem;
        font-weight: 700;
        line-height: 1.2;
        bottom: 302rem;
}

.SubModeCard_name__notStarted_df2c6 {
        opacity: 0.7;
    }

.SubModeCard_subtitle_a7afc {
    color: #E9E2BF;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
}

.SubModeCard_conditions_eac79 {
    justify-content: center;
}

.SubModeCard_modifications_e7222 {
    position: absolute;
    top: auto;
    bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 80rem;
    top: 192rem;
}

.mediaMedium .SubModeCard_modifications_e7222 {
        padding: 0 35rem;
        top: 252rem;
}

.mediaLarge .SubModeCard_modifications_e7222 {
        height: 128rem;
        top: 338rem;
}

.SubModeCard_modifications__notStarted_d9d9d {
        opacity: 0.7;
    }

.SubModeCard_modifier_a61cc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46rem;
}

.SubModeCard_timeLeft_d9631 {
    position: absolute;
    top: auto;
    bottom: auto;
    top: 8rem;
    left: 8rem;
}

.SubModeCard_timeLeft__small_cf5f2 {
        top: 5rem;
        left: 5rem;
    }

.SubModeCard_startTime_d4f87 {
    position: absolute;
    top: auto;
    bottom: auto;
    bottom: 33rem;
}

.SubModeCard_notStarted_ce90a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-radius: 2rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.disabled') repeat 50% / auto;
}

.ExtendedText_base_d9fc1 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

    .ExtendedText_base__zeroPadding_d1a1c {
        padding: 0;
    }

    .ExtendedText_base__isTruncationAvailable_cb880 {
        width: 100%;
    }

.ExtendedText_truncated_a4268 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_d75b4 {
        opacity: 0;
    }

.ExtendedText_unTruncated_ff478 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #FF2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.ExtendedText_tooltip_b5abd {
    display: flex;
}

.ExtendedText_tooltip__justify-flex-start_ade81 {
        justify-content: flex-start;
    }

.ExtendedText_tooltip__justify-center_aa541 {
        justify-content: center;
    }

.ExtendedText_tooltip__justify-flex-end_af6c3 {
        justify-content: flex-end;
    }

.ExtendedText_tooltip__align-flex-start_fbfc0 {
        align-content: flex-start;
    }

.ExtendedText_tooltip__align-center_d5b4a {
        align-content: center;
    }

.ExtendedText_tooltip__align-flex-end_fc0e0 {
        align-content: flex-end;
    }

.colors_blackReal_a68be {
    color: #000000;
}

.colors_whiteReal_f79f8 {
    color: #FFFFFF;
}

.colors_white_b5c87 {
    color: #F2F2F7;
}

.colors_whiteOrange_ba58d {
    color: #FEFEEC;
}

.colors_whiteSpanish_fd764 {
    color: #E9E2BF;
}

.colors_par_e836f {
    color: #8C8C7E;
}

.colors_parSecondary_f260a {
    color: #595950;
}

.colors_parTertiary_d47f7 {
    color: #37362E;
}

.colors_red_c02cb {
    color: #FF2717;
}

.colors_redDark_cdd63 {
    color: #B70000;
}

.colors_yellow_ec93b {
    color: #FEAB34;
}

.colors_orange_bbde2 {
    color: #EE7000;
}

.colors_cream_e3bb8 {
    color: #FFDD99;
}

.colors_brown_bcb6a {
    color: #CBAC77;
}

.colors_greenBright_e6055 {
    color: #80D43A;
}

.colors_green_b6f21 {
    color: #7AB300;
}

.colors_greenDark_ce9bf {
    color: #497212;
}

.colors_blueBooster_b2848 {
    color: #CCFFFF;
}

.colors_blueTeamkiller_e7dd8 {
    color: #09E2FF;
}

.colors_cred_ddb07 {
    color: #CED9D9;
}

.colors_gold_c405a {
    color: #FFC363;
}

.colors_bond_bb139 {
    color: #C9C9B6;
}

.colors_prom_d1186 {
    color: #A29B70;
}

.renderers_noBreakWrapper_d986b {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_f90ed {
    width: 100%;
    height: 0;
}

.renderers_newLine_ee778 {
    flex: 1;
    width: 100%;
}

.renderers_word_ac32d {
    white-space: pre;
    overflow-wrap: normal;
}

.Performance_base_bf4a4 {
    margin-top: 12rem;
    padding: 0 8rem;
    pointer-events: auto;
}

    .Performance_base__b2_be240 {
        margin-top: -2rem;
    }

    .mediaLarge .Performance_base__b2_be240 {
            margin-top: 3rem;
}

.Performance_text_f60b2 {
    display: flex;
    justify-content: center;
    max-height: 40rem;
}

.Performance_base__mediumRisk_aa760 .Performance_text_f60b2 {
        color: #EE7000;
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.3;
    }

.Performance_base__highRisk_a9e70 .Performance_text_f60b2 {
        color: #FF2717;
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.3;
    }

.Performance_base__b2_be240 .Performance_text_f60b2 {
        max-height: 20rem;
        font-size: 12rem;
    }

.Performance_icon_e79f8 {
    width: 16rem;
    height: 16rem;
    margin-top: 2rem;
    background: no-repeat 50% / contain;
}

.Performance_base__mediumRisk_aa760 .Performance_icon_e79f8 {
        background-image: url('R.images.gui.maps.icons.library.alertIcon');
    }

.Performance_base__highRisk_a9e70 .Performance_icon_e79f8 {
        background-image: url('R.images.gui.maps.icons.library.CancelIcon_1');
    }

.Performance_iconBig_fea65 {
    width: 24rem;
    height: 24rem;
    background: no-repeat left / contain;
    position: absolute;
    bottom: 6rem;
    left: 6rem;
}

.Performance_iconBig__mediumRisk_a3206 {
        background-image: url('R.images.gui.maps.icons.library.alertBigIcon');
    }

.Performance_iconBig__highRisk_b3b47 {
        background-image: url('R.images.gui.maps.icons.library.CancelBigIcon');
    }

.mediaMedium .Performance_iconBig_fea65 {
        bottom: 9rem;
        left: 11rem;
}

.mediaLarge .Performance_iconBig_fea65 {
        bottom: 9rem;
        left: 11rem;
}

.App_base_f4164 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: var(--external-padding-top);
    padding-bottom: var(--external-padding-bottom);
    opacity: 0;
    overflow: hidden;
    transition: opacity 500ms;
}

.App_base__show_e6a34 {
        opacity: 1;
    }

.App_wrapper_cd64f {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.App_header_a717e {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18rem;
}

.mediaMedium .App_header_a717e {
        margin-top: 34rem;
}

.mediaLarge .App_header_a717e {
        margin-top: 10rem;
}

.App_headerIcon_a8a8f {
    width: 96rem;
    height: 96rem;
    background: no-repeat center / contain;
}

.mediaLarge .App_headerIcon_a8a8f {
        width: 110rem;
        height: 110rem;
}

.App_headerText_da994 {
    color: #F2F2F7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -45rem;
}

.mediaLarge .App_headerText_da994 {
        color: #F2F2F7;
        font-size: 56rem;
        font-weight: 700;
        line-height: 1.1;
        margin-top: -52rem;
}

.App_subtitle_e116c {
    display: flex;
    align-items: center;
    margin-top: 9rem;
}

.App_flashline_ec647 {
    width: 136rem;
    height: 2rem;
    background-image: linear-gradient(90deg, rgba(217, 217, 217, .4) 0%, #d9d9d9 100%);
    opacity: .2;
}

.mediaMedium .App_flashline_ec647 {
        width: 219rem;
}

.mediaLarge .App_flashline_ec647 {
        width: 289rem;
}

.App_flashline__right_e82fe {
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

.App_dot_aaba3 {
    width: 3rem;
    height: 2rem;
    margin: 0  1rem;
    background: #d9d9d9;
    opacity: .4;
}

.App_subtitleText_f330c {
    color: #CED9D9;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin: 0  11rem;
}

.App_cardsContainer_e3b6b {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16rem;
}

.App_base__show_e6a34 .App_cardsContainer_e3b6b {
        animation: App_show_e2557 500ms;
    }

.App_base__hide_a86eb .App_cardsContainer_e3b6b {
        animation: App_hide_bc4a9 500ms;
    }

.App_progression_da1de {
    position: absolute;
    bottom: calc(var(--external-padding-bottom) - 7rem);
    pointer-events: auto;
}

.mediaMedium .App_progression_da1de {
        bottom: calc(var(--external-padding-bottom) - 25rem);
}

.mediaLarge .App_progression_da1de {
        bottom: calc(var(--external-padding-bottom) - 20rem);
}

@keyframes App_show_e2557 {
    from {
        transform: scale(.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes App_hide_bc4a9 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

