body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.CustomReward_media-wrapper_74adeeee,
#CustomReward_root_74adeeee {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.CustomReward_197314c4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.CustomReward_base__disable_51f6e5f1 {
  filter: grayscale(100%);
  opacity: 0.5;
}

.CustomReward_animWrapper_f3d190a6 {
  mix-blend-mode: screen;
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
}

.CustomReward_glow_11133e2 {
  animation: CustomReward_rotateKeys_74adeeee 15s linear infinite;
  width: 126rem;
  height: 126rem;
  background: url("R.images.frontline.gui.maps.icons.rewards.select_anim_big") no-repeat
    center/contain;
  top: calc(-126rem / 2);
  left: calc(-126rem / 2);
  position: absolute;
}

.CustomReward_glowReverse_48fff15c {
  animation: CustomReward_rotateKeys_74adeeee 15s linear infinite;
  width: 200rem;
  height: 200rem;
  background: url("R.images.frontline.gui.maps.icons.rewards.select_anim_reverse_big") no-repeat
    center/contain;
  top: calc(-200rem / 2);
  left: calc(-200rem / 2);
  position: absolute;
  animation-duration: 18s;
  animation-direction: reverse;
}

@keyframes CustomReward_rotateKeys_74adeeee {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
