/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ContainerAnimation_root_448f44b3,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ContainerAnimation_dc99b0bc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.ContainerAnimation_content_9f9d6eae {
  width: 1920rem;
  height: 1080rem;
  position: relative;
}

.ContainerAnimation_img_89f111a1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: url("R.images.last_stand.gui.maps.icons.promoWindow.promo_loop_static") no-repeat
    50% / cover;
}

.ContainerAnimation_videoLoop_906f1a50 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920rem;
  height: 1080rem;
}

.ContainerAnimation_frame_d123d03b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1388rem;
  height: 968rem;
  background: url("R.images.last_stand.gui.maps.icons.promoWindow.frame") no-repeat 50% / cover;
  opacity: 0;
  mix-blend-mode: additive;
  transform: translate(-50%, -50%) scale(2);
  transition: opacity 0.3s ease-in-out;
}
.ContainerAnimation_base__started_448f44b3 .ContainerAnimation_frame_d123d03b {
  opacity: 1;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#PromoApp_root_a4fe4c39,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PromoApp_vignetteBg_ae9ebec {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.PromoApp_6e17783a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  animation: PromoApp_appearAtOpen_a4fe4c39 0.5s ease-out 0.5s forwards;
}

.PromoApp_container_c21d069a {
  position: relative;
}

.PromoApp_vignetteBg_ae9ebec {
  background: url("R.images.last_stand.gui.maps.icons.backgrounds.vignette_simple") no-repeat
    50%/100% 100%;
  pointer-events: none;
}

.PromoApp_header_70c24a9c {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
  opacity: 1;
  top: 44rem;
  transition: opacity 0.5s ease-in-out;
}
.mediaMedium .PromoApp_header_70c24a9c {
  font-size: 72rem;
  top: 48rem;
}
.mediaLarge .PromoApp_header_70c24a9c {
  font-size: 80rem;
  top: 57rem;
}
.mediaExtraLarge .PromoApp_header_70c24a9c {
  font-size: 100rem;
  top: 80rem;
}
.PromoApp_base__started_a4fe4c39 .PromoApp_header_70c24a9c {
  opacity: 0;
}

.PromoApp_subheader_e22f84af {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-primary);
  font-size: 22rem;
  line-height: 26rem;
  opacity: 0.8;
  top: 118rem;
  transition: opacity 0.5s ease-in-out;
}
.mediaMedium .PromoApp_subheader_e22f84af {
  font-size: 24rem;
  line-height: 30rem;
  top: 142rem;
}
.mediaLarge .PromoApp_subheader_e22f84af {
  font-size: 28rem;
  line-height: 1.3em;
  top: 162rem;
}
.mediaExtraLarge .PromoApp_subheader_e22f84af {
  font-size: 32rem;
  top: 208rem;
}
.PromoApp_base__started_a4fe4c39 .PromoApp_subheader_e22f84af {
  opacity: 0;
}

.PromoApp_gradient_5d52cdb6 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 700rem;
  height: 160rem;
  background: radial-gradient(#003d48 60%, transparent 80%);
  filter: blur(50px);
  opacity: 0.5;
  top: 20rem;
  transition: opacity 0.5s ease-in-out;
}
.mediaMedium .PromoApp_gradient_5d52cdb6 {
  width: 900rem;
  height: 240rem;
  top: -20rem;
}
.mediaLarge .PromoApp_gradient_5d52cdb6 {
  width: 1100rem;
  top: 0;
}
.mediaExtraLarge .PromoApp_gradient_5d52cdb6 {
  height: 250rem;
  top: 60rem;
}
.PromoApp_base__started_a4fe4c39 .PromoApp_gradient_5d52cdb6 {
  opacity: 0;
}

.PromoApp_bottomContainer_8e2a2910 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.PromoApp_topContainer_609c5a3b {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
}

.PromoApp_btn_aecf72bb {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  min-width: 160rem;
  opacity: 1;
  bottom: 65rem;
  transition: opacity 0.5s ease-in-out;
}
.mediaMedium .PromoApp_btn_aecf72bb {
  bottom: 70rem;
}
.mediaLarge .PromoApp_btn_aecf72bb {
  bottom: 80rem;
}
.mediaExtraLarge .PromoApp_btn_aecf72bb {
  min-width: 210rem;
  bottom: 110rem;
}
.PromoApp_base__started_a4fe4c39 .PromoApp_btn_aecf72bb {
  opacity: 0;
}

.PromoApp_closeBtn_dec55232 {
  position: absolute;
  top: 30rem;
  right: 30rem;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.PromoApp_base__started_a4fe4c39 .PromoApp_closeBtn_dec55232 {
  opacity: 0;
}

@keyframes PromoApp_appearAtOpen_a4fe4c39 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
