/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes ActiveSeasonState_fadeIn_f6010711 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ActiveSeasonState_fadeInThreeQuarters_f6010711 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes ActiveSeasonState_fadeInHalf_f6010711 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes ActiveSeasonState_fadeOut_f6010711 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ActiveSeasonState_fadeInWithScale_f6010711 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ActiveSeasonState_slideUp_f6010711 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ActiveSeasonState_scale_f6010711 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ActiveSeasonState_raysAppearance_f6010711 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes ActiveSeasonState_rotate_f6010711 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ActiveSeasonState_reverse-rotate_f6010711 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes ActiveSeasonState_glowAppearance_f6010711 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ActiveSeasonState_highlightAppearance_f6010711 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes ActiveSeasonState_blink_f6010711 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ActiveSeasonState_slideUpIn_f6010711 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ActiveSeasonState_7be3b725 {
  display: flex;
  align-items: center;
}

.ActiveSeasonState_calendarIcon_cc4d1c6a {
  width: 21rem;
  height: 21rem;
  margin-right: 8rem;
  background: url("R.images.comp7_light.gui.maps.icons.icons.calendar") no-repeat center/cover;
}
.mediaLarge .ActiveSeasonState_calendarIcon_cc4d1c6a {
  width: 14rem;
  height: 16rem;
  background-image: url("R.images.comp7_light.gui.maps.icons.icons.calendar_14x16");
}

.ActiveSeasonState_divider_e45543ee {
  width: 1rem;
  height: 20rem;
  margin: 0 12rem;
  background: url("R.images.comp7_light.gui.maps.icons.divider_20x1") no-repeat center/contain;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes ScheduleSubheading_fadeIn_f513c76c {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ScheduleSubheading_fadeInThreeQuarters_f513c76c {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes ScheduleSubheading_fadeInHalf_f513c76c {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes ScheduleSubheading_fadeOut_f513c76c {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ScheduleSubheading_fadeInWithScale_f513c76c {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ScheduleSubheading_slideUp_f513c76c {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ScheduleSubheading_scale_f513c76c {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ScheduleSubheading_raysAppearance_f513c76c {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes ScheduleSubheading_rotate_f513c76c {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ScheduleSubheading_reverse-rotate_f513c76c {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes ScheduleSubheading_glowAppearance_f513c76c {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ScheduleSubheading_highlightAppearance_f513c76c {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes ScheduleSubheading_blink_f513c76c {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ScheduleSubheading_slideUpIn_f513c76c {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ScheduleSubheading_6a634a68 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  text-align: center;
}
.mediaMedium .ScheduleSubheading_6a634a68 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaLarge .ScheduleSubheading_6a634a68 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.3em;
}