/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#PointsTooltipApp_root_40124823,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PointsTooltipApp_84924c5f {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 430rem;
  padding: 9rem 21rem;
  color: var(--color-general-tertiary);
  line-height: 20rem;
}
.PointsTooltipApp_84924c5f[lang=el] {
  width: 460rem;
}
.PointsTooltipApp_84924c5f[lang=zh_cn], .PointsTooltipApp_84924c5f[lang=zh_sg] {
  width: 490rem;
}

.PointsTooltipApp_header_7f7425e6 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.PointsTooltipApp_icon_908416d9 {
  display: flex;
  align-self: center;
  margin-top: 14rem;
}

.PointsTooltipApp_dots_a77a022c {
  width: 350rem;
  height: 1rem;
  background: url("R.images.last_stand.gui.maps.icons.library.dots") no-repeat 50%/contain;
}

.PointsTooltipApp_description_64355c48 {
  margin: 38rem 0 15rem;
}

.PointsTooltipApp_subMenu_7ef1d6f3 {
  padding: 9rem 0 16rem;
  background: linear-gradient(90deg, rgba(201, 201, 182, 0) 0%, rgba(201, 201, 182, 0.07) 38%, rgba(201, 201, 182, 0.07) 62%, rgba(201, 201, 182, 0) 100%);
}

.PointsTooltipApp_itemsHeader_dcd1570 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
}

.PointsTooltipApp_items_3d5bc950 {
  margin-top: 1rem;
}

.PointsTooltipApp_item_970f9779 {
  display: flex;
}

.PointsTooltipApp_itemValue_b7cb40ec {
  height: 18rem;
  margin-left: 3rem;
  color: var(--color-currency-free-experience);
}

.PointsTooltipApp_bottom_158350f5 {
  display: flex;
  margin-top: 15rem;
}

.PointsTooltipApp_info_260d1667 {
  width: 14rem;
  height: 14rem;
  margin: 2rem 17rem 0 0;
  background: url("R.images.last_stand.gui.maps.icons.library.information") no-repeat 50%/contain;
}

.PointsTooltipApp_bottomText_b9270a2 {
  width: 280rem;
  color: rgba(var(--color-general-tertiary-rgb), 0.7);
}
.PointsTooltipApp_bottomText_b9270a2[lang=el] {
  width: 380rem;
}