.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

@keyframes App_translateRightWithFadeIn_ca {
  0% {
    opacity: 0;
    transform: translateX(-50rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes App_translateLeftWithFadeOut_6d {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-50rem);
  }
}
@keyframes App_translateTopWithFadeIn_92 {
  0% {
    opacity: 0;
    transform: translateY(50rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes App_translateTopWithFadeOut_97 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-50rem);
  }
}
@keyframes App_translateBottomWithFadeIn_ec {
  0% {
    opacity: 0;
    transform: translateY(-50rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes App_translateBottomWithFadeOut_0c {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(50rem);
  }
}
.App_base_a8 {
  display: flex;
  width: 100%;
  height: 100%;
  background: url("R.images.museum_of_glory.gui.maps.icons.vignette.small") no-repeat center / cover;
  overflow-y: hidden;
  position: relative;
}
.mediaMedium .App_base_a8 {
  background: url("R.images.museum_of_glory.gui.maps.icons.vignette.big") no-repeat center / cover;
}
.App_base__blocked_64 {
  pointer-events: none;
}
.App_base__blocked_64 * {
  cursor: default;
}
.App_header_b8 {
  animation-name: App_translateBottomWithFadeIn_ec;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  position: absolute;
  top: 0;
  z-index: 1;
}
.App_header__hide_6d {
  animation-name: App_translateTopWithFadeOut_97;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 0.1s;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.47, 1);
  pointer-events: none;
}
.App_content_83 {
  display: flex;
  width: 100%;
}
.App_description_94 {
  animation-name: App_translateRightWithFadeIn_ca;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 420rem;
  height: 320rem;
  margin-left: 42rem;
  margin-top: -100rem;
}
.mediaSmall .App_description_94 {
  margin-left: 55rem;
}
.mediaMedium .App_description_94 {
  width: 545rem;
  height: 404rem;
  margin-left: 80rem;
  margin-top: -60rem;
}
.mediaLarge .App_description_94 {
  margin-left: 95rem;
  margin-top: -102rem;
}
.mediaExtraLarge .App_description_94 {
  margin-left: 159rem;
  margin-top: -222rem;
}
.App_description__hide_c7 {
  animation-name: App_translateLeftWithFadeOut_6d;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 0.1s;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.47, 1);
}
.App_carouselWrapper_22 {
  animation-name: App_translateTopWithFadeIn_92;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -14rem;
  position: absolute;
  bottom: 37rem;
}
.mediaMedium .App_carouselWrapper_22 {
  margin-bottom: 0;
  bottom: 62rem;
}
.mediaLarge .App_carouselWrapper_22 {
  bottom: 77rem;
}
.mediaExtraLarge .App_carouselWrapper_22 {
  bottom: 110rem;
}
.App_carouselWrapper__hide_1c {
  animation-name: App_translateBottomWithFadeOut_0c;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 0.1s;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.47, 1);
  pointer-events: none;
}
.App_carousel_67 {
  width: 100%;
  position: relative;
}
.mediaSmall .App_carousel_67 {
  margin-left: 13rem;
}
.mediaMedium .App_carousel_67 {
  margin-left: 0;
}

.TextButton_base_b6 {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 12rem;
  position: relative;
  cursor: pointer;
}

.TextButton_base__right_39 {
  flex-direction: row-reverse;
}
.TextButton_icon_17 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.back");
  transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
  transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
  margin: -1rem 0;
  background-image: url("R.images.gui.maps.icons.components.text_button.close");
}
.TextButton_icon__info_33 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.info");
}
.TextButton_glow_a4 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.back_hover");
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.close_hover");
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.info_hover");
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
  opacity: 0;
}
.TextButton_caption_82 {
  position: relative;
  transition:
    color 0.16s,
    text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
  color: #ffdd99;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
  color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
  color: #ffdd99;
}
.TextButton_caption__info_23 {
  padding: 0 5rem;
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
  color: #e3ffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 12rem rgba(0, 234, 255, 1),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.6),
    0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
  color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
  margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
  margin-right: 8rem;
}
.TextButton_shine_e2 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transition: opacity 0.16s;
  pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
  left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
  right: -4rem;
  transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
  opacity: 0;
}

.Checkbox_base_36 {
  display: flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
}

.Checkbox_base__disabled_08 {
  pointer-events: none;
}

.Checkbox_base__center_52 {
  align-items: center;
}

.Checkbox_base__bottom_28 {
  align-items: flex-end;
}

.Checkbox_input_37 {
  border: 1rem solid rgba(190, 190, 190, 0.45);
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.6;
  position: relative;
  transition: background-color 0.1s linear;
}

.Checkbox_base__mouseDown_45 .Checkbox_input_37 {
  background-color: rgba(0, 0, 0, 0.4);
}

.Checkbox_base__small_18 .Checkbox_input_37 {
  width: 12rem;
  height: 12rem;
}

.Checkbox_base__medium_12 .Checkbox_input_37 {
  width: 18rem;
  height: 18rem;
}

.Checkbox_base__large_f7 .Checkbox_input_37 {
  width: 24rem;
  height: 24rem;
}

.Checkbox_base__extraLarge_c9 .Checkbox_input_37 {
  width: 32rem;
  height: 32rem;
}

.Checkbox_alertOverlay_52 {
  position: absolute;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  border: 1rem solid #feab34;
  border-radius: 2rem;
  box-shadow: inset 0 0 9rem rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
}

.Checkbox_base__alert_b7 .Checkbox_alertOverlay_52 {
  animation: Checkbox_blink_5e 2s ease-in-out infinite;
}

.Checkbox_base__alert_b7.Checkbox_base__checked_a2 .Checkbox_alertOverlay_52,
.Checkbox_base__alert_b7.Checkbox_base__disabled_08 .Checkbox_alertOverlay_52 {
  opacity: 0;
  animation: initial;
}

.Checkbox_inputHoverOverlay_36 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #201f1c, #494741);
  opacity: 0;
  transition: opacity 0.1s linear;
  pointer-events: none;
}

.Checkbox_base_36:hover .Checkbox_inputHoverOverlay_36 {
  opacity: 0.8;
}

.Checkbox_base_36.Checkbox_base__mouseDown_45:hover .Checkbox_inputHoverOverlay_36 {
  opacity: 0;
}

.Checkbox_highlight_b8 {
  background: no-repeat 50% / contain;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.1s linear;
  pointer-events: none;
}

.Checkbox_base__checked_a2 .Checkbox_highlight_b8 {
  opacity: 1;
}

.Checkbox_base__checked_a2.Checkbox_base__disabled_08 .Checkbox_highlight_b8 {
  opacity: 0;
}

.Checkbox_base__small_18 .Checkbox_highlight_b8 {
  width: 34rem;
  height: 34rem;
}

.Checkbox_base__medium_12 .Checkbox_highlight_b8 {
  width: 40rem;
  height: 40rem;
}

.Checkbox_base__large_f7 .Checkbox_highlight_b8 {
  width: 46rem;
  height: 46rem;
}

.Checkbox_base__extraLarge_c9 .Checkbox_highlight_b8 {
  width: 54rem;
  height: 54rem;
}

.Checkbox_base__main_3a.Checkbox_base__small_18 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_s");
}

.Checkbox_base__main_3a.Checkbox_base__medium_12 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_m");
}

.Checkbox_base__main_3a.Checkbox_base__large_f7 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_l");
}

.Checkbox_base__main_3a.Checkbox_base__extraLarge_c9 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_xl");
}

.Checkbox_base__primary_ab.Checkbox_base__small_18 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_s_green");
}

.Checkbox_base__primary_ab.Checkbox_base__medium_12 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_m_green");
}

.Checkbox_base__primary_ab.Checkbox_base__large_f7 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_l_green");
}

.Checkbox_base__primary_ab.Checkbox_base__extraLarge_c9 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_xl_green");
}

.Checkbox_checkmark_60 {
  background: center / contain no-repeat;
  opacity: 0;
  position: absolute;
  left: 0;
}

.Checkbox_base__checked_a2 .Checkbox_checkmark_60 {
  /* Using a transition causes the image to blink on appear */
  animation: Checkbox_fadeIn_1a 0.1s linear 0 normal forwards;
}

.Checkbox_base__checked_a2.Checkbox_base__disabled_08 .Checkbox_checkmark_60 {
  opacity: 0.5;
}

.Checkbox_base__small_18 .Checkbox_checkmark_60 {
  width: 11rem;
  height: 11rem;
}

.Checkbox_base__medium_12 .Checkbox_checkmark_60 {
  width: 19rem;
  height: 20rem;
  transform: translate(1rem, -4rem);
}

.Checkbox_base__large_f7 .Checkbox_checkmark_60 {
  width: 23rem;
  height: 24rem;
  transform: translate(3rem, -3rem);
}

.Checkbox_base__extraLarge_c9 .Checkbox_checkmark_60 {
  width: 36rem;
  height: 36rem;
  transform: translate(2rem, -8rem);
}

.Checkbox_base__main_3a.Checkbox_base__small_18 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_s");
}

.Checkbox_base__main_3a.Checkbox_base__medium_12 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_m");
}

.Checkbox_base__main_3a.Checkbox_base__large_f7 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_l");
}

.Checkbox_base__main_3a.Checkbox_base__extraLarge_c9 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_xl");
}

.Checkbox_base__primary_ab.Checkbox_base__small_18 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_s_green");
}

.Checkbox_base__primary_ab.Checkbox_base__medium_12 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_m_green");
}

.Checkbox_base__primary_ab.Checkbox_base__large_f7 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_l_green");
}

.Checkbox_base__primary_ab.Checkbox_base__extraLarge_c9 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_xl_green");
}

.Checkbox_label_bc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  padding-left: 10rem;
  position: relative;
}

.Checkbox_labelContent_64 {
  color: #8c8c7e;
  font-size: 14rem;
  line-height: 1.15;
  transition: color 0.1s linear;
}

.Checkbox_base__extraLarge_c9 .Checkbox_labelContent_64 {
  font-size: 16rem;
}

.Checkbox_base_36:hover .Checkbox_labelContent_64 {
  color: #c8c8b6;
}

.Checkbox_base__disabled_08 .Checkbox_labelContent_64,
.Checkbox_base__disabled_08:hover .Checkbox_labelContent_64 {
  color: #37362e;
}

@keyframes Checkbox_fadeIn_1a {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Checkbox_blink_5e {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.AudioButton_base_08 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ExcursionButton_base_1d {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.StartButton_base_76 {
  position: relative;
}

.StartButton_mainButton_1c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160rem;
  height: 30rem;
  background: no-repeat center / cover;
  cursor: pointer;
}

.StartButton_base__start_9b .StartButton_mainButton_1c {
  background-image: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.btn_play_1024");
}

.mediaSmall .StartButton_base__start_9b .StartButton_mainButton_1c {
  width: 182rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.btn_play");
}

.StartButton_base__disabled_60 .StartButton_mainButton_1c {
  background-image: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.btn_disabled_1024");
}

.mediaSmall .StartButton_base__disabled_60 .StartButton_mainButton_1c {
  width: 182rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.btn_disabled");
}

.StartButton_layer_1_f1 {
  width: 190rem;
  height: 60rem;
  border-radius: 2rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.btn_stop_layer_1_1024")
    no-repeat center / cover;
  mix-blend-mode: normal;
  position: absolute;
  top: -15rem;
  right: -15rem;
  pointer-events: none;
}

.mediaSmall .StartButton_layer_1_f1 {
  width: 212rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.btn_stop_layer_1");
  right: -36rem;
}

.StartButton_layer_2_1c {
  width: 156rem;
  height: 25rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.btn_stop_layer_2_1024")
    no-repeat center / cover;
  mix-blend-mode: overlay;
  position: absolute;
  top: 3rem;
  right: 2rem;
  pointer-events: none;
}

.mediaSmall .StartButton_layer_2_1c {
  width: 178rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.btn_stop_layer_2");
  right: -19rem;
}

.StartButton_layer_3_a6 {
  width: 158rem;
  height: 32rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.btn_stop_layer_3_1024")
    no-repeat center / cover;
  mix-blend-mode: screen;
  position: absolute;
  top: 2rem;
  right: 1rem;
  pointer-events: none;
}

.mediaSmall .StartButton_layer_3_a6 {
  width: 182rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.btn_stop_layer_3");
  right: -21rem;
}

.StartButton_image_32 {
  width: 30rem;
  height: 30rem;
  background: no-repeat center / cover;
}

.StartButton_base__start_9b .StartButton_image_32 {
  margin-left: -13rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.state_default");
}

.StartButton_base__stop_f2 .StartButton_image_32 {
  margin-left: -8rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.state_active");
}

.mediaSmall .StartButton_base__stop_f2 .StartButton_image_32 {
  margin-left: 8rem;
}

.StartButton_base__disabled_60 .StartButton_image_32 {
  margin-left: -13rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.excursionButton.state_disabled");
}

.StartButton_animate_9e {
  display: flex;
  align-items: center;
  color: #cff;
  font-size: 13rem;
  line-height: 14rem;
  text-transform: uppercase;
}

.StartButton_base__enabled_98 .StartButton_animate_9e {
  text-shadow:
    0rem 0rem 8rem #00eaff,
    0rem 0rem 18rem rgba(31, 68, 255, 0.8);
}

.StartButton_base__disabled_60 .StartButton_animate_9e {
  opacity: 0.5;
}

.StartButton_hover_fc {
  width: 158rem;
  height: 30rem;
  border: 1rem solid #9bf9ff;
  border-radius: 2rem;
  background: rgba(120, 231, 255, 0.69);
  opacity: 0.3;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  right: 1rem;
  pointer-events: none;
}

.mediaSmall .StartButton_hover_fc {
  width: 182rem;
  right: -14rem;
}

.StartButton_base__start_9b .StartButton_hover_fc,
.StartButton_base__disabled_60 .StartButton_hover_fc {
  right: 1rem;
}

.mediaSmall .StartButton_base__stop_f2 .StartButton_hover_fc {
  right: -21rem;
}

.Header_base_57 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 43rem 35rem 0;
}

.mediaMedium .Header_base_57 {
  padding: 35rem 39rem 0 50rem;
}

.mediaLarge .Header_base_57 {
  padding-top: 47rem;
}

.mediaExtraLarge .Header_base_57 {
  padding-top: 60rem;
}

.Header_container_f5 {
  width: 100%;
  position: relative;
}

.Header_mainText_9a {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -5rem);
}

.Header_closeLink_be {
  position: absolute;
  right: 0;
}

.Header_buttons_35 {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
}

.Header_audioButton_7a {
  margin-right: 11rem;
}

.Header_closeCaption_8f {
  font-size: 14rem;
}

.MainText_base_cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainText_subtitle_86 {
  color: #fefeec;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.MainText_title_2a {
  color: #ffdd99;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: -4rem;
}

.mediaMedium .MainText_title_2a {
  margin-top: 0;
}

.mediaExtraLarge .MainText_title_2a {
  color: #ffdd99;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}

.SceneWrapper_base_82 {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.SceneWrapper_base__down_25 {
  cursor: all-scroll;
}

.SceneWrapper_base__moveSpaceDisabled_ef {
  cursor: auto;
}

.HorizontalBar_base_49 {
  display: flex;
  width: 100%;
  height: 13rem;
  position: relative;
}

.HorizontalBar_base__nonActive_82 {
  visibility: hidden;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transform: rotate(-90deg);
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
  opacity: 1;
}

.HorizontalBar_leftButton_5f {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.HorizontalBar_rightButton_03 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.HorizontalBar_track_0d {
  flex: 1;
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}

.HorizontalBar_thumb_fd {
  display: none;
  flex: 0 0 100%;
  width: 100%;
  min-width: 20rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb_horizontal")
    no-repeat center / 8rem 7rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
  opacity: 1;
}

.HorizontalBar_rail_32 {
  height: 0;
  border-top: 1rem solid #2f2e24;
  position: absolute;
  top: 6rem;
  right: 5rem;
  left: 5rem;
}

.HorizontalBar_rail_32:hover {
  opacity: 0.7;
}

.HorizontalScroll_base_29 {
  width: 100%;
}

.HorizontalScroll_wrapper_1e {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
  width: 100%;
  margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: 100%;
  position: relative;
}

.VerticalBar_base__nonActive_42 {
  visibility: hidden;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
  opacity: 1;
}

.VerticalBar_topButton_d7 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.VerticalBar_bottomButton_06 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.VerticalBar_track_df {
  flex: 1;
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
}

.VerticalBar_thumb_32 {
  display: flex;
  flex: 0 0 13rem;
  width: 13rem;
  height: 100%;
  min-height: 20rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb") no-repeat center /
    7rem 8rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_thumb_32:hover {
  opacity: 1;
}

.VerticalBar_rail_43 {
  width: 0;
  height: 100%;
  border-left: 1rem solid #2f2e24;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  position: absolute;
  top: 0;
  left: 6rem;
  z-index: 0;
}

.VerticalBar_rail_43:hover {
  opacity: 0.7;
}

.VerticalScroll_content_cb {
  height: 100%;
  overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
  display: flex;
}

.VerticalScroll_bar_1e {
  flex: 1;
  margin-left: 7rem;
}

.VerticalScroll_area_af {
  flex: 1;
}

.Dates_base_55 {
  display: flex;
  align-items: center;
}

.Dates_dateWrapper_69 {
  display: flex;
}

.Dates_dateText_da {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-right: 3rem;
  font-weight: 700;
  text-shadow: 0 0 7rem #666563;
  transition: color 300ms;
  animation: Dates_changeColor_21 300ms linear;
  cursor: pointer;
}

.Dates_dateText__hovered_50 {
  color: #f2f2f7;
}

@keyframes Dates_changeColor_21 {
  0% {
    color: #f2f2f7;
  }

  100% {
    color: #8c8c7e;
  }
}

.CardContent_imgWrapper_01 {
  width: 100%;
  height: 100%;
  padding: 0rem 34rem 9rem 55rem;
  position: absolute;
  top: 0;
  left: 0;
}

.CardContent_vehicleImg_fd {
  width: 180rem;
  height: 135rem;
  background: no-repeat center / cover;
  filter: grayscale(0.7);
  position: absolute;
  right: 34rem;
  bottom: 3rem;
  transition:
    width 0.2s,
    height 0.2s,
    filter 0.2s;
}

.CardContent_vehicleImg__selected_c6,
.CardContent_vehicleImg__hovered_70 {
  width: 188rem;
  height: 140rem;
  filter: grayscale(0);
}

.CardContent_text_be {
  color: #fefeec;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.CardContent_text__selected_ae,
.CardContent_text__hovered_24 {
  opacity: 1;
}

.CardContent_textWrapper_f4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 36rem;
  padding: 4rem 8rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.text_bg") no-repeat center /
    cover;
  position: absolute;
  bottom: 10rem;
}

.VehicleCard_base_fd {
  display: flex;
}
.VehicleCard_cardContent_57 {
  width: 269rem;
  height: 148rem;
}
.VehicleCard_tankCard_dc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.bg") no-repeat center / cover;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.VehicleCard_base__blocked_28 .VehicleCard_tankCard_dc {
  pointer-events: none;
}
.VehicleCard_hoverBg_a7 {
  display: flex;
  width: 100%;
  height: 100%;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.bg_hover") no-repeat center /
    cover;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.2s;
}
.VehicleCard_base__hovered_f5 .VehicleCard_hoverBg_a7 {
  opacity: 1;
}
.VehicleCard_selected_ad {
  width: 100%;
  height: 100%;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.bg_select") no-repeat center /
    cover;
  position: absolute;
  z-index: 1;
  transition: opacity 0.2s;
}
.VehicleCard_base__hovered_f5 .VehicleCard_selected_ad {
  opacity: 1;
}
.VehicleCard_cardContentWrapper_c9 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.VehicleCard_separator_29 {
  width: 6rem;
  height: 162rem;
  margin-top: -22rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.card_separator") no-repeat top /
    cover;
}

.Pointer_base_0d {
  display: flex;
  justify-content: center;
  width: 59rem;
  height: 94rem;
  padding-top: 3rem;
  pointer-events: none;
}

.Pointer_pointerBg_49 {
  width: 100%;
  height: 100%;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.progress_bar.pointer") no-repeat
    center / cover;
  position: absolute;
  top: 2rem;
  left: 0;
}

.Pointer_pointerBg__stick_73 {
  background-image: url("R.images.museum_of_glory.gui.maps.icons.carousel.progress_bar.pointer_stick");
}

.Pointer_pointerText_6e {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  font-weight: 700;
  text-shadow: 0 0 7rem #666563;
  transform: translateY(5rem);
  transition: color 2.5s;
}

.Pointer_base__white_63 .Pointer_pointerText_6e {
  color: #f2f2f7;
}

.ProgressLine_defaultShadow_5c {
  width: 100%;
  height: 13rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.progress_bar.shadow_progress_gray")
    no-repeat center / cover;
  opacity: 0.8;
  position: absolute;
  top: -13rem;
  right: 0;
}

.ProgressLine_progressShadowWrapper_15 {
  display: flex;
  width: 100%;
  opacity: 1;
  position: absolute;
  top: -13rem;
  left: 0;
  transition: opacity 250ms;
}

.ProgressLine_progressShadowWrapper__hidden_7a {
  opacity: 0;
}

.ProgressLine_progressShadow_dd {
  height: 13rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.progress_bar.shadow_progress")
    no-repeat center / cover;
}

.ProgressLine_progressShadow__hidden_70 {
  opacity: 0;
}

.ProgressLine_progressShadowExcursion_cc {
  height: 13rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.progress_bar.shadow_excursion")
    no-repeat center / cover;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 250ms;
}

.ProgressLine_progressShadowExcursion__visible_f5 {
  opacity: 1;
}

.ProgressLine_progressWrapper_2d {
  display: flex;
  width: 100%;
  opacity: 1;
  mask: radial-gradient(circle, #ffffff 80%, transparent 97%);
  position: absolute;
  top: 2rem;
  transition: opacity 250ms;
}

.ProgressLine_progressWrapper__hidden_d4 {
  opacity: 0;
}

.ProgressLine_progressLine_7c {
  height: 4rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.progress_bar.bg_progress")
    no-repeat center / cover;
  opacity: 1;
}

.ProgressLine_progressLine__hidden_95 {
  opacity: 0;
}

.ProgressLine_progressLineExcursion_59 {
  height: 4rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.progress_bar.bg_excursion")
    no-repeat center / cover;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 250ms;
}

.ProgressLine_progressLineExcursion__visible_84 {
  opacity: 1;
}

.VehicleProgress_base_d8 {
  height: 8rem;
  overflow: visible;
  position: relative;
}

.VehicleProgress_progressBg_b0 {
  width: 100%;
  height: 100%;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.progress_bar.bg") no-repeat
    center / cover;
  position: absolute;
  top: 0;
  left: 0;
}

.VehicleProgress_pointerCentering_68 {
  margin-left: -30rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -43rem;
  transform: translateX(-2rem);
  transition: opacity 2.5s;
}

.VehicleProgress_pointerCentering__show_86 {
  opacity: 1;
  visibility: visible;
}

.VehicleCarousel_base_0e {
  width: 100%;
}
.VehicleCarousel_vehicleCarouselWrapper_00 {
  mask: radial-gradient(circle, #ffffff 94%, transparent 97%);
}
.mediaSmall .VehicleCarousel_vehicleCarouselWrapper_00 {
  mask: radial-gradient(circle, #ffffff 88%, transparent 95%);
}
.VehicleCarousel_arrow_53 {
  width: 24rem;
  height: 48rem;
  background: url("R.images.museum_of_glory.gui.maps.icons.carousel.arrow") no-repeat center / cover;
  position: absolute;
  bottom: 60rem;
  cursor: pointer;
}
.VehicleCarousel_arrow__enabled_72:hover {
  background-image: url("R.images.museum_of_glory.gui.maps.icons.carousel.arrow_hover");
}
.VehicleCarousel_arrow__left_f1 {
  left: 15rem;
  transform: translateY(7rem);
}
.mediaSmall .VehicleCarousel_arrow__left_f1 {
  left: 40rem;
}
.VehicleCarousel_arrow__right_a4 {
  right: 15rem;
  transform: rotate(180deg) translateY(-7rem);
}
.mediaSmall .VehicleCarousel_arrow__right_a4 {
  right: 50rem;
}
.VehicleCarousel_arrow__disabled_12 {
  background-image: url("R.images.museum_of_glory.gui.maps.icons.carousel.arrow_disabled");
}
.VehicleCarousel_arrow__hidden_59 {
  display: none;
}
.VehicleCarousel_vehicleCardsSlider_0b {
  display: flex;
  align-items: flex-end;
  padding-top: 17rem;
}
.VehicleCarousel_vehicleCardsSlider__transition_6e {
  transition: transform 250ms ease-in-out;
}
.VehicleCarousel_scrollBar_53 {
  display: none;
}
.VehicleCarousel_borderCard_82 {
  height: 168rem;
  background: no-repeat top / cover;
}
.VehicleCarousel_borderCard__left_4c {
  width: 42rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.carousel.bg_left_small");
}
.mediaSmall .VehicleCarousel_borderCard__left_4c {
  width: 130rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.carousel.bg_left");
}
.VehicleCarousel_borderCard__right_54 {
  width: 42rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.carousel.bg_left_small");
  transform: scaleX(-1);
}
.mediaSmall .VehicleCarousel_borderCard__right_54 {
  width: 130rem;
  background-image: url("R.images.museum_of_glory.gui.maps.icons.carousel.bg_right");
  transform: scaleX(1);
}
.VehicleCarousel_datesWrapper_da {
  width: 100%;
  position: relative;
  z-index: 1;
}
.VehicleCarousel_dates_12 {
  position: absolute;
  top: 2rem;
  left: 20rem;
}
.VehicleCarousel_dates__right_a7 {
  right: 20rem;
  left: auto;
}
.mediaSmall .VehicleCarousel_dates_12 {
  left: 36rem;
}
.mediaSmall .VehicleCarousel_dates__right_a7 {
  right: 36rem;
  left: auto;
}

.ShortenedText_base_fe {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 18rem;
  opacity: 0;
  overflow: hidden;
  transition: opacity ease 0.2s;
}

.ShortenedText_base__shown_af {
  opacity: 1;
}

.Layout_base_81 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 996rem;
  height: 100%;
  position: relative;
}

.Layout_base__small_cb,
.Layout_base__medium_df {
  width: 1310rem;
}

.Layout_base__large_f6,
.Layout_base__huge_d2 {
  width: 1560rem;
}
.Layout_header_46 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10rem 0 20rem;
}
.Layout_base__compare_56 .Layout_header_46 {
  flex-direction: column;
  align-items: center;
}
.Layout_header__small_cb,
.Layout_header__tiny_4b {
  margin: 10rem 0 16rem;
}
.Layout_content_79 {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}
.Layout_base__compare_56 .Layout_content_79 {
  justify-content: center;
  margin-top: 7rem;
  padding-top: 20rem;
  padding-bottom: 10rem;
}
.Layout_main_df {
  width: 596rem;
  border-top: 1rem solid rgba(255, 255, 255, 0.1);
  border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
}
.Layout_base__compare_56 .Layout_main_df {
  width: 902rem;
}
.Layout_base__small_cb .Layout_main_df,
.Layout_base__medium_df .Layout_main_df {
  width: 902rem;
}
.Layout_base__large_f6 .Layout_main_df,
.Layout_base__huge_d2 .Layout_main_df {
  width: 1102rem;
}
.Layout_inner_3e {
  margin: 0 -16rem;
}
.Layout_base__large_f6 .Layout_inner_3e,
.Layout_base__huge_d2 .Layout_inner_3e {
  margin: 0 -20rem;
}
.Layout_footer_f4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 166rem;
  padding-top: 12rem;
}
.Layout_base__small_cb .Layout_footer_f4,
.Layout_base__medium_df .Layout_footer_f4,
.Layout_base__large_f6 .Layout_footer_f4,
.Layout_base__huge_d2 .Layout_footer_f4 {
  padding-top: 20rem;
}

.Characteristics_base_92 {
  display: flex;
  flex-direction: column;
}

.Characteristics_charactElement_9a {
  display: flex;
  align-items: center;
}

.Characteristics_characteristicsText_5b {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  position: relative;
}

.Characteristics_round_56 {
  width: 5rem;
  height: 5rem;
  margin: 0 10rem;
  border-radius: 50%;
  background-color: #8c8c7e;
  transform: translateY(2rem);
}

.Characteristics_valueText_87 {
  color: #cbac77;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
}

.VehicleInfo_base_1c {
  display: flex;
  flex-direction: column;
  position: relative;
}

.VehicleInfo_flagBg_fe {
  width: 362rem;
  height: 362rem;
  background: no-repeat center/cover;
  position: absolute;
  top: -52rem;
  left: -55rem;
  z-index: -1;
}

.mediaSmall .VehicleInfo_flagBg_fe {
  top: -68rem;
}

.VehicleInfo_content_d5 {
  position: absolute;
  top: -26rem;
  left: 16rem;
}

.VehicleInfo_mainInfo_f8 {
  color: #e9e2bf;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 12rem;
}

.mediaSmall .VehicleInfo_mainInfo_f8 {
  color: #e9e2bf;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 15rem;
}

.mediaMedium .VehicleInfo_mainInfo_f8 {
  margin-bottom: 19rem;
}

.VehicleInfo_descriptionHeader_2f {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  margin: 13rem 0 5rem;
}

.mediaSmall .VehicleInfo_descriptionHeader_2f {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}

.VehicleInfo_descriptionBody_22 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-wrap: wrap;
  width: 377rem;
  max-height: 120rem;
  line-height: 18rem;
}

.VehicleInfo_descriptionBody_22 > div > div {
  margin-right: 4rem;
}

.VehicleInfo_descriptionBody_22 > div > div:last-child {
  margin-right: 0;
}
