/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes RankCompatibilityTable_fadeIn_f8af1478 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankCompatibilityTable_fadeInThreeQuarters_f8af1478 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes RankCompatibilityTable_fadeInHalf_f8af1478 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes RankCompatibilityTable_fadeOut_f8af1478 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes RankCompatibilityTable_fadeInWithScale_f8af1478 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes RankCompatibilityTable_slideUp_f8af1478 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes RankCompatibilityTable_scale_f8af1478 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes RankCompatibilityTable_raysAppearance_f8af1478 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes RankCompatibilityTable_rotate_f8af1478 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes RankCompatibilityTable_reverse-rotate_f8af1478 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes RankCompatibilityTable_glowAppearance_f8af1478 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankCompatibilityTable_highlightAppearance_f8af1478 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes RankCompatibilityTable_blink_f8af1478 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankCompatibilityTable_slideUpIn_f8af1478 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.RankCompatibilityTable_d1e1f461 {
  width: 100%;
  padding: 19rem 20rem 30rem 0;
  color: rgb(140, 140, 126);
}

.RankCompatibilityTable_row_1979ce {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.RankCompatibilityTable_tableHeading_e798864c {
  margin-bottom: 15rem;
}

.RankCompatibilityTable_heading_fc477f38 {
  flex: 1 1;
}

.RankCompatibilityTable_teammates_e198b34 {
  display: flex;
  width: 202rem;
  margin-left: 8rem;
}
.RankCompatibilityTable_teammates__heading_18846859 {
  justify-content: center;
  text-align: center;
}

.RankCompatibilityTable_rank_c960c039 {
  margin-right: 4rem;
}

.RankCompatibilityTable_emptySlot_7884dfc9 {
  width: 22rem;
  height: 22rem;
  background: url("R.images.comp7.gui.maps.icons.icons.emptySlot") no-repeat center/cover;
}

.RankCompatibilityTable_divider_e6a19cf8 {
  margin: 10rem 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.App_bce8e88b {
  display: flex;
  width: 384rem;
  padding-top: 26rem;
  padding-bottom: 0;
  position: relative;
}

.App_description_e694643b {
  margin: 8rem 0 15rem;
}

.App_table_8784516a {
  background: linear-gradient(
    90deg,
    rgba(201, 201, 182, 0) 0%,
    rgba(201, 201, 182, 0.07) 38.22%,
    rgba(201, 201, 182, 0.07) 64.56%,
    rgba(201, 201, 182, 0) 100%
  );
}
