/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ArrowButton_6b3aeda7 {
  position: relative;
  cursor: pointer;
}
.ArrowButton_base__disabled_66128a31 {
  cursor: default;
  pointer-events: none;
}
.ArrowButton_base__large_ad074d68 {
  width: 76rem;
  height: 144rem;
}
.ArrowButton_base__medium_8edb18ea {
  width: 50rem;
  height: 94rem;
}
.ArrowButton_base__small_bfd38674 {
  width: 34rem;
  height: 50rem;
}
.ArrowButton_base__extraSmall_374b168f {
  width: 26rem;
  height: 34rem;
}

.ArrowButton_layers_2cf2a988 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ArrowButton_base__right_5327085d .ArrowButton_layers_2cf2a988 {
  transform: scaleX(-1);
}

.ArrowButton_layer_62eed5ed {
  background: no-repeat top/cover;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ArrowButton_layer__default_5f556b05 {
  opacity: 1;
}
.ArrowButton_6b3aeda7:hover .ArrowButton_layer__default_5f556b05 {
  opacity: 0;
}
.ArrowButton_6b3aeda7:hover .ArrowButton_layer__hover_5f556b05 {
  opacity: 1;
}
.ArrowButton_base__disabled_66128a31:hover .ArrowButton_layer__hover_5f556b05 {
  opacity: 0;
}
.ArrowButton_6b3aeda7:active .ArrowButton_layer__active_a807ac2e {
  opacity: 1;
}
.ArrowButton_base__disabled_66128a31:active .ArrowButton_layer__active_a807ac2e {
  opacity: 0;
}
.ArrowButton_base__disabled_66128a31 .ArrowButton_layer__default_5f556b05, .ArrowButton_base__disabled_66128a31 .ArrowButton_layer__hover_5f556b05, .ArrowButton_base__disabled_66128a31 .ArrowButton_layer__active_a807ac2e {
  opacity: 0;
}
.ArrowButton_base__disabled_66128a31 .ArrowButton_layer__disabled_2af2a5f5 {
  opacity: 1;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ScrollArea_944026c8 {
  width: 100%;
  position: relative;
}

.ScrollArea_block_267d5925 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240rem;
  overflow: hidden;
}
.mediaLarge .ScrollArea_block_267d5925 {
  height: 260rem;
}

.ScrollArea_arrows_f27e2bba {
  position: absolute;
  top: 30rem;
  right: -50rem;
  bottom: 30rem;
  left: -50rem;
}

.ScrollArea_content_17a6111e {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ScrollArea_content__scroll_20f42d4f {
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.ScrollArea_button_95d49248 {
  position: absolute;
  top: 95rem;
}
.mediaMedium .ScrollArea_button_95d49248 {
  top: 105rem;
}
.ScrollArea_button__active_57a49e74 {
  display: block;
}
.ScrollArea_button__hidden_bbed111a {
  display: none;
}
.ScrollArea_button__back_336185c6 {
  left: -50rem;
}
.ScrollArea_button__forward_b6ed7d19 {
  right: -50rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TaskProgression_398777cb {
  display: flex;
}

.TaskProgression_progression_c507a9fb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TaskProgression_progressionNumerical_d18b920a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  margin: 12rem 0 6rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  transition: height 0.8s;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
}
.mediaLarge .TaskProgression_progressionNumerical_d18b920a {
  margin: 20rem 0 10rem;
  font-size: 24rem;
}

.TaskProgression_currentValue_f1f56f2e {
  color: rgba(var(--color-general-primary-rgb), 0.9);
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
}
.TaskProgression_base__completed_67d8f786 .TaskProgression_currentValue_f1f56f2e, .TaskProgression_base__completedWasVisited_67d8f786 .TaskProgression_currentValue_f1f56f2e {
  opacity: 0.5;
}

.TaskProgression_separator_e2bc7752 {
  margin: 0 5rem;
}

.TaskProgression_progressBar_e4189ee6 {
  display: block;
  width: 140rem;
  height: 5rem;
  margin: 3rem 0;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TaskCondition_f4dfcc46 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.TaskCondition_text_52a7b5ca {
  min-height: 40rem;
  max-height: 40rem;
  color: var(--color-general-secondary);
  font-size: 16rem;
  line-height: 1.2;
}
.mediaLarge .TaskCondition_text_52a7b5ca {
  min-height: 45rem;
  max-height: 45rem;
  font-size: 18rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes TaskType_hide_490b70af {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.TaskType_3456a7ae {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.TaskType_typeIcon_274b4018 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center/contain;
  filter: brightness(1.2);
  position: relative;
  z-index: 5;
}
.TaskType_base__completed_490b70af .TaskType_typeIcon_274b4018 {
  animation-name: TaskType_hide_490b70af;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.TaskType_base__completedWasVisited_490b70af .TaskType_typeIcon_274b4018 {
  opacity: 0;
}

.TaskType_completedIcon_762ac897 {
  width: 32rem;
  height: 32rem;
  background: url("R.images.battle_royale.gui.maps.icons.progression.completed_24x24") no-repeat center/24rem 24rem;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-16rem);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.TaskType_base__completed_490b70af .TaskType_completedIcon_762ac897, .TaskType_base__completedWasVisited_490b70af .TaskType_completedIcon_762ac897 {
  opacity: 1;
  transform: translateY(3rem);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes TaskBattle_add-blur_79672d7f {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
.TaskBattle_23293950 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240rem;
  height: 180rem;
  position: relative;
}
.mediaLarge .TaskBattle_23293950 {
  width: 300rem;
  height: 200rem;
}
.TaskBattle_23293950 + .TaskBattle_23293950 {
  margin-left: 10rem;
}
.mediaLarge .TaskBattle_23293950 + .TaskBattle_23293950 {
  margin-left: 20rem;
}

.TaskBattle_taskType_41ef2b29 {
  position: absolute;
  top: -17rem;
}

.TaskBattle_conditions_be83a381 {
  width: 220rem;
}
.mediaLarge .TaskBattle_conditions_be83a381 {
  width: 260rem;
}
.TaskBattle_base__completed_79672d7f .TaskBattle_conditions_be83a381, .TaskBattle_base__completedWasVisited_79672d7f .TaskBattle_conditions_be83a381 {
  opacity: 0.5;
}

.TaskBattle_awards_f631c565 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

.TaskBattle_awardsList_2518e26b {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TaskBattle_base__completed_79672d7f .TaskBattle_awardsList_2518e26b {
  animation-name: TaskBattle_add-blur_79672d7f;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.TaskBattle_base__completedWasVisited_79672d7f .TaskBattle_awardsList_2518e26b {
  opacity: 0.5;
}

.TaskBattle_topGlow_d555aeae {
  display: flex;
  height: 63rem;
  background: radial-gradient(47.45% 65.04% at 50% 156.91%, #fff 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(86.08% 117.89% at 50% 198.28%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(69.56% 95.27% at 50% 145.52%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(81.73% 111.94% at 50% 145.52%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
  position: absolute;
  top: -63rem;
  right: 0;
  left: 0;
  pointer-events: none;
}
.TaskBattle_base__completed_79672d7f .TaskBattle_topGlow_d555aeae, .TaskBattle_base__completedWasVisited_79672d7f .TaskBattle_topGlow_d555aeae {
  background: none;
}
.TaskBattle_topGlow_d555aeae::after {
  width: 100%;
  height: 100%;
  background: radial-gradient(47.45% 65.04% at 50% 156.91%, #64ba21 0%, rgba(100, 186, 33, 0) 100%), radial-gradient(86.08% 117.89% at 50% 198.28%, rgba(100, 186, 33, 0.6) 0%, rgba(100, 186, 33, 0) 100%), radial-gradient(69.56% 95.27% at 50% 145.52%, rgba(100, 186, 33, 0.2) 0%, rgba(100, 186, 33, 0) 100%), radial-gradient(81.73% 111.94% at 50% 145.52%, rgba(100, 186, 33, 0.05) 0%, rgba(100, 186, 33, 0) 100%);
  opacity: 0;
  content: "";
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}
.TaskBattle_base__completed_79672d7f .TaskBattle_topGlow_d555aeae::after, .TaskBattle_base__completedWasVisited_79672d7f .TaskBattle_topGlow_d555aeae::after {
  opacity: 1;
}

.TaskBattle_award_6bf9fb91 + .TaskBattle_award_6bf9fb91 {
  margin-left: 5rem;
}
.mediaLarge .TaskBattle_award_6bf9fb91 + .TaskBattle_award_6bf9fb91 {
  margin-left: 15rem;
}

.TaskBattle_topBorderGradient_3695c66f {
  height: 1rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 75%), linear-gradient(90deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.02) 100%);
  position: absolute;
  top: 3rem;
  right: 0;
  left: 0;
  pointer-events: none;
}
.TaskBattle_base__completed_79672d7f .TaskBattle_topBorderGradient_3695c66f, .TaskBattle_base__completedWasVisited_79672d7f .TaskBattle_topBorderGradient_3695c66f {
  background: linear-gradient(90deg, rgba(100, 186, 33, 0) 25%, rgba(100, 186, 33, 0.5) 50%, rgba(100, 186, 33, 0) 75%), linear-gradient(90deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.02) 100%);
}
.TaskBattle_topBorderGradient_3695c66f::after {
  width: 40rem;
  height: 1rem;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.3) 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.TaskBattle_centerBorderCommon_46b065cf,
.TaskBattle_outerBorderCommon_2cbdf79,
.TaskBattle_innerBorderCommon_de37a82,
.TaskBattle_centerBorderBottom_445802c8,
.TaskBattle_outerBorderBottom_38b316f3,
.TaskBattle_innerBorderBottom_10bddc9 {
  border-style: solid;
  border-color: transparent;
  position: absolute;
  pointer-events: none;
}

.TaskBattle_centerBorderCommon_46b065cf {
  border-image: url(R.images.gui.maps.icons.ui_kit.card.noise_center) 1/1rem 1rem 0 1rem repeat;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.25;
  top: 3rem;
  right: 2rem;
  bottom: 2rem;
  left: 3rem;
}

.TaskBattle_outerBorderCommon_2cbdf79 {
  border-image: url(R.images.gui.maps.icons.ui_kit.card.noise_outer) 1/1rem 1rem 0 1rem repeat;
  opacity: 0.15;
  top: 0;
  right: -1rem;
  bottom: -1rem;
  left: 0;
}

.TaskBattle_innerBorderCommon_de37a82 {
  border-image: url(R.images.gui.maps.icons.ui_kit.card.noise_inner) 1/1rem 1rem 0 1rem repeat;
  opacity: 0.4;
  top: 6rem;
  right: 5rem;
  bottom: 5rem;
  left: 6rem;
}

.TaskBattle_centerBorderBottom_445802c8 {
  border-image: url(R.images.gui.maps.icons.ui_kit.card.noise_center) 1/0 0 1rem 0 repeat;
  opacity: 0.25;
  bottom: 2rem;
}
.TaskBattle_separator__left_e95c3100 .TaskBattle_centerBorderBottom_445802c8 {
  right: 0;
  left: 3rem;
}
.TaskBattle_separator__right_6bf9fb91 .TaskBattle_centerBorderBottom_445802c8 {
  right: 3rem;
  left: 0;
}

.TaskBattle_outerBorderBottom_38b316f3 {
  border-image: url(R.images.gui.maps.icons.ui_kit.card.noise_outer) 1/0 0 1rem 0 repeat;
  opacity: 0.15;
  right: 0;
  bottom: -1rem;
  left: 0;
}

.TaskBattle_innerBorderBottom_10bddc9 {
  border-image: url(R.images.gui.maps.icons.ui_kit.card.noise_inner) 1/0 0 1rem 0 repeat;
  opacity: 0.4;
  bottom: 5rem;
}
.TaskBattle_separator__left_e95c3100 .TaskBattle_innerBorderBottom_10bddc9 {
  right: 0;
  left: 6rem;
}
.TaskBattle_separator__right_6bf9fb91 .TaskBattle_innerBorderBottom_10bddc9 {
  right: 6rem;
  left: 0;
}

.TaskBattle_separator_696fed61 {
  flex: 1 1 auto;
  height: 1rem;
  position: relative;
}
.TaskBattle_separator__left_e95c3100 {
  margin-right: 5rem;
}
.mediaLarge .TaskBattle_separator__left_e95c3100 {
  margin-right: 15rem;
}
.TaskBattle_separator__right_6bf9fb91 {
  margin-left: 5rem;
}
.mediaLarge .TaskBattle_separator__right_6bf9fb91 {
  margin-left: 15rem;
}
.TaskBattle_base__completed_79672d7f .TaskBattle_separator_696fed61 {
  animation-name: TaskBattle_add-shadow_79672d7f;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.TaskBattle_base__completedWasVisited_79672d7f .TaskBattle_separator_696fed61 {
  border-color: rgba(137, 167, 1, 0.2);
  box-shadow: inset 0 19rem 30rem rgba(137, 167, 1, 0.1);
}

@keyframes TaskBattle_add-shadow_79672d7f {
  from {
    border-color: rgba(255, 255, 255, 0.15);
    box-shadow: none;
  }
  to {
    border-color: rgba(137, 167, 1, 0.2);
    box-shadow: inset 0 19rem 30rem rgba(137, 167, 1, 0.1);
  }
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes Separator_show_68dca4b0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Separator_a3ff07 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.Separator_8ad70dd {
  flex: 1 1 auto;
  height: 1rem;
  position: relative;
}
.Separator_base__completedBattleQuests_68dca4b0 .Separator_separator__left_1f916c0b {
  background: linear-gradient(270deg, #ffc061 0%, rgba(203, 73, 0, 0) 100%);
}
.Separator_base__inProgressBattleQuests_68dca4b0 .Separator_separator__left_1f916c0b {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.03) 100%);
}
.Separator_base__condition_68dca4b0 .Separator_separator__left_1f916c0b {
  background: linear-gradient(90deg, rgba(108, 108, 108, 0.15) 0%, #6c6c6c 102.66%);
}
.Separator_base__awards_68dca4b0 .Separator_separator__left_1f916c0b {
  margin: 0 10rem 2.5rem 2.5rem;
  background: linear-gradient(270deg, #fff -2.27%, rgba(255, 255, 255, 0.1) 100%);
}
.Separator_base__completed_68dca4b0 .Separator_separator__left_1f916c0b::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #81ea30 -2.27%, rgba(129, 234, 48, 0.1) 100%);
  opacity: 0;
  content: "";
  animation-name: Separator_show_68dca4b0;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.Separator_base__completedWasVisited_68dca4b0 .Separator_separator__left_1f916c0b::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #81ea30 -2.27%, rgba(129, 234, 48, 0.1) 100%);
  opacity: 0;
  content: "";
  opacity: 1;
}
.Separator_base__completedBattleQuests_68dca4b0 .Separator_separator__right_d5aae7ae {
  background: linear-gradient(90deg, #ffc061 0%, rgba(203, 73, 0, 0) 100%);
}
.Separator_base__inProgressBattleQuests_68dca4b0 .Separator_separator__right_d5aae7ae {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.03) 100%);
}
.Separator_base__condition_68dca4b0 .Separator_separator__right_d5aae7ae {
  background: linear-gradient(270deg, rgba(108, 108, 108, 0.15) 0%, #6c6c6c 102.66%);
}
.Separator_base__awards_68dca4b0 .Separator_separator__right_d5aae7ae {
  margin: 0 3rem 2.5rem 10rem;
  background: linear-gradient(90deg, #fff -2.27%, rgba(255, 255, 255, 0.1) 100%);
}
.Separator_base__completed_68dca4b0 .Separator_separator__right_d5aae7ae::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #81ea30 -2.27%, rgba(129, 234, 48, 0.1) 100%);
  opacity: 0;
  content: "";
  animation-name: Separator_show_68dca4b0;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.Separator_base__completedWasVisited_68dca4b0 .Separator_separator__right_d5aae7ae::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #81ea30 -2.27%, rgba(129, 234, 48, 0.1) 100%);
  opacity: 0;
  content: "";
  opacity: 1;
}

.Separator_ellipse_323ee176 {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  filter: blur(0.5rem);
  opacity: 0.5;
  position: absolute;
  top: -1rem;
  right: -0.5rem;
}
.Separator_base__awards_68dca4b0 .Separator_separator__left_1f916c0b .Separator_ellipse_323ee176, .Separator_base__inProgressBattleQuests_68dca4b0 .Separator_separator__left_1f916c0b .Separator_ellipse_323ee176 {
  background: #f2f2f7;
}
.Separator_base__completed_68dca4b0 .Separator_separator__left_1f916c0b .Separator_ellipse_323ee176 {
  background: #b5ff92;
}
.Separator_base__completedBattleQuests_68dca4b0 .Separator_separator__left_1f916c0b .Separator_ellipse_323ee176 {
  width: 6rem;
  height: 6rem;
  background: #af2000;
  filter: blur(1rem);
  top: -2.5rem;
  right: -1.5rem;
}
.Separator_separator__right_d5aae7ae .Separator_ellipse_323ee176 {
  left: -0.5rem;
}
.Separator_base__awards_68dca4b0 .Separator_separator__right_d5aae7ae .Separator_ellipse_323ee176, .Separator_base__inProgressBattleQuests_68dca4b0 .Separator_separator__right_d5aae7ae .Separator_ellipse_323ee176 {
  background: #f2f2f7;
}
.Separator_base__completed_68dca4b0 .Separator_separator__right_d5aae7ae .Separator_ellipse_323ee176 {
  background: #b5ff92;
}
.Separator_base__completedBattleQuests_68dca4b0 .Separator_separator__right_d5aae7ae .Separator_ellipse_323ee176 {
  width: 6rem;
  height: 6rem;
  background: #af2000;
  filter: blur(1rem);
  top: -2.5rem;
  right: -1.5rem;
  left: -1.5rem;
}

.Separator_firstLayer_9976fb29 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: 0.5rem;
}
.Separator_base__awards_68dca4b0 .Separator_separator__left_1f916c0b .Separator_firstLayer_9976fb29, .Separator_base__inProgressBattleQuests_68dca4b0 .Separator_separator__left_1f916c0b .Separator_firstLayer_9976fb29 {
  background: #fff;
}
.Separator_base__completed_68dca4b0 .Separator_separator__left_1f916c0b .Separator_firstLayer_9976fb29 {
  background: #b5ff92;
}
.Separator_base__completedBattleQuests_68dca4b0 .Separator_separator__left_1f916c0b .Separator_firstLayer_9976fb29 {
  width: 4rem;
  height: 4rem;
  background: #ffad32;
  filter: blur(0.5rem);
  top: 1.5rem;
  right: 1.5rem;
}
.Separator_separator__right_d5aae7ae .Separator_firstLayer_9976fb29 {
  left: -0.5rem;
}
.Separator_base__awards_68dca4b0 .Separator_separator__right_d5aae7ae .Separator_firstLayer_9976fb29, .Separator_base__inProgressBattleQuests_68dca4b0 .Separator_separator__right_d5aae7ae .Separator_firstLayer_9976fb29 {
  background: #fff;
}
.Separator_base__completed_68dca4b0 .Separator_separator__right_d5aae7ae .Separator_firstLayer_9976fb29 {
  background: #b5ff92;
}
.Separator_base__completedBattleQuests_68dca4b0 .Separator_separator__right_d5aae7ae .Separator_firstLayer_9976fb29 {
  width: 4rem;
  height: 4rem;
  background: #ffad32;
  filter: blur(0.5rem);
  top: 1.5rem;
  right: 1.5rem;
  left: 1.5rem;
}

.Separator_base__completedBattleQuests_68dca4b0 .Separator_separator__left_1f916c0b .Separator_secondLayer_e9cececc {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #e9e2bf;
  position: absolute;
  top: -1rem;
  right: 1rem;
}
.Separator_base__completedBattleQuests_68dca4b0 .Separator_separator__right_d5aae7ae .Separator_secondLayer_e9cececc {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #e9e2bf;
  position: absolute;
  top: -1rem;
  right: 1rem;
  left: 1rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Timer_c60caffd {
  display: flex;
  position: relative;
  z-index: 0;
}

.Timer_block_3a90095a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  position: relative;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.Timer_redGlow_4bcca278 {
  width: 296rem;
  height: 74rem;
  background: url("R.images.battle_royale.gui.maps.icons.progression.redGlow") no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.Timer_countdown_dac0a0aa {
  display: flex;
  align-items: center;
}

.Timer_countDownText_26e9a5c8 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: #edcb9e;
  font-weight: 500;
}

.Timer_countDownIcon_9e8dc66f {
  width: 24rem;
  height: 24rem;
  margin-left: 4rem;
  margin-right: 2rem;
  background: url("R.images.gui.maps.icons.ui_kit.datetime.x24x24.accent") no-repeat center/contain;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TimerWithQuestsTotal_c615b557 {
  display: flex;
}

.TimerWithQuestsTotal_body_363c056d {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mediaSmallWidth .TimerWithQuestsTotal_body_363c056d {
  justify-content: center;
}

.TimerWithQuestsTotal_timerBlock_a050a483 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15rem;
  position: relative;
}

.TimerWithQuestsTotal_text_a71b38c3 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.TimerWithQuestsTotal_countDownIcon_df370d94 {
  width: 24rem;
  height: 24rem;
  margin-left: 4rem;
  margin-right: 2rem;
  background: url("R.images.gui.maps.icons.ui_kit.datetime.x24x24.accent") no-repeat center/contain;
}

.TimerWithQuestsTotal_description_efb0c4aa {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: #edcb9e;
}

.TimerWithQuestsTotal_separatorBlock_c9d75110 {
  display: block;
  flex: 1 1 auto;
  margin-bottom: -4rem;
  position: relative;
}

.TimerWithQuestsTotal_separator_720e8cff {
  height: 1rem;
  background: rgb(255, 255, 255);
  opacity: 0.2;
  position: relative;
}

.TimerWithQuestsTotal_ellipse_9709d7b3 {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #f2f2f7;
  filter: blur(0.5rem);
  opacity: 0.5;
  position: absolute;
  top: -1rem;
}
.TimerWithQuestsTotal_ellipse__left_6d2c8221 {
  right: -0.5rem;
}
.TimerWithQuestsTotal_ellipse__right_15a6723b {
  left: -0.5rem;
}

.TimerWithQuestsTotal_totalBlock_5d8a8e9f {
  display: flex;
  align-items: flex-end;
  color: #fd9;
  line-height: 1;
}

.TimerWithQuestsTotal_currentCount_c06c9104 {
  font-size: 18rem;
  font-weight: 700;
}

.TimerWithQuestsTotal_slash_1b2e3159 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.TimerWithQuestsTotal_slash_1b2e3159,
.TimerWithQuestsTotal_total_a7c180b3 {
  margin-bottom: 1rem;
  font-size: 14rem;
}

.TimerWithQuestsTotal_totalQuests_5570dccd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
  position: relative;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TaskBattleList_2dcd471b {
  display: flex;
  flex-direction: column;
  width: 990rem;
}
.mediaLarge .TaskBattleList_2dcd471b {
  width: 1260rem;
}

.TaskBattleList_taskList_d61966a9 {
  display: flex;
  transform: translateY(-6rem);
}
.TaskBattleList_taskList__default_da5f86d5 {
  transform: translateY(0);
}
.TaskBattleList_base__endEvent_78276b8d .TaskBattleList_taskList_d61966a9 {
  display: none;
}

.TaskBattleList_taskBattle_a2f52905 {
  margin: 30rem 0;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_39e3ad82 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 48rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.15;
  position: relative;
}
.mediaMedium .Header_39e3ad82 {
  min-height: 52rem;
  font-size: 22rem;
}

.Header_subTitle_356291df {
  justify-content: center;
}
.mediaMedium .Header_subTitle_356291df {
  min-height: 26rem;
}

.Header_infoTip_46a293e1 {
  width: 24rem;
  height: 24rem;
  background: url("R.images.battle_royale.gui.maps.icons.info_warning") no-repeat center/cover;
  transform: translateX(-4rem);
}
.mediaMedium .Header_infoTip_46a293e1 {
  transform: translate(-4rem, 1rem);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Container_969e325f {
  display: flex;
  position: relative;
}

.Container_progressWrapper_d0e81d78 {
  opacity: 1;
  transition: opacity 500ms;
}
.Container_progressWrapper__completed_c4afdc69 {
  opacity: 0.7;
}
.Container_progressWrapper__fast_ba1096eb {
  opacity: 0.7;
  transition: none;
}
.Container_progressWrapper_d0e81d78 {
  display: flex;
  flex: 1;
  margin: -27rem 0;
  position: relative;
}

.Container_bg_81bf9d2b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6rem;
  background: rgba(13, 14, 16, 0.16);
  right: -3rem;
  left: -3rem;
}

.Container_progressBar_ebe2af86 {
  flex: 1;
  width: auto;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.LevelLabel_2aeb988e {
  display: flex;
  width: 100%;
}

.LevelLabel_activeGlow_d1e21a38 {
  opacity: 0;
  transition: opacity 500ms;
}
.LevelLabel_activeGlow__completed_14902b18 {
  opacity: 1;
}
.LevelLabel_activeGlow__fast_3ddcfd10 {
  opacity: 1;
  transition: none;
}
.LevelLabel_activeGlow_d1e21a38 {
  background: no-repeat center/cover;
  position: absolute;
  transition-delay: 1100ms;
  pointer-events: none;
}
.LevelLabel_base__default_3187c753 .LevelLabel_activeGlow_d1e21a38 {
  width: 134rem;
  height: 134rem;
  background-image: url("R.images.battle_royale.gui.maps.icons.progression.bg_rare_light_current");
  mix-blend-mode: screen;
  top: 51%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
}
.LevelLabel_base__stPatrick_3187c753 .LevelLabel_activeGlow_d1e21a38 {
  width: 381rem;
  height: 648rem;
  background-image: url("R.images.battle_royale.gui.maps.st_patrick.icons.progression.columnGlow");
  top: -90rem;
  left: 50%;
  transform: translateX(-50%);
}

.LevelLabel_level_8a756009 {
  color: #f2f2f7;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  opacity: 0.5;
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 500ms;
  transition-delay: 1100ms;
}
.LevelLabel_level__completed_14902b18 {
  opacity: 1;
}
.LevelLabel_level__active_92cab71e {
  opacity: 0;
}

.LevelLabel_levelCurrent_2f8ac0e2 {
  opacity: 0;
  transition: opacity 500ms;
}
.LevelLabel_levelCurrent__completed_14902b18 {
  opacity: 1;
}
.LevelLabel_levelCurrent__fast_3ddcfd10 {
  opacity: 1;
  transition: none;
}
.LevelLabel_levelCurrent_2f8ac0e2 {
  color: #fd9;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  position: absolute;
  bottom: 11rem;
  left: 50%;
  transform: translateX(-50%);
  transition-delay: 1100ms;
}
.LevelLabel_base__default_3187c753 .LevelLabel_levelCurrent_2f8ac0e2 {
  color: #fd9;
  text-shadow: 0 0 16rem #ff2e00, 0 0 4rem rgba(168, 30, 0, 0.5);
}
.LevelLabel_base__stPatrick_3187c753 .LevelLabel_levelCurrent_2f8ac0e2 {
  color: var(--color-general-primary);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.LevelCard_354cf12a {
  display: flex;
  width: 180rem;
  height: 55rem;
  position: relative;
}
.mediaMedium .LevelCard_354cf12a {
  width: 200rem;
}

.LevelCard_bgCompleted_9a5501b3 {
  opacity: 0;
  transition: opacity 500ms;
}
.LevelCard_bgCompleted__completed_d1f496eb {
  opacity: 0.3;
}
.LevelCard_bgCompleted__fast_9a1984c0 {
  opacity: 0.3;
  transition: none;
}
.LevelCard_bgCompleted_9a5501b3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(78.04% 100% at 50% 100%, rgba(240, 218, 191, 0.23) 0%, rgba(90, 90, 90, 0) 100%);
  transition-delay: 1100ms;
}

.LevelCard_completedIconContainer_7317af93 {
  opacity: 0;
  transform: translateY(-20rem);
  transition: opacity 500ms, transform 500ms;
}
.LevelCard_completedIconContainer__completed_3d180533, .LevelCard_completedIconContainer__prevLevel_44e57352 {
  opacity: 1;
  transform: translateY(0);
}
.LevelCard_completedIconContainer_7317af93 {
  position: absolute;
  top: 6rem;
  left: 50%;
  transition-delay: 1100ms;
}

.LevelCard_completedIcon_fe8b1f44 {
  width: 16rem;
  height: 16rem;
  background: url("R.images.battle_royale.gui.maps.icons.progression.completed_16x16") no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.LevelCard_completedIconGlow_25454fae {
  width: 9rem;
  height: 9rem;
  border: 3rem solid #24ff00;
  filter: blur(7px);
  opacity: 0.7;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
}

.LevelCard_border_57784e07 {
  width: 1rem;
  height: 36rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.LevelCard_border__right_fa864de6 {
  right: 0;
  left: auto;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.LevelCards_4068501d {
  display: flex;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Rewards_3f7d20d {
  opacity: 1;
  transition: opacity 500ms;
}
.Rewards_base__completed_62b5a47f {
  opacity: 0.5;
}
.Rewards_base__fast_5d99cf57 {
  opacity: 0.5;
  transition: none;
}
.Rewards_3f7d20d {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  padding-top: 20rem;
  transition-delay: 1100ms;
}
.Rewards_base__wide_e3c609b4 {
  width: 100%;
}

.Rewards_reward_1f8103c2 {
  margin: 10rem;
}
.mediaMedium .Rewards_reward_1f8103c2 {
  margin: 5rem;
}

.Rewards_info_2ee481cc {
  margin-top: -9rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.RewardCard_3d33baf7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180rem;
  height: 190rem;
  position: relative;
}
.mediaMedium .RewardCard_3d33baf7 {
  width: 200rem;
  height: 318rem;
}
.mediaLarge .RewardCard_3d33baf7 {
  height: 370rem;
}
.mediaExtraLarge .RewardCard_3d33baf7 {
  height: 475rem;
}

.RewardCard_activeBlock_90563303 {
  opacity: 0;
  transition: opacity 500ms;
}
.RewardCard_activeBlock__completed_671ab3dd {
  opacity: 1;
}
.RewardCard_activeBlock__fast_7bd2ab50 {
  opacity: 1;
  transition: none;
}
.RewardCard_activeBlock_90563303 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-delay: 1100ms;
}
.RewardCard_base__default_a49b43b7 .RewardCard_activeBlock_90563303 {
  background: url("R.images.battle_royale.gui.maps.icons.progression.bg_current_small") no-repeat center -60rem/cover;
  mix-blend-mode: screen;
}
.mediaMedium .RewardCard_base__default_a49b43b7 .RewardCard_activeBlock_90563303 {
  background-image: url("R.images.battle_royale.gui.maps.icons.progression.bg_current_large");
}

.RewardCard_pointsBorder_7ac65f55 {
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  position: absolute;
  top: 5rem;
  left: 0;
  transform: translateX(-50%);
}
.RewardCard_pointsBorder__right_ba44cb4f {
  right: 0;
  left: auto;
  transform: translateX(50%);
}

.RewardCard_pointsContainer_9dd72d4d {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.RewardCard_points_b46fb08f {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  margin-right: 5rem;
}
.RewardCard_base__default_a49b43b7 .RewardCard_points_b46fb08f {
  color: #8c8c7e;
}
.RewardCard_base__stPatrick_a49b43b7 .RewardCard_points_b46fb08f {
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.RewardCard_base__default_a49b43b7 .RewardCard_current_525fd9c8 {
  color: #e9e2bf;
}
.RewardCard_base__stPatrick_a49b43b7 .RewardCard_current_525fd9c8 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.RewardCard_base__default_a49b43b7 .RewardCard_total_2e40a238 {
  color: #8c8c7e;
}
.RewardCard_base__stPatrick_a49b43b7 .RewardCard_total_2e40a238 {
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.RewardCard_token_1345a9df {
  width: 16rem;
  height: 16rem;
  background: url("R.images.battle_royale.gui.maps.icons.progression.token_battle_royale") no-repeat center/cover;
}

.RewardCard_border_e6ba8920 {
  width: 1rem;
  height: 90%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 24rem;
  left: 0;
}
.RewardCard_border__right_4235241b {
  right: 0;
  left: auto;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.RewardCards_168ad5c7 {
  display: flex;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Content_74d7180e {
  display: flex;
  align-items: center;
  position: relative;
}

.Content_wrapper_2c0cab76 {
  flex: 1;
  width: auto;
  overflow-x: visible;
}
.Content_base__centered_da09528a .Content_wrapper_2c0cab76 {
  justify-content: center;
}

.Content_progress_f562db1d {
  display: flex;
  position: relative;
}

.Content_horizontalBar_e925daa8 {
  width: auto;
  position: absolute;
  right: 0;
  bottom: -4rem;
  left: 0;
}
.mediaMedium .Content_horizontalBar_e925daa8 {
  bottom: 10rem;
}
.mediaLarge .Content_horizontalBar_e925daa8 {
  bottom: 20rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Progression_411f50c8 {
  opacity: 1;
  transition: opacity 500ms;
}
.Progression_base__completed_b4777ae9 {
  opacity: 0.7;
}
.Progression_base__fast_9f787710 {
  opacity: 0.7;
  transition: none;
}
.Progression_411f50c8 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  transition-duration: 1500ms;
}

.Progression_shadow_ac13d468 {
  width: 445rem;
  height: 876rem;
  background: radial-gradient(42% 42% at 0% 50.08%, rgba(21, 22, 27, 0.95) 0%, rgba(21, 22, 27, 0) 100%);
  opacity: 0;
  position: absolute;
  top: -300rem;
  z-index: 3;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
}
.Progression_shadow__left_8f080022 {
  left: 0;
}
.Progression_shadow__right_808a17e {
  right: 0;
  transform: rotate(180deg);
}
.Progression_shadow__visible_8b7d5d83 {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ScheduleSubheading_35580d17 {
  display: flex;
  align-items: center;
}

.ScheduleSubheading_calendarIcon_ec4b9215 {
  width: 21rem;
  height: 21rem;
  margin-right: 1rem;
  background: url("R.images.battle_royale.gui.maps.icons.calendar") no-repeat center/cover;
}
.mediaMedium .ScheduleSubheading_calendarIcon_ec4b9215 {
  margin-top: -2rem;
  margin-right: 4rem;
}
.mediaLarge .ScheduleSubheading_calendarIcon_ec4b9215 {
  width: 14rem;
  height: 16rem;
  margin-right: 8rem;
  background-image: url("R.images.battle_royale.gui.maps.icons.calendar_14x16");
}

.ScheduleSubheading_calendarText_5779804 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 18rem;
}
.mediaLarge .ScheduleSubheading_calendarText_5779804 {
  font-size: 24rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.App_59e8526b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: var(--external-padding-top);
  padding-bottom: var(--external-padding-bottom);
  background-color: #000;
  overflow: hidden;
  position: relative;
  z-index: 0;
  animation-name: App_windowIn_0;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.App_bgContainer_c158fc6a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.App_bg_a90e9531 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat center/cover;
}
.App_base__default_0 .App_bg_a90e9531 {
  background-image: url("R.images.battle_royale.gui.maps.icons.progression.main_bg");
}
.App_base__stPatrick_0 .App_bg_a90e9531 {
  background-image: url("R.images.battle_royale.gui.maps.st_patrick.icons.progression.main_bg");
}

.App_noise_9552c0e2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("R.images.battle_royale.gui.maps.icons.progression.noise") repeat center/cover;
  opacity: 0.1;
  mix-blend-mode: soft-light;
}

.App_schedule_b6e9c369 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: var(--external-padding-top);
  right: 0;
  left: 0;
  z-index: 1;
}

.App_header_c476b17 {
  transform: translateY(2rem);
}
.mediaMedium .App_header_c476b17 {
  transform: translateY(14rem);
}
.mediaLarge .App_header_c476b17 {
  transform: translateY(-10rem);
}
.mediaExtraLarge .App_header_c476b17 {
  transform: translateY(-25rem);
}

.App_taskBattleList_601f4264 {
  transform: translateY(38rem);
}
.mediaMedium .App_taskBattleList_601f4264 {
  transform: translateY(37rem);
}
.mediaLarge .App_taskBattleList_601f4264 {
  transform: translateY(23rem);
}
.mediaExtraLarge .App_taskBattleList_601f4264 {
  transform: translateY(32rem);
}

.App_progression_2ca6911b {
  display: flex;
  padding: 0 20rem;
  transform: translateY(38rem);
}
.mediaMedium .App_progression_2ca6911b {
  padding-left: 80rem;
  padding-right: 80rem;
  transform: translateY(40rem);
}
.mediaLarge .App_progression_2ca6911b {
  padding-left: 60rem;
  padding-right: 60rem;
  transform: translateY(54rem);
}
.mediaExtraLarge .App_progression_2ca6911b {
  transform: translateY(112rem);
}

@keyframes App_windowIn_0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}