/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes BattleQuestTooltip_fadeIn_d0fd073 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes BattleQuestTooltip_fadeInThreeQuarters_d0fd073 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes BattleQuestTooltip_fadeInHalf_d0fd073 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes BattleQuestTooltip_fadeOut_d0fd073 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes BattleQuestTooltip_fadeInWithScale_d0fd073 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes BattleQuestTooltip_slideUp_d0fd073 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes BattleQuestTooltip_scale_d0fd073 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes BattleQuestTooltip_raysAppearance_d0fd073 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes BattleQuestTooltip_rotate_d0fd073 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes BattleQuestTooltip_reverse-rotate_d0fd073 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes BattleQuestTooltip_glowAppearance_d0fd073 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes BattleQuestTooltip_highlightAppearance_d0fd073 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes BattleQuestTooltip_blink_d0fd073 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes BattleQuestTooltip_slideUpIn_d0fd073 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.BattleQuestTooltip_rewardsText_54d69d4c {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 15rem;
  color: var(--color-general-tertiary);
}

.BattleQuestTooltip_divider_31b2f465 {
  margin: 8rem 0 4rem;
}

.BattleQuestTooltip_rewardItem_462d39e4 {
  margin: 0 15rem 0 -5rem;
}

.BattleQuestTooltip_rewards_863df0c8 {
  margin-bottom: 15rem;
}
