/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.SimpleFormatTooltipApp_3c83c09c {
  width: 100%;
  max-width: 349rem;
  padding: 13rem 15rem 17rem 20rem;
}

.SimpleFormatTooltipApp_header_e5872828 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #e9e2bf;
}
.SimpleFormatTooltipApp_header__withBody_53e87d43 {
  margin-bottom: 5rem;
}

.SimpleFormatTooltipApp_body_47ecea59 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: #8c8c7e;
  line-height: 20rem;
  white-space: pre;
}
