/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_c37bf {
    width: 100%;
    height: var(--progress-bg-height);
    position: relative;
}
.ProgressBar_base__small_af6d6 {
        height: var(--progress-bg-height-small);
    }
.ProgressBar_background_a4e18 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: var(--progress-pattern-size);
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__small_e2b95 {
        height: var(--progress-bg-height-small);
    }
.ProgressBar_lineWrapper_e670c {
    display: flex;
    flex: 1;
}


.ProgressBarBlink_base_d7125 {
    width: var(--progress-glow-width);
    height: var(--progress-glow-height);
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: var(--progress-glow-mixBlendMode);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

    .ProgressBarBlink_base__small_b92f8 {
        width: var(--progress-glow-small-width);
        height: var(--progress-glow-small-height);
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_a3558 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    filter: var(--progress-line-filter);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_a9e8e {
        background-color: var(--progress-line-disabled);
    }
.ProgressLineImpose_base__finished_f889e {
        background-color: var(--progress-line-finished);
    }
.ProgressLineImpose_base__withoutBounce_c0ff9 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressLineImpose_pattern_a4023 {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: var(--progress-pattern-size);
    position: absolute;
    top: var(--progress-pattern-border-size);
    right: var(--progress-pattern-border-size);
    bottom: var(--progress-pattern-border-size);
    left: var(--progress-pattern-border-size);
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_pattern_a4023 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_pattern_a4023 {
        background-image: var(--progress-pattern-disabled);
        left: 0;
    }
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_pattern_a4023 {
        background-image: var(--progress-pattern-finished);
    }
.ProgressLineImpose_gradient_f73c0 {
    max-width: 8001px;
    background-image: var(--progress-pattern-gradient);
    mix-blend-mode: var(--progress-pattern-gradient-mixBlendMode);
    position: absolute;
    top: var(--progress-pattern-border-size);
    right: 0;
    bottom: var(--progress-pattern-border-size);
    left: 0;
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_gradient_f73c0 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_gradient_f73c0 {
        display: none;
    }
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_gradient_f73c0 {
        background-image: var(--progress-pattern-gradient-finished);
    }
.ProgressLineImpose_glow_f237a {
    width: var(--progress-glow-width);
    max-width: 8001px;
    height: var(--progress-glow-height);
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: var(--progress-glow-mixBlendMode);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_b7ffa {
        left: var(--progress-pattern-border-size);
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_glow_f237a,
    .ProgressLineImpose_base__finished_f889e .ProgressLineImpose_glow_f237a {
        display: none;
    }
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_glow_f237a {
        width: var(--progress-glow-small-width);
        height: var(--progress-glow-small-height);
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_f4d46 {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressBarDeltaGrow_glow_c912d {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 .ProgressBarDeltaGrow_glow_c912d {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_cfcd3 {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_dc2b6 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1), cubic-bezier(.21, .61, .35, 1);
    transition-property: width, transform;
}

.Button_bg_c0535,
.Button_hover_db4cf {
    width: 60rem;
    height: 118rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 0;
    left: 0;
}

    .mediaMedium .Button_bg_c0535, .mediaMedium .Button_hover_db4cf {
        width: 73rem;
        height: 145rem;
}

.Button_base_f2efb {
    width: 60rem;
    height: 118rem;
    position: relative;
    cursor: pointer;
}

.mediaMedium .Button_base_f2efb {
        width: 73rem;
        height: 145rem;
}

.Button_bg_c0535 {
    background-image: url('R.images.white_tiger.gui.maps.icons.battleLoading.btnArrowSmall');
    z-index: 0;
}

.mediaMedium .Button_bg_c0535 {
        background-image: url('R.images.white_tiger.gui.maps.icons.battleLoading.btnArrow');
}

.Button_base__left_ed855 .Button_bg_c0535 {
        transform: rotateY(180deg);
    }

.Button_hover_db4cf {
    background-image: url('R.images.white_tiger.gui.maps.icons.battleLoading.btnArrowHoverSmall');
    opacity: 0;
    z-index: 1;
    transition: opacity .3s ease-in-out;
    pointer-events: none;
}

.mediaMedium .Button_hover_db4cf {
        background-image: url('R.images.white_tiger.gui.maps.icons.battleLoading.btnArrowHover');
}

.Button_base_f2efb:hover .Button_hover_db4cf {
        opacity: 1;
    }

.Button_base__left_ed855 .Button_hover_db4cf {
        transform: rotateY(180deg);
    }

.NavButton_base_dd368 {
    position: relative;
}

.NavButton_navImg_d389b {
    width: 69rem;
    height: 19rem;
    background: url('R.images.white_tiger.gui.maps.icons.battleLoading.paginatorNormal') no-repeat center / contain;
}

.NavButton_navImg__active_f6513 {
        background-image: url('R.images.white_tiger.gui.maps.icons.battleLoading.paginatorActive');
        pointer-events: none;
    }

.NavButton_navImg_d389b:hover {
        background-image: url('R.images.white_tiger.gui.maps.icons.battleLoading.paginatorHover');
        cursor: pointer;
    }

.WhiteTigerBattleLoadingApp_base_bfa74 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}

.WhiteTigerBattleLoadingApp_vignette_e8035 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.white_tiger.gui.maps.icons.battleLoading.loadingPicVignette') no-repeat center / cover;
}

.WhiteTigerBattleLoadingApp_shadow_db9dd {
    width: 1000rem;
    height: 600rem;
    background: url('R.images.white_tiger.gui.maps.icons.battleLoading.txtShadow') no-repeat center / cover;
    position: absolute;
    bottom: -89rem;
    left: -50rem;
    pointer-events: none;
}

.WhiteTigerBattleLoadingApp_bgImage_bd7ab {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat center / cover;
}

.WhiteTigerBattleLoadingApp_block_a9179 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 120rem;
    position: absolute;
    bottom: 86rem;
    left: 0;
    pointer-events: none;
}

.mediaMedium .WhiteTigerBattleLoadingApp_block_a9179 {
        padding: 0 150rem;
        bottom: 100rem;
}

.mediaLarge .WhiteTigerBattleLoadingApp_block_a9179 {
        padding: 0 170rem;
        bottom: 160rem;
}

.WhiteTigerBattleLoadingApp_row_b521c {
    margin-bottom: 10rem;
}

.WhiteTigerBattleLoadingApp_hintContainer_a8d56 {
    width: 100%;
    margin: 13rem 0 6rem;
    position: relative;
}

.mediaMedium .WhiteTigerBattleLoadingApp_hintContainer_a8d56 {
        margin: 12rem 0 14rem;
}

.WhiteTigerBattleLoadingApp_hintText_e35dd {
    color: rgba(242,242,247, 0.6);
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}

.mediaMedium .WhiteTigerBattleLoadingApp_hintText_e35dd {
        color: rgba(242,242,247, 0.6);
        font-size: 24rem;
        font-weight: 400;
        line-height: 32rem;
        font-size: 28rem;
}

.WhiteTigerBattleLoadingApp_row__active_f459d .WhiteTigerBattleLoadingApp_hintText_e35dd {
        color: rgba(233,226,191, 1);
        font-size: 18rem;
        font-weight: 700;
        line-height: 1.1;
    }

.mediaMedium .WhiteTigerBattleLoadingApp_row__active_f459d .WhiteTigerBattleLoadingApp_hintText_e35dd {
            color: rgba(233,226,191, 1);
            font-size: 28rem;
            font-weight: 700;
            line-height: 1.1;
}

.WhiteTigerBattleLoadingApp_progressBar_d0a51 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 396rem;
    background-color: #000000;
    bottom: 42rem;
}

.mediaMedium .WhiteTigerBattleLoadingApp_progressBar_d0a51 {
        width: 690rem;
        bottom: 52rem;
}

.WhiteTigerBattleLoadingApp_progressBorder_c1924 {
    position: absolute;
    top: -2rem;
    right: -2rem;
    bottom: -2rem;
    left: -2rem;
    border: 1rem solid #333;
    border-radius: 3rem;
}

.WhiteTigerBattleLoadingApp_container_bd521 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-14rem);
}

.mediaMedium .WhiteTigerBattleLoadingApp_container_bd521 {
        transform: translateY(0);
}

.WhiteTigerBattleLoadingApp_button_b3450 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.WhiteTigerBattleLoadingApp_button__left_ab9bb {
        left: 32rem;
    }

.mediaSmall .WhiteTigerBattleLoadingApp_button__left_ab9bb {
            left: 42rem;
}

.mediaMedium .WhiteTigerBattleLoadingApp_button__left_ab9bb {
            left: 50rem;
}

.mediaLarge .WhiteTigerBattleLoadingApp_button__left_ab9bb {
            left: 60rem;
}

.WhiteTigerBattleLoadingApp_button__right_b243a {
        right: 32rem;
    }

.mediaSmall .WhiteTigerBattleLoadingApp_button__right_b243a {
            right: 42rem;
}

.mediaMedium .WhiteTigerBattleLoadingApp_button__right_b243a {
            right: 50rem;
}

.mediaLarge .WhiteTigerBattleLoadingApp_button__right_b243a {
            right: 60rem;
}

.WhiteTigerBattleLoadingApp_navigation_f81a0 {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 45rem;
}

.mediaSmall .WhiteTigerBattleLoadingApp_navigation_f81a0 {
        margin-top: 65rem;
}

.mediaMedium .WhiteTigerBattleLoadingApp_navigation_f81a0 {
        margin-top: 85rem;
}

