/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#CongratulationsWindowApp_root_f39aff0b,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes CongratulationsWindowApp_fadeIn_f39aff0b {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CongratulationsWindowApp_slideUp_f39aff0b {
  0% {
    opacity: 0;
    transform: translate(-50%, 20rem);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes CongratulationsWindowApp_rotation_f39aff0b {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.CongratulationsWindowApp_8015c18a {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.CongratulationsWindowApp_headerShining_4d1cae29 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 1920rem;
  height: 660rem;
  background: url("R.images.story_mode.gui.maps.icons.common.victory_back") no-repeat 50%/cover;
  opacity: 0.6;
  top: 0;
}

.CongratulationsWindowApp_subTitle_707bd0dd {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  opacity: 0;
  animation-name: CongratulationsWindowApp_slideUp_f39aff0b;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  color: #f2f2f7;
  font-weight: 600;
  top: 46rem;
  transform: translate(-50%, 0);
}
.mediaMedium .CongratulationsWindowApp_subTitle_707bd0dd {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
  top: 48rem;
}
.mediaExtraLarge .CongratulationsWindowApp_subTitle_707bd0dd {
  font-size: 32rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
  top: 88rem;
}

.CongratulationsWindowApp_title_a81feb18 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  opacity: 0;
  animation-name: CongratulationsWindowApp_slideUp_f39aff0b;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  color: #f2f2f7;
  font-weight: 600;
  top: 70rem;
  transform: translate(-50%, 0);
}
.mediaMedium .CongratulationsWindowApp_title_a81feb18 {
  color: #f2f2f7;
  font-size: 60rem;
  font-weight: 600;
  line-height: 1.07;
  font-weight: 600;
  top: 85rem;
}
.mediaExtraLarge .CongratulationsWindowApp_title_a81feb18 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
  top: 121rem;
}

.CongratulationsWindowApp_awards_de559bb5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin-top: -17rem;
}
.mediaMedium .CongratulationsWindowApp_base__withBadge_f39aff0b .CongratulationsWindowApp_awards_de559bb5 {
  margin-top: -38rem;
}
.mediaLarge .CongratulationsWindowApp_base__withBadge_f39aff0b .CongratulationsWindowApp_awards_de559bb5 {
  margin-top: -23rem;
}

.CongratulationsWindowApp_award_614913e5 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.CongratulationsWindowApp_medalImage_71f98f07 {
  width: 400rem;
  height: 300rem;
  margin-top: -44rem;
  background: no-repeat 50%/contain;
}
.mediaMedium .CongratulationsWindowApp_medalImage_71f98f07 {
  width: 600rem;
  height: 450rem;
  margin-top: -66rem;
}
.mediaMedium .CongratulationsWindowApp_base__withBadge_f39aff0b .CongratulationsWindowApp_medalImage_71f98f07 {
  width: 400rem;
  height: 300rem;
  margin-top: -44rem;
}
.mediaLarge .CongratulationsWindowApp_base__withBadge_f39aff0b .CongratulationsWindowApp_medalImage_71f98f07 {
  width: 600rem;
  height: 450rem;
  margin-top: -66rem;
}

.CongratulationsWindowApp_medalName_65e0b982 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  opacity: 0;
  animation-name: CongratulationsWindowApp_fadeIn_f39aff0b;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  margin-top: -15rem;
  color: #e9e2bf;
  font-weight: 600;
}
.mediaMedium .CongratulationsWindowApp_medalName_65e0b982 {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
}
.mediaMedium .CongratulationsWindowApp_base__withBadge_f39aff0b .CongratulationsWindowApp_medalName_65e0b982 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
}
.mediaLarge .CongratulationsWindowApp_base__withBadge_f39aff0b .CongratulationsWindowApp_medalName_65e0b982 {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
}

.CongratulationsWindowApp_continueButton_9073faa2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  animation-name: CongratulationsWindowApp_slideUp_f39aff0b;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.2s;
  animation-iteration-count: 1;
  min-width: 110rem;
  bottom: 51rem;
  transform: translate(-50%, 0);
}
.mediaMedium .CongratulationsWindowApp_continueButton_9073faa2 {
  min-width: 144rem;
}
.mediaLarge .CongratulationsWindowApp_continueButton_9073faa2 {
  min-width: 160rem;
  bottom: 81rem;
}
.mediaExtraLarge .CongratulationsWindowApp_continueButton_9073faa2 {
  bottom: 101rem;
}

.CongratulationsWindowApp_ribbon_aac89b07 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CongratulationsWindowApp_ribbonImage_ac4ece96 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1366rem;
  height: 356rem;
  margin-top: 44rem;
  background: url("R.images.story_mode.gui.maps.icons.congratulations.ribbon.extraSmall") no-repeat 50%/contain;
}
.mediaMedium .CongratulationsWindowApp_ribbonImage_ac4ece96 {
  width: 1600rem;
  height: 417rem;
  background-image: url("R.images.story_mode.gui.maps.icons.congratulations.ribbon.medium");
}
.mediaLarge .CongratulationsWindowApp_ribbonImage_ac4ece96 {
  width: 1920rem;
  height: 500rem;
  margin-top: 80rem;
  background-image: url("R.images.story_mode.gui.maps.icons.congratulations.ribbon.large");
}
.mediaMedium .CongratulationsWindowApp_base__withBadge_f39aff0b .CongratulationsWindowApp_ribbonImage_ac4ece96 {
  margin-top: 40rem;
}
.mediaLarge .CongratulationsWindowApp_base__withBadge_f39aff0b .CongratulationsWindowApp_ribbonImage_ac4ece96 {
  margin-top: 80rem;
}

.CongratulationsWindowApp_shine_265957ca {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-name: CongratulationsWindowApp_fadeIn_f39aff0b;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  width: 800rem;
  height: 800rem;
  margin-top: -14rem;
  background: url("swf://gui/flash/animations/glows/rays.swf") no-repeat 50%/contain;
  mix-blend-mode: additive;
}
.mediaMedium .CongratulationsWindowApp_shine_265957ca {
  width: 1000rem;
  height: 1000rem;
}

.CongratulationsWindowApp_lines_d4ab2b32 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-name: CongratulationsWindowApp_fadeIn_f39aff0b;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.CongratulationsWindowApp_linesImage_969e3b26 {
  animation: CongratulationsWindowApp_rotation_f39aff0b 120s linear infinite;
  width: 920rem;
  height: 920rem;
  background: url("R.images.story_mode.gui.maps.icons.common.radial_lines.extraSmall") no-repeat 50%/contain;
  mix-blend-mode: additive;
}
.mediaMedium .CongratulationsWindowApp_linesImage_969e3b26 {
  width: 1300rem;
  height: 1300rem;
  background-image: url("R.images.story_mode.gui.maps.icons.common.radial_lines.medium");
}

.CongratulationsWindowApp_closeBtn_b32a69a7 {
  align-self: flex-end;
  position: absolute;
  top: 30rem;
  right: 30rem;
}

.CongratulationsWindowApp_loading_f66c208f {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 45rem;
}