/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes DateRange_fadeIn_ce3e0435 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes DateRange_fadeInThreeQuarters_ce3e0435 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes DateRange_fadeInHalf_ce3e0435 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes DateRange_fadeOut_ce3e0435 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes DateRange_fadeInWithScale_ce3e0435 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes DateRange_slideUp_ce3e0435 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes DateRange_scale_ce3e0435 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes DateRange_raysAppearance_ce3e0435 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes DateRange_rotate_ce3e0435 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes DateRange_reverse-rotate_ce3e0435 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes DateRange_glowAppearance_ce3e0435 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes DateRange_highlightAppearance_ce3e0435 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes DateRange_blink_ce3e0435 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes DateRange_slideUpIn_ce3e0435 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.DateRange_8756cb54 {
  display: flex;
  align-items: center;
}

.DateRange_label_a9603586 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  flex-wrap: nowrap;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 1.1;
  white-space: nowrap;
  opacity: 0.8;
}
.mediaLargeWidth .DateRange_label_a9603586 {
  font-size: 18rem;
}
html[lang="ja"] .DateRange_label_a9603586,
html[lang="ko"] .DateRange_label_a9603586,
html[lang="zh_tw"] .DateRange_label_a9603586,
html[lang="zh_sg"] .DateRange_label_a9603586,
html[lang="zh_cn"] .DateRange_label_a9603586,
html[lang="vi"] .DateRange_label_a9603586,
html[lang="th"] .DateRange_label_a9603586 {
  font-size: 14rem;
}
.DateRange_label_a9603586 > span {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.DateRange_image_6a8d9b5e {
  margin-right: -1rem;
}
.mediaMediumWidth .DateRange_image_6a8d9b5e {
  margin-right: -3rem;
}
