/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#CategoryIcon_root_ad4ccd3f,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.CategoryIcon_media-wrapper_ad4ccd3f,
#CategoryIcon_root_ad4ccd3f {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.CategoryIcon_ab8abcc7 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58rem;
  height: 58rem;
  margin-right: 24rem;
  background: rgba(238, 237, 233, 0.05);
  position: relative;
}
.CategoryIcon_ab8abcc7:last-child {
  margin-right: 0;
}

.CategoryIcon_categoryIcon_1f02424f {
  width: 20rem;
  height: 20rem;
  background: center/contain no-repeat;
}

.CategoryIcon_arrow_a1c14258 {
  width: 6rem;
  height: 35rem;
  background: url("R.images.frontline.gui.maps.icons.arrow") no-repeat center/contain;
  position: absolute;
  top: 50%;
  right: -15rem;
  transform: translateY(-50%);
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Item_root_5f6fcc69,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.Item_media-wrapper_5f6fcc69,
#Item_root_5f6fcc69 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Item_39579287 {
  display: flex;
  align-items: center;
  padding-top: 10rem;
}

.Item_vehicleIconWrapper_9cbf60dd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48rem;
  height: 48rem;
}

.Item_vehicleIcon_95c02596 {
  width: 30rem;
  height: 100%;
}

.Item_categories_4b12882e {
  display: flex;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#SkillOrderTooltip_root_cb04c2c5,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.SkillOrderTooltip_media-wrapper_cb04c2c5,
#SkillOrderTooltip_root_cb04c2c5 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.SkillOrderTooltip_f3653ea {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  display: flex;
  flex-direction: column;
  width: 340rem;
  padding: 0 20rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.SkillOrderTooltip_header_9ae5d7b9 {
  display: flex;
  flex-direction: column;
  padding: 20rem 0;
  background-image: linear-gradient(to right, transparent, rgba(var(--color-general-primary-rgb), 0.07) 38%, rgba(var(--color-general-primary-rgb), 0.07) 64%, transparent);
}

.SkillOrderTooltip_title_d1916d0b {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 8rem;
  color: var(--color-general-primary);
  font-weight: 700;
}

.SkillOrderTooltip_body_852ba1c {
  font-size: 18rem;
  font-weight: 400;
}

.SkillOrderTooltip_container_49c73b81 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SkillOrderTooltip_items_b8016673 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin-left: -25rem;
  padding: 14rem 0 24rem;
}

.SkillOrderTooltip_infoText_52a8e30b {
  flex: 1;
  padding: 17rem 0 25rem;
  font-size: 18rem;
  font-weight: 400;
}