/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes TooltipDecorator_fadeIn_95da40d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TooltipDecorator_fadeInThreeQuarters_95da40d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes TooltipDecorator_fadeInHalf_95da40d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes TooltipDecorator_fadeOut_95da40d3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes TooltipDecorator_fadeInWithScale_95da40d3 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes TooltipDecorator_slideUp_95da40d3 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes TooltipDecorator_scale_95da40d3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes TooltipDecorator_raysAppearance_95da40d3 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes TooltipDecorator_rotate_95da40d3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes TooltipDecorator_reverse-rotate_95da40d3 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes TooltipDecorator_glowAppearance_95da40d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TooltipDecorator_highlightAppearance_95da40d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes TooltipDecorator_blink_95da40d3 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TooltipDecorator_slideUpIn_95da40d3 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.TooltipDecorator_decorator_81525906 {
  margin: 4rem 5rem 8rem;
}

.TooltipDecorator_decoratorInner_5b7cf9de {
  padding: 1rem;
  border-image-source: url("R.images.comp7.gui.maps.icons.icons.tooltip_bg");
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  border-image-repeat: round;
  box-shadow: 0 0 8rem rgba(15, 15, 15, 0.8);
}