/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.App_261f2697 {
  display: flex;
  flex-direction: column;
  width: 400rem;
  padding: 24rem 15rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.App_title_5d35a33 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.App_content_da03f39e {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 0;
}

.App_textContent_ed950a8 {
  display: flex;
  flex-direction: column;
  flex: 0;
  margin-left: 10rem;
}

.App_description_72a48a31 {
  margin-top: 5rem;
}

.App_icon_7399381b {
  width: 80rem;
  height: 80rem;
  margin-top: -7rem;
  margin-bottom: -10rem;
  background: no-repeat center/contain;
  position: relative;
}
.App_base__credits_0 .App_icon_7399381b {
  background-image: url("R.images.gui.maps.icons.library.currency.credits_80x80");
}
.App_base__crystal_0 .App_icon_7399381b {
  background-image: url("R.images.gui.maps.icons.library.currency.crystal_80x80");
}
.App_base__xp_0 .App_icon_7399381b {
  background-image: url("R.images.gui.maps.icons.library.currency.tankXP_80x80");
}
.App_base__battlePassPoints_0 .App_icon_7399381b {
  background-image: url("R.images.gui.maps.icons.battlePass.tooltips.points_80");
}
.App_base__brcoin_0 .App_icon_7399381b {
  background-image: url("R.images.gui.maps.icons.quests.bonuses.big.brcoin");
}
.App_base__stpcoin_0 .App_icon_7399381b {
  background-image: url("R.images.gui.maps.icons.quests.bonuses.big.stpcoin");
}
.App_base__brProgressionToken_0 .App_icon_7399381b {
  background-image: url("R.images.gui.maps.icons.missions.tokens.c_80x80.token_battle_royale");
}

.App_premiumFooter_0,
.App_dailyBonusSection_db2c1343 {
  display: flex;
  flex-direction: row;
  margin-top: 20rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.App_premiumIcon_5a60efed {
  width: 16rem;
  height: 16rem;
  margin-left: 5rem;
  margin-top: 2rem;
  margin-right: 5rem;
  background: url("R.images.battle_royale.gui.maps.icons.battleResults.battle_reward.icon_prem")
    no-repeat center/contain;
}

.App_dailyBonusContainer_ff199845 {
  display: flex;
  flex-direction: row;
  margin-right: 10rem;
}

.App_dailyBonusIcon_b013af51 {
  width: 16rem;
  height: 16rem;
  position: relative;
}
.App_base__stpcoin_0 .App_dailyBonusIcon_b013af51::after {
  width: 46rem;
  height: 28rem;
  background: url("R.images.battle_royale.gui.maps.st_patrick.icons.stpcoin_bonus_46x28") no-repeat
    center/contain;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-6rem, -4rem);
}

.App_dailyBonusQuantifier_5927334d {
  margin-left: 6rem;
  color: #49ffa8;
}

.App_premiumText_0,
.App_dailyBonusText_b7bf5cec {
  flex: 0;
  margin-left: 5rem;
  color: #cbac77;
}
