/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PreviewDelta_86b01c3e, .PreviewDelta_positive_d5d478a9 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.PreviewDelta_86b01c3e {
  z-index: 6;
}

.PreviewDelta_positive_d5d478a9 {
  background-color: #fff;
  filter: drop-shadow(0 0 16rem rgba(255, 154, 82, 0.5)) drop-shadow(0 0 8rem rgba(255, 196, 108, 0.24)) drop-shadow(0 0 4rem rgba(252, 246, 235, 0.16));
  transition: width 0.2s;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.VehicleInfo_text_5f991786 {
  color: rgba(238, 237, 233, 0.9);
  font-weight: 600;
  opacity: 1;
}
.VehicleInfo_base__paragraph_9c9aeed .VehicleInfo_text_5f991786 {
  font-size: 16rem;
  line-height: 18rem;
}
.mediaLarge .VehicleInfo_base__paragraph_9c9aeed .VehicleInfo_text_5f991786 {
  font-size: 18rem;
  line-height: 20rem;
}
.VehicleInfo_base__header_9c9aeed .VehicleInfo_text_5f991786 {
  font-size: 18rem;
  line-height: 20rem;
}
.mediaLarge .VehicleInfo_base__header_9c9aeed .VehicleInfo_text_5f991786 {
  font-size: 22rem;
  line-height: 16rem;
}

.VehicleInfo_base__paragraph_9c9aeed .VehicleInfo_type_64138e7c {
  margin: 0 2rem;
}
.VehicleInfo_base__header_9c9aeed .VehicleInfo_type_64138e7c {
  margin: 0 2rem;
}
.mediaLarge .VehicleInfo_base__header_9c9aeed .VehicleInfo_type_64138e7c {
  margin: 0 -3rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ActiveState_e74cd00e {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.mediaLarge .ActiveState_e74cd00e {
  margin-top: 11rem;
}

.ActiveState_progressBarWrapper_d57b5974 {
  width: 800rem;
  position: relative;
}
.mediaLarge .ActiveState_progressBarWrapper_d57b5974 {
  width: 1000rem;
}

.ActiveState_progressBarLabel_9e0cc264 {
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
  color: rgba(238, 237, 233, 0.5);
  font-size: 16rem;
  line-height: 24rem;
  position: relative;
}
.mediaLarge .ActiveState_progressBarLabel_9e0cc264 {
  margin-bottom: 11rem;
  font-size: 18rem;
}

.ActiveState_vehicleInfo_ded266a7 {
  margin-left: 3rem;
}

.ActiveState_progressBarValueLabel_6e96165e {
  color: rgba(238, 237, 233, 0.9);
  font-size: 18rem;
  font-weight: 600;
  line-height: 20rem;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
.mediaLarge .ActiveState_progressBarValueLabel_6e96165e {
  font-size: 22rem;
  line-height: 16rem;
  top: 4rem;
}

.ActiveState_deltaPercent_56b155fb {
  color: #b1f660;
}

.ActiveState_progressBarScaleLabels_d281cc4c {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
  color: rgba(238, 237, 233, 0.5);
  font-size: 16rem;
  line-height: 16rem;
}
.mediaLarge .ActiveState_progressBarScaleLabels_d281cc4c {
  margin-top: 10rem;
  font-size: 18rem;
  line-height: 20rem;
}

.ActiveState_buttons_af96ee26 {
  display: flex;
  justify-content: center;
  margin-top: -5rem;
  position: relative;
}

.ActiveState_button_438ead65 {
  min-width: 200rem;
}
.mediaLarge .ActiveState_button_438ead65 {
  min-width: 250rem;
}
.ActiveState_button_438ead65 + .ActiveState_button_438ead65 {
  margin-left: 12rem;
}
.mediaLarge .ActiveState_button_438ead65 + .ActiveState_button_438ead65 {
  margin-left: 16rem;
}

.ActiveState_info_f339df5 {
  width: 16rem;
  height: 16rem;
  background: url("R.images.resource_well.gui.maps.icons.footer.info_icon") no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(8rem, -50%);
}
.mediaLarge .ActiveState_info_f339df5 {
  transform: translate(10rem, -50%);
}

.ActiveState_description_e5878c93 {
  margin-top: 14rem;
  color: rgba(238, 237, 233, 0.5);
  font-size: 16rem;
  line-height: 16rem;
}
.mediaLarge .ActiveState_description_e5878c93 {
  font-size: 18rem;
  line-height: 20rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Forbidden_icon_9b9e87dc::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* stylelint-disable scss/dollar-variable-pattern */
.Forbidden_title_79cef627 {
  display: flex;
  align-items: center;
  margin-top: 15rem;
  color: rgba(238, 237, 233, 0.9);
  font-size: 18rem;
  font-weight: 600;
  line-height: 20rem;
}
.mediaLarge .Forbidden_title_79cef627 {
  margin-top: 26rem;
  font-size: 22rem;
  line-height: 16rem;
}

.Forbidden_icon_9b9e87dc {
  width: 24rem;
  height: 1rem;
  margin-right: 3rem;
  position: relative;
}
.Forbidden_icon_9b9e87dc::before {
  width: 28rem;
  height: 28rem;
  background: url("R.images.resource_well.gui.maps.icons.footer.error_icon") no-repeat center/contain;
  content: "";
}

.Forbidden_subtitle_29223041 {
  margin-top: 8rem;
  color: rgba(238, 237, 233, 0.5);
  font-size: 16rem;
  line-height: 16rem;
}
.mediaLarge .Forbidden_subtitle_29223041 {
  margin-top: 12rem;
  font-size: 18rem;
  line-height: 20rem;
}

.Forbidden_button_8b828d1d {
  margin-top: 15rem;
}
.mediaLarge .Forbidden_button_8b828d1d {
  margin-top: 20rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.NoProgress_title_c5c00e94 {
  margin-top: 13rem;
  color: rgba(238, 237, 233, 0.9);
  font-size: 18rem;
  font-weight: 600;
  line-height: 20rem;
}
.mediaLarge .NoProgress_title_c5c00e94 {
  margin-top: 10rem;
  font-size: 22rem;
  line-height: 16rem;
}

.NoProgress_button_52f81d91 {
  min-width: 200rem;
  margin-top: 13rem;
}
.mediaLarge .NoProgress_button_52f81d91 {
  margin-top: 8rem;
}

.NoProgress_description_89205325 {
  margin-top: 14rem;
  color: rgba(238, 237, 233, 0.5);
  font-size: 16rem;
  line-height: 16rem;
}
.mediaLarge .NoProgress_description_89205325 {
  margin-top: 17rem;
  font-size: 18rem;
  line-height: 20rem;
}

.NoProgress_selectVehicleTitle_e414a2d1 {
  margin-top: 20rem;
  color: rgba(238, 237, 233, 0.9);
  font-size: 18rem;
  font-weight: 600;
  line-height: 20rem;
}
.mediaLarge .NoProgress_selectVehicleTitle_e414a2d1 {
  margin-top: 32rem;
  font-size: 22rem;
  line-height: 16rem;
}

.NoProgress_selectVehicleDescription_edf9bc73 {
  margin-top: 8rem;
  color: rgba(238, 237, 233, 0.5);
  font-size: 16rem;
  line-height: 16rem;
}
.mediaLarge .NoProgress_selectVehicleDescription_edf9bc73 {
  margin-top: 14rem;
  font-size: 18rem;
  line-height: 20rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.NoVehiclesState_title_a847f92f {
  margin-top: 15rem;
  color: rgba(238, 237, 233, 0.9);
  font-size: 18rem;
  font-weight: 600;
  line-height: 20rem;
}
.mediaLarge .NoVehiclesState_title_a847f92f {
  margin-top: 26rem;
  font-size: 22rem;
  line-height: 16rem;
}

.NoVehiclesState_subtitle_a6a7c9d4 {
  margin-top: 8rem;
  color: rgba(238, 237, 233, 0.5);
  font-size: 16rem;
  line-height: 16rem;
}
.mediaLarge .NoVehiclesState_subtitle_a6a7c9d4 {
  margin-top: 12rem;
  font-size: 18rem;
  line-height: 20rem;
}

.NoVehiclesState_button_7b7c67b5 {
  margin-top: 15rem;
}
.mediaLarge .NoVehiclesState_button_7b7c67b5 {
  margin-top: 20rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Footer_c298eb1 {
  width: 100%;
  height: 186rem;
  position: absolute;
  bottom: 0;
}
.mediaMedium .Footer_c298eb1 {
  height: 200rem;
}
.mediaLarge .Footer_c298eb1 {
  height: 228rem;
}

.Footer_backgroundBlur_b741fe83 {
  width: 1400rem;
  height: 218rem;
  mask: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 20%, #fff 50%, #fff 80%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(28px);
}
.mediaLarge .Footer_backgroundBlur_b741fe83 {
  width: 1630rem;
  height: 228rem;
}
.Footer_backgroundBlur_b741fe83::after {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.02);
  content: "";
}

.Footer_background_3a3b1d42 {
  width: 1280rem;
  height: 230rem;
  background: url("R.images.resource_well.gui.maps.icons.footer.small_background") no-repeat center/cover;
  position: absolute;
  top: -12rem;
  left: 50%;
  transform: translateX(-50%);
}
.mediaLarge .Footer_background_3a3b1d42 {
  width: 1920rem;
  height: 240rem;
  background-image: url("R.images.resource_well.gui.maps.icons.footer.background");
}

.Footer_content_d86b98f6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}