/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.AdditionalDataTooltipApp_aa694135 {
  width: 410rem;
  padding: 15rem 25rem 24rem;
}

.AdditionalDataTooltipApp_header_103f53ff {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  width: 300rem;
  margin-bottom: 4rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
  line-height: 24rem;
  letter-spacing: 0.02em;
  opacity: 0.9;
}

.AdditionalDataTooltipApp_item_23a91b2d {
  display: flex;
  opacity: 0.9;
}

.AdditionalDataTooltipApp_dot_f970fa79 {
  width: 5rem;
  height: 5rem;
  margin: 8rem 0 0 11rem;
  border-radius: 3rem;
  background-color: var(--color-general-tertiary);
}

.AdditionalDataTooltipApp_label_34edb89f {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  flex: 1 1 0;
  margin-left: 11rem;
  color: var(--color-general-tertiary);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
