.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
  width: 100%;
  height: 12rem;
  position: relative;
}
.ProgressBar_base__medium_62 {
  height: 6rem;
}
.ProgressBar_base__small_df {
  height: 2rem;
}
.ProgressBar_background_51 {
  width: 100%;
  max-width: 8001px;
  height: 100%;
  background-image: var(--progress-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 0;
  left: 0;
}
.ProgressBar_background__medium_6e {
  height: 6rem;
}
.ProgressBar_background__small_46 {
  height: 2rem;
}
.ProgressBar_lineWrapper_6a {
  display: flex;
  flex: 1;
}

.ProgressBarBlink_base_24 {
  width: 60rem;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}

.ProgressBarBlink_base__medium_ec {
  width: 42rem;
  height: 70rem;
}

.ProgressBarBlink_base__small_0f {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
  max-width: 8001px;
  height: 100%;
  background-color: var(--progress-line-base);
  position: relative;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
  background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
  background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
  max-width: 8001px;
  background-image: var(--progress-pattern-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-disabled);
  left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
  max-width: 8001px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
  mix-blend-mode: overlay;
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: 1rem;
  left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
  display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0.5)
  );
}
.ProgressLineImpose_glow_a5 {
  width: 60rem;
  max-width: 8001px;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
  left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
  display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
  transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

.styles_timingFunction_8a {
  transition-timing-function: ease-in-out;
}

.Counter_base_9e {
  display: flex;
  min-width: 14rem;
  height: 14rem;
  position: relative;
  z-index: 0;
  animation: Counter_show_be ease-in-out forwards;
}

.Counter_base__big_19 {
  min-width: 21rem;
  height: 21rem;
}

.Counter_base__small_3b {
  min-width: 13rem;
  height: 13rem;
}

.Counter_base__empty_98 {
  min-width: 6rem;
  height: 6rem;
}

.Counter_base__animated_40 {
  animation-duration: 0.2s;
}

.Counter_base__hidden_56 {
  animation-name: Counter_hide_b6;
}
.Counter_bg_74 {
  border: 1rem solid #fe4e0f;
  border-radius: 7rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 6rem rgba(254, 103, 0, 0.2),
    0 0 12rem 4rem rgba(249, 0, 0, 0.3);
  background-image: url("R.images.gui.maps.icons.components.counter.pattern");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.Counter_base__big_19 .Counter_bg_74 {
  border-radius: 11rem;
}
.Counter_base__small_3b .Counter_bg_74 {
  border-radius: 7rem;
}
.Counter_value_3e {
  display: flex;
  padding: 0 4rem;
  color: #fefeec;
  font-size: 11rem;
  line-height: 13rem;
  white-space: nowrap;
}
.Counter_base__big_19 .Counter_value_3e {
  padding: 0 7rem;
  font-size: 14rem;
  line-height: 20rem;
}
.Counter_base__small_3b .Counter_value_3e {
  font-size: 9rem;
  line-height: 12rem;
}
.Counter_value__text_d6 {
  padding: 0 7rem;
}
.Counter_base__big_19 .Counter_value__text_d6 {
  padding: 0 10rem;
}
.Counter_base__small_3b .Counter_value__text_d6 {
  padding: 0 5rem;
  font-size: 10rem;
}
.Counter_base__pattern_71 .Counter_value_3e {
  display: none;
}
.Counter_plus_15 {
  position: relative;
  top: -1rem;
}
.Counter_pattern_83 {
  display: none;
}
.Counter_base__pattern_71 .Counter_pattern_83 {
  display: block;
  border-radius: 50%;
  background-image: url("R.images.gui.maps.icons.components.counter.pattern");
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@keyframes Counter_show_be {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes Counter_hide_b6 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.App_base_66 {
  display: flex;
}

.App_content_6a {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 120rem;
  height: 120rem;
  margin-top: 6rem;
  position: relative;
  transition: transform 0.12s ease-in-out;
  cursor: pointer;
}

.App_content_6a:hover {
  filter: brightness(1.15);
  transform: translateY(4rem);
}

.App_content__disabled_67 {
  filter: grayscale(50%);
  pointer-events: none;
}

.mediaMedium .App_content_6a {
  width: 150rem;
  height: 150rem;
}

.App_bg_51 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes App_bgAppear_f5 {
  0% {
    opacity: 0;
    transform: translateY(-20rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.App_questNumber_89 {
  color: #ffc363;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 26rem;
  text-align: center;
  text-shadow: 0 0 5.6rem rgba(52, 0, 0, 0.75);
  position: relative;
}

.mediaMedium .App_questNumber_89 {
  color: #ffc363;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}

.App_base__new_e2 .App_questNumber_89 {
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 15rem #e52;
}

.App_progressBar_e6 {
  width: 40rem;
  margin-top: 32rem;
}

.mediaMedium .App_progressBar_e6 {
  width: 58rem;
  margin-top: 34rem;
}

.App_newQuest_ba {
  color: #ffc363;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  margin-top: 22rem;
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 15rem #e52;
  position: relative;
}

.mediaMedium .App_newQuest_ba {
  color: #ffc363;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  margin-top: 24rem;
}

.App_bullet_2b {
  position: absolute;
  top: 16rem;
  right: 17rem;
}

.mediaMedium .App_bullet_2b {
  top: 20rem;
  right: 20rem;
}

.App_expireTime_8f {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 9rem;
}

.mediaMedium .App_expireTime_8f {
  bottom: 12rem;
}

.App_timerIcon_a1 {
  width: 28rem;
  height: 28rem;
  margin-top: 2rem;
  margin-right: -2rem;
  background: url("R.images.tank_academy.gui.maps.icons.entryPointTooltip.timer") no-repeat center /
    cover;
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 15rem #e52;
}

.mediaMedium .App_timerIcon_a1 {
  width: 32rem;
  height: 32rem;
}

.App_expireTime_text_de {
  color: #ffdd99;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 15rem #e52;
}

.mediaMedium .App_expireTime_text_de {
  color: #ffdd99;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
