/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#RewardRow_root_eeac5b76,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.RewardRow_3c336197 {
  display: flex;
  justify-content: center;
  flex: 0 1;
  padding: 20rem 0;
  border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
}
.RewardRow_base__s232x174_5540c105 {
  padding: 20rem 0;
}

.RewardRow_box_2a93e9d3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180rem;
  padding-top: 14rem;
}
.RewardRow_base__s232x174_5540c105 .mediaMedium .RewardRow_box_2a93e9d3 {
  width: 240rem;
  padding-top: 54rem;
}
.RewardRow_base__s232x174_5540c105 .RewardRow_box_2a93e9d3 {
  width: 180rem;
  padding-top: 54rem;
}

.RewardRow_boxIcon_38f4db21 {
  width: 80rem;
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.RewardRow_boxLabel_b5c1e1f2 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  max-width: 140rem;
  margin-top: 6rem;
  color: var(--color-general-primary);
  text-align: center;
}
.mediaMedium .RewardRow_boxLabel_b5c1e1f2 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .RewardRow_boxLabel_b5c1e1f2 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  max-width: 180rem;
}

.RewardRow_divider_1aa30952 {
  display: block;
  width: 1rem;
  height: 100%;
  margin: 0 15rem;
  background-color: #f2f2f7;
  opacity: 0.1;
}

.RewardRow_items_250e268f {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1;
  position: relative;
}
.RewardRow_base__s232x174_5540c105 .mediaLarge .RewardRow_items_250e268f {
  margin-left: 65rem;
}
.RewardRow_base__s232x174_5540c105 .RewardRow_items_250e268f {
  margin-left: 50rem;
}

.RewardRow_item_a3515cc5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130rem;
  padding: 10rem 0;
  position: relative;
}
.RewardRow_base__s232x174_5540c105 .mediaLarge .RewardRow_item_a3515cc5 {
  padding: 20rem 0;
}
.RewardRow_base__s232x174_5540c105 .RewardRow_item_a3515cc5 {
  width: 232rem;
}

.RewardRow_label_49f63c71 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  justify-content: center;
  margin: 10rem 0 5rem;
  text-align: center;
  color: var(--color-general-primary);
  opacity: 0.5;
}
.RewardRow_base__s232x174_5540c105 .mediaLarge .RewardRow_label_49f63c71 {
  margin: 20rem;
}
.mediaMedium .RewardRow_label_49f63c71 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .RewardRow_label_49f63c71 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}
.RewardRow_base__s232x174_5540c105 .RewardRow_label_49f63c71 {
  margin: 10rem;
}

.RewardRow_percent_86c62b10 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-primary);
}
.mediaMedium .RewardRow_percent_86c62b10 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .RewardRow_percent_86c62b10 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#RewardList_root_e54afe17,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.RewardList_3134028b {
  display: flex;
  flex-direction: column;
  flex: 1 0;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#App_root_0,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.App_41da450e {
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: relative;
  animation: App_show_0 cubic-bezier(0.5, 0, 0.75, 0) 0.2s forwards;
}

.App_background_8bf668c {
  width: 100%;
  height: 100%;
  background: 50% / cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.App_content_c51a1e8f {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 40rem;
  padding-left: 45rem;
  padding-right: 45rem;
}
.mediaMedium .App_content_c51a1e8f {
  padding-left: 75rem;
  padding-right: 75rem;
}
.mediaLarge .App_content_c51a1e8f {
  align-self: center;
  width: 1920rem;
  padding-left: 135rem;
  padding-right: 135rem;
}

.App_header_6b270f84 {
  padding-bottom: 20rem;
  position: relative;
}

.App_title_ed37f891 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 4rem;
  color: var(--color-general-primary);
}
.mediaLarge .App_title_ed37f891 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
}
.mediaExtraLarge .App_title_ed37f891 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 1.3em;
}

.App_description_8e9e0dbe {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-primary);
  opacity: 0.5;
}
.mediaMedium .App_description_8e9e0dbe {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .App_description_8e9e0dbe {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}

.App_defaultVertical_790cf5a6 {
  flex: 1;
}

.App_scroll_90d3bf78 {
  width: 100%;
  margin-top: var(--external-padding-top);
  margin-bottom: var(--external-padding-bottom);
  padding-right: 24rem;
  mask-image: linear-gradient(transparent 0%, #000 2%, #000 98%, transparent 100%);
  mask-repeat: no-repeat;
}
.mediaMedium .App_scroll_90d3bf78 {
  padding-right: 32rem;
}
.mediaLarge .App_scroll_90d3bf78 {
  padding-right: 48rem;
  mask-image: linear-gradient(transparent 0%, #000 1%, #000 99%, transparent 100%);
}
.mediaExtraLarge .App_scroll_90d3bf78 {
  mask-image: linear-gradient(transparent 0%, #000 2%, #000 98%, transparent 100%);
}

@keyframes App_show_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
