/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.SortHelper_a678300d {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.SortHelper_base__enabled_dbd69244 {
  cursor: pointer;
}

.SortHelper_background_a010edca {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fefeec;
  opacity: 0;
  transition: opacity ease-in-out 0.15s;
}
.SortHelper_base__selected_af12aed1 .SortHelper_background_a010edca {
  opacity: 0.06;
}
.SortHelper_base__enabled_dbd69244:hover .SortHelper_background_a010edca {
  opacity: 0.16;
}

.SortHelper_line_47c848f6 {
  width: 100%;
  height: 1rem;
  background-color: #94918e;
  position: absolute;
  bottom: -1rem;
  left: 0;
}

.SortHelper_arrow_e83135cf {
  width: 12rem;
  height: 7rem;
  background: url("R.images.halloween.gui.maps.icons.common.teamList.sorting_arrow") no-repeat 0
    center/contain;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%) rotate(-180deg);
}
.SortHelper_base__1_af12aed1 .SortHelper_arrow_e83135cf {
  bottom: -7rem;
  transform: translate(-50%);
}
.SortHelper_base__vehicle_af12aed1 .SortHelper_arrow_e83135cf {
  left: 30rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.CellDecorator_8e41db2a {
  display: flex;
  height: 100%;
  position: relative;
}
.CellDecorator_base__keys_63702f2a {
  width: 70rem;
}
.CellDecorator_base__actions_6350e0fb {
  width: 130rem;
}
.CellDecorator_base__actions_6350e0fb.CellDecorator_base__tabWindow_2a8782ae {
  display: none;
}
.CellDecorator_base__actions_6350e0fb.CellDecorator_base__currentPlayer_10e03147 {
  width: 0;
}
.CellDecorator_base__player_39387d0c {
  width: 268rem;
}
.CellDecorator_base__player_39387d0c.CellDecorator_base__currentPlayer_10e03147 {
  width: 398rem;
}
.CellDecorator_base__player_39387d0c.CellDecorator_base__tabWindow_2a8782ae {
  width: 302rem;
}
.CellDecorator_base__player_39387d0c.CellDecorator_base__tabWindow_2a8782ae.CellDecorator_base__actions_6350e0fb {
  display: none;
}
.CellDecorator_base__stats_a3370dfb {
  width: 60rem;
}
.CellDecorator_base__stats_a3370dfb.CellDecorator_base__tabWindow_2a8782ae {
  width: 100rem;
}
.CellDecorator_base__anomalies_22df4021 {
  width: 216rem;
}
.CellDecorator_base__damage_c1078d6a {
  width: 90rem;
}
.CellDecorator_base__damage_c1078d6a.CellDecorator_base__tabWindow_2a8782ae {
  width: 100rem;
}
.CellDecorator_base__vehicle_b5c0999b,
.CellDecorator_base__vehicleIcon_4ea610bd {
  width: 184rem;
}
.CellDecorator_base__vehicle_b5c0999b.CellDecorator_base__tabWindow_2a8782ae,
.CellDecorator_base__vehicleIcon_4ea610bd.CellDecorator_base__tabWindow_2a8782ae {
  width: 200rem;
}
.CellDecorator_base__disabled_cbe15619 {
  text-shadow: none;
  opacity: 0.5;
}

.CellDecorator_children_4f92ea78 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}
.CellDecorator_base__stats_a3370dfb .CellDecorator_children_4f92ea78,
.CellDecorator_base__damage_c1078d6a .CellDecorator_children_4f92ea78,
.CellDecorator_base__actions_6350e0fb .CellDecorator_children_4f92ea78,
.CellDecorator_base__statsLarge_b5c0999b .CellDecorator_children_4f92ea78 {
  justify-content: center;
}
.CellDecorator_base__vehicleIcon_4ea610bd.CellDecorator_base__tabWindow_2a8782ae
  .CellDecorator_children_4f92ea78 {
  padding-left: 0;
}
.CellDecorator_base__vehicle_b5c0999b .CellDecorator_children_4f92ea78 {
  padding-left: 4rem;
}
.CellDecorator_base__vehicle_b5c0999b.CellDecorator_base__tabWindow_2a8782ae
  .CellDecorator_children_4f92ea78 {
  padding-left: 6rem;
}
.CellDecorator_base__kills_b5c0999b.CellDecorator_base__tabWindow_2a8782ae
  .CellDecorator_children_4f92ea78 {
  padding-left: 19rem;
}
.CellDecorator_base__anomalies_22df4021 .CellDecorator_children_4f92ea78 {
  padding-left: 12rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.RowDecorator_3a5242b0 {
  height: 40rem;
  position: relative;
}
.RowDecorator_base__currentPlayer_8c79e27b {
  height: 78rem;
  margin-top: -4rem;
  padding-top: 4rem;
  font-weight: 600;
  text-shadow:
    0 0 16rem rgba(255, 154, 82, 0.5),
    0 0 8rem rgba(255, 196, 108, 0.24),
    0 0 4rem rgba(252, 246, 235, 0.16);
}

.RowDecorator_line_97c52677 {
  width: 100%;
  height: 1rem;
  background: url("R.images.halloween.gui.maps.icons.common.separator_pattern") repeat
    center/contain;
  opacity: 0.4;
  position: absolute;
  bottom: -1rem;
  left: 0;
}
.RowDecorator_base__header_aac40ec7 .RowDecorator_line_97c52677 {
  opacity: 1;
}

.RowDecorator_childrenWrapper_926648fe {
  color: #8c8c7e;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  z-index: 3;
}
.RowDecorator_base__defaultText_aac40ec7 .RowDecorator_childrenWrapper_926648fe {
  color: rgba(var(--color-general-primary-rgb), 0.7);
}
.RowDecorator_base__goldText_aac40ec7 .RowDecorator_childrenWrapper_926648fe {
  color: #ffd0a4;
}
.RowDecorator_base__currentPlayer_8c79e27b .RowDecorator_childrenWrapper_926648fe {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
}
.RowDecorator_base__disable_aac40ec7 .RowDecorator_childrenWrapper_926648fe {
  opacity: 0.5;
}

.RowDecorator_backgroundHelper_e5735edc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(0, 0, 0, 0) 12%,
    rgba(0, 0, 0, 0) 88%,
    transparent 100%
  );
  top: 4rem;
  bottom: -1rem;
  z-index: 1;
}
.RowDecorator_base__goldBg_aac40ec7 .RowDecorator_backgroundHelper_e5735edc {
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 112, 0, 0.1) 12%,
    rgba(255, 112, 0, 0.1) 88%,
    transparent 100%
  );
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HeaderIcon_3ece6f5b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
  transition: opacity ease-in-out 0.15s;
}
.HeaderIcon_base__selected_1ee11e98,
.HeaderIcon_base__enabled_1ee11e98:hover {
  opacity: 1;
}
.HeaderIcon_base__disabled_3b79962d {
  opacity: 0.25;
}
.HeaderIcon_base__anomalies_f96ed88e {
  justify-content: flex-start;
}

.HeaderIcon_icon_ee366753 {
  width: 32rem;
  height: 32rem;
  pointer-events: none;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HeaderRow_9e56ff0c {
  display: flex;
  align-items: center;
  height: 40rem;
}

.HeaderRow_squad_f1cfaf9e {
  width: 32rem;
}

.HeaderRow_teammates_885d1b58 {
  margin-left: 4rem;
}

.HeaderRow_vehicle_b8d50016 {
  justify-content: flex-start;
  margin-left: 30rem;
}

.HeaderRow_actions_fd40145d {
  width: 100%;
  margin: 0 -2rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.InteractionControls_146f6573 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  z-index: 1;
}

.InteractionControls_control_32156206 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38rem;
  height: 28rem;
  margin: 0 2rem;
}

.InteractionControls_button_3a43a322 {
  width: 100%;
  height: 100%;
}

.InteractionControls_icon_5d6c2a56 {
  width: 22rem;
  height: 22rem;
  margin-top: 1rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.AnomaliesList_d4739ac6 {
  display: flex;
}

.AnomaliesList_icon_a0589d33 {
  width: 24rem;
  height: 24rem;
  margin: 0 4rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PlayerInfo_c13516d9 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.PlayerInfo_nickName_7f306715 {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 32rem;
  pointer-events: none;
}
.PlayerInfo_nickName__withSquad_8a49d900 {
  margin-left: 0;
}

.PlayerInfo_userName_948f5015 {
  margin: 0 -26rem 0 -30rem;
}
.PlayerInfo_userName_948f5015 > div {
  margin: 15rem;
  padding: 15rem;
}
.PlayerInfo_userName__withBadge_a8d4a0ad {
  padding-left: 7rem;
}

.PlayerInfo_name_771eba22 {
  max-width: 190rem;
}
.PlayerInfo_base__currentPlayer_56d02918 .PlayerInfo_name_771eba22 {
  max-width: 320rem;
}
.PlayerInfo_base__tabWindow_56d02918 .PlayerInfo_name_771eba22 {
  max-width: 265rem;
}

.PlayerInfo_clanTag_18a94989 {
  flex-shrink: 0;
  max-width: 128rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.PlayerInfo_clanTag_18a94989 > div {
  margin: -15rem;
  padding: 15rem;
}

.PlayerInfo_squad_e6265e1b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32rem;
  height: 32rem;
  margin-top: 1rem;
}

.PlayerInfo_squadLabel_a905cd93 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  color: var(--color-general-primary);
}
.PlayerInfo_squad__ownSquad_56d02918 .PlayerInfo_squadLabel_a905cd93 {
  color: #ffd0a4;
}

.PlayerInfo_banIcon_e99c3630 {
  width: 16rem;
  height: 16rem;
  margin: 6rem 6rem 0 0;
  z-index: 1;
  pointer-events: auto;
}
.PlayerInfo_banIcon__warned_cd1999db {
  background: url("R.images.halloween.gui.maps.icons.common.teamList.icon.warned") no-repeat 50% /
    contain;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.StatValueDecorator_49276f9 {
  white-space: nowrap;
  position: relative;
}

.StatValueDecorator_crown_f59a0861 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38rem;
  height: 38rem;
}
.StatValueDecorator_base__currentPlayer_5170dfab .StatValueDecorator_crown_f59a0861 {
  width: 60rem;
  height: 60rem;
}

.StatValueDecorator_amount_ef3d8d2c {
  position: relative;
}
.StatValueDecorator_base__max_5170dfab .StatValueDecorator_amount_ef3d8d2c {
  font-weight: 600;
  text-shadow:
    0 0 16rem rgba(255, 154, 82, 0.5),
    0 0 8rem rgba(255, 196, 108, 0.24),
    0 0 4rem rgba(252, 246, 235, 0.16);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.VehicleInfo_30590fa0 {
  display: flex;
  align-items: center;
  width: 100%;
}

.VehicleInfo_type_fb925d3d {
  margin-left: 16rem;
}

.VehicleInfo_label_2f9a61c9 {
  align-items: center;
  flex: 1;
  height: 23rem;
  margin-left: 1rem;
}
.VehicleInfo_base__currentPlayer_9c9aeed .VehicleInfo_label_2f9a61c9 {
  height: 32rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TeamList_b61c2386 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(var(--color-general-primary-rgb), 0.5);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Caption_12fb43ec {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Caption_label_c380e02d {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  padding: 0 10rem 4rem;
  color: #f2f2f7;
  font-weight: 600;
  text-shadow: 0 0 15rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.mediaMedium .Caption_label_c380e02d {
  font-size: 28rem;
}

.Caption_line_b4aee4cd {
  flex: 0 0 345rem;
  width: 345rem;
  height: 2rem;
  margin-bottom: 5rem;
  background: url("R.images.halloween.gui.maps.icons.battle.eventStats.bg.line_left") no-repeat 0 /
    contain;
}
.Caption_line__right_824dbbcc {
  transform: rotate(180deg);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_6973c7b0 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 88rem;
  background:
    radial-gradient(25% 30% at 50% 100%, rgba(255, 251, 241, 0.13) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(30% 38% at 50% 0%, rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(
      90deg,
      rgba(6, 7, 9, 0) 0%,
      #070809 33.85%,
      #070809 59.44%,
      rgba(6, 7, 9, 0) 100%
    );
  position: relative;
  z-index: 3;
}
.mediaMedium .Header_6973c7b0 {
  height: 157rem;
}

.Header_container_b357bdd0 {
  width: 100%;
}
.Header_container__right_b7afed9a {
  text-align: right;
}

.Header_title_aac57cdd {
  margin-top: 12rem;
  color: #e9e2bf;
  font-size: 22rem;
  font-weight: 600;
}
.mediaMedium .Header_title_aac57cdd {
  margin-top: 49rem;
}

.Header_subtitle_6cea72b9 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 2rem;
  color: #8c8c7e;
  line-height: 16rem;
  white-space: pre;
}
.mediaMedium .Header_subtitle_6cea72b9 {
  margin-top: 1rem;
  font-size: 18rem;
  line-height: 22rem;
}

.Header_icon_4aa406af {
  width: 64rem;
  height: 64rem;
  margin: 7rem 15rem 0;
  background: url("R.images.gui.maps.icons.battleTypes.c_64x64.halloween") no-repeat 50% / contain;
}
.mediaMedium .Header_icon_4aa406af {
  width: 136rem;
  height: 136rem;
  margin: 10rem 15rem 0;
  background-image: url("R.images.gui.maps.icons.battleTypes.c_136x136.halloween");
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PlayerAnomalies_3979e312 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.PlayerAnomalies_anomaly_ebfa29fe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200rem;
  margin: 0 2rem;
}

.PlayerAnomalies_name_7f75920a {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  height: 26rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
.PlayerAnomalies_name__regular_22e9ecd4,
.PlayerAnomalies_name__individual_d35771ca {
  color: #feab34;
}
.PlayerAnomalies_name__epic_ea0835ec {
  color: #c293ff;
}
.PlayerAnomalies_name__secret_ea626c {
  color: #80d43a;
}

.PlayerAnomalies_descriptionBase_e49e852 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.PlayerAnomalies_descriptionBase__regular_22e9ecd4,
.PlayerAnomalies_descriptionBase__individual_96f51da4 {
  color: #fd9;
}
.PlayerAnomalies_descriptionBase__epic_9fee0ca3 {
  color: #c8aeff;
}
.PlayerAnomalies_descriptionBase__secret_9b9ae51d {
  color: #e0ffba;
}
.PlayerAnomalies_descriptionBase_e49e852 {
  max-width: 180rem;
  height: 42rem;
  line-height: 18rem;
}

.PlayerAnomalies_descriptionText_b6413ec4 {
  justify-content: center;
}

.PlayerAnomalies_icon_6010ae8a {
  width: 58rem;
  height: 58rem;
  margin-top: 2rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TabScreenApp_176a4b5a {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.TabScreenApp_overlay_76148c1b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.TabScreenApp_missionTask_d6d0938d {
  width: 100%;
  margin-bottom: 27rem;
  color: #f2f2f7;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  text-align: center;
  position: relative;
  z-index: 1;
}
.mediaMedium .TabScreenApp_missionTask_d6d0938d {
  margin-bottom: 33rem;
  font-size: 24rem;
}

.TabScreenApp_content_f99eaf75 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  margin-top: 74rem;
}
.mediaMedium .TabScreenApp_content_f99eaf75 {
  margin-top: 134rem;
}
.mediaLarge .TabScreenApp_content_f99eaf75 {
  margin-top: -6rem;
}

.TabScreenApp_tableCaption__top_2ca07e79 {
  margin-bottom: 8rem;
}
.mediaMedium .TabScreenApp_tableCaption__top_2ca07e79 {
  margin-bottom: 27rem;
}
.TabScreenApp_tableCaption__bottom_8690b2c {
  margin: 32rem 0 14rem;
}
.mediaMedium .TabScreenApp_tableCaption__bottom_8690b2c {
  margin: 41rem 0 12rem;
}

.TabScreenApp_flare_f51af123 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200rem;
  height: 768rem;
  background: url("R.images.halloween.gui.maps.icons.battle.eventStats.bg.flare") no-repeat 50%/100%
    100%;
  mix-blend-mode: screen;
}

.TabScreenApp_anomalies_b8631e80 {
  z-index: 1;
}
