/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes AnimatedBackground_fadeIn_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_fadeInThreeQuarters_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes AnimatedBackground_fadeInHalf_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes AnimatedBackground_fadeOut_bf2475f4 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes AnimatedBackground_fadeInWithScale_bf2475f4 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AnimatedBackground_slideUp_bf2475f4 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AnimatedBackground_scale_bf2475f4 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes AnimatedBackground_raysAppearance_bf2475f4 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes AnimatedBackground_rotate_bf2475f4 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes AnimatedBackground_reverse-rotate_bf2475f4 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes AnimatedBackground_glowAppearance_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_highlightAppearance_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes AnimatedBackground_blink_bf2475f4 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_slideUpIn_bf2475f4 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
/* should be percentage of screen width */
@keyframes AnimatedBackground_fadeIn_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_fadeInThreeQuarters_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes AnimatedBackground_fadeInHalf_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes AnimatedBackground_fadeOut_bf2475f4 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes AnimatedBackground_fadeInWithScale_bf2475f4 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AnimatedBackground_slideUp_bf2475f4 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AnimatedBackground_scale_bf2475f4 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes AnimatedBackground_raysAppearance_bf2475f4 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes AnimatedBackground_rotate_bf2475f4 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes AnimatedBackground_reverse-rotate_bf2475f4 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes AnimatedBackground_glowAppearance_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_highlightAppearance_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes AnimatedBackground_blink_bf2475f4 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_slideUpIn_bf2475f4 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.AnimatedBackground_f47e334b {
  width: 900rem;
  height: 900rem;
  position: relative;
  pointer-events: none;
}
.mediaMedium .AnimatedBackground_f47e334b {
  width: 1100rem;
  height: 1100rem;
}
.mediaLarge .AnimatedBackground_f47e334b {
  width: 1300rem;
  height: 1300rem;
}
.mediaExtraLarge .AnimatedBackground_f47e334b {
  width: 1600rem;
  height: 1600rem;
}

.AnimatedBackground_rays_caf372e5 {
  opacity: 0;
  animation-name: AnimatedBackground_raysAppearance_bf2475f4, AnimatedBackground_rotate_bf2475f4;
  animation-duration: 1.5s, 120s;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1), linear;
  animation-delay: 0.8s, 1.2s;
  animation-iteration-count: 1, infinite;
  width: 100%;
  height: 100%;
  background: url("R.images.comp7.gui.maps.icons.rewards.rays") no-repeat center/contain;
  mix-blend-mode: additive;
  position: absolute;
  top: 0;
  left: 0;
}

.AnimatedBackground_sunShineCanvas_21aff824 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.AnimatedBackground_staticHighlight_4c4023e9 {
  width: 550rem;
  height: 550rem;
  background: url("R.images.comp7.gui.maps.icons.rewards.highlight") no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mediaMedium .AnimatedBackground_staticHighlight_4c4023e9 {
  width: 700rem;
  height: 700rem;
}
.mediaLarge .AnimatedBackground_staticHighlight_4c4023e9 {
  width: 900rem;
  height: 900rem;
}