/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.NumericControl_8b195b73 {
  display: flex;
  justify-content: flex-start;
  width: 32rem;
  height: 19rem;
  border: none;
  background: none;
  cursor: pointer;
}
.NumericControl_base__up_50dca44e {
  align-items: flex-end;
}
.NumericControl_base__down_45f28a03 {
  align-items: flex-start;
}
.NumericControl_base__disabled_ec26e91e {
  cursor: default;
}

.NumericControl_arrow_4ae15c4d {
  width: 28rem;
  height: 15rem;
  background: no-repeat center/contain;
  opacity: 0.7;
}
.NumericControl_base__up_50dca44e .NumericControl_arrow_4ae15c4d {
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.arrow_up");
}
.NumericControl_base__down_45f28a03 .NumericControl_arrow_4ae15c4d {
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.arrow_down");
}
.NumericControl_8b195b73:hover .NumericControl_arrow_4ae15c4d {
  background-color: rgba(237, 230, 217, 0.15);
  opacity: 1;
}
.NumericControl_8b195b73:active .NumericControl_arrow_4ae15c4d {
  opacity: 0.5;
}
.NumericControl_base__disabled_ec26e91e .NumericControl_arrow_4ae15c4d {
  opacity: 0.25;
}
.NumericControl_base__disabled_ec26e91e:active .NumericControl_arrow_4ae15c4d, .NumericControl_base__disabled_ec26e91e:hover .NumericControl_arrow_4ae15c4d {
  background-color: transparent;
  opacity: 0.25;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.NumericStepper_decoration_430dcd23 {
  opacity: 0.8;
}
.NumericStepper_decoration_430dcd23:hover {
  background-color: rgba(237, 230, 217, 0.06);
  opacity: 1;
}
.NumericStepper_decoration__focused_881e8c85 {
  opacity: 1;
}
.NumericStepper_decoration__focused_881e8c85:hover {
  background-color: transparent;
}
.NumericStepper_decoration__notEmpty_1a5818dd {
  background-color: transparent;
  opacity: 1;
}
.NumericStepper_decoration__disabled_bd5f8631 {
  opacity: 0.5;
}
.NumericStepper_decoration_430dcd23 > div:first-child {
  opacity: 0;
}

.NumericStepper_field_1f69b03a {
  height: 35rem;
  padding: 4rem 20rem 4rem 15rem;
  color: rgba(254, 254, 236, 0.3);
  font-size: 20rem;
}
.NumericStepper_decoration_430dcd23:hover .NumericStepper_field_1f69b03a {
  color: rgba(254, 254, 236, 0.5);
}
.NumericStepper_field__notEmpty_8dbebc59, .NumericStepper_decoration_430dcd23:hover .NumericStepper_field__notEmpty_8dbebc59, .NumericStepper_field__focused_56f5ba82, .NumericStepper_decoration_430dcd23:hover .NumericStepper_field__focused_56f5ba82 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.NumericStepper_control_a4673ab5 {
  position: absolute;
  right: -2rem;
}
.NumericStepper_control__up_5cd004d3 {
  align-items: flex-end;
  top: -2rem;
}
.NumericStepper_control__down_59a15715 {
  align-items: flex-start;
  bottom: -2rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ResourceStepper_7487cb5a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160rem;
  margin-bottom: 4rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Rate_text_a2e91ef6 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(238, 237, 233, 0.9);
  line-height: 1;
}
.Rate_text__gold_99844245 {
  color: #fecc88;
}
.Rate_text__credits_5f95f14c {
  color: #c5cccc;
}
.Rate_text__bonds_d271d8bf {
  color: #baccbf;
}
.Rate_text__min_d4c3fe31 {
  color: #ffe4c0;
  text-shadow: 0 0 4rem rgba(252, 246, 235, 0.16), 0 0 8rem rgba(255, 196, 108, 0.24), 0 0 16rem rgba(255, 154, 82, 0.5);
}

.Rate_icon_c0fece1a {
  flex: 1;
  width: 23rem;
  height: 16rem;
  margin-right: 6rem;
  background: no-repeat 100% center/contain;
}
.Rate_icon__intelligence_92d7abca {
  width: 19rem;
  margin-right: 4rem;
}
.Rate_icon__currency_e39c71be {
  width: 16rem;
  margin-right: 4rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Storage_icon_ee526815 {
  margin-left: 0;
  margin-right: 5rem;
}
.Storage_icon__reverse_e8e0a133 {
  margin-left: 5rem;
  margin-right: 0;
}

.Storage_value_f68f8626 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(238, 237, 233, 0.9);
  line-height: 1;
  text-shadow: none;
}
.Storage_value__zero_c2260cb9 {
  color: rgb(255, 84, 77);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ResourcesCard_3fbe6840 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 228rem;
  height: 308rem;
  padding-top: 19rem;
  position: relative;
  z-index: 1;
}

.ResourcesCard_imageWrapper_4361447a {
  display: flex;
  margin-top: 20rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.ResourcesCard_imageWrapper__disabled_3a26ca19 {
  cursor: default;
}

.ResourcesCard_storage_b66b29fe {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 9rem;
  right: 11rem;
}

.ResourcesCard_image_f3f1affe {
  width: 180rem;
  height: 135rem;
  position: relative;
  z-index: 1;
}
.ResourcesCard_image__disabled_8b1dc9a8 {
  opacity: 0.3;
}
.ResourcesCard_base__selected_96c8a160 .ResourcesCard_image__disabled_8b1dc9a8 {
  opacity: 1;
}

.ResourcesCard_name_7341031a {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: -4rem;
  margin-bottom: 39rem;
  color: rgba(238, 237, 233, 0.9);
}

.ResourcesCard_rate_7d72cca6 {
  margin-bottom: 8rem;
  opacity: 0;
  transition: opacity 0.2s;
}
.ResourcesCard_base__hasVehicle_96c8a160:hover .ResourcesCard_rate_7d72cca6 {
  opacity: 1;
}

.ResourcesCard_icon_44c44023 {
  flex: 1;
  width: 24rem;
  height: 24rem;
  margin: 1rem -3rem 0 -2rem;
  background: no-repeat center/contain;
}
.ResourcesCard_icon__limit_5f7c7d38 {
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.icon_info");
}
.ResourcesCard_icon__max_20c8c1e {
  width: 25rem;
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.icon_max");
}
.ResourcesCard_icon__loaded_47403a5b {
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.icon_loaded");
}

.ResourcesCard_limitText_b3e4561 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  opacity: 0;
  position: relative;
  z-index: 2;
  transition: opacity 0.2s;
}
.ResourcesCard_limitText__show_96c8a160, .ResourcesCard_3fbe6840:hover .ResourcesCard_limitText_b3e4561 {
  opacity: 1;
}
.ResourcesCard_limitText__max_88a2f490 {
  color: #ff861b;
}
.ResourcesCard_limitText__loaded_9a8baf80 {
  color: #b1f660;
}

.ResourcesCard_card_ffbb6603 {
  width: 100%;
  height: 100%;
}

.ResourcesCard_statusWrapper_70d16500 {
  display: none;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes ResourcesCards_fadeOut_54b5634 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes ResourcesCards_fadeIn_54b5634 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes ResourcesCards_fadeInWithScale_54b5634 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ResourcesCards_slideUp_54b5634 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ResourcesCards_slideUpCenter_54b5634 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ResourcesCards_blink_54b5634 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
.ResourcesCards_f29eea8f {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.ResourcesCards_scrollWrapper_2cc8cbf8 {
  opacity: 0;
  animation: ResourcesCards_fadeIn_54b5634 0.5s ease-out 0s forwards;
  overflow-y: visible;
}

.ResourcesCards_scrollContent_903fe74e {
  display: flex;
  overflow: hidden;
  mask-image: none;
}
.ResourcesCards_base__top_54b5634 .ResourcesCards_scrollContent_903fe74e {
  mask-image: linear-gradient(to top, #000 95%, transparent);
}
.ResourcesCards_base__bottom_54b5634 .ResourcesCards_scrollContent_903fe74e {
  mask-image: linear-gradient(to bottom, #000 95%, transparent);
}
.ResourcesCards_base__both_54b5634 .ResourcesCards_scrollContent_903fe74e {
  mask-image: linear-gradient(to bottom, transparent, #000 5%, #000 95%, transparent);
}

.ResourcesCards_scrollBarPosition_2564c98d {
  height: auto;
  position: absolute;
  top: 0;
  right: -31rem;
  bottom: 0;
  transition: none;
}

.ResourcesCards_cardsWrapper_c248ee90 {
  display: flex;
  flex-wrap: wrap;
  padding: 22rem 0 21rem;
}

.ResourcesCards_item_8c44e672 {
  width: 233rem;
  height: 313rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes ResourcesHeaderItem_fadeOut_b8d7a3f9 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes ResourcesHeaderItem_fadeIn_b8d7a3f9 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes ResourcesHeaderItem_fadeInWithScale_b8d7a3f9 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ResourcesHeaderItem_slideUp_b8d7a3f9 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ResourcesHeaderItem_slideUpCenter_b8d7a3f9 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ResourcesHeaderItem_blink_b8d7a3f9 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
.ResourcesHeaderItem_571dd076 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 21rem;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.mediaMedium .ResourcesHeaderItem_571dd076 {
  padding-bottom: 27rem;
}
.ResourcesHeaderItem_base__active_953d6379 {
  cursor: default;
}

.ResourcesHeaderItem_label_73933285 {
  display: flex;
  margin-bottom: 2rem;
  color: rgba(var(--color-general-secondary-rgb), 0);
  font-size: 16rem;
  font-weight: 600;
  line-height: 18rem;
  transition: color 0.5s;
}
.ResourcesHeaderItem_base__active_953d6379 .ResourcesHeaderItem_label_73933285, .ResourcesHeaderItem_571dd076:hover .ResourcesHeaderItem_label_73933285 {
  color: rgba(var(--color-general-secondary-rgb), 0.9);
}
.ResourcesHeaderItem_base__active_953d6379 .ResourcesHeaderItem_label_73933285, .ResourcesHeaderItem_base__active_953d6379:hover .ResourcesHeaderItem_label_73933285 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.ResourcesHeaderItem_image_9f26e135 {
  display: flex;
  width: 48rem;
  height: 48rem;
  margin: 0 40rem;
  background: no-repeat 0 0/contain;
  filter: brightness(100%);
  transition: filter 0.5s;
}
.mediaMedium .ResourcesHeaderItem_image_9f26e135 {
  width: 80rem;
  height: 80rem;
}
.ResourcesHeaderItem_image__currency_d4f85be8 {
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.category_currency_small");
}
.mediaMedium .ResourcesHeaderItem_image__currency_d4f85be8 {
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.category_currency");
}
.ResourcesHeaderItem_image__blueprints_c397f084 {
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.category_blueprints_small");
}
.mediaMedium .ResourcesHeaderItem_image__blueprints_c397f084 {
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.category_blueprints");
}
.ResourcesHeaderItem_image_9f26e135:hover {
  filter: brightness(150%);
}
.ResourcesHeaderItem_base__active_953d6379 .ResourcesHeaderItem_image_9f26e135 {
  filter: brightness(100%);
}
.ResourcesHeaderItem_base__animated_b8d7a3f9 .ResourcesHeaderItem_image_9f26e135 {
  animation-name: ResourcesHeaderItem_blink_b8d7a3f9;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.9s;
  animation-iteration-count: 1;
}

.ResourcesHeaderItem_deltaPercent_888bdebb {
  color: rgba(var(--color-general-secondary-rgb), 1);
  font-size: 16rem;
  font-weight: 600;
  line-height: 1;
  position: absolute;
  bottom: 6rem;
  transition: color 0.5s;
}
.mediaMedium .ResourcesHeaderItem_deltaPercent_888bdebb {
  font-size: 20rem;
  bottom: 11rem;
}
.ResourcesHeaderItem_deltaPercent__loaded_775ee532 {
  color: rgb(177, 246, 96);
  opacity: 0.8;
}
.mediaMedium .ResourcesHeaderItem_base__active_953d6379 .ResourcesHeaderItem_deltaPercent_888bdebb {
  bottom: 10rem;
}
.ResourcesHeaderItem_base__active_953d6379 .ResourcesHeaderItem_deltaPercent_888bdebb, .ResourcesHeaderItem_base__active_953d6379:hover .ResourcesHeaderItem_deltaPercent_888bdebb {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18rem;
  text-shadow: 0 0 14rem rgba(0, 0, 0, 0.25);
}
.mediaMedium .ResourcesHeaderItem_base__active_953d6379 .ResourcesHeaderItem_deltaPercent_888bdebb, .mediaMedium .ResourcesHeaderItem_base__active_953d6379:hover .ResourcesHeaderItem_deltaPercent_888bdebb {
  font-size: 22rem;
}
.ResourcesHeaderItem_base__active_953d6379 .ResourcesHeaderItem_deltaPercent__loaded_775ee532, .ResourcesHeaderItem_base__active_953d6379:hover .ResourcesHeaderItem_deltaPercent__loaded_775ee532 {
  color: rgb(177, 246, 96);
  opacity: 1;
}

.ResourcesHeaderItem_glow_141d9bf7 {
  width: 400rem;
  height: 148rem;
  background: no-repeat 0 100%/contain;
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.categoryGlow"), url("R.images.resource_well.gui.maps.icons.resourcesLoading.categoryGlowActive");
  filter: saturate(0.6);
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  transition: opacity 0.5s;
  pointer-events: none;
}
.ResourcesHeaderItem_base__active_953d6379 .ResourcesHeaderItem_glow_141d9bf7 {
  opacity: 1;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ResourcesHeader_839e69c3 {
  display: flex;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Content_d86d909 {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  z-index: 1;
}

.Content_header_9d26a7f4 {
  display: flex;
  justify-content: center;
}

.Content_c84d5903 {
  display: flex;
  flex: 1;
  width: 940rem;
  background: url("R.images.resource_well.gui.maps.icons.resourcesLoading.header_bottom_line_small") no-repeat center top;
  position: relative;
}
.mediaMedium .Content_c84d5903 {
  width: 1172rem;
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.header_bottom_line_medium");
}
.mediaLarge .Content_c84d5903 {
  width: 1405rem;
  background-image: url("R.images.resource_well.gui.maps.icons.resourcesLoading.header_bottom_line_large");
}
.Content_content__center_41e47377 {
  justify-content: center;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_7d83acf6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header_title_848ac8f3 {
  display: flex;
  margin-bottom: 13rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-size: 18rem;
  font-weight: 600;
  line-height: 20rem;
}
.mediaLarge .Header_title_848ac8f3 {
  margin-bottom: 24rem;
  font-size: 20rem;
}
.mediaExtraLarge .Header_title_848ac8f3 {
  margin-bottom: 46rem;
  font-size: 24rem;
}

.Header_subtitle_ebe5184e {
  display: flex;
  color: rgba(238, 237, 233, 0.9);
  font-size: 40rem;
  font-weight: 600;
  line-height: 32rem;
}
.mediaLarge .Header_subtitle_ebe5184e {
  font-size: 56rem;
}
.mediaExtraLarge .Header_subtitle_ebe5184e {
  font-size: 80rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes App_fadeOut_0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes App_fadeIn_0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_slideUpCenter_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_blink_0 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
.App_ee95fab5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.App_base__blur_0 .App_background_b5ce4082,
.App_base__blur_0 .App_wrapper_f23099db {
  filter: blur(55px);
  transition: filter 0.3s;
}

.App_background_b5ce4082 {
  opacity: 0;
  animation: App_fadeIn_0 0.5s ease-in-out 0.25s forwards;
  width: 100%;
  height: 100%;
  background: url("R.images.resource_well.gui.maps.icons.backgrounds.mainBg_blur") no-repeat center/1766rem 922rem;
  position: absolute;
  top: -50rem;
  left: 0;
}
.mediaMedium .App_background_b5ce4082 {
  background-size: 2290rem 1194rem;
}
.mediaLarge .App_background_b5ce4082 {
  background-size: 2700rem 1408rem;
}
.mediaExtraLarge .App_background_b5ce4082 {
  background-size: 3640rem 1900rem;
  top: 0;
}

.App_wrapper_f23099db {
  opacity: 0;
  animation: App_fadeIn_0 0.5s ease-in-out 0.25s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 162rem;
  overflow: hidden;
  position: relative;
}
.mediaMedium .App_wrapper_f23099db {
  padding-bottom: 200rem;
}
.mediaLarge .App_wrapper_f23099db {
  padding-bottom: 228rem;
}

.App_solidBackground_fab1cfb4 {
  opacity: 0;
  animation: App_fadeIn_0 0.5s ease-in 0s forwards;
  width: 100%;
  height: 100%;
  background-color: #131417;
  position: absolute;
}

.App_header_eefc9528 {
  margin-bottom: 35rem;
  padding-top: 30rem;
}
.mediaMedium .App_header_eefc9528 {
  margin-bottom: 48rem;
}
.mediaLarge .App_header_eefc9528 {
  margin-bottom: 60rem;
  padding-top: 40rem;
}
.mediaExtraLarge .App_header_eefc9528 {
  margin-bottom: 153rem;
  padding-top: 48rem;
}

.App_close_c4e6c691 {
  position: absolute;
  top: 20rem;
  right: 20rem;
}
.mediaMedium .App_close_c4e6c691 {
  top: 24rem;
  right: 24rem;
}
.mediaLarge .App_close_c4e6c691 {
  top: 32rem;
  right: 32rem;
}
.mediaExtraLarge .App_close_c4e6c691 {
  top: 40rem;
  right: 40rem;
}

.App_counter_bb31fd22 {
  position: absolute;
  top: 34rem;
  left: 32rem;
}
.mediaMedium .App_counter_bb31fd22 {
  top: 38rem;
  left: 36rem;
}
.mediaLarge .App_counter_bb31fd22 {
  top: 46rem;
  left: 40rem;
}
.mediaExtraLarge .App_counter_bb31fd22 {
  top: 54rem;
  left: 50rem;
}

.App_footer_1a5766c7 {
  height: auto;
  position: absolute;
  bottom: 23rem;
}
.mediaMedium .App_footer_1a5766c7 {
  height: auto;
}
.mediaLarge .App_footer_1a5766c7 {
  bottom: 33rem;
}