/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.SelectButton_df01c813 {
  width: 46rem;
  height: 42rem;
  margin: 0 22rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.SelectButton_base__plus_9f156c53 {
  background-image: url("R.images.gui.maps.icons.selectableReward.reward.selectButton.plus_enabled");
}
.SelectButton_base__plus_9f156c53:hover {
  background-image: url("R.images.gui.maps.icons.selectableReward.reward.selectButton.plus_hover");
}
.SelectButton_base__plus_9f156c53.SelectButton_base__disabled_4a6c3694 {
  background-image: url("R.images.gui.maps.icons.selectableReward.reward.selectButton.plus_disabled");
  cursor: default;
}
.SelectButton_base__minus_87281dba {
  background-image: url("R.images.gui.maps.icons.selectableReward.reward.selectButton.minus_enabled");
}
.SelectButton_base__minus_87281dba:hover {
  background-image: url("R.images.gui.maps.icons.selectableReward.reward.selectButton.minus_hover");
}
.SelectButton_base__minus_87281dba.SelectButton_base__disabled_4a6c3694 {
  background-image: url("R.images.gui.maps.icons.selectableReward.reward.selectButton.minus_disabled");
  cursor: default;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Card_c1f862f8 {
  width: 216rem;
  height: 248rem;
  position: relative;
}
.Card_base__hovered_4c476d8b {
  cursor: pointer;
}

.Card_bg_977860b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat 50% / contain;
  transition: opacity 0.5s ease-in-out;
  width: 216rem;
  height: 248rem;
  background-image: url("R.images.halloween.gui.maps.icons.rewardSelection.card");
  opacity: 1;
}
.Card_base__hovered_4c476d8b .Card_bg_977860b {
  opacity: 0;
}

.Card_selectedBg_64049e6f {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat 50% / contain;
  transition: opacity 0.5s ease-in-out;
  width: 228rem;
  height: 260rem;
  background-image: url("R.images.halloween.gui.maps.icons.rewardSelection.card_selected");
  opacity: 1;
}

.Card_hoverBg_83d977dd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat 50% / contain;
  transition: opacity 0.5s ease-in-out;
  width: 218rem;
  height: 250rem;
  background-image: url("R.images.halloween.gui.maps.icons.rewardSelection.card_hovered");
  opacity: 0;
}
.Card_base__hovered_4c476d8b .Card_hoverBg_83d977dd {
  opacity: 1;
}
.Card_base__selected_f4c22d1c .Card_hoverBg_83d977dd {
  opacity: 0;
}

.Card_icon_444f03e7 {
  width: 158rem;
  height: 118rem;
  margin: 37rem 28rem 15rem;
  background: no-repeat 50% / contain;
  opacity: 1;
  position: relative;
  z-index: 1;
  transition: opacity 0.3s ease-in;
}
.Card_base__disabled_f4c22d1c .Card_icon_444f03e7 {
  opacity: 0.5;
}

.Card_disabled_4a91a979 {
  background: url("R.images.gui.maps.icons.selectableReward.reward.s180x135.disable") no-repeat
    center/contain;
  opacity: 0;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
  mask-size: contain;
  mask-repeat: no-repeat;
}
.Card_base__disabled_f4c22d1c .Card_disabled_4a91a979 {
  opacity: 0.2;
}

.Card_name_fdc4c026 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 100%;
  margin-top: 6rem;
  color: #e9e2bf;
  text-align: center;
  position: relative;
  z-index: 1;
}

.Card_counter_945b734b {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  color: #f2f2f7;
  opacity: 0;
  bottom: 7rem;
  transition: opacity 0.3s ease-in;
}
.Card_base__selected_f4c22d1c .Card_counter_945b734b,
.Card_base__hovered_4c476d8b .Card_counter_945b734b {
  opacity: 1;
}
.Card_base__disabled_f4c22d1c .Card_counter_945b734b {
  opacity: 0;
  pointer-events: none;
}

.Card_limit_2fbd8689 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  bottom: -23rem;
  z-index: 1;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
}
.Card_base__hovered_4c476d8b .Card_limit_2fbd8689 {
  opacity: 1;
  pointer-events: auto;
}

.Card_alertText_616121fe {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  width: 100%;
  margin-bottom: -11rem;
  color: #ee7000;
  text-align: center;
}

.Card_alert_df34bccc {
  width: 48rem;
  height: 48rem;
  background: url("R.images.gui.maps.icons.selectableReward.reward.state.alert") no-repeat
    center/contain;
}

.Card_glow_3cd73aff {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 206rem;
  height: 78rem;
  background: url("R.images.gui.maps.icons.selectableReward.reward.state.orange_glow") no-repeat
    center/contain;
  opacity: 0;
  mix-blend-mode: screen;
  bottom: -1rem;
  transition: opacity 0.3s ease-in;
  transition-duration: 0.5s;
  pointer-events: none;
}
.Card_base__hovered_4c476d8b .Card_glow_3cd73aff,
.Card_base__selected_f4c22d1c .Card_glow_3cd73aff {
  opacity: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Cards_59683d0c {
  display: flex;
  justify-content: center;
}

.Cards_item_9009eb9f {
  margin-right: 24rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Certificates_64711957 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Certificates_crewLabel_1fab21ae {
  font-size: 16rem;
  font-weight: 700;
  line-height: 1.3em;
  width: 100%;
  margin-top: 18rem;
  color: #e9e2bf;
  text-align: center;
  text-shadow: -4px 7px 0px rgba(255, 39, 23, 0.21);
}

.Certificates_crewIcon_daf00836 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48rem;
  height: 48rem;
  margin-left: 11rem;
  margin-top: -1rem;
  background: no-repeat 50% / contain;
  opacity: 1;
  position: relative;
  transition: opacity 0.5s ease-in-out;
}
.mediaMedium .Certificates_crewIcon_daf00836 {
  width: 80rem;
  height: 80rem;
  margin-left: 17rem;
}
.Certificates_crewIcon__completed_52c42efb {
  opacity: 0.5;
}

.Certificates_count_6da8aa7 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  width: 100%;
  color: #e9e2bf;
  text-align: center;
  text-shadow: -4px 7px 0px rgba(255, 39, 23, 0.21);
  opacity: 0.8;
  position: relative;
  top: -5rem;
  z-index: 1;
}

.Certificates_glow_b547aa50 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 400rem;
  height: 138rem;
  background: url("R.images.halloween.gui.maps.icons.rewardSelection.glow") no-repeat 50% / contain;
  bottom: 0;
  pointer-events: none;
}

.Certificates_check_420c1d78 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 46rem;
  height: 48rem;
  margin-left: -14rem;
  margin-top: -18rem;
  background: url("R.images.gui.maps.icons.selectableReward.tabs.check") no-repeat center/contain;
  opacity: 0;
  transform: scale(1.5);
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  pointer-events: none;
}
.Certificates_check__completed_e00911b {
  opacity: 1;
  transform: scale(1);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.RewardSelectionApp_74403dd9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.RewardSelectionApp_certificates_97297186 {
  width: 160rem;
  height: 114rem;
  margin-top: -60rem;
}
.mediaMedium .RewardSelectionApp_certificates_97297186 {
  height: 162rem;
  margin-top: -48rem;
}
.mediaLarge .RewardSelectionApp_certificates_97297186 {
  margin-top: -32rem;
}
.mediaExtraLarge .RewardSelectionApp_certificates_97297186 {
  margin-top: 4rem;
}

.RewardSelectionApp_content_84848fb6 {
  width: 936rem;
  height: 378rem;
  border-top: 1rem solid rgba(255, 255, 255, 0.1);
  border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
}
.mediaMedium .RewardSelectionApp_content_84848fb6 {
  width: 1176rem;
  height: 455rem;
}
.mediaLarge .RewardSelectionApp_content_84848fb6 {
  width: 1416rem;
  height: 568rem;
}
.mediaExtraLarge .RewardSelectionApp_content_84848fb6 {
  height: 894rem;
}

.RewardSelectionApp_cards_90e2a11a {
  margin: 24rem 0 0 24rem;
}
.mediaLarge .RewardSelectionApp_cards_90e2a11a {
  margin-top: 23rem;
}
