/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes RankEmblem_fadeIn_5ce355bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankEmblem_fadeInThreeQuarters_5ce355bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes RankEmblem_fadeInHalf_5ce355bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes RankEmblem_fadeOut_5ce355bf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes RankEmblem_fadeInWithScale_5ce355bf {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes RankEmblem_slideUp_5ce355bf {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes RankEmblem_scale_5ce355bf {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes RankEmblem_raysAppearance_5ce355bf {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes RankEmblem_rotate_5ce355bf {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes RankEmblem_reverse-rotate_5ce355bf {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes RankEmblem_glowAppearance_5ce355bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankEmblem_highlightAppearance_5ce355bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes RankEmblem_blink_5ce355bf {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankEmblem_slideUpIn_5ce355bf {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.RankEmblem_cd03f035 {
  width: var(--imageSize);
  height: var(--imageSize);
  background: no-repeat center/cover;
}
