.CButton_base_40 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
  background-size: 100% 100%;
}

.CButton_base__main_42 {
  background-image: url("R.images.gui.maps.icons.components.button.back_main");
}

.CButton_base__primary_7f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary");
}

.CButton_base__primaryGreen_6f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_green");
}

.CButton_base__primaryRed_ec {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_red");
}

.CButton_base__secondary_50 {
  background-image: url("R.images.gui.maps.icons.components.button.back_secondary");
}

.CButton_base__ghost_ed {
  border-radius: 3rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
  background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
  min-height: 17rem;
  padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
  padding: 0 20rem;
}

.CButton_base__small_df {
  min-height: 18rem;
}

.CButton_base__medium_74 {
  min-height: 32rem;
}

.CButton_base__disabled_d9 {
  cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_main");
}
.CButton_base__primary_7f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary");
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_green");
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_red");
}
.CButton_base__secondary_50 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_secondary");
}
.CButton_texture_fe {
  background: url("R.images.gui.maps.icons.components.button.standard_texture_file");
  background-size: 155rem 31rem;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_state_11 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
  border-radius: 2rem;
  box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
  transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
  background-image: linear-gradient(
    180deg,
    rgba(252, 248, 235, 0.25) 0%,
    rgba(252, 248, 235, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
  opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
  box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
  background-color: rgba(8, 6, 0, 0.18);
  background-image: none;
}
.CButton_stateHighlightActive_35 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
  opacity: 1;
}
.CButton_stateDisabled_54 {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("R.images.gui.maps.icons.components.button.texture_disable");
  background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
  opacity: 1;
}
.CButton_content_cc {
  display: flex;
  align-items: center;
  color: #f2f2e6;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 -1rem 1rem #000;
  letter-spacing: 0.03em;
  transform: translateY(-1rem);
}
.CButton_content_cc[lang="ja"],
.CButton_content_cc[lang="ko"],
.CButton_content_cc[lang="zh_tw"],
.CButton_content_cc[lang="zh_sg"],
.CButton_content_cc[lang="zh_cn"],
.CButton_content_cc[lang="th"] {
  font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
  color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
  font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
  font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
  font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
  opacity: 0.6;
}

.TextButton_base_b6 {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 12rem;
  position: relative;
  cursor: pointer;
}

.TextButton_base__right_39 {
  flex-direction: row-reverse;
}
.TextButton_icon_17 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.back");
  transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
  transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
  margin: -1rem 0;
  background-image: url("R.images.gui.maps.icons.components.text_button.close");
}
.TextButton_icon__info_33 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.info");
}
.TextButton_glow_a4 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.back_hover");
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.close_hover");
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.info_hover");
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
  opacity: 0;
}
.TextButton_caption_82 {
  position: relative;
  transition:
    color 0.16s,
    text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
  color: #ffdd99;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
  color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
  color: #ffdd99;
}
.TextButton_caption__info_23 {
  padding: 0 5rem;
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
  color: #e3ffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 12rem rgba(0, 234, 255, 1),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.6),
    0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
  color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
  margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
  margin-right: 8rem;
}
.TextButton_shine_e2 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transition: opacity 0.16s;
  pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
  left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
  right: -4rem;
  transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
  opacity: 0;
}

.Background_base_94 {
  width: 100%;
  height: 100%;
  background: no-repeat 50% / cover;
  position: absolute;
}

.Background_base__blur_69 {
  filter: blur(12px);
}

.Background_vignette_79 {
  width: 100%;
  height: 100%;
  background: url("R.images.story_mode.gui.maps.icons.common.vignette") no-repeat 50% / 100%;
  position: absolute;
}

.Background_preloader_7d {
  display: none;
}

@keyframes CongratulationsWindowApp_fadeIn_6e {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes CongratulationsWindowApp_fadeInWithScale_c1 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes CongratulationsWindowApp_slideUp_2d {
  0% {
    margin-top: 20rem;
    opacity: 0;
  }

  100% {
    margin-top: 0rem;
    opacity: 1;
  }
}

@keyframes CongratulationsWindowApp_rotation_09 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.CongratulationsWindowApp_base_49 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.CongratulationsWindowApp_headerShining_19 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 1920rem;
  height: 660rem;
  background: url("R.images.story_mode.gui.maps.icons.common.victory_back") no-repeat 50% / cover;
  opacity: 0.6;
  top: 0;
}

.CongratulationsWindowApp_subTitle_04 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #f2f2f7;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  opacity: 0;
  animation-name: CongratulationsWindowApp_slideUp_2d;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  top: 48rem;
}

.mediaMedium .CongratulationsWindowApp_subTitle_04 {
  color: #f2f2f7;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  top: 49rem;
}

.CongratulationsWindowApp_title_dc {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  opacity: 0;
  animation-name: CongratulationsWindowApp_slideUp_2d;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  top: 74rem;
}

.mediaMedium .CongratulationsWindowApp_title_dc {
  color: #f2f2f7;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
  top: 83rem;
}

.CongratulationsWindowApp_medal_d6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-name: CongratulationsWindowApp_fadeInWithScale_c1;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.6s;
  animation-iteration-count: 1;
}

.CongratulationsWindowApp_medalImage_67 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400rem;
  height: 300rem;
  margin-top: -44rem;
  background: url("R.images.gui.maps.icons.achievement.c_400x300.onboardingMedal") no-repeat 50% /
    contain;
}

.mediaMedium .CongratulationsWindowApp_medalImage_67 {
  width: 600rem;
  height: 450rem;
  margin-top: -66rem;
  background-image: url("R.images.gui.maps.icons.achievement.c_600x450.onboardingMedal");
}

.CongratulationsWindowApp_medalName_2d {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-name: CongratulationsWindowApp_fadeIn_6e;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  margin-top: 103rem;
}

.mediaMedium .CongratulationsWindowApp_medalName_2d {
  color: #e9e2bf;
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 162rem;
}

.CongratulationsWindowApp_continueButton_39 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  animation-name: CongratulationsWindowApp_slideUp_2d;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.2s;
  animation-iteration-count: 1;
  min-width: 160rem;
  bottom: 51rem;
}

.mediaLarge .CongratulationsWindowApp_continueButton_39 {
  bottom: 81rem;
}

.CongratulationsWindowApp_ribbon_6d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-name: CongratulationsWindowApp_slideUp_2d;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.4s;
  animation-iteration-count: 1;
}

.CongratulationsWindowApp_ribbonImage_aa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1366rem;
  height: 356rem;
  margin-top: 44rem;
  background: url("R.images.story_mode.gui.maps.icons.congratulations.ribbon.extraSmall") no-repeat
    50% / contain;
}

.mediaMedium .CongratulationsWindowApp_ribbonImage_aa {
  width: 1600rem;
  height: 417rem;
  background-image: url("R.images.story_mode.gui.maps.icons.congratulations.ribbon.medium");
}

.mediaLarge .CongratulationsWindowApp_ribbonImage_aa {
  width: 1920rem;
  height: 500rem;
  margin-top: 80rem;
  background-image: url("R.images.story_mode.gui.maps.icons.congratulations.ribbon.large");
}

.CongratulationsWindowApp_shine_16 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-name: CongratulationsWindowApp_fadeIn_6e;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  width: 800rem;
  height: 800rem;
  margin-top: -14rem;
  background: url("swf://gui/flash/animations/glows/rays.swf") no-repeat 50% / contain;
  mix-blend-mode: additive;
}

.mediaMedium .CongratulationsWindowApp_shine_16 {
  width: 1000rem;
  height: 1000rem;
}

.CongratulationsWindowApp_lines_80 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-name: CongratulationsWindowApp_fadeIn_6e;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.CongratulationsWindowApp_linesImage_6f {
  animation: CongratulationsWindowApp_rotation_09 120s linear infinite;
  width: 920rem;
  height: 920rem;
  background: url("R.images.story_mode.gui.maps.icons.common.radial_lines.extraSmall") no-repeat
    50% / contain;
  mix-blend-mode: additive;
}

.mediaMedium .CongratulationsWindowApp_linesImage_6f {
  width: 1300rem;
  height: 1300rem;
  background-image: url("R.images.story_mode.gui.maps.icons.common.radial_lines.medium");
}

.CongratulationsWindowApp_closeBtn_5e {
  align-self: flex-end;
  position: absolute;
  top: 31rem;
  right: 28rem;
}

.CongratulationsWindowApp_loading_54 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 45rem;
}
