/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#NarrationText_root_81c4bd4a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.NarrationText_e60fa2f1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 560rem;
  height: 100%;
  margin-left: 85rem;
  opacity: 1;
  transform: translateY(0%);
  transition:
    opacity 0.8s 1.6s cubic-bezier(0.3, 0, 0, 1),
    transform 0.8s 1.6s cubic-bezier(0.3, 0, 0, 1);
}
.mediaMedium .NarrationText_e60fa2f1 {
  max-width: 642rem;
  margin-left: 95rem;
}
.mediaLarge .NarrationText_e60fa2f1 {
  max-width: 672rem;
  margin-left: 169rem;
}
.NarrationText_base__first_1ff40c1e {
  opacity: 0;
  transform: translateY(-1.5%);
}
.NarrationText_base__switch_f5f39cf4 {
  animation: NarrationText_switchText_81c4bd4a 0.2s infinite alternate step-end;
}

.NarrationText_voicerToggle_7996a30f {
  margin-left: 5rem;
}

.NarrationText_voicerImage_ddd59b26 {
  width: 20rem;
  height: 20rem;
  margin-right: 4rem;
  background: url("R.images.last_stand.gui.maps.icons.hangar.sound") no-repeat center center;
  background-size: cover;
}

.NarrationText_textWrapper_7851e39a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 553rem;
}
.mediaMedium .NarrationText_textWrapper_7851e39a {
  height: 642rem;
}
.mediaLarge .NarrationText_textWrapper_7851e39a {
  height: 744rem;
}

.NarrationText_title_c6323ea8 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  padding-left: 5rem;
  color: #eeede9;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.9;
}
.mediaMedium .NarrationText_title_c6323ea8 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.3em;
  font-size: 34rem;
}
.mediaLarge .NarrationText_title_c6323ea8 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  font-size: 40rem;
  font-weight: 600;
}

.NarrationText_shadow_c558de93 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  background-color: #000;
  filter: blur(50px);
  opacity: 0.5;
  z-index: 0;
}

.NarrationText_scrollTextWrapper_2966ec7f {
  display: flex;
  max-height: 473rem;
  margin-top: 20rem;
  position: relative;
}
.mediaMedium .NarrationText_scrollTextWrapper_2966ec7f {
  max-height: 560rem;
  margin-top: 13rem;
}
.mediaLarge .NarrationText_scrollTextWrapper_2966ec7f {
  max-height: 671rem;
  margin-top: 10rem;
}

.NarrationText_scrollContentWrapper_5d272dcd {
  display: flex;
  align-items: center;
  mask-image: linear-gradient(to bottom, transparent, #000 2%, #000 98%, transparent);
  padding: 5rem 0;
}

.NarrationText_text_7fbf87ef {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  padding: 0 0 10rem 5rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 400;
  line-height: 1.15em;
  text-shadow: 0 2px 8px #000;
  white-space: pre-wrap;
  opacity: 0.8;
}
.mediaMedium .NarrationText_text_7fbf87ef {
  font-size: 26rem;
}
.mediaLarge .NarrationText_text_7fbf87ef {
  font-size: 30rem;
}

.NarrationText_highlightText_c7174a16 {
  margin: 0 -4rem;
  padding: 0 4rem;
  background: rgba(255, 0, 0, 0.2);
  color: #f68682;
}
.NarrationText_highlightText__secondary_e31000ce {
  background: #141212;
  color: #c0132d;
}

.NarrationText_titleParagraph_117b3e67 {
  width: 100%;
  height: 2rem;
}

.NarrationText_paragraph_a1fd10d6 {
  width: 100%;
  height: 20rem;
}
.mediaMedium .NarrationText_paragraph_a1fd10d6 {
  height: 26rem;
}
.mediaLarge .NarrationText_paragraph_a1fd10d6 {
  height: 30rem;
}

.NarrationText_nowrap_e19b022d {
  white-space: nowrap;
}

@keyframes NarrationText_switchText_81c4bd4a {
  0% {
    opacity: 1;
    transform: translate(-0.05%, 1%);
  }
  95%,
  45% {
    transform: translate(0.1%, -0.5%);
  }
  50% {
    opacity: 0.5;
    transform: translate(0.07%, 1%);
  }
  85% {
    transform: translate(-0.1%, -1.2%);
  }
  15%,
  100% {
    opacity: 1;
    transform: translate(-0.05%, 0.8%);
  }
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#NarrationContent_root_f63a5362,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.NarrationContent_vignette_4eea4cea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.NarrationContent_5f0e9d0b {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.NarrationContent_content_3e11b3cf {
  position: absolute;
  top: 50%;
  left: 59%;
  transition: left 1.2s left 0.8s ease;
}
.NarrationContent_content__first_2210ffaa {
  left: 32%;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
}
.NarrationContent_content__switch_a633cfb7 {
  animation: NarrationContent_switchShake_f63a5362 0.2s infinite alternate step-end;
}

.NarrationContent_vignette_4eea4cea {
  background: url("R.images.last_stand.gui.maps.icons.backgrounds.vignette_simple") no-repeat
    50%/100% 100%;
  mix-blend-mode: normal;
  pointer-events: none;
}

@keyframes NarrationContent_switchShake_f63a5362 {
  0% {
    top: 49.8%;
    left: 59%;
  }
  45% {
    top: 50.5%;
    left: 58.8%;
  }
  50% {
    top: 50.2%;
    left: 59%;
  }
  85% {
    top: 49.4%;
    left: 58.6%;
  }
  100% {
    top: 49.2%;
    left: 59.3%;
  }
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#NarrationSlider_root_1cceddaa,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.NarrationSlider_blackScreen_aa8a7b8a,
.NarrationSlider_video_bac7813f {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.NarrationSlider_52899b6f {
  width: 100%;
  height: 100%;
  position: relative;
}

.NarrationSlider_blackScreen_aa8a7b8a {
  background-color: #101010;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}
.NarrationSlider_blackScreen__show_a64fda4f {
  opacity: 1;
}
.NarrationSlider_blackScreen__hide_b6adbcdb {
  opacity: 0;
}

.NarrationSlider_slideButton_3ef51db8 {
  width: 48rem;
  height: 92rem;
}
.mediaLarge .NarrationSlider_slideButton_3ef51db8 {
  width: 74rem;
  height: 142rem;
}

.NarrationSlider_buttonWrapper_d86e1fae {
  margin-top: -12rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.NarrationSlider_buttonWrapper__right_a0c8af8f {
  right: 21rem;
}
.NarrationSlider_buttonWrapper__left_a75c32d {
  left: 21rem;
}
.mediaLarge .NarrationSlider_buttonWrapper__right_a0c8af8f {
  right: 38rem;
}
.mediaLarge .NarrationSlider_buttonWrapper__left_a75c32d {
  left: 38rem;
}

.NarrationSlider_buttonNumLabel_e82adf30 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  font-weight: 400;
  text-shadow: 0 2rem 8rem #000;
}

.NarrationSlider_slideWrapper_853cc82f {
  width: 100%;
  height: 100%;
  position: relative;
  transition: filter 0.2s ease;
}
.NarrationSlider_slideWrapper__blur_b61bfecc {
  filter: blur(6rem);
}
.NarrationSlider_slideWrapper__unblur_fe6e2e1a {
  filter: blur(0rem);
}

.NarrationSlider_video_bac7813f {
  mix-blend-mode: screen;
  z-index: 999;
  transform: scale(-1, 1);
  transition: opacity 0.1s linear;
  pointer-events: none;
}
.NarrationSlider_video__hide_b6adbcdb {
  opacity: 0;
}
.NarrationSlider_video__show_a64fda4f {
  opacity: 1;
}

.NarrationSlider_prevArrow_f0d71b7f,
.NarrationSlider_nextArrow_ab02e93d {
  width: 19rem;
  height: 52rem;
  background: url("R.images.last_stand.gui.maps.icons.hangar.narration_arrow_right") no-repeat
    50%/100% 100%;
}
.mediaLarge .NarrationSlider_prevArrow_f0d71b7f,
.mediaLarge .NarrationSlider_nextArrow_ab02e93d {
  width: 28rem;
  height: 78rem;
}

.NarrationSlider_prevArrow_f0d71b7f {
  background-image: url("R.images.last_stand.gui.maps.icons.hangar.narration_arrow_right");
  transform: scaleX(-1);
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#NarrationApp_root_efcd78c3,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.NarrationApp_b32d4a89 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: relative;
}

.NarrationApp_parallaxRef_ef33ec2d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 102vw;
  height: 102vh;
  z-index: 999;
  pointer-events: none;
}

.NarrationApp_closeButton_f57beb0f {
  position: absolute;
  top: 30rem;
  right: 30rem;
  z-index: 1;
}
