.HorizontalBar_base_49 {
  display: flex;
  width: 100%;
  height: 13rem;
  position: relative;
}

.HorizontalBar_base__nonActive_82 {
  visibility: hidden;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transform: rotate(-90deg);
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
  opacity: 1;
}

.HorizontalBar_leftButton_5f {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.HorizontalBar_rightButton_03 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.HorizontalBar_track_0d {
  flex: 1;
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}

.HorizontalBar_thumb_fd {
  display: none;
  flex: 0 0 100%;
  width: 100%;
  min-width: 20rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb_horizontal")
    no-repeat center / 8rem 7rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
  opacity: 1;
}

.HorizontalBar_rail_32 {
  height: 0;
  border-top: 1rem solid #2f2e24;
  position: absolute;
  top: 6rem;
  right: 5rem;
  left: 5rem;
}

.HorizontalBar_rail_32:hover {
  opacity: 0.7;
}

.HorizontalScroll_base_29 {
  width: 100%;
}

.HorizontalScroll_wrapper_1e {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
  width: 100%;
  margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: 100%;
  position: relative;
}

.VerticalBar_base__nonActive_42 {
  visibility: hidden;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
  opacity: 1;
}

.VerticalBar_topButton_d7 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.VerticalBar_bottomButton_06 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.VerticalBar_track_df {
  flex: 1;
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
}

.VerticalBar_thumb_32 {
  display: flex;
  flex: 0 0 13rem;
  width: 13rem;
  height: 100%;
  min-height: 20rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb") no-repeat center /
    7rem 8rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_thumb_32:hover {
  opacity: 1;
}

.VerticalBar_rail_43 {
  width: 0;
  height: 100%;
  border-left: 1rem solid #2f2e24;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  position: absolute;
  top: 0;
  left: 6rem;
  z-index: 0;
}

.VerticalBar_rail_43:hover {
  opacity: 0.7;
}

.VerticalScroll_content_cb {
  height: 100%;
  overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
  display: flex;
}

.VerticalScroll_bar_1e {
  flex: 1;
  margin-left: 7rem;
}

.VerticalScroll_area_af {
  flex: 1;
}

.TextButton_base_b6 {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 12rem;
  position: relative;
  cursor: pointer;
}

.TextButton_base__right_39 {
  flex-direction: row-reverse;
}
.TextButton_icon_17 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.back");
  transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
  transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
  margin: -1rem 0;
  background-image: url("R.images.gui.maps.icons.components.text_button.close");
}
.TextButton_icon__info_33 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.info");
}
.TextButton_glow_a4 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.back_hover");
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.close_hover");
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.info_hover");
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
  opacity: 0;
}
.TextButton_caption_82 {
  position: relative;
  transition:
    color 0.16s,
    text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
  color: #ffdd99;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
  color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
  color: #ffdd99;
}
.TextButton_caption__info_23 {
  padding: 0 5rem;
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
  color: #e3ffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 12rem rgba(0, 234, 255, 1),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.6),
    0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
  color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
  margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
  margin-right: 8rem;
}
.TextButton_shine_e2 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transition: opacity 0.16s;
  pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
  left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
  right: -4rem;
  transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
  opacity: 0;
}

.PageTitle_base_ef {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PageTitle_title_33 {
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}

.mediaMedium .PageTitle_title_33 {
  font-size: 56rem;
}

.default_sectionTitleLong_f5 {
  color: #fefeec;
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 41rem;
}

.default_sectionTitleSmall_45 {
  color: #fefeec;
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 18rem;
}

.default_sectionTitleSmall__biggerMargin_5b {
  margin-bottom: 26rem;
}

.default_sectionTitleSmall__largeMargin_e4 {
  margin-bottom: 34rem;
}

.default_sectionSubtitle_6e {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10rem;
}

.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

.AboutSection_base_9b {
  padding: 46rem 0 65rem;
}

.AboutSection_description_ac {
  margin-bottom: 16rem;
}

.AboutSection_battlePass_03 {
  display: flex;
  margin-bottom: 26rem;
}

.AboutSection_battlePassImgContainer_b8 {
  padding: 0 40rem 0 20rem;
}

.AboutSection_battlePassImg_15 {
  width: 136rem;
  height: 136rem;
  background: url("R.images.frontline.gui.maps.infopage.BP_icon_points") no-repeat center / contain;
}

.AboutSection_battlePassText_4c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0;
}

.AboutSection_table_4b {
  display: flex;
  width: 50%;
  margin-top: 10rem;
}

.AboutSection_tableColumn_4e {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.AboutSection_tableCell_1a {
  display: flex;
  align-items: center;
  height: 60rem;
}

.AboutSection_tableCell_1a + .AboutSection_tableCell_1a {
  border-top: 1rem rgba(255, 255, 255, 0.05) solid;
}

.AboutSection_tableCell__centered_c2 {
  justify-content: center;
}

.AboutSection_tableCellText_1f {
  margin-bottom: 3rem;
}

.AboutSection_tableBpImg_d4 {
  width: 16rem;
  height: 16rem;
  margin-left: 8rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.points_16") no-repeat center /
    contain;
}

.ExtendedText_base_71 {
  display: flex;
  line-height: 1.2;
  position: relative;
}

.ExtendedText_base__zeroPadding_25 {
  padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
  width: 100%;
}

.ExtendedText_truncated_97 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.ExtendedText_truncated__hide_31 {
  opacity: 0;
}

.ExtendedText_unTruncated_b8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  color: #ff2717;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.colors_blackReal_fc {
  color: #000000;
}

.colors_whiteReal_31 {
  color: #ffffff;
}

.colors_white_45 {
  color: #f2f2f7;
}

.colors_whiteOrange_81 {
  color: #fefeec;
}

.colors_whiteSpanish_c3 {
  color: #e9e2bf;
}

.colors_par_5b {
  color: #8c8c7e;
}

.colors_parSecondary_fd {
  color: #595950;
}

.colors_parTertiary_97 {
  color: #37362e;
}

.colors_red_79 {
  color: #ff2717;
}

.colors_redDark_73 {
  color: #b70000;
}

.colors_yellow_76 {
  color: #feab34;
}

.colors_orange_cd {
  color: #ee7000;
}

.colors_cream_0f {
  color: #ffdd99;
}

.colors_brown_82 {
  color: #cbac77;
}

.colors_greenBright_68 {
  color: #80d43a;
}

.colors_green_fa {
  color: #7ab300;
}

.colors_greenDark_a9 {
  color: #497212;
}

.colors_blueBooster_26 {
  color: #ccffff;
}

.colors_blueTeamkiller_86 {
  color: #09e2ff;
}

.colors_cred_35 {
  color: #ced9d9;
}

.colors_gold_c3 {
  color: #ffc363;
}

.colors_bond_ce {
  color: #c9c9b6;
}

.colors_prom_83 {
  color: #a29b70;
}

.renderers_noBreakWrapper_10 {
  display: flex;
  flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
  width: 100%;
  height: 0;
}

.renderers_newLine_bd {
  flex: 1;
  width: 100%;
}

.DividedSection_base_dd {
  padding: 46rem 0 65rem;
  position: relative;
}

.DividedSection_divider_6e {
  width: 100%;
  height: 120rem;
  background: url("R.images.frontline.gui.maps.infopage.divider") round;
  position: absolute;
  bottom: -60rem;
}

.AddonsSection_description_66 {
  display: flex;
  justify-content: space-between;
}

.AddonsSection_column_fb {
  flex: 0;
  width: 285rem;
}

.AddonsSection_column_fb + .AddonsSection_column_fb {
  margin-left: 15rem;
}

.AddonsSection_text_08 {
  display: flex;
}

.LevelUpSection_container_a4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35rem;
}

.LevelUpSection_text_2a {
  width: 400rem;
}

.mediaMedium .LevelUpSection_text_2a {
  width: 450rem;
}

.LevelUpSection_img_a3 {
  width: 470rem;
  height: 280rem;
  background: url("R.images.frontline.gui.maps.infopage.level_up") no-repeat center / contain;
  position: relative;
}

.LevelUpSection_level_e3 {
  width: 100rem;
  height: 80rem;
  background: no-repeat center / contain;
  position: absolute;
  top: 68rem;
  transform: translate(-50%, -50%);
}

.LevelUpSection_level__left_fa {
  left: 138rem;
}

.LevelUpSection_level__right_0e {
  right: 146rem;
  transform: translate(50%, -50%);
}

.MainInfoSection_base_81 {
  padding: 0 0 65rem;
}

.MainInfoSection_row_c7 {
  display: flex;
  justify-content: flex-start;
}

.MainInfoSection_row_c7 + .MainInfoSection_row_c7 {
  margin-top: 23rem;
}

.MainInfoSection_cell_b3 {
  display: flex;
  flex: 0;
  width: 250rem;
}

.mediaMedium .MainInfoSection_cell_b3 {
  width: 300rem;
}

.MainInfoSection_cell_b3 + .MainInfoSection_cell_b3 {
  margin-left: 30rem;
}

.MainInfoSection_cellImage_ec {
  width: 58rem;
  height: 58rem;
  margin-right: 22rem;
  background: no-repeat center / cover;
}

.MainInfoSection_cellContent_bb {
  display: flex;
  flex-direction: column;
  flex: 0;
  font-size: 14rem;
}

.mediaSmall .MainInfoSection_cellContent_bb {
  font-size: 16rem;
}

.ProgressionSection_description_1e {
  margin-bottom: 13rem;
}

.ProgressionSection_caption_98 {
  display: flex;
  align-items: center;
}

.ProgressionSection_captionDescription_e4 {
  flex: 0;
  white-space: pre-wrap;
}

.ProgressionSection_captionText_e3 {
  margin-top: 10rem;
}

.ProgressionSection_captionImgContainer_a1 {
  width: 142rem;
  height: 142rem;
  margin-right: 35rem;
}

.ProgressionSection_captionImg_56,
.ProgressionSection_captionBadge_5b {
  width: 100%;
  height: 100%;
}

.ProgressionSection_captionImg_56 {
  background: url("R.images.gui.maps.icons.library.epicRank.big_rank_general") no-repeat center /
    cover;
}

.ProgressionSection_captionBadge_5b {
  background: url("R.images.frontline.gui.maps.infopage.badge_20") no-repeat center / cover;
}

.ProgressionSection_rankText_ef {
  margin: 23rem 0 44rem;
}

.ProgressionSection_rankImg_50 {
  width: 64rem;
  height: 64rem;
  margin-bottom: 10rem;
  background: no-repeat center / contain;
}

.ProgressionSection_table_3f {
  display: flex;
  margin-bottom: 21rem;
}

.ProgressionSection_tableColumn_78 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}

.ProgressionSection_tableCell_60 {
  display: flex;
  padding-bottom: 10rem;
  color: #cbac77;
}

.ProgressionSection_tableCell__header_a9 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.ProgressionSection_tableCell__centered_6d {
  justify-content: center;
}

.ProgressionSection_tableCell__right_98 {
  justify-content: flex-end;
}

.SupplyProgression_base_63 {
  position: relative;
}

.SupplyProgression_wrappedText_3a {
  white-space: pre-wrap;
}

.SupplyProgression_subtitle_96 {
  margin-bottom: 60rem;
}

.SupplyProgression_progressionWrapper_c5 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40rem;
  position: relative;
}

.SupplyProgression_progressionBlock_4c {
  width: 255rem;
  margin-bottom: 40rem;
}

.mediaMedium .SupplyProgression_progressionBlock_4c {
  width: 285rem;
}

.SupplyProgression_imageWrapper_26 {
  width: 100%;
  height: 170rem;
  margin-bottom: 30rem;
  position: relative;
}

.SupplyProgression_image_2c {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
}

.SupplyProgression_objectsImage_83 {
  width: 320rem;
  height: 280rem;
  background: no-repeat center / contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mediaMedium .SupplyProgression_objectsImage_83 {
  width: 360rem;
}

.SupplyProgression_separator_0c {
  width: 50%;
  height: 1rem;
  background-color: #fff;
  opacity: 0.05;
  position: absolute;
  bottom: 0;
  left: 0;
}

.SupplyProgression_targetWrapper_47 {
  margin-bottom: 60rem;
  position: relative;
}

.SupplyProgression_targetDescription_8b {
  width: 460rem;
}

.mediaMedium .SupplyProgression_targetDescription_8b {
  width: 540rem;
}

.SupplyProgression_targetImage_94 {
  width: 320rem;
  height: 340rem;
  background: no-repeat center / cover;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 20rem;
  transform: translateY(-50%);
  transition: opacity 1s;
}

.SupplyProgression_targetImage__visible_cd {
  opacity: 1;
}

.SupplyProgression_footerText_d3 {
  margin-bottom: 16rem;
  color: #8c8c7e;
  opacity: 0.7;
}

.SupplyProgression_progressSeparator_cd {
  width: 100%;
  height: 1rem;
  margin-bottom: 45rem;
  background-color: #fff;
  opacity: 0.05;
}

.ReserveCategoriesSection_categoriesText_85 {
  margin-bottom: 34rem;
}

.ReserveCategoriesSection_categoriesLists_8c {
  display: flex;
  margin-bottom: 40rem;
}

.ReserveCategoriesSection_categoryColumn_b1 {
  flex-direction: column;
  flex: 0;
  width: 285rem;
}

.ReserveCategoriesSection_categoryColumn_b1 + .ReserveCategoriesSection_categoryColumn_b1 {
  margin-left: 60rem;
}

.ReserveCategoriesSection_categoryCell_16 {
  display: flex;
  align-items: center;
  margin-bottom: 12rem;
}

.ReserveCategoriesSection_categoryCell__title_1b {
  color: #e9e2bf;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 16rem;
  padding-bottom: 5rem;
  border-bottom: 1rem solid rgba(255, 255, 255, 0.05);
}

.ReserveCategoriesSection_categoryCell__imgContainer_86 {
  width: 48rem;
  height: 48rem;
  margin-right: 10rem;
}

.ReserveCategoriesSection_categoryTypeIcon_bb {
  width: 32rem;
  height: 32rem;
  margin-right: -3rem;
  background: no-repeat center / contain;
}

.ReserveCategoriesSection_categoryTypeImg_d7 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: no-repeat center / contain;
}

.ReserveCategoriesSection_progression_03 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ReserveCategoriesSection_progressionInfo_57 {
  flex: 0;
  width: 400rem;
}

.mediaSmall .ReserveCategoriesSection_progressionInfo_57 {
  width: 450rem;
}

.ReserveCategoriesSection_progressionImg_35 {
  width: 360rem;
  height: 280rem;
  background: url("R.images.gui.maps.icons.epicBattles.skills.intro.slots") no-repeat center / cover;
}

.ReserveCategoriesSection_progressionTable_aa {
  display: flex;
  width: 100%;
  margin: 33rem 0 83rem;
}

.ReserveCategoriesSection_progressionTableColumn_34 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ReserveCategoriesSection_progressionTableHeaderIcon_dd {
  width: 24rem;
  height: 24rem;
  margin-right: 3rem;
  background: no-repeat center / contain;
}

.ReserveCategoriesSection_progressionTableHeaderText_77 {
  height: 24rem;
  color: #e9e2bf;
}

.ReserveCategoriesSection_progressionTableCell_85 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;
}

.ReserveCategoriesSection_progressionTableCell_85
  + .ReserveCategoriesSection_progressionTableCell_85 {
  border-top: 1rem rgba(255, 255, 255, 0.05) solid;
}

.ReserveCategoriesSection_progressionTableCell__accentStart_4f {
  justify-content: flex-start;
  color: #e9e2bf;
}

.ReserveCategoriesSection_progressionTableCell__accent_ea {
  color: #fefeec;
}

.ReserveCategoriesSection_configuration_a0 {
  display: flex;
}

.ReserveCategoriesSection_configurationText_f0 {
  margin-top: 7rem;
}

.ReserveCategoriesSection_configurationTable_96 {
  display: flex;
  width: 75%;
  margin-top: 5rem;
  padding-right: 0;
}

.mediaMedium .ReserveCategoriesSection_configurationTable_96 {
  width: 560rem;
  padding-right: 26rem;
}

.ReserveCategoriesSection_configurationIcon_4d {
  width: 64rem;
  height: 64rem;
  background: no-repeat center / contain;
}

.ReserveCategoriesSection_configurationTableColumn_2f {
  flex: 1;
  min-width: 130rem;
}

.ReserveCategoriesSection_configurationTableColumn__accent_a6 {
  min-width: 113rem;
  color: #e9e2bf;
}

.ReserveCategoriesSection_configurationTableCell_d9 {
  display: flex;
  align-items: center;
  height: 60rem;
}

.ReserveCategoriesSection_configurationTableCell_d9
  + .ReserveCategoriesSection_configurationTableCell_d9 {
  border-top: 1rem rgba(255, 255, 255, 0.05) solid;
}

.ReserveCategoriesSection_configurationTableCell__start_9e {
  justify-content: flex-start;
}

.ReserveCategoriesSection_configurationTableCell__centered_32 {
  justify-content: center;
}

.ReserveCategoriesSection_configurationImgContainer_51 {
  display: none;
}

.mediaMedium .ReserveCategoriesSection_configurationImgContainer_51 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.ReserveCategoriesSection_configurationImg_5e {
  width: 350rem;
  height: 250rem;
  background: url("R.images.gui.maps.icons.tanksetup.reserves.reserves_small") no-repeat center /
    cover;
}

.RulesSection_base_e7 {
  padding: 46rem 0 50rem;
}

.RulesSection_description_8b {
  display: flex;
  justify-content: space-between;
}

.RulesSection_descriptionColumn_f3 {
  display: flex;
  flex-direction: column;
  flex: 0;
  width: 285rem;
}

.RulesSection_descriptionColumn_f3 + .RulesSection_descriptionColumn_f3 {
  margin-left: 15rem;
}

.RulesSection_descriptionImg_ee {
  height: 170rem;
  margin-bottom: 22rem;
  background: no-repeat center / contain;
}

.RulesSection_text_e7 + .RulesSection_text_e7 {
  margin-top: 15rem;
}

.RulesSection_wrappedText_c5 {
  white-space: pre-wrap;
}

.RulesSection_list_7b {
  margin-top: 15rem;
}

.RulesSection_listItem_48 {
  display: flex;
}

.RulesSection_listItemText_9f {
  flex: 0;
}

.RulesSection_listBullet_32 {
  display: flex;
  justify-content: center;
  width: 19rem;
}

.RulesSection_backToFight_70 {
  display: flex;
  justify-content: space-between;
  margin-top: 35rem;
  position: relative;
}

.RulesSection_backToFightText_79 {
  width: 325rem;
  margin-right: 20rem;
}

.mediaMedium .RulesSection_backToFightText_79 {
  width: 450rem;
  margin-right: 0;
}

.RulesSection_backToFightImg_52 {
  width: 500rem;
  height: 348rem;
  background: url("R.images.frontline.gui.maps.infopage.map") no-repeat center / cover;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.RulesSection_armorText_8a {
  color: #e0dab9;
  font-size: 13rem;
  font-weight: 400;
  font-style: normal;
  line-height: 14rem;
  text-align: center;
  position: absolute;
}

.RulesSection_armorVentilation_d1 {
  top: 125rem;
  left: 54rem;
}

.mediaMedium .RulesSection_armorVentilation_d1 {
  top: 119rem;
  left: 62rem;
}

.RulesSection_armorSide_19 {
  top: 253rem;
  left: 89rem;
}

.mediaMedium .RulesSection_armorSide_19 {
  top: 261rem;
  left: 103rem;
}

.RulesSection_armorBack_69 {
  top: 253rem;
  left: 46rem;
}

.mediaMedium .RulesSection_armorBack_69 {
  top: 261rem;
  left: 53rem;
}

.RulesSection_armorDoor_9b {
  top: 253rem;
  left: 69rem;
}

.mediaMedium .RulesSection_armorDoor_9b {
  top: 261rem;
  left: 78rem;
}

.SubTitle_base_07 {
  color: rgba(242, 242, 247, 0.7);
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  font-size: 18rem;
}

.mediaMedium .SubTitle_base_07 {
  font-size: 24rem;
}

.SectionItem_base_26 {
  width: 50%;
  height: 575rem;
  position: relative;
}

.SectionItem_base__big_dd {
  width: 100%;
  height: 257rem;
}

.SectionItem_typeIcon_8e {
  width: 300rem;
  height: 300rem;
  background: no-repeat center / cover;
  position: absolute;
  top: 75rem;
  left: 0;
  transform: translateX(-50%);
}

.SectionItem_image_06 {
  width: 280rem;
  height: 280rem;
  background: no-repeat center / contain;
  position: absolute;
  top: 0;
}

.SectionItem_base__big_dd .SectionItem_image_06 {
  width: 360rem;
  height: 280rem;
}

.SectionItem_image__center_7c {
  left: 50%;
  transform: translateX(-50%);
}

.SectionItem_image__right_5d {
  right: 0;
}

.SectionItem_image__airship_94 {
  width: 430rem;
}

.mediaMedium .SectionItem_image__airship_94 {
  width: 510rem;
}

.SectionItem_zonesWrapper_93 {
  width: 100%;
  height: 100%;
  position: relative;
}

.SectionItem_zonesText_1c {
  color: #fefeec;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  position: absolute;
}

.SectionItem_zonesText__turret_09 {
  top: 172rem;
  left: 306rem;
}

.SectionItem_zonesText__hull_43 {
  top: 126rem;
  left: 364rem;
}

.SectionItem_cardContent_ff {
  width: 100%;
  height: 100%;
  padding: 260rem 30rem 0rem 0rem;
  position: absolute;
  top: 0;
  left: 0;
}

.SectionItem_base__big_dd .SectionItem_cardContent_ff {
  width: 50%;
  padding: 0rem;
}

.SectionItem_descriptionText_ee {
  white-space: pre-wrap;
}

.SectionItem_descriptionText__inAirship_a8 {
  margin-bottom: 12rem;
}

.SectionItem_separator_90 {
  width: 970rem;
  height: 1rem;
  background: #fff;
  opacity: 0.05;
  position: absolute;
  bottom: 0;
  left: 0;
}

.SectionItem_damageBlockText_4b {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}

.SectionItem_damageBlockText__param_66 {
  margin-left: 8rem;
}

.SectionItem_damageBlockText__light_76 {
  color: #fefeec;
}

.SupplyObjectsSection_subtitleText_e8 {
  margin-bottom: 60rem;
  color: #8c8c7e;
  opacity: 0.7;
}

.SupplyObjectsSection_mainTextWrapper_1c {
  white-space: pre-wrap;
}

.SupplyObjectsSection_contentWrapper_03 {
  display: flex;
  flex-wrap: wrap;
}

.SupplyObjectsSection_titleMargin_b0 {
  margin-bottom: 20rem;
}

.SupplyObjectsSection_sectionItem_98 {
  margin-bottom: 50rem;
}

.SupplyObjectsSection_sectionItem__small_5d {
  height: 462rem;
}

.SupplyObjectsSection_sectionItem__last_b2 {
  margin-bottom: 0rem;
}

.WinStrategySection_base_b6 {
  padding: 50rem 0;
}

.WinStrategySection_container_e8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WinStrategySection_text_17 {
  flex: 0;
  width: 460rem;
  margin-right: 15rem;
}

.WinStrategySection_img_9f {
  flex: 0;
  width: 470rem;
  height: 100%;
  background: url("R.images.frontline.gui.maps.infopage.bigmap") no-repeat center / contain;
}

.mediaMedium .WinStrategySection_img_9f {
  height: 470rem;
}

.WinStrategySection_winText_7d + .WinStrategySection_winText_7d {
  margin-top: 15rem;
}

.InfoViewApp_base_a5 {
  padding-top: 135rem;
}

.InfoViewApp_base__fullScreen_0a {
  width: 100%;
  height: 100%;
  background:
    radial-gradient(transparent, rgba(0, 0, 0, 0.7)) no-repeat center / cover,
    url("R.images.frontline.gui.maps.bg.info") no-repeat center / cover;
}

.mediaMedium .InfoViewApp_base_a5 {
  padding-top: 185rem;
}

.InfoViewApp_page_ca {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.InfoViewApp_scroll_0b {
  padding: 0 10rem 10rem;
}

.InfoViewApp_scroll__fadedTop_a8 {
  mask-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 1) 10%);
}

.InfoViewApp_pageTitle_5d {
  position: absolute;
  top: 42rem;
  left: 50%;
  transform: translate(-50%);
}

.mediaLarge .InfoViewApp_pageTitle_5d {
  top: 88rem;
}

.InfoViewApp_closeButton_c4 {
  position: absolute;
  top: 50rem;
  left: 45rem;
}

.InfoViewApp_mainContent_9d {
  width: 820rem;
}

.InfoViewApp_mainContent__padded_64 {
  padding: 0 20rem;
}

.mediaMedium .InfoViewApp_mainContent_9d {
  width: 960rem;
  padding: 0;
}
