/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Arrow_root_4d7c987d,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.Arrow_media-wrapper_4d7c987d,
#Arrow_root_4d7c987d {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

.Arrow_529bb83f {
  width: 412rem;
  height: 34rem;
  margin-right: 25rem;
  background: no-repeat right center/contain;
}
.mediaLarge .Arrow_529bb83f {
  width: 500rem;
  height: 44rem;
  margin-right: 30rem;
}
.Arrow_base__right_b8dba905 {
  margin-left: 25rem;
  margin-right: 0;
  transform: scaleX(-1);
}
.mediaLarge .Arrow_base__right_b8dba905 {
  margin-left: 30rem;
  margin-right: 0;
}