/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.DataHeader_9bf60f88 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.DataHeader_iconWrapper_54951fa3 {
  width: 24rem;
  height: 24rem;
  position: relative;
}

.DataHeader_icon_94898581 {
  width: 64rem;
  height: 64rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -26rem);
}
.mediaMedium .DataHeader_icon_94898581 {
  transform: translate(-50%, -50%);
}

.DataHeader_description_c843163a {
  font-size: 16rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-left: 16rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 16rem;
}
.mediaMedium .DataHeader_description_c843163a {
  margin-left: 12rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Bar_d07946c5 {
  width: 109rem;
  height: 8rem;
  margin: 10rem;
  position: relative;
}

.Bar_21c60d85 {
  width: 109rem;
  height: 8rem;
  background: url("R.images.halloween.gui.maps.icons.comparisonWindow.bar_bg") no-repeat 50% /
    contain;
}

.Bar_barLine_b5adb3d4 {
  width: 109rem;
  height: 8rem;
  background: url("R.images.halloween.gui.maps.icons.comparisonWindow.bar_line") no-repeat 0% /
    cover;
  position: absolute;
  top: 0;
  left: 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.DataItem_93f51864 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 163rem;
  margin: 0 1rem;
  position: relative;
}
.mediaMedium .DataItem_93f51864 {
  width: 208rem;
}

.DataItem_bar_7cf2b604 {
  margin-top: 40rem;
}

.DataItem_decor_6a68efe2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48rem;
  height: 48rem;
  background: url("R.images.halloween.gui.maps.icons.comparisonWindow.smoke") no-repeat 50%/100%
    100%;
  opacity: 0;
  mix-blend-mode: screen;
  top: 13rem;
  transition: opacity 0.2s linear;
}
.DataItem_base__prime_71b4e0eb .DataItem_decor_6a68efe2 {
  opacity: 1;
}

.DataItem_maxValueDecor_3789f0e0 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 109rem;
  height: 8rem;
  margin-top: 16rem;
  background-color: rgba(255, 255, 255, 0.5);
  mix-blend-mode: additive;
}

.DataItem_number_c911179f {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: rgba(255, 255, 255, 0.5);
  bottom: 17rem;
  transition: all 0.2s linear;
}
.DataItem_base__prime_71b4e0eb .DataItem_number_c911179f {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #fff;
  bottom: 16rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.DataRow_7883cfd {
  display: flex;
  flex-direction: row;
  position: relative;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HeaderItem_7893474b {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 163rem;
  height: 212rem;
  margin: 0 1rem;
  position: relative;
}
.mediaMedium .HeaderItem_7893474b {
  width: 208rem;
  height: 226rem;
}

.HeaderItem_iconContainer_aee92aa0 {
  width: 160rem;
  height: 112rem;
  margin: 15rem 0 -2rem;
  background: no-repeat 50% / cover;
  position: relative;
  pointer-events: none;
}
.mediaMedium .HeaderItem_iconContainer_aee92aa0 {
  width: 200rem;
  height: 140rem;
  margin-bottom: 4rem;
}

.HeaderItem_icon_bc48d379 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260rem;
  height: 164rem;
  margin-top: -15rem;
}
.mediaMedium .HeaderItem_icon_bc48d379 {
  width: 275rem;
  height: 220rem;
  margin-top: -5rem;
}

.HeaderItem_name_47ac4a1f {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(var(--color-general-primary-rgb), 0.8);
}

.HeaderItem_container_2652fc3b {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60rem;
  margin-top: -9rem;
}

.HeaderItem_ttcDescription_e5237fde {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.14);
  display: flex;
  align-items: center;
  align-content: center;
  width: 113rem;
  height: 70rem;
  padding-right: 3rem;
  color: rgba(var(--color-general-primary-rgb), 0.8);
  line-height: 18rem;
}
.mediaMedium .HeaderItem_ttcDescription_e5237fde {
  width: 152rem;
}

.HeaderItem_ttcIcon_407f2ab2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 60rem;
  opacity: 0.8;
}

.HeaderItem_ttcIconContainer_351f3f0 {
  width: 36rem;
  height: 36rem;
  margin: 0 10rem 0 4rem;
  position: relative;
}
.mediaMedium .HeaderItem_ttcIconContainer_351f3f0 {
  margin: 0 10rem 0 10rem;
}

.HeaderItem_dividerContainer_d025a003 {
  width: 2rem;
  height: 500rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.mediaMedium .HeaderItem_dividerContainer_d025a003 {
  height: 600rem;
}
.mediaLarge .HeaderItem_dividerContainer_d025a003 {
  height: 640rem;
}

.HeaderItem_divider_f2d47aa3 {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.15) 15%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.15) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 1rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.HeaderItem_divider__next_f45bf573 {
  left: 1rem;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 15%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.7) 70%,
    rgba(0, 0, 0, 0) 100%
  );
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_ca74c781 {
  display: flex;
  position: relative;
}

.Header_lip_ab5e7e6a {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 331rem;
  background: url("R.images.halloween.gui.maps.icons.comparisonWindow.lip_up") no-repeat 50%/100%
    100%;
  bottom: -93rem;
}
.mediaMedium .Header_lip_ab5e7e6a {
  bottom: -119rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ComparisonWindowApp_bff2c467 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 54rem;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  position: relative;
}
.mediaMedium .ComparisonWindowApp_bff2c467 {
  padding-bottom: 28rem;
}
.mediaLarge .ComparisonWindowApp_bff2c467 {
  padding-bottom: 6rem;
}
.ComparisonWindowApp_base__withScroll_403ae64c {
  padding-bottom: 22rem;
}
.mediaMedium .ComparisonWindowApp_base__withScroll_403ae64c {
  padding-top: 4rem;
  padding-bottom: 0;
}

.ComparisonWindowApp_closeBtn_5fff20fb {
  position: absolute;
  top: 30rem;
  right: 30rem;
  z-index: 1;
}

.ComparisonWindowApp_titleContainer_70a8fa90 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 40rem;
  top: 46rem;
}
.mediaMedium .ComparisonWindowApp_titleContainer_70a8fa90 {
  height: 58rem;
  top: 52rem;
}
.mediaLarge .ComparisonWindowApp_titleContainer_70a8fa90 {
  height: 88rem;
  top: 61rem;
}
.mediaExtraLarge .ComparisonWindowApp_titleContainer_70a8fa90 {
  height: 88rem;
  top: 85rem;
}

.ComparisonWindowApp_title_6c9b8dcd {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #fdd194;
}
.mediaMedium .ComparisonWindowApp_title_6c9b8dcd {
  font-size: 72rem;
}
.mediaLarge .ComparisonWindowApp_title_6c9b8dcd {
  font-size: 80rem;
}
.mediaExtraLarge .ComparisonWindowApp_title_6c9b8dcd {
  font-size: 100rem;
}

.ComparisonWindowApp_content_3fee5079 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding-left: 16rem;
  position: relative;
}
.mediaMedium .ComparisonWindowApp_content_3fee5079 {
  padding-left: 11rem;
}
.mediaLarge .ComparisonWindowApp_content_3fee5079 {
  padding-left: 0;
}
.ComparisonWindowApp_content__withScroll_d1e28ca0 {
  justify-content: flex-start;
  padding-left: 39rem;
  padding-right: 35rem;
}
.mediaMedium .ComparisonWindowApp_content__withScroll_d1e28ca0 {
  padding-left: 65rem;
  padding-right: 38rem;
}

.ComparisonWindowApp_dataHeaders_c6aa0367 {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.mediaMedium .ComparisonWindowApp_dataHeaders_c6aa0367 {
  margin-right: 10rem;
}

.ComparisonWindowApp_dataHeader_1efe8752 {
  height: 48rem;
}
.ComparisonWindowApp_dataHeader_1efe8752 + .ComparisonWindowApp_dataHeader_1efe8752 {
  margin-top: 34rem;
}
.mediaMedium .ComparisonWindowApp_dataHeader_1efe8752 + .ComparisonWindowApp_dataHeader_1efe8752 {
  margin-top: 54rem;
}
.mediaLarge .ComparisonWindowApp_dataHeader_1efe8752 + .ComparisonWindowApp_dataHeader_1efe8752 {
  margin-top: 69rem;
}
.ComparisonWindowApp_dataHeader_1efe8752 {
  position: relative;
}
.mediaMedium .ComparisonWindowApp_dataHeader_1efe8752 {
  top: 7rem;
}

.ComparisonWindowApp_shadowWrapper_e5fdb165 {
  width: 1rem;
  height: 100%;
  margin-left: 14rem;
  opacity: 1;
  position: relative;
  z-index: 1;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
}
.mediaMedium .ComparisonWindowApp_shadowWrapper_e5fdb165 {
  margin-left: 7rem;
}
.ComparisonWindowApp_shadowWrapper__right_8f172770 {
  margin-left: 0;
}
.ComparisonWindowApp_shadowWrapper__hide_43fa5b3e {
  opacity: 0;
}

.ComparisonWindowApp_scrollShadow_7160224 {
  width: 220rem;
  background: no-repeat center/cover;
  position: absolute;
  top: -60rem;
  bottom: -60rem;
  left: -137rem;
}
.ComparisonWindowApp_scrollShadow__right_fd5cbf3 {
  left: -82rem;
  transform: scaleX(-1);
}

.ComparisonWindowApp_area_7f313f65 {
  display: flex;
  flex: 1;
  width: 100%;
}
.ComparisonWindowApp_area__withoutScroll_1bdd819e {
  flex: none;
  width: auto;
}

.ComparisonWindowApp_scrollWrapper_dc97851e {
  width: 100%;
}
.ComparisonWindowApp_scrollWrapper__both_f31177d {
  mask: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 1.9%,
    rgb(0, 0, 0) 2%,
    rgb(0, 0, 0) 98%,
    rgba(0, 0, 0, 0.7) 98.1%,
    rgba(0, 0, 0, 0) 100%
  );
}
.ComparisonWindowApp_scrollWrapper__left_53888d2b {
  mask: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 1.9%,
    rgb(0, 0, 0) 2%,
    rgb(0, 0, 0) 100%
  );
}
.ComparisonWindowApp_scrollWrapper__right_17bc7a8f {
  mask: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 98%,
    rgba(0, 0, 0, 0.7) 98.1%,
    rgba(0, 0, 0, 0) 100%
  );
}
.ComparisonWindowApp_scrollWrapper__withoutScroll_4ec86ff1 {
  width: auto;
}

.ComparisonWindowApp_scrollContent_4ec86ff1 {
  width: auto;
}

.ComparisonWindowApp_headerRow_774b92e3 {
  display: flex;
  margin-bottom: 30rem;
}
.mediaMedium .ComparisonWindowApp_headerRow_774b92e3 {
  margin-bottom: 55rem;
}
.mediaLarge .ComparisonWindowApp_headerRow_774b92e3 {
  margin-bottom: 87rem;
}
.mediaExtraLarge .ComparisonWindowApp_headerRow_774b92e3 {
  margin-bottom: 87rem;
}

.ComparisonWindowApp_dataRow_9334a465 {
  height: 48rem;
}
.ComparisonWindowApp_dataRow_9334a465 + .ComparisonWindowApp_dataRow_9334a465 {
  margin-top: 34rem;
}
.mediaMedium .ComparisonWindowApp_dataRow_9334a465 + .ComparisonWindowApp_dataRow_9334a465 {
  margin-top: 54rem;
}
.mediaLarge .ComparisonWindowApp_dataRow_9334a465 + .ComparisonWindowApp_dataRow_9334a465 {
  margin-top: 69rem;
}

.ComparisonWindowApp_scrollBar_1fd67c0d {
  margin-top: 22rem;
  padding-left: 86rem;
  padding-right: 45rem;
}
.mediaMedium .ComparisonWindowApp_scrollBar_1fd67c0d {
  margin-top: 19rem;
  padding-left: 181rem;
  padding-right: 42rem;
}

.ComparisonWindowApp_btn_a758ef72 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.mediaMedium .ComparisonWindowApp_btn_a758ef72 {
  bottom: 70rem;
}
.mediaLarge .ComparisonWindowApp_btn_a758ef72 {
  bottom: 80rem;
}
.mediaExtraLarge .ComparisonWindowApp_btn_a758ef72 {
  bottom: 110rem;
}
.ComparisonWindowApp_btn_a758ef72 {
  bottom: 60rem;
  min-width: 160rem;
}
