/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
/* should be percentage of screen width */
.App_1452e781 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  line-height: 1;
  overflow: hidden;
}
.App_base__day_d1e1e777 {
  width: 382rem;
}
.App_base__season_25d4a97a {
  width: 250rem;
}

.App_indicatorValue_1e9a0105 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 4rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 1;
}

.App_description_c3c26a60 {
  margin-top: 10rem;
  line-height: 1.3;
}
.App_description__centered_77377dbe {
  justify-content: center;
}

.App_ratingDescription_432251cd {
  align-items: center;
  margin: 7rem 0;
}

.App_bgSection_dcd190a7 {
  padding: 28rem 20rem;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.05) 40%, rgba(235, 235, 235, 0.05) 60%, transparent);
}

.App_section_9843de37 {
  display: flex;
  flex-direction: column;
  padding: 28rem 20rem;
}
.App_section__rank_5c080205 {
  padding: 20rem;
}
.App_section__centered_f952cbde {
  align-items: center;
}

.App_dayText_e27f46e4 {
  flex-wrap: nowrap;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.App_heading_f1e09b2f {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 1;
}

.App_highlightedValue_64abd7b3 {
  color: #fd9;
}