.TooltipDecorator_base_c9 {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.images.gui.maps.icons.tooltip.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

.Description_base_fe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 10rem 0;
}

.Description_description_a3 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.Description_point_fe {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #8c8c7e;
  position: absolute;
  top: 9rem;
  left: 0;
}

.Description_item_51 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 9rem;
  padding-left: 20rem;
  position: relative;
}

.Header_base_5f {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80rem;
  margin-top: -18rem;
}

.Header_headerImage_e0 {
  width: 64rem;
  height: 64rem;
  margin: -12rem 6rem -12rem -12rem;
  background: url("R.images.gui_lootboxes.gui.maps.storage.rewards.vehProgression") no-repeat
    center / cover;
}

.Header_headerDescriptionWrapper_a7 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.Header_headerTitle_e9 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 8rem;
}

.Header_headerDescription_8e {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.Compensation_base_8c {
  width: 80rem;
  height: 80rem;
  position: relative;
}

.Compensation_currencyIcon_1c {
  width: 80rem;
  height: 80rem;
  background: no-repeat center / cover;
  position: absolute;
  top: -4rem;
  left: 0;
}

.Compensation_base__credits_63 .Compensation_currencyIcon_1c {
  background-image: url("R.images.gui.maps.icons.library.credits_icon_80x80");
}

.Compensation_base__gold_c7 .Compensation_currencyIcon_1c {
  background-image: url("R.images.gui.maps.icons.library.gold_icon_80x80");
}

.Compensation_value_72 {
  position: absolute;
  bottom: -7rem;
  left: 50%;
  transform: translateX(-50%);
}

.Compensation_base__credits_63 .Compensation_value_72 {
  color: #ced9d9;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.Compensation_base__gold_c7 .Compensation_value_72 {
  color: #ffc363;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.Compensation_compensationIcon_6b {
  width: 24rem;
  height: 24rem;
  background: url("R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.compensation")
    no-repeat center / cover;
  position: absolute;
  top: -8rem;
  right: 0;
}

.Reward_base_ea {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
  width: 48rem;
  height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
  width: 80rem;
  height: 80rem;
}

.Reward_base__s128x100_c3 {
  width: 128rem;
  height: 100rem;
}

.Reward_base__s180x135_7c {
  width: 180rem;
  height: 135rem;
}

.Reward_base__s232x174_67 {
  width: 232rem;
  height: 174rem;
}

.Reward_base__s296x222_78 {
  width: 296rem;
  height: 222rem;
}

.Reward_base__s400x300_07 {
  width: 400rem;
  height: 300rem;
}

.Reward_base__s600x450_f8 {
  width: 600rem;
  height: 450rem;
}

.Reward_tooltipWrapper_b5 {
  height: 100%;
}

.Reward_icon_df {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.Reward_overlay_68 {
  background: no-repeat center / 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
  width: 96rem;
  height: 96rem;
  background-size: 100%;
  overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
  width: 128rem;
  height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
  width: 266rem;
  height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
  width: 344rem;
  height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
  width: 450rem;
  height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
  width: 618rem;
  height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
  width: 670rem;
  height: 575rem;
}

.Reward_highlight_36 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  position: absolute;
  z-index: 0;
}

.Reward_image_89 {
  position: relative;
}

.Reward_info_72 {
  margin-top: -13rem;
  color: #e9e2bf;
  font-size: 14rem;
  line-height: 18rem;
  text-align: center;
  z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
  margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
  margin-right: 2rem;
  text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
  margin-right: 0;
}

.Reward_info__credits_ef {
  color: #e9e2bf;
}

.Reward_info__gold_36 {
  color: #ffc363;
}

.Reward_info__crystal_36 {
  color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
  color: #ffdd99;
}

.Reward_timer_d3 {
  background: no-repeat center / contain;
  position: absolute;
  z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
  width: 23rem;
  height: 23rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.small.timer");
  top: -6rem;
  right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.big.timer");
  top: -14rem;
  right: -14rem;
}

.RotationReward_base_5c {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80rem;
  height: 80rem;
  position: relative;
}

.RotationReward_label_da {
  color: #ffdd99;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  position: absolute;
  top: 58rem;
}

.RotationReward_labelContent_44 {
  display: flex;
  justify-content: center;
}

.RotationReward_lockIcon_39 {
  width: 32rem;
  height: 32rem;
  margin: -6rem;
  background: url("R.images.gui_lootboxes.gui.maps.rotation.lock") no-repeat center / cover;
  z-index: 3;
}

.Preview_base_1f {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 60rem;
  opacity: 0.7;
  position: relative;
  transition: opacity 0.25s ease-out;
  cursor: pointer;
}

.Preview_base__hovered_ee {
  opacity: 1;
}
.Preview_icon_f3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("R.images.gui.maps.icons.library.previewVehicle") no-repeat center / contain;
  transition: opacity 0.25s ease-out;
  pointer-events: none;
}
.Preview_icon__small_a1 {
  width: 70rem;
  height: 70rem;
}
.Preview_icon__normal_5c {
  width: 100rem;
  height: 100rem;
}
.Preview_base__mouseDown_d0 .Preview_icon_f3 {
  opacity: 0.7;
}
.Preview_label_2e {
  color: #ffdd99;
  font-size: 14rem;
  line-height: 1.25;
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 12rem #e52;
  opacity: 0;
  position: absolute;
  bottom: -8rem;
  transform: translateY(-5rem);
  transition:
    transform 0.25s ease-out,
    opacity 0.25s ease-out;
}
.Preview_base__visibleLabel_92 .Preview_label_2e,
.Preview_base__hovered_ee .Preview_label_2e {
  opacity: 1;
  transform: translateY(0rem);
}

.RotationVehicle_base_2f {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80rem;
  height: 80rem;
  position: relative;
}

.RotationVehicle_base__received_32 {
  opacity: 0.3;
}

.RotationVehicle_iconWrapper_cb {
  position: relative;
}

.RotationVehicle_icon_41 {
  width: 80rem;
  height: 80rem;
  background: no-repeat center / cover;
  cursor: pointer;
}

.RotationVehicle_label_b8 {
  color: #ffdd99;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  position: absolute;
  bottom: -7rem;
}

.RotationVehicle_labelContent_27 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
}

.RotationVehicle_lockIcon_78 {
  width: 32rem;
  height: 32rem;
  margin: -6rem;
  background: url("R.images.gui_lootboxes.gui.maps.rotation.lock") no-repeat center / cover;
}

.RotationVehicle_checkIcon_9e {
  width: 20rem;
  height: 22rem;
  margin-bottom: -7rem;
  background: url("R.images.gui_lootboxes.gui.maps.rotation.check") no-repeat bottom / contain;
}

.RotationVehicle_preview_ec {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 200ms;
}

.RotationVehicle_preview_ec:hover {
  opacity: 1;
}

.RotationVehicle_preview__opacity_50 {
  opacity: 1;
}

.RotationVehicle_preview__label_28 {
  display: none;
}

.RotationVehicleList_base_7f {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 112rem;
  position: relative;
}

.RotationVehicleList_bonusBlock_86 {
  margin: 12rem 6rem;
}

.RotationVehicleList_currentBg_ca {
  align-self: center;
  width: 634rem;
  height: 112rem;
  background: url("R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.bg_current")
    no-repeat center / cover;
  position: absolute;
  top: -1rem;
}

.RotationVehicleList_stage_7b {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80rem;
  height: 80rem;
  padding-top: 28rem;
  position: relative;
}

.RotationVehicleList_stageLabel_5d {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  width: 44rem;
  text-align: right;
}

.RotationVehicleList_stageIcon_4a {
  width: 90rem;
  height: 61rem;
  background: no-repeat center / cover;
  position: absolute;
  top: 24rem;
  left: -18rem;
  z-index: -1;
}

.RotationVehicleList_stageIcon__1_c0 {
  background-image: url("R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.stage1");
}

.RotationVehicleList_stageIcon__2_de {
  background-image: url("R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.stage2");
}

.RotationVehicleList_stageIcon__3_60 {
  background-image: url("R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.stage3");
}

.App_base_70 {
  width: 682rem;
  max-height: 800rem;
  padding: 24rem;
  border: 1rem solid rgba(242, 242, 230, 0.1);
  border-radius: 2rem;
  box-shadow:
    0 1rem 12rem 0 rgba(0, 0, 0, 0.15),
    0 0 1rem 0 #000,
    0 0 25rem 0 rgba(242, 242, 230, 0.1) inset;
  background:
    linear-gradient(
      180deg,
      rgba(51, 51, 41, 0.06) 0%,
      rgba(44, 44, 36, 0) 13.02%,
      rgba(7, 7, 6, 0) 85.94%,
      rgba(51, 51, 41, 0.02) 100%
    ),
    #12110b;
  overflow: hidden;
}

.App_divider_37 {
  width: 634rem;
  height: 9rem;
  margin: -4rem 0;
  background: url("R.images.gui_lootboxes.gui.maps.storage.progression.tooltip.divider") no-repeat
    center / cover;
}

.App_elementDescription_a9 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
