/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#VideoBackground_root_e6abe8c9,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.VideoBackground_videoBackground_1a24cf5e {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.VideoBackground_video_102f3645 {
  width: 1920rem;
  height: 1080rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#AssetItem_root_1854cb09,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.AssetItem_7cff1111 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

.AssetItem_sprite_c476eaa9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AssetItem_imgLoader_6b833910 {
  display: none;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Assets_root_df803982,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Assets_c481c379 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ParallaxContent_root_7e43e815,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ParallaxContent_b21e1eda {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  pointer-events: none;
}

.ParallaxContent_asset_b21e1eda {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  pointer-events: none;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#StaticBackground_root_3698d127,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.StaticBackground_22188923 {
  width: 100%;
  height: 100%;
  background: no-repeat center/cover;
  overflow: hidden;
  position: relative;
}

.StaticBackground_preloader_ebcf28a3 {
  display: none;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ParallaxApp_root_c4ad303a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ParallaxApp_a1dd5662 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  pointer-events: none;
}

.ParallaxApp_blackScreen_29b0a65d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200vw;
  height: 200vh;
  background-color: #101010;
  opacity: 0;
  pointer-events: none;
}

.ParallaxApp_contentScale_a9de6486 {
  width: 100%;
  height: 100%;
}

.ParallaxApp_content_f4307e0d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3264rem;
  height: 1440rem;
  margin-left: 120rem;
}
