/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes CloseButton_fadeIn_987cb365 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CloseButton_fadeInThreeQuarters_987cb365 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes CloseButton_fadeInHalf_987cb365 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes CloseButton_fadeOut_987cb365 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes CloseButton_fadeInWithScale_987cb365 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes CloseButton_slideUp_987cb365 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes CloseButton_scale_987cb365 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes CloseButton_raysAppearance_987cb365 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes CloseButton_rotate_987cb365 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes CloseButton_reverse-rotate_987cb365 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes CloseButton_glowAppearance_987cb365 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CloseButton_highlightAppearance_987cb365 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes CloseButton_blink_987cb365 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CloseButton_slideUpIn_987cb365 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes CloseButton_fadeIn_987cb365 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CloseButton_fadeInThreeQuarters_987cb365 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes CloseButton_fadeInHalf_987cb365 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes CloseButton_fadeOut_987cb365 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes CloseButton_fadeInWithScale_987cb365 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes CloseButton_slideUp_987cb365 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes CloseButton_scale_987cb365 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes CloseButton_raysAppearance_987cb365 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes CloseButton_rotate_987cb365 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes CloseButton_reverse-rotate_987cb365 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes CloseButton_glowAppearance_987cb365 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CloseButton_highlightAppearance_987cb365 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes CloseButton_blink_987cb365 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CloseButton_slideUpIn_987cb365 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.CloseButton_49a682e7 {
  width: 48rem;
  height: 48rem;
  cursor: pointer;
}

.CloseButton_icon_b31f68a5,
.CloseButton_iconHover_b5894825 {
  width: 100%;
  height: 100%;
  background: no-repeat center/cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.2s linear;
}
.CloseButton_49a682e7:hover .CloseButton_icon_b31f68a5,
.CloseButton_49a682e7:hover .CloseButton_iconHover_b5894825 {
  opacity: 1;
}

.CloseButton_icon_b31f68a5 {
  background-image: url("R.images.gui.maps.icons.library.white_cross");
  opacity: 0.9;
}
.CloseButton_49a682e7:active .CloseButton_icon_b31f68a5 {
  opacity: 0.6;
}

.CloseButton_iconHover_b5894825 {
  background-image: url("R.images.gui.maps.icons.library.white_cross_hover");
  opacity: 0;
}
.CloseButton_49a682e7:active .CloseButton_iconHover_b5894825 {
  opacity: 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes Page_fadeIn_fefb19c8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Page_fadeInThreeQuarters_fefb19c8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Page_fadeInHalf_fefb19c8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Page_fadeOut_fefb19c8 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Page_fadeInWithScale_fefb19c8 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Page_slideUp_fefb19c8 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Page_scale_fefb19c8 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Page_raysAppearance_fefb19c8 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Page_rotate_fefb19c8 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Page_reverse-rotate_fefb19c8 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Page_glowAppearance_fefb19c8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Page_highlightAppearance_fefb19c8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Page_blink_fefb19c8 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Page_slideUpIn_fefb19c8 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes Page_fadeIn_fefb19c8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Page_fadeInThreeQuarters_fefb19c8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Page_fadeInHalf_fefb19c8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Page_fadeOut_fefb19c8 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Page_fadeInWithScale_fefb19c8 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Page_slideUp_fefb19c8 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Page_scale_fefb19c8 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Page_raysAppearance_fefb19c8 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Page_rotate_fefb19c8 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Page_reverse-rotate_fefb19c8 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Page_glowAppearance_fefb19c8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Page_highlightAppearance_fefb19c8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Page_blink_fefb19c8 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Page_slideUpIn_fefb19c8 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.Page_heading_2dd55438 {
  padding-top: 30rem;
}
.mediaMedium .Page_heading_2dd55438 {
  padding-bottom: 9rem;
}

.Page_close_401a9518 {
  position: absolute;
  top: 30rem;
  right: 30rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes AnimatedBackground_fadeIn_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_fadeInThreeQuarters_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes AnimatedBackground_fadeInHalf_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes AnimatedBackground_fadeOut_bf2475f4 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes AnimatedBackground_fadeInWithScale_bf2475f4 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AnimatedBackground_slideUp_bf2475f4 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AnimatedBackground_scale_bf2475f4 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes AnimatedBackground_raysAppearance_bf2475f4 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes AnimatedBackground_rotate_bf2475f4 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes AnimatedBackground_reverse-rotate_bf2475f4 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes AnimatedBackground_glowAppearance_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_highlightAppearance_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes AnimatedBackground_blink_bf2475f4 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_slideUpIn_bf2475f4 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AnimatedBackground_fadeIn_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_fadeInThreeQuarters_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes AnimatedBackground_fadeInHalf_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes AnimatedBackground_fadeOut_bf2475f4 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes AnimatedBackground_fadeInWithScale_bf2475f4 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AnimatedBackground_slideUp_bf2475f4 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AnimatedBackground_scale_bf2475f4 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes AnimatedBackground_raysAppearance_bf2475f4 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes AnimatedBackground_rotate_bf2475f4 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes AnimatedBackground_reverse-rotate_bf2475f4 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes AnimatedBackground_glowAppearance_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_highlightAppearance_bf2475f4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes AnimatedBackground_blink_bf2475f4 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedBackground_slideUpIn_bf2475f4 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.AnimatedBackground_f47e334b {
  width: 900rem;
  height: 900rem;
  position: relative;
  pointer-events: none;
}
.mediaMedium .AnimatedBackground_f47e334b {
  width: 1100rem;
  height: 1100rem;
}
.mediaLarge .AnimatedBackground_f47e334b {
  width: 1300rem;
  height: 1300rem;
}
.mediaExtraLarge .AnimatedBackground_f47e334b {
  width: 1600rem;
  height: 1600rem;
}

.AnimatedBackground_rays_e7a4dbbe {
  opacity: 0;
  animation-name: AnimatedBackground_raysAppearance_bf2475f4, AnimatedBackground_rotate_bf2475f4;
  animation-duration: 1.5s, 120s;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1), linear;
  animation-delay: 0.8s, 1.2s;
  animation-iteration-count: 1, infinite;
  width: 100%;
  height: 100%;
  background: url("R.images.comp7_light.gui.maps.icons.battleQuestAwards.rays") no-repeat
    center/contain;
  mix-blend-mode: additive;
  position: absolute;
  top: 0;
  left: 0;
}

.AnimatedBackground_sunShineCanvas_21aff824 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.AnimatedBackground_staticHighlight_80e8711f {
  width: 550rem;
  height: 550rem;
  background: url("R.images.comp7_light.gui.maps.icons.battleQuestAwards.highlight") no-repeat
    center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mediaMedium .AnimatedBackground_staticHighlight_80e8711f {
  width: 700rem;
  height: 700rem;
}
.mediaLarge .AnimatedBackground_staticHighlight_80e8711f {
  width: 900rem;
  height: 900rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes AwardsList_fadeIn_bcb7b6e7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AwardsList_fadeInThreeQuarters_bcb7b6e7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes AwardsList_fadeInHalf_bcb7b6e7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes AwardsList_fadeOut_bcb7b6e7 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes AwardsList_fadeInWithScale_bcb7b6e7 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AwardsList_slideUp_bcb7b6e7 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AwardsList_scale_bcb7b6e7 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes AwardsList_raysAppearance_bcb7b6e7 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes AwardsList_rotate_bcb7b6e7 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes AwardsList_reverse-rotate_bcb7b6e7 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes AwardsList_glowAppearance_bcb7b6e7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AwardsList_highlightAppearance_bcb7b6e7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes AwardsList_blink_bcb7b6e7 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AwardsList_slideUpIn_bcb7b6e7 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.AwardsList_fd6f2000 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.AwardsList_value_294b63f8 {
  color: #fd9;
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
  margin-top: -34rem;
  position: relative;
}
.mediaLarge .AwardsList_value_294b63f8 {
  color: #fd9;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: -53rem;
  font-weight: 400;
}

.AwardsList_reward_61da62c0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.AwardsList_label_8443931c {
  color: #e9e2bf;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 5rem;
}
.mediaSmall .AwardsList_label_8443931c {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.mediaLarge .AwardsList_label_8443931c {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}

.AwardsList_animatedBg_1a831f28 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
}

.AwardsList_ribbon_ff406dec {
  width: 100vw;
  height: 100vh;
  background: no-repeat top/contain;
  position: absolute;
  top: 20rem;
}
.AwardsList_base__inProgress_bcb7b6e7 .AwardsList_ribbon_ff406dec {
  background-image: url("R.images.comp7_light.gui.maps.icons.battleQuestAwards.red_ribbon_1366");
}
.mediaMedium .AwardsList_base__inProgress_bcb7b6e7 .AwardsList_ribbon_ff406dec {
  background-image: url("R.images.comp7_light.gui.maps.icons.battleQuestAwards.red_ribbon_1600");
}
.mediaLarge .AwardsList_base__inProgress_bcb7b6e7 .AwardsList_ribbon_ff406dec {
  background-image: url("R.images.comp7_light.gui.maps.icons.battleQuestAwards.red_ribbon_1920");
}
.AwardsList_base__completed_bcb7b6e7 .AwardsList_ribbon_ff406dec {
  background-image: url("R.images.comp7_light.gui.maps.icons.battleQuestAwards.gold_ribbon_1366");
}
.mediaMedium .AwardsList_base__completed_bcb7b6e7 .AwardsList_ribbon_ff406dec {
  background-image: url("R.images.comp7_light.gui.maps.icons.battleQuestAwards.gold_ribbon_1600");
}
.mediaLarge .AwardsList_base__completed_bcb7b6e7 .AwardsList_ribbon_ff406dec {
  background-image: url("R.images.comp7_light.gui.maps.icons.battleQuestAwards.gold_ribbon_1920");
}
.mediaSmall .AwardsList_ribbon_ff406dec {
  top: 40rem;
}
.mediaExtraLarge .AwardsList_ribbon_ff406dec {
  width: 75vw;
  height: 75vh;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes Header_fadeIn_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Header_fadeInThreeQuarters_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Header_fadeInHalf_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Header_fadeOut_65f475ba {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Header_fadeInWithScale_65f475ba {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Header_slideUp_65f475ba {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Header_scale_65f475ba {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Header_raysAppearance_65f475ba {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Header_rotate_65f475ba {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Header_reverse-rotate_65f475ba {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Header_glowAppearance_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Header_highlightAppearance_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Header_blink_65f475ba {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Header_slideUpIn_65f475ba {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.Header_bbfb94eb {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.Header_subTitle_ab861848 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.mediaLarge .Header_subTitle_ab861848 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}

.Header_title_818ec59a {
  margin-top: 8rem;
  margin-bottom: 16rem;
  text-align: center;
  white-space: pre-wrap;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.mediaMedium .Header_title_818ec59a {
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 4rem;
}
.mediaExtraLarge .Header_title_818ec59a {
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.App_fef06415 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 50rem;
  padding-bottom: 50rem;
  background: url("R.images.comp7_light.gui.maps.icons.backgrounds.rewards_screen_bg") no-repeat
    center/cover;
  position: relative;
}
.mediaLarge .App_fef06415 {
  padding-bottom: 80rem;
}
.mediaExtraLarge .App_fef06415 {
  padding-top: 100rem;
  padding-bottom: 100rem;
}

.App_content_938ab47b {
  flex: 1 1 auto;
  width: 100%;
}

.App_buttonWrapper_de3d4b06 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App_button_5120fb02 {
  min-width: 180rem;
}

.App_rewardList_6063ee6e {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
}
.mediaSmall .App_rewardList_6063ee6e {
  top: -25rem;
}
.mediaExtraLarge .App_rewardList_6063ee6e {
  top: -45rem;
}
