/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_674a410b {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Header_subTitle_eb3d3f02 {
  color: var(--color-general-secondary);
  font-size: 18rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.01em;
}
.mediaLarge .Header_subTitle_eb3d3f02 {
  margin-bottom: -4rem;
  font-size: 22rem;
}

.Header_title_85f73f2e {
  color: rgba(238, 237, 233, 0.9);
  font-size: 56rem;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.mediaLarge .Header_title_85f73f2e {
  font-size: 80rem;
  letter-spacing: 0.01em;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.App_a69e7530 {
  width: 100%;
  height: 100%;
  background-color: #131417;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.App_decoration_709527c2 {
  width: 1766rem;
  height: 922rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mediaMedium .App_decoration_709527c2 {
  width: 2290rem;
  height: 1194rem;
}
.mediaLarge .App_decoration_709527c2 {
  width: 2700rem;
  height: 1408rem;
}
.mediaExtraLarge .App_decoration_709527c2 {
  width: 3640rem;
  height: 1900rem;
}

.App_bg_dc2ea83b {
  width: 100%;
  height: 100%;
  background: url("R.images.resource_well.gui.maps.icons.award.awardBG") no-repeat center/contain;
  background-position-y: -50rem;
  position: absolute;
}
.mediaExtraLarge .App_bg_dc2ea83b {
  background-position-y: 0;
}

.App_vehicle_951eb362 {
  width: 100%;
  height: 100%;
  background: url("R.images.resource_well.gui.maps.icons.award.awardTank") no-repeat center/contain;
  background-position-y: -50rem;
  position: absolute;
}
.App_vehicle__style_a5491eb6 {
  background-image: url("R.images.resource_well.gui.maps.icons.award.awardTankStyle");
}
.mediaExtraLarge .App_vehicle_951eb362 {
  background-position-y: 0;
}

.App_content_79538684 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 53rem 50rem 64rem;
}
.mediaMedium .App_content_79538684 {
  padding-bottom: 80rem;
}
.mediaLarge .App_content_79538684 {
  padding-top: 57rem;
  padding-bottom: 90rem;
}
.mediaExtraLarge .App_content_79538684 {
  padding-top: 65rem;
  padding-bottom: 110rem;
}

.App_reward_5fe7968c {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 58%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%);
}
.mediaMedium .App_reward_5fe7968c {
  top: 60%;
}
.mediaLarge .App_reward_5fe7968c {
  top: 59%;
}
.mediaExtraLarge .App_reward_5fe7968c {
  top: 64%;
}

.App_personalNumberDecor_e7e3a061 {
  margin-top: -4rem;
}

.App_personalNumber_864d02d7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  z-index: 1;
}
.mediaMedium .App_personalNumber_864d02d7 {
  padding-top: 8rem;
}
.mediaLarge .App_personalNumber_864d02d7 {
  padding-top: 11rem;
}
.App_personalNumber_864d02d7::before {
  width: 600rem;
  height: 350rem;
  background: url("R.images.resource_well.gui.maps.icons.shadow_vehicle_info") no-repeat
    center/contain;
  content: "";
  position: absolute;
  top: 50%;
  z-index: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.App_vehicleInfoWrapper_b39b8000 {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  position: relative;
}
.mediaMedium .App_vehicleInfoWrapper_b39b8000 {
  padding-top: 8rem;
}
.mediaLarge .App_vehicleInfoWrapper_b39b8000 {
  padding-top: 11rem;
}

.App_vehicleInfo_81a4bb44 {
  z-index: 1;
}

.App_receiveWrapper_31b438f8 {
  width: 500rem;
  height: 157rem;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.mediaMedium .App_receiveWrapper_31b438f8 {
  top: 3rem;
}
.mediaLarge .App_receiveWrapper_31b438f8 {
  width: 600rem;
  height: 188rem;
  top: 21rem;
}
.App_receiveWrapper_31b438f8::before {
  width: 600rem;
  height: 350rem;
  background: url("R.images.resource_well.gui.maps.icons.shadow_vehicle_info") no-repeat
    center/contain;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.App_receiveDecoration_8cd659f9 {
  width: 100%;
  height: 100%;
  background: url("R.images.resource_well.gui.maps.icons.counterStates.received_small") no-repeat
    center/contain;
  position: relative;
  z-index: 1;
}
.mediaLarge .App_receiveDecoration_8cd659f9 {
  background-image: url("R.images.resource_well.gui.maps.icons.counterStates.received");
}

.App_receiveTitle_292b078d {
  color: #87db45;
  font-size: 18rem;
  white-space: nowrap;
  position: absolute;
  top: 93rem;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
.mediaLarge .App_receiveTitle_292b078d {
  font-size: 22rem;
  top: 112rem;
}

.App_header_34ccd58f {
  width: 100%;
  z-index: 1;
}

.App_hangarButton_6d5ac65d {
  display: flex;
  justify-content: center;
}

.App_formatText_8ecdbb0e {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: rgba(238, 237, 233, 0.9);
  font-size: 28rem;
  font-weight: 600;
  z-index: 1;
}
.mediaLarge .App_formatText_8ecdbb0e {
  font-size: 40rem;
}
