/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ArrowButton_button_7654af94 {
  width: 35rem;
}

.ArrowButton_icon_35e5294f {
  width: 10rem;
  height: 26rem;
}
.ArrowButton_button__left_5327085d .ArrowButton_icon_35e5294f {
  transform: rotate(180deg);
}

.ArrowButton_background_5327085d,
.ArrowButton_border_5327085d,
.ArrowButton_overlay_c36cbc33 {
  width: 32rem;
  height: 48rem;
  top: 50%;
  transform: translateY(-50%);
}
.ArrowButton_button__left_5327085d .ArrowButton_background_5327085d,
.ArrowButton_button__left_5327085d .ArrowButton_border_5327085d,
.ArrowButton_button__left_5327085d .ArrowButton_overlay_c36cbc33 {
  margin-left: 3rem;
}

.ArrowButton_content_4666fd05 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32rem;
  height: 48rem;
}
.ArrowButton_button__right_5327085d .ArrowButton_content_4666fd05 {
  margin-right: 1rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.CarouselNavButtons_navButtonWrapper_a13c2a68 {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  position: relative;
}

.CarouselNavButtons_navButtonWrapper_a13c2a68 .CarouselNavButtons_navButton_adcc2e9b {
  opacity: 1;
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  transition: opacity 0.2s;
}
.CarouselNavButtons_navButtonWrapper_a13c2a68 .CarouselNavButtons_navButton__left_5f6dc3a0 {
  left: 0;
}
.CarouselNavButtons_navButtonWrapper_a13c2a68 .CarouselNavButtons_navButton__right_66b4f03f {
  right: 0;
}
.CarouselNavButtons_navButtonWrapper_a13c2a68 .CarouselNavButtons_navButton__hidden_69011a0b {
  opacity: 0;
  z-index: -1;
}

.CarouselNavButtons_mask_17bb1a0e {
  display: flex;
  max-width: 100%;
  height: 100%;
  mask: linear-gradient(to left, transparent, #000 4%);
  mask-repeat: no-repeat;
  transition: mask 0.2s;
}
.CarouselNavButtons_mask__both_7294632e {
  mask: linear-gradient(to right, transparent, #000 4%, #000 96%, transparent);
}
.CarouselNavButtons_mask__left_e8bc4c90 {
  mask: linear-gradient(to right, transparent, #000 4%);
}
.CarouselNavButtons_mask__right_6be519f7 {
  mask: linear-gradient(to left, transparent, #000 4%);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.CarouselScroll_3690a837 {
  width: 100%;
  height: 100%;
}

.CarouselScroll_areaContent_f5dd7772 {
  display: flex;
  align-content: center;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Card_f7ddaa4a {
  position: relative;
}

.Card_shapeBG_6d418f4a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.35);
  pointer-events: none;
}

.Card_ccd25a1f {
  min-width: 30rem;
  min-height: 30rem;
  border-width: 6rem;
  border-image: url(R.images.gui.maps.icons.ui_kit.common.card_border) 16/16rem/3rem repeat;
  position: relative;
  pointer-events: auto;
}
.Card_base__hover_f4c22d1c .Card_ccd25a1f {
  cursor: pointer;
}
.Card_base__selected_f4c22d1c .Card_ccd25a1f,
.Card_base__locked_f4c22d1c .Card_ccd25a1f {
  cursor: default;
}

.Card_rectangleArea_b7d9ab80 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  overflow: hidden;
  pointer-events: none;
}

.Card_cardContent_9b654fec {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.Card_cardSelected_667eed40 {
  position: absolute;
  top: -3rem;
  right: -3rem;
  bottom: -3rem;
  left: -3rem;
  border: 1rem solid rgba(255, 255, 255, 0);
  position: absolute;
  transition: border 0.2s ease;
  pointer-events: none;
}
.Card_base__hover_f4c22d1c .Card_cardSelected_667eed40 {
  border: 1rem solid rgba(255, 255, 255, 0.2);
}
.Card_base__selected_f4c22d1c .Card_cardSelected_667eed40 {
  border: 2rem solid rgba(255, 255, 255, 0.4);
}

.Card_shape_f2b26866 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
}
.Card_base__selected_f4c22d1c .Card_shape_f2b26866 {
  opacity: 0.05;
}
.Card_base__hover_f4c22d1c .Card_shape_f2b26866 {
  opacity: 0.08;
}
.Card_base__locked_f4c22d1c .Card_shape_f2b26866 {
  opacity: 0.02;
}

.Card_tankIcon_dfb24ec7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260rem;
  height: 208rem;
  pointer-events: none;
}
.mediaMedium .Card_tankIcon_dfb24ec7 {
  width: 340rem;
  height: 272rem;
}
.mediaExtraLarge .Card_tankIcon_dfb24ec7 {
  width: 380rem;
  height: 304rem;
}
.Card_base__locked_f4c22d1c .Card_tankIcon_dfb24ec7 {
  filter: grayscale(0%) brightness(60%) saturate(80%) contrast(95%);
}

.Card_role_5f7efc17 {
  width: 24rem;
  height: 24rem;
  position: absolute;
  right: 1rem;
  bottom: 22rem;
}
.mediaMedium .Card_role_5f7efc17 {
  right: 7rem;
  bottom: 31rem;
}
.mediaExtraLarge .Card_role_5f7efc17 {
  width: 48rem;
  height: 48rem;
  right: -5rem;
  bottom: 27rem;
}

.Card_vehName_441006bf {
  font-size: 18rem;
  position: absolute;
  right: 5rem;
  bottom: -1rem;
}
.mediaMedium .Card_vehName_441006bf {
  font-size: 20rem;
  right: 10rem;
  bottom: 4rem;
}
.mediaExtraLarge .Card_vehName_441006bf {
  font-size: 24rem;
  right: 11rem;
  bottom: 7rem;
}

.Card_disabled_156a9497 {
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.mediaMedium .Card_disabled_156a9497 {
  flex-direction: column;
}

.Card_disabledPattern_1a86a3e0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:
    radial-gradient(50% 50% at 50% 50%, rgba(52, 52, 52, 0.5), rgba(0, 0, 0, 0.5)),
    url("R.images.halloween.gui.maps.icons.hangar.carousel.cards.disable_pattern") repeat;
  opacity: 0.5;
  pointer-events: none;
}

.Card_stateIcon_e4fe9396 {
  width: 40rem;
  height: 40rem;
  margin: 0 -3rem;
  background: url("R.images.gui.maps.icons.hangar.carousel.cards.alerts.locked_white_upscale")
    no-repeat 50% / contain;
  position: relative;
}
.mediaMedium .Card_stateIcon_e4fe9396 {
  width: 50rem;
  height: 50rem;
  margin: -3rem -10rem;
}

.Card_stateText_93dd46ce {
  color: var(--color-general-primary);
  font-size: 18rem;
  font-weight: 500;
  line-height: 1;
  text-shadow: 0 0 12rem rgba(224, 224, 224, 0.7);
  letter-spacing: 0.02em;
  z-index: 2;
}
html[lang="ja"] .Card_stateText_93dd46ce,
html[lang="ko"] .Card_stateText_93dd46ce,
html[lang="zh_tw"] .Card_stateText_93dd46ce,
html[lang="zh_sg"] .Card_stateText_93dd46ce,
html[lang="zh_cn"] .Card_stateText_93dd46ce,
html[lang="vi"] .Card_stateText_93dd46ce,
html[lang="th"] .Card_stateText_93dd46ce {
  margin-top: -4rem;
  font-size: 15rem;
}
.mediaMedium .Card_stateText_93dd46ce {
  font-size: 20rem;
  line-height: 1.3;
}
html[lang="ja"] .mediaMedium .Card_stateText_93dd46ce,
html[lang="ko"] .mediaMedium .Card_stateText_93dd46ce,
html[lang="zh_tw"] .mediaMedium .Card_stateText_93dd46ce,
html[lang="zh_sg"] .mediaMedium .Card_stateText_93dd46ce,
html[lang="zh_cn"] .mediaMedium .Card_stateText_93dd46ce,
html[lang="vi"] .mediaMedium .Card_stateText_93dd46ce,
html[lang="th"] .mediaMedium .Card_stateText_93dd46ce {
  margin-top: 0;
  font-size: 18rem;
}
html[lang="ja"] .mediaExtraLarge .Card_stateText_93dd46ce,
html[lang="ko"] .mediaExtraLarge .Card_stateText_93dd46ce,
html[lang="zh_tw"] .mediaExtraLarge .Card_stateText_93dd46ce,
html[lang="zh_sg"] .mediaExtraLarge .Card_stateText_93dd46ce,
html[lang="zh_cn"] .mediaExtraLarge .Card_stateText_93dd46ce,
html[lang="vi"] .mediaExtraLarge .Card_stateText_93dd46ce,
html[lang="th"] .mediaExtraLarge .Card_stateText_93dd46ce {
  font-size: 20rem;
}

.Card_newEnemy_77e268d7 {
  position: absolute;
  top: 11rem;
  right: 11rem;
}

.Card_hasStyle_4be9acbc {
  width: 28rem;
  height: 28rem;
  background: url("R.images.gui.maps.icons.hangar.filter.special.own3DStyle_upscale") no-repeat
    50% / contain;
  opacity: 0.8;
  position: absolute;
  top: 5rem;
  left: 7rem;
  transition: opacity 0.2s ease;
  cursor: pointer;
}
.mediaMedium .Card_hasStyle_4be9acbc {
  top: 9rem;
  left: 9rem;
}
.mediaExtraLarge .Card_hasStyle_4be9acbc {
  top: 10rem;
  left: 13rem;
}
.Card_base__locked_f4c22d1c .Card_hasStyle_4be9acbc {
  opacity: 0.35;
  cursor: default;
}
.Card_base__selected_f4c22d1c .Card_hasStyle_4be9acbc,
.Card_base__hover_f4c22d1c .Card_hasStyle_4be9acbc {
  opacity: 1;
}
.Card_base__hover_f4c22d1c .Card_hasStyle_4be9acbc {
  cursor: pointer;
}
.Card_base__selected_f4c22d1c .Card_hasStyle_4be9acbc {
  cursor: default;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Carousel_content_ebbf92a7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Carousel_scroll_9f431d7b {
  width: 100%;
}

.Carousel_item_dd088d9c {
  width: 190rem;
  height: 92rem;
  margin-right: -1rem;
  padding: 3rem;
}
.mediaMedium .Carousel_item_dd088d9c {
  width: 225rem;
  height: 137rem;
}
.mediaLarge .Carousel_item_dd088d9c {
  width: 246rem;
  height: 150rem;
}
.mediaExtraLarge .Carousel_item_dd088d9c {
  width: 303rem;
  height: 188rem;
}

.Carousel_draggingOverlay_721120be {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  cursor: move;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.CarouselWrapper_ca5de8ae {
  width: 100%;
  height: 100%;
}

.CarouselWrapper_carousel_89edf9bd {
  position: relative;
}

.CarouselWrapper_carouselBg_5d3c4f9d {
  width: 100%;
  height: 110.4rem;
  background-color: rgba(0, 0, 0, 0.75);
  filter: blur(35px);
  mask: linear-gradient(to right, transparent, #000 10%, #000 90%, transparent);
  position: absolute;
  bottom: 45rem;
  left: 0;
  pointer-events: none;
}
.mediaMedium .CarouselWrapper_carouselBg_5d3c4f9d {
  height: 150.7rem;
  bottom: 61rem;
}
.mediaLarge .CarouselWrapper_carouselBg_5d3c4f9d {
  height: 165rem;
}
.mediaExtraLarge .CarouselWrapper_carouselBg_5d3c4f9d {
  height: 206.8rem;
  bottom: 67rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ShopStylePanel_5fb9377c {
  display: flex;
  width: 100%;
  height: 100rem;
  overflow: hidden;
  position: relative;
}

.ShopStylePanel_background_7d665fb1 {
  width: 600rem;
  height: 100rem;
  background: url("R.images.halloween.gui.maps.icons.shopStylePanel.panel_background") no-repeat 0
    0 / contain;
  position: absolute;
  top: 0;
  left: 0;
}

.ShopStylePanel_backgroundFrame_61e9e1d2,
.ShopStylePanel_backgroundStroke_8f4255f2 {
  height: 100rem;
  background-image: url("R.images.halloween.gui.maps.icons.shopStylePanel.panel_border");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 600rem 100rem;
  position: absolute;
  top: 0;
}

.ShopStylePanel_backgroundFrame_61e9e1d2 {
  width: 598rem;
  background-position: 0 0;
  left: 0;
}

.ShopStylePanel_backgroundStroke_8f4255f2 {
  width: 2rem;
  background-position: -598rem 0;
  right: 0;
}

.ShopStylePanel_gapIcon_949c5aaf {
  width: 72rem;
  height: 100%;
}

.ShopStylePanel_iconBlock_aeebc687 {
  width: 1rem;
  height: 100%;
  position: relative;
}

.ShopStylePanel_icon_94798074 {
  width: 48rem;
  height: 48rem;
  background: url("R.images.halloween.gui.maps.icons.shopStylePanel.c_3d_style") no-repeat 50% /
    contain;
  position: absolute;
  top: 0;
  left: -57rem;
}
.media-upscale .ShopStylePanel_icon_94798074 {
  background-image: url("R.images.halloween.gui.maps.icons.shopStylePanel.c_3d_style_upscale");
}

.ShopStylePanel_textBlock_70a2e105 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 auto;
  height: 100%;
  margin-top: 3rem;
  position: relative;
}
.mediaMedium .ShopStylePanel_textBlock_70a2e105 {
  margin-top: 1rem;
}
.mediaLarge .ShopStylePanel_textBlock_70a2e105 {
  margin-top: 3rem;
}
.mediaExtraLarge .ShopStylePanel_textBlock_70a2e105 {
  margin-top: 4rem;
}

.ShopStylePanel_textHeader_a72ca139 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  max-height: 2.3em;
  margin-left: -1rem;
  color: rgba(255, 228, 192, 0.9);
  line-height: 1.15;
}
.mediaLarge .ShopStylePanel_textHeader_a72ca139 {
  max-height: 3.45em;
  font-size: 24rem;
}

.ShopStylePanel_textRowDescription_3c474bb4,
.ShopStylePanel_textRow_15c06464 {
  display: flex;
  width: auto;
}

.ShopStylePanel_textRowDescription_3c474bb4 {
  margin-top: 2rem;
}
.mediaExtraLarge .ShopStylePanel_textRowDescription_3c474bb4 {
  margin-top: 0;
}

.ShopStylePanel_description_996d7f29 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  flex: 0 1 auto;
  width: auto;
  height: 24rem;
  margin-right: 5rem;
  color: rgba(var(--color-general-primary-rgb), 0.6);
}
.mediaExtraLarge .ShopStylePanel_description_996d7f29 {
  height: 28rem;
  font-size: 18rem;
}
.ShopStylePanel_description__trancated_98d6a342 {
  width: 100%;
}

.ShopStylePanel_timer_98dc4eb2 {
  flex: 1 0 auto;
  margin-left: -3rem;
}
.mediaExtraLarge .ShopStylePanel_timer_98dc4eb2 {
  margin-top: 2rem;
}

.ShopStylePanel_buttonBlock_210de744 {
  display: flex;
  flex: 1 0 auto;
  width: auto;
  height: 100%;
}

.ShopStylePanel_gapShrink_1733eef {
  flex: 0 1 auto;
  width: 10rem;
  height: 100%;
}

.ShopStylePanel_button_9fe864cb {
  flex: 1 0 auto;
  align-self: center;
  max-width: 140rem;
  padding: 0 10rem;
  white-space: nowrap;
}
.mediaLarge .ShopStylePanel_button_9fe864cb {
  padding: 0 16rem;
}

.ShopStylePanel_gapConstant_b7a32738 {
  width: 28rem;
  height: 100%;
}

.ShopStylePanel_deportIcon_58da5f28 {
  width: 24rem;
  height: 24rem;
  margin-right: 5rem;
  background: url("R.images.gui.maps.icons.library.currency.depot_24x24") no-repeat 50% / contain;
}
.media-upscale .ShopStylePanel_deportIcon_58da5f28 {
  background-image: url("R.images.gui.maps.icons.library.currency.depot_48x48");
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Information_ded17156 {
  position: relative;
}

.Information_scroll_7289a460 {
  width: 100%;
  max-height: calc(100vh - 92rem - 57rem - 60rem);
  position: relative;
}
.mediaMedium .Information_scroll_7289a460 {
  max-height: calc(100vh - 137rem - 56rem - 65rem);
}
.mediaLarge .Information_scroll_7289a460 {
  max-height: calc(100vh - 150rem - 96rem - 70rem);
}
.mediaExtraLarge .Information_scroll_7289a460 {
  max-height: calc(100vh - 188rem - 160rem - 80rem);
}

.Information_area__begin_aa43cdbb {
  mask: linear-gradient(to bottom, transparent, #000 4%);
}
.Information_area__end_2f1140f3 {
  mask: linear-gradient(to top, transparent, #000 4%);
}
.Information_area__begin_aa43cdbb.Information_area__end_2f1140f3 {
  mask: linear-gradient(to bottom, transparent, #000 4%, #000 96%, transparent);
}

.Information_bar_db7034d {
  height: 100%;
  position: absolute;
  top: 0;
  right: -20rem;
}

.Information_scrollContainer_986e4ab1 {
  display: flex;
  flex-direction: column;
  margin-left: 20rem;
}

.Information_separator_d22801c9 {
  width: 100%;
  height: 1rem;
  margin-bottom: 13rem;
  background: url(R.images.gui.maps.icons.ui.light_noise);
  opacity: 0.18;
}

.Information_firstBlock_1f720f26 {
  width: 100%;
  height: 7rem;
}
.mediaMedium .Information_firstBlock_1f720f26 {
  height: 8rem;
}
.mediaLarge .Information_firstBlock_1f720f26 {
  height: 1rem;
}
.mediaExtraLarge .Information_firstBlock_1f720f26 {
  height: 6rem;
}

.Information_lastBlock_29c960c0 {
  width: 100%;
  height: 10rem;
}
.mediaMedium .Information_lastBlock_29c960c0 {
  height: 15rem;
}
.mediaLarge .Information_lastBlock_29c960c0 {
  height: 20rem;
}
.mediaExtraLarge .Information_lastBlock_29c960c0 {
  height: 25rem;
}

.Information_header_308df9a8 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64rem;
  position: relative;
}
.mediaLarge .Information_header_308df9a8 {
  height: 96rem;
  margin-top: -3rem;
}
.mediaExtraLarge .Information_header_308df9a8 {
  margin-top: 0;
}

.Information_headerIcon_269e34c6 {
  width: 64rem;
  height: 100%;
  margin-left: -18rem;
}
.mediaMedium .Information_headerIcon_269e34c6 {
  margin-left: -17rem;
}
.mediaLarge .Information_headerIcon_269e34c6 {
  margin-left: -26rem;
}
.mediaLarge .Information_headerIcon_269e34c6 {
  width: 96rem;
}

.Information_headerText_ad90d581 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  width: 90%;
  max-height: 54rem;
  margin-left: -3rem;
  color: rgba(var(--color-general-primary-rgb), 0.85);
  font-weight: 600;
  letter-spacing: 0.3rem;
}
.mediaMedium .Information_headerText_ad90d581 {
  max-height: 60rem;
  margin-top: -4rem;
  font-size: 46rem;
}
.mediaLarge .Information_headerText_ad90d581 {
  max-height: 74rem;
  margin: 1rem 0 0 -4rem;
  font-size: 56rem;
}
.mediaExtraLarge .Information_headerText_ad90d581 {
  max-height: 84rem;
  margin-top: -5rem;
  font-size: 64rem;
}

.Information_about_5c795f53 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 98%;
  max-height: 6.6em;
  margin: -3rem 0 10rem;
  color: rgba(var(--color-general-primary-rgb), 0.6);
  line-height: 1.1;
}
.mediaMedium .Information_about_5c795f53 {
  margin: 1rem 0 12rem;
}
.mediaLarge .Information_about_5c795f53 {
  margin: -4rem 0 17rem;
  font-size: 18rem;
}
.mediaExtraLarge .Information_about_5c795f53 {
  margin: 6rem 0 26rem;
  font-size: 22rem;
}

.Information_abilityContainer_a1574416 {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 6rem;
  position: relative;
}
.mediaMedium .Information_abilityContainer_a1574416 {
  margin-bottom: 8rem;
}
.mediaLarge .Information_abilityContainer_a1574416 {
  margin-bottom: 9rem;
}
.mediaExtraLarge .Information_abilityContainer_a1574416 {
  margin-bottom: 22rem;
}

.Information_abilityIconContainer_bfab8ea9 {
  width: 96rem;
  height: 80rem;
  position: relative;
}
.mediaLarge .Information_abilityIconContainer_bfab8ea9 {
  width: 116rem;
  height: 108rem;
}
.mediaExtraLarge .Information_abilityIconContainer_bfab8ea9 {
  height: 128rem;
}

.Information_abilityIcon_a88def51 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80rem;
  height: 80rem;
  margin-left: -7rem;
}
.mediaLarge .Information_abilityIcon_a88def51 {
  width: 96rem;
  height: 96rem;
  margin-left: -10rem;
}
.mediaExtraLarge .Information_abilityIcon_a88def51 {
  margin-left: -10rem;
}

.Information_abilityText_4f90fa39 {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.Information_abilityHeader_9a5412be {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  max-height: 26rem;
  color: rgba(var(--color-general-primary-rgb), 0.85);
  letter-spacing: 1rem;
}
.mediaMedium .Information_abilityHeader_9a5412be {
  max-height: 30rem;
  font-size: 22rem;
}
.mediaLarge .Information_abilityHeader_9a5412be {
  max-height: 34rem;
  font-size: 24rem;
  letter-spacing: 0.5rem;
}
.mediaExtraLarge .Information_abilityHeader_9a5412be {
  max-height: 38rem;
  font-size: 28rem;
  letter-spacing: 1.1rem;
}
.Information_abilityHeader_9a5412be {
  margin-bottom: 1rem;
}
.mediaMedium .Information_abilityHeader_9a5412be {
  margin: 1rem 0 0;
}
.mediaLarge .Information_abilityHeader_9a5412be {
  margin: 6rem 0 1rem;
}
.mediaExtraLarge .Information_abilityHeader_9a5412be {
  margin: 14rem 0 6rem;
}

.Information_abilityDescription_f75710cc {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 4rem;
  color: rgba(var(--color-general-primary-rgb), 0.6);
  line-height: 1.1;
}
.mediaLarge .Information_abilityDescription_f75710cc {
  font-size: 18rem;
}
.mediaExtraLarge .Information_abilityDescription_f75710cc {
  font-size: 22rem;
}

.Information_tactical_29c6fc5 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Information_tacticalHeader_a0e6b791 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  max-height: 26rem;
  color: rgba(var(--color-general-primary-rgb), 0.85);
  letter-spacing: 1rem;
}
.mediaMedium .Information_tacticalHeader_a0e6b791 {
  max-height: 30rem;
  font-size: 22rem;
}
.mediaLarge .Information_tacticalHeader_a0e6b791 {
  max-height: 34rem;
  font-size: 24rem;
  letter-spacing: 0.5rem;
}
.mediaExtraLarge .Information_tacticalHeader_a0e6b791 {
  max-height: 38rem;
  font-size: 28rem;
  letter-spacing: 1.1rem;
}
.Information_tacticalHeader_a0e6b791 {
  margin-top: -7rem;
}
.mediaMedium .Information_tacticalHeader_a0e6b791 {
  margin-top: -6rem;
}
.mediaLarge .Information_tacticalHeader_a0e6b791 {
  margin-top: -1rem;
}
.mediaExtraLarge .Information_tacticalHeader_a0e6b791 {
  margin: 7rem 0 5rem;
}

.Information_tacticalDescription_e4f60e7c {
  margin-top: 1rem;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.6);
  line-height: 1.1;
}
.mediaMedium .Information_tacticalDescription_e4f60e7c {
  margin-top: 0;
}
.mediaLarge .Information_tacticalDescription_e4f60e7c {
  font-size: 19rem;
}
.mediaExtraLarge .Information_tacticalDescription_e4f60e7c {
  margin-top: 1rem;
  font-size: 22rem;
}

.Information_blockLI_6f4f8cf {
  display: flex;
}

.Information_bulletLI_83f43102 {
  width: 5rem;
  height: 5rem;
  margin: 8rem 9rem 0 10rem;
  border-radius: 10rem;
  background-color: rgba(var(--color-general-primary-rgb), 0.6);
}
.mediaLarge .Information_bulletLI_83f43102 {
  margin: 8rem 11rem 0;
}
.mediaExtraLarge .Information_bulletLI_83f43102 {
  width: 6rem;
  height: 6rem;
  margin: 11rem 13rem 0;
}

.Information_textPartUL_d1967024 {
  margin-bottom: 6rem;
}

.Information_textPartLI_c912b428 {
  width: 90%;
  max-height: 11.88em;
  margin-bottom: 6rem;
  line-height: 1.08;
}
.mediaLarge .Information_textPartLI_c912b428 {
  margin-bottom: 7rem;
}
.mediaExtraLarge .Information_textPartLI_c912b428 {
  max-height: 12.1em;
  margin-bottom: 14rem;
  line-height: 1.1;
}

.Information_shopStylePanel_a372e701 {
  width: 100%;
  height: 100rem;
  margin-bottom: 9rem;
  position: relative;
}
.mediaMedium .Information_shopStylePanel_a372e701 {
  margin-bottom: 19rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BlockWithCoords_vehicleBox_5d1a08b4 {
  pointer-events: none;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.VehicleBox_vehicleBox_2620d40 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */ /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BestiaryApp_5688328b {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(to right, transparent 30%, rgba(29, 35, 39, 0.8) 75%),
    linear-gradient(150deg, rgba(29, 35, 39, 0.8) 17%, transparent 50%) left top/520rem 320rem
      no-repeat,
    linear-gradient(30deg, rgba(29, 35, 39, 0.8) 15%, transparent 50%) left bottom/470rem 303rem
      no-repeat;
  overflow: hidden;
}
.mediaMedium .BestiaryApp_5688328b {
  background:
    linear-gradient(to right, transparent 30%, rgba(29, 35, 39, 0.8) 85%),
    linear-gradient(150deg, rgba(29, 35, 39, 0.8) 17%, transparent 50%) left top/740rem 454rem
      no-repeat,
    linear-gradient(30deg, rgba(29, 35, 39, 0.8) 15%, transparent 50%) left bottom/740rem 454rem
      no-repeat;
}

.BestiaryApp_sceneWrapper_936875f2 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}

.BestiaryApp_carousel_135ee602 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: calc(100vw - 31rem - 28rem);
  position: absolute;
  bottom: 38rem;
}
.media-upscale .BestiaryApp_carousel_135ee602 {
  bottom: 48rem;
}
.mediaMediumWidth .BestiaryApp_carousel_135ee602 {
  width: calc(100vw - 30rem - 30rem);
  bottom: 56rem;
}
.mediaLargeWidth .BestiaryApp_carousel_135ee602 {
  width: calc(100vw - 49rem - 46rem);
}
.mediaExtraLargeWidth .BestiaryApp_carousel_135ee602 {
  width: calc(100vw - 48rem - 47rem);
  bottom: 62rem;
}

.BestiaryApp_container_27635466 {
  display: flex;
  width: 100%;
  padding: 0 30rem;
  position: absolute;
  top: 57rem;
}
.mediaMedium .BestiaryApp_container_27635466 {
  top: 56rem;
}
.mediaLarge .BestiaryApp_container_27635466 {
  padding: 0 47rem;
  top: 96rem;
}
.mediaExtraLarge .BestiaryApp_container_27635466 {
  top: 160rem;
}
.BestiaryApp_container_27635466 {
  pointer-events: none;
}

.BestiaryApp_vehicleBox_dae34eb1 {
  flex: 1;
  align-self: stretch;
}

.BestiaryApp_boxWithCoords_bce7079b {
  top: 30%;
  left: 8%;
}

.BestiaryApp_information_6eea2ba8 {
  width: 420rem;
}
.mediaMedium .BestiaryApp_information_6eea2ba8 {
  width: 470rem;
}
.mediaLarge .BestiaryApp_information_6eea2ba8 {
  width: 520rem;
}
.mediaExtraLarge .BestiaryApp_information_6eea2ba8 {
  width: 620rem;
}
