body {
  margin: 1rem;
  overflow: hidden;
}

.DateText_endDate_53 {
  color: #ffdd99;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: center;
  position: absolute;
  bottom: 12rem;
}

.DateText_endDate_53.DateText_base__wideSmall_4e {
  bottom: 9rem;
}

.DateText_endDate_53.DateText_base__thinSmall_01 {
  font-size: 16rem;
  bottom: 8rem;
}

.DateText_endDate_53.DateText_base__thinExtraSmall_c8 {
  font-size: 12rem;
  bottom: 12rem;
}

.DateText_glowText_1d {
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 15rem #e52;
}

.DateText_timerIcon_e5 {
  width: 32rem;
  height: 32rem;
  margin: 0 -4rem -8rem -1rem;
  background: url("R.images.fun_random.gui.maps.icons.feature.entry_point.time_icon") no-repeat
    center / contain;
}

.DateText_base__thinExtraSmall_c8 .DateText_timerIcon_e5 {
  margin-bottom: -9rem;
}

.DateText_base__disabled_3b .DateText_timerIcon_e5 {
  background: url("R.images.fun_random.gui.maps.icons.feature.entry_point.icon_lock") no-repeat
    center / contain;
}

.DateText_base__thinExtraSmall_c8.DateText_base__disabled_3b .DateText_timerIcon_e5 {
  margin-bottom: -9rem;
}

.SubTitle_subtitle_b2 {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 52rem;
}

.SubTitle_subtitle_b2.SubTitle_base__wideSmall_b6 {
  bottom: 34rem;
}

.SubTitle_subtitle_b2.SubTitle_base__thinSmall_3c {
  bottom: 37rem;
}

.SubTitle_subtitle_b2.SubTitle_base__thinExtraSmall_c4 {
  font-size: 14rem;
  bottom: 38rem;
}

@keyframes App_zoom-in_ad {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.03);
  }
}

@keyframes App_zoom-out_fe {
  0% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes App_brightness-in_85 {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(1.05);
  }
}

@keyframes App_brightness-in-dis_b2 {
  0% {
    filter: grayscale(100%) brightness(1);
  }

  100% {
    filter: grayscale(100%) brightness(1.05);
  }
}

@keyframes App_brightness-out_1f {
  0% {
    filter: brightness(1.05);
  }

  100% {
    filter: brightness(1);
  }
}

.App_base_15 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  box-shadow: inset 0 0 7rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.App_bg_a1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat center / cover;
}

.App_base_15:hover .App_bg_a1 {
  animation:
    App_zoom-in_ad 1.2s cubic-bezier(0.07, 0.82, 0.17, 1) forwards,
    App_brightness-in_85 1.2s cubic-bezier(0.07, 0.82, 0.17, 1) forwards;
}

.App_base__disabled_a2 .App_bg_a1 {
  filter: grayscale(100%) brightness(1);
}

.App_base__disabled_a2:hover .App_bg_a1 {
  animation:
    App_zoom-in_ad 1.2s cubic-bezier(0.07, 0.82, 0.17, 1) forwards,
    App_brightness-in-dis_b2 1.2s cubic-bezier(0.07, 0.82, 0.17, 1) forwards;
}

.App_shadow_1a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3rem;
  box-shadow: inset 0 0 2rem rgba(255, 255, 255, 1);
}

.App_header_b9 {
  color: #ffffff;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 62rem;
}

.App_base__wideSmall_1d .App_header_b9 {
  bottom: 44rem;
}

.App_base__thinSmall_39 .App_header_b9,
.App_base__thinExtraSmall_5c .App_header_b9 {
  font-size: 18rem;
  bottom: 47rem;
}

.App_base__disabled_a2 .App_header_b9 {
  bottom: 75rem;
}

.App_base__wideSmall_1d.App_base__disabled_a2 .App_header_b9 {
  bottom: 54rem;
}

.App_base__thinSmall_39.App_base__disabled_a2 .App_header_b9,
.App_base__thinExtraSmall_5c.App_base__disabled_a2 .App_header_b9 {
  bottom: 57rem;
}

.App_hoverEffect_d1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat center / cover;
  opacity: 0;
  transition: opacity 0.6s;
  pointer-events: none;
}

.App_base_15:hover .App_hoverEffect_d1 {
  opacity: 1;
  transition-duration: 1.2s;
}

.App_hoverEffect_d1.App_active_7c {
  opacity: 0.3;
}

.App_hoverEffect_d1.App_disabled_33 {
  filter: grayscale(100%) brightness(1);
}
