/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.App_d982e3f3 {
  display: flex;
  flex-direction: column;
  width: 340rem;
  background-color: #1a1a1a;
}

.App_topSection_5d964fcb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 244rem;
  padding: 16rem 20rem;
  background: url("R.images.fort_rush.gui.maps.icons.umg.tooltip_background") no-repeat center/cover;
}

.App_header_59a9c25 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App_title_f2f6309a {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(237, 230, 217, 0.9);
  font-weight: 700;
}

.App_titleSubtitle_ae35650e {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 8rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.App_stageWrapper_68fd7825 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App_tick_b81b485c {
  width: 78rem;
  height: 24rem;
}
.App_tick__left_b992bd88 {
  margin-right: 12rem;
}
.App_tick__right_26d46618 {
  margin-left: 12rem;
}

.App_stageNumber_b71e6369 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
  font-weight: 600;
  line-height: 1;
}

.App_doneIcon_1e93395 {
  width: 36rem;
  height: 32rem;
  background: url("R.images.fort_rush.gui.maps.icons.umg.done_icon") no-repeat center/contain;
}

.App_lockIcon_864bf73b {
  width: 32rem;
  height: 32rem;
  background: url("R.images.fort_rush.gui.maps.icons.umg.lock_icon") no-repeat center/contain;
}

.App_stageMessage_47b5fd1a {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 12rem 0;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.App_subtitle_cf3ede98 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 12rem;
  color: rgba(var(--color-general-secondary-rgb), 1);
}

.App_progressRow_b42a5a16 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.App_completedLabel_849a18a2 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.App_rewardsBand_291fdeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35rem 20rem 30rem;
  background: url("R.images.fort_rush.gui.maps.icons.umg.ribbon.tooltip") no-repeat center/cover;
}

.App_rewardsHeader_b665803c {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 12rem;
  color: rgb(255, 228, 192);
}

.App_timer_9c848660 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22rem 0;
  color: var(--color-general-tertiary);
}

.App_timerLabel_4b254dc2 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-right: 6rem;
  color: rgb(142, 134, 125);
}
