/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Countdown_fadeIn_6a31e164 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Countdown_fadeInThreeQuarters_6a31e164 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Countdown_fadeInHalf_6a31e164 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Countdown_fadeOut_6a31e164 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Countdown_fadeInWithScale_6a31e164 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Countdown_slideUp_6a31e164 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Countdown_scale_6a31e164 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Countdown_raysAppearance_6a31e164 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Countdown_rotate_6a31e164 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Countdown_reverse-rotate_6a31e164 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Countdown_glowAppearance_6a31e164 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Countdown_highlightAppearance_6a31e164 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Countdown_blink_6a31e164 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Countdown_slideUpIn_6a31e164 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Countdown_90b3d42b {
  display: flex;
  justify-content: center;
  height: 87rem;
  position: relative;
}
.mediaLarge .Countdown_90b3d42b {
  height: 115rem;
}
.mediaExtraLarge .Countdown_90b3d42b {
  height: 180rem;
}

.Countdown_674e1c0e {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3rem;
  opacity: 0;
  mask-image: linear-gradient(0deg, transparent 27%, #000 60%);
}
.mediaLarge .Countdown_674e1c0e {
  font-size: 80rem;
}
.mediaExtraLarge .Countdown_674e1c0e {
  font-size: 120rem;
}
.Countdown_countdown__visible_508cb497 {
  opacity: 1;
}

.Countdown_container_5deae28b {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -15rem;
}
.mediaExtraLarge .Countdown_container_5deae28b {
  bottom: 16rem;
}

.Countdown_title_3627ae8f {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
}
.mediaLarge .Countdown_title_3627ae8f {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
}
.mediaExtraLarge .Countdown_title_3627ae8f {
  font-size: 34rem;
}

.Countdown_description_12998d9b {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .Countdown_description_12998d9b {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: -5rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Footer_fadeIn_4308958a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Footer_fadeInThreeQuarters_4308958a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Footer_fadeInHalf_4308958a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Footer_fadeOut_4308958a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Footer_fadeInWithScale_4308958a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Footer_slideUp_4308958a {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Footer_scale_4308958a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Footer_raysAppearance_4308958a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Footer_rotate_4308958a {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Footer_reverse-rotate_4308958a {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Footer_glowAppearance_4308958a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Footer_highlightAppearance_4308958a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Footer_blink_4308958a {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Footer_slideUpIn_4308958a {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Footer_b6564bfd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70rem;
}

.Footer_container_ef450d32 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Footer_description_6471befc {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  flex-wrap: wrap;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  text-align: right;
}
.mediaMedium .Footer_description_6471befc {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaLarge .Footer_description_6471befc {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}

.Footer_vehicleName_24f5cdd4 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaMedium .Footer_vehicleName_24f5cdd4 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaLarge .Footer_vehicleName_24f5cdd4 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}

.Footer_waiting_d3d4a17e {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.Footer_alertIcon_d327b1f3 {
  width: 71rem;
  height: 68rem;
  background: url("R.images.comp7.gui.maps.icons.icons.alertIcon_71x68") no-repeat center/cover;
}

.Footer_button_48301d58 {
  min-width: 86rem;
  margin-left: 14rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes RankEmblem_fadeIn_5ce355bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankEmblem_fadeInThreeQuarters_5ce355bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes RankEmblem_fadeInHalf_5ce355bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes RankEmblem_fadeOut_5ce355bf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes RankEmblem_fadeInWithScale_5ce355bf {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes RankEmblem_slideUp_5ce355bf {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes RankEmblem_scale_5ce355bf {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes RankEmblem_raysAppearance_5ce355bf {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes RankEmblem_rotate_5ce355bf {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes RankEmblem_reverse-rotate_5ce355bf {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes RankEmblem_glowAppearance_5ce355bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankEmblem_highlightAppearance_5ce355bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes RankEmblem_blink_5ce355bf {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankEmblem_slideUpIn_5ce355bf {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.RankEmblem_cd03f035 {
  width: var(--imageSize);
  height: var(--imageSize);
  background: no-repeat center/cover;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Content_fadeIn_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Content_fadeInThreeQuarters_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Content_fadeInHalf_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Content_fadeOut_da09528a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Content_fadeInWithScale_da09528a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Content_slideUp_da09528a {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Content_scale_da09528a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Content_raysAppearance_da09528a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Content_rotate_da09528a {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Content_reverse-rotate_da09528a {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Content_glowAppearance_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Content_highlightAppearance_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Content_blink_da09528a {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Content_slideUpIn_da09528a {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Content_585520b9 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 2rem;
}

.Content_flagContainer_ed6ed528 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.Content_flag_e96c9f6c {
  width: 190rem;
  height: 120rem;
  background: no-repeat center left/contain;
  position: absolute;
  top: -14rem;
  left: 0rem;
}

.Content_tankName_60ac1b57 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  margin-bottom: 1rem;
  position: relative;
  top: -1rem;
  z-index: 1;
}
.mediaMedium .Content_tankName_60ac1b57 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 3rem;
  top: 0rem;
}
.mediaExtraLarge .Content_tankName_60ac1b57 {
  margin-bottom: 0rem;
}

.Content_vehicleInfo_c05c85b7 {
  display: flex;
  align-items: center;
  width: 24rem;
  height: 24rem;
  position: relative;
}

.Content_vehicleType_e73a257a {
  width: 48rem;
  height: 48rem;
  margin-left: -1rem;
  background: no-repeat center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Content_vehicleName_423525e5 {
  margin-left: 2rem;
  position: relative;
}
.mediaMedium .Content_vehicleName_423525e5 {
  margin-left: 6rem;
  top: -2rem;
}

.Content_rankEmblem_b7574d42 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24rem;
  margin-right: 2rem;
}
.mediaMedium .Content_rankEmblem_b7574d42 {
  margin-right: 4rem;
}

.Content_playerNickname_29844fdb {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  display: flex;
  align-items: center;
  z-index: 1;
}
.mediaMedium .Content_playerNickname_29844fdb {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-left: 2rem;
}

.Content_userNameText_56d710fc {
  width: 75rem;
}
.mediaLarge .Content_userNameText_56d710fc {
  width: 88rem;
}
.mediaExtraLarge .Content_userNameText_56d710fc {
  width: 100rem;
}

.Content_imageContainer_97cf9487 {
  width: 120rem;
  height: 96rem;
  background: no-repeat center/contain;
  position: absolute;
  top: -24rem;
  right: -36rem;
}
.mediaMedium .Content_imageContainer_97cf9487 {
  width: 140rem;
  height: 112rem;
  top: -35rem;
  right: -27rem;
}

.Content_videoContainer_4886bbe3 {
  width: 111rem;
  height: 112rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.Content_speech_8f7c6898 {
  width: 112rem;
  height: 112rem;
  background: no-repeat 50% 50% / contain;
  opacity: 0.4;
  mix-blend-mode: screen;
}

.Content_tankImage_729e2751 {
  width: 100%;
  height: 100%;
  background: no-repeat center/contain;
  position: absolute;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Controls_fadeIn_d43220da {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Controls_fadeInThreeQuarters_d43220da {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Controls_fadeInHalf_d43220da {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Controls_fadeOut_d43220da {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Controls_fadeInWithScale_d43220da {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Controls_slideUp_d43220da {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Controls_scale_d43220da {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Controls_raysAppearance_d43220da {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Controls_rotate_d43220da {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Controls_reverse-rotate_d43220da {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Controls_glowAppearance_d43220da {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Controls_highlightAppearance_d43220da {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Controls_blink_d43220da {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Controls_slideUpIn_d43220da {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Controls_9d09936a {
  display: flex;
}

.Controls_icon_54cede3b {
  width: 16rem;
  height: 16rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}
.Controls_icon_54cede3b + .Controls_icon_54cede3b {
  margin-left: 7rem;
}
.Controls_icon__sound_436de824 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.icon_sound");
}
.Controls_icon__chat_4a3ad20c {
  background-image: url("R.images.comp7.gui.maps.icons.ban.icon_chat");
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes VehicleToBan_fadeIn_ee25713 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleToBan_fadeInThreeQuarters_ee25713 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes VehicleToBan_fadeInHalf_ee25713 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes VehicleToBan_fadeOut_ee25713 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes VehicleToBan_fadeInWithScale_ee25713 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes VehicleToBan_slideUp_ee25713 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes VehicleToBan_scale_ee25713 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes VehicleToBan_raysAppearance_ee25713 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes VehicleToBan_rotate_ee25713 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes VehicleToBan_reverse-rotate_ee25713 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes VehicleToBan_glowAppearance_ee25713 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleToBan_highlightAppearance_ee25713 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes VehicleToBan_blink_ee25713 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleToBan_slideUpIn_ee25713 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.VehicleToBan_tankBannedBackground_fc424180 {
  width: 100rem;
  height: 80rem;
  background: no-repeat center/contain;
}
.VehicleToBan_tankBannedBackground__waiting_7012c416 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.ban_status_waiting");
  animation: VehicleToBan_spin_ee25713 10s linear infinite;
}
.VehicleToBan_tankBannedBackground__selection_d3914c7 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.ban_status_selection");
}
.VehicleToBan_tankBannedBackground__confirmed_c7176c6e {
  background-image: url("R.images.comp7.gui.maps.icons.ban.ban_status_confirmed");
}

.VehicleToBan_tankBannedImage_f3b7442a {
  width: 100%;
  height: 100%;
  background: no-repeat center/contain;
  opacity: 0;
  position: absolute;
  top: -3rem;
  left: -1rem;
}
.mediaLarge .VehicleToBan_tankBannedImage_f3b7442a {
  top: 0;
  left: 0;
}

@keyframes VehicleToBan_spin_ee25713 {
  100% {
    transform: rotate(360deg);
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes PlayerCard_fadeIn_9ae0c08 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PlayerCard_fadeInThreeQuarters_9ae0c08 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes PlayerCard_fadeInHalf_9ae0c08 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes PlayerCard_fadeOut_9ae0c08 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes PlayerCard_fadeInWithScale_9ae0c08 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes PlayerCard_slideUp_9ae0c08 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes PlayerCard_scale_9ae0c08 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes PlayerCard_raysAppearance_9ae0c08 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes PlayerCard_rotate_9ae0c08 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes PlayerCard_reverse-rotate_9ae0c08 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes PlayerCard_glowAppearance_9ae0c08 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PlayerCard_highlightAppearance_9ae0c08 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes PlayerCard_blink_9ae0c08 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PlayerCard_slideUpIn_9ae0c08 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.PlayerCard_2d45cbd1 {
  position: relative;
}
.PlayerCard_base__notLoaded_e7d695df {
  opacity: 0.5;
}

.PlayerCard_wrapper_54a584df {
  display: flex;
  flex-direction: column;
  width: 150rem;
  height: 56rem;
  padding: 3rem 0 0 4rem;
  position: relative;
}
.mediaMedium .PlayerCard_wrapper_54a584df {
  width: 190rem;
  padding-top: 0rem;
}
.mediaExtraLarge .PlayerCard_wrapper_54a584df {
  width: 220rem;
}

.PlayerCard_border_ae9c6cb4 {
  width: 274rem;
  height: 96rem;
  background: url("R.images.comp7.gui.maps.icons.ban.border_blue") no-repeat 50% 50% / contain;
  position: absolute;
  top: -16rem;
  left: -82rem;
}
.mediaMedium .PlayerCard_border_ae9c6cb4 {
  left: -41rem;
}
.mediaExtraLarge .PlayerCard_border_ae9c6cb4 {
  left: -11rem;
}
.PlayerCard_border__red_ce05ffc6 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.border_red");
  top: -16rem;
  left: -43rem;
}
.mediaMedium .PlayerCard_border__red_ce05ffc6 {
  left: -42rem;
}
.mediaExtraLarge .PlayerCard_border__red_ce05ffc6 {
  left: -42rem;
}

.PlayerCard_controls_dfd3ea7c {
  position: absolute;
  top: -9rem;
  left: 50%;
  transform: translateX(-50%);
}

.PlayerCard_vehicleToBanContainer_e220cbf1 {
  width: 100rem;
  height: 80rem;
  position: absolute;
  right: -50rem;
  bottom: -36rem;
  z-index: 1;
}
.mediaMedium .PlayerCard_vehicleToBanContainer_e220cbf1 {
  right: -36rem;
  bottom: -38rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes PlayersList_fadeIn_ab2a7564 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PlayersList_fadeInThreeQuarters_ab2a7564 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes PlayersList_fadeInHalf_ab2a7564 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes PlayersList_fadeOut_ab2a7564 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes PlayersList_fadeInWithScale_ab2a7564 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes PlayersList_slideUp_ab2a7564 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes PlayersList_scale_ab2a7564 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes PlayersList_raysAppearance_ab2a7564 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes PlayersList_rotate_ab2a7564 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes PlayersList_reverse-rotate_ab2a7564 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes PlayersList_glowAppearance_ab2a7564 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PlayersList_highlightAppearance_ab2a7564 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes PlayersList_blink_ab2a7564 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PlayersList_slideUpIn_ab2a7564 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.PlayersList_cards_57f6d5f9 {
  display: flex;
  align-items: center;
  padding: 24rem 0 30rem 3rem;
}
.mediaMedium .PlayersList_cards_57f6d5f9 {
  padding-left: 0;
}
.mediaLarge .PlayersList_cards_57f6d5f9 {
  padding: 30rem 0;
}

.PlayersList_card_e54d4676 + .PlayersList_card_e54d4676 {
  margin-left: 27rem;
}
.mediaMedium .PlayersList_card_e54d4676 + .PlayersList_card_e54d4676 {
  margin-left: 30rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Separator_fadeIn_68dca4b0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Separator_fadeInThreeQuarters_68dca4b0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Separator_fadeInHalf_68dca4b0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Separator_fadeOut_68dca4b0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Separator_fadeInWithScale_68dca4b0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Separator_slideUp_68dca4b0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Separator_scale_68dca4b0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Separator_raysAppearance_68dca4b0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Separator_rotate_68dca4b0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Separator_reverse-rotate_68dca4b0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Separator_glowAppearance_68dca4b0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Separator_highlightAppearance_68dca4b0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Separator_blink_68dca4b0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Separator_slideUpIn_68dca4b0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Separator_c71bff1c {
  display: none;
}
.mediaMediumHeight .Separator_c71bff1c {
  display: flex;
  padding-left: 14rem;
  opacity: 0.4;
}

.Separator_line_70393143 {
  display: flex;
  flex: 1;
  height: 1rem;
  background: rgba(192, 222, 239, 0.6);
  opacity: 0.8;
  transform: translateY(3rem);
}
.Separator_line_70393143::after {
  flex: 1;
  height: 1rem;
  margin-top: 3rem;
  background: rgba(192, 222, 239, 0.6);
  content: "";
}

.Separator_venzel_1190ba1d {
  width: 43rem;
  height: 14rem;
  background: url("R.images.comp7.gui.maps.icons.icons.venzel_white_43x14") no-repeat left/cover;
  opacity: 0.5;
}
.Separator_venzel__right_c056c714 {
  transform: scaleX(-1);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Votes_fadeIn_7d85dde9 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Votes_fadeInThreeQuarters_7d85dde9 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Votes_fadeInHalf_7d85dde9 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Votes_fadeOut_7d85dde9 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Votes_fadeInWithScale_7d85dde9 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Votes_slideUp_7d85dde9 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Votes_scale_7d85dde9 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Votes_raysAppearance_7d85dde9 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Votes_rotate_7d85dde9 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Votes_reverse-rotate_7d85dde9 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Votes_glowAppearance_7d85dde9 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Votes_highlightAppearance_7d85dde9 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Votes_blink_7d85dde9 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Votes_slideUpIn_7d85dde9 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Votes_d5cc9db1 {
  display: flex;
}

.Votes_animated_6f1a9709 {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.Votes_voteImage_c6819953 {
  display: flex;
  width: 24rem;
  height: 21rem;
  background: url("R.images.comp7.gui.maps.icons.ban.not_confirmed_30x26") no-repeat center/cover;
  position: relative;
}
.mediaMedium .Votes_voteImage_c6819953 {
  width: 30rem;
  height: 26rem;
}
.Votes_voteImage__confirmed_30d90e95 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.confirmed_30x26");
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes AllyVehicleMarks_fadeIn_64904ab5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AllyVehicleMarks_fadeInThreeQuarters_64904ab5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes AllyVehicleMarks_fadeInHalf_64904ab5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes AllyVehicleMarks_fadeOut_64904ab5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes AllyVehicleMarks_fadeInWithScale_64904ab5 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AllyVehicleMarks_slideUp_64904ab5 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AllyVehicleMarks_scale_64904ab5 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes AllyVehicleMarks_raysAppearance_64904ab5 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes AllyVehicleMarks_rotate_64904ab5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes AllyVehicleMarks_reverse-rotate_64904ab5 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes AllyVehicleMarks_glowAppearance_64904ab5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AllyVehicleMarks_highlightAppearance_64904ab5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes AllyVehicleMarks_blink_64904ab5 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AllyVehicleMarks_slideUpIn_64904ab5 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.AllyVehicleMarks_8be219ba {
  display: flex;
}

.AllyVehicleMarks_animated_256be8b8 {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.AllyVehicleMarks_mark_5c12493b {
  display: flex;
  width: 8rem;
  height: 16rem;
  background: url("R.images.comp7.gui.maps.icons.ban.green_line") no-repeat center/cover;
  position: relative;
}
.mediaMedium .AllyVehicleMarks_mark_5c12493b {
  width: 10rem;
  height: 20rem;
}
.mediaLarge .AllyVehicleMarks_mark_5c12493b {
  width: 12rem;
  height: 24rem;
}
.AllyVehicleMarks_mark__orange_ab6805b8 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.orange_line");
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes VehicleCard_fadeIn_c56bbe58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleCard_fadeInThreeQuarters_c56bbe58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes VehicleCard_fadeInHalf_c56bbe58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes VehicleCard_fadeOut_c56bbe58 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes VehicleCard_fadeInWithScale_c56bbe58 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes VehicleCard_slideUp_c56bbe58 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes VehicleCard_scale_c56bbe58 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes VehicleCard_raysAppearance_c56bbe58 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes VehicleCard_rotate_c56bbe58 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes VehicleCard_reverse-rotate_c56bbe58 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes VehicleCard_glowAppearance_c56bbe58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleCard_highlightAppearance_c56bbe58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes VehicleCard_blink_c56bbe58 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleCard_slideUpIn_c56bbe58 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.VehicleCard_b1d6cc88 {
  width: 75rem;
  height: 38rem;
  filter: grayscale(0%);
  position: relative;
  z-index: 1;
  transition: filter 0.2s linear;
}
.mediaMedium .VehicleCard_b1d6cc88 {
  width: 95rem;
  height: 48rem;
}
.mediaLarge .VehicleCard_b1d6cc88 {
  width: 100rem;
  height: 63rem;
}
.mediaExtraLarge .VehicleCard_b1d6cc88 {
  width: 121rem;
  height: 93rem;
}
.VehicleCard_base__noSelect_41b93941 {
  filter: grayscale(100%);
}

.VehicleCard_flag_53aa7ae0,
.VehicleCard_vehicleImage_50b72a29,
.VehicleCard_playerPrePick_cb0603d7,
.VehicleCard_alliesPrePick_37525a75,
.VehicleCard_votesFrame_e947ad34,
.VehicleCard_noVehicleImage_d1c32aec {
  background: no-repeat center/contain;
  position: absolute;
  pointer-events: none;
}

.VehicleCard_flag_53aa7ae0 {
  width: 86rem;
  height: 64rem;
  opacity: 0.5;
  top: -5rem;
  left: 0;
}
.mediaLarge .VehicleCard_flag_53aa7ae0 {
  width: 110rem;
  height: 70rem;
  top: 0;
}
.mediaExtraLarge .VehicleCard_flag_53aa7ae0 {
  width: 160rem;
  height: 102rem;
}
.VehicleCard_b1d6cc88:hover .VehicleCard_flag_53aa7ae0,
.VehicleCard_base__selected_c56bbe58 .VehicleCard_flag_53aa7ae0 {
  opacity: 1;
}

.VehicleCard_vehicleImage_50b72a29 {
  width: 100rem;
  height: 80rem;
  top: 11rem;
  left: 33rem;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out;
}
.mediaMedium .VehicleCard_vehicleImage_50b72a29 {
  width: 110rem;
  height: 88rem;
  top: 14rem;
  left: 45rem;
}
.mediaLarge .VehicleCard_vehicleImage_50b72a29 {
  width: 140rem;
  height: 112rem;
  top: 22rem;
  left: 44rem;
}
.mediaExtraLarge .VehicleCard_vehicleImage_50b72a29 {
  width: 180rem;
  height: 144rem;
  top: 33rem;
  left: 57rem;
}
.VehicleCard_b1d6cc88:hover .VehicleCard_vehicleImage_50b72a29 {
  transform: translate(-35%, -50%);
}
.mediaLarge .VehicleCard_b1d6cc88:hover .VehicleCard_vehicleImage_50b72a29 {
  transform: translate(-43%, -50%);
}
.mediaExtraLarge .VehicleCard_b1d6cc88:hover .VehicleCard_vehicleImage_50b72a29 {
  transform: translate(-35%, -50%);
}

.VehicleCard_noVehicleImage_d1c32aec {
  width: 32rem;
  height: 32rem;
  background: url("R.images.comp7.gui.maps.icons.icons.no_vehicle") no-repeat center/cover;
  opacity: 0.35;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mediaLarge .VehicleCard_noVehicleImage_d1c32aec {
  width: 48rem;
  height: 48rem;
}

.VehicleCard_votesFrame_e947ad34,
.VehicleCard_playerPrePick_cb0603d7,
.VehicleCard_alliesPrePick_37525a75 {
  width: 118rem;
  height: 71rem;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}
.mediaMedium .VehicleCard_votesFrame_e947ad34,
.mediaMedium .VehicleCard_playerPrePick_cb0603d7,
.mediaMedium .VehicleCard_alliesPrePick_37525a75 {
  width: 151rem;
  height: 91rem;
}
.mediaLarge .VehicleCard_votesFrame_e947ad34,
.mediaLarge .VehicleCard_playerPrePick_cb0603d7,
.mediaLarge .VehicleCard_alliesPrePick_37525a75 {
  width: 140rem;
  height: 112rem;
}
.mediaExtraLarge .VehicleCard_votesFrame_e947ad34,
.mediaExtraLarge .VehicleCard_playerPrePick_cb0603d7,
.mediaExtraLarge .VehicleCard_alliesPrePick_37525a75 {
  width: 162rem;
  height: 136rem;
}
.VehicleCard_b1d6cc88:hover .VehicleCard_votesFrame_e947ad34,
.VehicleCard_b1d6cc88:hover .VehicleCard_playerPrePick_cb0603d7,
.VehicleCard_b1d6cc88:hover .VehicleCard_alliesPrePick_37525a75 {
  opacity: 1;
}

.VehicleCard_alliesPrePick_37525a75 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.allies_frame_118x70");
  transform: translate(-3rem, -1rem);
}
.mediaMedium .VehicleCard_alliesPrePick_37525a75 {
  transform: translate(-3rem, 0rem);
}
.mediaLarge .VehicleCard_alliesPrePick_37525a75 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.allies_frame_140x112");
  transform: translate(4rem, 0rem);
}
.mediaExtraLarge .VehicleCard_alliesPrePick_37525a75 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.allies_frame_162x136");
  transform: translate(0rem, 1rem);
}

.VehicleCard_playerPrePick_cb0603d7 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.player_frame_118x70");
  transform: translate(-2rem, -1rem);
}
.mediaMedium .VehicleCard_playerPrePick_cb0603d7 {
  transform: translate(-3rem, 0rem);
}
.mediaLarge .VehicleCard_playerPrePick_cb0603d7 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.player_frame_140x112");
  transform: translate(-5rem, 0rem);
}
.mediaExtraLarge .VehicleCard_playerPrePick_cb0603d7 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.player_frame_162x136");
  transform: translate(0rem, 1rem);
}

.VehicleCard_votesFrame_e947ad34 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.ban_frame_118x71");
  opacity: 1;
  bottom: -20rem;
  left: -22rem;
}
.mediaMedium .VehicleCard_votesFrame_e947ad34 {
  bottom: -25rem;
  left: -27rem;
}
.mediaLarge .VehicleCard_votesFrame_e947ad34 {
  width: 159rem;
  height: 122rem;
  background-image: url("R.images.comp7.gui.maps.icons.ban.ban_frame_140x112");
  bottom: -29rem;
  left: -32rem;
}
.mediaExtraLarge .VehicleCard_votesFrame_e947ad34 {
  width: 162rem;
  height: 136rem;
  background-image: url("R.images.comp7.gui.maps.icons.ban.ban_frame_162x136");
  bottom: -23rem;
  left: -23rem;
}

.VehicleCard_mainContainerContent_45b08d46 {
  overflow: visible;
}

.VehicleCard_vehicleInfoRow_ebe0521f {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  display: flex;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 3rem;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}
.mediaLarge .VehicleCard_vehicleInfoRow_ebe0521f {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
}
.VehicleCard_b1d6cc88:hover .VehicleCard_vehicleInfoRow_ebe0521f {
  opacity: 1;
}

.VehicleCard_marks_3dae2db2 {
  display: flex;
  justify-content: flex-end;
  height: 16rem;
  position: absolute;
  top: -8rem;
  right: 1rem;
  left: 1rem;
  z-index: 2;
  pointer-events: none;
}
.mediaMedium .VehicleCard_marks_3dae2db2 {
  height: 20rem;
  top: -9rem;
}
.mediaLarge .VehicleCard_marks_3dae2db2 {
  height: 24rem;
  top: -12rem;
}
.mediaExtraLarge .VehicleCard_marks_3dae2db2 {
  top: -11rem;
}

.VehicleCard_votes_f0b6067f {
  display: flex;
  justify-content: center;
  height: 18rem;
  position: absolute;
  right: 1rem;
  bottom: 3rem;
  left: 1rem;
  z-index: 2;
  pointer-events: none;
}
.mediaMedium .VehicleCard_votes_f0b6067f {
  height: 26rem;
  right: 3rem;
  bottom: 0;
  left: 3rem;
}
.mediaLarge .VehicleCard_votes_f0b6067f {
  right: 0rem;
  left: 0rem;
}
.mediaExtraLarge .VehicleCard_votes_f0b6067f {
  right: 3rem;
  left: 3rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes VehicleRoleGroup_fadeIn_73bcf39a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleRoleGroup_fadeInThreeQuarters_73bcf39a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes VehicleRoleGroup_fadeInHalf_73bcf39a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes VehicleRoleGroup_fadeOut_73bcf39a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes VehicleRoleGroup_fadeInWithScale_73bcf39a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes VehicleRoleGroup_slideUp_73bcf39a {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes VehicleRoleGroup_scale_73bcf39a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes VehicleRoleGroup_raysAppearance_73bcf39a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes VehicleRoleGroup_rotate_73bcf39a {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes VehicleRoleGroup_reverse-rotate_73bcf39a {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes VehicleRoleGroup_glowAppearance_73bcf39a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleRoleGroup_highlightAppearance_73bcf39a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes VehicleRoleGroup_blink_73bcf39a {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleRoleGroup_slideUpIn_73bcf39a {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.VehicleRoleGroup_e5932ab {
  display: flex;
  flex-direction: column;
}

.VehicleRoleGroup_title_fe6b7a8e {
  display: flex;
  align-items: center;
  margin: 9rem 0 2rem;
  color: rgba(254, 171, 52, 0.7);
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaMedium .VehicleRoleGroup_title_fe6b7a8e {
  margin-top: 17rem;
  margin-bottom: 6rem;
}
.mediaLarge .VehicleRoleGroup_title_fe6b7a8e {
  margin: 14rem 0 6rem;
}
.mediaExtraLarge .VehicleRoleGroup_title_fe6b7a8e {
  margin: 15rem 0 5rem;
}

.VehicleRoleGroup_vehicleRoleImage_27da63d0 {
  width: 22rem;
  height: 22rem;
  margin-right: 2rem;
  background: no-repeat center/cover;
  opacity: 0.7;
}

.VehicleRoleGroup_container_c0e551e0 {
  display: flex;
  flex-wrap: wrap;
}

.VehicleRoleGroup_cards_d48e3935 {
  --width: 75rem;
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--columnsCount) * var(--width) + 6rem);
  transform: translateX(2rem);
}
.mediaMedium .VehicleRoleGroup_cards_d48e3935 {
  --width: 95rem;
}
.mediaLarge .VehicleRoleGroup_cards_d48e3935 {
  --width: 100rem;
}
.mediaExtraLarge .VehicleRoleGroup_cards_d48e3935 {
  --width: 121rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes VehicleTypeGroup_fadeIn_ded10ab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleTypeGroup_fadeInThreeQuarters_ded10ab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes VehicleTypeGroup_fadeInHalf_ded10ab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes VehicleTypeGroup_fadeOut_ded10ab {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes VehicleTypeGroup_fadeInWithScale_ded10ab {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes VehicleTypeGroup_slideUp_ded10ab {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes VehicleTypeGroup_scale_ded10ab {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes VehicleTypeGroup_raysAppearance_ded10ab {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes VehicleTypeGroup_rotate_ded10ab {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes VehicleTypeGroup_reverse-rotate_ded10ab {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes VehicleTypeGroup_glowAppearance_ded10ab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleTypeGroup_highlightAppearance_ded10ab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes VehicleTypeGroup_blink_ded10ab {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleTypeGroup_slideUpIn_ded10ab {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.VehicleTypeGroup_f0f6a4e8 {
  display: flex;
  flex-direction: column;
}

.VehicleTypeGroup_title_a8730cb1 {
  display: flex;
  align-items: center;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: -5rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  position: relative;
  left: -10rem;
}
.mediaMedium .VehicleTypeGroup_title_a8730cb1 {
  margin-bottom: -13rem;
}
.mediaLarge .VehicleTypeGroup_title_a8730cb1 {
  margin-bottom: -17rem;
  left: -15rem;
}

.VehicleTypeGroup_vehicleTypeImage_4734e915 {
  width: 36rem;
  height: 36rem;
  background: no-repeat center/contain;
  transform: translateX(4rem);
}
.mediaLarge .VehicleTypeGroup_vehicleTypeImage_4734e915 {
  width: 48rem;
  height: 48rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes VehiclesList_fadeIn_f0d596a8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehiclesList_fadeInThreeQuarters_f0d596a8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes VehiclesList_fadeInHalf_f0d596a8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes VehiclesList_fadeOut_f0d596a8 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes VehiclesList_fadeInWithScale_f0d596a8 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes VehiclesList_slideUp_f0d596a8 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes VehiclesList_scale_f0d596a8 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes VehiclesList_raysAppearance_f0d596a8 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes VehiclesList_rotate_f0d596a8 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes VehiclesList_reverse-rotate_f0d596a8 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes VehiclesList_glowAppearance_f0d596a8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehiclesList_highlightAppearance_f0d596a8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes VehiclesList_blink_f0d596a8 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehiclesList_slideUpIn_f0d596a8 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.VehiclesList_b46aa5aa {
  display: flex;
  justify-content: center;
}

.VehiclesList_group_af6cb68 + .VehiclesList_group_af6cb68 {
  margin-left: 21rem;
}
.mediaLarge .VehiclesList_group_af6cb68 + .VehiclesList_group_af6cb68 {
  margin-left: 68rem;
}
.mediaExtraLarge .VehiclesList_group_af6cb68 + .VehiclesList_group_af6cb68 {
  margin-left: 57rem;
}

.VehiclesList_noBan_cbc1d628 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.VehiclesList_noBanCard_78b49409 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120rem;
  height: 80rem;
  border: 1rem solid rgba(242, 242, 247, 0.2);
  background:
    linear-gradient(
      34deg,
      transparent 49%,
      rgba(255, 255, 255, 0.2) 49%,
      rgba(255, 255, 255, 0.2) 51%,
      transparent 51%
    ),
    linear-gradient(
        -34deg,
        transparent 49%,
        rgba(255, 255, 255, 0.2) 49%,
        rgba(255, 255, 255, 0.2) 51%,
        transparent 51%
      )
      no-repeat center/cover;
  overflow: hidden;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.VehiclesList_noBanCard_78b49409:hover {
  border-color: transparent;
}
.VehiclesList_noBanCard_78b49409::before {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1rem solid transparent;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.VehiclesList_noBanCard_78b49409:hover::before {
  border-color: #feab34;
}
.VehiclesList_noBanCard__selected_f0d596a8:hover::before {
  border-color: transparent;
}
.VehiclesList_noBanCard__selected_f0d596a8::after {
  display: flex;
  width: 100%;
  height: 100%;
  border: 3rem solid #80d43a;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.VehiclesList_title_c2ee9f63 {
  display: flex;
  align-items: center;
  position: relative;
  left: -14rem;
}

.VehiclesList_withoutBanImage_8d246fd9 {
  width: 48rem;
  height: 48rem;
  background: url("R.images.comp7.gui.maps.icons.ban.no_vehicle") no-repeat center/contain;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.App_435c1c71 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("R.images.comp7.gui.maps.icons.backgrounds.ban_view_bg") no-repeat center/cover;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  overflow: hidden;
  position: relative;
}

.App_banProgression_d209adbb {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.App_highlight_8320c8ca {
  width: 720rem;
  height: 550rem;
  background: url("R.images.comp7.gui.maps.icons.ban.red_highlight_1240x950") no-repeat right
    bottom/contain;
  opacity: 0.8;
  position: absolute;
  right: 0;
  bottom: 0;
}
.mediaMedium .App_highlight_8320c8ca {
  width: 720rem;
  height: 550rem;
}
.mediaLarge .App_highlight_8320c8ca {
  width: 940rem;
  height: 718rem;
}
.mediaExtraLarge .App_highlight_8320c8ca {
  width: 1240rem;
  height: 950rem;
}
.App_highlight__selectedVehicle_b5b34fa1 {
  background-image: url("R.images.comp7.gui.maps.icons.ban.blue_highlight_1240x950");
}

.App_players_c9d73e83 {
  margin-top: 17rem;
}
.mediaMedium .App_players_c9d73e83 {
  margin-top: 27rem;
}
.mediaLarge .App_players_c9d73e83 {
  margin-top: 17rem;
}
.mediaExtraLarge .App_players_c9d73e83 {
  margin-top: -2rem;
}

.App_vehicles_5576daa2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0;
  padding-bottom: 76rem;
  position: relative;
}
.mediaMedium .App_vehicles_5576daa2 {
  margin-left: -4rem;
  padding-bottom: 57rem;
}
.mediaLarge .App_vehicles_5576daa2 {
  margin-left: -32rem;
  padding-bottom: 106rem;
}
.mediaExtraLarge .App_vehicles_5576daa2 {
  margin-left: 2rem;
  padding-bottom: 100rem;
}

.App_separator_60c03728 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.mediaMedium .App_separator_60c03728 {
  left: -10rem;
}
.mediaLarge .App_separator_60c03728 {
  top: 14rem;
}
.mediaExtraLarge .App_separator_60c03728 {
  top: 32rem;
}

.App_footer_69f2b2bc {
  position: absolute;
  right: 78rem;
  bottom: 17rem;
}
.mediaMedium .App_footer_69f2b2bc {
  right: 46rem;
  bottom: 20rem;
}
.mediaLarge .App_footer_69f2b2bc {
  right: 114rem;
  bottom: 32rem;
}
.mediaExtraLarge .App_footer_69f2b2bc {
  right: 276rem;
  bottom: 69rem;
}

.App_backButton_e59f08a8 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(235, 234, 231, 0.3);
  font-size: 18rem;
  font-weight: 500;
  filter: brightness(100%);
  position: absolute;
  top: 27rem;
  left: 23rem;
  transition: filter 0.2s ease-in-out;
  cursor: pointer;
}
.mediaLarge .App_backButton_e59f08a8 {
  left: 36rem;
}
.mediaExtraLarge .App_backButton_e59f08a8 {
  font-size: 26rem;
  top: 18rem;
  left: 38rem;
}
.App_backButton_e59f08a8:hover {
  filter: brightness(130%);
}

.App_image_f27323ae {
  width: 86rem;
  height: 86rem;
  background: url(R.images.gui.maps.icons.header_footer.backNavigation_medium_default)
    center/contain no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.App_label_66be21bd {
  margin: 0 8rem 0 14rem;
  color: rgba(235, 234, 231, 0.6);
  font-weight: 600;
}

.App_lineBg_ec83d762 {
  opacity: 0.3;
}
