/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes RankInactivityBlock_fadeIn_4aecaefd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankInactivityBlock_fadeInThreeQuarters_4aecaefd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes RankInactivityBlock_fadeInHalf_4aecaefd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes RankInactivityBlock_fadeOut_4aecaefd {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes RankInactivityBlock_fadeInWithScale_4aecaefd {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes RankInactivityBlock_slideUp_4aecaefd {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes RankInactivityBlock_scale_4aecaefd {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes RankInactivityBlock_raysAppearance_4aecaefd {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes RankInactivityBlock_rotate_4aecaefd {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes RankInactivityBlock_reverse-rotate_4aecaefd {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes RankInactivityBlock_glowAppearance_4aecaefd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankInactivityBlock_highlightAppearance_4aecaefd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes RankInactivityBlock_blink_4aecaefd {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RankInactivityBlock_slideUpIn_4aecaefd {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.RankInactivityBlock_ae45f303 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.RankInactivityBlock_heading_6a5fa8b {
  display: flex;
  align-items: center;
}

.RankInactivityBlock_inactivityIcon_45c26c22 {
  width: 14rem;
  height: 14rem;
  margin-right: 4rem;
  background: url("R.images.comp7.gui.maps.icons.icons.timer_14x14") no-repeat center/cover;
}

.RankInactivityBlock_inactivityText_835f454b {
  font-size: 16rem;
  font-weight: 700;
  line-height: 1.3em;
  justify-content: center;
  align-items: center;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.RankInactivityBlock_description_7f75821f {
  justify-content: center;
  margin-top: 10rem;
}

.RankInactivityBlock_daysLeft_25158d0 {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.RankInactivityBlock_daysLeftValue_7096baff {
  font-size: 16rem;
  font-weight: 700;
  line-height: 1.3em;
}

.RankInactivityBlock_warning_6016f1e2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  position: relative;
}

.RankInactivityBlock_warningText_155495c9 {
  display: flex;
  align-items: flex-start;
  max-width: 210rem;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-status-alert);
  text-align: center;
  position: relative;
}

.RankInactivityBlock_warningIcon_c34e5438 {
  width: 48rem;
  height: 48rem;
  background: url("R.images.comp7.gui.maps.icons.icons.alertIcon_48x48") no-repeat center/contain;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-44rem, -13rem);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes EliteRankContent_fadeIn_878aad1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes EliteRankContent_fadeInThreeQuarters_878aad1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes EliteRankContent_fadeInHalf_878aad1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes EliteRankContent_fadeOut_878aad1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes EliteRankContent_fadeInWithScale_878aad1 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes EliteRankContent_slideUp_878aad1 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes EliteRankContent_scale_878aad1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes EliteRankContent_raysAppearance_878aad1 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes EliteRankContent_rotate_878aad1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes EliteRankContent_reverse-rotate_878aad1 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes EliteRankContent_glowAppearance_878aad1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes EliteRankContent_highlightAppearance_878aad1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes EliteRankContent_blink_878aad1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes EliteRankContent_slideUpIn_878aad1 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.EliteRankContent_34a2bc68 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.EliteRankContent_score_c1d75b8d {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.EliteRankContent_scoreLabel_8db99086 {
  margin-bottom: 8rem;
}

.EliteRankContent_formatTextString_42aa1ae3 {
  justify-content: center;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes GeneralRankContent_fadeIn_9975636a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes GeneralRankContent_fadeInThreeQuarters_9975636a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes GeneralRankContent_fadeInHalf_9975636a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes GeneralRankContent_fadeOut_9975636a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes GeneralRankContent_fadeInWithScale_9975636a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes GeneralRankContent_slideUp_9975636a {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes GeneralRankContent_scale_9975636a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes GeneralRankContent_raysAppearance_9975636a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes GeneralRankContent_rotate_9975636a {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes GeneralRankContent_reverse-rotate_9975636a {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes GeneralRankContent_glowAppearance_9975636a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes GeneralRankContent_highlightAppearance_9975636a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes GeneralRankContent_blink_9975636a {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes GeneralRankContent_slideUpIn_9975636a {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.GeneralRankContent_236f43e {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
}

.GeneralRankContent_formatTextString_df026d57 {
  justify-content: center;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.GeneralRankContent_division_1cc026b1 {
  margin-bottom: 20rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.GeneralRankContent_currentScore_9c8e174f {
  font-size: 32rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 4rem;
}

.GeneralRankContent_progressContainer_bd118b91 {
  width: 278rem;
  margin-bottom: 20rem;
  position: relative;
}

.GeneralRankContent_progressValue_bb513d2f {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  position: absolute;
  top: -3rem;
  transform: translateY(-100%);
}
.GeneralRankContent_progressValue__left_7205b5ce {
  left: 0;
}
.GeneralRankContent_progressValue__right_86d8e17 {
  right: 0;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes QualificationContent_fadeIn_aaa2baf2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes QualificationContent_fadeInThreeQuarters_aaa2baf2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes QualificationContent_fadeInHalf_aaa2baf2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes QualificationContent_fadeOut_aaa2baf2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes QualificationContent_fadeInWithScale_aaa2baf2 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes QualificationContent_slideUp_aaa2baf2 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes QualificationContent_scale_aaa2baf2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes QualificationContent_raysAppearance_aaa2baf2 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes QualificationContent_rotate_aaa2baf2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes QualificationContent_reverse-rotate_aaa2baf2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes QualificationContent_glowAppearance_aaa2baf2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes QualificationContent_highlightAppearance_aaa2baf2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes QualificationContent_blink_aaa2baf2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes QualificationContent_slideUpIn_aaa2baf2 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.QualificationContent_a93ba15f {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QualificationContent_qualificationEmblem_3cd08a67 {
  margin-bottom: 10rem;
  position: relative;
}

.QualificationContent_counterContainer_53a980e8 {
  font-size: 32rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.QualificationContent_battlesCount_b3248231 {
  color: #fff;
}

.QualificationContent_counterDivider_bfd76d34 {
  margin: 0 6rem;
  color: rgba(var(--color-general-primary-rgb), 0.2);
}

.QualificationContent_counterContainer_53a980e8,
.QualificationContent_counterDescription_d0121394 {
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.QualificationContent_ratingCalculationDescription_33daecb6,
.QualificationContent_counterDescription_d0121394 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
}

.QualificationContent_counterDescription_d0121394 {
  margin-top: -4rem;
  margin-bottom: 20rem;
}

.QualificationContent_timerIcon_536d35a9 {
  width: 24rem;
  height: 24rem;
  background: url("R.images.gui.maps.icons.ui_kit.datetime.x24x24.accent") no-repeat center/contain;
  text-shadow: 0 0 6rem rgba(255, 228, 159, 0.16), 0 0 10rem rgba(255, 177, 86, 0.24), 0 0 12rem rgba(255, 61, 0, 0.32), 0 1rem 0 rgba(0, 0, 0, 0.3);
  transform: translate(2rem, -2rem);
}

.QualificationContent_ratingCalculationDescription_33daecb6 {
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 18rem;
  color: #edcb9e;
  font-weight: 500;
  filter: drop-shadow(0 1rem 0 rgba(0, 0, 0, 0.3)) drop-shadow(0 0 12px rgba(255, 61, 0, 0.32)) drop-shadow(0 0 10px rgba(255, 177, 86, 0.24)) drop-shadow(0 0 6px rgba(255, 128, 169, 0.16));
}

.QualificationContent_battles_e24cc168 {
  display: flex;
  margin-bottom: 10rem;
  position: relative;
}

.QualificationContent_battle_c53717b7 + .QualificationContent_battle_c53717b7 {
  margin-left: -1rem;
}

.QualificationContent_condition_c09fb775 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.App_7a4328e3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 338rem;
  padding: 18rem 30rem 28rem;
  background: url("R.images.comp7.gui.maps.icons.backgrounds.progression_tooltip_bg") no-repeat top/cover;
  overflow: hidden;
  position: relative;
}

.App_heading_b53f7586 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}

.App_season_b7da35e5 {
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}

.App_rankName_8672d675 {
  padding-top: 18rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}

.App_emblemContainer_393278d9 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.App_emblem_f0b59ee5 {
  position: relative;
}

.App_content__generalRank_d6e091c2 {
  transform: translateY(-5rem);
}

.App_divider_2a25d307 {
  margin: 15rem 0;
}

.App_redHighlight_71bf6853 {
  width: 241rem;
  height: 64rem;
  background: url("R.images.comp7.gui.maps.icons.icons.red_highlight_241x64") no-repeat center/cover;
  position: absolute;
  bottom: 0;
}