/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.App_b217f952 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 310rem;
  padding: 18rem 20rem;
}

.App_header_7064cb34 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
}

.App_description_254da56e {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 12rem;
  color: var(--color-general-tertiary);
}

.App_battleSchedule_c84dc551 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15rem;
}

.App_scheduleIcon_f2261e5a {
  width: 18rem;
  height: 18rem;
  margin-top: 1rem;
  background: url("R.images.gui.maps.icons.buttons.calendar") no-repeat center/contain;
}

.App_scheduleContainer_2cf619f6 {
  margin-left: 10rem;
}

.App_scheduleTitle_bc482b99 {
  font-size: 16rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
}

.App_periodsContainer_3e673754 {
  display: flex;
  align-items: flex-start;
  width: 142rem;
  margin-top: 10rem;
}

.App_periodList_72a48a31 + .App_periodList_72a48a31 {
  margin-top: 5rem;
}

.App_period_b93939b2 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-secondary);
}

.App_goal_d5b93517 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-left: 8rem;
  color: var(--color-general-tertiary);
}