/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
  width: 100%;
  height: 12rem;
  position: relative;
}
.ProgressBar_base__medium_62 {
  height: 6rem;
}
.ProgressBar_base__small_df {
  height: 2rem;
}
.ProgressBar_background_51 {
  width: 100%;
  max-width: 8001px;
  height: 100%;
  background-image: var(--progress-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 0;
  left: 0;
}
.ProgressBar_background__medium_6e {
  height: 6rem;
}
.ProgressBar_background__small_46 {
  height: 2rem;
}
.ProgressBar_lineWrapper_6a {
  display: flex;
  flex: 1;
}

.ProgressBarBlink_base_24 {
  width: 60rem;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}

.ProgressBarBlink_base__medium_ec {
  width: 42rem;
  height: 70rem;
}

.ProgressBarBlink_base__small_0f {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
  max-width: 8001px;
  height: 100%;
  background-color: var(--progress-line-base);
  position: relative;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
  background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
  background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
  max-width: 8001px;
  background-image: var(--progress-pattern-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-disabled);
  left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
  max-width: 8001px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
  mix-blend-mode: overlay;
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: 1rem;
  left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
  display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0.5)
  );
}
.ProgressLineImpose_glow_a5 {
  width: 60rem;
  max-width: 8001px;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
  left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
  display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
  transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

.App_base_8a {
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  position: relative;
  transition: all 350ms ease-out;
}

.App_base__hidden_53 {
  opacity: 0;
  transform: translateY(100%);
}
.App_bg_2e {
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, #000 0%, #000 68.2%, rgba(0, 0, 0, 0) 95.12%);
  opacity: 0.33;
  position: absolute;
  top: 0;
  left: 0;
}
.App_sector_43 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78rem;
  height: 48rem;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translate(0, -50%);
  transition: all 350ms ease-out;
}
.App_sector__hidden_33 {
  opacity: 0;
  transform: translate(-100%, -50%);
}
.App_sectorBg_5a {
  width: 100%;
  height: 100%;
  background: url("R.images.frontline.gui.maps.battle.minimap.flag_active") no-repeat center / cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
.App_base__completed_09 .App_sectorBg_5a {
  background-image: url("R.images.frontline.gui.maps.battle.minimap.flag_completed");
}
.App_sectorText_de {
  color: #ffdd99;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0rem 0rem 3rem rgba(255, 127, 0, 0.2);
  z-index: 1;
  transform: translateX(-13rem);
}
.App_base__completed_09 .App_sectorText_de {
  color: #80d43a;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.App_content_5d {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 22rem;
  z-index: 1;
}
.App_base__medium_53 .App_content_5d,
.App_base__large_9d .App_content_5d {
  top: -5rem;
}
.App_progression_2a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 94rem;
}
.App_progression__last_e1 {
  transform: translateX(2rem);
}
.App_base__medium_53 .App_progression_2a {
  width: 110rem;
}
.App_base__large_9d .App_progression_2a {
  width: 140rem;
}
.App_objectWrapper_b3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
  transform: translateY(5rem);
}
.App_text_fb {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.App_text__completed_0b {
  color: #7ab300;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.App_icon_df {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / cover;
  transform: translate(16rem, -4rem);
}
.App_base__medium_53 .App_icon_df,
.App_base__large_9d .App_icon_df {
  width: 40rem;
  height: 40rem;
  transform: translate(20rem, -4rem);
}
.App_middleLine_ca {
  width: 1rem;
  height: 20rem;
  background: linear-gradient(
    180deg,
    rgba(210, 210, 210, 0.01) 0%,
    #95938e 59.91%,
    #95938e 74.62%,
    rgba(224, 224, 224, 0.01) 100%
  );
  transform: translateY(-12rem);
}
.App_middleLine__completed_70 {
  background: linear-gradient(
    180deg,
    rgba(132, 210, 12, 0.01) 0%,
    #84d20c 59.91%,
    rgba(132, 210, 12, 0.8) 74.62%,
    rgba(132, 210, 12, 0.01) 100%
  );
}
.App_progressionWrapper_88 {
  width: 94rem;
}
.App_base__medium_53 .App_progressionWrapper_88 {
  width: 110rem;
}
.App_base__large_9d .App_progressionWrapper_88 {
  width: 140rem;
}
