/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Earnings_94dd8e9c {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Earnings_icon_1455b4c4 {
  position: absolute;
  top: 0;
  left: 35rem;
}

.Earnings_bonusTitle_41f6d8a2 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(238, 237, 233, 0.9);
}

.Earnings_bonusDescription_8869599a {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TankmanRole_3bb08c81 {
  width: 18rem;
  height: 18rem;
  fill: var(--color-general-tertiary);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Row_a52ddf2a {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  align-items: flex-start;
  padding-bottom: 3rem;
  position: relative;
}

.Row_title_6c4bc0c8 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
  position: relative;
}
.Row_title__colon_6c475686 {
  margin-right: 4rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Crew_2339425e {
  align-items: center;
}

.Crew_79af07ed {
  display: flex;
}
.Crew_79af07ed + .Crew_79af07ed {
  margin-left: 6rem;
}

.Crew_icon_26258836 {
  align-self: center;
  width: 16rem;
  height: 16rem;
  fill: #b3afab;
}

.Crew_sign_a456f030 {
  margin-left: 3rem;
  color: var(--color-general-tertiary);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_c890a2dc {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Header_vehicleType_2f8016be {
  position: absolute;
  top: -5rem;
  left: 34rem;
}

.Header_name_6445d707 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(238, 237, 233, 0.9);
}

.Header_description_c9393f08 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Highlight_94f24c6a {
  position: relative;
}

.Highlight_highLightBg_d94a1117 {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(201, 201, 182, 0) 0%,
    #c9c9b6 38.22%,
    #c9c9b6 64.56%,
    rgba(201, 201, 182, 0) 100%
  );
  opacity: 0.07;
  position: absolute;
}

.Highlight_dividerTop_cf849559 {
  align-self: center;
  position: relative;
  top: -4rem;
}

.Highlight_dividerBottom_646c45ac {
  align-self: center;
  position: relative;
  bottom: -4rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.VehicleFeature_a07ec3e0 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.VehicleFeature_icon_1db75070 {
  position: absolute;
  top: 50%;
  left: 47rem;
  transform: translateY(-50%);
}

.VehicleFeature_featureName_58f0c4f8 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(238, 237, 233, 0.9);
}

.VehicleFeature_featureDescription_6a0032a4 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.VehicleTooltipApp_cornerIcon_b39a0f52 {
  position: absolute;
  top: 0;
  left: 0;
}

.VehicleTooltipApp_62676031 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 420rem;
  padding: 17rem 0 19rem;
  overflow: hidden;
  position: relative;
}
.VehicleTooltipApp_base__withDaily_c5c3efe8 {
  padding-bottom: 25rem;
}

.VehicleTooltipApp_header_9f31768c,
.VehicleTooltipApp_feature_fa65c6f3 {
  padding: 0 40rem 0 103rem;
}

.VehicleTooltipApp_highlight_a0eca3a0 {
  margin-top: 7rem;
}

.VehicleTooltipApp_earning_f3a4e20 {
  padding: 0 40rem 0 103rem;
  margin-top: 8rem;
}

.VehicleTooltipApp_divider_4f9c8429 {
  align-self: center;
  margin-top: 4rem;
}

.VehicleTooltipApp_state_57c51cb3 {
  justify-content: center;
  width: 100%;
  margin-top: 6rem;
  font-weight: 600;
}
