/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Countdown_root_6a31e164,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Countdown_59d5a1f4 {
  display: flex;
  align-items: center;
  margin: -1rem 0 0 -4rem;
}

.Countdown_text_fc7101e5 {
  color: #edcb9e;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
  margin-left: -2rem;
  font-weight: 500;
  text-shadow: 0 1rem 0 rgba(0, 0, 0, 0.3), 0 0 12rem rgba(255, 61, 0, 0.32), 0 0 10rem rgba(255, 177, 86, 0.24), 0 0 6rem rgba(255, 228, 159, 0.16);
}

.Countdown_icon_17addfe {
  width: 24rem;
  height: 24rem;
  background: url("R.images.story_mode.gui.maps.icons.eventBannerTooltip.icon_clock") no-repeat 50%/contain;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#EventBannerTooltipApp_root_76e843c1,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.EventBannerTooltipApp_8cdfe37e {
  display: flex;
  flex-direction: column;
  width: 338rem;
  box-shadow: inset 0 0 10px rgba(59, 59, 46, 0.86);
}

.EventBannerTooltipApp_banner_30944031 {
  width: 338rem;
  height: 180rem;
  background: url("R.images.story_mode.gui.maps.icons.eventBannerTooltip.banner") no-repeat 50%/contain;
}

.EventBannerTooltipApp_title_66abf4a2 {
  color: #fcf7e5;
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 10rem 20rem;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.EventBannerTooltipApp_text_73746157 {
  color: #8c8c7e;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
  margin: 14rem 20rem 13rem;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.EventBannerTooltipApp_modeWrapper_5b2bfb6b {
  display: flex;
  margin: 0 20rem 8rem;
}

.EventBannerTooltipApp_mode_65667168 {
  color: #353638;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 3rem 0 5rem;
  padding: -2rem 5rem;
  border-radius: 2rem;
  box-shadow: 0 1rem 0 0 #353638;
  background-color: #e9e7dc;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.EventBannerTooltipApp_modeText_9f5430a {
  color: rgba(178, 175, 171, 0.25);
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
  margin: 0 0 0 6rem;
  letter-spacing: 0.02em;
}

.EventBannerTooltipApp_line_1f2c36b4 {
  width: 328rem;
  height: 1rem;
  margin: 5rem;
  background: url("R.images.gui.maps.icons.achievements.tooltips.separator_dots_short") no-repeat 50%/contain;
}

.EventBannerTooltipApp_eventTitle_40807a1f {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 10rem 20rem 0;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.EventBannerTooltipApp_eventText_472ae868 {
  color: #8c8c7e;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
  margin: 7rem 20rem 10rem;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.EventBannerTooltipApp_timerText_c4d39bb {
  color: #8e867d;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  margin: 10rem 32rem 10rem 20rem;
  letter-spacing: 0.02em;
}