/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#IconTextBlock_root_504d628e,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.IconTextBlock_4710821f {
  display: flex;
  align-items: center;
}

.IconTextBlock_icon_753334c6 {
  width: 36rem;
  height: 36rem;
  background: no-repeat center/cover;
}

.IconTextBlock_text_e1bd5a75 {
  width: 90%;
  margin-left: 10rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ClaimInfo_root_221479b8,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ClaimInfo_63bb6cbd {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ClaimInfo_unlock_1bd5fae {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 100%;
  color: rgba(var(--color-currency-gold-rgb), 0.9);
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#LsRules_root_527d420c,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.LsRules_header_727b890c {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10rem 28rem 0;
}

.LsRules_playGame_22ee5320 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 19rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  line-height: 1.1;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Rewards_root_405577a5,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Rewards_69001186 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 403rem;
  height: 150rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.Ribbon_large") bottom/cover no-repeat;
  color: rgba(var(--color-general-secondary-rgb), 0.9);
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Separator_root_68dca4b0,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Separator_a3ff07 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.Separator_a3ff07::after {
  width: 283rem;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.Devider_points") 50%/contain no-repeat;
  content: "";
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#EndSoon_root_ea771f41,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.EndSoon_f7bd83d6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 28rem;
}

.EndSoon_content_a59b8e14 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 -28rem -28rem;
  padding: 4rem 28rem 26rem;
}

.EndSoon_timerLight_51f00759 {
  width: 280rem;
  height: 280rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.end_date_light") no-repeat center/contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.EndSoon_timer_776ec8b {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -3rem;
  text-shadow: 0 0 4rem rgba(255, 127, 0, 0.25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
  position: relative;
}

.EndSoon_timerIcon_eab8dcfa {
  width: 37rem;
  height: 37rem;
  background: url("R.images.gui.maps.icons.library.marathon.time_icon_glow") center/cover no-repeat;
}

.EndSoon_timerLabel_4d3035fe {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-right: 8rem;
  color: #e9e2bf;
}

.EndSoon_timerValue_f7b6b905 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: #e9e2bf;
  font-weight: 500;
}

.EndSoon_hurryUp_442e4698 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 100%;
  color: rgba(var(--color-currency-gold-rgb), 0.9);
  text-align: center;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Level_root_4e6750d,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Level_92373847 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 1.3em;
  margin: 7rem 0 -18rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  opacity: 0.9;
}

.Level_label_b141d366 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 12rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-weight: 600;
  opacity: 0.9;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Points_root_d59040e3,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Points_facdaf81 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8c8c7e;
}

.Points_pointsCurrent_b498b3a9 {
  margin-right: 4rem;
  color: #e9e2bf;
}

.Points_pointsMax_2f7dc8fa {
  margin-left: 4rem;
}

.Points_pointsIcon_615fd6e8 {
  width: 24rem;
  height: 24rem;
  margin-left: 10rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.points_24") center/contain no-repeat;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Progression_root_61efd8f5,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Progression_af1cb3b {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 361rem;
}

.Progression_progressionBar_871f5c5 {
  width: 100%;
  height: 12rem;
  margin-bottom: 13rem;
}

.Progression_points_fa2aa3d9 {
  margin-left: calc(24rem + 10rem);
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ExpireTime_root_843e3f7e,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ExpireTime_d2bc0e02 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  text-shadow: 0 0 4rem rgba(255, 127, 0, 0.25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
  position: relative;
}

.ExpireTime_light_ff99b79d {
  width: 250rem;
  height: 173rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.expire_time_light") no-repeat center/contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: -10rem;
  right: -30rem;
  z-index: 0;
}

.ExpireTime_icon_8036e60f {
  width: 37rem;
  height: 37rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.time_icon_glow") center/cover no-repeat;
}

.ExpireTime_value_9bb07917 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: #e9e2bf;
  font-weight: 500;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_71860ac {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Header_chapter_92802c23 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Header_name_b8e323e7 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
  line-height: 1.1;
  opacity: 0.9;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#RewardsBlock_root_5feff608,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.RewardsBlock_a66e0ba7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190rem;
}

.RewardsBlock_nextRewards_981674aa {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  margin-bottom: -5rem;
  color: rgba(var(--color-general-secondary-rgb), 0.9);
}

.RewardsBlock_rewardsList_bd0e0d04 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100rem;
}
.RewardsBlock_rewardsList__locked_d962e74b {
  opacity: 0.5;
}

.RewardsBlock_reward_ba99e1fe {
  margin-top: 30rem;
}
.RewardsBlock_reward__shiftUp_c85a723b {
  margin-top: -30rem;
}
.RewardsBlock_reward__styleUpgrade_5feff608, .RewardsBlock_reward__wide_6b8de2f3 {
  margin-right: 10rem;
}
.RewardsBlock_reward__next_37ab73ce {
  margin-left: 5rem;
}
.RewardsBlock_reward__single_56d6a3b7 {
  width: 140rem;
  height: 105rem;
  margin: 0;
}

.RewardsBlock_lockIcon_b3ad9975 {
  width: 36rem;
  height: 36rem;
  margin: -14rem -4rem -12rem -12rem;
  background: url("R.images.gui.maps.icons.battlePass.progression.icon_lock_current_small") center/contain no-repeat;
}

.RewardsBlock_a66e0ba7 .RewardsBlock_overlay_adaa44ea {
  width: 180rem;
  height: 135rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#InProgressContent_root_334c972d,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.InProgressContent_a8ca87b2 {
  width: 440rem;
}

.InProgressContent_content_524dcedb {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10rem 28rem 0;
}

.InProgressContent_rewards_63eaef96 {
  display: flex;
  flex-direction: row;
  width: 440rem;
  margin: 20rem 0 19rem;
  padding: 0 28rem;
}

.InProgressContent_unlockBattlePass_21685866 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 100%;
  margin-bottom: 19rem;
  color: rgba(var(--color-currency-gold-rgb), 0.9);
  line-height: 1.1;
}

.InProgressContent_claim_3d8980c7 {
  padding: 13rem 28rem 19rem;
}

.InProgressContent_separatorWrapper_4624de44 {
  margin-top: 7rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_71860ac {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Header_name_61a6b766 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
  line-height: 1.1;
  opacity: 0.9;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#RewardsBlock_root_5feff608,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.RewardsBlock_f8eba448 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150rem;
  position: relative;
}

.RewardsBlock_ribbon_63a6acee {
  display: flex;
  width: 100%;
  height: 100%;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.Ribbon_large") no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
}

.RewardsBlock_rewards_259e5467 {
  display: flex;
}

.RewardsBlock_reward__big_6e09459f {
  margin: 0 17rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#PostProgressionContent_root_d2b5683d,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PostProgressionContent_61673cb3 {
  width: 440rem;
}

.PostProgressionContent_header_77b88a64 {
  width: 100%;
  padding: 12rem 28rem 0;
}

.PostProgressionContent_content_1f2bfa15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10rem 28rem 0;
}

.PostProgressionContent_rewardsBlock_f655ecd1 {
  margin: 16rem 0 10rem;
}

.PostProgressionContent_claim_9123d952 {
  margin-bottom: 19rem;
}

.PostProgressionContent_separatorFirst_83f78bef {
  margin: 8rem -28rem 3rem;
}

.PostProgressionContent_separatorSecond_17c63b4 {
  margin: 11rem -28rem 1rem;
}

.PostProgressionContent_unlockBattlePass_c45d32a9 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 100%;
  margin-bottom: 19rem;
  padding-top: 10rem;
  color: rgba(var(--color-currency-gold-rgb), 0.9);
  line-height: 1.1;
}