/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#IntroCard_root_97af486,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.IntroCard_3fb7822b {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340rem;
}
.mediaLarge .IntroCard_3fb7822b {
  width: 400rem;
}

.IntroCard_image_90f7189 {
  width: 290rem;
  height: 260rem;
  background: no-repeat center/contain;
}
.mediaLarge .IntroCard_image_90f7189 {
  width: 400rem;
  height: 360rem;
}

.IntroCard_cardTitle_8314c32d {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 20rem;
  color: rgba(238, 237, 233, 0.9);
  line-height: 20rem;
  text-align: center;
}
.mediaLarge .IntroCard_cardTitle_8314c32d {
  font-size: 28rem;
}

.IntroCard_description_311a8e9a {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20rem;
  color: rgba(238, 237, 233, 0.7);
  text-align: center;
}
.mediaLarge .IntroCard_description_311a8e9a {
  font-size: 20rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Link_root_994f70b7,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Link_f4d8f841 {
  display: flex;
  align-items: center;
  color: #fcf6eb;
  text-shadow:
    0 0 16rem rgba(255, 154, 82, 0.5),
    0 0 8rem rgba(255, 196, 108, 0.24),
    0 0 4rem rgba(252, 246, 235, 0.16);
  transition: color 0.3s ease-out;
  cursor: pointer;
}
.Link_f4d8f841:hover {
  color: #ffe4c0;
  transition: color 0.3s ease-out;
}

.Link_linkText_e5373f66 {
  display: flex;
  justify-content: center;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  text-align: center;
}

.Link_linkAsset_375c69fe {
  width: 24rem;
  height: 24rem;
  background: no-repeat center/contain;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Footer_root_4308958a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Footer_65c52b9c {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Footer_arrows_8549b7b9 {
  opacity: 1;
}

.Footer_button_a51e1377 {
  width: 192rem;
  position: relative;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Header_71860ac {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Header_timerInfo_349b680 {
  align-self: center;
  color: #edcb9e;
}

.Header_timer_381a16e0 {
  font-size: 22rem;
}

.Header_title_db08c631 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 15rem;
  color: #edcb9e;
  line-height: 20rem;
  text-align: center;
}
.mediaMedium .Header_title_db08c631 {
  margin-top: 20rem;
  font-size: 56rem;
}
.mediaExtraLarge .Header_title_db08c631 {
  margin-top: 30rem;
  font-size: 80rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#App_root_0,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_c2a1a7d4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.App_background_55f1a395 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.App_header_f27f8500 {
  margin-top: 40rem;
}
.mediaMedium .App_header_f27f8500 {
  margin-top: 60rem;
}
.mediaLarge .App_header_f27f8500 {
  margin-top: 138rem;
}
.mediaExtraLarge .App_header_f27f8500 {
  margin-top: 218rem;
}

.App_footer_bd96d566 {
  margin-bottom: 75rem;
}
.mediaMedium .App_footer_bd96d566 {
  margin-bottom: 109rem;
}
.mediaLarge .App_footer_bd96d566 {
  margin-bottom: 141rem;
}
.mediaExtraLarge .App_footer_bd96d566 {
  margin-bottom: 294rem;
}

.App_cardsWrapper_cb654453 {
  display: flex;
}

.App_card_be821af5 {
  margin-right: 40rem;
}
.mediaMedium .App_card_be821af5 {
  margin-right: 60rem;
}
.mediaLarge .App_card_be821af5 {
  margin-right: 100rem;
}
.App_card_be821af5:last-child {
  margin-right: 0;
}

.App_link_f0b59ee5 {
  position: relative;
}

.App_closeButton_f5179698 {
  position: absolute;
  top: 30rem;
  right: 30rem;
}
