/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Profit_root_6b8f37cd,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Profit_6037941e {
  display: flex;
  align-items: center;
  position: relative;
}
.Profit_base__big_6b8f37cd, .Profit_base__large_e3f34b22 {
  flex-direction: row-reverse;
}

.Profit_icon_a3ad1d71 {
  width: 16rem;
  height: 16rem;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
}
.Profit_base__big_6b8f37cd .Profit_icon_a3ad1d71 {
  transform: translateY(1rem);
}
.Profit_base__large_e3f34b22 .Profit_icon_a3ad1d71 {
  transform: none;
}
.Profit_icon__tankmenXP-small_6ee2c7d5 {
  background-image: url("R.images.fun_random.gui.maps.icons.feature.profit.tankmenXP_16x16");
}
.Profit_base__small_6b8f37cd .Profit_icon__tankmenXP-small_6ee2c7d5 {
  transform: translateY(-1rem);
}
.Profit_icon__tankmenXP-big_6b8f37cd, .Profit_icon__tankmenXP-large_f01250f8 {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.fun_random.gui.maps.icons.feature.profit.tankmenXP");
}
.Profit_icon__credits-small_1a506f8b {
  background-image: url("R.images.gui.maps.icons.library.CreditsIcon_2");
}
.Profit_icon__credits-big_6b8f37cd, .Profit_icon__credits-large_bbc8996c {
  width: 48rem;
  height: 48rem;
  margin-right: -1rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.money_silver");
}
.Profit_icon__gold-small_b9565eb {
  background-image: url("R.images.gui.maps.icons.library.GoldIcon_2");
}
.Profit_base__small_6b8f37cd .Profit_icon__gold-small_b9565eb {
  transform: translateY(-1rem);
}
.Profit_icon__gold-big_6b8f37cd, .Profit_icon__gold-large_c1d230b5 {
  width: 48rem;
  height: 48rem;
  margin-right: -1rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.money_gold");
}
.Profit_icon__crystal-small_a1140ac6 {
  background-image: url("R.images.gui.maps.icons.library.CrystalIcon_2");
}
.Profit_base__small_6b8f37cd .Profit_icon__crystal-small_a1140ac6 {
  transform: translateY(-1rem);
}
.Profit_icon__crystal-big_6b8f37cd, .Profit_icon__crystal-large_8668202 {
  width: 48rem;
  height: 48rem;
  margin-right: -1rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.money_bonds");
}
.Profit_icon__multyXp-small_7b9f9d52 {
  background-image: url("R.images.gui.maps.icons.library.multyXp");
}
.Profit_base__small_6b8f37cd .Profit_icon__multyXp-small_7b9f9d52 {
  transform: translateY(-1rem);
}
.Profit_icon__multyFreeXp-small_7dcd3502 {
  background-image: url("R.images.gui.maps.icons.library.multyFreeXp");
}
.Profit_base__small_6b8f37cd .Profit_icon__multyFreeXp-small_7dcd3502 {
  transform: translateY(-1rem);
}
.Profit_icon__xp-small_4bee637e {
  background-image: url("R.images.gui.maps.icons.library.NormalXpIcon");
}
.Profit_base__small_6b8f37cd .Profit_icon__xp-small_4bee637e {
  transform: translateY(-2rem);
}
.Profit_icon__xp-big_6b8f37cd, .Profit_icon__xp-large_ad32f830 {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.exp");
}
.Profit_base__big_6b8f37cd .Profit_icon__xp-big_6b8f37cd, .Profit_base__big_6b8f37cd .Profit_icon__xp-large_ad32f830 {
  transform: translateY(-1rem);
}
.Profit_icon__freeXP-small_2558eb64 {
  background-image: url("R.images.gui.maps.icons.library.freeXPIcon16x16");
}
.Profit_base__small_6b8f37cd .Profit_icon__freeXP-small_2558eb64 {
  transform: translateY(-1rem);
}
.Profit_icon__freeXP-big_6b8f37cd, .Profit_icon__freeXP-large_102a16b4 {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.freeExp");
}

.Profit_value_50419a14 {
  /* font-size inherit does not work here, so 1em means the size does not change */
  /* stylelint-disable-next-line */
  --font-size: 1em;
  padding-right: 2rem;
  color: var(--color-general-primary);
  font-size: var(--font-size);
  position: relative;
  z-index: 2;
}
.Profit_base__big_6b8f37cd .Profit_value_50419a14 {
  --font-size: 24rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-weight: 700;
}
.Profit_base__big_6b8f37cd .Profit_value_50419a14 + .Profit_icon_a3ad1d71 {
  font-size: 24rem;
}
.Profit_base__large_e3f34b22 .Profit_value_50419a14 {
  padding-right: 5rem;
  --font-size: 36rem;
  font-weight: 700;
}
.Profit_base__large_e3f34b22 .Profit_value_50419a14 + .Profit_icon_a3ad1d71 {
  font-size: 36rem;
}
.Profit_base__small_6b8f37cd .Profit_value__notEnough_1ade341b {
  color: #ff2717;
}
.Profit_base__big_6b8f37cd .Profit_value__notEnough_1ade341b {
  color: #b70000;
}
.Profit_base__large_e3f34b22 .Profit_value__notEnough_1ade341b {
  color: #b70000;
}