/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_dd3276f6 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 100%;
  margin-bottom: 15rem;
  color: var(--color-general-tertiary);
}
.Header_base__unavailable_45ec0218 {
  margin-bottom: 0;
}

.Header_d963ee09 {
  width: 100%;
  background: no-repeat center/cover;
  position: relative;
}
.Header_base__default_65f475ba .Header_d963ee09 {
  background-image: url("R.images.battle_royale.gui.maps.tooltips.widget_tooltip_background");
}
.Header_base__stPatrick_65f475ba .Header_d963ee09 {
  background-image: url("R.images.battle_royale.gui.maps.st_patrick.tooltips.widget_tooltip_background");
}

.Header_headerContainer_56f3a04a {
  width: 100%;
  padding: 17rem 15rem 0 23rem;
}

.Header_base__completed_65f475ba .Header_completedIcon_80fa7e3e {
  width: 294rem;
  height: 90rem;
  background: url("R.images.battle_royale.gui.maps.tooltips.check_mark") no-repeat center/cover;
  position: absolute;
  bottom: -33rem;
  left: 50%;
  transform: translateX(-50%);
}

.Header_title_f002e0bf {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 1rem;
  color: var(--color-general-primary);
}

.Header_description_9a38e31b {
  width: 100%;
  margin: 24rem 0 5rem;
  padding-left: 23rem;
  padding-right: 23rem;
  line-height: 1.1;
}
.Header_base__completed_65f475ba .Header_description_9a38e31b {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -10rem;
}
.Header_base__unavailable_45ec0218 .Header_description_9a38e31b {
  display: none;
}

.Header_subtitle_8fedad16 {
  display: none;
}
.Header_base__completed_65f475ba .Header_subtitle_8fedad16 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  margin-bottom: 4rem;
  color: var(--color-general-primary);
}

.Header_base__completed_65f475ba .Header_text_716171df {
  margin-bottom: 22rem;
  text-align: center;
}

.Header_time_e49d5d0f {
  margin-bottom: 8rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.App_54b301f {
  width: 440rem;
}