/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Bullet_1228cc07 {
  display: flex;
  width: 100%;
}

.Bullet_b3075e1b {
  width: 5rem;
  height: 5rem;
  margin: 9rem 12rem 0 0;
  border-radius: 10rem;
  background-color: rgba(var(--color-general-primary-rgb), 0.6);
}
