/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Button_2521432 {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(1);
  opacity: 1;
  position: relative;
  transition:
    filter 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  cursor: pointer;
}
.Button_base__extraSmall_d41b9c50 {
  height: 26rem;
}
.Button_base__extraSmall_d41b9c50[lang="th"] {
  height: 32rem;
}
.Button_base__small_512088e3 {
  height: 32rem;
}
.Button_base__small_512088e3[lang="th"] {
  height: 40rem;
}
.Button_base__medium_244d07ce {
  height: 40rem;
}
.Button_base__medium_244d07ce[lang="th"] {
  height: 48rem;
}
.Button_base__large_12d4bb07 {
  height: 46rem;
}
.Button_base__large_12d4bb07[lang="th"] {
  height: 58rem;
}
.Button_base__extraLarge_9e2b0c8a {
  height: 58rem;
}
.Button_base__extraLarge_9e2b0c8a[lang="th"] {
  height: 64rem;
}
.Button_base__disabled_d558a85d {
  opacity: 0.3;
  cursor: default;
}
.Button_base__active_61ecab03 {
  opacity: 0.6;
}
.Button_base__hover_a5c1af21 {
  filter: brightness(1.2);
}

.Button_border_a8e84f9 {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition:
    border 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
.Button_base__secondary_6bcdc8c .Button_border_a8e84f9 {
  border: 2rem solid #f6300f;
}
.Button_base__primary_6bcdc8c .Button_border_a8e84f9 {
  border: 2rem solid #e9e2bf;
}
.Button_base__primary_6bcdc8c.Button_base__active_61ecab03 .Button_border_a8e84f9 {
  border: 2rem solid #f6300f;
  opacity: 0.6;
}
.Button_base__primary_6bcdc8c.Button_base__hover_a5c1af21 .Button_border_a8e84f9 {
  border: 2rem solid #f6300f;
}

.Button_shadow_c7778328 {
  width: 100%;
  height: 100%;
  border: 2rem solid rgba(246, 48, 15, 0.21);
  position: absolute;
  bottom: -7rem;
  left: -4rem;
}

.Button_content_4f56c8a1 {
  margin: 0 10rem;
  line-height: 130%;
  position: relative;
}
.Button_base__medium_244d07ce .Button_content_4f56c8a1 {
  margin: 0 15rem;
}
.Button_base__large_12d4bb07 .Button_content_4f56c8a1,
.Button_base__extraLarge_9e2b0c8a .Button_content_4f56c8a1 {
  margin: 0 20rem;
}

.Button_caption_15569ea0 {
  margin-top: 1rem;
  font-weight: 700;
}
.Button_base__small_512088e3 .Button_caption_15569ea0 {
  font-size: 24rem;
}
.Button_base__medium_244d07ce .Button_caption_15569ea0 {
  margin-top: 0;
  font-size: 36rem;
}
.Button_base__large_12d4bb07 .Button_caption_15569ea0 {
  font-size: 36rem;
}
.Button_base__extraLarge_9e2b0c8a .Button_caption_15569ea0 {
  font-size: 36rem;
  letter-spacing: 0.05em;
}

.Button_primaryCaption_f59ee9c7 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(233, 226, 191, 0.8);
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.25);
  letter-spacing: 0.03em;
  transition: all 0.3s ease-in-out;
}
.Button_base__extraSmall_d41b9c50 .Button_primaryCaption_f59ee9c7 {
  font-size: 18rem;
}
.Button_base__small_512088e3 .Button_primaryCaption_f59ee9c7 {
  font-size: 24rem;
}
.Button_base__medium_244d07ce .Button_primaryCaption_f59ee9c7 {
  font-size: 24rem;
}
.Button_base__large_12d4bb07 .Button_primaryCaption_f59ee9c7 {
  font-size: 36rem;
}
.Button_base__hover_a5c1af21 .Button_primaryCaption_f59ee9c7 {
  color: #f6300f;
}
.Button_base__active_61ecab03 .Button_primaryCaption_f59ee9c7 {
  opacity: 0.6;
}

.Button_hintAnim1_89f8e8fb {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2rem solid #ff2717;
  opacity: 0;
  pointer-events: none;
  animation: Button_borderWaveAnimation_6bcdc8c 10s 1s ease-in-out infinite;
}

.Button_hintAnim2_35e2decf {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2rem solid #ff2717;
  opacity: 0;
  pointer-events: none;
  animation: Button_borderWaveAnimation_6bcdc8c 10s 1.15s ease-in-out infinite;
}

.Button_hintAnim3_91bbc602 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2rem solid #ff2717;
  opacity: 0;
  pointer-events: none;
  animation: Button_borderWaveAnimation_6bcdc8c 10s 1.3s ease-in-out infinite;
}

.Button_hintAnim4_41b4791c {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2rem solid #ff2717;
  opacity: 0;
  pointer-events: none;
  animation: Button_borderWaveAnimation_6bcdc8c 10s 1.45s ease-in-out infinite;
}

.Button_hintAnim5_3b49d40c {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2rem solid #ff2717;
  opacity: 0;
  pointer-events: none;
  animation: Button_borderWaveAnimation_6bcdc8c 10s 1.65s ease-in-out infinite;
}

@keyframes Button_borderWaveAnimation_6bcdc8c {
  0% {
    opacity: 0;
    transform: scale(2, 3);
  }
  5% {
    opacity: 0;
    transform: scale(2, 3);
  }
  10% {
    opacity: 1;
    transform: scale(1, 1);
  }
  10.1%,
  100% {
    opacity: 0;
  }
}
