/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.CloseButton_d48b0d77 {
  cursor: pointer;
}
.CloseButton_base__medium_293b816e {
  width: 48rem;
  height: 48rem;
}
.CloseButton_base__small_6ca54dd7 {
  width: 24rem;
  height: 24rem;
}
.CloseButton_base__extraSmall_313af556 {
  width: 16rem;
  height: 16rem;
}

.CloseButton_up_5a703a08 {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  position: absolute;
  transition: opacity 350ms ease-out;
}
.CloseButton_d48b0d77:hover .CloseButton_up_5a703a08,
.CloseButton_d48b0d77:active .CloseButton_up_5a703a08 {
  opacity: 0;
}
.CloseButton_base__medium_293b816e .CloseButton_up_5a703a08 {
  background-image: url("R.images.halloween.gui.maps.icons.library.close_button.icon_medium");
  background-size: 28rem 28rem;
}
.CloseButton_base__small_6ca54dd7 .CloseButton_up_5a703a08 {
  background-image: url("R.images.halloween.gui.maps.icons.library.close_button.icon_small");
  background-size: 14rem 14rem;
}
.CloseButton_base__extraSmall_313af556 .CloseButton_up_5a703a08 {
  background-image: url("R.images.halloween.gui.maps.icons.library.close_button.icon_extraSmall");
  background-size: 10rem 10rem;
}

.CloseButton_hover_5d3a15c2 {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  position: absolute;
  transition: opacity 350ms ease-out;
  opacity: 0;
}
.CloseButton_d48b0d77:hover .CloseButton_hover_5d3a15c2 {
  opacity: 1;
}
.CloseButton_d48b0d77:active .CloseButton_hover_5d3a15c2 {
  opacity: 0.6;
}
.CloseButton_base__medium_293b816e .CloseButton_hover_5d3a15c2 {
  background-image: url("R.images.halloween.gui.maps.icons.library.close_button.icon_medium_hover");
  background-size: 28rem 28rem;
}
.CloseButton_base__small_6ca54dd7 .CloseButton_hover_5d3a15c2 {
  background-image: url("R.images.halloween.gui.maps.icons.library.close_button.icon_small_hover");
  background-size: 14rem 14rem;
}
.CloseButton_base__extraSmall_313af556 .CloseButton_hover_5d3a15c2 {
  background-image: url("R.images.halloween.gui.maps.icons.library.close_button.icon_extraSmall_hover");
  background-size: 10rem 10rem;
}

.CloseButton_shadow_af3d9881 {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  opacity: 0.1;
  position: absolute;
  bottom: -5rem;
  left: -2rem;
}
.CloseButton_base__medium_293b816e .CloseButton_shadow_af3d9881 {
  background-image: url("R.images.halloween.gui.maps.icons.library.close_button.icon_medium_hover");
  background-size: 28rem 28rem;
}
.CloseButton_base__small_6ca54dd7 .CloseButton_shadow_af3d9881 {
  background-image: url("R.images.halloween.gui.maps.icons.library.close_button.icon_small_hover");
  background-size: 14rem 14rem;
}
.CloseButton_base__extraSmall_313af556 .CloseButton_shadow_af3d9881 {
  background-image: url("R.images.halloween.gui.maps.icons.library.close_button.icon_extraSmall_hover");
  background-size: 10rem 10rem;
}
