/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.CrewViewTemplate_bg_fd5b65f9 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.CrewViewTemplate_b823ecba {
  width: 100%;
  height: 100%;
}

.CrewViewTemplate_close_btn_19aa24b2 {
  position: absolute;
  top: 30rem;
  right: 30rem;
  z-index: 1;
}

.CrewViewTemplate_bg_fd5b65f9 {
  background: url("R.images.halloween.gui.maps.icons.backgrounds.unique_event_crew_bg") no-repeat
    50% / cover;
  z-index: -1;
}

.CrewViewTemplate_header_6b377932 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  text-align: center;
  letter-spacing: 0.03em;
  position: absolute;
  top: 44rem;
  right: 0;
  left: 0;
}
.mediaMedium .CrewViewTemplate_header_6b377932 {
  font-size: 72rem;
  top: 48rem;
}
.mediaLarge .CrewViewTemplate_header_6b377932 {
  font-size: 80rem;
  top: 57rem;
}
.mediaExtraLarge .CrewViewTemplate_header_6b377932 {
  font-size: 100rem;
  top: 80rem;
}

.CrewViewTemplate_content_fc680bfd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.CrewViewTemplate_button_97cecfa1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.mediaMedium .CrewViewTemplate_button_97cecfa1 {
  bottom: 70rem;
}
.mediaLarge .CrewViewTemplate_button_97cecfa1 {
  bottom: 80rem;
}
.mediaExtraLarge .CrewViewTemplate_button_97cecfa1 {
  bottom: 110rem;
}
.CrewViewTemplate_button_97cecfa1 {
  bottom: 60rem;
}
