/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.DefaultDialogTemplate_3fa31653 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
}

.DefaultDialogTemplate_center_78864940 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720rem;
  opacity: 0;
  position: relative;
}
.DefaultDialogTemplate_center__shown_c0f84ab4 {
  animation-name: DefaultDialogTemplate_windowIn_d8935f55;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.DefaultDialogTemplate_center__withIcon_d744956 {
  margin-top: -164rem;
}
.DefaultDialogTemplate_center__withIcon_d744956.DefaultDialogTemplate_center__responsive_9e9ec8c {
  margin-top: -82rem;
}

.DefaultDialogTemplate_icon_15887080 {
  margin-bottom: 32rem;
  z-index: 1;
}
.DefaultDialogTemplate_icon__responsive_423c786d {
  margin-bottom: 43rem;
}

.DefaultDialogTemplate_title_7a0e5166 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 17rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  z-index: 2;
}
.DefaultDialogTemplate_title__responsive_17b1a665 {
  color: #f2f2f7;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}

.DefaultDialogTemplate_content_41182241 {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  z-index: 3;
}

.DefaultDialogTemplate_footer_8135c5d1 {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #c9c9b6;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 14rem;
}

.DefaultDialogTemplate_buttons_b6999ab3 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 2;
}

.DefaultDialogTemplate_divider_8e532298 {
  width: 100%;
  height: 1rem;
  margin: 25rem 0 27rem;
  background-color: #fff;
  opacity: 0.1;
}
.DefaultDialogTemplate_divider__noContent_b5635944 {
  margin-top: 23rem;
}
.DefaultDialogTemplate_divider__noFooter_bfa01162 {
  margin-bottom: 29rem;
}

.DefaultDialogTemplate_closeButton_82cf1050 {
  position: absolute;
  top: 30rem;
  right: 30rem;
}

@keyframes DefaultDialogTemplate_windowIn_d8935f55 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Icon_e30b139a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon_mainIcon_c9ef5a0d {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.Icon_iconContainer_779374c7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Icon_container_4087e78b {
  width: 180rem;
  height: 135rem;
  position: relative;
}

.Icon_6ce4463 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
