/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.IconButton_5a2471a1 {
  position: relative;
  cursor: auto;
  pointer-events: none;
}
.IconButton_base__medium_a8705076 {
  width: 30rem;
  height: 30rem;
}
.IconButton_base__large_485be261 {
  width: 50rem;
  height: 50rem;
}

.IconButton_hoverArea_1c4c88c0 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: auto;
}
.IconButton_base__disable_2fe863a9 .IconButton_hoverArea_1c4c88c0 {
  cursor: default;
}

.IconButton_icon_2c7dec8b,
.IconButton_iconHover_73672302 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.IconButton_base__medium_a8705076 .IconButton_icon_2c7dec8b,
.IconButton_base__medium_a8705076 .IconButton_iconHover_73672302 {
  width: 56rem;
  height: 56rem;
}
.IconButton_base__large_485be261 .IconButton_icon_2c7dec8b,
.IconButton_base__large_485be261 .IconButton_iconHover_73672302 {
  width: 120rem;
  height: 120rem;
}

.IconButton_icon_2c7dec8b {
  opacity: 1;
  transition: opacity 0.3s 0.1s ease;
}
.IconButton_base__hover_2fe863a9 .IconButton_icon_2c7dec8b {
  opacity: 0;
}

.IconButton_iconHover_73672302 {
  opacity: 0;
  transition: opacity 0.3s 0.1s ease;
}
.IconButton_base__hover_2fe863a9 .IconButton_iconHover_73672302 {
  opacity: 1;
}
.IconButton_base__hover_2fe863a9.IconButton_base__active_2fe863a9 .IconButton_iconHover_73672302 {
  opacity: 0.65;
  transition: opacity 0.1s 0s ease-in-out;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.GiftedVehicle_52a7f5c9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240rem;
  position: relative;
}

.GiftedVehicle_shadow_ef776035 {
  width: 230rem;
  height: 142rem;
  background: radial-gradient(#16181a 20%, transparent 72%);
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.mediaMedium .GiftedVehicle_shadow_ef776035 {
  width: 280rem;
  height: 184rem;
}
.mediaLarge .GiftedVehicle_shadow_ef776035 {
  width: 368rem;
  height: 242rem;
}

.GiftedVehicle_vehicleBlock_bb884820 {
  display: flex;
  align-items: center;
  margin-top: 12rem;
  position: relative;
}
.mediaMedium .GiftedVehicle_vehicleBlock_bb884820 {
  margin-top: 2rem;
}
.mediaLarge .GiftedVehicle_vehicleBlock_bb884820 {
  margin-top: 0;
}

.GiftedVehicle_flag_8c2f4ac {
  width: 20rem;
  height: 15rem;
  margin: -1rem 3rem 0 0;
}
.mediaMedium .GiftedVehicle_flag_8c2f4ac {
  width: 26rem;
  height: 20rem;
  margin: -2rem 5rem 0 0;
}
.mediaLarge .GiftedVehicle_flag_8c2f4ac {
  width: 40rem;
  height: 30rem;
  margin-right: 9rem;
}

.GiftedVehicle_vehicleInfo_2b4a3779 {
  position: relative;
}

.GiftedVehicle_text_65439f96 {
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.14);
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
  font-weight: 400;
  opacity: 0.8;
}
.mediaMedium .GiftedVehicle_text_65439f96 {
  font-size: 24rem;
  font-weight: 500;
}
.mediaLarge .GiftedVehicle_text_65439f96 {
  font-size: 32rem;
}

.GiftedVehicle_type_2d857f1 {
  margin: 0 2rem;
}
.mediaMedium .GiftedVehicle_type_2d857f1 {
  margin: 0 -3rem;
}
.mediaLarge .GiftedVehicle_type_2d857f1 {
  margin: 0;
}

.GiftedVehicle_role_7b3a4ab0 {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(10%, -10%);
  pointer-events: auto;
}
.mediaMedium .GiftedVehicle_role_7b3a4ab0 {
  transform: translate(10%, 54%);
}
.mediaExtraLarge .GiftedVehicle_role_7b3a4ab0 {
  transform: translate(10%, 100%);
}
