/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.VehicleType_base__c_24x24_92335fef {
  width: 24rem;
  height: 24rem;
}
.VehicleType_base__c_38x38_2a1f524c {
  width: 38rem;
  height: 38rem;
}
.VehicleType_base__c_48x48_e19c5d21 {
  width: 48rem;
  height: 48rem;
}
.VehicleType_base__c_83x74_d3c76480 {
  width: 83rem;
  height: 74rem;
}
.VehicleType_base__c_96x96_d837a523 {
  width: 96rem;
  height: 96rem;
}
