/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ArrowButton_f7f9243b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92rem;
  height: 120rem;
  position: relative;
}
.ArrowButton_f7f9243b:hover {
  cursor: pointer;
}
.ArrowButton_base__disabled_d61d5f87 {
  opacity: 0.3;
  pointer-events: none;
}
.ArrowButton_base__left_e7ba36a0 {
  margin-left: 32rem;
}
.ArrowButton_base__right_930dd67a {
  margin-right: 30rem;
}

.ArrowButton_up_3e008daf {
  width: 92rem;
  height: 176rem;
  background: url("R.images.halloween.gui.maps.icons.hangar.arrow_up") no-repeat 50% / contain;
  position: absolute;
  transition: opacity 0.5s ease;
  pointer-events: none;
  opacity: 0.3;
}
.ArrowButton_base__left_e7ba36a0 .ArrowButton_up_3e008daf {
  transform: scale(-1, 1);
}
.ArrowButton_base__right_930dd67a .ArrowButton_up_3e008daf {
  transform: scale(1, 1);
}
.ArrowButton_f7f9243b:hover .ArrowButton_up_3e008daf,
.ArrowButton_f7f9243b:active .ArrowButton_up_3e008daf {
  opacity: 0;
}
.ArrowButton_base__disabled_d61d5f87 .ArrowButton_up_3e008daf {
  opacity: 0.3 !important;
}

.ArrowButton_hover_379ad0d6 {
  width: 92rem;
  height: 176rem;
  background: url("R.images.halloween.gui.maps.icons.hangar.arrow_hover") no-repeat 50% / contain;
  position: absolute;
  transition: opacity 0.5s ease;
  pointer-events: none;
  opacity: 0;
}
.ArrowButton_base__left_e7ba36a0 .ArrowButton_hover_379ad0d6 {
  transform: scale(-1, 1);
}
.ArrowButton_base__right_930dd67a .ArrowButton_hover_379ad0d6 {
  transform: scale(1, 1);
}
.ArrowButton_f7f9243b:hover .ArrowButton_hover_379ad0d6 {
  opacity: 1;
}
.ArrowButton_f7f9243b:active .ArrowButton_hover_379ad0d6 {
  opacity: 0.5;
}
.ArrowButton_base__disabled_d61d5f87 .ArrowButton_hover_379ad0d6 {
  opacity: 0 !important;
}

.ArrowButton_glow_ace58acc {
  width: 136rem;
  height: 340rem;
  background: url("R.images.halloween.gui.maps.icons.hangar.arrow_button_glow") no-repeat 50% /
    contain;
  opacity: 0;
  position: absolute;
  top: -108rem;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.ArrowButton_base__left_e7ba36a0 .ArrowButton_glow_ace58acc {
  transform: scale(-1, 1);
}
.ArrowButton_base__right_930dd67a .ArrowButton_glow_ace58acc {
  transform: scale(1, 1);
}
.ArrowButton_f7f9243b:hover .ArrowButton_glow_ace58acc {
  opacity: 1;
}
.ArrowButton_f7f9243b:active .ArrowButton_glow_ace58acc {
  opacity: 0.5;
}
.ArrowButton_base__disabled_d61d5f87 .ArrowButton_glow_ace58acc {
  opacity: 0 !important;
}

.ArrowButton_iconLock_cfa3af1b {
  width: 12rem;
  height: 18rem;
  background: url("R.images.halloween.gui.maps.icons.hangar.icon_lock") no-repeat 50% / contain;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.ArrowButton_iconLock__left_f5389f9c {
  right: 25rem;
}
.ArrowButton_iconLock__right_4492202 {
  left: 25rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-pattern */
.VideoBackground_1a24cf5e {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.VideoBackground_video_102f3645 {
  width: 1920rem;
  height: 1080rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
