/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Lore_root_21c13854,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-pattern */
.Lore_9a81042e {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Lore_content_fd4f1aae {
  width: 100%;
  height: 310rem;
  position: relative;
}
.mediaLarge .Lore_content_fd4f1aae {
  height: 374rem;
}
.mediaExtraLarge .Lore_content_fd4f1aae {
  height: 435rem;
}

.Lore_glow_8658bbb0 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 1417rem;
  height: 805rem;
  background: url("R.images.story_mode.gui.maps.icons.common.lore.glow") no-repeat 50%/cover;
}
.Lore_glow__top_2e70eede {
  top: 0;
  transform: translate(-50%, -50%);
}
.Lore_glow__bottom_1d71c91 {
  opacity: 0.6;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.Lore_line_3de98169 {
  width: 1600rem;
  height: 901rem;
  background: url("R.images.story_mode.gui.maps.icons.common.lore.line_extraSmall") no-repeat 50%/cover;
  position: absolute;
  top: -326rem;
  left: 50%;
  transform: translate(-50%);
}
.mediaMedium .Lore_line_3de98169 {
  top: -324rem;
}
.mediaLarge .Lore_line_3de98169 {
  width: 1920rem;
  height: 1080rem;
  background-image: url("R.images.story_mode.gui.maps.icons.common.lore.line_large");
  top: -388rem;
}
.mediaExtraLarge .Lore_line_3de98169 {
  width: 2224rem;
  height: 1251rem;
  background-image: url("R.images.story_mode.gui.maps.icons.common.lore.line_extraLarge");
  top: -448rem;
}

.Lore_photos_2af521d1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 448rem;
  height: 353rem;
  margin-left: -243rem;
  margin-top: -24rem;
  background: no-repeat 50%/cover;
}
.mediaSmall .Lore_photos_2af521d1 {
  width: 558rem;
  height: 440rem;
  margin-left: -295rem;
  margin-top: -69rem;
}
.mediaMedium .Lore_photos_2af521d1 {
  width: 650rem;
  height: 513rem;
  margin-left: -355rem;
  margin-top: -105rem;
}
.mediaLarge .Lore_photos_2af521d1 {
  width: 790rem;
  height: 624rem;
  margin-left: -434rem;
  margin-top: -129rem;
}
.mediaExtraLarge .Lore_photos_2af521d1 {
  width: 1000rem;
  height: 790rem;
  margin-left: -522rem;
  margin-top: -171rem;
}

.Lore_4c9e1ecd {
  width: 430rem;
  margin-left: 36rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}
.mediaMedium .Lore_4c9e1ecd {
  width: 600rem;
  margin-left: 56rem;
}
.mediaLarge .Lore_4c9e1ecd {
  width: 700rem;
  margin-left: 68rem;
}
.mediaExtraLarge .Lore_4c9e1ecd {
  width: 870rem;
  margin-left: 84rem;
}

.Lore_text_68ca6276 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  min-height: 16rem;
  color: var(--color-general-tertiary);
}
html[lang=ja] .Lore_text_68ca6276, html[lang=ko] .Lore_text_68ca6276, html[lang=zh_tw] .Lore_text_68ca6276, html[lang=zh_sg] .Lore_text_68ca6276, html[lang=zh_cn] .Lore_text_68ca6276, html[lang=vi] .Lore_text_68ca6276, html[lang=th] .Lore_text_68ca6276 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  min-height: 14rem;
}
.mediaMedium .Lore_text_68ca6276 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  min-height: 18rem;
}
html[lang=ja] .mediaMedium .Lore_text_68ca6276, html[lang=ko] .mediaMedium .Lore_text_68ca6276, html[lang=zh_tw] .mediaMedium .Lore_text_68ca6276, html[lang=zh_sg] .mediaMedium .Lore_text_68ca6276, html[lang=zh_cn] .mediaMedium .Lore_text_68ca6276, html[lang=vi] .mediaMedium .Lore_text_68ca6276, html[lang=th] .mediaMedium .Lore_text_68ca6276 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  min-height: 16rem;
}
.mediaLarge .Lore_text_68ca6276 {
  color: #8c8c7e;
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  min-height: 22rem;
}
html[lang=ja] .mediaLarge .Lore_text_68ca6276, html[lang=ko] .mediaLarge .Lore_text_68ca6276, html[lang=zh_tw] .mediaLarge .Lore_text_68ca6276, html[lang=zh_sg] .mediaLarge .Lore_text_68ca6276, html[lang=zh_cn] .mediaLarge .Lore_text_68ca6276, html[lang=vi] .mediaLarge .Lore_text_68ca6276, html[lang=th] .mediaLarge .Lore_text_68ca6276 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  min-height: 20rem;
}
.mediaExtraLarge .Lore_text_68ca6276 {
  color: #8c8c7e;
  font-size: 28rem;
  font-weight: 400;
  line-height: 1.2;
  min-height: 28rem;
}
html[lang=ja] .mediaExtraLarge .Lore_text_68ca6276, html[lang=ko] .mediaExtraLarge .Lore_text_68ca6276, html[lang=zh_tw] .mediaExtraLarge .Lore_text_68ca6276, html[lang=zh_sg] .mediaExtraLarge .Lore_text_68ca6276, html[lang=zh_cn] .mediaExtraLarge .Lore_text_68ca6276, html[lang=vi] .mediaExtraLarge .Lore_text_68ca6276, html[lang=th] .mediaExtraLarge .Lore_text_68ca6276 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.3em;
  min-height: 24rem;
}