.Countdown_base_fe {
  display: flex;
  align-items: center;
}

.Countdown_icon_8b {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
}

.Countdown_description_8d {
  color: #ffdd99;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

.Header_base_81 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32rem 0rem;
  position: relative;
}

.mediaMedium .Header_base_81 {
  padding: 54rem 0rem 40rem;
}

.mediaLarge .Header_base_81 {
  padding: 86rem 0rem 66rem;
}

.mediaExtraLarge .Header_base_81 {
  padding: 142rem 0rem 122rem;
}

.Header_close_4f {
  position: absolute;
  top: 23rem;
  right: 16rem;
}

.mediaMedium .Header_close_4f {
  top: 40rem;
  right: 40rem;
}

.Header_info_6b {
  position: absolute;
  top: 23rem;
  left: 16rem;
}

.mediaMedium .Header_info_6b {
  top: 40rem;
  left: 40rem;
}

.Header_title_fe {
  color: #f2f2f7;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 6rem;
}

.mediaLarge .Header_title_fe {
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}

.mediaExtraLarge .Header_title_fe {
  color: #f2f2f7;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}

.Header_subTitle_65 {
  color: #f2f2f7;
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
  opacity: 0.8;
}

.mediaLarge .Header_subTitle_65 {
  color: #f2f2f7;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}

.mediaExtraLarge .Header_subTitle_65 {
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}

.TextButton_base_b6 {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 12rem;
  position: relative;
  cursor: pointer;
}

.TextButton_base__right_39 {
  flex-direction: row-reverse;
}
.TextButton_icon_17 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.back");
  transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
  transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
  margin: -1rem 0;
  background-image: url("R.images.gui.maps.icons.components.text_button.close");
}
.TextButton_icon__info_33 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.info");
}
.TextButton_glow_a4 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.back_hover");
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.close_hover");
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.info_hover");
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
  opacity: 0;
}
.TextButton_caption_82 {
  position: relative;
  transition:
    color 0.16s,
    text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
  color: #ffdd99;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
  color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
  color: #ffdd99;
}
.TextButton_caption__info_23 {
  padding: 0 5rem;
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
  color: #e3ffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 12rem rgba(0, 234, 255, 1),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.6),
    0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
  color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
  margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
  margin-right: 8rem;
}
.TextButton_shine_e2 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transition: opacity 0.16s;
  pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
  left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
  right: -4rem;
  transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
  opacity: 0;
}

.Complete_base_c3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Complete_resetTimer_66 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 9rem;
}

.mediaMedium .Complete_resetTimer_66 {
  margin-top: 17rem;
}

.Complete_timer_b6 {
  color: #ffdd99;
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
  margin-top: -5rem;
}

.Complete_flashline_22 {
  width: 408rem;
  height: 12rem;
  margin-top: 10rem;
  margin-right: 4rem;
  background: url("R.images.fun_random.gui.maps.icons.feature.progression.flashline") no-repeat;
}

.Complete_flashline__left_a9 {
  margin-left: 9rem;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.Complete_title_21 {
  color: #f2f2f7;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}

.mediaMedium .Complete_title_21 {
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}

.Complete_description_20 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 9rem;
}

.mediaMedium .Complete_description_20 {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 13rem;
}

.Congratulation_base_58 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Congratulation_title_42 {
  color: #80d43a;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}

.mediaLarge .Congratulation_title_42 {
  color: #80d43a;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}

.Congratulation_description_b8 {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 8rem;
}

.mediaLarge .Congratulation_description_b8 {
  margin-top: 16rem;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
  width: 100%;
  height: 12rem;
  position: relative;
}
.ProgressBar_base__medium_62 {
  height: 6rem;
}
.ProgressBar_base__small_df {
  height: 2rem;
}
.ProgressBar_background_51 {
  width: 100%;
  max-width: 8001px;
  height: 100%;
  background-image: var(--progress-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 0;
  left: 0;
}
.ProgressBar_background__medium_6e {
  height: 6rem;
}
.ProgressBar_background__small_46 {
  height: 2rem;
}
.ProgressBar_lineWrapper_6a {
  display: flex;
  flex: 1;
}

.ProgressBarBlink_base_24 {
  width: 60rem;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}

.ProgressBarBlink_base__medium_ec {
  width: 42rem;
  height: 70rem;
}

.ProgressBarBlink_base__small_0f {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
  max-width: 8001px;
  height: 100%;
  background-color: var(--progress-line-base);
  position: relative;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
  background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
  background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
  max-width: 8001px;
  background-image: var(--progress-pattern-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-disabled);
  left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
  max-width: 8001px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
  mix-blend-mode: overlay;
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: 1rem;
  left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
  display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0.5)
  );
}
.ProgressLineImpose_glow_a5 {
  width: 60rem;
  max-width: 8001px;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
  left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
  display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
  transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

.Reward_base_ea {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
  width: 48rem;
  height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
  width: 80rem;
  height: 80rem;
}

.Reward_base__s128x100_c3 {
  width: 128rem;
  height: 100rem;
}

.Reward_base__s180x135_7c {
  width: 180rem;
  height: 135rem;
}

.Reward_base__s232x174_67 {
  width: 232rem;
  height: 174rem;
}

.Reward_base__s296x222_78 {
  width: 296rem;
  height: 222rem;
}

.Reward_base__s400x300_07 {
  width: 400rem;
  height: 300rem;
}

.Reward_base__s600x450_f8 {
  width: 600rem;
  height: 450rem;
}

.Reward_tooltipWrapper_b5 {
  height: 100%;
}

.Reward_icon_df {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.Reward_overlay_68 {
  background: no-repeat center / 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
  width: 96rem;
  height: 96rem;
  background-size: 100%;
  overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
  width: 128rem;
  height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
  width: 266rem;
  height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
  width: 344rem;
  height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
  width: 450rem;
  height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
  width: 618rem;
  height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
  width: 670rem;
  height: 575rem;
}

.Reward_highlight_36 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  position: absolute;
  z-index: 0;
}

.Reward_image_89 {
  position: relative;
}

.Reward_info_72 {
  margin-top: -13rem;
  color: #e9e2bf;
  font-size: 14rem;
  line-height: 18rem;
  text-align: center;
  z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
  margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
  margin-right: 2rem;
  text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
  margin-right: 0;
}

.Reward_info__credits_ef {
  color: #e9e2bf;
}

.Reward_info__gold_36 {
  color: #ffc363;
}

.Reward_info__crystal_36 {
  color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
  color: #ffdd99;
}

.Reward_timer_d3 {
  background: no-repeat center / contain;
  position: absolute;
  z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
  width: 23rem;
  height: 23rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.small.timer");
  top: -6rem;
  right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.big.timer");
  top: -14rem;
  right: -14rem;
}

.Rewards_base_26 {
  display: flex;
}

.Rewards_base__vertical_9f {
  flex-direction: column;
}

.Rewards_reward_7b {
  margin: 0 10rem;
}

.Rewards_reward__vertical_c6 {
  margin: 15rem 0;
}

.FormatTextWithColorTags_blackReal_3c {
  color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
  color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
  color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
  color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
  color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
  color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
  color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
  color: #37362e;
}

.FormatTextWithColorTags_red_60 {
  color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
  color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
  color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
  color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
  color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
  color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
  color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
  color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
  color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
  color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
  color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
  color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
  color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
  color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
  color: #a29b70;
}

.Stage_base_99 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 231rem;
  position: relative;
}

.Stage_mainReward_1a {
  margin-bottom: 20rem;
}

.mediaExtraLarge .Stage_mainReward_1a {
  margin-bottom: 50rem;
}

.Stage_mainRewardIcon_77 {
  transform: scale(0.6);
}

.mediaExtraLarge .Stage_mainRewardIcon_77 {
  transform: scale(0.8);
}

.Stage_mainRewardOverlay_ae {
  transform: translate(-50%, -50%) scale(0.6);
}

.mediaExtraLarge .Stage_mainRewardOverlay_ae {
  transform: translate(-50%, -50%) scale(0.8);
}

.Stage_mainRewardInfo_0c {
  margin-top: -38rem;
}

.Stage_mainRewardInfo__multi_49 {
  margin-right: 52rem;
}

.mediaExtraLarge .Stage_mainRewardInfo_0c {
  margin-top: -26rem;
}

.mediaExtraLarge .Stage_mainRewardInfo__multi_49 {
  margin-right: 46rem;
}

.Stage_rewards_6b {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30rem;
}

.Stage_reward_29 {
  margin: 4rem 0rem;
}

.mediaSmall .Stage_reward_29 {
  margin: 4rem;
}

.Stage_points_8c {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  opacity: 0.6;
  position: absolute;
  bottom: -10rem;
}

.mediaMedium .Stage_points_8c {
  color: #8c8c7e;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}

.Stage_base__current_60 .Stage_points_8c {
  color: #8c8c7e;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  opacity: 1;
}

.mediaMedium .Stage_base__current_60 .Stage_points_8c {
  color: #8c8c7e;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}

.Stage_index_e2 {
  color: #8c8c7e;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  opacity: 0.5;
  position: absolute;
  bottom: -90rem;
}

.mediaMedium .Stage_index_e2 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.mediaExtraLarge .Stage_index_e2 {
  bottom: -140rem;
}

.Stage_base__done_17 .Stage_index_e2,
.Stage_base__current_60 .Stage_index_e2 {
  opacity: 1;
}

.Stage_check_f9 {
  align-content: center;
  width: 104rem;
  height: 24rem;
  background: url("R.images.gui.maps.icons.library.check") no-repeat center;
  position: absolute;
  bottom: -12rem;
}

.Stage_doneGlowTop_05 {
  width: 212rem;
  height: 170rem;
  background: url("R.images.fun_random.gui.maps.icons.feature.progression.done_top") no-repeat
    center / cover;
  position: absolute;
  top: 90rem;
}

.mediaExtraLarge .Stage_doneGlowTop_05 {
  top: 130rem;
}

.Stage_doneGlowBottom_1c {
  width: 212rem;
  height: 63rem;
  background: url("R.images.fun_random.gui.maps.icons.feature.progression.done_bottom") no-repeat
    center / cover;
  position: absolute;
  bottom: -104rem;
}

.mediaExtraLarge .Stage_doneGlowBottom_1c {
  bottom: -144rem;
}

.Stage_separator_46 {
  width: 2rem;
  height: 230rem;
  position: absolute;
  left: 0;
}

.mediaSmall .Stage_separator_46 {
  height: 280rem;
}

.mediaMedium .Stage_separator_46 {
  height: 316rem;
}

.mediaLarge .Stage_separator_46 {
  height: 346rem;
}

.mediaExtraLarge .Stage_separator_46 {
  height: 380rem;
}

.Stage_separatorDark_ce {
  width: 1rem;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
}

.Stage_separatorLight_28 {
  width: 1rem;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 48.96%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  left: 1rem;
}

.Progression_base_7b {
  display: flex;
  position: relative;
}

.Progression_progress_67 {
  display: flex;
  width: 100%;
  position: absolute;
  top: 260rem;
}

.mediaExtraLarge .Progression_progress_67 {
  top: 300rem;
}

.Progression_stages_15 {
  display: flex;
  width: 100%;
}

.Quest_base_24 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 484rem;
  position: relative;
}

.mediaMedium .Quest_base_24 {
  width: 600rem;
}

.mediaLarge .Quest_base_24 {
  width: 700rem;
}

.Quest_borderBox_ed {
  width: 100%;
  height: 100%;
  border: 1rem solid rgba(255, 255, 255, 0.15);
  border-radius: 5rem;
  box-shadow: inset 0 0 30rem rgba(255, 255, 255, 0.03);
  background: rgba(26, 26, 26, 0.25);
  mask: linear-gradient(0deg, transparent 0%, #000 100%, #000 0%, transparent 100%);
  position: absolute;
  top: 0;
  left: 0rem;
  z-index: -1;
}

.Quest_conditions_d5 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Quest_questIcon_2e {
  width: 48rem;
  height: 48rem;
  margin-top: 32rem;
  background: center / contain no-repeat;
}

.mediaLarge .Quest_questIcon_2e {
  width: 80rem;
  height: 80rem;
  margin-top: 50rem;
}

.Quest_questName_bf {
  color: #ffffff;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 8rem;
  padding: 0 45rem;
  text-align: center;
}

.mediaMedium .Quest_questName_bf {
  color: #ffffff;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}

.mediaLarge .Quest_questName_bf {
  color: #ffffff;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 16rem;
}

.Quest_questPoints_88 {
  color: #c9c9b6;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 8rem;
}

.mediaMedium .Quest_questPoints_88 {
  color: #c9c9b6;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}

.mediaLarge .Quest_questPoints_88 {
  color: #e9e2bf;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}

.App_base_80 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App_close_ec {
  position: absolute;
  top: 30rem;
  right: 25rem;
}

.mediaMedium .App_close_ec {
  top: 40rem;
  right: 40rem;
}

.App_info_30 {
  position: absolute;
  top: 30rem;
  left: 25rem;
}

.mediaMedium .App_info_30 {
  top: 40rem;
  left: 40rem;
}

.App_bg_04 {
  width: 100%;
  height: 100%;
  background: no-repeat 50% / cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.App_header_2e {
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}

.mediaLarge .App_header_2e {
  color: #f2f2f7;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}

.mediaExtraLarge .App_header_2e {
  color: #f2f2f7;
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}

.App_contentWrapper_68 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App_content_c2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App_complete_aa {
  display: flex;
  align-items: center;
}

.App_progression_00 {
  display: flex;
  flex-direction: column;
  width: 992rem;
  margin-top: 30rem;
}

.mediaSmall .App_progression_00 {
  width: 1200rem;
}

.mediaMedium .App_progression_00 {
  width: 1415rem;
  margin-top: 0rem;
}

.mediaLarge .App_progression_00 {
  width: 1700rem;
}

.App_base__completedFinal_cb .App_progression_00 {
  margin-top: 100rem;
}

.App_resetTimer_94 {
  color: #ffdd99;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

.mediaMedium .App_resetTimer_94 {
  bottom: 28rem;
}

.mediaLarge .App_resetTimer_94 {
  bottom: 56rem;
}

.mediaExtraLarge .App_resetTimer_94 {
  bottom: 90rem;
}

.App_resetText_07 {
  margin-left: 5rem;
  margin-top: 7rem;
}

.App_footer_b1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

.mediaMedium .App_footer_b1 {
  bottom: 28rem;
}

.mediaLarge .App_footer_b1 {
  bottom: 56rem;
}

.mediaExtraLarge .App_footer_b1 {
  bottom: 90rem;
}

.App_footer__hidden_7b {
  opacity: 0;
}

.App_footerText_e7 {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}

.App_infoIcon_37 {
  width: 24rem;
  height: 24rem;
  margin-right: 5rem;
  background: url("R.images.gui.maps.icons.library.info") no-repeat center center;
  background-size: contain;
}

.App_quest_96 {
  display: flex;
  margin-top: 14rem;
}

.mediaMedium .App_quest_96 {
  margin-top: 36rem;
  margin-bottom: 20rem;
}

.mediaLarge .App_quest_96 {
  margin-top: 25rem;
}

.mediaExtraLarge .App_quest_96 {
  margin-bottom: 60rem;
}

.App_conditions_fb {
  display: flex;
  justify-content: center;
  width: 100%;
}

.NavigationButton_base_01 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 122rem;
  height: 140rem;
  border-radius: 2rem;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: -60rem;
  transform: translateY(-50%);
  transition:
    opacity 0.3s,
    left 0.3s;
  cursor: pointer;
}

.mediaSmall .NavigationButton_base_01 {
  left: -30rem;
}

.mediaSmall .NavigationButton_base_01:hover {
  left: -25rem;
}

.NavigationButton_content_2f {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(140, 140, 126, 0.1) 0%, rgba(38, 38, 34, 0.04) 100%);
  position: relative;
  mask-image: linear-gradient(270deg, rgba(140, 140, 126, 0.01) 0%, #262622 100%);
}

.NavigationButton_glow_e9 {
  width: 306rem;
  height: 314rem;
  background: url("R.images.fun_random.gui.maps.icons.feature.navigation_button.glow") no-repeat
    left / cover;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 20rem;
  transform: translateY(-50%);
  transition: opacity 0.3s;
}

.NavigationButton_base_01:hover .NavigationButton_glow_e9 {
  opacity: 1;
}

.NavigationButton_borderLine_fc {
  width: 100%;
  height: 2rem;
  background: #8c8c7e;
  position: absolute;
  left: 0;
}

.NavigationButton_borderLine__top_e4 {
  top: 0;
}

.NavigationButton_borderLine__bottom_3e {
  bottom: 0;
}

.NavigationButton_base_01:hover .NavigationButton_borderLine_fc {
  background: linear-gradient(90deg, #c38d59 0%, #a3543b 100%);
}

.NavigationButton_mapWrapper_90 {
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
  transition: right 0.3s;
}

.mediaSmall .NavigationButton_mapWrapper_90 {
  right: 23rem;
}

.NavigationButton_iconWrapper_93 {
  width: 50rem;
  height: 50rem;
  margin-bottom: 4rem;
  position: relative;
}

.mediaMedium .NavigationButton_iconWrapper_93 {
  width: 54rem;
  height: 54rem;
}

.NavigationButton_icon_fe {
  width: 100%;
  height: 100%;
  background: no-repeat center / cover;
  opacity: 1;
  position: absolute;
  transition: opacity 0.3s;
}

.NavigationButton_base_01:hover .NavigationButton_icon_fe {
  opacity: 0;
}

.NavigationButton_icon__hovered_b8 {
  opacity: 0;
}

.NavigationButton_base_01:hover .NavigationButton_icon__hovered_b8 {
  opacity: 1;
}

.NavigationButton_text_f3 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  max-width: 80rem;
  padding-left: 5rem;
  transition: all 0.3s;
}

.mediaMedium .NavigationButton_text_f3 {
  padding-left: 7rem;
}

.NavigationButton_base_01:hover .NavigationButton_text_f3 {
  color: #ffdd99;
  text-shadow: 0rem 0rem 14rem #f00;
}

.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}
