.HorizontalBar_base_49 {
  display: flex;
  width: 100%;
  height: 13rem;
  position: relative;
}

.HorizontalBar_base__nonActive_82 {
  visibility: hidden;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transform: rotate(-90deg);
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
  opacity: 1;
}

.HorizontalBar_leftButton_5f {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.HorizontalBar_rightButton_03 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.HorizontalBar_track_0d {
  flex: 1;
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}

.HorizontalBar_thumb_fd {
  display: none;
  flex: 0 0 100%;
  width: 100%;
  min-width: 20rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb_horizontal")
    no-repeat center / 8rem 7rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
  opacity: 1;
}

.HorizontalBar_rail_32 {
  height: 0;
  border-top: 1rem solid #2f2e24;
  position: absolute;
  top: 6rem;
  right: 5rem;
  left: 5rem;
}

.HorizontalBar_rail_32:hover {
  opacity: 0.7;
}

.HorizontalScroll_base_29 {
  width: 100%;
}

.HorizontalScroll_wrapper_1e {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
  width: 100%;
  margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: 100%;
  position: relative;
}

.VerticalBar_base__nonActive_42 {
  visibility: hidden;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
  opacity: 1;
}

.VerticalBar_topButton_d7 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.VerticalBar_bottomButton_06 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.VerticalBar_track_df {
  flex: 1;
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
}

.VerticalBar_thumb_32 {
  display: flex;
  flex: 0 0 13rem;
  width: 13rem;
  height: 100%;
  min-height: 20rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb") no-repeat center /
    7rem 8rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_thumb_32:hover {
  opacity: 1;
}

.VerticalBar_rail_43 {
  width: 0;
  height: 100%;
  border-left: 1rem solid #2f2e24;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  position: absolute;
  top: 0;
  left: 6rem;
  z-index: 0;
}

.VerticalBar_rail_43:hover {
  opacity: 0.7;
}

.VerticalScroll_content_cb {
  height: 100%;
  overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
  display: flex;
}

.VerticalScroll_bar_1e {
  flex: 1;
  margin-left: 7rem;
}

.VerticalScroll_area_af {
  flex: 1;
}

.ExtendedText_base_71 {
  display: flex;
  line-height: 1.2;
  position: relative;
}

.ExtendedText_base__zeroPadding_25 {
  padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
  width: 100%;
}

.ExtendedText_truncated_97 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.ExtendedText_truncated__hide_31 {
  opacity: 0;
}

.ExtendedText_unTruncated_b8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  color: #ff2717;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.colors_blackReal_fc {
  color: #000000;
}

.colors_whiteReal_31 {
  color: #ffffff;
}

.colors_white_45 {
  color: #f2f2f7;
}

.colors_whiteOrange_81 {
  color: #fefeec;
}

.colors_whiteSpanish_c3 {
  color: #e9e2bf;
}

.colors_par_5b {
  color: #8c8c7e;
}

.colors_parSecondary_fd {
  color: #595950;
}

.colors_parTertiary_97 {
  color: #37362e;
}

.colors_red_79 {
  color: #ff2717;
}

.colors_redDark_73 {
  color: #b70000;
}

.colors_yellow_76 {
  color: #feab34;
}

.colors_orange_cd {
  color: #ee7000;
}

.colors_cream_0f {
  color: #ffdd99;
}

.colors_brown_82 {
  color: #cbac77;
}

.colors_greenBright_68 {
  color: #80d43a;
}

.colors_green_fa {
  color: #7ab300;
}

.colors_greenDark_a9 {
  color: #497212;
}

.colors_blueBooster_26 {
  color: #ccffff;
}

.colors_blueTeamkiller_86 {
  color: #09e2ff;
}

.colors_cred_35 {
  color: #ced9d9;
}

.colors_gold_c3 {
  color: #ffc363;
}

.colors_bond_ce {
  color: #c9c9b6;
}

.colors_prom_83 {
  color: #a29b70;
}

.renderers_noBreakWrapper_10 {
  display: flex;
  flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
  width: 100%;
  height: 0;
}

.renderers_newLine_bd {
  flex: 1;
  width: 100%;
}

.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

.TankCard_base_c3 {
  display: flex;
  width: 180rem;
  height: 100rem;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}

.TankCard_base__disabled_b0 {
  pointer-events: none;
}

.mediaLarge .TankCard_base_c3 {
  width: 216rem;
  height: 110rem;
}
.TankCard_specialLabel_21 {
  color: #feab34;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 15rem #e52;
  position: absolute;
  right: 5rem;
  bottom: 18rem;
}
.mediaLarge .TankCard_specialLabel_21 {
  right: 10rem;
  bottom: 25rem;
}
.TankCard_labelWrapper_3a {
  position: absolute;
  right: 5rem;
  bottom: 3rem;
}
.mediaLarge .TankCard_labelWrapper_3a {
  right: 10rem;
  bottom: 7rem;
}
.TankCard_label_fb {
  color: #f2f2f7;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  padding-left: 18rem;
  text-align: right;
}
.TankCard_base__boss_special_fd .TankCard_label_fb {
  color: #feab34;
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 15rem #e52;
}
.TankCard_labelIcon_ac {
  width: 16rem;
  height: 16rem;
  background: url("R.images.white_tiger.gui.maps.icons.carousel.icon_boss") no-repeat center /
    contain;
  position: absolute;
  left: 0;
}
.TankCard_base__hunter_7e .TankCard_labelIcon_ac {
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.icon_hunter");
}
.TankCard_image_ea {
  width: 160rem;
  height: 100rem;
  background: no-repeat center / contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mediaLarge .TankCard_image_ea {
  width: 216rem;
  height: 110rem;
}
.TankCard_bg_31 {
  width: 100%;
  height: 100%;
  background: url("R.images.white_tiger.gui.maps.icons.carousel.bg.s180x100.hunter") no-repeat
    center / contain;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity linear 0.3s;
}
.mediaLarge .TankCard_bg_31 {
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.bg.s216x110.hunter");
}
.TankCard_base__boss_special_fd .TankCard_bg_31 {
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.bg.s180x100.boss_special");
}
.mediaLarge .TankCard_base__boss_special_fd .TankCard_bg_31 {
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.bg.s216x110.boss_special");
}
.TankCard_base__boss_2025_61 .TankCard_bg_31 {
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.bg.s180x100.boss_2025");
}
.mediaLarge .TankCard_base__boss_2025_61 .TankCard_bg_31 {
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.bg.s216x110.boss_2025");
}
.TankCard_base_c3:hover .TankCard_bg_31 {
  opacity: 0.7;
}
.TankCard_base__selected_46 .TankCard_bg_31 {
  opacity: 0.5;
}
.TankCard_quantityWrapper_ac {
  height: 25%;
  padding-left: 30rem;
  padding-top: 1rem;
  position: relative;
}
.mediaLarge .TankCard_quantityWrapper_ac {
  padding-top: 3rem;
}
.TankCard_quantity_87 {
  color: #ffffff;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  text-shadow:
    0 4rem 8rem rgba(0, 75, 198, 0.25),
    0 0 4rem #0860f1;
}
.TankCard_quantityIcon_81 {
  width: 16rem;
  height: 16rem;
  background: no-repeat center / contain;
  position: absolute;
  top: 6rem;
  left: 8rem;
}
.mediaLarge .TankCard_quantityIcon_81 {
  top: 8rem;
  left: 10rem;
}
.TankCard_messageWrapper_ea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.TankCard_message_c9 {
  color: #ffffff;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  padding-left: 32rem;
  text-shadow:
    0 4rem 8rem rgba(0, 75, 198, 0.25),
    0 0 4rem #0860f1;
}
.TankCard_message__ticket_6a {
  padding-left: 0;
  color: #ffdd99;
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 15rem #e52;
}
.TankCard_message__unsuitable_39 {
  color: #ffffff;
  text-shadow:
    0 4rem 8rem rgba(0, 75, 198, 0.25),
    0 0 4rem #0860f1;
}
.TankCard_base__boss_special_fd .TankCard_message_c9 {
  color: #ffdd99;
  text-shadow:
    0 0 15rem #e52,
    0 0 8rem #ff2a00;
}
.TankCard_base__boss_special_fd .TankCard_message__unsuitable_39 {
  color: #ffffff;
  text-shadow:
    0 4rem 8rem rgba(0, 75, 198, 0.25),
    0 0 4rem #0860f1;
}
.mediaLarge .TankCard_message_c9 {
  font-size: 18rem;
}
.TankCard_icon_d2 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: absolute;
  top: -5rem;
  left: 0;
}
.mediaLarge .TankCard_icon_d2 {
  top: -4rem;
}
.TankCard_icon__inBattle_f6 {
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.inbattle");
}
.TankCard_icon__inPlatoon_5f {
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.platoon");
}
.TankCard_icon__unsuitable_a6 {
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.forbiddance");
}
.TankCard_icon__noBattlesLeft_0c {
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.stop");
}
.TankCard_shadow_d1 {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.TankCard_shadow__inBattle_70 {
  opacity: 0.7;
}
.TankCard_shadow__ticket_61 {
  opacity: 0.35;
}
.TankCard_shadow__inPlatoon_46,
.TankCard_shadow__unsuitable_45 {
  opacity: 0.35;
}
.TankCard_border_0b {
  width: 100%;
  height: 100%;
  border: 1rem solid #404042;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
.TankCard_base_c3:hover .TankCard_border_0b {
  border: 1rem solid rgba(160, 247, 243, 0.35);
  box-shadow:
    0 0 8rem rgba(92, 44, 226, 0.35),
    0 0 4rem rgba(38, 47, 255, 0.35),
    0 0 2rem rgba(38, 73, 255, 0.35);
}
.TankCard_base__boss_special_fd .TankCard_border_0b {
  border: 1rem solid rgba(204, 146, 76, 0.2);
}
.TankCard_base__boss_special_fd:hover .TankCard_border_0b {
  border: 1rem solid rgba(204, 146, 76, 0.35);
  box-shadow: none;
  filter: drop-shadow(0 0 12rem #e40b0b) drop-shadow(0 0 4rem #d13200);
}
.TankCard_base__boss_2025_61:hover .TankCard_border_0b {
  border: 1rem solid rgba(208, 30, 30, 0.35);
  box-shadow: none;
  filter: drop-shadow(0 0 12rem #e40b0b) drop-shadow(0 0 4rem #d13200);
}
.TankCard_base__selected_46 .TankCard_border_0b,
.TankCard_base__selected_46:hover .TankCard_border_0b {
  border: 1rem solid rgba(160, 247, 243, 0.9);
  box-shadow:
    0 0 8rem rgba(92, 44, 226, 0.9),
    0 0 4rem rgba(38, 47, 255, 0.9),
    0 0 2rem rgba(38, 73, 255, 0.9);
}
.TankCard_base__selected_46.TankCard_base__boss_special_fd .TankCard_border_0b {
  border: 1rem solid rgba(204, 146, 76, 0.9);
  box-shadow: none;
  filter: drop-shadow(0 0 12rem #e40b0b) drop-shadow(0 0 4rem #d13200);
}
.TankCard_base__selected_46.TankCard_base__boss_2025_61 .TankCard_border_0b {
  border: 1rem solid rgba(208, 30, 30, 0.9);
  box-shadow: none;
  filter: drop-shadow(0 0 12rem #e40b0b) drop-shadow(0 0 4rem #d13200);
}

.CarouselList_base_df {
  display: flex;
}

.CarouselList_cardWrapper_7f {
  padding: 0 4rem;
}

.CarouselList_cardWrapper__large_2a {
  padding: 0 6rem;
}

.Content_base_aa {
  display: flex;
  width: 1024rem;
  padding: 5rem 0;
  background: url("R.images.white_tiger.gui.maps.icons.carousel.carousel_bg_small") no-repeat center
    bottom / 100%;
  position: relative;
}

.mediaSmall .Content_base_aa {
  justify-content: center;
  width: 100%;
}

.mediaLarge .Content_base_aa {
  padding: 13rem 0 9rem;
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.carousel_bg_big");
}

.Content_scroll_c2 {
  width: auto;
}

.Content_horizontalWrapper_47 {
  width: 812rem;
}

.mediaSmall .Content_horizontalWrapper_47 {
  width: 1000rem;
}

.mediaLarge .Content_horizontalWrapper_47 {
  width: 1428rem;
}

.mediaExtraLarge .Content_horizontalWrapper_47 {
  width: 100%;
}

.Content_horizontalContent_f6 {
  display: flex;
}

.Content_arrow_19 {
  width: 24rem;
  height: 100%;
  border: 2rem solid transparent;
  background: url("R.images.white_tiger.gui.maps.icons.carousel.arrow") no-repeat center / contain;
  position: relative;
  cursor: pointer;
}

.Content_arrow_19:hover {
  border-color: rgba(255, 255, 255, 0.15);
}

.Content_arrow__disabled_cd {
  background-image: url("R.images.white_tiger.gui.maps.icons.carousel.arrow_disable");
  pointer-events: none;
}

.Content_arrow__left_5a {
  left: 2rem;
  transform: rotateY(180deg);
}

.Content_arrow__right_13 {
  right: 2rem;
}

.Content_divider_0f {
  width: 60rem;
  background: url("R.images.white_tiger.gui.maps.icons.carousel.devider") no-repeat center / 91rem
    131rem;
}

.VehicleName_titleIcon_ff {
  width: 64rem;
  height: 64rem;
  background: no-repeat 0 0 / contain;
  position: absolute;
  top: -16rem;
  left: -32rem;
}

.VehicleName_title_52 {
  padding-left: 24rem;
  color: #fff;
  font-size: 24rem;
  line-height: 28rem;
  text-shadow:
    0 0 24px rgba(0, 75, 198, 0.25),
    0 0 24px #0060ff,
    0 0 24px rgba(0, 75, 198, 0.25),
    0 0 24px #0060ff;
}

.CButton_base_40 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
  background-size: 100% 100%;
}

.CButton_base__main_42 {
  background-image: url("R.images.gui.maps.icons.components.button.back_main");
}

.CButton_base__primary_7f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary");
}

.CButton_base__primaryGreen_6f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_green");
}

.CButton_base__primaryRed_ec {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_red");
}

.CButton_base__secondary_50 {
  background-image: url("R.images.gui.maps.icons.components.button.back_secondary");
}

.CButton_base__ghost_ed {
  border-radius: 3rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
  background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
  min-height: 17rem;
  padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
  padding: 0 20rem;
}

.CButton_base__small_df {
  min-height: 18rem;
}

.CButton_base__medium_74 {
  min-height: 32rem;
}

.CButton_base__disabled_d9 {
  cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_main");
}
.CButton_base__primary_7f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary");
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_green");
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_red");
}
.CButton_base__secondary_50 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_secondary");
}
.CButton_texture_fe {
  background: url("R.images.gui.maps.icons.components.button.standard_texture_file");
  background-size: 155rem 31rem;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_state_11 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
  border-radius: 2rem;
  box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
  transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
  background-image: linear-gradient(
    180deg,
    rgba(252, 248, 235, 0.25) 0%,
    rgba(252, 248, 235, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
  opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
  box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
  background-color: rgba(8, 6, 0, 0.18);
  background-image: none;
}
.CButton_stateHighlightActive_35 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
  opacity: 1;
}
.CButton_stateDisabled_54 {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("R.images.gui.maps.icons.components.button.texture_disable");
  background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
  opacity: 1;
}
.CButton_content_cc {
  display: flex;
  align-items: center;
  color: #f2f2e6;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 -1rem 1rem #000;
  letter-spacing: 0.03em;
  transform: translateY(-1rem);
}
.CButton_content_cc[lang="ja"],
.CButton_content_cc[lang="ko"],
.CButton_content_cc[lang="zh_tw"],
.CButton_content_cc[lang="zh_sg"],
.CButton_content_cc[lang="zh_cn"],
.CButton_content_cc[lang="th"] {
  font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
  color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
  font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
  font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
  font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
  opacity: 0.6;
}

.ChangeVehiclePanel_base_a6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 772rem;
  height: 111rem;
  background: url("R.images.white_tiger.gui.maps.icons.hangar.bgTicket_small") no-repeat center
    bottom / contain;
  text-align: center;
}

.mediaLarge .ChangeVehiclePanel_base_a6 {
  height: 150rem;
  background: url("R.images.white_tiger.gui.maps.icons.hangar.bgTicket") no-repeat center 35rem /
    contain;
}

.ChangeVehiclePanel_titleWrapper_27 {
  margin-left: 12rem;
  margin-bottom: 11rem;
  position: relative;
}

.mediaLarge .ChangeVehiclePanel_titleWrapper_27 {
  margin-bottom: 18rem;
}

.ChangeVehiclePanel_descriptionWrapper_34 {
  margin-bottom: 11rem;
  position: relative;
}

.mediaLarge .ChangeVehiclePanel_descriptionWrapper_34 {
  margin-bottom: 15rem;
}

.ChangeVehiclePanel_description_a3 {
  color: #ffffff;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  text-shadow:
    0 0 8rem #0860f1,
    0 0 10rem rgb(0, 75, 198);
}

.ChangeVehiclePanel_descriptionIcon_d2 {
  width: 48rem;
  height: 48rem;
  margin-bottom: -1rem;
  background: no-repeat center / contain;
}

.mediaLarge .ChangeVehiclePanel_descriptionIcon_d2 {
  width: 80rem;
  height: 80rem;
  margin-bottom: 5rem;
}

.ChangeVehiclePanel_buttonHolder_43 {
  display: flex;
  flex-direction: row;
  margin-bottom: 12rem;
}

.ChangeVehiclePanel_button_b6 {
  min-width: 130rem;
  margin: 0 8rem;
}

.AmmunitionIcon_base_04 {
  width: 48rem;
  height: 48rem;
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  position: relative;
}

.AmmunitionIcon_icon_ae {
  width: 48rem;
  height: 48rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.AmmunitionIcon_infinity_45 {
  width: 96rem;
  height: 96rem;
  background: no-repeat center / contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AmmunitionPanel_base_73 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 526rem;
  height: 80rem;
  margin-top: 20rem;
  background: url("R.images.white_tiger.gui.maps.icons.carousel.items_bg_big") no-repeat 0 0 /
    contain;
}

.AmmunitionPanel_group_51 {
  display: flex;
  align-items: center;
  height: 50rem;
  padding: 0 14rem;
}

.AmmunitionPanel_group_51 + .AmmunitionPanel_group_51 {
  border-left: 1rem solid rgba(255, 255, 255, 0.17);
}

.Status_base_94 {
  display: flex;
}

.Status_titleWrapper_7b {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Status_vehicleNameWrapper_29 {
  display: flex;
  flex-direction: column;
  margin-bottom: -9rem;
  position: relative;
}

.App_base_e4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

html {
  height: 100%;
  position: relative;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
