/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Footer_root_4308958a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Footer_f09fca09 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.Footer_title_4490bb2e {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  max-width: 800rem;
  margin-bottom: 30rem;
  text-align: center;
  opacity: 0.5;
}
.Footer_title__highlight_97414ca4 {
  color: #e9e2bf;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
  max-width: 900rem;
  opacity: 1;
}
.mediaMedium .Footer_title__highlight_97414ca4 {
  color: #e9e2bf;
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}

.Footer_buttonContainer_cc670971 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-width: 140rem;
  position: relative;
}
.mediaLarge .Footer_buttonContainer_cc670971 {
  min-width: 160rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

@keyframes Header_fadeIn_65f475ba {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Header_fadeOut_65f475ba {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Header_fadeInC_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Header_slideUp_65f475ba {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Header_raysAppearance_65f475ba {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Header_rotate_65f475ba {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Header_edfdfa4a {
  align-items: center;
}

.Header_title_bef229bc {
  opacity: 0;
  animation-name: Header_slideUp_65f475ba;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  color: #f2f2f7;
  font-size: 18rem;
  font-weight: 700;
  text-align: center;
}

.Header_status_faf7f728 {
  opacity: 0;
  animation-name: Header_slideUp_65f475ba;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.8s;
  animation-iteration-count: 1;
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  text-align: center;
}

.Header_subtitle_1008328a {
  opacity: 0;
  animation-name: Header_slideUp_65f475ba;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.8s;
  animation-iteration-count: 1;
  color: #f2f2f7;
  font-size: 42rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#AdditionalRewards_root_3afa6e1a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

@keyframes AdditionalRewards_fadeIn_3afa6e1a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AdditionalRewards_fadeOut_3afa6e1a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes AdditionalRewards_fadeInC_3afa6e1a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AdditionalRewards_slideUp_3afa6e1a {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AdditionalRewards_raysAppearance_3afa6e1a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes AdditionalRewards_rotate_3afa6e1a {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.AdditionalRewards_8af994f7 {
  opacity: 0;
  animation-name: AdditionalRewards_fadeInC_3afa6e1a;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  animation-delay: var(--baseDelay);
}

.AdditionalRewards_title_dd32b80a {
  color: #e9e2bf;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  justify-content: center;
  margin: 0 0 10rem;
  text-align: center;
  position: relative;
}
.mediaMedium .AdditionalRewards_title_dd32b80a {
  font-size: 18rem;
}

.AdditionalRewards_rewardsList_532db93b {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AdditionalRewards_reward_79ca4edb {
  margin: 0 10rem;
  position: relative;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Glow_root_a44066b8,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

@keyframes Glow_fadeIn_a44066b8 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Glow_fadeOut_a44066b8 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Glow_fadeInC_a44066b8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Glow_slideUp_a44066b8 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Glow_raysAppearance_a44066b8 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Glow_rotate_a44066b8 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Glow_ae7a850f {
  position: relative;
}

.Glow_cc887482 {
  width: 560rem;
  height: 560rem;
  margin-left: -280rem;
  margin-top: -300rem;
  background: url("swf://gui/flash/animations/battlePass/rays.swf") no-repeat center/contain;
  opacity: 0;
  mix-blend-mode: additive;
  position: absolute;
  top: 60%;
  left: 50%;
  animation: Glow_fadeIn_a44066b8 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 2.2s forwards 1;
  pointer-events: none;
}
.mediaMedium .Glow_cc887482 {
  width: 666rem;
  height: 666rem;
  margin-left: -333rem;
  margin-top: -350rem;
}
.mediaLarge .Glow_cc887482 {
  width: 900rem;
  height: 900rem;
  margin-left: -450rem;
  margin-top: -500rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Reward_root_21f091ec,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

@keyframes Reward_fadeIn_21f091ec {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Reward_fadeOut_21f091ec {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Reward_fadeInC_21f091ec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Reward_slideUp_21f091ec {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Reward_raysAppearance_21f091ec {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Reward_rotate_21f091ec {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Reward_e66ededb {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 0.6s cubic-bezier(0.07, 0.82, 0.17, 1) opacity, 0.6s cubic-bezier(0.07, 0.82, 0.17, 1) transform;
}
.mediaMedium .Reward_e66ededb {
  margin: 0;
}
.Reward_base__entering_6bfb0d31 {
  opacity: 0;
  transform: translateY(20rem);
}
.Reward_base__entered_94f89de0 {
  opacity: 1;
  transform: translateY(0);
}

.Reward_title_7067a6fb {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.mediaMedium .Reward_title_7067a6fb {
  font-size: 16rem;
}
.Reward_base__credits_21f091ec .Reward_title_7067a6fb {
  color: #ced9d9;
}
.Reward_base__gold_21f091ec .Reward_title_7067a6fb {
  color: #ffc363;
}
.Reward_base__crystal_21f091ec .Reward_title_7067a6fb {
  color: #c9c9b6;
}
.Reward_base__s232x174_21f091ec .Reward_title_7067a6fb {
  margin-top: -12rem;
}
.Reward_base__s296x222_21f091ec .Reward_title_7067a6fb {
  margin-top: -12rem;
}
.mediaMedium .Reward_base__s296x222_21f091ec .Reward_title_7067a6fb {
  margin-top: -14rem;
}
.Reward_base__s400x300_21f091ec .Reward_title_7067a6fb {
  margin-top: -13rem;
}
.mediaMedium .Reward_base__s400x300_21f091ec .Reward_title_7067a6fb {
  margin-top: -14rem;
}
.Reward_base__s600x450_21f091ec .Reward_title_7067a6fb {
  margin-top: -24rem;
}

.Reward_compensationIcon_4b973261 {
  width: 40rem;
  height: 40rem;
  background: url("R.images.event_lootboxes.gui.maps.openBox.compensation") no-repeat center/100%;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 2;
}
.mediaMedium .Reward_compensationIcon_4b973261 {
  width: 48rem;
  height: 48rem;
}

.Reward_2c975b95 {
  z-index: 1;
}

.Reward_info__multi_25475128 {
  margin-right: 2rem;
  text-align: right;
}
.Reward_base__s232x174_21f091ec .Reward_info__multi_25475128 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin: -33rem 8rem 0 0;
}
.Reward_base__s296x222_21f091ec .Reward_info__multi_25475128 {
  color: #e9e2bf;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  margin: -40rem 20rem 0 0;
}
.Reward_base__s400x300_21f091ec .Reward_info__multi_25475128 {
  color: #e9e2bf;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  margin: -42rem 30rem 0 0;
}
.Reward_base__s600x450_21f091ec .Reward_info__multi_25475128 {
  color: #e9e2bf;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  margin: -63rem 40rem 0 0;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Rewards_root_405577a5,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

@keyframes Rewards_fadeIn_405577a5 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Rewards_fadeOut_405577a5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Rewards_fadeInC_405577a5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Rewards_slideUp_405577a5 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Rewards_raysAppearance_405577a5 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Rewards_rotate_405577a5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Rewards_1a8854f {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rewards_reward_30f1bd55 {
  position: relative;
  z-index: 3;
  transition: 0.3s cubic-bezier(0.07, 0.82, 0.17, 1) opacity, 0.3s cubic-bezier(0.07, 0.82, 0.17, 1) transform;
}
.Rewards_reward_30f1bd55.Rewards_entering_f0948fdb {
  opacity: 0;
  transform: translateY(20rem);
}
.Rewards_reward_30f1bd55.Rewards_entered_166bc8b5 {
  opacity: 1;
  transform: translateY(0);
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MainRewards_root_56da68ed,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

@keyframes MainRewards_fadeIn_56da68ed {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes MainRewards_fadeOut_56da68ed {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes MainRewards_fadeInC_56da68ed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes MainRewards_slideUp_56da68ed {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes MainRewards_raysAppearance_56da68ed {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes MainRewards_rotate_56da68ed {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MainRewards_c825d49e {
  display: flex;
  justify-content: center;
  position: relative;
}

.MainRewards_rays_3a5b0ae5,
.MainRewards_glow_53ec5a2 {
  position: absolute;
  top: 82%;
  left: 50%;
}
.MainRewards_base__s296x222_56da68ed .MainRewards_rays_3a5b0ae5,
.MainRewards_base__s296x222_56da68ed .MainRewards_glow_53ec5a2 {
  top: 63%;
}
.mediaMedium .MainRewards_base__s296x222_56da68ed .MainRewards_rays_3a5b0ae5,
.mediaMedium .MainRewards_base__s296x222_56da68ed .MainRewards_glow_53ec5a2 {
  top: 68%;
}
.MainRewards_base__s400x300_56da68ed .MainRewards_rays_3a5b0ae5,
.MainRewards_base__s400x300_56da68ed .MainRewards_glow_53ec5a2 {
  top: 64%;
}
.mediaMedium .MainRewards_base__s400x300_56da68ed .MainRewards_rays_3a5b0ae5,
.mediaMedium .MainRewards_base__s400x300_56da68ed .MainRewards_glow_53ec5a2 {
  top: 68%;
}
.mediaLarge .MainRewards_base__s400x300_56da68ed .MainRewards_rays_3a5b0ae5,
.mediaLarge .MainRewards_base__s400x300_56da68ed .MainRewards_glow_53ec5a2 {
  top: 72%;
}
.MainRewards_base__s600x450_56da68ed .MainRewards_rays_3a5b0ae5,
.MainRewards_base__s600x450_56da68ed .MainRewards_glow_53ec5a2 {
  top: 67%;
}

.MainRewards_glow_53ec5a2 {
  transform: translate(-50%, -50%);
}

.MainRewards_rays_3a5b0ae5 {
  width: 910rem;
  height: 910rem;
  margin-left: -455rem;
  margin-top: -455rem;
  background: url("R.images.fun_random.gui.maps.icons.feature.rewards.lines") no-repeat center center/contain;
  opacity: 0;
  mix-blend-mode: additive;
  animation: MainRewards_raysAppearance_56da68ed 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 2.2s forwards, MainRewards_rotate_56da68ed 120s linear 1.2s infinite forwards;
  pointer-events: none;
}
.mediaMedium .MainRewards_rays_3a5b0ae5 {
  width: 1080rem;
  height: 1080rem;
  margin-left: -540rem;
  margin-top: -540rem;
}
.mediaLarge .MainRewards_rays_3a5b0ae5 {
  width: 1300rem;
  height: 1300rem;
  margin-left: -650rem;
  margin-top: -650rem;
}

.MainRewards_ribbon_cec2e16b {
  opacity: 0;
  animation-name: MainRewards_slideUp_56da68ed;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  width: 1366rem;
  height: 356rem;
  background: url("R.images.fun_random.gui.maps.icons.feature.rewards.ribbon.ribbon_small") no-repeat center center/contain;
  opacity: 0;
  position: absolute;
  top: 10rem;
  transform: translateX(-100%);
}
.mediaMedium .MainRewards_ribbon_cec2e16b {
  width: 1600rem;
  height: 417rem;
  background-image: url("R.images.fun_random.gui.maps.icons.feature.rewards.ribbon.ribbon_medium");
}
.mediaLarge .MainRewards_ribbon_cec2e16b {
  width: 1920rem;
  height: 500rem;
  background-image: url("R.images.fun_random.gui.maps.icons.feature.rewards.ribbon.ribbon_large");
}
.MainRewards_base__s296x222_56da68ed .MainRewards_ribbon_cec2e16b {
  top: 10rem;
}
.MainRewards_base__s400x300_56da68ed .MainRewards_ribbon_cec2e16b {
  top: 60rem;
}
.mediaLarge .MainRewards_base__s400x300_56da68ed .MainRewards_ribbon_cec2e16b {
  top: 10rem;
}
.MainRewards_base__s600x450_56da68ed .MainRewards_ribbon_cec2e16b {
  top: 120rem;
}
.mediaLarge .MainRewards_base__s600x450_56da68ed .MainRewards_ribbon_cec2e16b {
  top: 80rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#App_root_0,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInC_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App_ab56c836 {
  display: flex;
  width: 100%;
  height: 100%;
  background: #000 no-repeat center/cover;
  position: relative;
}

.App_overlay_ce1d3259 {
  background-color: rgba(17, 17, 17, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App_main_7dac19b1 {
  opacity: 0;
  animation-name: App_fadeIn_0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 40rem 0 50rem;
}
.mediaExtraLarge .App_main_7dac19b1 {
  padding-top: 100rem;
  padding-bottom: 100rem;
}

.App_close_110976dc {
  position: absolute;
  top: 42rem;
  right: 42rem;
  z-index: 2;
}

.App_content_d2251eca {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  position: relative;
}

.App_header_c3dc2c23 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.App_rewards_26dd76c {
  width: 100%;
  margin-top: -40rem;
  position: relative;
}

.App_additionalRewards_c1b35d06 {
  width: 100%;
  margin-top: 30rem;
  position: absolute;
  top: 100%;
  left: 0;
}
.mediaLarge .App_additionalRewards_c1b35d06 {
  margin-top: 113rem;
}
.mediaLarge .App_additionalRewards__largeReward_566b91c4 {
  margin-top: 55rem;
}

.App_footer_4c3bf70d {
  opacity: 0;
  animation-name: App_slideUp_0;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.6s;
  animation-iteration-count: 1;
}