/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#CallToActionAnimation_root_7cb89466,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.CallToActionAnimation_15bd18c5, .CallToActionAnimation_rays_76b917a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.CallToActionAnimation_15bd18c5 {
  overflow: hidden;
  pointer-events: none;
}

.CallToActionAnimation_glow_b4696bff {
  opacity: 0;
  position: absolute;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 600ms;
  pointer-events: none;
}

.CallToActionAnimation_rays_76b917a {
  display: flex;
  gap: 80rem;
  justify-content: center;
  align-items: center;
  filter: blur(30px);
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 600ms;
  pointer-events: none;
}

.CallToActionAnimation_ray_b5efe493 {
  flex: 0 0 auto;
  background-color: #ede6d9;
  opacity: 0.08;
}
.CallToActionAnimation_ray__wide_415294e1 {
  opacity: 0.12;
}

.CallToActionAnimation_base__horizontal_7cb89466 .CallToActionAnimation_glow_b4696bff {
  width: 150%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(237, 230, 217, 0) 0%, rgba(237, 230, 217, 0.06) 16%, rgba(255, 255, 255, 0.22) 50%, rgba(237, 230, 217, 0.06) 83%, rgba(237, 230, 217, 0) 100%);
  top: 0;
  left: -25%;
  animation-name: CallToActionAnimation_glowSlideHorizontal_7cb89466;
}
.CallToActionAnimation_base__horizontal_7cb89466 .CallToActionAnimation_rays_76b917a {
  flex-direction: row;
  transform: translateX(-150%);
  animation-name: CallToActionAnimation_raysSlideHorizontal_7cb89466;
}
.CallToActionAnimation_base__horizontal_7cb89466 .CallToActionAnimation_ray_b5efe493 {
  width: 30rem;
  height: 400rem;
  transform: rotate(30deg);
}
.CallToActionAnimation_base__horizontal_7cb89466 .CallToActionAnimation_ray__wide_415294e1 {
  width: 50rem;
}

.CallToActionAnimation_base__vertical_7cb89466 .CallToActionAnimation_glow_b4696bff {
  width: 100%;
  height: 150%;
  background-image: linear-gradient(180deg, rgba(237, 230, 217, 0) 0%, rgba(237, 230, 217, 0.06) 16%, rgba(255, 255, 255, 0.22) 50%, rgba(237, 230, 217, 0.06) 83%, rgba(237, 230, 217, 0) 100%);
  top: -25%;
  left: 0;
  animation-name: CallToActionAnimation_glowSlideVertical_7cb89466;
}
.CallToActionAnimation_base__vertical_7cb89466 .CallToActionAnimation_rays_76b917a {
  flex-direction: column;
  transform: translateY(-150%);
  animation-name: CallToActionAnimation_raysSlideVertical_7cb89466;
}
.CallToActionAnimation_base__vertical_7cb89466 .CallToActionAnimation_ray_b5efe493 {
  width: 400rem;
  height: 30rem;
  transform: rotate(-30deg);
}
.CallToActionAnimation_base__vertical_7cb89466 .CallToActionAnimation_ray__wide_415294e1 {
  height: 50rem;
}

@keyframes CallToActionAnimation_glowSlideHorizontal_7cb89466 {
  0% {
    opacity: 0;
    transform: translateX(-22%);
  }
  30% {
    opacity: 0.55;
  }
  100% {
    opacity: 0;
    transform: translateX(22%);
  }
}
@keyframes CallToActionAnimation_raysSlideHorizontal_7cb89466 {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
  }
}
@keyframes CallToActionAnimation_glowSlideVertical_7cb89466 {
  0% {
    opacity: 0;
    transform: translateY(-22%);
  }
  30% {
    opacity: 0.55;
  }
  100% {
    opacity: 0;
    transform: translateY(22%);
  }
}
@keyframes CallToActionAnimation_raysSlideVertical_7cb89466 {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(150%);
  }
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ArtefactItem_root_8bfb1d48,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ArtefactItem_selected_a9ecccae {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
@keyframes ArtefactItem_fadeIn_8bfb1d48 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ArtefactItem_2b327ebd {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 119rem;
  height: 464rem;
  position: relative;
}
.mediaMedium .ArtefactItem_2b327ebd {
  width: 129rem;
}
.ArtefactItem_base__completed_438526b8 {
  opacity: 0.3;
}

.ArtefactItem_header_26a9c61 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72rem;
  position: relative;
}

.ArtefactItem_overlay_67626f84 {
  height: 125rem;
  background: url("R.images.last_stand.gui.maps.icons.rewardPath.light") no-repeat 50%/cover;
  position: absolute;
  right: 0;
  bottom: 24rem;
  left: 0;
  animation: ArtefactItem_fadeIn_8bfb1d48 0.3s 1.5s ease-in-out both;
  pointer-events: none;
}

.ArtefactItem_index_229c4676 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: -42rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  text-align: center;
  position: relative;
  z-index: 1;
}
.ArtefactItem_base__inprogress_8bfb1d48 .ArtefactItem_index_229c4676 {
  font-size: 34rem;
  text-shadow: 0 0 15rem rgb(188, 188, 188);
  filter: drop-shadow(0 0 15rem #bcbcbc);
}

.ArtefactItem_check_f758d1f {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 16rem;
  height: 16rem;
  background: url("R.images.last_stand.gui.maps.icons.rewardPath.check") no-repeat 50%/contain;
  bottom: 25rem;
}

.ArtefactItem_block_e3607490 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 398rem;
  background: radial-gradient(126.66% 103.83% at 50% 0%, rgba(255, 255, 255, 0.06) 0%, rgba(49, 49, 49, 0) 100%);
  position: relative;
}

.ArtefactItem_selected_a9ecccae {
  background: url("R.images.last_stand.gui.maps.icons.rewardPath.rewards_inprogress_bg") no-repeat 50%/100% 100%;
  animation: ArtefactItem_fadeIn_8bfb1d48 0.3s 1.5s ease-in-out both;
}

.ArtefactItem_rewardIcon_ccf4c7cc {
  z-index: -1;
}

.ArtefactItem_reward_4a09e03f {
  margin-top: 12rem;
  position: relative;
  z-index: 1;
}
.ArtefactItem_reward__completed_b917ecc {
  opacity: 0.5;
}
.ArtefactItem_reward__booster_ca49785a {
  width: 68rem;
  height: 68rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  opacity: 1;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ProgressionHeader_root_44afe3e3,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ProgressionHeader_completedLabel_9abba8c5 {
  color: var(--color-status-done);
}

.ProgressionHeader_currentProgress_90745a20 {
  margin-left: 4rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaLarge .ProgressionHeader_currentProgress_90745a20 {
  margin-left: 8rem;
}

.ProgressionHeader_spIcon_9d24495b {
  display: flex;
  align-self: center;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Artefacts_root_f836ebac,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes Artefacts_fadeIn_f836ebac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Artefacts_9c0f750b {
  display: flex;
  justify-content: center;
  height: 330rem;
  position: relative;
}
.mediaLarge .Artefacts_9c0f750b {
  height: 345rem;
}

.Artefacts_title_e09aab86 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 100%;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-weight: 500;
  position: absolute;
  top: -24rem;
}
.mediaMedium .Artefacts_title_e09aab86 {
  font-size: 22rem;
  top: -40rem;
}
.mediaLarge .Artefacts_title_e09aab86 {
  font-size: 24rem;
  top: -41rem;
}
.mediaExtraLarge .Artefacts_title_e09aab86 {
  font-size: 28rem;
}

.Artefacts_list_f836ebac,
.Artefacts_item_405af956 {
  display: flex;
}

.Artefacts_divider_423e6820 {
  width: 1rem;
  height: 328rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 24%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  animation: Artefacts_fadeIn_f836ebac 0.3s 1.5s ease-in-out both;
}
.Artefacts_divider__cancel_a2faf44e {
  opacity: 1;
  animation-name: none;
}

.Artefacts_progressBar_d08a92a4 {
  position: absolute;
  top: 49rem;
  right: 0;
  left: 0;
  z-index: 1;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BundleCard_root_23a5c1c9,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BundleCard_4232f0d2 {
  width: 362rem;
  height: 160rem;
  background: url("R.images.last_stand.gui.maps.icons.rewardPath.card_small") no-repeat 50%/contain;
  position: relative;
}
.mediaLarge .BundleCard_4232f0d2 {
  width: 390rem;
  height: 300rem;
  background-image: url("R.images.last_stand.gui.maps.icons.rewardPath.card_big");
}

.BundleCard_bg_2bc5119 {
  width: 349rem;
  height: 148rem;
  margin: 6rem;
  background: url("R.images.last_stand.gui.maps.icons.rewardPath.bundle_bg_small") no-repeat 50%/contain;
}
.mediaLarge .BundleCard_bg_2bc5119 {
  width: 378rem;
  height: 288rem;
  background-image: url("R.images.last_stand.gui.maps.icons.rewardPath.bundle_bg");
}

.BundleCard_name_5f5aae72 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #ffe4c0;
  top: 15rem;
  z-index: 1;
}

.BundleCard_button_f32dc703 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  min-width: 140rem;
  max-width: 300rem;
  bottom: 15rem;
  z-index: 1;
}
.mediaLarge .BundleCard_button_f32dc703 {
  min-width: 200rem;
  bottom: 30rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#DailyQuestsCard_root_2dd05187,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.DailyQuestsCard_8452735 {
  width: 362rem;
  height: 160rem;
  background: url("R.images.last_stand.gui.maps.icons.rewardPath.card_small") no-repeat 50%/contain;
  position: relative;
}
.mediaLarge .DailyQuestsCard_8452735 {
  width: 390rem;
  height: 300rem;
  background-image: url("R.images.last_stand.gui.maps.icons.rewardPath.card_big");
}

.DailyQuestsCard_content_9dfeafcb {
  width: 100%;
  height: 100%;
  position: relative;
}

.DailyQuestsCard_timer_88092dd5 {
  position: absolute;
  top: 6rem;
  right: 13rem;
}
.mediaLarge .DailyQuestsCard_timer_88092dd5 {
  top: 13rem;
}

.DailyQuestsCard_icon_e3692c40 {
  width: 48rem;
  height: 48rem;
  background: no-repeat 50%/contain;
  position: absolute;
  top: 24rem;
  left: 19rem;
}
.mediaLarge .DailyQuestsCard_icon_e3692c40 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 80rem;
  height: 80rem;
  top: 18rem;
}

.DailyQuestsCard_description_716ab6d8 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  max-width: 220rem;
  max-height: 62rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 110%;
  position: absolute;
  top: 31rem;
  left: 75rem;
}
.mediaLarge .DailyQuestsCard_description_716ab6d8 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 18rem;
  top: 94rem;
}
.DailyQuestsCard_base__completed_2dd05187 .DailyQuestsCard_description_716ab6d8 {
  opacity: 0.5;
}

.DailyQuestsCard_progress_a181f69d {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  position: absolute;
  right: 52rem;
  bottom: 49rem;
  left: 62rem;
}
.mediaLarge .DailyQuestsCard_progress_a181f69d {
  right: 67rem;
  bottom: 110rem;
  left: 77rem;
}
.DailyQuestsCard_base__completed_2dd05187 .DailyQuestsCard_progress_a181f69d {
  opacity: 0.5;
}

.DailyQuestsCard_currentProgress_a63d05d7 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.DailyQuestsCard_progressValue_59475865 {
  margin-bottom: 2rem;
}
.mediaLarge .DailyQuestsCard_progressValue_59475865 {
  margin-bottom: 3rem;
}

.DailyQuestsCard_rewards_a8cdf255 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  bottom: 20rem;
  z-index: 1;
}
.mediaLarge .DailyQuestsCard_rewards_a8cdf255 {
  bottom: 42rem;
}
.DailyQuestsCard_base__completed_2dd05187 .DailyQuestsCard_rewards_a8cdf255 {
  opacity: 0.5;
}

.DailyQuestsCard_reward_461f11ab {
  margin: 0 10rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_e83ca27a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160rem;
  position: relative;
}
.mediaLarge .Header_e83ca27a {
  height: 300rem;
}

.Header_card_ecb415bd {
  display: flex;
}

.Header_divider_1ed29076 {
  width: 1rem;
  height: 100%;
  margin: 0 20rem;
  background: rgba(196, 198, 192, 0.16);
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#RewardPathApp_root_f7ecbfc,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RewardPathApp_vignette_b928ef12 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.RewardPathApp_7f1678b4 {
  width: 100%;
  height: 100%;
  background-color: #0c1922;
  overflow: hidden;
  position: relative;
}

.RewardPathApp_vignette_b928ef12 {
  background: url("R.images.last_stand.gui.maps.icons.backgrounds.vignette_simple") no-repeat 50%/100% 100%;
  mix-blend-mode: normal;
  pointer-events: none;
}

.RewardPathApp_bg_6166d40a {
  width: 100%;
  height: 100%;
  background: url("R.images.last_stand.gui.maps.icons.backgrounds.progression_bg") no-repeat 50%/cover;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.RewardPathApp_itemsBlock_c1ba6b30 {
  z-index: 1;
}

.RewardPathApp_footer_1bf05925 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 464rem;
  position: absolute;
  right: 0rem;
  bottom: 120rem;
  left: 0rem;
}
.mediaMedium .RewardPathApp_footer_1bf05925 {
  bottom: 132rem;
}
.mediaLarge .RewardPathApp_footer_1bf05925 {
  bottom: 134rem;
}
.mediaExtraLarge .RewardPathApp_footer_1bf05925 {
  height: 504rem;
  bottom: 235rem;
}

.RewardPathApp_completedTitle_bb261d47 {
  color: #ffe4c0;
}

.RewardPathApp_title_9b71379b {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  text-align: center;
  position: absolute;
  top: 40rem;
  right: 0;
  left: 0;
}
.mediaMedium .RewardPathApp_title_9b71379b {
  font-size: 20rem;
  font-weight: 400;
  top: 86rem;
}
.mediaLarge .RewardPathApp_title_9b71379b {
  font-size: 22rem;
  font-weight: 600;
  top: 87rem;
}
.mediaExtraLarge .RewardPathApp_title_9b71379b {
  font-size: 24rem;
  font-weight: 500;
  top: 195rem;
}

.RewardPathApp_icon_36f650db {
  display: flex;
  align-self: center;
  width: 16rem;
  height: 17rem;
  background: url("R.images.last_stand.gui.maps.icons.rewardPath.icon_info") no-repeat 50%/contain;
}

.RewardPathApp_header_aca0c837 {
  margin-top: 63rem;
  z-index: 1;
}
.mediaMedium .RewardPathApp_header_aca0c837 {
  margin-top: 130rem;
}
.mediaLarge .RewardPathApp_header_aca0c837 {
  margin-top: 130rem;
}
.mediaExtraLarge .RewardPathApp_header_aca0c837 {
  margin-top: 287rem;
}

@keyframes RewardPathApp_fadeInWithScale_f7ecbfc {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes RewardPathApp_fadeInWithScaleBox_f7ecbfc {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%) scale(1.4);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes RewardPathApp_fadeIn_f7ecbfc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}