/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.StoryChoiceConfirmApp_title_54dd17ac {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
  font-weight: 400;
  text-align: center;
}

.StoryChoiceConfirmApp_content_19b919aa {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-secondary-rgb), 0.7);
  text-align: center;
}

.StoryChoiceConfirmApp_warning_cc63decb {
  margin-bottom: -3rem;
  color: var(--color-status-alert);
}

.StoryChoiceConfirmApp_iconMix_28f11db8 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 256rem;
  margin-bottom: -29rem;
  position: relative;
  pointer-events: none;
}

.StoryChoiceConfirmApp_titleMix_e52b73a4 {
  margin-bottom: 12rem;
}

.StoryChoiceConfirmApp_dividerMix_613693c8 {
  margin-top: 23rem;
  margin-bottom: 32rem;
}

.StoryChoiceConfirmApp_centerMix_f4f0600c {
  margin-top: -224rem;
}

.StoryChoiceConfirmApp_glow_97f48df8 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200rem;
  height: 768rem;
  z-index: -1;
}

.StoryChoiceConfirmApp_iconImg_a5e747ed {
  width: 256rem;
  height: 256rem;
  position: relative;
  z-index: 1;
}

.StoryChoiceConfirmApp_buttons_7e97f054 {
  display: flex;
}

.StoryChoiceConfirmApp_button_e044267b {
  min-width: 160rem;
}
.StoryChoiceConfirmApp_button_e044267b + .StoryChoiceConfirmApp_button_e044267b {
  margin-left: 16rem;
}
