.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

.DefaultCloseButton_base_bf {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.DefaultCloseButton_text_1d {
  color: #ffdd99;
  font-size: 12rem;
  font-weight: 400;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
  text-transform: uppercase;
}
.DefaultCloseButton_base_bf:hover .DefaultCloseButton_text_1d {
  color: #fffa9f;
}
.DefaultCloseButton_base_bf:active .DefaultCloseButton_text_1d {
  color: #ffdd99;
}
.DefaultCloseButton_shine_e1 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / cover;
  opacity: 0;
  position: absolute;
  top: -4rem;
  right: -4rem;
  transform: rotate(180deg);
  transition: opacity 0.16s;
  pointer-events: none;
}
.DefaultCloseButton_base_bf:hover .DefaultCloseButton_shine_e1 {
  opacity: 1;
}
.DefaultCloseButton_base_bf:active .DefaultCloseButton_shine_e1 {
  opacity: 0;
}
.DefaultCloseButton_glow_54 {
  width: 32rem;
  height: 32rem;
  background: url("R.images.portal.gui.maps.icons.defaultCloseButton.close_hover") no-repeat
    center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.DefaultCloseButton_base_bf:hover .DefaultCloseButton_glow_54 {
  opacity: 1;
}
.DefaultCloseButton_base_bf:active .DefaultCloseButton_glow_54 {
  opacity: 0;
}
.mediaExtraLarge .DefaultCloseButton_glow_54 {
  width: 46rem;
  height: 46rem;
}
.DefaultCloseButton_icon_28 {
  width: 32rem;
  height: 32rem;
  background: url("R.images.portal.gui.maps.icons.defaultCloseButton.close") no-repeat center /
    contain;
  position: relative;
  cursor: pointer;
}
.mediaExtraLarge .DefaultCloseButton_icon_28 {
  width: 46rem;
  height: 46rem;
}

.Button_base_8d {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160rem;
  min-height: 32rem;
  padding: 0 20rem;
  overflow: visible;
  position: relative;
  cursor: pointer;
}

.Button_base__extraSmall_b6 {
  min-width: 100rem;
  min-height: 24rem;
}

.Button_base__small_93 {
  min-height: 24rem;
}

.Button_base__large_f6 {
  min-height: 40rem;
}

.Button_base__extraLarge_9e {
  min-width: 208rem;
  min-height: 52rem;
}

.Button_base__primary_61 {
  border: 1rem solid #c43519;
  box-shadow: 0 0 9rem 0 rgba(255, 0, 0, 0.5);
}

.Button_base__primary_61.Button_animated_7a {
  animation: Button_ripplePulseButtonBorder_68 1.7s infinite ease-out;
  animation-delay: 0.4s;
}

.Button_base__primary_61.Button_base__active_ca {
  border: 1rem solid #be1f00;
}

.Button_base__primary_61.Button_base__disabled_9b {
  border: 1rem solid #580e00;
  box-shadow: none;
}

.Button_base__secondary_1c {
  border: 1rem solid #464646;
}

.Button_base__secondary_1c.Button_base__disabled_9b {
  border: 1rem solid #262626;
}

.Button_base__ghost_ca {
  border: 1rem solid #464646;
}

.Button_base__ghost_ca.Button_base__hover_41 {
  border: 1rem solid #909090;
}

.Button_base__ghost_ca.Button_base__active_ca {
  border: 1rem solid #464646;
}

.Button_base__ghost_ca.Button_base__disabled_9b {
  border: 1rem solid #1a1a1a;
}

.Button_base__blue_73 {
  border: 1rem solid #8fd0dc;
}

.Button_base__blue_73.Button_animated_7a {
  animation: Button_ripplePulseButtonBorderBlue_ad 1.7s infinite ease-out;
  animation-delay: 0.4s;
}

.Button_base__blue_73.Button_base__hover_41 {
  border: 1rem solid #bae0e7;
}

.Button_base__blue_73.Button_base__active_ca {
  border: 1rem solid #307a88;
}

.Button_base__blue_73.Button_base__disabled_9b {
  border: 1rem solid #16363c;
}

.Button_base__gray_83 {
  border: 1rem solid #464646;
}

.Button_base__gray_83.Button_base__hover_41 {
  border: 1rem solid #90909080;
}

.Button_base__gray_83.Button_base__active_ca {
  border: 1rem solid #464646;
}

.Button_base__gray_83.Button_base__disabled_9b {
  border: 1rem solid #262626;
}

.Button_base__disabled_9b {
  cursor: default;
}
.Button_bgOverlay_f5,
.Button_bgImage_ca,
.Button_bgLines_4f {
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Button_bgLines_4f {
  background-image: url("R.images.portal.gui.maps.icons.button.lines");
}
.Button_bgLines__primary_65.Button_bgLines__disabled_13 {
  background-image: url("R.images.portal.gui.maps.icons.button.lines06");
}
.Button_bgImage_ca {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  inset: 0;
}
.Button_bgImage__primary_25 {
  background-image: url("R.images.portal.gui.maps.icons.button.primary");
  opacity: 0.7;
}
.Button_bgImage__primary_25.Button_bgImage__hover_82 {
  opacity: 1;
}
.Button_bgImage__primary_25.Button_bgImage__active_9b {
  opacity: 0.5;
}
.Button_bgImage__secondary_d0 {
  background-image: url("R.images.portal.gui.maps.icons.button.secondary");
}
.Button_bgImage__blue_bd {
  background-image: url("R.images.portal.gui.maps.icons.button.blue");
  opacity: 0.7;
}
.Button_bgImage__blue_bd.Button_bgImage__hover_82 {
  opacity: 1;
}
.Button_bgImage__blue_bd.Button_bgImage__active_9b {
  opacity: 0.5;
}
.Button_bgImage__gray_4f {
  background-image: url("R.images.portal.gui.maps.icons.button.secondary");
  opacity: 0.7;
}
.Button_bgImage__gray_4f.Button_bgImage__hover_82 {
  opacity: 1;
}
.Button_bgImage__gray_4f.Button_bgImage__active_9b {
  opacity: 0.5;
}
.Button_bgOverlay_f5 {
  pointer-events: none;
  inset: 0;
}
.Button_bgOverlay__primary_a0 {
  background-color: rgba(0, 0, 0, 0.8);
}
.Button_bgOverlay__secondary_ac {
  background-color: rgba(0, 0, 0, 0.8);
}
.Button_bgOverlay__secondary_ac.Button_bgOverlay__hover_66 {
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),
    rgba(0, 0, 0, 0.8);
}
.Button_bgOverlay__secondary_ac.Button_bgOverlay__active_26 {
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
    rgba(0, 0, 0, 0.8);
}
.Button_bgOverlay__secondary_ac.Button_bgOverlay__disabled_b1 {
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
    rgba(0, 0, 0, 0.8);
}
.Button_bgOverlay__ghost_85 {
  background: rgba(0, 0, 0, 0.2);
}
.Button_bgOverlay__ghost_85.Button_bgOverlay__hover_66 {
  background: rgba(0, 0, 0, 0.4);
}
.Button_bgOverlay__ghost_85.Button_bgOverlay__active_26 {
  background: rgba(0, 0, 0, 0.2);
}
.Button_bgOverlay__blue_6e {
  background-color: rgba(9, 22, 25, 0.2);
}
.Button_bgOverlay__blue_6e.Button_bgOverlay__hover_66 {
  background-color: rgba(16, 32, 36, 0.2);
}
.Button_bgOverlay__blue_6e.Button_bgOverlay__active_26 {
  background-color: rgba(9, 22, 25, 0.2);
}
.Button_bgOverlay__blue_6e.Button_bgOverlay__disabled_b1 {
  background-color: rgba(0, 0, 0, 0.8);
}
.Button_bgOverlay__gray_e0 {
  background: rgba(17, 17, 17, 0.8);
}
.Button_bgOverlay__gray_e0.Button_bgOverlay__active_26 {
  background: #111;
}
.Button_bgOverlay__gray_e0.Button_bgOverlay__disabled_b1 {
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
    rgba(0, 0, 0, 0.8);
}
.Button_content_f2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  transition: color 0.2s ease-in-out;
}
.Button_content__primary_3f {
  color: #f7e5e1;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  text-shadow:
    0 0 5rem rgba(201, 71, 45, 0.25),
    0 0 10rem rgba(139, 23, 0, 0.5),
    0 0 16rem #580e00;
}
.Button_base__hover_41 .Button_content__primary_3f {
  color: #e09687;
  text-shadow:
    0 0 5rem rgba(201, 71, 45, 0.25),
    0 0 10rem rgba(139, 23, 0, 0.5),
    0 0 16rem #580e00;
}
.Button_base__active_ca .Button_content__primary_3f {
  color: #c9472d;
  text-shadow:
    0 0 5rem rgba(201, 71, 45, 0.25),
    0 0 10rem rgba(139, 23, 0, 0.5),
    0 0 16rem #580e00;
  opacity: 0.7;
}
.Button_base__disabled_9b .Button_content__primary_3f {
  color: #f7e5e1;
  text-shadow:
    0 0 5rem rgba(201, 71, 45, 0.25),
    0 0 10rem rgba(139, 23, 0, 0.5),
    0 0 16rem #580e00;
  opacity: 0.5;
}
.Button_content__secondary_a2 {
  color: #b8b8b8;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Button_base__hover_41 .Button_content__secondary_a2 {
  color: #e2e2e2;
}
.Button_base__active_ca .Button_content__secondary_a2 {
  color: #e2e2e2;
}
.Button_base__disabled_9b .Button_content__secondary_a2 {
  color: #585858;
}
.Button_content__ghost_f1 {
  color: #c6c6c6;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  opacity: 0.6;
}
.Button_base__hover_41 .Button_content__ghost_f1 {
  color: #c6c6c6;
  opacity: 1;
}
.Button_base__active_ca .Button_content__ghost_f1 {
  color: #b8b8b8;
  opacity: 1;
}
.Button_base__disabled_9b .Button_content__ghost_f1 {
  color: #c6c6c6;
  opacity: 0.5;
}
.Button_content__blue_5a {
  color: #eaf5f7;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  text-shadow:
    0 0 5rem rgba(0, 17, 18, 0.25),
    0 0 10rem rgba(0, 36, 40, 0.5),
    0 0 15rem #000101;
}
.Button_base__hover_41 .Button_content__blue_5a {
  color: #bae0e7;
}
.Button_base__active_ca .Button_content__blue_5a {
  color: #bae0e7;
  opacity: 0.7;
}
.Button_base__disabled_9b .Button_content__blue_5a {
  color: #eaf5f7;
  opacity: 0.5;
}
.Button_content__gray_78 {
  color: #b8b8b8;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Button_base__hover_41 .Button_content__gray_78 {
  color: #f0f0f0;
}
.Button_base__active_ca .Button_content__gray_78 {
  color: #b8b8b8;
}
.Button_base__disabled_9b .Button_content__gray_78 {
  color: #c6c6c6;
  opacity: 0.5;
}
.Button_btnIcon_77 {
  width: 16rem;
  height: 16rem;
  margin-top: 2rem;
  background: no-repeat center / cover;
  position: relative;
}
.Button_btnIcon__right_95 {
  margin-left: 2rem;
}
.Button_btnIcon__left_08 {
  width: 36rem;
  height: 36rem;
  margin-right: 2rem;
}
.Button_pulseAnimatedBoxOne_ce,
.Button_pulseAnimatedBoxTwo_80,
.Button_pulseAnimatedBoxThree_bc {
  width: 176rem;
  height: 40rem;
  border: 1rem solid transparent;
  position: absolute;
  z-index: 1;
  transform-origin: center;
}
.mediaExtraLarge .Button_pulseAnimatedBoxOne_ce,
.mediaExtraLarge .Button_pulseAnimatedBoxTwo_80,
.mediaExtraLarge .Button_pulseAnimatedBoxThree_bc {
  width: 208rem;
  height: 52rem;
}
.Button_pulseAnimatedBoxOne_ce {
  animation: Button_ripplePulseOne_f5 1.7s infinite ease-out;
  animation-delay: 0.4s;
}
.mediaExtraLarge .Button_pulseAnimatedBoxOne_ce {
  animation: Button_ripplePulseOneLarge_6d 1.7s infinite ease-out;
}
.Button_pulseAnimatedBoxTwo_80 {
  animation: Button_ripplePulseTwo_48 1.7s infinite ease-out;
  animation-delay: 0.4s;
}
.mediaExtraLarge .Button_pulseAnimatedBoxTwo_80 {
  animation: Button_ripplePulseTwoLarge_18 1.7s infinite ease-out;
}
.Button_pulseAnimatedBoxThree_bc {
  animation: Button_ripplePulseThree_45 1.7s infinite ease-out;
  animation-delay: 0.4s;
}
.mediaExtraLarge .Button_pulseAnimatedBoxThree_bc {
  animation: Button_ripplePulseThreeLarge_1b 1.7s infinite ease-out;
}
@keyframes Button_ripplePulseOne_f5 {
  0% {
    width: 178rem;
    height: 42rem;
    border-color: #bae0e7;
    opacity: 1;
  }

  100% {
    width: 230rem;
    height: 90rem;
    opacity: 0;
  }
}
@keyframes Button_ripplePulseTwo_48 {
  0% {
    width: 178rem;
    height: 42rem;
    border-color: #bae0e7;
    opacity: 1;
  }

  100% {
    width: 222rem;
    height: 82rem;
    opacity: 0;
  }
}
@keyframes Button_ripplePulseThree_45 {
  0% {
    width: 178rem;
    height: 42rem;
    border-color: #bae0e7;
    opacity: 1;
  }

  100% {
    width: 214rem;
    height: 74rem;
    opacity: 0;
  }
}
@keyframes Button_ripplePulseOneLarge_6d {
  0% {
    width: 208rem;
    height: 52rem;
    opacity: 1;
  }

  100% {
    width: 269rem;
    height: 111rem;
    opacity: 0;
  }
}
@keyframes Button_ripplePulseTwoLarge_18 {
  0% {
    width: 208rem;
    height: 52rem;
    opacity: 1;
  }

  100% {
    width: 260rem;
    height: 102rem;
    opacity: 0;
  }
}
@keyframes Button_ripplePulseThreeLarge_1b {
  0% {
    width: 208rem;
    height: 52rem;
    opacity: 1;
  }

  100% {
    width: 250rem;
    height: 92rem;
    opacity: 0;
  }
}
@keyframes Button_ripplePulseButtonBorder_68 {
  0% {
    border-color: #ef593b;
  }

  100% {
    border-color: #c43519;
  }
}
@keyframes Button_ripplePulseButtonBorderBlue_ad {
  0% {
    border-color: #bae0e7;
  }

  100% {
    border-color: #8fd0dc;
  }
}

.App_base_09 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("R.images.portal.gui.maps.icons.upgrade.info.bg_small") no-repeat center / cover;
  overflow: hidden;
  position: relative;
}
.mediaLarge .App_base_09 {
  background: url("R.images.portal.gui.maps.icons.upgrade.info.bg_large") no-repeat center / cover;
}
.mediaExtraLarge .App_base_09 {
  background: url("R.images.portal.gui.maps.icons.upgrade.info.bg_extraLarge") no-repeat center /
    cover;
}
.App_close_89 {
  position: absolute;
  top: 30rem;
  right: 30rem;
  z-index: 2;
}
.mediaMedium .App_close_89 {
  top: 40rem;
  right: 40rem;
}
.mediaExtraLarge .App_close_89 {
  top: 60rem;
  right: 60rem;
}
.App_base__is4kScreenSize_ef .App_closeIcon_dc {
  width: 64rem;
  height: 64rem;
}
.App_base__is4kScreenSize_ef .App_closeText_1b {
  font-size: 24rem;
}
.App_base__is4kScreenSizeScaled_1_25_73 .App_closeText_1b {
  font-size: 18rem;
}
.App_header_18 {
  color: #e2e2e2;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60rem;
}
.mediaMedium .App_header_18 {
  color: #e2e2e2;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 80rem;
}
.mediaExtraLarge .App_header_18 {
  color: #e2e2e2;
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.App_upgradeInfoItemsWrapper_a0 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.App_upgradeInfoItem_f2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  width: 298rem;
}
.mediaMedium .App_upgradeInfoItem_f2 {
  width: 360rem;
}
.mediaLarge .App_upgradeInfoItem_f2 {
  width: 480rem;
}
.App_base__is4kScreenSize_ef .App_upgradeInfoItem_f2 {
  width: 960rem;
}
.App_base__is4kScreenSizeScaled_1_25_73 .App_upgradeInfoItem_f2 {
  width: 760rem;
}
.App_base__is4kScreenSizeScaled_1_5_ac .App_upgradeInfoItem_f2 {
  width: 560rem;
}
.mediaSmall .App_middle_8f {
  margin: 0 80rem;
}
.mediaExtraLarge .App_middle_8f {
  margin: 0 120rem;
}
.App_middle_8f {
  margin: 0 30rem;
}
.App_upgradeInfoImg_89 {
  width: 296rem;
  height: 222rem;
}
.mediaLarge .App_upgradeInfoImg_89 {
  width: 480rem;
  height: 360rem;
}
.App_base__is4kScreenSize_ef .App_upgradeInfoImg_89 {
  width: 960rem;
  height: 720rem;
}
.App_base__is4kScreenSizeScaled_1_25_73 .App_upgradeInfoImg_89 {
  width: 620rem;
  height: 450rem;
}
.App_base__is4kScreenSizeScaled_1_5_ac .App_upgradeInfoImg_89 {
  width: 650rem;
  height: 460rem;
}
.App_earnTokensImg_21 {
  background: url("R.images.portal.gui.maps.icons.upgrade.info.tokens") no-repeat center / contain;
}
.mediaLarge .App_earnTokensImg_21 {
  background-image: url("R.images.portal.gui.maps.icons.upgrade.info.tokens_large");
}
.App_upgradeTanksImg_2b {
  background: url("R.images.portal.gui.maps.icons.upgrade.info.upgrade") no-repeat center / contain;
}
.mediaLarge .App_upgradeTanksImg_2b {
  background-image: url("R.images.portal.gui.maps.icons.upgrade.info.upgrade_large");
}
.App_conquerLevelsImg_4d {
  background: url("R.images.portal.gui.maps.icons.upgrade.info.levels") no-repeat center / contain;
}
.mediaLarge .App_conquerLevelsImg_4d {
  background-image: url("R.images.portal.gui.maps.icons.upgrade.info.levels_large");
}
.App_upgradeInfoTitle_07 {
  color: #e2e2e2;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 12rem 0 8rem;
  font-weight: 700;
  text-align: center;
}
.mediaMedium .App_upgradeInfoTitle_07 {
  color: #e2e2e2;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 20rem 0 12rem;
}
.mediaLarge .App_upgradeInfoTitle_07 {
  margin: 24rem 0 16rem;
}
.mediaExtraLarge .App_upgradeInfoTitle_07 {
  color: #e2e2e2;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 32rem 0 20rem;
}
.App_base__is4kScreenSize_ef .App_upgradeInfoTitle_07 {
  color: #e2e2e2;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.App_base__is4kScreenSizeScaled_1_25_73 .App_upgradeInfoTitle_07 {
  color: #e2e2e2;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.App_base__is2kScreensizeScaled_1_5_5e .App_upgradeInfoTitle_07 {
  font-size: 30rem;
}
.App_upgradeInfoText_1f {
  color: #909090;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}
.mediaMedium .App_upgradeInfoText_1f {
  color: #909090;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.mediaExtraLarge .App_upgradeInfoText_1f {
  font-size: 20rem;
}
.App_base__is4kScreenSize_ef .App_upgradeInfoText_1f {
  font-size: 40rem;
}
.App_base__is4kScreenSizeScaled_1_25_73 .App_upgradeInfoText_1f {
  font-size: 30rem;
}
.App_base__is2kScreensizeScaled_1_5_5e .App_upgradeInfoText_1f {
  font-size: 20rem;
}
.App_button_43 {
  color: #909090;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  width: 160rem;
  position: absolute;
  bottom: 100rem;
  left: 50%;
  transform: translate(-50%);
}
.mediaExtraLarge .App_button_43 {
  width: 208rem;
  height: 52rem;
}
.mediaExtraLarge .App_button_43 .App_extraLargeButton_30 {
  font-size: 20rem;
}
.App_button_43.App_is4kScreenSizeButton_6b {
  width: 300rem;
  height: 62rem;
}
.App_button_43 .App_is4kScreenSizeButtonBase_fb {
  width: 100%;
  height: 62rem;
  position: absolute;
}
.App_button_43 .App_is4kScreenSizeFont_9f {
  font-size: 30rem;
}
.App_is4kScreenSizeFontScaled_1_25_3a .App_button_43 {
  font-size: 28rem;
}
