/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.DailyQuestsTooltipApp_69f63b7d {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 298rem;
  padding: 11rem 19rem 16rem;
  color: #8c8c7e;
  overflow: hidden;
}

.DailyQuestsTooltipApp_name_77a6e0f {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #e9e2bf;
  font-weight: 600;
}

.DailyQuestsTooltipApp_description_c280e120 {
  margin: 3rem 0 5rem;
  line-height: 20rem;
}
.DailyQuestsTooltipApp_description_c280e120[lang="zh_sg"] {
  margin-right: -12rem;
}

.DailyQuestsTooltipApp_label_e5e17029 {
  margin-top: 0;
}

.DailyQuestsTooltipApp_content_4d26e6c0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DailyQuestsTooltipApp_divider_5480e35f {
  margin: 10rem 0;
}

.DailyQuestsTooltipApp_rewards_1bd3cec3 {
  display: flex;
  margin: 0 0 9rem 10rem;
}

.DailyQuestsTooltipApp_reward_19c85da {
  margin-right: 10rem;
}

.DailyQuestsTooltipApp_timerStatus_7d303a24 {
  color: #8c8c7e;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 4rem;
  color: #edcb9e;
  font-weight: 400;
}

.DailyQuestsTooltipApp_clockIcon_54f4d5f6 {
  width: 14rem;
  height: 14rem;
  margin-top: -2rem;
  padding: 0 8rem;
  background: url("R.images.halloween.gui.maps.icons.library.timer_icon") no-repeat 50% / contain;
}
