/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Divider_root_76b1f722,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Divider_7a72bfaf {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.Divider_5e35d515 {
  width: 302rem;
  height: 9rem;
  background: url(R.images.fun_random.gui.maps.icons.feature.progressionQuests.divider_dotty)
    no-repeat center/cover;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ExtendedTooltipDecorator_root_d4c2e366,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.ExtendedTooltipDecorator_312a767e {
  display: flex;
  flex-direction: column;
  width: 308rem;
  padding: 10rem 20rem 13rem;
}

.ExtendedTooltipDecorator_header_37374fa6 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
}
.ExtendedTooltipDecorator_base__invertedColors_d4c2e366 .ExtendedTooltipDecorator_header_37374fa6 {
  color: rgba(var(--color-general-primary-rgb), 0.25);
}

.ExtendedTooltipDecorator_description_edb17499,
.ExtendedTooltipDecorator_timerBlock_7b7647e1 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-tertiary-rgb), 0.9);
}

.ExtendedTooltipDecorator_description_edb17499 {
  margin: 8rem 0 2rem;
  line-height: 20rem;
}
.ExtendedTooltipDecorator_base__invertedColors_d4c2e366
  .ExtendedTooltipDecorator_description_edb17499 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.ExtendedTooltipDecorator_timerBlock_7b7647e1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 13rem;
}

.ExtendedTooltipDecorator_divider_24cd0041 {
  margin-bottom: 10rem;
}
