/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.App_a7ca6d5b {
  width: 100%;
  height: 100%;
  padding-right: 16rem;
  position: relative;
}
.App_base__visible_0::before {
  width: 860rem;
  height: 190rem;
  background: url("R.images.resource_well.gui.maps.icons.vehiclePreviewBottomPanel.shadow_small")
    no-repeat center/contain;
  mix-blend-mode: screen;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.mediaLarge .App_base__visible_0::before {
  width: 960rem;
  height: 212rem;
  background-image: url("R.images.resource_well.gui.maps.icons.vehiclePreviewBottomPanel.shadow_medium");
}

.App_content_98101af6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.App_title_0,
.App_vehicleLvl_0,
.App_vehicleName_2d86a095 {
  color: rgba(238, 237, 233, 0.9);
  font-size: 18rem;
  font-weight: 600;
  line-height: 1.1;
  opacity: 1;
}
.mediaLarge .App_title_0,
.mediaLarge .App_vehicleLvl_0,
.mediaLarge .App_vehicleName_2d86a095 {
  font-size: 22rem;
  line-height: 0.7;
}

.App_description_7aa1594a {
  margin-top: 8rem;
  margin-bottom: 21rem;
  color: #b2afab;
  font-size: 16rem;
  line-height: 1;
}
.mediaLarge .App_description_7aa1594a {
  margin-top: -1rem;
  margin-bottom: 27rem;
  font-size: 18rem;
  line-height: 1.1;
}

.App_button_1e7b9fc2 {
  min-width: 200rem;
}

.App_vehicleType_3b27a8e4 {
  margin: 0 2rem;
}
.mediaLarge .App_vehicleType_3b27a8e4 {
  margin: 0 -3rem;
}
