/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.App_21e3a147 {
  width: 431rem;
}

.App_header_62566856 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.App_icon_24de08c2 {
  width: 80rem;
  height: 80rem;
  margin-right: 15rem;
  background: no-repeat center/contain;
}

.App_headerContainer_b23d7c80 {
  text-align: left;
}

.App_title_5ec15df {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 15rem;
  color: var(--color-general-primary);
}

.App_cooldown_1072bf2a {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
}

.App_content_80741629 {
  margin-top: 10rem;
}

.App_container_58b78fd8 {
  padding: 26rem 20rem 34rem;
}

.App_description_fecd9a89 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
  white-space: normal;
}
.App_description_fecd9a89 + .App_description_fecd9a89 {
  margin-top: 13rem;
}