/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#PerformanceWarning_root_9fa32bb6,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PerformanceWarning_header-h80_ee0279a2 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.PerformanceWarning_header-h56_d41bed00 {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.PerformanceWarning_header-h40_205dd44d {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.PerformanceWarning_header-h32_f35c39d8 {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.PerformanceWarning_header-h28_4ffe2355 {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.PerformanceWarning_header-h26_a17149d0 {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.PerformanceWarning_header-h24_6343d22a {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.PerformanceWarning_header-h22_23f7e089 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.PerformanceWarning_header-h20_6c941df5 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.PerformanceWarning_header-h18_32c06fa2 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.PerformanceWarning_header-h16_d5cdcd04 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.PerformanceWarning_paragraph-p20_a69db0aa {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.PerformanceWarning_paragraph-p18_32c06fa2 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.PerformanceWarning_paragraph-p16_d5cdcd04 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

/* stylelint-disable scss/dollar-variable-pattern */
.PerformanceWarning_b17f004 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.PerformanceWarning_title_a82f0689 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  min-height: 18rem;
  margin-top: 15rem;
  margin-bottom: 3rem;
  padding-left: 23rem;
  background: url("R.images.gui.maps.icons.library.notif_filters_information_16x16") no-repeat left
    center/16rem;
}
.PerformanceWarning_title__medium_afcc3cd8 {
  height: 20rem;
  margin-bottom: 1rem;
  background-image: url("R.images.gui.maps.icons.library.alertIcon");
  color: #ee7000;
}
.PerformanceWarning_title__high_93cb581f {
  background-image: url("R.images.white_tiger.gui.maps.icons.library.marker_blocked_16");
  color: #ff2717;
}

.PerformanceWarning_description_ac42930f {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ProgressionWidgetTooltipApp_root_edd64607,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.ProgressionWidgetTooltipApp_header-h80_76a86205 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.ProgressionWidgetTooltipApp_header-h56_3e3f5d9d {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.ProgressionWidgetTooltipApp_header-h40_6fdff144 {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.ProgressionWidgetTooltipApp_header-h32_5720299a {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.ProgressionWidgetTooltipApp_header-h28_4b5b071c {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.ProgressionWidgetTooltipApp_header-h26_58f59202 {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.ProgressionWidgetTooltipApp_header-h24_d9b502b8 {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.ProgressionWidgetTooltipApp_header-h22_8d651621 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.ProgressionWidgetTooltipApp_header-h20_489cf783 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.ProgressionWidgetTooltipApp_header-h18_64906ea4 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.ProgressionWidgetTooltipApp_header-h16_70b13468 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.ProgressionWidgetTooltipApp_paragraph-p20_aa9b36d {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.ProgressionWidgetTooltipApp_paragraph-p18_64906ea4 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.ProgressionWidgetTooltipApp_paragraph-p16_70b13468 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

/* stylelint-disable scss/dollar-variable-pattern */
.ProgressionWidgetTooltipApp_26926b0a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  --tooltip-width: 446rem;
  width: var(--tooltip-width);
  padding: 16rem 28rem;
  position: relative;
}

.ProgressionWidgetTooltipApp_heading_710814d3 {
  color: #fcf7e5;
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
  width: 100%;
  text-align: left;
  margin-top: 2rem;
}
.ProgressionWidgetTooltipApp_base__completed_edd64607
  .ProgressionWidgetTooltipApp_heading_710814d3 {
  text-align: center;
}

.ProgressionWidgetTooltipApp_timeLeft_c340fa24 {
  color: #8e867d;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.ProgressionWidgetTooltipApp_timeLeft_accent_9fd73971 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 1rem;
}
.ProgressionWidgetTooltipApp_timeLeft__progressionFinished_7b70a8f6 {
  width: 100%;
}

.ProgressionWidgetTooltipApp_currentStage_4a416f88 {
  color: #f2f2f7;
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0 0 14rem #00a2ff;
  margin-top: -27rem;
}
.ProgressionWidgetTooltipApp_currentStage_description_27b6c9f3 {
  color: #e9e2bf;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  margin-top: -2rem;
}

.ProgressionWidgetTooltipApp_stamps_78de0d2c {
  color: #8c8c7e;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  display: flex;
  margin-top: 20rem;
  margin-bottom: 8rem;
}
.ProgressionWidgetTooltipApp_stamps_accent_b0aefb48 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.ProgressionWidgetTooltipApp_stamps_icon_8e580c32 {
  width: 24rem;
  height: 24rem;
  margin-left: 5rem;
}

.ProgressionWidgetTooltipApp_progress_38ad9692 {
  width: 330rem;
  margin-top: 9rem;
}

.ProgressionWidgetTooltipApp_rewards_wrapper_293c0472 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--tooltip-width);
  height: 152rem;
  margin-top: 20rem;
  background: url("R.images.white_tiger.gui.maps.icons.tooltips.ribbon_rewards") no-repeat top/cover;
}
.ProgressionWidgetTooltipApp_rewards_title_b82aae90 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  margin: 14rem 0 24rem;
  text-align: center;
}
.ProgressionWidgetTooltipApp_rewards_group_7c646b24 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
}
.ProgressionWidgetTooltipApp_rewards_group_7c646b24 > * {
  margin-right: 51rem;
}
.ProgressionWidgetTooltipApp_rewards_group_7c646b24 > *:last-child {
  margin-right: 0;
}

.ProgressionWidgetTooltipApp_image_69527da6 {
  width: 400rem;
  height: 204rem;
  background: url("R.images.white_tiger.gui.maps.icons.tooltips.tiger_collection") no-repeat
    center/contain;
}

.ProgressionWidgetTooltipApp_completed_ea666572 {
  color: #fff;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  max-width: var(--tooltip-width);
  margin: 4rem 0;
  text-align: center;
  text-shadow: 0 0 14rem #00a2ff;
}
