/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes QualificationBattleItem_fadeIn_563a6b44 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes QualificationBattleItem_fadeInThreeQuarters_563a6b44 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes QualificationBattleItem_fadeInHalf_563a6b44 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes QualificationBattleItem_fadeOut_563a6b44 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes QualificationBattleItem_fadeInWithScale_563a6b44 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes QualificationBattleItem_slideUp_563a6b44 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes QualificationBattleItem_scale_563a6b44 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes QualificationBattleItem_raysAppearance_563a6b44 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes QualificationBattleItem_rotate_563a6b44 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes QualificationBattleItem_reverse-rotate_563a6b44 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes QualificationBattleItem_glowAppearance_563a6b44 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes QualificationBattleItem_highlightAppearance_563a6b44 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes QualificationBattleItem_blink_563a6b44 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes QualificationBattleItem_slideUpIn_563a6b44 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
/* should be percentage of screen width */
@keyframes QualificationBattleItem_fadeIn_563a6b44 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes QualificationBattleItem_fadeInThreeQuarters_563a6b44 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes QualificationBattleItem_fadeInHalf_563a6b44 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes QualificationBattleItem_fadeOut_563a6b44 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes QualificationBattleItem_fadeInWithScale_563a6b44 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes QualificationBattleItem_slideUp_563a6b44 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes QualificationBattleItem_scale_563a6b44 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes QualificationBattleItem_raysAppearance_563a6b44 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes QualificationBattleItem_rotate_563a6b44 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes QualificationBattleItem_reverse-rotate_563a6b44 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes QualificationBattleItem_glowAppearance_563a6b44 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes QualificationBattleItem_highlightAppearance_563a6b44 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes QualificationBattleItem_blink_563a6b44 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes QualificationBattleItem_slideUpIn_563a6b44 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.QualificationBattleItem_4eb37328 {
  position: relative;
}
.QualificationBattleItem_base__x30_1c4af689 {
  width: 30rem;
  height: 30rem;
}
.QualificationBattleItem_base__x173_4dba4b5f {
  width: 68rem;
  height: 68rem;
}
.QualificationBattleItem_base__x234_3ccb4c77 {
  width: 80rem;
  height: 80rem;
}

.QualificationBattleItem_battleBackground_32acae37 {
  background: no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.QualificationBattleItem_base__x30_1c4af689 .QualificationBattleItem_battleBackground_32acae37 {
  width: 30rem;
  height: 30rem;
}
.QualificationBattleItem_base__x173_4dba4b5f .QualificationBattleItem_battleBackground_32acae37 {
  width: 173rem;
  height: 173rem;
}
.QualificationBattleItem_base__x234_3ccb4c77 .QualificationBattleItem_battleBackground_32acae37 {
  width: 234rem;
  height: 234rem;
}
.QualificationBattleItem_base__inProgress_563a6b44
  .QualificationBattleItem_battleBackground_32acae37 {
  animation: QualificationBattleItem_blink_563a6b44 1.5s linear 1s forwards infinite;
}
