/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.App_4fcbfa35 {
  width: 368rem;
}

.App_crewIcon_f83bbe77 {
  width: 326rem;
  height: 220rem;
  background: url("R.images.comp7.gui.maps.icons.icons.crew_members") no-repeat center/cover;
}

.App_title_bd033b57 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 10rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.App_title__second_5cbf6889 {
  margin-top: 20rem;
}

.App_perk_0,
.App_zeroPerk_fecfd061 {
  display: flex;
  width: 52rem;
  height: 52rem;
  margin-top: 10rem;
  position: relative;
}
.App_perk_0 + .App_perk_0,
.App_perk_0 + .App_zeroPerk_fecfd061,
.App_zeroPerk_fecfd061 + .App_perk_0,
.App_zeroPerk_fecfd061 + .App_zeroPerk_fecfd061 {
  margin-left: 13rem;
}

.App_zeroPerk_fecfd061 {
  background: url("R.images.comp7.gui.maps.icons.icons.perk_brotherhood") no-repeat center/cover;
}

.App_slots_cb654453 {
  display: flex;
}

.App_slotImage_9f9978b0 {
  display: flex;
  width: 90rem;
  height: 90rem;
  background: url("R.images.comp7.gui.maps.icons.icons.perk_slot") no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}