/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MedalTooltipApp_root_c5f2f60b,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.MedalTooltipApp_b71f12ed {
  display: flex;
  flex-direction: column;
  width: 332rem;
  padding: 14rem 20rem;
}

.MedalTooltipApp_name_596db87 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}

.MedalTooltipApp_image_4de77f5 {
  width: 150rem;
  height: 150rem;
  margin: 13rem 0 0 72rem;
  background: no-repeat 50%/contain;
}

.MedalTooltipApp_conditions_f946bd7f {
  color: #595950;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.MedalTooltipApp_description_b614b671 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.MedalTooltipApp_dots_75f87ce4 {
  width: 328rem;
  height: 1rem;
  margin: 15rem 0;
  background: url("R.images.gui.maps.icons.achievements.tooltips.separator_dots_short") no-repeat 50%/contain;
}