/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#PageButton_root_3adbc8cc,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PageButton_bgTexture_3def5334, .PageButton_bgColor_a8383c6, .PageButton_selectedBg_6e395bfc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.PageButton_f54e0361 {
  width: 30rem;
  height: 20rem;
  margin: 0 8rem;
  border: 1rem solid rgba(233, 226, 191, 0.15);
  border-radius: 2rem;
  position: relative;
  transition: border-color 0.1s ease-out, box-shadow 0.1s ease-out;
}
.PageButton_f54e0361:hover {
  box-shadow: 0 0 7rem -1rem rgba(255, 255, 255, 0.15) inset;
}
.PageButton_f54e0361.PageButton_base__selected_c5a12366 {
  border-color: rgba(242, 239, 234, 0.2);
}
.PageButton_f54e0361.PageButton_base__selected_c5a12366:hover {
  box-shadow: none;
}

.PageButton_bgTexture_3def5334 {
  border-radius: 2rem;
  background: url("R.images.gui.maps.icons.ui_kit.common.secondary_background") repeat center/cover;
  opacity: 0.1;
  mix-blend-mode: screen;
  transition: opacity 0.1s ease-out;
}
.PageButton_bgTexture__selected_335fa90c {
  opacity: 0.4;
}

.PageButton_bgColor_a8383c6 {
  border-radius: 2rem;
  background: linear-gradient(180deg, rgba(180, 181, 170, 0.09) 0%, rgba(180, 181, 170, 0.09) 100%);
  transition: background-color 0.1s ease-out;
}
.PageButton_f54e0361:hover .PageButton_bgColor_a8383c6, .PageButton_f54e0361.PageButton_base__selected_c5a12366 .PageButton_bgColor_a8383c6 {
  background: linear-gradient(180deg, rgba(180, 181, 170, 0.09) 0%, rgba(180, 181, 170, 0.09) 100%), linear-gradient(180deg, rgba(239, 233, 225, 0.1) 0%, rgba(239, 233, 225, 0) 100%);
}

.PageButton_content_1c7257d8 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  align-self: center;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  opacity: 0.5;
}
.PageButton_content__selected_19b2d705 {
  color: #fefeec;
  opacity: 1;
}

.PageButton_selectedBg_6e395bfc {
  border-radius: 2rem;
  background: linear-gradient(180deg, rgba(255, 42, 0, 0.1) 0%, rgba(255, 42, 0, 0) 0.01%, rgba(255, 127, 0, 0.1) 100%);
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#PaginationArrowButton_root_bc43a199,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PaginationArrowButton_93040e6b {
  display: flex;
  width: 29rem;
  position: relative;
}

.PaginationArrowButton_icon_e38163e4 {
  width: 100%;
  height: 112rem;
  margin-top: -105rem;
  background: url("R.images.last_stand.gui.maps.icons.library.paginationArrow") no-repeat center/contain;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 0;
  transition: opacity linear 0.2s;
  cursor: pointer;
}
.PaginationArrowButton_icon__back_a1a6babf {
  left: -6rem;
  transform: rotate(180deg);
}
.PaginationArrowButton_icon__forward_172735b1 {
  left: 6rem;
}
.PaginationArrowButton_base__locked_bc43a199 .PaginationArrowButton_icon_e38163e4 {
  opacity: 0.3;
  cursor: default;
}
.PaginationArrowButton_93040e6b:hover .PaginationArrowButton_icon_e38163e4 {
  opacity: 1;
}
.PaginationArrowButton_93040e6b:active .PaginationArrowButton_icon_e38163e4 {
  opacity: 0.5;
}
.PaginationArrowButton_base__locked_bc43a199:hover .PaginationArrowButton_icon_e38163e4 {
  opacity: 0.3;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Pagination_root_3cfb8f4f,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Pagination_d31f1b4d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Pagination_content_7ee97a52 {
  display: flex;
}

.Pagination_pages_7ee97a52 {
  display: flex;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#HintSlide_root_d63aa727,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HintSlide_e291e2ca {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1024rem;
  height: 600rem;
}

.HintSlide_hintIcon_3212061 {
  display: flex;
  width: 100%;
  height: 100%;
  background: no-repeat 50%/cover;
  position: absolute;
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 20%);
  mask-repeat: no-repeat;
}

.HintSlide_text_18405b82 {
  margin-bottom: 25rem;
  padding: 0 100rem;
  text-align: center;
}

.HintSlide_title_8f035c0d {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  margin-bottom: 1rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 500;
  position: relative;
}

.HintSlide_description_29ae5c05 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  line-height: 24rem;
  position: relative;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#HelpApp_root_622f877d,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HelpApp_a4ec8984 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.HelpApp_header_51c3d04b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.HelpApp_title_d3c67fc8 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 1rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
}

.HelpApp_close_291dac86 {
  padding-bottom: 1rem;
  position: absolute;
  top: 17rem;
  right: 17rem;
}

.HelpApp_content_d73325a4 {
  display: flex;
  flex-direction: column;
  width: 1024rem;
  height: 720rem;
  background: url("R.atlases.battleAtlas.helpWindow_bg") no-repeat 0 0/cover;
  position: relative;
}

.HelpApp_pagination_b9109639 {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-bottom: 20rem;
  position: relative;
  z-index: 1;
}

.HelpApp_slide_10c12dfe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.HelpApp_sizer_1fa63daa {
  display: flex;
  width: 894rem;
  height: 544rem;
}

.HelpApp_bottomBg_7e66c3a1 {
  display: flex;
  width: 100%;
  height: 60rem;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
}