/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.StoryPoint_c7387a68 {
  display: flex;
  justify-content: center;
  background: no-repeat 50% / contain;
  position: relative;
}
.StoryPoint_base__size16x16_43e66d80 {
  justify-content: flex-start;
  height: 16rem;
  padding-left: 16rem;
  background: no-repeat 0/16rem 16rem;
}
.StoryPoint_base__size24x24_e4512cc2 {
  width: 24rem;
  height: 24rem;
}
.StoryPoint_base__size32x32_b8f52f8e {
  width: 32rem;
  height: 32rem;
}
.StoryPoint_base__size48x48_44fcc37e {
  width: 48rem;
  height: 48rem;
}
.StoryPoint_base__size80x80_4721d7ab {
  width: 80rem;
  height: 80rem;
}
.StoryPoint_base__size186x186_a7429a40 {
  width: 186rem;
  height: 186rem;
}
.StoryPoint_base__size256x256_c0526b14 {
  width: 256rem;
  height: 256rem;
}

.StoryPoint_label_35ab4bc4 {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #ffe9cc;
  font-weight: 500;
  position: absolute;
}
.StoryPoint_base__size16x16_43e66d80 .StoryPoint_label_35ab4bc4 {
  margin-top: -1rem;
  color: #fff7eb;
  font-size: 20rem;
  line-height: 16rem;
  text-shadow: 0 1rem rgba(13, 14, 16, 0.4);
  letter-spacing: 0.4rem;
  position: static;
}
.StoryPoint_base__size186x186_a7429a40 .StoryPoint_label_35ab4bc4 {
  color: #fff7eb;
  font-size: 80rem;
  right: -40rem;
  bottom: 40rem;
}
html[lang="ja"] .StoryPoint_base__size186x186_a7429a40 .StoryPoint_label_35ab4bc4,
html[lang="ko"] .StoryPoint_base__size186x186_a7429a40 .StoryPoint_label_35ab4bc4,
html[lang="zh_tw"] .StoryPoint_base__size186x186_a7429a40 .StoryPoint_label_35ab4bc4,
html[lang="zh_sg"] .StoryPoint_base__size186x186_a7429a40 .StoryPoint_label_35ab4bc4,
html[lang="zh_cn"] .StoryPoint_base__size186x186_a7429a40 .StoryPoint_label_35ab4bc4,
html[lang="vi"] .StoryPoint_base__size186x186_a7429a40 .StoryPoint_label_35ab4bc4,
html[lang="th"] .StoryPoint_base__size186x186_a7429a40 .StoryPoint_label_35ab4bc4 {
  right: -95rem;
}
.StoryPoint_base__size256x256_c0526b14 .StoryPoint_label_35ab4bc4 {
  color: #fff7eb;
  font-size: 120rem;
  font-weight: 600;
  right: -62rem;
  bottom: 48rem;
}
html[lang="ja"] .StoryPoint_base__size256x256_c0526b14 .StoryPoint_label_35ab4bc4,
html[lang="ko"] .StoryPoint_base__size256x256_c0526b14 .StoryPoint_label_35ab4bc4,
html[lang="zh_tw"] .StoryPoint_base__size256x256_c0526b14 .StoryPoint_label_35ab4bc4,
html[lang="zh_sg"] .StoryPoint_base__size256x256_c0526b14 .StoryPoint_label_35ab4bc4,
html[lang="zh_cn"] .StoryPoint_base__size256x256_c0526b14 .StoryPoint_label_35ab4bc4,
html[lang="vi"] .StoryPoint_base__size256x256_c0526b14 .StoryPoint_label_35ab4bc4,
html[lang="th"] .StoryPoint_base__size256x256_c0526b14 .StoryPoint_label_35ab4bc4 {
  right: -80rem;
}
