/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TankmanRole_3bb08c81 {
  width: 18rem;
  height: 18rem;
  fill: var(--color-general-tertiary);
}
