/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Glow_8afc397a {
  width: 145rem;
  height: 145rem;
  pointer-events: none;
}
.mediaMedium .Glow_8afc397a {
  width: 200rem;
  height: 200rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Anomaly_1d8fb68f {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 58rem;
  height: 100rem;
  opacity: 0.7;
  position: relative;
}
.mediaMedium .Anomaly_1d8fb68f {
  width: 80rem;
  height: 126rem;
}
.Anomaly_base__unknown_a1a872c0,
.Anomaly_base__available_fe9f25c7,
.Anomaly_base__new_e4335108 {
  opacity: 1;
}
.Anomaly_base__available_fe9f25c7 {
  cursor: pointer;
}
.Anomaly_base__hidden_9a83fbe3 {
  opacity: 0;
}

.Anomaly_icon_e317710a {
  width: 58rem;
  height: 58rem;
}
.mediaMedium .Anomaly_icon_e317710a {
  width: 80rem;
  height: 80rem;
}

.Anomaly_highlight_6174b56c {
  position: absolute;
  top: 0;
  left: 0;
}

.Anomaly_glow_cb5f64a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Anomaly_nameContainer_9ef94052 {
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.Anomaly_nameContainer__regular_a1a872c0,
.Anomaly_nameContainer__individual_8bea1184 {
  color: #fd9;
}
.Anomaly_nameContainer__epic_d13cdfbd {
  color: #c8aeff;
}
.Anomaly_nameContainer__secret_14a5d0ad {
  color: #e0ffba;
}
.Anomaly_nameContainer_9ef94052 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  justify-content: center;
  flex: 1;
  width: 110rem;
  margin-top: 6rem;
  line-height: 18rem;
}
.mediaMedium .Anomaly_nameContainer_9ef94052 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 125rem;
  line-height: 20rem;
}

.Anomaly_name_6f9b53b7 {
  justify-content: center;
}

.Anomaly_bubble_72384f15 {
  position: absolute;
  top: -22rem;
  right: -24rem;
}
.mediaMedium .Anomaly_bubble_72384f15 {
  top: -27rem;
  right: -27rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.IndividualAnomaliesBlock_f0cfac8b {
  display: flex;
  justify-content: center;
}

.IndividualAnomaliesBlock_anomaly_e333db5b + .IndividualAnomaliesBlock_anomaly_e333db5b {
  margin-left: 50rem;
}
.mediaMedium
  .IndividualAnomaliesBlock_anomaly_e333db5b
  + .IndividualAnomaliesBlock_anomaly_e333db5b {
  margin-left: 48rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Recipe_e9224011 {
  display: flex;
}

.Recipe_connector_7d08fd1d {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 16rem;
  margin-top: 21rem;
}
.mediaMedium .Recipe_connector_7d08fd1d {
  width: 48rem;
  margin-top: 32rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.RecipesBlock_8eb3065d {
  display: flex;
  flex-direction: column;
}

.RecipesBlock_row_941f7ca6 {
  display: flex;
}
.RecipesBlock_row_941f7ca6 + .RecipesBlock_row_941f7ca6 {
  margin-top: 10rem;
}
.mediaMedium .RecipesBlock_row_941f7ca6 + .RecipesBlock_row_941f7ca6 {
  margin-top: 9rem;
}
.mediaLarge .RecipesBlock_row_941f7ca6 + .RecipesBlock_row_941f7ca6 {
  margin-top: 14rem;
}
.mediaExtraLarge .RecipesBlock_row_941f7ca6 + .RecipesBlock_row_941f7ca6 {
  margin-top: 19rem;
}

.RecipesBlock_recipe_c9fed7 + .RecipesBlock_recipe_c9fed7 {
  margin-left: 158rem;
}
.mediaMedium .RecipesBlock_recipe_c9fed7 + .RecipesBlock_recipe_c9fed7 {
  margin-left: 176rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.AnomaliesMatrix_de2edf4a {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.AnomaliesMatrix_container_39e525e8 {
  display: flex;
  justify-content: center;
}

.AnomaliesMatrix_recipes_d282bb3b {
  width: 706rem;
}
.mediaMedium .AnomaliesMatrix_recipes_d282bb3b {
  width: 848rem;
}
.AnomaliesMatrix_recipes_d282bb3b {
  margin-top: 19rem;
}
.mediaMedium .AnomaliesMatrix_recipes_d282bb3b {
  margin-top: 23rem;
}
.mediaLarge .AnomaliesMatrix_recipes_d282bb3b {
  margin-top: 38rem;
}
.mediaExtraLarge .AnomaliesMatrix_recipes_d282bb3b {
  margin-top: 43rem;
}

.AnomaliesMatrix_divider_da3c83b7 {
  height: 1rem;
  background: url(R.images.gui.maps.icons.ui.light_noise);
  opacity: 0.18;
}
.AnomaliesMatrix_divider__individual_8e41bf58 {
  margin-top: 9rem;
}
.mediaMedium .AnomaliesMatrix_divider__individual_8e41bf58 {
  margin-top: 5rem;
}
.mediaLarge .AnomaliesMatrix_divider__individual_8e41bf58 {
  margin-top: 10rem;
}
.mediaExtraLarge .AnomaliesMatrix_divider__individual_8e41bf58 {
  margin-top: 15rem;
}

.AnomaliesMatrix_individualAnomalies_901165ba {
  width: 706rem;
}
.mediaMedium .AnomaliesMatrix_individualAnomalies_901165ba {
  width: 848rem;
}
.AnomaliesMatrix_individualAnomalies_901165ba {
  margin-top: 20rem;
}
.mediaMedium .AnomaliesMatrix_individualAnomalies_901165ba {
  margin-top: 19rem;
}
.mediaLarge .AnomaliesMatrix_individualAnomalies_901165ba {
  margin-top: 34rem;
}
.mediaExtraLarge .AnomaliesMatrix_individualAnomalies_901165ba {
  margin-top: 39rem;
}

.AnomaliesMatrix_verticalBar_f6a7f98e {
  position: absolute;
  top: 0;
  right: -20rem;
}

.AnomaliesMatrix_area__begin_b46e57b0 {
  mask: linear-gradient(to bottom, transparent, #000 4%);
}
.AnomaliesMatrix_area__end_59b208c6 {
  mask: linear-gradient(to top, transparent, #000 4%);
}
.AnomaliesMatrix_area__begin_b46e57b0.AnomaliesMatrix_area__end_59b208c6 {
  mask: linear-gradient(to bottom, transparent, #000 4%, #000 96%, transparent);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.AnomalyRecipesApp_d41829f7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.AnomalyRecipesApp_title_91d33d0b {
  font-size: 32rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 79rem;
  color: #fff;
}

.AnomalyRecipesApp_matrix_e4a39f9d {
  width: 794rem;
  margin: 28rem 0 27rem;
}
.mediaMedium .AnomalyRecipesApp_matrix_e4a39f9d {
  width: 968rem;
  margin-bottom: 48rem;
}
.mediaLarge .AnomalyRecipesApp_matrix_e4a39f9d {
  margin-bottom: 96rem;
}
.mediaExtraLarge .AnomalyRecipesApp_matrix_e4a39f9d {
  margin-bottom: 185rem;
}
.AnomalyRecipesApp_matrix__down_aef88de2 {
  margin-top: 270rem;
}
.mediaMedium .AnomalyRecipesApp_matrix__down_aef88de2 {
  margin-top: 280rem;
}
.mediaLarge .AnomalyRecipesApp_matrix__down_aef88de2 {
  margin-top: 291rem;
}
.mediaExtraLarge .AnomalyRecipesApp_matrix__down_aef88de2 {
  margin-top: 310rem;
}
