/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#StampTooltipApp_root_27828467,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.StampTooltipApp_header-h80_e18d3f28 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.StampTooltipApp_header-h56_fc5b0bef {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.StampTooltipApp_header-h40_a8320a00 {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.StampTooltipApp_header-h32_bf2dbd19 {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.StampTooltipApp_header-h28_35d31c44 {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.StampTooltipApp_header-h26_56ce61fa {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.StampTooltipApp_header-h24_b36ef54f {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.StampTooltipApp_header-h22_38cba56 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.StampTooltipApp_header-h20_7b7c46ef {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.StampTooltipApp_header-h18_ffe2369d {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.StampTooltipApp_header-h16_d079a9b9 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.StampTooltipApp_paragraph-p20_87a5776d {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.StampTooltipApp_paragraph-p18_ffe2369d {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.StampTooltipApp_paragraph-p16_d079a9b9 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.StampTooltipApp_bb28b309 {
  width: 363rem;
  background-image: linear-gradient(
    180deg,
    rgba(51, 51, 41, 0.3) 0%,
    rgba(51, 51, 41, 0) 16%,
    rgba(51, 51, 41, 0) 88%,
    rgba(51, 51, 41, 0.1) 100%
  );
}

.StampTooltipApp_content_f77536b0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 14rem 20rem;
}

.StampTooltipApp_title_1a24326c {
  margin-bottom: 20rem;
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 20rem;
}

.StampTooltipApp_description_5d9e8bfa {
  margin-bottom: 15rem;
  color: #8c8c7e;
  font-size: 14rem;
  line-height: 18rem;
}

.StampTooltipApp_descriptionTitle_79db80f3 {
  margin-bottom: 8rem;
  color: #e9e2bf;
  font-size: 14rem;
  line-height: 18rem;
}

.StampTooltipApp_iconBig_19fe9232 {
  align-self: center;
  width: 80rem;
  height: 80rem;
  margin-bottom: 22rem;
  background: url("R.images.white_tiger.gui.maps.icons.stamps.stamp_80") no-repeat center/contain;
}

.StampTooltipApp_iconSmall_df3af2d6 {
  width: 18rem;
  height: 18rem;
  background: url("R.images.white_tiger.gui.maps.icons.stamps.stamp_18") no-repeat center/contain;
}

.StampTooltipApp_divider_c98beebf {
  width: 100%;
  height: 9rem;
  background: url("R.images.white_tiger.gui.maps.icons.carousel.dividerDotty") no-repeat
    center/contain;
  position: relative;
}
.StampTooltipApp_divider__top_701e6de0 {
  top: 4rem;
}
.StampTooltipApp_divider__bottom_91a42634 {
  top: -4rem;
}

.StampTooltipApp_quantityWrapper_7d49d308 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 41rem;
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 230, 0) 0%,
    rgba(255, 255, 230, 0.1) 38%,
    rgba(255, 255, 230, 0.1) 65%,
    rgba(255, 255, 230, 0) 100%
  );
  color: #8c8c7e;
  font-size: 14rem;
  line-height: 18rem;
}

.StampTooltipApp_quantity_289d4e9 {
  padding-left: 4rem;
  padding-right: 8rem;
}

.StampTooltipApp_receiveWrapper_842d427f {
  margin-top: 15rem;
}
