/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.App_eaae4c68 {
  display: flex;
  flex-direction: column;
  width: 310rem;
  height: 100%;
  padding-top: 0;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.App_header_cfd235ff {
  padding: 15rem 0 11rem;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.05) 40%, rgba(235, 235, 235, 0.05) 60%, transparent);
}

.App_body_dc3af66 {
  padding-top: 7rem;
}

.App_heading_642854b3 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  padding-bottom: 6rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.App_status_5e908335 {
  transform: translateY(-3rem);
}
.App_status__achieved_cf4c8736 {
  color: var(--color-status-done);
}
.App_status__possible_a9335078 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.App_status__notAchieved_b2efe5e0 {
  color: var(--color-general-secondary);
}

.App_text_2f55a205 + .App_text_2f55a205 {
  margin-top: 8rem;
}

.App_bondsIcon_266af2de {
  width: 16rem;
  height: 16rem;
  background: url("R.images.gui.maps.icons.library.currency.crystal_16x16") no-repeat center/contain;
  transform: translate(3rem, 2rem);
}