/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes ArrowButton_fadeIn_5327085d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ArrowButton_fadeInThreeQuarters_5327085d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes ArrowButton_fadeInHalf_5327085d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes ArrowButton_fadeOut_5327085d {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ArrowButton_fadeInWithScale_5327085d {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ArrowButton_slideUp_5327085d {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ArrowButton_scale_5327085d {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ArrowButton_raysAppearance_5327085d {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes ArrowButton_rotate_5327085d {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ArrowButton_reverse-rotate_5327085d {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes ArrowButton_glowAppearance_5327085d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ArrowButton_highlightAppearance_5327085d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes ArrowButton_blink_5327085d {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ArrowButton_slideUpIn_5327085d {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.ArrowButton_6b3aeda7 {
  position: relative;
  cursor: pointer;
}
.ArrowButton_base__disabled_66128a31 {
  cursor: default;
  pointer-events: none;
}
.ArrowButton_base__large_ad074d68 {
  width: 76rem;
  height: 144rem;
}
.ArrowButton_base__medium_8edb18ea {
  width: 50rem;
  height: 94rem;
}
.ArrowButton_base__small_bfd38674 {
  width: 34rem;
  height: 50rem;
}
.ArrowButton_base__extraSmall_374b168f {
  width: 26rem;
  height: 34rem;
}

.ArrowButton_layers_2cf2a988 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ArrowButton_base__right_5327085d .ArrowButton_layers_2cf2a988 {
  transform: scaleX(-1);
}

.ArrowButton_layer_62eed5ed {
  background: no-repeat top/cover;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ArrowButton_layer__default_5f556b05 {
  opacity: 1;
}
.ArrowButton_6b3aeda7:hover .ArrowButton_layer__default_5f556b05 {
  opacity: 0;
}
.ArrowButton_6b3aeda7:hover .ArrowButton_layer__hover_5f556b05 {
  opacity: 1;
}
.ArrowButton_base__disabled_66128a31:hover .ArrowButton_layer__hover_5f556b05 {
  opacity: 0;
}
.ArrowButton_6b3aeda7:active .ArrowButton_layer__active_a807ac2e {
  opacity: 1;
}
.ArrowButton_base__disabled_66128a31:active .ArrowButton_layer__active_a807ac2e {
  opacity: 0;
}
.ArrowButton_base__disabled_66128a31 .ArrowButton_layer__default_5f556b05,
.ArrowButton_base__disabled_66128a31 .ArrowButton_layer__hover_5f556b05,
.ArrowButton_base__disabled_66128a31 .ArrowButton_layer__active_a807ac2e {
  opacity: 0;
}
.ArrowButton_base__disabled_66128a31 .ArrowButton_layer__disabled_2af2a5f5 {
  opacity: 1;
}
