/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Footer_root_4308958a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.Footer_media-wrapper_4308958a,
#Footer_root_4308958a {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Footer_44bc3951 {
  display: flex;
}

.Footer_claimButtonContainer_d2687e3 {
  position: relative;
}

.Footer_button_94a6f5c1 {
  min-width: 168rem;
  height: 48rem;
  margin: 0 8rem;
}

.Footer_bubble_cae5f121 {
  position: absolute;
  top: -9rem;
  right: 20rem;
}

.Footer_valueContainer_4c15c602 {
  min-width: 16rem;
  padding: 0;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.Header_media-wrapper_65f475ba,
#Header_root_65f475ba {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Header_ee5a2d07 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header_title_b0bc13e7 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
}
.mediaMedium .Header_title_b0bc13e7 {
  font-size: 72rem;
}
.mediaLarge .Header_title_b0bc13e7 {
  font-size: 80rem;
}
.mediaExtraLarge .Header_title_b0bc13e7 {
  font-size: 100rem;
}

.Header_subTitle_1eae830c {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
  font-weight: 400;
}
.mediaMedium .Header_subTitle_1eae830c {
  margin-top: -1rem;
  font-size: 24rem;
}
.mediaLarge .Header_subTitle_1eae830c {
  margin-top: 2rem;
  font-size: 28rem;
}
.mediaExtraLarge .Header_subTitle_1eae830c {
  margin-top: -2rem;
  font-size: 32rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#CustomizedDelta_root_e523313e,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.CustomizedDelta_media-wrapper_e523313e,
#CustomizedDelta_root_e523313e {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.CustomizedDelta_delta_fec405e0 {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.CustomizedDelta_glow_2aa91c6e {
  height: 100%;
  box-shadow: 0 0 5rem rgba(255, 254, 249, 0.5), 0 0 10rem rgba(255, 246, 227, 0.3), 0 0 30rem rgba(255, 230, 201, 0.4);
  background: #edebe7;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Progression_root_61efd8f5,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.Progression_media-wrapper_61efd8f5,
#Progression_root_61efd8f5 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Progression_c5ec1889 {
  display: flex;
  flex-direction: column;
  width: 684rem;
}

.Progression_info_75a8001c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 684rem;
  height: 14rem;
  margin-bottom: 15rem;
  position: relative;
}

.Progression_label_61efd8f5,
.Progression_labelNext_731b04f,
.Progression_labelExp_10c8b821 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
  font-weight: 500;
}

.Progression_labelNext_731b04f {
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.Progression_experience_e617c990 {
  display: flex;
}

.Progression_expIcon_92aafc1a {
  width: 56rem;
  height: 54rem;
  background: url("R.images.frontline.gui.maps.icons.postBattleRewards.exp_icon") no-repeat center/cover;
}

.Progression_labelExp_10c8b821 {
  margin-left: -8rem;
}

.Progression_levelUpWrapper_cc381f42 {
  position: absolute;
  top: 50%;
  right: 5rem;
  z-index: -1;
  transform: translate(50%, -50%);
}

.Progression_levelUpGlow_7f4b7336 {
  width: 104rem;
  height: 104rem;
  background: url("R.images.frontline.gui.maps.icons.postBattleRewards.level_up_glow") no-repeat center/cover;
}

.Progression_progressBar_dd1ebb38 {
  width: 100%;
  height: 28rem;
}

.Progression_background_f33388bc {
  box-shadow: none;
  background-color: transparent;
}
.Progression_background_f33388bc::after {
  border: 0 none;
}

.Progression_delta_5ede6d36 {
  height: 22rem;
  top: 3rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Rank_root_63d9e1f1,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.Rank_media-wrapper_63d9e1f1,
#Rank_root_63d9e1f1 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Rank_fdbb0733 {
  width: 190rem;
  height: 190rem;
  background: no-repeat center/contain;
  position: relative;
}
.mediaMedium .Rank_fdbb0733 {
  width: 270rem;
  height: 270rem;
}
.mediaLarge .Rank_fdbb0733 {
  width: 320rem;
  height: 320rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Rewards_root_405577a5,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.Rewards_media-wrapper_405577a5,
#Rewards_root_405577a5 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Rewards_200712a6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Rewards_ribbon_ecf8c7f4 {
  width: 1366rem;
  height: 356rem;
  background: url("R.images.frontline.gui.maps.icons.postBattleRewards.ribbon_regular_small") no-repeat center/contain;
  position: absolute;
  top: 40rem;
  right: 50%;
  transform: translateX(50%);
  pointer-events: none;
}
.mediaMedium .Rewards_ribbon_ecf8c7f4 {
  top: 96rem;
}
.mediaLarge .Rewards_ribbon_ecf8c7f4 {
  width: 1920rem;
  height: 500rem;
  background-image: url("R.images.frontline.gui.maps.icons.postBattleRewards.ribbon_regular");
  top: 130rem;
}
.Rewards_base__maxLevel_405577a5 .Rewards_ribbon_ecf8c7f4 {
  background-image: url("R.images.frontline.gui.maps.icons.postBattleRewards.ribbon_gold_small");
}
.mediaLarge .Rewards_base__maxLevel_405577a5 .Rewards_ribbon_ecf8c7f4 {
  background-image: url("R.images.frontline.gui.maps.icons.postBattleRewards.ribbon_gold");
}

.Rewards_rewardsContainer_f10b31ca {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
.mediaMedium .Rewards_rewardsContainer_f10b31ca {
  margin-top: -10rem;
}

.Rewards_reward_31975416 {
  margin: 0 12rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#PostBattleRewardsView_root_934c40f4,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.PostBattleRewardsView_media-wrapper_934c40f4,
#PostBattleRewardsView_root_934c40f4 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PostBattleRewardsView_c4d87b9b {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("R.images.frontline.gui.maps.bg.info") no-repeat center/cover;
  overflow: hidden;
  position: relative;
}

.PostBattleRewardsView_closeButton_42e73958 {
  position: absolute;
  top: 30rem;
  right: 30rem;
}

.PostBattleRewardsView_contentWrapper_b7a55b07 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.PostBattleRewardsView_header_777b59dd {
  height: 160rem;
  margin-top: 44rem;
}
.mediaMedium .PostBattleRewardsView_header_777b59dd {
  margin-top: 48rem;
}
.mediaLarge .PostBattleRewardsView_header_777b59dd {
  margin-top: 57rem;
}
.mediaExtraLarge .PostBattleRewardsView_header_777b59dd {
  margin-top: 80rem;
}

.PostBattleRewardsView_content_76f17315 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 322rem;
  margin-top: -190rem;
  position: relative;
}
.mediaMedium .PostBattleRewardsView_content_76f17315 {
  height: 407rem;
  margin-top: -224rem;
}
.mediaLarge .PostBattleRewardsView_content_76f17315 {
  height: 470rem;
  margin-top: -186rem;
}
.mediaExtraLarge .PostBattleRewardsView_content_76f17315 {
  height: 501rem;
  margin-top: -292rem;
}

.PostBattleRewardsView_glowWrapper_a3000d0 {
  position: absolute;
  top: 33%;
  right: 50%;
  transform: translate(51%, -50%);
  pointer-events: none;
}
.mediaMedium .PostBattleRewardsView_glowWrapper_a3000d0 {
  top: 36%;
}
.mediaLarge .PostBattleRewardsView_glowWrapper_a3000d0 {
  top: 38%;
}
.mediaExtraLarge .PostBattleRewardsView_glowWrapper_a3000d0 {
  top: 36%;
}

.PostBattleRewardsView_glow_86e60398 {
  width: 1260rem;
  height: 626rem;
  background: url("R.images.frontline.gui.maps.icons.postBattleRewards.glow") no-repeat center/contain;
  mix-blend-mode: screen;
}
.mediaMedium .PostBattleRewardsView_glow_86e60398 {
  width: 1522rem;
  height: 756rem;
}
.mediaLarge .PostBattleRewardsView_glow_86e60398 {
  width: 1876rem;
  height: 932rem;
}

.PostBattleRewardsView_rank_d4df69f6 {
  margin-bottom: 60rem;
}

.PostBattleRewardsView_footer_2bb3ea6d {
  margin-bottom: 60rem;
}
.mediaMedium .PostBattleRewardsView_footer_2bb3ea6d {
  margin-bottom: 70rem;
}
.mediaLarge .PostBattleRewardsView_footer_2bb3ea6d {
  margin-bottom: 80rem;
}
.mediaExtraLarge .PostBattleRewardsView_footer_2bb3ea6d {
  margin-bottom: 110rem;
}