/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Profit_root_6b8f37cd,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Profit_header-h80_4fbe3c1b {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.Profit_header-h56_f816ee88 {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.Profit_header-h40_70d6612a {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.Profit_header-h32_1efad178 {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.Profit_header-h28_e4ac8d81 {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.Profit_header-h26_2b88c2aa {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.Profit_header-h24_ba362215 {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.Profit_header-h22_c2a303d9 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.Profit_header-h20_340c9a1 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.Profit_header-h18_20a982a6 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.Profit_header-h16_1cbd2025 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.Profit_paragraph-p20_bdf77122 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.Profit_paragraph-p18_20a982a6 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.Profit_paragraph-p16_1cbd2025 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.Profit_6037941e {
  display: flex;
  align-items: center;
  position: relative;
}

.Profit_icon_d7fd4c75 {
  width: 48rem;
  height: 48rem;
  position: relative;
  z-index: 1;
}

.Profit_value_d70588a6 {
  padding-left: 5rem;
  color: #f2f2f7;
  font-size: 24rem;
  font-weight: 700;
  position: relative;
  z-index: 2;
}
.mediaLarge .Profit_value_d70588a6 {
  padding-left: 0;
  font-size: 36rem;
}
.Profit_value__notEnough_d76bc7a0 {
  color: #ff2717;
}
.mediaLarge .Profit_value__notEnough_d76bc7a0 {
  color: #b70000;
}
.Profit_value__wt2025progression_34473a7a {
  display: none;
}