/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PaginationArrowButton_1f4f53e8 {
  display: flex;
  width: 30rem;
  position: relative;
  margin-top: 4rem;
}
.PaginationArrowButton_base__locked_b40ea2d {
  pointer-events: none;
}

.PaginationArrowButton_icon_17168c65 {
  width: 100%;
  height: 114rem;
  background: url("R.images.halloween.gui.maps.icons.paginator.arrow_up") no-repeat center/contain;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: opacity linear 0.2s;
  cursor: pointer;
}
.PaginationArrowButton_icon__back_d86f9bc0 {
  transform: translate(-50%, -50%);
}
.PaginationArrowButton_icon__forward_244bd964 {
  transform: translate(-50%, -50%) rotate(180deg);
}
.PaginationArrowButton_1f4f53e8:hover .PaginationArrowButton_icon_17168c65 {
  background-image: url("R.images.halloween.gui.maps.icons.paginator.arrow_hover");
}
.PaginationArrowButton_1f4f53e8:active .PaginationArrowButton_icon_17168c65 {
  opacity: 0.6;
}
.PaginationArrowButton_base__locked_b40ea2d .PaginationArrowButton_icon_17168c65 {
  opacity: 0.3;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PaginationRender_e4417655 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.PaginationRender_label_78bbf029 {
  font-size: 15rem;
  font-weight: 400;
  line-height: 1.2em;
  color: rgba(238, 237, 233, 0.5);
}
.PaginationRender_e4417655:hover .PaginationRender_label_78bbf029,
.PaginationRender_base__selected_ea487a6b .PaginationRender_label_78bbf029 {
  color: rgba(237, 230, 217, 0.9);
}

.PaginationRender_selectedImage_abd6ba5b {
  width: 34rem;
  height: 22rem;
  background: url("R.images.halloween.gui.maps.icons.paginator.paginator_up") no-repeat
    center/contain;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.PaginationRender_e4417655:hover .PaginationRender_selectedImage_abd6ba5b,
.PaginationRender_e4417655:active .PaginationRender_selectedImage_abd6ba5b {
  background-image: url("R.images.halloween.gui.maps.icons.paginator.paginator_down");
}
.PaginationRender_base__selected_ea487a6b .PaginationRender_selectedImage_abd6ba5b {
  background-image: url("R.images.halloween.gui.maps.icons.paginator.paginator_selected");
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PaginationList_d967e69a {
  display: flex;
}

.PaginationList_item_6cf53938 {
  width: 32rem;
  height: 20rem;
}
.PaginationList_item_6cf53938 + .PaginationList_item_6cf53938 {
  margin-left: 6rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Pagination_d4b3e554 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Pagination_content_ff273982 {
  display: flex;
}

.Pagination_list_15505166 {
  margin-top: 50rem;
}
.ExtendedText-ExtendedText_base_63 {
  display: flex;
  line-height: 1.2;
  position: relative;
}

.ExtendedText-ExtendedText_base__zeroPadding_28 {
  padding: 0;
}

.ExtendedText-ExtendedText_base__isTruncationAvailable_d7 {
  width: 100%;
}

.ExtendedText-ExtendedText_truncated_27 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.ExtendedText-ExtendedText_truncated__hide_67 {
  opacity: 0;
}

.ExtendedText-ExtendedText_unTruncated_53 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  color: #ff2717;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.ExtendedText-ExtendedText_tooltip_a5 {
  display: flex;
}

.ExtendedText-ExtendedText_tooltip__justify-flex-start_03 {
  justify-content: flex-start;
}

.ExtendedText-ExtendedText_tooltip__justify-center_d1 {
  justify-content: center;
}

.ExtendedText-ExtendedText_tooltip__justify-flex-end_4a {
  justify-content: flex-end;
}

.ExtendedText-ExtendedText_tooltip__align-flex-start_df {
  align-content: flex-start;
}

.ExtendedText-ExtendedText_tooltip__align-center_d2 {
  align-content: center;
}

.ExtendedText-ExtendedText_tooltip__align-flex-end_3b {
  align-content: flex-end;
}

.ExtendedText-colors_blackReal_7b {
  color: #000000;
}

.ExtendedText-colors_whiteReal_2b {
  color: #ffffff;
}

.ExtendedText-colors_white_08 {
  color: #f2f2f7;
}

.ExtendedText-colors_whiteOrange_75 {
  color: #fefeec;
}

.ExtendedText-colors_whiteSpanish_12 {
  color: #e9e2bf;
}

.ExtendedText-colors_par_7e {
  color: #8c8c7e;
}

.ExtendedText-colors_parSecondary_fd {
  color: #595950;
}

.ExtendedText-colors_parTertiary_9c {
  color: #37362e;
}

.ExtendedText-colors_red_fd {
  color: #ff2717;
}

.ExtendedText-colors_redDark_ee {
  color: #b70000;
}

.ExtendedText-colors_yellow_9b {
  color: #feab34;
}

.ExtendedText-colors_orange_6e {
  color: #ee7000;
}

.ExtendedText-colors_cream_83 {
  color: #ffdd99;
}

.ExtendedText-colors_brown_32 {
  color: #cbac77;
}

.ExtendedText-colors_greenBright_87 {
  color: #80d43a;
}

.ExtendedText-colors_green_23 {
  color: #7ab300;
}

.ExtendedText-colors_greenDark_44 {
  color: #497212;
}

.ExtendedText-colors_blueBooster_6f {
  color: #ccffff;
}

.ExtendedText-colors_blueTeamkiller_51 {
  color: #09e2ff;
}

.ExtendedText-colors_cred_f4 {
  color: #ced9d9;
}

.ExtendedText-colors_gold_ec {
  color: #ffc363;
}

.ExtendedText-colors_bond_2f {
  color: #c9c9b6;
}

.ExtendedText-colors_prom_2a {
  color: #a29b70;
}

.ExtendedText-colors_bold_53 {
  font-weight: 700;
  opacity: 0.8;
}

.ExtendedText-colors_paragraph_05 {
  width: 100%;
  line-height: 80%;
}

.ExtendedText-renderers_noBreakWrapper_45 {
  display: flex;
  flex-wrap: nowrap;
}

.ExtendedText-renderers_lineBreak_c3 {
  width: 100%;
  height: 0;
}

.ExtendedText-renderers_newLine_20 {
  flex: 1;
  width: 100%;
}

.ExtendedText-renderers_word_2b {
  white-space: pre;
  overflow-wrap: normal;
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-pattern */
.HintSlide_e291e2ca {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1024rem;
  height: 600rem;
}

.HintSlide_hintIcon_3212061 {
  display: flex;
  width: 100%;
  height: 100%;
  background: no-repeat 50% / cover;
  position: absolute;
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 20%);
  mask-repeat: no-repeat;
}

.HintSlide_text_b4de5e23 {
  margin-bottom: 24rem;
  padding: 0 40rem;
  text-align: center;
}

.HintSlide_title_bc7ea965 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  color: rgba(236, 233, 225, 0.9);
  position: relative;
}

.HintSlide_description_87ee6a78 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  color: rgba(233, 231, 220, 0.5);
  position: relative;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HelpApp_a4ec8984 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.HelpApp_header_51c3d04b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.HelpApp_title_e1087338 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 4rem;
  color: rgba(236, 233, 225, 0.9);
}

.HelpApp_close_291dac86 {
  padding-bottom: 1rem;
  position: absolute;
  top: 17rem;
  right: 17rem;
}

.HelpApp_content_117fceca {
  display: flex;
  flex-direction: column;
  width: 1024rem;
  height: 720rem;
  background: url("R.images.halloween.gui.maps.icons.help.helpWindow_bg") no-repeat 0 0 / cover;
  position: relative;
}

.HelpApp_pagination_b9109639 {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-bottom: 20rem;
  position: relative;
  z-index: 1;
}

.HelpApp_slide_10c12dfe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.HelpApp_sizer_1fa63daa {
  display: flex;
  width: 894rem;
  height: 544rem;
}

.HelpApp_bottomBg_7e66c3a1 {
  display: flex;
  width: 100%;
  height: 60rem;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
}
