/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Header_fadeIn_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Header_fadeInThreeQuarters_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Header_fadeInHalf_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Header_fadeOut_65f475ba {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Header_fadeInWithScale_65f475ba {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Header_slideUp_65f475ba {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Header_scale_65f475ba {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Header_raysAppearance_65f475ba {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Header_rotate_65f475ba {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Header_reverse-rotate_65f475ba {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Header_glowAppearance_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Header_highlightAppearance_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Header_blink_65f475ba {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Header_slideUpIn_65f475ba {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Header_abbd0f2b {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50rem;
  color: #f2f2f7;
  position: relative;
}

.Header_season_a2462352 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaMedium .Header_season_a2462352 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
}

.Header_title_d739332c {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 8rem;
  margin-bottom: 9rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  text-align: center;
}
.mediaMedium .Header_title_d739332c {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.mediaExtraLarge .Header_title_d739332c {
  font-size: 73rem;
}

.Header_clanTag_21422167 {
  color: var(--clanTagColor);
}

.Header_position_f1273d63 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  height: 19rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  transition: opacity 0.2s linear;
}
.mediaMedium .Header_position_f1273d63 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaLarge .Header_position_f1273d63 {
  font-size: 20rem;
}
.Header_base__idle_65f475ba .Header_position_f1273d63 {
  opacity: 0;
}
.Header_base__showPosition_65f475ba .Header_position_f1273d63 {
  opacity: 1;
}

.Header_order_ef092aeb {
  color: #fd9;
}
.Header_order__icon_f792c636 {
  width: 44rem;
  height: 51rem;
  margin-left: -3rem;
  margin-top: -14rem;
  background: no-repeat center/contain;
}
.mediaMedium .Header_order__icon_f792c636 {
  margin-top: -13rem;
}
.mediaLarge .Header_order__icon_f792c636 {
  margin-top: -11rem;
}
.Header_order__first_e0921aa3 {
  background-image: url("R.images.comp7.gui.maps.icons.icons.first");
}
.Header_order__second_41995063 {
  background-image: url("R.images.comp7.gui.maps.icons.icons.second");
}
.Header_order__third_b11c6e47 {
  background-image: url("R.images.comp7.gui.maps.icons.icons.third");
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Point_fadeIn_d8b7e333 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Point_fadeInThreeQuarters_d8b7e333 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Point_fadeInHalf_d8b7e333 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Point_fadeOut_d8b7e333 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Point_fadeInWithScale_d8b7e333 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Point_slideUp_d8b7e333 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Point_scale_d8b7e333 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Point_raysAppearance_d8b7e333 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Point_rotate_d8b7e333 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Point_reverse-rotate_d8b7e333 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Point_glowAppearance_d8b7e333 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Point_highlightAppearance_d8b7e333 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Point_blink_d8b7e333 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Point_slideUpIn_d8b7e333 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Point_base__notAchieved_a641ca05 {
  transform: scale(0.94) translateY(-2rem);
}
.mediaExtraLarge .Point_base__notAchieved_a641ca05 {
  transform: scale(0.92) translateY(-2rem);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Rating_fadeIn_bece95f1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Rating_fadeInThreeQuarters_bece95f1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Rating_fadeInHalf_bece95f1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Rating_fadeOut_bece95f1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Rating_fadeInWithScale_bece95f1 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Rating_slideUp_bece95f1 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Rating_scale_bece95f1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Rating_raysAppearance_bece95f1 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Rating_rotate_bece95f1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Rating_reverse-rotate_bece95f1 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Rating_glowAppearance_bece95f1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Rating_highlightAppearance_bece95f1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Rating_blink_bece95f1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Rating_slideUpIn_bece95f1 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
/* should be percentage of screen width */
.Rating_74881404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310rem;
  height: 100%;
  position: relative;
}
.mediaMedium .Rating_74881404 {
  width: 325rem;
}
.mediaLarge .Rating_74881404 {
  width: 460rem;
}
.mediaExtraLarge .Rating_74881404 {
  width: 615rem;
}

.Rating_shine_b6446be3 {
  width: 1184rem;
  height: 1195rem;
  background: url("R.images.comp7.gui.maps.icons.icons.vertical_highlight") no-repeat center/contain;
  opacity: 0;
  position: absolute;
  top: 33%;
  left: 53%;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s linear;
}
.mediaMedium .Rating_shine_b6446be3 {
  width: 1566rem;
  height: 1580rem;
  top: 25%;
  left: 65%;
}
.mediaLarge .Rating_shine_b6446be3 {
  width: 1866rem;
  height: 1884rem;
}
.mediaExtraLarge .Rating_shine_b6446be3 {
  width: 2265rem;
  height: 2287rem;
  top: 32%;
  left: 60%;
}
.Rating_base__showRank_bece95f1 .Rating_shine_b6446be3 {
  opacity: 1;
}

.Rating_title_4e57e74a {
  margin-bottom: 4rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 22rem;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.mediaMedium .Rating_title_4e57e74a {
  margin-bottom: 10rem;
  font-size: 28rem;
}
.mediaExtraLarge .Rating_title_4e57e74a {
  font-size: 36rem;
}
.Rating_base__showRank_bece95f1 .Rating_title_4e57e74a {
  opacity: 1;
}

.Rating_subTitle_65e49874 {
  color: rgba(var(--color-general-primary-rgb), 0.5);
  opacity: 0;
  transition: opacity 0.3s linear;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaMedium .Rating_subTitle_65e49874 {
  transform: translateY(-6rem);
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaLarge .Rating_subTitle_65e49874 {
  margin-bottom: 35rem;
}
.mediaExtraLarge .Rating_subTitle_65e49874 {
  margin-bottom: 0;
  font-size: 20rem;
}
.Rating_base__showRank_bece95f1 .Rating_subTitle_65e49874 {
  opacity: 1;
}
.Rating_subTitle__hide_94a0dfbd {
  visibility: hidden;
}

.Rating_rankEmblemContainer_e82a8738 {
  display: flex;
  position: relative;
}

.Rating_rank_f871f1e3 {
  opacity: 0;
  transition: opacity 0.3s linear;
}
.Rating_base__showRank_bece95f1 .Rating_rank_f871f1e3 {
  opacity: 1;
}

.Rating_glowContainer_e5413912 {
  width: 450rem;
  height: 450rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s linear;
}
.mediaMedium .Rating_glowContainer_e5413912 {
  width: 600rem;
  height: 600rem;
}
.mediaLarge .Rating_glowContainer_e5413912 {
  width: 900rem;
  height: 900rem;
}
.mediaExtraLarge .Rating_glowContainer_e5413912 {
  width: 1300rem;
  height: 1300rem;
}
.Rating_base__showRank_bece95f1 .Rating_glowContainer_e5413912 {
  opacity: 1;
}

.Rating_glow_5360dda4 {
  filter: saturate(0.8);
}

.Rating_content_2fd1e492 {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.Rating_base__showRating_bece95f1 .Rating_content_2fd1e492 {
  opacity: 1;
}

.Rating_score_159267db {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 20rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 1;
}
.mediaMedium .Rating_score_159267db {
  margin-top: 28rem;
  font-size: 73rem;
}
.mediaLarge .Rating_score_159267db {
  margin-top: 20rem;
  font-size: 100rem;
}
.mediaExtraLarge .Rating_score_159267db {
  margin-top: 0;
}

.Rating_scoreDescription_18b5ecfd {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaMedium .Rating_scoreDescription_18b5ecfd {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.Rating_laceDivider_dae7e56d {
  width: 185rem;
  margin: 36rem 0;
}
.mediaMedium .Rating_laceDivider_dae7e56d {
  width: 290rem;
  margin: 30rem 0;
}
.mediaLarge .Rating_laceDivider_dae7e56d {
  margin: 40rem 0;
}

.Rating_seasonPoints_2103ad26 {
  display: flex;
  position: relative;
  z-index: 1;
}

.Rating_point_5b7c971c + .Rating_point_5b7c971c {
  margin-left: 6rem;
}
.mediaLarge .Rating_point_5b7c971c + .Rating_point_5b7c971c {
  margin-left: 10rem;
}

.Rating_pointDescription_61bc5bbc {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 6rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaMedium .Rating_pointDescription_61bc5bbc {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 10rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes HeaderSection_fadeIn_53cccdd0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes HeaderSection_fadeInThreeQuarters_53cccdd0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes HeaderSection_fadeInHalf_53cccdd0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes HeaderSection_fadeOut_53cccdd0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes HeaderSection_fadeInWithScale_53cccdd0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes HeaderSection_slideUp_53cccdd0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes HeaderSection_scale_53cccdd0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes HeaderSection_raysAppearance_53cccdd0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes HeaderSection_rotate_53cccdd0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes HeaderSection_reverse-rotate_53cccdd0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes HeaderSection_glowAppearance_53cccdd0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes HeaderSection_highlightAppearance_53cccdd0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes HeaderSection_blink_53cccdd0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes HeaderSection_slideUpIn_53cccdd0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.HeaderSection_77242b5b {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaLarge .HeaderSection_77242b5b {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.HeaderSection_line_9ff9a7df {
  width: 1rem;
  height: 2rem;
  background: no-repeat center/cover;
}
.HeaderSection_line__leftSide_7b657e5f {
  width: 8rem;
  background-image: url("R.images.comp7.gui.maps.icons.icons.venzel_8x2");
  opacity: 0.4;
}
.HeaderSection_line__left_e530d3ea {
  width: 15rem;
  height: 1rem;
  margin-top: -1rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.HeaderSection_line__right_12252ce6 {
  flex: 1 1 auto;
  height: 1rem;
  margin-top: -1rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.HeaderSection_line__rightSide_a7a3b84e {
  width: 8rem;
  background-image: url("R.images.comp7.gui.maps.icons.icons.venzel_8x2");
  opacity: 0.4;
  transform: rotateY(180deg);
}

.HeaderSection_text_7ce99c9f {
  margin: 0 10rem;
}
.mediaMedium .HeaderSection_text_7ce99c9f {
  margin-top: -2rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes LineDivider_fadeIn_57189d7f {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes LineDivider_fadeInThreeQuarters_57189d7f {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes LineDivider_fadeInHalf_57189d7f {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes LineDivider_fadeOut_57189d7f {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes LineDivider_fadeInWithScale_57189d7f {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes LineDivider_slideUp_57189d7f {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes LineDivider_scale_57189d7f {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes LineDivider_raysAppearance_57189d7f {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes LineDivider_rotate_57189d7f {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes LineDivider_reverse-rotate_57189d7f {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes LineDivider_glowAppearance_57189d7f {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes LineDivider_highlightAppearance_57189d7f {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes LineDivider_blink_57189d7f {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes LineDivider_slideUpIn_57189d7f {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.LineDivider_2b197ae0 {
  display: flex;
  width: 115rem;
}

.LineDivider_divider_b112bc14 {
  width: 8rem;
  height: 2rem;
  background: url("R.images.comp7.gui.maps.icons.icons.venzel_8x2") no-repeat center/cover;
}
.LineDivider_divider__center_7b6f39a7 {
  flex: 1 1 auto;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
}
.LineDivider_divider__right_169584a0 {
  transform: rotateY(180deg);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Card_fadeIn_f4c22d1c {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Card_fadeInThreeQuarters_f4c22d1c {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Card_fadeInHalf_f4c22d1c {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Card_fadeOut_f4c22d1c {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Card_fadeInWithScale_f4c22d1c {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Card_slideUp_f4c22d1c {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Card_scale_f4c22d1c {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Card_raysAppearance_f4c22d1c {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Card_rotate_f4c22d1c {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Card_reverse-rotate_f4c22d1c {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Card_glowAppearance_f4c22d1c {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Card_highlightAppearance_f4c22d1c {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Card_blink_f4c22d1c {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Card_slideUpIn_f4c22d1c {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Card_3b7c47bf {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 135rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaMedium .Card_3b7c47bf {
  max-width: 195rem;
}

.Card_icon_c599d364 {
  width: 80rem;
  height: 80rem;
  margin-bottom: -6rem;
  background: no-repeat center/contain;
}
.mediaMedium .Card_icon_c599d364 {
  margin-bottom: 1rem;
}

.Card_mainValue_5bcd3830 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 7rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaMedium .Card_mainValue_5bcd3830 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
}

.Card_mainDescription_27dfcf75 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaMedium .Card_mainDescription_27dfcf75 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.Card_divider_67c3e269 {
  width: 30rem;
  margin: 10rem 0;
}
.mediaMedium .Card_divider_67c3e269 {
  margin-top: 15rem;
}

.Card_additional_78599c02 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-secondary-rgb), 0.5);
}
.mediaMedium .Card_additional_78599c02 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Summary_fadeIn_e35a9ef7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Summary_fadeInThreeQuarters_e35a9ef7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Summary_fadeInHalf_e35a9ef7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Summary_fadeOut_e35a9ef7 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Summary_fadeInWithScale_e35a9ef7 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Summary_slideUp_e35a9ef7 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Summary_scale_e35a9ef7 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Summary_raysAppearance_e35a9ef7 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Summary_rotate_e35a9ef7 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Summary_reverse-rotate_e35a9ef7 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Summary_glowAppearance_e35a9ef7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Summary_highlightAppearance_e35a9ef7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Summary_blink_e35a9ef7 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Summary_slideUpIn_e35a9ef7 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Summary_42c29045 {
  display: flex;
  flex-direction: column;
}

.Summary_header_e40f2cee {
  margin-bottom: 3rem;
  transition: opacity 0.5s linear;
}
.mediaMedium .Summary_header_e40f2cee {
  margin-bottom: 13rem;
}
.mediaExtraLarge .Summary_header_e40f2cee {
  margin-bottom: 40rem;
}
.Summary_base__idle_e35a9ef7 .Summary_header_e40f2cee {
  opacity: 0;
}
.Summary_base__showSummaryTitle_e35a9ef7 .Summary_header_e40f2cee {
  opacity: 1;
}

.Summary_cards_2858b840 {
  display: flex;
  justify-content: space-between;
}

.Summary_card_3634c1dd {
  flex: 1 1 auto;
}

.Summary_separator_70d77682 {
  width: 1rem;
  height: 160rem;
  background-image: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.1), transparent);
  transition: opacity 0.5s linear;
}
.Summary_base__idle_e35a9ef7 .Summary_separator_70d77682 {
  opacity: 0;
}
.Summary_base__showVehicles_e35a9ef7 .Summary_separator_70d77682 {
  opacity: 1;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes VehicleCard_fadeIn_c56bbe58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleCard_fadeInThreeQuarters_c56bbe58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes VehicleCard_fadeInHalf_c56bbe58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes VehicleCard_fadeOut_c56bbe58 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes VehicleCard_fadeInWithScale_c56bbe58 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes VehicleCard_slideUp_c56bbe58 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes VehicleCard_scale_c56bbe58 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes VehicleCard_raysAppearance_c56bbe58 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes VehicleCard_rotate_c56bbe58 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes VehicleCard_reverse-rotate_c56bbe58 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes VehicleCard_glowAppearance_c56bbe58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleCard_highlightAppearance_c56bbe58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes VehicleCard_blink_c56bbe58 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehicleCard_slideUpIn_c56bbe58 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.VehicleCard_6e479d72 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.VehicleCard_back_a983d9f0 {
  color: #fff;
  font-size: 220rem;
  font-weight: 700;
  position: absolute;
  top: -70rem;
  left: 23rem;
  mask-image: linear-gradient(0deg, transparent 27%, #000 200%);
  mask-repeat: no-repeat;
}
.mediaMedium .VehicleCard_back_a983d9f0 {
  font-size: 260rem;
  top: -75rem;
  left: 15rem;
}
.mediaLarge .VehicleCard_back_a983d9f0 {
  font-size: 380rem;
  top: -110rem;
  left: 20rem;
}

.VehicleCard_params_80d347eb {
  width: 200rem;
  padding-left: 94rem;
}
.mediaMedium .VehicleCard_params_80d347eb {
  width: 250rem;
  padding-left: 100rem;
}
.mediaLarge .VehicleCard_params_80d347eb {
  width: 350rem;
  padding-left: 140rem;
}

.VehicleCard_vehicleName_8e56a0d8 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  width: 180rem;
  margin-bottom: 10rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaMedium .VehicleCard_vehicleName_8e56a0d8 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  width: 250rem;
  margin-bottom: 5rem;
}
.mediaLarge .VehicleCard_vehicleName_8e56a0d8 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 15rem;
}

.VehicleCard_propsWrapper_920c0c92 {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.VehicleCard_propsWrapper_920c0c92 + .VehicleCard_propsWrapper_920c0c92 {
  margin-top: 5rem;
}
.mediaMedium .VehicleCard_propsWrapper_920c0c92 + .VehicleCard_propsWrapper_920c0c92 {
  margin-top: 10rem;
}

.VehicleCard_propsName_84760f10 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaMedium .VehicleCard_propsName_84760f10 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.VehicleCard_separator_46dce3cf {
  flex: 1 1 auto;
  height: 1rem;
  margin: 0 5rem 3rem;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 2rem, transparent 2rem);
  background-size: 4rem 1rem;
}

.VehicleCard_value_60e6abc7 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaMedium .VehicleCard_value_60e6abc7 {
  font-size: 20rem;
}

.VehicleCard_icon_22839420 {
  width: 180rem;
  height: 135rem;
  margin-top: 0;
  background: no-repeat center/cover;
}
.mediaMedium .VehicleCard_icon_22839420 {
  width: 240rem;
  height: 180rem;
  margin-top: -10rem;
}
.mediaLarge .VehicleCard_icon_22839420 {
  width: 360rem;
  height: 270rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Vehicles_fadeIn_7f03fbab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Vehicles_fadeInThreeQuarters_7f03fbab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Vehicles_fadeInHalf_7f03fbab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Vehicles_fadeOut_7f03fbab {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Vehicles_fadeInWithScale_7f03fbab {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Vehicles_slideUp_7f03fbab {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Vehicles_scale_7f03fbab {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Vehicles_raysAppearance_7f03fbab {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Vehicles_rotate_7f03fbab {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Vehicles_reverse-rotate_7f03fbab {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Vehicles_glowAppearance_7f03fbab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Vehicles_highlightAppearance_7f03fbab {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Vehicles_blink_7f03fbab {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Vehicles_slideUpIn_7f03fbab {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Vehicles_1d0249fc {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Vehicles_header_fbbbd526 {
  margin-bottom: 19rem;
  transition: opacity 0.5s linear;
}
.mediaMedium .Vehicles_header_fbbbd526 {
  margin-bottom: 25rem;
}
.mediaLarge .Vehicles_header_fbbbd526 {
  margin-bottom: 38rem;
}
.mediaExtraLarge .Vehicles_header_fbbbd526 {
  margin-bottom: 85rem;
}
.Vehicles_base__idle_7f03fbab .Vehicles_header_fbbbd526 {
  opacity: 0;
}
.Vehicles_base__showVehiclesTitle_7f03fbab .Vehicles_header_fbbbd526 {
  opacity: 1;
}

.Vehicles_cards_92dc1898 {
  display: flex;
  justify-content: space-between;
  padding-left: 18rem;
  padding-right: 50rem;
}
.mediaMedium .Vehicles_cards_92dc1898 {
  padding-left: 30rem;
  padding-right: 35rem;
}
.mediaLarge .Vehicles_cards_92dc1898 {
  margin-left: -43rem;
  padding-left: 0rem;
  padding-right: 5rem;
}

.Vehicles_vehiclePlace_514fd3fa {
  width: 1000rem;
  height: 171rem;
  background: url("R.images.comp7.gui.maps.icons.statistics.vehicle_place") no-repeat center/contain;
  position: absolute;
  bottom: -80rem;
  left: 50%;
  transform: translateX(-50%);
}
.mediaMedium .Vehicles_vehiclePlace_514fd3fa {
  width: 1200rem;
  height: 205rem;
  bottom: -85rem;
}
.mediaLarge .Vehicles_vehiclePlace_514fd3fa {
  width: 1400rem;
  height: 240rem;
  bottom: -85rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
/* should be percentage of screen width */
.App_4f31a9b9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #0d0d0c url("R.images.comp7.gui.maps.icons.backgrounds.season_statistics") no-repeat center/cover;
  overflow: hidden;
}

.App_header_fbe9aec0 {
  padding-top: 50rem;
}
.mediaExtraLarge .App_header_fbe9aec0 {
  padding-top: 100rem;
}

.App_content_caddca93 {
  display: flex;
  align-items: center;
  flex: 1;
  width: 1167rem;
  margin-bottom: 25rem;
}
.mediaMedium .App_content_caddca93 {
  width: 1370rem;
  margin-bottom: 20rem;
}
.mediaLarge .App_content_caddca93 {
  width: 1660rem;
  margin-bottom: 12rem;
}
.mediaExtraLarge .App_content_caddca93 {
  width: 1860rem;
  margin-bottom: 60rem;
}

.App_rating_d0744c86 {
  margin-top: -28rem;
  margin-right: 40rem;
}
.mediaMedium .App_rating_d0744c86 {
  margin-top: -20rem;
}
.mediaLarge .App_rating_d0744c86 {
  margin-right: 110rem;
}
.mediaExtraLarge .App_rating_d0744c86 {
  margin-top: 32rem;
  margin-right: 150rem;
}

.App_statistics_1c6a7f32 {
  flex: 1 1 auto;
}

.App_summary_3f985a00 {
  margin-bottom: 47rem;
}
.mediaMedium .App_summary_3f985a00 {
  margin-bottom: 52rem;
}
.mediaLarge .App_summary_3f985a00 {
  margin-bottom: 71rem;
}
.mediaExtraLarge .App_summary_3f985a00 {
  margin-bottom: 134rem;
}

.App_buttonWrapper_fa4dbb9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50rem;
  transition: opacity 0.3s linear;
}
.mediaLarge .App_buttonWrapper_fa4dbb9 {
  padding-bottom: 80rem;
}
.mediaExtraLarge .App_buttonWrapper_fa4dbb9 {
  padding-bottom: 80rem;
}
.App_base__idle_0 .App_buttonWrapper_fa4dbb9 {
  opacity: 0;
}
.App_base__showFooter_0 .App_buttonWrapper_fa4dbb9 {
  opacity: 1;
}

.App_button_5120fb02 {
  min-width: 180rem;
}

.App_close_70a0f3c1 {
  position: absolute;
  top: 40rem;
  right: 40rem;
}
.mediaExtraLarge .App_close_70a0f3c1 {
  top: 80rem;
  right: 80rem;
}