/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Sizes of the flag have to be in pixels. This view is rendered 
on a texture and its positioning and sizes should be managed by the texture and camera  */
/* stylelint-disable declaration-property-unit-disallowed-list */
.App_cb654453 {
  display: flex;
}

.App_flag_4ed23b16 {
  width: 1800px;
  height: 1000px;
  opacity: 1;
}
.App_flag__hidden_8afb9008 {
  opacity: 0;
}