.TooltipDecorator_base_c9 {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.images.gui.maps.icons.tooltip.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

.Content_base_e0 {
  display: flex;
  flex-direction: column;
  width: 357rem;
  padding: 15rem 20rem 18rem;
  background-image: linear-gradient(
    180deg,
    rgba(51, 51, 41, 0.3) 0%,
    transparent 16%,
    transparent 88%,
    rgba(51, 51, 41, 0.1) 100%
  );
}

.Content_title_3f {
  color: #e9e2bf;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 5rem;
}

.Content_description_56 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.Content_icon_0b {
  width: 16rem;
  height: 16rem;
  margin-top: 1rem;
  margin-right: 6rem;
  background: url("R.images.gui.maps.icons.library.attentionIcon") no-repeat center / contain;
}

.Content_amountLeftWrapper_72 {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.Content_amountLeft_d8 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-right: 5rem;
}

.Content_divider_2a,
.Content_dividerBottom_dc {
  width: 100%;
  height: 9rem;
  background: url("R.images.white_tiger.gui.maps.icons.carousel.dividerDotty") no-repeat center /
    contain;
  position: absolute;
  top: -4rem;
  left: 0;
}

.Content_dividerBottom_dc {
  top: auto;
  bottom: -4rem;
}

.Content_infoWrapper_6f {
  color: #cbac77;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 10rem;
  padding: 17rem 20rem 18rem;
  background: linear-gradient(
    270deg,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 65%,
    transparent 100%
  );
  position: relative;
}

.Content_amount_dc {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  height: 24rem;
  padding-right: 24rem;
  background: url("R.images.white_tiger.gui.maps.icons.keys.boss_24") no-repeat right center /
    contain;
  line-height: 24rem;
}

.Content_reward_e9 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-wrap: wrap;
  width: 230rem;
  padding-top: 3rem;
}

.Content_howToGetTitle_39 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  margin-top: 20rem;
}
