/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Point_root_d8b7e333,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Point_38360539 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Point_reason_34a1e661 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex: 0 0;
  min-width: 0;
  color: var(--color-general-primary);
  line-height: 1em;
  opacity: 0.5;
}
.mediaMedium .Point_reason_34a1e661 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLargeWidth .Point_reason_34a1e661 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}

.Point_score_d9bae1da {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  flex: 1 0;
  padding-left: 2rem;
  color: var(--color-currency-free-experience);
  white-space: nowrap;
  position: relative;
}
.mediaMedium .Point_score_d9bae1da {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}
.Point_base__completed_d8b7e333 .Point_score_d9bae1da {
  color: var(--color-status-done);
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#App_root_0,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.App_progress_6ba3c5c1 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  line-height: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0;
  color: var(--color-general-primary);
  opacity: 0.5;
}
.mediaMedium .App_progress_6ba3c5c1 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  line-height: 1;
}

.App_progressCurrent_f0b59ee5 {
  position: relative;
}

.App_progressWrap_2f55a205 {
  margin-top: 8rem;
}

.App_pointsTitle_50ceeba3 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  line-height: 1;
  color: var(--color-general-primary);
  opacity: 0.5;
}
.mediaMedium .App_pointsTitle_50ceeba3 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  line-height: 1;
}

.App_pointsWrap_1d075280 {
  margin-top: 8rem;
  margin-bottom: -17rem;
  color: var(--color-general-primary);
  padding-bottom: 15rem;
  position: relative;
}

.App_pointsBackground_513f2640 {
  position: absolute;
  top: 4rem;
  height: 77rem;
  left: 0;
  right: 0;
  background-image: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.2) 50%, transparent 100%);
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}

.App_pointsDivider_39585678 {
  margin-bottom: 12rem;
}

.App_pointsLine_aa4edbb {
  display: flex;
  align-items: center;
}

.App_pointBreak_dd5a72b {
  margin-left: 5rem;
  margin-right: 5rem;
  color: var(--color-general-primary);
  opacity: 0.5;
  line-height: 1;
}