/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Background_root_26effab7,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Background_973373ea, .Background_blur_51a40975, .Background_vignette_1469aac7 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.Background_973373ea {
  background: no-repeat 50%/cover;
}
.Background_base__blur_d31c6d6 {
  filter: blur(12px);
}
.Background_base__grayscale_63db4de6 {
  filter: grayscale(1);
}
.Background_base__blur_d31c6d6.Background_base__grayscale_63db4de6 {
  filter: blur(10px) grayscale(1);
}

.Background_blur_51a40975 {
  background: no-repeat 50%/cover;
  filter: blur(12px);
}

.Background_vignette_1469aac7 {
  background: url("R.images.story_mode.gui.maps.icons.common.vignette") no-repeat 50%/100% 100%;
}

.Background_preloader_d60dcdcb {
  display: none;
}