/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
/* should be percentage of screen width */
.App_b147e243 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 20rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  line-height: 1;
  overflow: hidden;
}

.App_rankContent_59a9c25 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App_rankContainer_0,
.App_qualificationContainer_aa4edbb {
  display: flex;
  align-items: center;
}

.App_heading_34d4f2ed {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-left: 4rem;
}
.App_heading__qualification_c6f7a0eb {
  color: #747476;
}
.App_heading__rank_first_dbb6a66d {
  color: #75777b;
}
.App_heading__rank_second_be976528 {
  color: #896654;
}
.App_heading__rank_third_a10a97b6 {
  color: #99a2af;
}
.App_heading__rank_fourth_4599dcb9 {
  color: #d3ae49;
}
.App_heading__rank_fifth_5a6a5b47 {
  color: #fffce3;
}
.App_heading__rank_sixth_20cb1b37 {
  color: #bb35d1;
}
.App_heading__empty_a9335078 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.App_ratingDiffText_7264b78f {
  flex-wrap: nowrap;
  margin-top: 4rem;
  color: var(--color-general-primary);
}

.App_diff__negative_542a7b52 {
  color: #c13816;
}
.App_diff__positive_a5f674f {
  color: #16c116;
}

.App_penaltyContainer_45b37c0b {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.App_penaltyIcon_6ee6018b {
  width: 25rem;
  height: 22rem;
  position: relative;
  z-index: 0;
}
.App_penaltyIcon_6ee6018b::before {
  width: 111rem;
  height: 58rem;
  background: url("R.images.comp7.gui.maps.icons.icons.rankInactivity_111x58") no-repeat
    center/cover;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.App_rankInactivityText_a9a276ba {
  display: flex;
  align-items: center;
  color: var(--color-general-primary);
  position: relative;
}

.App_penaltyText_5bb9de7c {
  display: flex;
  align-items: center;
  color: rgb(193, 56, 22);
}

.App_day_bada1805 {
  flex-wrap: nowrap;
  margin-top: 6rem;
}
