/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes VehicleCount_fadeOut_6d87b5ec {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes VehicleCount_fadeIn_6d87b5ec {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes VehicleCount_fadeInWithScale_6d87b5ec {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes VehicleCount_slideUp_6d87b5ec {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes VehicleCount_slideUpCenter_6d87b5ec {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes VehicleCount_blink_6d87b5ec {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
.VehicleCount_f16f129a {
  display: flex;
  position: relative;
}

.VehicleCount_text_847957ff {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #b2afab;
  font-size: 18rem;
  line-height: 20rem;
  position: relative;
}
.VehicleCount_text__alert_c971b9a2 {
  color: #ff861b;
}
.VehicleCount_text__glow_6d87b5ec::before {
  width: 500rem;
  height: 90rem;
  background: url("R.images.resource_well.gui.maps.icons.resourcesLoading.glow") no-repeat center/contain;
  opacity: 0.8;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.VehicleCount_counter_f9655822 {
  color: #ffe4c0;
  font-size: 22rem;
  font-weight: 700;
  text-shadow: 0 0 12rem rgba(255, 61, 0, 0.32), 0 0 10rem rgba(255, 177, 86, 0.24), 0 0 6rem rgba(255, 228, 159, 0.16);
  position: relative;
}
.VehicleCount_counter__red_5e767458 {
  color: #ffe8cc;
  text-shadow: 0 0 15rem #ee4d18, 0 0 4rem #ff2a00;
}
.VehicleCount_counter__red_5e767458::before {
  width: 600rem;
  height: 170rem;
  background: url("R.images.resource_well.gui.maps.icons.resourcesLoading.counter_bg") no-repeat center/contain;
  opacity: 0.6;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.VehicleCount_alertIcon_7ba48020 {
  display: flex;
  width: 29rem;
  height: 27rem;
  margin-right: -2rem;
  background: url("R.images.resource_well.gui.maps.icons.resourcesLoading.icon_alert") no-repeat center/contain;
}

.VehicleCount_counterWrapper_be9b1706 {
  margin-left: 3rem;
  margin-bottom: 1rem;
  position: relative;
}

.VehicleCount_animations__enter_b9eb39ba {
  opacity: 0;
  animation: VehicleCount_fadeIn_6d87b5ec 0.3s ease-in 0s forwards;
}
.VehicleCount_animations__exit_afc4be7d {
  opacity: 1;
  animation: VehicleCount_fadeOut_6d87b5ec 0.3s ease-out 0s forwards;
}