/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BattleResultDifficultyInfo_root_a2037a75,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BattleResultDifficultyInfo_a146fa7e {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  bottom: 102rem;
}
.mediaMedium .BattleResultDifficultyInfo_a146fa7e {
  bottom: 135rem;
}
.mediaLarge .BattleResultDifficultyInfo_a146fa7e {
  bottom: 143rem;
}

.BattleResultDifficultyInfo_icon_6393c396 {
  width: 16rem;
  height: 16rem;
  background: url("R.images.gui.maps.icons.dogtags.icons.icon_info") no-repeat 50%/contain;
}
.mediaMedium .BattleResultDifficultyInfo_icon_6393c396 {
  margin-top: 3rem;
}

.BattleResultDifficultyInfo_text_ad454610 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
}
.mediaMedium .BattleResultDifficultyInfo_text_ad454610 {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BattleResultMissionProgress_root_5b839bdf,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BattleResultMissionProgress_baecd22d {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 128rem;
  position: relative;
}
.mediaMedium .BattleResultMissionProgress_baecd22d {
  width: 194rem;
}
.mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 {
  width: 128rem;
}
.mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 {
  width: 194rem;
}

.BattleResultMissionProgress_icon_5b3e6120 {
  width: 176rem;
  height: 176rem;
  margin: -44rem 0 -63rem;
  background: no-repeat 50%/contain;
}
.mediaMedium .BattleResultMissionProgress_icon_5b3e6120 {
  width: 264rem;
  height: 264rem;
  margin: -66rem 0 -94rem;
}
.mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_icon_5b3e6120 {
  width: 176rem;
  height: 176rem;
  margin: -47rem 0 -63rem;
}
.mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_icon_5b3e6120 {
  width: 264rem;
  height: 264rem;
  margin: -66rem 0 -94rem;
}

.BattleResultMissionProgress_stat_3d84d803 {
  display: flex;
  position: absolute;
  top: 76rem;
}
.mediaMedium .BattleResultMissionProgress_stat_3d84d803 {
  top: 105rem;
}
html[lang=ja] .mediaMedium .BattleResultMissionProgress_stat_3d84d803, html[lang=ko] .mediaMedium .BattleResultMissionProgress_stat_3d84d803, html[lang=zh_tw] .mediaMedium .BattleResultMissionProgress_stat_3d84d803, html[lang=zh_sg] .mediaMedium .BattleResultMissionProgress_stat_3d84d803, html[lang=zh_cn] .mediaMedium .BattleResultMissionProgress_stat_3d84d803, html[lang=vi] .mediaMedium .BattleResultMissionProgress_stat_3d84d803, html[lang=th] .mediaMedium .BattleResultMissionProgress_stat_3d84d803 {
  top: 104rem;
}
.mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803 {
  top: 74rem;
}
html[lang=ja] .mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=ko] .mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=zh_tw] .mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=zh_sg] .mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=zh_cn] .mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=vi] .mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=th] .mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803 {
  top: 74rem;
}
.mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803 {
  top: 103rem;
}
html[lang=ja] .mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=ko] .mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=zh_tw] .mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=zh_sg] .mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=zh_cn] .mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=vi] .mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803, html[lang=th] .mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_stat_3d84d803 {
  top: 103rem;
}

.BattleResultMissionProgress_value_95229e27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: -8rem;
  color: #fd9;
}
.mediaMedium .BattleResultMissionProgress_value_95229e27 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
}
.mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_value_95229e27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
}
.mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_value_95229e27 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
}

.BattleResultMissionProgress_slash_2ca505a6 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0 3rem;
  color: #fd9;
}
.mediaMedium .BattleResultMissionProgress_slash_2ca505a6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: -2rem 3rem 0;
}
.mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_slash_2ca505a6 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_slash_2ca505a6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}

.BattleResultMissionProgress_total_cc1b12a2 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: -2rem;
  color: #fd9;
}
.mediaMedium .BattleResultMissionProgress_total_cc1b12a2 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}
html[lang=ja] .mediaMedium .BattleResultMissionProgress_total_cc1b12a2, html[lang=ko] .mediaMedium .BattleResultMissionProgress_total_cc1b12a2, html[lang=zh_tw] .mediaMedium .BattleResultMissionProgress_total_cc1b12a2, html[lang=zh_sg] .mediaMedium .BattleResultMissionProgress_total_cc1b12a2, html[lang=zh_cn] .mediaMedium .BattleResultMissionProgress_total_cc1b12a2, html[lang=vi] .mediaMedium .BattleResultMissionProgress_total_cc1b12a2, html[lang=th] .mediaMedium .BattleResultMissionProgress_total_cc1b12a2 {
  margin-top: -1rem;
}
.mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_total_cc1b12a2 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_total_cc1b12a2 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}

.BattleResultMissionProgress_name_67da33ea {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  justify-content: center;
  width: 90rem;
  margin-top: 30rem;
  color: #fd9;
  line-height: 1;
  text-align: center;
  opacity: 0.8;
}
.mediaMedium .BattleResultMissionProgress_name_67da33ea {
  color: #fd9;
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  width: 130rem;
  margin-top: 39rem;
  line-height: 1;
}
.mediaMedium .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_name_67da33ea {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 90rem;
  margin-top: 30rem;
  line-height: 1;
}
.mediaExtraLarge .BattleResultMissionProgress_base__withRewards_c4383b00 .BattleResultMissionProgress_name_67da33ea {
  color: #fd9;
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  width: 130rem;
  margin-top: 39rem;
  line-height: 1;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#NumberAnimation_root_c7159031,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-pattern */
.NumberAnimation_250a7925 {
  display: flex;
  color: #f2f2f7;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.NumberAnimation_base__finalBounce_87358a3 {
  animation: NumberAnimation_bounce_c7159031 0.2s ease-in-out;
}

@keyframes NumberAnimation_bounce_c7159031 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BattleResultProgress_root_c651441d,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BattleResultProgress_ec5e085e {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 128rem;
  z-index: 2;
}
.mediaMedium .BattleResultProgress_ec5e085e {
  width: 194rem;
}
.mediaMedium .BattleResultProgress_base__withRewards_81e18a4d {
  width: 128rem;
}
.mediaExtraLarge .BattleResultProgress_base__withRewards_81e18a4d {
  width: 194rem;
}

.BattleResultProgress_icon_52dffe27 {
  width: 90rem;
  height: 90rem;
  background: no-repeat 50%/contain;
}
.mediaMedium .BattleResultProgress_icon_52dffe27 {
  width: 128rem;
  height: 128rem;
}
.mediaMedium .BattleResultProgress_base__withRewards_81e18a4d .BattleResultProgress_icon_52dffe27 {
  width: 90rem;
  height: 90rem;
}
.mediaExtraLarge .BattleResultProgress_base__withRewards_81e18a4d .BattleResultProgress_icon_52dffe27 {
  width: 128rem;
  height: 128rem;
}

.BattleResultProgress_value_adf24ead {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin: -22rem 0 30rem;
  color: #f2f2f7;
}
.mediaMedium .BattleResultProgress_value_adf24ead {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: -32rem;
}
.mediaMedium .BattleResultProgress_base__withRewards_81e18a4d .BattleResultProgress_value_adf24ead {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin: -24rem 0 30rem;
}
.mediaExtraLarge .BattleResultProgress_base__withRewards_81e18a4d .BattleResultProgress_value_adf24ead {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: -32rem;
}

.BattleResultProgress_name_4bc4abe3 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 90rem;
  margin-top: -28rem;
  color: #f2f2f7;
  line-height: 1;
  opacity: 0.8;
}
.mediaMedium .BattleResultProgress_name_4bc4abe3 {
  color: #f2f2f7;
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  width: 130rem;
  margin-top: -20rem;
  line-height: 1;
}
.mediaMedium .BattleResultProgress_base__withRewards_81e18a4d .BattleResultProgress_name_4bc4abe3 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 90rem;
  margin-top: -28rem;
  line-height: 1;
}
.mediaExtraLarge .BattleResultProgress_base__withRewards_81e18a4d .BattleResultProgress_name_4bc4abe3 {
  color: #f2f2f7;
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  width: 130rem;
  margin-top: -20rem;
  line-height: 1;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MainReward_root_c882e9f4,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.MainReward_3672511f {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 2rem 0 -2rem;
}
.mediaMedium .MainReward_3672511f {
  margin: 0 5rem 0 -20rem;
}

.MainReward_value_c5eed265 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 1rem 2rem 0 0;
  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
}
.mediaMedium .MainReward_value_c5eed265 {
  margin-top: 0;
  font-size: 70rem;
  font-weight: 600;
}
.MainReward_value__freeXP_87ee9b0b {
  color: var(--color-currency-free-experience);
}
.MainReward_value__credits_c9a9c7cb {
  color: var(--color-currency-credits);
}

.MainReward_icon_9c43dcbe {
  margin-top: 2rem;
  background: no-repeat 50%/contain;
}
.mediaMedium .MainReward_icon_9c43dcbe {
  margin-top: 0;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BattleResultRewards_root_59a045ce,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BattleResultRewards_3f70ae08 {
  width: 100vw;
  height: 285rem;
  margin-top: -28rem;
  position: relative;
}
.mediaMedium .BattleResultRewards_3f70ae08 {
  margin-top: 105rem;
}
.mediaLarge .BattleResultRewards_3f70ae08 {
  margin-top: 156rem;
}
.mediaExtraLarge .BattleResultRewards_3f70ae08 {
  margin-top: 254rem;
}

.BattleResultRewards_rewards_d093c89b {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 93rem;
  z-index: 2;
}
.mediaMedium .BattleResultRewards_rewards_d093c89b {
  top: -21rem;
}
.mediaLarge .BattleResultRewards_rewards_d093c89b {
  top: 28rem;
}
.mediaExtraLarge .BattleResultRewards_rewards_d093c89b {
  top: -62rem;
}

.BattleResultRewards_main_8b0daf4a {
  display: flex;
  margin-top: 6rem;
}

.BattleResultRewards_other_b7adee94 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16rem;
}
.mediaMedium .BattleResultRewards_other_b7adee94 {
  margin-top: 29rem;
}

.BattleResultRewards_otherText_60f4210e {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 13rem;
  color: var(--color-general-secondary);
  text-align: center;
}
.mediaMedium .BattleResultRewards_otherText_60f4210e {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 22rem;
}
.mediaLarge .BattleResultRewards_otherText_60f4210e {
  margin-top: 20rem;
}

.BattleResultRewards_otherRewards_36876b0d {
  margin: -5rem 16rem 0;
}
.mediaMedium .BattleResultRewards_otherRewards_36876b0d {
  margin: -23rem 12rem 0;
}

.BattleResultRewards_ribbon_f399ddf6 {
  width: 1920rem;
  height: 520rem;
  background: url("R.images.story_mode.gui.maps.icons.battleResult.ribbon") no-repeat 50%/contain;
  position: absolute;
  top: -70rem;
  left: 50%;
  transform: translate(-50%) scale(0.7);
}
.mediaMedium .BattleResultRewards_ribbon_f399ddf6 {
  top: -170rem;
  transform: translate(-50%) scale(0.84);
}
.mediaLarge .BattleResultRewards_ribbon_f399ddf6 {
  top: -132rem;
  transform: translate(-50%);
}
.mediaExtraLarge .BattleResultRewards_ribbon_f399ddf6 {
  top: -220rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BattleResultVehicle_root_dc524451,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BattleResultVehicle_b99ec26b {
  position: absolute;
  right: 0;
  bottom: 0;
}

.BattleResultVehicle_back_92a232ac {
  width: 550rem;
  height: 232rem;
  position: absolute;
  right: -70rem;
  bottom: 0;
}
.mediaSmall .BattleResultVehicle_back_92a232ac {
  right: -20rem;
}
.mediaMedium .BattleResultVehicle_back_92a232ac {
  right: 0;
}
.mediaLarge .BattleResultVehicle_back_92a232ac {
  width: 900rem;
  height: 378rem;
  right: -90rem;
}
.mediaExtraLarge .BattleResultVehicle_back_92a232ac {
  right: 0;
}
.BattleResultVehicle_back_92a232ac {
  background: url("R.images.story_mode.gui.maps.icons.battleResult.vehicle.background_lose") no-repeat 50%/contain;
}
.mediaLarge .BattleResultVehicle_back_92a232ac {
  background-image: url("R.images.story_mode.gui.maps.icons.battleResult.vehicle.large.background_lose");
}
.BattleResultVehicle_base__victory_dc524451 .BattleResultVehicle_back_92a232ac {
  background-image: url("R.images.story_mode.gui.maps.icons.battleResult.vehicle.background_win");
}
.mediaLarge .BattleResultVehicle_base__victory_dc524451 .BattleResultVehicle_back_92a232ac {
  background-image: url("R.images.story_mode.gui.maps.icons.battleResult.vehicle.large.background_win");
}

.BattleResultVehicle_fore_b539c6eb {
  width: 550rem;
  height: 232rem;
  position: absolute;
  right: -70rem;
  bottom: 0;
}
.mediaSmall .BattleResultVehicle_fore_b539c6eb {
  right: -20rem;
}
.mediaMedium .BattleResultVehicle_fore_b539c6eb {
  right: 0;
}
.mediaLarge .BattleResultVehicle_fore_b539c6eb {
  width: 900rem;
  height: 378rem;
  right: -90rem;
}
.mediaExtraLarge .BattleResultVehicle_fore_b539c6eb {
  right: 0;
}
.BattleResultVehicle_fore_b539c6eb {
  background: url("R.images.story_mode.gui.maps.icons.battleResult.vehicle.foreground_lose") no-repeat 50%/contain;
}
.mediaLarge .BattleResultVehicle_fore_b539c6eb {
  background-image: url("R.images.story_mode.gui.maps.icons.battleResult.vehicle.large.foreground_lose");
}
.BattleResultVehicle_base__victory_dc524451 .BattleResultVehicle_fore_b539c6eb {
  background-image: url("R.images.story_mode.gui.maps.icons.battleResult.vehicle.foreground_win");
}
.mediaLarge .BattleResultVehicle_base__victory_dc524451 .BattleResultVehicle_fore_b539c6eb {
  background-image: url("R.images.story_mode.gui.maps.icons.battleResult.vehicle.large.foreground_win");
}

.BattleResultVehicle_vehicle_d121788b {
  width: 360rem;
  height: 270rem;
  background: no-repeat 50%/contain;
  position: absolute;
  right: 16rem;
  bottom: -45rem;
}
.mediaSmall .BattleResultVehicle_vehicle_d121788b {
  right: 80rem;
}
.mediaMedium .BattleResultVehicle_vehicle_d121788b {
  right: 100rem;
}
.mediaLarge .BattleResultVehicle_vehicle_d121788b {
  width: 600rem;
  height: 450rem;
  right: 60rem;
  bottom: -82rem;
}
.mediaExtraLarge .BattleResultVehicle_vehicle_d121788b {
  right: 150rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BattleResultViewApp_root_bb1c3ebb,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BattleResultViewApp_3d15c64a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.BattleResultViewApp_sparks_2e6ba604 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("R.images.story_mode.gui.maps.icons.battleResult.sparks") no-repeat 50%/cover;
  mix-blend-mode: screen;
}

.BattleResultViewApp_shatter_1f183d86 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  pointer-events: none;
}

.BattleResultViewApp_back_9ae7b818 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("R.images.story_mode.gui.maps.icons.battleResult.dark_lose") 50%/100%;
}
.BattleResultViewApp_base__victory_bb1c3ebb .BattleResultViewApp_back_9ae7b818 {
  background-image: url("R.images.story_mode.gui.maps.icons.battleResult.dark_win");
}

.BattleResultViewApp_shadowCenter_a342e1b2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500rem;
  height: 1100rem;
  background: url("R.images.story_mode.gui.maps.icons.battleResult.text_back") no-repeat 50%/contain;
}

.BattleResultViewApp_titleGlow_c8f61e8e {
  width: 1920rem;
  height: 660rem;
  background: url("R.images.story_mode.gui.maps.icons.common.defeat_back") no-repeat 50%/100%;
  mix-blend-mode: screen;
  position: absolute;
}
.BattleResultViewApp_base__victory_bb1c3ebb .BattleResultViewApp_titleGlow_c8f61e8e {
  background-image: url("R.images.story_mode.gui.maps.icons.common.victory_back");
}

.BattleResultViewApp_flash_d4054592 {
  width: 632rem;
  height: 125rem;
  margin-top: -130rem;
  background: url("R.images.story_mode.gui.maps.icons.battleResult.flash") no-repeat 50%/contain;
  opacity: 0;
  mix-blend-mode: screen;
}
.mediaMedium .BattleResultViewApp_flash_d4054592 {
  margin-top: -126rem;
}
.mediaLarge .BattleResultViewApp_flash_d4054592 {
  margin-top: -120rem;
}
.mediaExtraLarge .BattleResultViewApp_flash_d4054592 {
  margin-top: -166rem;
}

.BattleResultViewApp_container_8c0feb4a {
  z-index: 0;
}

.BattleResultViewApp_title_61d55f9d {
  font-size: 80rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 65rem;
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 5%, black 65%);
  mask-repeat: no-repeat;
  color: #f2f2f7;
}
.mediaMedium .BattleResultViewApp_title_61d55f9d {
  color: #f2f2f7;
  font-size: 96rem;
  font-weight: 700;
  line-height: 1;
}
.mediaLarge .BattleResultViewApp_title_61d55f9d {
  color: #f2f2f7;
  font-size: 110rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 91rem;
}
.mediaExtraLarge .BattleResultViewApp_title_61d55f9d {
  color: #f2f2f7;
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 108rem;
}

.BattleResultViewApp_subTitle_8ddbd136 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: -11rem;
  color: #f2f2f7;
  font-weight: 600;
}
.mediaMedium .BattleResultViewApp_subTitle_8ddbd136 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: -5rem;
  font-weight: 600;
}
.mediaLarge .BattleResultViewApp_subTitle_8ddbd136 {
  margin-top: -15rem;
  font-weight: 600;
}
.mediaExtraLarge .BattleResultViewApp_subTitle_8ddbd136 {
  font-size: 32rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 10rem;
  font-weight: 600;
}

.BattleResultViewApp_close_fe13d451 {
  position: absolute;
  top: 31rem;
  right: 28rem;
}

.BattleResultViewApp_buttonWrapper_fc9b9776 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 39rem;
  left: 0;
}
.mediaMedium .BattleResultViewApp_buttonWrapper_fc9b9776 {
  bottom: 71rem;
}
.mediaExtraLarge .BattleResultViewApp_buttonWrapper_fc9b9776 {
  bottom: 80rem;
}

.BattleResultViewApp_button_24c54273 {
  width: 108rem;
  position: relative;
}
.mediaMedium .BattleResultViewApp_button_24c54273 {
  width: 146rem;
}
.mediaLarge .BattleResultViewApp_button_24c54273 {
  width: 160rem;
}
.mediaExtraLarge .BattleResultViewApp_button_24c54273 {
  width: 190rem;
}

.BattleResultViewApp_footer_539d79b4 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.BattleResultViewApp_infoName_68854667 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
  font-weight: 600;
  opacity: 0.9;
  position: absolute;
  bottom: 53rem;
  left: 40rem;
}

.BattleResultViewApp_infoDescription_962beb56 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
  position: absolute;
  bottom: 33rem;
  left: 40rem;
}

.BattleResultViewApp_vehicleName_f632e39 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
  font-weight: 600;
  text-align: right;
  opacity: 0.9;
  position: absolute;
  right: 40rem;
  bottom: 53rem;
}

.BattleResultViewApp_playerStatus_811fc197 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
  text-align: right;
  position: absolute;
  right: 40rem;
  bottom: 33rem;
}

.BattleResultViewApp_centerBlock_f7280682 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BattleResultViewApp_progress_1ca131d1 {
  display: flex;
  margin-top: -2rem;
}
.mediaMedium .BattleResultViewApp_progress_1ca131d1 {
  margin-top: 2rem;
}