/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#TicketTooltipApp_root_4774cab9,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TicketTooltipApp_header-h80_fcc2d41 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.TicketTooltipApp_header-h56_3728176e {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.TicketTooltipApp_header-h40_9b01143 {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.TicketTooltipApp_header-h32_7388cb1b {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.TicketTooltipApp_header-h28_f20af9f3 {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.TicketTooltipApp_header-h26_af52279 {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.TicketTooltipApp_header-h24_2a6b35a9 {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.TicketTooltipApp_header-h22_ada11574 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.TicketTooltipApp_header-h20_7d6307a3 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.TicketTooltipApp_header-h18_af0af04f {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.TicketTooltipApp_header-h16_3fbb9527 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.TicketTooltipApp_paragraph-p20_63721286 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.TicketTooltipApp_paragraph-p18_af0af04f {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.TicketTooltipApp_paragraph-p16_3fbb9527 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.TicketTooltipApp_b51b6028 {
  width: 363rem;
  background-image: linear-gradient(
    180deg,
    rgba(51, 51, 41, 0.3) 0%,
    rgba(51, 51, 41, 0) 16%,
    rgba(51, 51, 41, 0) 88%,
    rgba(51, 51, 41, 0.1) 100%
  );
}

.TicketTooltipApp_content_ada76130 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 14rem 20rem;
}

.TicketTooltipApp_title_ce962669 {
  margin-bottom: 20rem;
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 20rem;
}

.TicketTooltipApp_description_3935aecb {
  margin-bottom: 15rem;
  color: #8c8c7e;
  font-size: 14rem;
  line-height: 18rem;
}

.TicketTooltipApp_descriptionTitle_1b276ae0 {
  margin-bottom: 8rem;
  color: #e9e2bf;
  font-size: 14rem;
  line-height: 18rem;
}

.TicketTooltipApp_iconBig_5aea0238 {
  width: 124rem;
  height: 124rem;
  margin-left: 100rem;
  margin-bottom: 22rem;
  background: url("R.images.white_tiger.gui.maps.icons.tickets.ticket_124") no-repeat center/contain;
}

.TicketTooltipApp_iconSmall_41ac25c4 {
  width: 16rem;
  height: 16rem;
  background: url("R.images.white_tiger.gui.maps.icons.tickets.ticket_16") no-repeat center/contain;
}

.TicketTooltipApp_divider_24569859 {
  width: 100%;
  height: 9rem;
  background: url("R.images.white_tiger.gui.maps.icons.carousel.dividerDotty") no-repeat
    center/contain;
  position: relative;
}
.TicketTooltipApp_divider__top_ba1f1acd {
  top: 4rem;
}
.TicketTooltipApp_divider__bottom_9fdeb1dd {
  top: -4rem;
}

.TicketTooltipApp_quantityWrapper_4a17c445 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 41rem;
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 230, 0) 0%,
    rgba(255, 255, 230, 0.1) 38%,
    rgba(255, 255, 230, 0.1) 65%,
    rgba(255, 255, 230, 0) 100%
  );
}

.TicketTooltipApp_quantity_8e3b58a6 {
  padding-left: 8rem;
  padding-right: 8rem;
  color: #8c8c7e;
  font-size: 14rem;
  line-height: 18rem;
}

.TicketTooltipApp_receiveWrapper_a8c0efb9 {
  margin-top: 15rem;
}
