/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#TankInfoTooltipApp_root_bbcfc8fa,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TankInfoTooltipApp_header-h80_705d4347 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.TankInfoTooltipApp_header-h56_708b09b1 {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.TankInfoTooltipApp_header-h40_2de62676 {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.TankInfoTooltipApp_header-h32_8dc52dcf {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.TankInfoTooltipApp_header-h28_ea050f0c {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.TankInfoTooltipApp_header-h26_a8692c77 {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.TankInfoTooltipApp_header-h24_14b938f {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.TankInfoTooltipApp_header-h22_b6e58614 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.TankInfoTooltipApp_header-h20_e3a7f7cd {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.TankInfoTooltipApp_header-h18_dd9bf4cc {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.TankInfoTooltipApp_header-h16_fae9c197 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.TankInfoTooltipApp_paragraph-p20_40f86c5e {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.TankInfoTooltipApp_paragraph-p18_dd9bf4cc {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.TankInfoTooltipApp_paragraph-p16_fae9c197 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.TankInfoTooltipApp_110414c8 {
  display: flex;
  width: 400rem;
  padding: 30rem 30rem 25rem;
  position: relative;
}

.TankInfoTooltipApp_body_3797786b {
  margin-top: 20rem;
}

.TankInfoTooltipApp_icon_9fc22c97 {
  width: 96rem;
  height: 96rem;
  background: no-repeat center/96rem 96rem;
  position: absolute;
}

.TankInfoTooltipApp_content_5725c62b {
  padding-left: 60rem;
}

.TankInfoTooltipApp_title_dd59cb74 {
  margin-bottom: 8rem;
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 20rem;
}

.TankInfoTooltipApp_description_1a5cf366 {
  color: #8c8c7e;
  font-size: 14rem;
  line-height: 18rem;
}