/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.MetaIntroApp_f24aa649 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.MetaIntroApp_container_1d43a669 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 768rem;
}
.mediaMedium .MetaIntroApp_container_1d43a669 {
  height: 900rem;
}
.mediaLarge .MetaIntroApp_container_1d43a669 {
  height: 1080rem;
}
.mediaExtraLarge .MetaIntroApp_container_1d43a669 {
  height: 1440rem;
}

.MetaIntroApp_header_2a44fe72 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #fdd194;
  top: 44rem;
}
.mediaMedium .MetaIntroApp_header_2a44fe72 {
  font-size: 72rem;
  top: 48rem;
}
.mediaLarge .MetaIntroApp_header_2a44fe72 {
  font-size: 80rem;
  top: 56rem;
}
.mediaExtraLarge .MetaIntroApp_header_2a44fe72 {
  font-size: 100rem;
  top: 78rem;
}

.MetaIntroApp_content_fdc35d0b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin-top: 0;
}
.mediaLarge .MetaIntroApp_content_fdc35d0b {
  margin-top: -2rem;
}
.mediaExtraLarge .MetaIntroApp_content_fdc35d0b {
  margin-top: -20rem;
}

.MetaIntroApp_infoBlock_a46767a3 {
  max-width: 280rem;
  margin: -16rem 15rem 0;
  text-align: center;
}
.mediaMedium .MetaIntroApp_infoBlock_a46767a3 {
  max-width: 320rem;
  margin: -16rem 50rem 0;
}
.mediaLarge .MetaIntroApp_infoBlock_a46767a3 {
  max-width: 360rem;
  margin: -16rem 85rem;
}
.mediaExtraLarge .MetaIntroApp_infoBlock_a46767a3 {
  max-width: 440rem;
}

.MetaIntroApp_title_8aa55bd7 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.14);
  margin-top: 16rem;
  color: #e9e2bf;
}
.mediaMedium .MetaIntroApp_title_8aa55bd7 {
  font-size: 26rem;
}
.mediaLarge .MetaIntroApp_title_8aa55bd7 {
  margin-top: 12rem;
  font-size: 28rem;
}
.mediaExtraLarge .MetaIntroApp_title_8aa55bd7 {
  margin-top: 16rem;
  font-size: 32rem;
}

.MetaIntroApp_subTitle_bde78ba8 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.14);
  padding-top: 10rem;
  color: #8c8c7e;
  line-height: 22rem;
}
.mediaMedium .MetaIntroApp_subTitle_bde78ba8 {
  font-size: 22rem;
  line-height: 22rem;
}
.mediaLarge .MetaIntroApp_subTitle_bde78ba8 {
  font-size: 26rem;
  line-height: 26rem;
}
.mediaExtraLarge .MetaIntroApp_subTitle_bde78ba8 {
  font-size: 28rem;
  line-height: 28rem;
}

.MetaIntroApp_fight_495fdda9 {
  width: 320rem;
  height: 180rem;
  background: url("R.images.halloween.gui.maps.icons.metaIntro.fight") no-repeat 50% / contain;
}
.mediaLarge .MetaIntroApp_fight_495fdda9 {
  width: 480rem;
  height: 270rem;
  background-image: url("R.images.halloween.gui.maps.icons.metaIntro.big.fight");
}

.MetaIntroApp_progress_339ee868 {
  width: 320rem;
  height: 180rem;
  background: url("R.images.halloween.gui.maps.icons.metaIntro.progress") no-repeat 50% / contain;
}
.mediaLarge .MetaIntroApp_progress_339ee868 {
  width: 480rem;
  height: 270rem;
  background-image: url("R.images.halloween.gui.maps.icons.metaIntro.big.progress");
}

.MetaIntroApp_reward_1ed309e2 {
  width: 320rem;
  height: 180rem;
  background: url("R.images.halloween.gui.maps.icons.metaIntro.reward") no-repeat 50% / contain;
}
.mediaLarge .MetaIntroApp_reward_1ed309e2 {
  width: 480rem;
  height: 270rem;
  background-image: url("R.images.halloween.gui.maps.icons.metaIntro.big.reward");
}

.MetaIntroApp_bottomContainer_341b7343 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.MetaIntroApp_topContainer_9352c5d0 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.MetaIntroApp_btn_1d51050f {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  min-width: 160rem;
  bottom: 60rem;
}
.mediaMedium .MetaIntroApp_btn_1d51050f {
  bottom: 70rem;
}
.mediaLarge .MetaIntroApp_btn_1d51050f {
  bottom: 80rem;
}
.mediaExtraLarge .MetaIntroApp_btn_1d51050f {
  bottom: 110rem;
}

.MetaIntroApp_closeBtn_f6844130 {
  position: absolute;
  top: 30rem;
  right: 30rem;
  z-index: 1;
}
