/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Listitem_root_ec7b4e6a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Listitem_header-h80_f3758338 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.Listitem_header-h56_f105e805 {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.Listitem_header-h40_a3fad19c {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.Listitem_header-h32_4719842b {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.Listitem_header-h28_49030d2a {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.Listitem_header-h26_dc15113a {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.Listitem_header-h24_c19f768f {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.Listitem_header-h22_6a281a2 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.Listitem_header-h20_6d12e715 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.Listitem_header-h18_7de37bf9 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.Listitem_header-h16_e85f38d9 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.Listitem_paragraph-p20_f0a2428f {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.Listitem_paragraph-p18_7de37bf9 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.Listitem_paragraph-p16_e85f38d9 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.Listitem_819fcb20 {
  display: flex;
  margin-bottom: 4rem;
}

.Listitem_title_d8db9103 {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.Listitem_description_7951e7eb {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Listitem_base__total_ec7b4e6a .Listitem_description_7951e7eb {
  color: #fefeec;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}

.Listitem_dotted_b30a04ff {
  display: flex;
  flex: 1;
  height: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
}
.Listitem_secondCount_ec7b4e6a .Listitem_dotted_b30a04ff {
  align-self: flex-end;
  margin-right: 3rem;
}
.Listitem_dotted__inline_b0618b32 {
  align-self: flex-end;
  margin-left: 3rem;
}

.Listitem_count_a258bf96 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 60rem;
}
.Listitem_base__total_ec7b4e6a .Listitem_count_a258bf96 {
  font-weight: 700;
}

.Listitem_profit_46ea4ebe {
  margin-left: 5rem;
}

.Listitem_text_a1f562d3 {
  display: flex;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Content_root_da09528a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Content_header-h80_93eb01b4 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.Content_header-h56_2b638ac7 {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.Content_header-h40_9ec990cd {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.Content_header-h32_d02d0c76 {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.Content_header-h28_eb746adc {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.Content_header-h26_9430164d {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.Content_header-h24_7660ea78 {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.Content_header-h22_3f9a394c {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.Content_header-h20_aa0b092 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.Content_header-h18_a555b9cd {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.Content_header-h16_c7a96e1 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.Content_paragraph-p20_e9ca8142 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.Content_paragraph-p18_a555b9cd {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.Content_paragraph-p16_c7a96e1 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.Content_bd627888 {
  display: flex;
  flex-direction: column;
}

.Content_title_9e9cd55a {
  color: #fefeec;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 8rem;
  box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.25);
}

.Content_block_604708c6 {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
}
.Content_block__additional_315b276a {
  margin-top: 0;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Footer_root_4308958a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Footer_header-h80_40e344cf {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.Footer_header-h56_5dc65a26 {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.Footer_header-h40_8b652cf1 {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.Footer_header-h32_2f32dab7 {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.Footer_header-h28_1a5c62be {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.Footer_header-h26_149e1d43 {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.Footer_header-h24_e8d7b1dc {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.Footer_header-h22_b1fe258b {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.Footer_header-h20_c3f3f29e {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.Footer_header-h18_5badd76 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.Footer_header-h16_abcbb31c {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.Footer_paragraph-p20_7ad68a8d {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.Footer_paragraph-p18_5badd76 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.Footer_paragraph-p16_abcbb31c {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.Footer_1b733abe {
  display: flex;
  padding-left: 24rem;
  position: relative;
}

.Footer_icon_abda8adb {
  width: 24rem;
  height: 24rem;
  background: url("R.images.white_tiger.gui.maps.icons.tooltips.battle_result.economy.info") no-repeat center/contain;
  position: absolute;
  top: 0;
  left: 0;
}

.Footer_description_398ba227 {
  color: #cbac77;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 2rem 0 0 7rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_header-h80_112a839c {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.Header_header-h56_2c512b67 {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.Header_header-h40_c2e823ab {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.Header_header-h32_bcf476ca {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.Header_header-h28_313f90ea {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.Header_header-h26_d53b747b {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.Header_header-h24_a7bfc0db {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.Header_header-h22_ae6eb3c5 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.Header_header-h20_f8f35a6c {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.Header_header-h18_d3b6ed67 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.Header_header-h16_c7c02ab5 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.Header_paragraph-p20_262f411b {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.Header_paragraph-p18_d3b6ed67 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.Header_paragraph-p16_c7c02ab5 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.Header_36d24a5c {
  display: flex;
  align-items: center;
  min-height: 48rem;
  padding-left: 48rem;
  position: relative;
}

.Header_icon_442a1490 {
  width: 48rem;
  height: 48rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.Header_description_d221db51 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-left: 10rem;
  position: relative;
  top: -2rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BattleResultsEconomicTooltipApp_root_ba820436,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BattleResultsEconomicTooltipApp_header-h80_a908ef {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.BattleResultsEconomicTooltipApp_header-h56_9c0d07eb {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.BattleResultsEconomicTooltipApp_header-h40_e4644d45 {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.BattleResultsEconomicTooltipApp_header-h32_2e10534c {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.BattleResultsEconomicTooltipApp_header-h28_d537da84 {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.BattleResultsEconomicTooltipApp_header-h26_33a153ff {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.BattleResultsEconomicTooltipApp_header-h24_66481c17 {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.BattleResultsEconomicTooltipApp_header-h22_faf99b71 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.BattleResultsEconomicTooltipApp_header-h20_898ba22c {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.BattleResultsEconomicTooltipApp_header-h18_32c5f05e {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.BattleResultsEconomicTooltipApp_header-h16_b2efe19e {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.BattleResultsEconomicTooltipApp_paragraph-p20_d9005e7 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.BattleResultsEconomicTooltipApp_paragraph-p18_32c5f05e {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.BattleResultsEconomicTooltipApp_paragraph-p16_b2efe19e {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.BattleResultsEconomicTooltipApp_139506b8 {
  display: flex;
  flex-direction: column;
  width: 400rem;
  padding: 18rem 20rem;
}

.BattleResultsEconomicTooltipApp_divider_42eda4b {
  width: 100%;
  height: 9rem;
  background: url("R.images.white_tiger.gui.maps.icons.tooltips.battle_result.economy.divider") no-repeat center/contain;
}