/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.App_177b1290 {
  max-width: 370rem;
  padding: 13rem 20rem 15rem 19rem;
}
.App_base__onlyBody_c662f725 {
  padding-top: 14rem;
}

.App_header_1feaec3b {
  margin-bottom: 5rem;
  color: rgba(238, 237, 233, 0.9);
  font-size: 20rem;
  font-weight: 600;
  line-height: 22rem;
  white-space: pre-wrap;
}

.App_description_482b1298 {
  width: 101%;
  color: #8e867d;
  font-size: 18rem;
  line-height: 20rem;
  white-space: pre-wrap;
}
