/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#NarrativeText_root_d89fa65,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.NarrativeText_header-h80_e417b530 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.NarrativeText_header-h56_a3230b8c {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.NarrativeText_header-h40_e12f9c07 {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.NarrativeText_header-h32_5d1a6e72 {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.NarrativeText_header-h28_487d27c0 {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.NarrativeText_header-h26_86dbafb6 {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.NarrativeText_header-h24_515ccc1f {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.NarrativeText_header-h22_9700c012 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.NarrativeText_header-h20_ea1923be {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.NarrativeText_header-h18_f3a9d7b7 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.NarrativeText_header-h16_ed864aa0 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.NarrativeText_paragraph-p20_4d48087 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.NarrativeText_paragraph-p18_f3a9d7b7 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.NarrativeText_paragraph-p16_ed864aa0 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.NarrativeText_5153bf5c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 560rem;
  height: 100%;
  margin-left: 85rem;
  opacity: 1;
}
.mediaMedium .NarrativeText_5153bf5c {
  max-width: 642rem;
  margin-left: 95rem;
}
.mediaLarge .NarrativeText_5153bf5c {
  max-width: 672rem;
  margin-left: 174rem;
}

.NarrativeText_voicerToggle_6b1aacd5 {
  padding-left: 16rem;
  padding-right: 16rem;
}

.NarrativeText_voicerImage_32269b1a {
  width: 24rem;
  height: 24rem;
  margin-right: 4rem;
  background: url("R.images.white_tiger.gui.maps.icons.narrative.sound") no-repeat center
    center/contain;
}

.NarrativeText_textWrapper_b67109a8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 553rem;
}
.mediaMedium .NarrativeText_textWrapper_b67109a8 {
  height: 642rem;
}
.mediaLarge .NarrativeText_textWrapper_b67109a8 {
  height: 744rem;
}

.NarrativeText_title_1dbf2725 {
  color: "general-primary";
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  font-weight: 500;
  text-transform: uppercase;
}
.mediaMedium .NarrativeText_title_1dbf2725 {
  color: "general-primary";
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.mediaLarge .NarrativeText_title_1dbf2725 {
  font-size: 40rem;
  font-weight: 600;
}

.NarrativeText_scrollTextWrapper_e8ae6f0f {
  display: flex;
  max-height: 473rem;
  margin-top: 20rem;
  position: relative;
}
.mediaMedium .NarrativeText_scrollTextWrapper_e8ae6f0f {
  max-height: 560rem;
  margin-top: 13rem;
}
.mediaLarge .NarrativeText_scrollTextWrapper_e8ae6f0f {
  max-height: 671rem;
  margin-top: 10rem;
}

.NarrativeText_scrollContentWrapper_e9d1b6de {
  display: flex;
  align-items: center;
  padding-top: 5rem;
  padding-right: 30rem;
  mask-image: linear-gradient(to bottom, transparent, #000 2%, #000 98%, transparent);
}

.NarrativeText_text_addeb55a {
  padding-bottom: 10rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 28rem;
  font-weight: 400;
  line-height: 1.15em;
  text-shadow: 0 2px 8px #000;
  white-space: pre-wrap;
  opacity: 0.8;
}

.NarrativeText_paragraph_c133f2f6 {
  display: flex;
  margin-bottom: 30rem;
}
.NarrativeText_paragraph_c133f2f6:last-child {
  margin-bottom: 0;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#NarrativeScreenApp_root_9e8d7d58,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.NarrativeScreenApp_header-h80_e0eaf51f {
  font-size: 80rem;
  font-weight: 700;
  line-height: 88rem;
}

.NarrativeScreenApp_header-h56_531bdcbe {
  font-size: 56rem;
  font-weight: 400;
  line-height: 64rem;
}

.NarrativeScreenApp_header-h40_5973ef78 {
  font-size: 40rem;
  font-weight: 400;
  line-height: 46rem;
}

.NarrativeScreenApp_header-h32_36ba4af2 {
  font-size: 32rem;
  font-weight: 400;
  line-height: 36rem;
}

.NarrativeScreenApp_header-h28_2b6a23e0 {
  font-size: 28rem;
  font-weight: 400;
  line-height: 30rem;
}

.NarrativeScreenApp_header-h26_3d77e85f {
  font-size: 26rem;
  font-weight: 400;
  line-height: 28rem;
  letter-spacing: 0.2rem;
}

.NarrativeScreenApp_header-h24_c1160dab {
  font-size: 24rem;
  font-weight: 600;
  line-height: 26rem;
  letter-spacing: 0.2rem;
}

.NarrativeScreenApp_header-h22_91ee6045 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 24rem;
  letter-spacing: 0.2rem;
}

.NarrativeScreenApp_header-h20_5f5e7cd4 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
}

.NarrativeScreenApp_header-h18_e43baa42 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.NarrativeScreenApp_header-h16_c2ec9f93 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.NarrativeScreenApp_paragraph-p20_4c9e13cf {
  font-size: 20rem;
  font-weight: 400;
  line-height: 22rem;
  letter-spacing: 0.2rem;
}

.NarrativeScreenApp_paragraph-p18_e43baa42 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 20rem;
  letter-spacing: 0.2rem;
}

.NarrativeScreenApp_paragraph-p16_c2ec9f93 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 18rem;
  letter-spacing: 0.2rem;
}

.NarrativeScreenApp_9b5162f3 {
  width: 100%;
  height: 100%;
  background: url("R.images.white_tiger.gui.maps.icons.progression.background.background")
    center/cover no-repeat;
  overflow: hidden;
  position: relative;
}

.NarrativeScreenApp_bgDecoration_a316736d {
  width: 100%;
  height: 100%;
  background: url("R.images.white_tiger.gui.maps.icons.progression.background.drafting_table") top
    center/contain no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}

.NarrativeScreenApp_closeButton_f878a4b7 {
  position: absolute;
  top: 3rem;
  right: 39rem;
  z-index: 1;
  margin-top: 25rem;
  margin-right: -8rem;
}
