/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Speaker_21bb5752 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72rem;
  position: relative;
  z-index: 0;
}
.mediaMedium .Speaker_21bb5752 {
  height: 103rem;
}
.mediaLarge .Speaker_21bb5752 {
  height: 131rem;
}
.mediaExtraLarge .Speaker_21bb5752 {
  height: 167rem;
}

.Speaker_content_1bb76b96 {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(30rem);
  transition: transform 0.3s ease-in-out;
}
.Speaker_base__active_a1633859 .Speaker_content_1bb76b96 {
  transform: translateY(0rem);
}

.Speaker_iconContainer_86fc4250 {
  width: 35rem;
  height: 26rem;
  opacity: 0.4;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}
.Speaker_base__active_a1633859 .Speaker_iconContainer_86fc4250 {
  opacity: 1;
}

.Speaker_icon_244c0140 {
  width: 100rem;
  height: 100rem;
  background: url("R.images.gui.maps.icons.battlePass.icons.voice") no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) translateY(-0.5rem);
  pointer-events: none;
}
.mediaMedium .Speaker_icon_244c0140 {
  transform: translate(-50%, -50%);
}
.Speaker_base__active_a1633859 .mediaMedium .Speaker_icon_244c0140 {
  transform: translate(-50%, -50%) translateX(-1rem);
}

.Speaker_label_8f0f7add {
  color: #fd9;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  margin-top: 8rem;
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 15rem #e52;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.Speaker_base__active_a1633859 .Speaker_label_8f0f7add {
  opacity: 1;
}

.Speaker_sonar_8d93575c {
  width: 100%;
  height: 72rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}
.Speaker_sonar__show_5948c7c5 {
  opacity: 1;
}
.mediaMedium .Speaker_sonar_8d93575c {
  margin-top: 16rem;
}
.mediaLarge .Speaker_sonar_8d93575c {
  margin-top: 30rem;
}
.mediaExtraLarge .Speaker_sonar_8d93575c {
  margin-top: 49rem;
}

.Speaker_back_541a5cca {
  width: 280rem;
  height: 160rem;
  background: radial-gradient(37.13% 55.24% at 50% 50%, #d54c1b 0%, rgba(213, 76, 27, 0) 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
}

.Speaker_line_7f4f667a {
  width: 100%;
  height: 2rem;
  background: linear-gradient(
    90deg,
    rgba(231, 104, 64, 0) 0%,
    #e76840 51.04%,
    rgba(231, 104, 64, 0) 100%
  );
  opacity: 0.5;
  position: absolute;
  left: 0;
}
.Speaker_line__top_640ce797 {
  top: 0;
}
.Speaker_line__bottom_c6496992 {
  bottom: 0;
}

.Speaker_emitter_4900cb73 {
  width: 24rem;
  height: 24rem;
  border-radius: 9999rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Speaker_wave_ff81235a {
  width: 100%;
  height: 100%;
  border: 3rem solid #d54c1b;
  border-radius: 9999rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.Speaker_wave__0_de1c46c8 {
  animation: Speaker_sonarWave_a1633859 3s 0s linear infinite;
}
.Speaker_wave__1_ff2109e3 {
  animation: Speaker_sonarWave_a1633859 3s 0.3s linear infinite;
}
.Speaker_wave__2_bd95c62d {
  animation: Speaker_sonarWave_a1633859 3s 0.6s linear infinite;
}
.Speaker_wave__3_d034fc1a {
  animation: Speaker_sonarWave_a1633859 3s 0.9s linear infinite;
}
.Speaker_wave__4_298a15d5 {
  animation: Speaker_sonarWave_a1633859 3s 1.2s linear infinite;
}
.Speaker_wave__5_88703ad8 {
  animation: Speaker_sonarWave_a1633859 3s 1.5s linear infinite;
}
.Speaker_wave__6_b29c2de6 {
  animation: Speaker_sonarWave_a1633859 3s 1.8s linear infinite;
}
.Speaker_wave__7_21bf53b9 {
  animation: Speaker_sonarWave_a1633859 3s 2.1s linear infinite;
}
.Speaker_wave__8_3ae97995 {
  animation: Speaker_sonarWave_a1633859 3s 2.4s linear infinite;
}
.Speaker_wave__9_71246a3f {
  animation: Speaker_sonarWave_a1633859 3s 2.7s linear infinite;
}

@keyframes Speaker_sonarWave_a1633859 {
  0% {
    opacity: 0.4;
  }
  100% {
    width: 1000%;
    height: 1000%;
    opacity: 0;
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.CrewMemberState_3dcb4863 {
  color: #fd9;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 7rem;
  text-align: center;
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.25);
  position: relative;
}
.mediaMedium .CrewMemberState_3dcb4863 {
  margin-top: 3rem;
  font-size: 18rem;
}
.mediaLarge .CrewMemberState_3dcb4863 {
  font-size: 20rem;
}
.mediaExtraLarge .CrewMemberState_3dcb4863 {
  margin-top: 8rem;
  font-size: 24rem;
}
.CrewMemberState_base__received_76084926 {
  flex-direction: row;
  justify-content: center;
  color: #80d43a;
  text-shadow: none;
  position: relative;
}

.CrewMemberState_dividerPlus_bcf1a781 {
  width: 248rem;
  height: 20rem;
  background: url("R.images.halloween.gui.maps.icons.bundle.divider_plus") no-repeat 50% / contain;
}

.CrewMemberState_button_7009f358 {
  margin-top: 5rem;
}
.mediaMedium .CrewMemberState_button_7009f358 {
  margin-top: 10rem;
}
.mediaLarge .CrewMemberState_button_7009f358 {
  margin-top: 15rem;
}

.CrewMemberState_icon_5bb81435 {
  width: 24rem;
  height: 24rem;
  background: url("R.images.halloween.gui.maps.icons.crewShowcase.check") no-repeat 50% / contain;
}

.CrewMemberState_checkGlow_2fcd54e7 {
  width: 120%;
  height: 40rem;
  background: radial-gradient(
    51.56% 50% at 49.85% 50%,
    rgba(0, 243, 10, 0.24) 11.46%,
    rgba(0, 82, 18, 0) 100%
  );
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.CrewMemberState_footer_e7e52bc9 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 20rem;
}
.mediaMedium .CrewMemberState_footer_e7e52bc9 {
  top: 27rem;
}
.mediaLarge .CrewMemberState_footer_e7e52bc9 {
  top: 34rem;
}
.mediaExtraLarge .CrewMemberState_footer_e7e52bc9 {
  top: 38rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.CrewMember_14d40c44 {
  position: relative;
}

.CrewMember_content_959d0081 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 200rem;
  height: 280rem;
  filter: brightness(100%);
  position: relative;
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}
.mediaMedium .CrewMember_content_959d0081 {
  width: 280rem;
  height: 380rem;
}
.mediaLarge .CrewMember_content_959d0081 {
  width: 320rem;
  height: 440rem;
}
.mediaExtraLarge .CrewMember_content_959d0081 {
  width: 440rem;
  height: 640rem;
}
.CrewMember_base__disabled_9b971b6a .CrewMember_content_959d0081 {
  cursor: default;
}
.CrewMember_content__muted_7c58ff95 {
  cursor: default;
}

.CrewMember_img_f833d3d5 {
  width: 280rem;
  height: 100%;
  background: no-repeat center/contain;
  filter: brightness(100%);
  position: absolute;
  bottom: 15rem;
  transform-origin: bottom;
  transition:
    transform 0.3s ease-in-out,
    filter 0.3s ease-in-out;
  pointer-events: none;
}
.mediaMedium .CrewMember_img_f833d3d5 {
  width: 380rem;
}
.mediaLarge .CrewMember_img_f833d3d5 {
  width: 440rem;
  bottom: 35rem;
}
.mediaExtraLarge .CrewMember_img_f833d3d5 {
  width: 640rem;
}
.CrewMember_img__hover_9b971b6a,
.CrewMember_base__active_9b971b6a .CrewMember_img_f833d3d5 {
  filter: brightness(120%);
  transform: scale(1.05);
}
.CrewMember_base__disabled_9b971b6a .CrewMember_img_f833d3d5:hover {
  transform: scale(1);
}

.CrewMember_description_3dc3ed7b {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  position: absolute;
  top: 100%;
  left: 0;
}
.mediaMedium .CrewMember_description_3dc3ed7b {
  margin-top: -8rem;
}
.mediaLarge .CrewMember_description_3dc3ed7b {
  margin-top: -26rem;
}
.mediaExtraLarge .CrewMember_description_3dc3ed7b {
  margin-top: -48rem;
}

.CrewMember_name_159531a0 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #e9e2bf;
  text-align: center;
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.25);
}
.mediaMedium .CrewMember_name_159531a0 {
  font-size: 24rem;
}
.mediaLarge .CrewMember_name_159531a0 {
  font-size: 26rem;
}
.mediaExtraLarge .CrewMember_name_159531a0 {
  font-size: 32rem;
}

.CrewMember_sound_750a7c3d {
  width: 220rem;
  margin-bottom: 1rem;
}
.mediaMedium .CrewMember_sound_750a7c3d {
  margin-bottom: -2rem;
}
.mediaLarge .CrewMember_sound_750a7c3d {
  margin-bottom: 0;
}
.mediaExtraLarge .CrewMember_sound_750a7c3d {
  margin-bottom: 6rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.GroupVoiceover_ee050eed {
  width: 80rem;
  height: 140rem;
  background: url("R.images.halloween.gui.maps.icons.crewShowcase.crew_flag") no-repeat 50% /
    contain;
}
.GroupVoiceover_base__hovered_71968784 {
  cursor: pointer;
}

.GroupVoiceover_border_d27d38f7 {
  width: 84rem;
  height: 162rem;
  background: url("R.images.halloween.gui.maps.icons.crewShowcase.border") no-repeat 50% / contain;
  position: absolute;
  right: 0;
  bottom: -7rem;
}

.GroupVoiceover_microphone_f41869a5 {
  width: 166rem;
  height: 138rem;
  background: url("R.images.halloween.gui.maps.icons.crewShowcase.voice") no-repeat 50% / contain;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -35rem);
  transition: transform 0.3s ease-in-out;
}
.GroupVoiceover_base__hovered_71968784 .GroupVoiceover_microphone_f41869a5 {
  transform: translate(-50%, -55rem);
}

.GroupVoiceover_speakerBase_2b99a73a {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 200rem;
  bottom: 18rem;
}
.mediaMedium .GroupVoiceover_speakerBase_2b99a73a {
  width: 280rem;
  bottom: 3rem;
}
.mediaLarge .GroupVoiceover_speakerBase_2b99a73a {
  width: 320rem;
  bottom: -11rem;
}
.mediaExtraLarge .GroupVoiceover_speakerBase_2b99a73a {
  width: 440rem;
  bottom: -29rem;
}

.GroupVoiceover_speakerSonar_168b920b {
  position: absolute;
  top: -70rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Skills_12e25c21 {
  display: flex;
  position: relative;
  z-index: 0;
}

.Skills_skill_1392e859 {
  width: 48rem;
  height: 48rem;
  background: 50% / contain;
}

.Skills_light_31b86f2a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 338rem;
  height: 168rem;
  background: url("R.images.halloween.gui.maps.icons.crewShowcase.perk_light") no-repeat 50% /
    contain;
  position: absolute;
  z-index: -1;
  pointer-events: none;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.CrewShowcaseApp_c21c51c9 {
  width: 100%;
  height: 100%;
}

.CrewShowcaseApp_subTitle_4ca0895a {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(233, 226, 191, 0.8);
  font-weight: 400;
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.25);
  position: absolute;
  top: 118rem;
  right: 0;
  left: 0;
}
.mediaMedium .CrewShowcaseApp_subTitle_4ca0895a {
  font-size: 24rem;
  top: 142rem;
}
.mediaLarge .CrewShowcaseApp_subTitle_4ca0895a {
  font-size: 28rem;
  top: 163rem;
}
.mediaExtraLarge .CrewShowcaseApp_subTitle_4ca0895a {
  font-size: 32rem;
  top: 208rem;
}

.mediaMedium .CrewShowcaseApp_skills_fd1c58a6 {
  margin-top: 1rem;
}
.mediaLarge .CrewShowcaseApp_skills_fd1c58a6 {
  margin-top: 6rem;
}
.mediaExtraLarge .CrewShowcaseApp_skills_fd1c58a6 {
  margin-top: 10rem;
}

.CrewShowcaseApp_groupVoiceover_3ef33997 {
  position: absolute;
  top: 150rem;
  right: 50rem;
}
.mediaMedium .CrewShowcaseApp_groupVoiceover_3ef33997 {
  right: 56rem;
}
.mediaLarge .CrewShowcaseApp_groupVoiceover_3ef33997 {
  right: 100rem;
}
.mediaExtraLarge .CrewShowcaseApp_groupVoiceover_3ef33997 {
  right: 150rem;
}

.CrewShowcaseApp_crews_a9051937 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin-top: -29rem;
}
.mediaMedium .CrewShowcaseApp_crews_a9051937 {
  margin-top: -26rem;
}
.mediaLarge .CrewShowcaseApp_crews_a9051937 {
  margin-top: -1rem;
}
.mediaExtraLarge .CrewShowcaseApp_crews_a9051937 {
  margin-top: 16rem;
}

.CrewShowcaseApp_crewItem_6e333755 + .CrewShowcaseApp_crewItem_6e333755 {
  margin-left: 50rem;
}
.mediaMedium .CrewShowcaseApp_crewItem_6e333755 + .CrewShowcaseApp_crewItem_6e333755 {
  margin-left: 70rem;
}
.mediaLarge .CrewShowcaseApp_crewItem_6e333755 + .CrewShowcaseApp_crewItem_6e333755 {
  margin-left: 80rem;
}
.mediaExtraLarge .CrewShowcaseApp_crewItem_6e333755 + .CrewShowcaseApp_crewItem_6e333755 {
  margin-left: 110rem;
}
