/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Highlight_fadeIn_bef8f9aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Highlight_fadeInThreeQuarters_bef8f9aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Highlight_fadeInHalf_bef8f9aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Highlight_fadeOut_bef8f9aa {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Highlight_fadeInWithScale_bef8f9aa {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Highlight_slideUp_bef8f9aa {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Highlight_scale_bef8f9aa {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Highlight_raysAppearance_bef8f9aa {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Highlight_rotate_bef8f9aa {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Highlight_reverse-rotate_bef8f9aa {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Highlight_glowAppearance_bef8f9aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Highlight_highlightAppearance_bef8f9aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Highlight_blink_bef8f9aa {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Highlight_slideUpIn_bef8f9aa {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
/* should be percentage of screen width */
@keyframes Highlight_fadeIn_bef8f9aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Highlight_fadeInThreeQuarters_bef8f9aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Highlight_fadeInHalf_bef8f9aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Highlight_fadeOut_bef8f9aa {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Highlight_fadeInWithScale_bef8f9aa {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Highlight_slideUp_bef8f9aa {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Highlight_scale_bef8f9aa {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Highlight_raysAppearance_bef8f9aa {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Highlight_rotate_bef8f9aa {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Highlight_reverse-rotate_bef8f9aa {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Highlight_glowAppearance_bef8f9aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Highlight_highlightAppearance_bef8f9aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Highlight_blink_bef8f9aa {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Highlight_slideUpIn_bef8f9aa {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Highlight_bae8c620 {
  display: flex;
  width: 900rem;
  height: 900rem;
  position: relative;
  pointer-events: none;
}
.mediaMedium .Highlight_bae8c620 {
  width: 1300rem;
  height: 1300rem;
}
.mediaExtraLarge .Highlight_bae8c620 {
  width: 1400rem;
  height: 1400rem;
}

.Highlight_rays_a61afd52 {
  opacity: 0;
  animation-name: Highlight_raysAppearance_bef8f9aa, Highlight_rotate_bef8f9aa;
  animation-duration: 1.5s, 120s;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1), linear;
  animation-delay: 0.8s, 1.2s;
  animation-iteration-count: 1, infinite;
  width: 100%;
  height: 100%;
  background: url("R.images.comp7.gui.maps.icons.rewards.rays") no-repeat center/contain;
  position: absolute;
}

.Highlight_4b27c1b2 {
  width: 100%;
  height: 100%;
  position: absolute;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes AnimatedReward_fadeIn_acd88dcf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedReward_fadeInThreeQuarters_acd88dcf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes AnimatedReward_fadeInHalf_acd88dcf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes AnimatedReward_fadeOut_acd88dcf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes AnimatedReward_fadeInWithScale_acd88dcf {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AnimatedReward_slideUp_acd88dcf {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AnimatedReward_scale_acd88dcf {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes AnimatedReward_raysAppearance_acd88dcf {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes AnimatedReward_rotate_acd88dcf {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes AnimatedReward_reverse-rotate_acd88dcf {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes AnimatedReward_glowAppearance_acd88dcf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedReward_highlightAppearance_acd88dcf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes AnimatedReward_blink_acd88dcf {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimatedReward_slideUpIn_acd88dcf {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.AnimatedReward_6648a57c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.AnimatedReward_highlight_df228c89 {
  opacity: 0;
  position: absolute;
  z-index: 0;
}
.AnimatedReward_highlight__visible_d238da74 {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.4s;
}

.AnimatedReward_reward_57bfc05b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}
.mediaMedium .AnimatedReward_reward_57bfc05b {
  transform: translate(-50%, -60%);
}
.AnimatedReward_reward__success_7efcba6 {
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in;
}
.mediaMedium .AnimatedReward_reward__success_7efcba6 {
  transform: translate(-50%, -50%);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Hint_background_178d904f {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Hint_fadeIn_135a3ed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Hint_fadeInThreeQuarters_135a3ed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Hint_fadeInHalf_135a3ed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Hint_fadeOut_135a3ed {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Hint_fadeInWithScale_135a3ed {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Hint_slideUp_135a3ed {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Hint_scale_135a3ed {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Hint_raysAppearance_135a3ed {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Hint_rotate_135a3ed {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Hint_reverse-rotate_135a3ed {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Hint_glowAppearance_135a3ed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Hint_highlightAppearance_135a3ed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Hint_blink_135a3ed {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Hint_slideUpIn_135a3ed {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Hint_e53dd99e {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  min-height: 25rem;
  position: relative;
}

.Hint_background_178d904f {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 196, 108, 0.12) 0%,
    transparent 48%,
    transparent 100%
  );
  mask-image: linear-gradient(to left, transparent 0%, #8f8f8f 20%, #b3b3b3 80%, transparent 100%);
  mask-repeat: no-repeat;
}

.Hint_discountBackground_d56ce0a3 {
  width: 100rem;
  height: 27rem;
  background: url(R.images.gui.maps.icons.header_footer.discount_background_small) center/contain
    repeat;
  mask-image: linear-gradient(90deg, #d9d9d9 71%, rgba(115, 115, 115, 0) 90%);
  mask-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}
.mediaLargeWidth .Hint_discountBackground_d56ce0a3 {
  background-image: url(R.images.gui.maps.icons.header_footer.discount_background_medium);
}
.mediaExtraLargeWidth .Hint_discountBackground_d56ce0a3 {
  background-image: url(R.images.gui.maps.icons.header_footer.discount_background_large);
}

.Hint_discount_94b7b9ff {
  padding: 0;
  border: none;
  border-radius: 0;
  border-image-source: none;
  box-shadow: none;
  background-color: transparent;
}
.Hint_discount_94b7b9ff .Hint_onlyDiscount_8b648a0a,
.Hint_discountWithHintText_381cf018 .Hint_discount_94b7b9ff {
  min-width: 9rem;
  height: 15rem;
}
.mediaLargeWidth .Hint_discount_94b7b9ff .Hint_onlyDiscount_8b648a0a,
.mediaLargeWidth .Hint_discountWithHintText_381cf018 .Hint_discount_94b7b9ff {
  min-width: 11rem;
  height: 19rem;
}
.mediaExtraLargeWidth .Hint_discount_94b7b9ff .Hint_onlyDiscount_8b648a0a,
.mediaExtraLargeWidth .Hint_discountWithHintText_381cf018 .Hint_discount_94b7b9ff {
  min-width: 12rem;
  height: 21rem;
}
.Hint_discount_94b7b9ff::after {
  background: none;
  content: "";
}

.Hint_onlyHintText_751386e1,
.Hint_onlyDiscount_8b648a0a,
.Hint_discountWithHintText_381cf018 {
  border-top: 1rem solid rgba(254, 254, 236, 0.1);
  opacity: 0;
  position: absolute;
  top: 3rem;
  left: 0;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
}
.mediaLargeWidth .Hint_onlyHintText_751386e1,
.mediaLargeWidth .Hint_onlyDiscount_8b648a0a,
.mediaLargeWidth .Hint_discountWithHintText_381cf018 {
  top: 1rem;
}
.mediaExtraLargeWidth .Hint_onlyHintText_751386e1,
.mediaExtraLargeWidth .Hint_onlyDiscount_8b648a0a,
.mediaExtraLargeWidth .Hint_discountWithHintText_381cf018 {
  top: -2rem;
}

.Hint_onlyHintText_751386e1 {
  min-width: 100%;
  padding: 3rem 5rem 0;
  text-align: center;
}

.Hint_discountWithHintText_381cf018,
.Hint_onlyDiscount_8b648a0a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Hint_onlyDiscount_8b648a0a {
  padding: 4rem 5rem 0;
  padding-top: 4rem;
}
.mediaLargeWidth .Hint_onlyDiscount_8b648a0a {
  padding-top: 5rem;
}
.mediaExtraLargeWidth .Hint_onlyDiscount_8b648a0a {
  padding-top: 6rem;
}

.Hint_discountValue_b1f389fc,
.Hint_discountHintTitle_939c55ad {
  color: #ffd4d0;
  text-shadow:
    0 0 15rem rgba(255, 23, 2, 0.6),
    0 0 7rem #ff3a28,
    0 1rem 1rem #c13629;
  z-index: 1;
}

.Hint_discountValue_b1f389fc {
  overflow: visible;
}

.Hint_hintText_6f3fa83f,
.Hint_discountValue_b1f389fc,
.Hint_discountHintTitle_939c55ad {
  font-size: 14rem;
  font-weight: 500;
  line-height: 0.8;
}
html[lang="ja"] .Hint_hintText_6f3fa83f,
html[lang="ko"] .Hint_hintText_6f3fa83f,
html[lang="zh_tw"] .Hint_hintText_6f3fa83f,
html[lang="zh_sg"] .Hint_hintText_6f3fa83f,
html[lang="zh_cn"] .Hint_hintText_6f3fa83f,
html[lang="vi"] .Hint_hintText_6f3fa83f,
html[lang="th"] .Hint_hintText_6f3fa83f,
html[lang="ja"] .Hint_discountValue_b1f389fc,
html[lang="ko"] .Hint_discountValue_b1f389fc,
html[lang="zh_tw"] .Hint_discountValue_b1f389fc,
html[lang="zh_sg"] .Hint_discountValue_b1f389fc,
html[lang="zh_cn"] .Hint_discountValue_b1f389fc,
html[lang="vi"] .Hint_discountValue_b1f389fc,
html[lang="th"] .Hint_discountValue_b1f389fc,
html[lang="ja"] .Hint_discountHintTitle_939c55ad,
html[lang="ko"] .Hint_discountHintTitle_939c55ad,
html[lang="zh_tw"] .Hint_discountHintTitle_939c55ad,
html[lang="zh_sg"] .Hint_discountHintTitle_939c55ad,
html[lang="zh_cn"] .Hint_discountHintTitle_939c55ad,
html[lang="vi"] .Hint_discountHintTitle_939c55ad,
html[lang="th"] .Hint_discountHintTitle_939c55ad {
  font-size: 11rem;
}
.mediaLargeWidth .Hint_hintText_6f3fa83f,
.mediaLargeWidth .Hint_discountValue_b1f389fc,
.mediaLargeWidth .Hint_discountHintTitle_939c55ad {
  font-size: 16rem;
}
html[lang="ja"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="ko"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_tw"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_sg"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_cn"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="vi"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="th"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="ja"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="ko"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_tw"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_sg"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_cn"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="vi"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="th"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="ja"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="ko"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_tw"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_sg"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_cn"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="vi"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="th"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad {
  font-size: 14rem;
}
.mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
.mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
.mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad {
  font-size: 18rem;
  line-height: 0.9;
}
html[lang="ja"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="ko"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_tw"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_sg"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_cn"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="vi"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="th"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="ja"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="ko"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_tw"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_sg"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_cn"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="vi"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="th"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="ja"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="ko"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_tw"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_sg"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_cn"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="vi"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="th"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad {
  font-size: 16rem;
}

.Hint_hintText_6f3fa83f {
  text-shadow:
    0 0 16rem rgba(255, 154, 82, 0.5),
    0 0 8rem rgba(255, 196, 108, 0.24),
    0 0 4rem rgba(252, 246, 235, 0.16);
}

.Hint_discountHintTitle_939c55ad {
  margin-right: 5rem;
}

.mediaExtraLargeWidth .Hint_hintTitle_135a3ed,
.mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
.mediaExtraLargeWidth .Hint_discountValue__withHint_e7bbe38f {
  transform: translateY(1rem);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Currency_fadeIn_271064ec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Currency_fadeInThreeQuarters_271064ec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Currency_fadeInHalf_271064ec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Currency_fadeOut_271064ec {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Currency_fadeInWithScale_271064ec {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Currency_slideUp_271064ec {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Currency_scale_271064ec {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Currency_raysAppearance_271064ec {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Currency_rotate_271064ec {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Currency_reverse-rotate_271064ec {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Currency_glowAppearance_271064ec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Currency_highlightAppearance_271064ec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Currency_blink_271064ec {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Currency_slideUpIn_271064ec {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Currency_92022680 + .Currency_92022680 .Currency_hintWrapper_530465b9,
.Currency_92022680 + .Currency_92022680 {
  padding-left: 10rem;
}
.mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 .Currency_hintWrapper_530465b9,
.Currency_92022680 + .Currency_92022680 .mediaExtraLargeWidth .Currency_hintWrapper_530465b9,
.mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 {
  padding-left: 20rem;
}

.Currency_92022680 {
  min-width: 50rem;
  position: relative;
}
.Currency_base__interactive_52396ddd {
  cursor: pointer;
}
.Currency_92022680 + .Currency_92022680 {
  min-width: 60rem;
}
.mediaLargeWidth .Currency_92022680 + .Currency_92022680 {
  min-width: 66rem;
}
.mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 {
  min-width: 70rem;
}

.Currency_currencyWrapper_b13579ba {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Currency_currencyIcon_346f8c78 {
  margin-left: 4rem;
  opacity: 0.9;
}

.Currency_value_b1cf6531 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  text-shadow: var(--hangar-highlight-shadow);
  white-space: nowrap;
  opacity: 0.85;
}
.mediaLargeWidth .Currency_value_b1cf6531 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
}
.mediaExtraLargeWidth .Currency_value_b1cf6531 {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
}
.Currency_value__unavailable_3a328d4 {
  margin-bottom: 2rem;
  line-height: 1;
}
.mediaLargeWidth .Currency_value__unavailable_3a328d4 {
  line-height: 1;
}
.mediaExtraLargeWidth .Currency_value__unavailable_3a328d4 {
  line-height: 1;
}

.Currency_dash_2806b61e + .Currency_dash_2806b61e {
  margin-left: 1rem;
}
.mediaLargeWidth .Currency_dash_2806b61e + .Currency_dash_2806b61e {
  margin-left: 0;
}

.Currency_formattedValue_b7cad7e0 {
  flex-wrap: nowrap;
}

.Currency_hintWrapper_530465b9 {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}
.Currency_hint_f9d16bb2 {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.Currency_base__hidden_271064ec .Currency_hint_f9d16bb2 {
  opacity: 0;
}

.Currency_text_f4484816 {
  mask-image: linear-gradient(to bottom, transparent, #e1d3c1);
  mask-repeat: no-repeat;
  color: #e1d3c1;
}
.Currency_text__overlay_64b93131 {
  color: #fcf6eb;
  mask-image: linear-gradient(to top, transparent, #fcf6eb);
}

.Currency_discountWithHintText_95e3324b {
  opacity: 0;
}
.Currency_base__discount_271064ec:hover .Currency_discountWithHintText_95e3324b {
  opacity: 1;
}

.Currency_onlyHintText_61ecd7b0 {
  opacity: 0;
}
.Currency_92022680:hover .Currency_onlyHintText_61ecd7b0 {
  opacity: 1;
}
.Currency_base__discount_271064ec:hover .Currency_onlyHintText_61ecd7b0 {
  opacity: 0;
}

.Currency_onlyDiscount_61ecd7b0 {
  opacity: 0;
}
.Currency_base__discount_271064ec .Currency_onlyDiscount_61ecd7b0 {
  opacity: 1;
}
.Currency_92022680:hover .Currency_onlyDiscount_61ecd7b0 {
  opacity: 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Wallet_fadeIn_18fc2cec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Wallet_fadeInThreeQuarters_18fc2cec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Wallet_fadeInHalf_18fc2cec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Wallet_fadeOut_18fc2cec {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Wallet_fadeInWithScale_18fc2cec {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Wallet_slideUp_18fc2cec {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Wallet_scale_18fc2cec {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Wallet_raysAppearance_18fc2cec {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Wallet_rotate_18fc2cec {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Wallet_reverse-rotate_18fc2cec {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Wallet_glowAppearance_18fc2cec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Wallet_highlightAppearance_18fc2cec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Wallet_blink_18fc2cec {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Wallet_slideUpIn_18fc2cec {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Wallet_fc600169 {
  display: flex;
  flex-direction: row;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes CurrentBalance_fadeIn_782c19be {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CurrentBalance_fadeInThreeQuarters_782c19be {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes CurrentBalance_fadeInHalf_782c19be {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes CurrentBalance_fadeOut_782c19be {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes CurrentBalance_fadeInWithScale_782c19be {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes CurrentBalance_slideUp_782c19be {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes CurrentBalance_scale_782c19be {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes CurrentBalance_raysAppearance_782c19be {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes CurrentBalance_rotate_782c19be {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes CurrentBalance_reverse-rotate_782c19be {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes CurrentBalance_glowAppearance_782c19be {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CurrentBalance_highlightAppearance_782c19be {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes CurrentBalance_blink_782c19be {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CurrentBalance_slideUpIn_782c19be {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.CurrentBalance_c7674c4d {
  display: flex;
  align-items: center;
  height: 57rem;
  padding: 4rem 24rem 0 0;
  position: relative;
}
.mediaMedium .CurrentBalance_c7674c4d {
  height: 59rem;
  padding-top: 6rem;
}
.mediaLarge .CurrentBalance_c7674c4d {
  height: 76rem;
  padding-top: 12rem;
  padding-right: 40rem;
}
.mediaExtraLarge .CurrentBalance_c7674c4d {
  height: 82rem;
  padding-top: 16rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Content_fadeIn_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Content_fadeInThreeQuarters_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Content_fadeInHalf_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Content_fadeOut_da09528a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Content_fadeInWithScale_da09528a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Content_slideUp_da09528a {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Content_scale_da09528a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Content_raysAppearance_da09528a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Content_rotate_da09528a {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Content_reverse-rotate_da09528a {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Content_glowAppearance_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Content_highlightAppearance_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Content_blink_da09528a {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Content_slideUpIn_da09528a {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Content_subtitle_6f1a94 {
  margin-top: 10rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 22rem;
  font-weight: 700;
  text-align: center;
  pointer-events: auto;
}

.Content_wrapper_a688e273 {
  display: flex;
  flex-direction: column;
  flex: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Congratulation_fadeIn_5308f91f {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Congratulation_fadeInThreeQuarters_5308f91f {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Congratulation_fadeInHalf_5308f91f {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Congratulation_fadeOut_5308f91f {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Congratulation_fadeInWithScale_5308f91f {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Congratulation_slideUp_5308f91f {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Congratulation_scale_5308f91f {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Congratulation_raysAppearance_5308f91f {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Congratulation_rotate_5308f91f {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Congratulation_reverse-rotate_5308f91f {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Congratulation_glowAppearance_5308f91f {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Congratulation_highlightAppearance_5308f91f {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Congratulation_blink_5308f91f {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Congratulation_slideUpIn_5308f91f {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Congratulation_d16d6f64 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Congratulation_heading_94951bd9 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.3em;
  padding-top: 46rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaMedium .Congratulation_heading_94951bd9 {
  padding-top: 54rem;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
}
.mediaLarge .Congratulation_heading_94951bd9 {
  padding-top: 62rem;
}
.mediaExtraLarge .Congratulation_heading_94951bd9 {
  padding-top: 78rem;
}

.Congratulation_footer_f519b4d4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  width: 720rem;
}

.Congratulation_timer_85938cbe {
  width: 24rem;
  height: 24rem;
  margin-right: 4rem;
  background: url("R.images.gui.maps.icons.ui_kit.datetime.x24x24.accent") no-repeat center/contain;
  transform: translate(2rem, -2rem);
}
.mediaMedium .Congratulation_timer_85938cbe {
  transform: translate(2rem, -1rem);
}

.Congratulation_description_e5fb3e08 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: #edcb9e;
  filter: drop-shadow(0 1rem 0 rgba(0, 0, 0, 0.3)) drop-shadow(0 0 12px rgba(255, 61, 0, 0.32))
    drop-shadow(0 0 10px rgba(255, 177, 86, 0.24)) drop-shadow(0 0 6px rgba(255, 128, 169, 0.16));
}
.mediaMedium .Congratulation_description_e5fb3e08 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.Congratulation_balance_7e36c12f {
  position: absolute;
  top: 0;
  right: 0;
}

.Congratulation_separator_8e19ddae {
  width: 100%;
  height: 1rem;
  margin: 25rem 0 33rem;
  background-color: #fff;
  opacity: 0.1;
}

.Congratulation_buttonWrapper_5adec04e {
  margin-bottom: 50rem;
}
.mediaMedium .Congratulation_buttonWrapper_5adec04e {
  margin-bottom: 80rem;
}
.mediaLarge .Congratulation_buttonWrapper_5adec04e {
  margin-bottom: 100rem;
}
.mediaExtraLarge .Congratulation_buttonWrapper_5adec04e {
  margin-bottom: 120rem;
}

.Congratulation_button_e12951cf {
  min-width: 165rem;
  min-height: 24rem;
  pointer-events: auto;
}
.mediaMedium .Congratulation_button_e12951cf {
  min-height: 32rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Error_fadeIn_60812d95 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Error_fadeInThreeQuarters_60812d95 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Error_fadeInHalf_60812d95 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Error_fadeOut_60812d95 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Error_fadeInWithScale_60812d95 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Error_slideUp_60812d95 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Error_scale_60812d95 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Error_raysAppearance_60812d95 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Error_rotate_60812d95 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Error_reverse-rotate_60812d95 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Error_glowAppearance_60812d95 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Error_highlightAppearance_60812d95 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Error_blink_60812d95 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Error_slideUpIn_60812d95 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Error_7d25edad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Error_content_5f4a10ec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720rem;
}

.Error_icon_698631fb {
  width: 784rem;
  height: 784rem;
  margin: -335rem 0;
  background: url("R.images.comp7.gui.maps.icons.icons.error") no-repeat center/cover;
}

.Error_title_4ecb2575 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.3em;
  justify-content: center;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.Error_description_c7261d2 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 10rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaMedium .Error_description_c7261d2 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.Error_separator_4410b8aa {
  width: 100%;
  height: 1rem;
  margin: 25rem 0 33rem;
  background-color: #fff;
  opacity: 0.1;
}

.Error_button_58182876 {
  min-width: 165rem;
  pointer-events: auto;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Content_fadeIn_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Content_fadeInThreeQuarters_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Content_fadeInHalf_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Content_fadeOut_da09528a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Content_fadeInWithScale_da09528a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Content_slideUp_da09528a {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Content_scale_da09528a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Content_raysAppearance_da09528a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Content_rotate_da09528a {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Content_reverse-rotate_da09528a {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Content_glowAppearance_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Content_highlightAppearance_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Content_blink_da09528a {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Content_slideUpIn_da09528a {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Content_title_21cb0a6f {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.3em;
  justify-content: center;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  pointer-events: auto;
}
.Content_title__reward_c151c326 {
  margin-top: 300rem;
}
.mediaMedium .Content_title__reward_c151c326 {
  margin-top: 450rem;
}

.Content_subtitle_8cf5417d {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 12rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaMedium .Content_subtitle_8cf5417d {
  margin-top: 20rem;
  font-size: 18rem;
}

.Content_style3dSubtitle_b8c34c03 {
  align-items: center;
  margin-top: 15rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-size: 22rem;
  font-weight: 700;
}

.Content_style3dVehicleName_2841a0a6 {
  margin-left: 4rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes PurchaseConfirm_fadeIn_8bdc2658 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PurchaseConfirm_fadeInThreeQuarters_8bdc2658 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes PurchaseConfirm_fadeInHalf_8bdc2658 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes PurchaseConfirm_fadeOut_8bdc2658 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes PurchaseConfirm_fadeInWithScale_8bdc2658 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes PurchaseConfirm_slideUp_8bdc2658 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes PurchaseConfirm_scale_8bdc2658 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes PurchaseConfirm_raysAppearance_8bdc2658 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes PurchaseConfirm_rotate_8bdc2658 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes PurchaseConfirm_reverse-rotate_8bdc2658 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes PurchaseConfirm_glowAppearance_8bdc2658 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PurchaseConfirm_highlightAppearance_8bdc2658 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes PurchaseConfirm_blink_8bdc2658 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PurchaseConfirm_slideUpIn_8bdc2658 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.PurchaseConfirm_34fadd9c {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.PurchaseConfirm_balance_b01c62d8 {
  position: absolute;
  top: 0;
  right: 0;
}

.PurchaseConfirm_content_11a1daef {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 720rem;
  height: 100%;
}
.PurchaseConfirm_base__reward_8bdc2658 .PurchaseConfirm_content_11a1daef {
  justify-content: center;
}

.PurchaseConfirm_separator_4bdcba90 {
  width: 100%;
  height: 1rem;
  margin: 25rem 0 20rem;
  background-color: #fff;
  opacity: 0.1;
}

.PurchaseConfirm_alert_a180f70e {
  color: #fd9;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 5rem 0 15rem;
  text-shadow: 0 0 14rem #f00;
}
.mediaMedium .PurchaseConfirm_alert_a180f70e {
  font-size: 16rem;
}

.PurchaseConfirm_alertIcon_2b74eeac {
  width: 24rem;
  height: 24rem;
  margin: -1rem 3rem 0 0;
  background: url("R.images.comp7.gui.maps.icons.icons.alertIcon") no-repeat center/cover;
}

.PurchaseConfirm_priceContainer_188919e9 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaMedium .PurchaseConfirm_priceContainer_188919e9 {
  font-size: 18rem;
}

.PurchaseConfirm_price_40c2612 {
  margin: 0 8rem 2rem 0;
}

.PurchaseConfirm_currency_deb1947d {
  font-size: 24rem;
  font-weight: 700;
}

.PurchaseConfirm_discount_2c4a07e6 {
  margin-right: 8rem;
  font-size: 16rem;
  line-height: 1;
  position: relative;
  transform: translateY(-5rem);
}
.mediaMedium .PurchaseConfirm_discount_2c4a07e6 {
  font-size: 18rem;
}
.PurchaseConfirm_discount__freeXP_ceb0446b {
  color: var(--color-currency-free-experience);
}
.PurchaseConfirm_discount__credits_95cbffd7 {
  color: var(--color-currency-credits);
}
.PurchaseConfirm_discount__gold_ac9be8c6 {
  color: var(--color-currency-gold);
}
.PurchaseConfirm_discount__xp_8bdc2658,
.PurchaseConfirm_discount__crystal_8bdc2658,
.PurchaseConfirm_discount__equipCoin_6f13de01 {
  color: var(--color-currency-bond);
}

.PurchaseConfirm_discountLine_b61b5a2b {
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 56%;
}
.PurchaseConfirm_discount__freeXP_ceb0446b .PurchaseConfirm_discountLine_b61b5a2b {
  background-color: var(--color-currency-free-experience);
}
.PurchaseConfirm_discount__credits_95cbffd7 .PurchaseConfirm_discountLine_b61b5a2b {
  background-color: var(--color-currency-credits);
}
.PurchaseConfirm_discount__gold_ac9be8c6 .PurchaseConfirm_discountLine_b61b5a2b {
  background-color: var(--color-currency-gold);
}
.PurchaseConfirm_discount__xp_8bdc2658 .PurchaseConfirm_discountLine_b61b5a2b,
.PurchaseConfirm_discount__crystal_8bdc2658 .PurchaseConfirm_discountLine_b61b5a2b,
.PurchaseConfirm_discount__equipCoin_6f13de01 .PurchaseConfirm_discountLine_b61b5a2b {
  background-color: var(--color-currency-bond);
}

.PurchaseConfirm_buttons_b4e35304 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50rem;
}
.mediaMedium .PurchaseConfirm_buttons_b4e35304 {
  margin-bottom: 80rem;
}
.mediaLarge .PurchaseConfirm_buttons_b4e35304 {
  margin-bottom: 100rem;
}
.mediaExtraLarge .PurchaseConfirm_buttons_b4e35304 {
  margin-bottom: 120rem;
}
.PurchaseConfirm_base__reward_8bdc2658 .PurchaseConfirm_buttons_b4e35304 {
  margin-bottom: 0;
}

.PurchaseConfirm_buttonWrapper_68c5e204 + .PurchaseConfirm_buttonWrapper_68c5e204 {
  margin-left: 14rem;
}

.PurchaseConfirm_button_1987862d {
  min-width: 165rem;
  pointer-events: auto;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.App_386e819 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: url("R.images.comp7.gui.maps.icons.backgrounds.purchase_vignette") no-repeat
    center/cover;
  overflow: hidden;
  position: relative;
}

.App_rewardWrapper_0,
.App_sceneWrapper_ebba30ef {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.App_sceneWrapper_ebba30ef {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App_content_9b2432aa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  pointer-events: none;
}

.App_close_3178228e {
  top: 60rem;
}
.mediaExtraLarge .App_close_3178228e {
  top: 70rem;
}

.App_waiting_a67312c1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 13, 13, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
