/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ControlsBlock_root_a7348bce,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ControlsBlock_27dfa27d {
  display: flex;
}
.ControlsBlock_27dfa27d > * {
  margin-right: 15rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Divider_root_76b1f722,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Divider_7c8e14f6 {
  width: 500rem;
  height: 1rem;
  background: rgba(196, 198, 192, 0.16);
  opacity: 0.8;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Currency_root_271064ec,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Currency_92022680 + .Currency_92022680 .Currency_hintWrapper_530465b9, .Currency_92022680 + .Currency_92022680 {
  padding-left: 10rem;
}
.mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 .Currency_hintWrapper_530465b9, .Currency_92022680 + .Currency_92022680 .mediaExtraLargeWidth .Currency_hintWrapper_530465b9, .mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 {
  padding-left: 20rem;
}

.Currency_92022680 {
  min-width: 50rem;
  position: relative;
}
.Currency_base__interactive_52396ddd {
  cursor: pointer;
}
.Currency_92022680 + .Currency_92022680 {
  min-width: 60rem;
}
.mediaLargeWidth .Currency_92022680 + .Currency_92022680 {
  min-width: 66rem;
}
.mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 {
  min-width: 70rem;
}

.Currency_currencyWrapper_b13579ba {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Currency_currencyIcon_346f8c78 {
  margin-left: 4rem;
  opacity: 0.9;
}

.Currency_value_b1cf6531 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  text-shadow: var(--hangar-highlight-shadow);
  white-space: nowrap;
  opacity: 0.85;
}
.mediaLargeWidth .Currency_value_b1cf6531 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
}
.mediaExtraLargeWidth .Currency_value_b1cf6531 {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
}
.Currency_value__unavailable_3a328d4 {
  margin-bottom: 2rem;
  line-height: 1;
}
.mediaLargeWidth .Currency_value__unavailable_3a328d4 {
  line-height: 1;
}
.mediaExtraLargeWidth .Currency_value__unavailable_3a328d4 {
  line-height: 1;
}

.Currency_dash_2806b61e + .Currency_dash_2806b61e {
  margin-left: 1rem;
}
.mediaLargeWidth .Currency_dash_2806b61e + .Currency_dash_2806b61e {
  margin-left: 0;
}

.Currency_formattedValue_b7cad7e0 {
  flex-wrap: nowrap;
}

.Currency_hintWrapper_530465b9 {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}
.Currency_hint_f9d16bb2 {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.Currency_base__hidden_271064ec .Currency_hint_f9d16bb2 {
  opacity: 0;
}

.Currency_text_f4484816 {
  mask-image: linear-gradient(to bottom, transparent, #e1d3c1);
  mask-repeat: no-repeat;
  color: #e1d3c1;
}
.Currency_text__overlay_64b93131 {
  color: #fcf6eb;
  mask-image: linear-gradient(to top, transparent, #fcf6eb);
}

.Currency_discountWithHintText_95e3324b {
  opacity: 0;
}
.Currency_base__discount_271064ec:hover .Currency_discountWithHintText_95e3324b {
  opacity: 1;
}

.Currency_onlyHintText_61ecd7b0 {
  opacity: 0;
}
.Currency_92022680:hover .Currency_onlyHintText_61ecd7b0 {
  opacity: 1;
}
.Currency_base__discount_271064ec:hover .Currency_onlyHintText_61ecd7b0 {
  opacity: 0;
}

.Currency_onlyDiscount_61ecd7b0 {
  opacity: 0;
}
.Currency_base__discount_271064ec .Currency_onlyDiscount_61ecd7b0 {
  opacity: 1;
}
.Currency_92022680:hover .Currency_onlyDiscount_61ecd7b0 {
  opacity: 0;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Wallet_root_18fc2cec,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Wallet_a31ff660 {
  display: flex;
}

.Wallet_currencyWrapper_d5b0eb25 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10rem;
}
.mediaExtraLargeWidth .Wallet_currencyWrapper_d5b0eb25 {
  margin-left: 20rem;
}

.Wallet_currencyIcon_f69fe579 {
  margin-left: 4rem;
  opacity: 0.9;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#App_root_0,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_bc617760 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: no-repeat center/cover;
  position: relative;
}

.App_wallet_9639a029 {
  height: 57rem;
  position: absolute;
  top: 16rem;
  right: 31rem;
}
.mediaMediumWidth .App_wallet_9639a029 {
  top: 18rem;
}
.mediaLargeWidth .App_wallet_9639a029 {
  height: 76rem;
  top: 26rem;
  right: 46rem;
}
.mediaExtraLargeWidth .App_wallet_9639a029 {
  height: 82rem;
  top: 29rem;
  right: 44rem;
}

.App_close_a9e1cd03 {
  position: absolute;
  top: 62rem;
  right: 26rem;
}
.mediaLarge .App_close_a9e1cd03 {
  top: 82rem;
  right: 50rem;
}
.mediaExtraLarge .App_close_a9e1cd03 {
  top: 97rem;
  right: 47rem;
}

.App_buttons_d1d5e33c {
  margin-top: 30rem;
}

.App_purchase_eb811881 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
  line-height: 0.8;
}
.mediaExtraLarge .App_purchase_eb811881 {
  font-size: 56rem;
}

.App_description_20c4a89e {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 20rem 0;
  color: var(--color-general-secondary);
}