/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Vignette_496c9d28 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Vignette_gradient_f5571371 {
  width: 100%;
  height: 300rem;
  background: url("R.images.resource_well.gui.maps.icons.vignette") repeat-x center center/auto 101%;
  position: absolute;
  left: -50%;
}
.Vignette_gradient__top_54bd5800 {
  top: 0;
  transform: translateX(50%);
}
.Vignette_gradient__bottom_a779d3c8 {
  bottom: 0;
  transform: translateX(50%) rotate(180deg);
}
