/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.App_4c774088 {
  width: 368rem;
  padding: 18rem 20rem 20rem;
}

.App_headerContainer_bd668828 {
  display: flex;
  flex-direction: column;
}

.App_title_7064cb34 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
}

.App_subtitle_23219c42 {
  margin-bottom: 11rem;
}

.App_separator_649b3a29 {
  width: 100%;
  height: 1rem;
  background:
    linear-gradient(to right, transparent 50%, rgb(18, 17, 11) 50%),
    linear-gradient(270deg, #12110b 0%, #c9c9b6 50%, #12110b 100%);
  background-size:
    3rem 2rem,
    100% 100%;
  opacity: 0.2;
  position: relative;
  left: 0;
}

.App_description_9fc178b {
  padding: 8rem 0;
  background: linear-gradient(
    90deg,
    rgba(201, 201, 182, 0) 0%,
    rgba(201, 201, 182, 0.08) 40%,
    rgba(201, 201, 182, 0.08) 60%,
    rgba(201, 201, 182, 0) 100%
  );
}

.App_footer_9b9830ea {
  margin-top: 11rem;
}

.App_text_1072bf2a {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
}
