/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#InfoImage_root_8560c56d,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.InfoImage_dcfad64c {
  width: 320rem;
  height: 180rem;
  background: no-repeat 50% / contain;
}
.mediaLarge .InfoImage_dcfad64c {
  width: 480rem;
  height: 270rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#InfoBlock_root_8dfa9487,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.InfoBlock_f854eb14 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.InfoBlock_infoBlock_6c954df0 {
  max-width: 280rem;
  margin: 0 20rem;
  text-align: center;
}
.mediaMedium .InfoBlock_infoBlock_6c954df0 {
  max-width: 340rem;
  margin: 0 35rem;
}
.mediaLarge .InfoBlock_infoBlock_6c954df0 {
  margin: 0 95rem;
}
.mediaExtraLarge .InfoBlock_infoBlock_6c954df0 {
  max-width: 420rem;
}

.InfoBlock_title_2476dc97 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 8rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 500;
}
.mediaMedium .InfoBlock_title_2476dc97 {
  margin-top: 12rem;
  font-size: 26rem;
}
.mediaLarge .InfoBlock_title_2476dc97 {
  margin-top: 10rem;
  font-size: 30rem;
}
.mediaExtraLarge .InfoBlock_title_2476dc97 {
  margin-top: 8rem;
  font-size: 34rem;
}

.InfoBlock_subTitle_a648caba {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  padding-top: 2rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaMedium .InfoBlock_subTitle_a648caba {
  padding-top: 4rem;
  font-size: 18rem;
}
.mediaLarge .InfoBlock_subTitle_a648caba {
  padding-top: 6rem;
  font-size: 20rem;
}
.mediaExtraLarge .InfoBlock_subTitle_a648caba {
  padding-top: 8rem;
  font-size: 22rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MetaIntroApp_root_ad084e2b,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MetaIntroApp_background_ed2a9e7 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.MetaIntroApp_f24aa649 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.MetaIntroApp_background_ed2a9e7 {
  background: url("R.images.last_stand.gui.maps.icons.backgrounds.intro_bg") no-repeat 50%/100% 100%;
  pointer-events: none;
}

.MetaIntroApp_container_1d43a669 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 768rem;
}
.mediaMedium .MetaIntroApp_container_1d43a669 {
  height: 900rem;
}
.mediaLarge .MetaIntroApp_container_1d43a669 {
  height: 1080rem;
}
.mediaExtraLarge .MetaIntroApp_container_1d43a669 {
  height: 1440rem;
}

.MetaIntroApp_content_7027a85a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin-top: 6rem;
}
.mediaMedium .MetaIntroApp_content_7027a85a {
  margin-top: 16rem;
}
.mediaLarge .MetaIntroApp_content_7027a85a {
  margin-top: 18rem;
}
.mediaExtraLarge .MetaIntroApp_content_7027a85a {
  margin-top: 6rem;
}

.MetaIntroApp_header_b706abdc {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.3em;
  width: 100%;
  height: 40rem;
  margin-top: 46rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 46rem;
  font-weight: 600;
}
.mediaMedium .MetaIntroApp_header_b706abdc {
  width: 100%;
  height: 64rem;
  margin-top: 54rem;
  font-size: 56rem;
}
.mediaLarge .MetaIntroApp_header_b706abdc {
  height: 84rem;
  margin-top: 61rem;
  font-size: 64rem;
}
.mediaExtraLarge .MetaIntroApp_header_b706abdc {
  width: 100%;
  height: 104rem;
  margin-top: 87rem;
  font-size: 80rem;
}

.MetaIntroApp_bottomContainer_341b7343 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.MetaIntroApp_topContainer_9352c5d0 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.MetaIntroApp_btn_4fa2f453 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 60rem;
}
.mediaMedium .MetaIntroApp_btn_4fa2f453 {
  bottom: 70rem;
}
.mediaLarge .MetaIntroApp_btn_4fa2f453 {
  bottom: 80rem;
}
.mediaExtraLarge .MetaIntroApp_btn_4fa2f453 {
  bottom: 110rem;
}

.MetaIntroApp_closeBtn_f6844130 {
  position: absolute;
  top: 30rem;
  right: 30rem;
  z-index: 1;
}
