/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes SeasonPoint_fadeIn_684111c2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes SeasonPoint_fadeInThreeQuarters_684111c2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes SeasonPoint_fadeInHalf_684111c2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes SeasonPoint_fadeOut_684111c2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes SeasonPoint_fadeInWithScale_684111c2 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes SeasonPoint_slideUp_684111c2 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes SeasonPoint_scale_684111c2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes SeasonPoint_raysAppearance_684111c2 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes SeasonPoint_rotate_684111c2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes SeasonPoint_reverse-rotate_684111c2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes SeasonPoint_glowAppearance_684111c2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes SeasonPoint_highlightAppearance_684111c2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes SeasonPoint_blink_684111c2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes SeasonPoint_slideUpIn_684111c2 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.SeasonPoint_base__x16_9df6c1df {
  width: 16rem;
  height: 16rem;
}
.SeasonPoint_base__x24_dba010b6 {
  width: 24rem;
  height: 24rem;
}
.SeasonPoint_base__x32_90b7d730 {
  width: 32rem;
  height: 32rem;
}
.SeasonPoint_base__x48_11f396e {
  width: 48rem;
  height: 48rem;
}

.SeasonPoint_icon_a2857576 {
  width: 100%;
  height: 100%;
  background: no-repeat center/cover;
}