/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes BackgroundVideo_fadeIn_416cff4e {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes BackgroundVideo_fadeInThreeQuarters_416cff4e {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes BackgroundVideo_fadeInHalf_416cff4e {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes BackgroundVideo_fadeOut_416cff4e {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes BackgroundVideo_fadeInWithScale_416cff4e {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes BackgroundVideo_slideUp_416cff4e {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes BackgroundVideo_scale_416cff4e {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes BackgroundVideo_raysAppearance_416cff4e {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes BackgroundVideo_rotate_416cff4e {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes BackgroundVideo_reverse-rotate_416cff4e {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes BackgroundVideo_glowAppearance_416cff4e {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes BackgroundVideo_highlightAppearance_416cff4e {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes BackgroundVideo_blink_416cff4e {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes BackgroundVideo_slideUpIn_416cff4e {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.BackgroundVideo_3146bd30 {
  pointer-events: none;
}

.BackgroundVideo_video_be61ad9f {
  width: 100%;
  height: 100%;
}
.BackgroundVideo_video__bg_277575c1 {
  background: url("R.images.comp7.gui.maps.icons.backgrounds.yearly_styles") no-repeat center/contain;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Tag_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Tag_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Tag_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Tag_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Tag_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Tag_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Tag_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Tag_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Tag_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Tag_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Tag_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Tag_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Tag_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Tag_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Tag_ebca89ec {
  color: #fff;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24rem;
  padding: 2rem 10rem;
  border-radius: 2rem;
}
.mediaMedium .Tag_ebca89ec {
  padding: 6rem 10rem;
}
.mediaLarge .Tag_ebca89ec {
  height: 32rem;
  font-size: 16rem;
}
.Tag_base__new_bca663c2 {
  background-color: #c93303;
}
.Tag_base__changed_9320deb9 {
  background-color: #2e7228;
}
.Tag_base__seasonUpdate_852f3760 {
  background-color: #285772;
}
.Tag_base__revamped_712085ab {
  background-color: #5a2872;
}
.Tag_base__returned_dee71c48 {
  background-color: #447228;
}
.Tag_base__attention_2521ac7d {
  background-color: #b38900;
}
.Tag_base__experimental_48eda667 {
  background-color: #cd6911;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes WatchVideo_fadeIn_db9449d5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes WatchVideo_fadeInThreeQuarters_db9449d5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes WatchVideo_fadeInHalf_db9449d5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes WatchVideo_fadeOut_db9449d5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes WatchVideo_fadeInWithScale_db9449d5 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes WatchVideo_slideUp_db9449d5 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes WatchVideo_scale_db9449d5 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes WatchVideo_raysAppearance_db9449d5 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes WatchVideo_rotate_db9449d5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes WatchVideo_reverse-rotate_db9449d5 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes WatchVideo_glowAppearance_db9449d5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes WatchVideo_highlightAppearance_db9449d5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes WatchVideo_blink_db9449d5 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes WatchVideo_slideUpIn_db9449d5 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.WatchVideo_content_ae20f033 {
  display: flex;
  align-items: center;
}

.WatchVideo_videoButton_6b01e609 {
  width: 52rem;
  height: 42rem;
  margin-left: -12rem;
  background: url("R.images.comp7.gui.maps.icons.whatsNewView.videoButton") no-repeat center/contain;
}

.WatchVideo_text_6df0b12 {
  margin-left: 5rem;
  font-size: 20rem;
}
.mediaLarge .WatchVideo_text_6df0b12 {
  font-size: 24rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Banner_fadeIn_fad1ffcf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Banner_fadeInThreeQuarters_fad1ffcf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Banner_fadeInHalf_fad1ffcf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Banner_fadeOut_fad1ffcf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Banner_fadeInWithScale_fad1ffcf {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Banner_slideUp_fad1ffcf {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Banner_scale_fad1ffcf {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Banner_raysAppearance_fad1ffcf {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Banner_rotate_fad1ffcf {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Banner_reverse-rotate_fad1ffcf {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Banner_glowAppearance_fad1ffcf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Banner_highlightAppearance_fad1ffcf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Banner_blink_fad1ffcf {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Banner_slideUpIn_fad1ffcf {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Banner_807baf62 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 130rem;
}
.mediaMedium .Banner_807baf62 {
  padding-top: 171rem;
}
.mediaLarge .Banner_807baf62 {
  padding-top: 230rem;
}
.mediaExtraLarge .Banner_807baf62 {
  padding-top: 340rem;
}

.Banner_h3_26797561 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 8rem;
}

.Banner_heading_233e13d2 {
  font-size: 32rem;
  font-weight: 700;
  line-height: 1.3em;
  align-items: center;
  margin-right: 20rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaLarge .Banner_heading_233e13d2 {
  font-size: 46rem;
  line-height: 1.15;
}

.Banner_description_dfea0790 {
  margin-top: 4rem;
}

.Banner_date_1c1a4743 {
  margin-bottom: 50rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaLarge .Banner_date_1c1a4743 {
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.Banner_introDescription_1e9ef322 {
  /* heights here - visual rectangle for content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 454rem;
  margin: -76rem 40rem 0 0;
  position: relative;
  z-index: 0;
}
.mediaMedium .Banner_introDescription_1e9ef322 {
  margin-right: 96rem;
}

.Banner_headingContainer_cb4c7c84 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 30rem;
}

.Banner_introContainer_fbde58b8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 338rem;
  margin-top: 150rem;
  background: url("R.images.comp7.gui.maps.icons.whatsNewView.night_maps") no-repeat center/cover;
  position: relative;
}
.mediaLarge .Banner_introContainer_fbde58b8 {
  height: 460rem;
  margin-top: 190rem;
}
.mediaExtraLarge .Banner_introContainer_fbde58b8 {
  margin-top: 250rem;
}

.Banner_tag_b884e5f0 {
  margin-left: 10rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Typography_fadeIn_546ed619 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Typography_fadeInThreeQuarters_546ed619 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Typography_fadeInHalf_546ed619 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Typography_fadeOut_546ed619 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Typography_fadeInWithScale_546ed619 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Typography_slideUp_546ed619 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Typography_scale_546ed619 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Typography_raysAppearance_546ed619 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Typography_rotate_546ed619 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Typography_reverse-rotate_546ed619 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Typography_glowAppearance_546ed619 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Typography_highlightAppearance_546ed619 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Typography_blink_546ed619 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Typography_slideUpIn_546ed619 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Typography_fadeIn_546ed619 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Typography_fadeInThreeQuarters_546ed619 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Typography_fadeInHalf_546ed619 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Typography_fadeOut_546ed619 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Typography_fadeInWithScale_546ed619 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Typography_slideUp_546ed619 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Typography_scale_546ed619 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Typography_raysAppearance_546ed619 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Typography_rotate_546ed619 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Typography_reverse-rotate_546ed619 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Typography_glowAppearance_546ed619 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Typography_highlightAppearance_546ed619 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Typography_blink_546ed619 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Typography_slideUpIn_546ed619 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Typography_h1_da89a0d0 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaLarge .Typography_h1_da89a0d0 {
  font-size: 73rem;
}

.Typography_h2_13f4d2f5 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaLarge .Typography_h2_13f4d2f5 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
}

.Typography_h3_13f4d2f5 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaLarge .Typography_h3_13f4d2f5 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
}

.Typography_paragraphText_5f2b094e {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaLarge .Typography_paragraphText_5f2b094e {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Map_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Map_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Map_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Map_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Map_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Map_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Map_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Map_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Map_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Map_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Map_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Map_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Map_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Map_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Map_66920b8d {
  width: 247rem;
  height: 243rem;
  position: relative;
}
.mediaLarge .Map_66920b8d {
  width: 336rem;
  height: 330rem;
}

.Map_background_0,
.Map_gradient_aa55b2e6 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.Map_gradient_aa55b2e6 {
  background: radial-gradient(143% 140% at 1% 100%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%) no-repeat center/contain;
}

.Map_content_3c0f8b58 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding: 18rem;
}
.mediaLarge .Map_content_3c0f8b58 {
  padding: 20rem;
}

.Map_nameContainer_8f070fae {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1;
}

.Map_name_cdb35f0e {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  text-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.4), 0 4rem 4rem rgba(0, 0, 0, 0.25);
}
.mediaLarge .Map_name_cdb35f0e {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
}

.Map_stamp_a5bd6bea {
  padding: 6rem 22rem;
  border: 2rem solid;
  border-radius: 2rem;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-30deg);
  transform-origin: 50% 50%;
}
.mediaLarge .Map_stamp_a5bd6bea {
  font-size: 20rem;
}
.Map_stamp__removed_ea43b661 {
  border-color: #ff2717;
  background-color: rgba(183, 0, 0, 0.1);
  color: #ff2717;
  font-size: 22rem;
}
.mediaLarge .Map_stamp__removed_ea43b661 {
  font-size: 28rem;
}
.Map_stamp__underDevelopment_2eab81f6 {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Grid_fadeIn_bd62f59d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Grid_fadeInThreeQuarters_bd62f59d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Grid_fadeInHalf_bd62f59d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Grid_fadeOut_bd62f59d {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Grid_fadeInWithScale_bd62f59d {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Grid_slideUp_bd62f59d {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Grid_scale_bd62f59d {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Grid_raysAppearance_bd62f59d {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Grid_rotate_bd62f59d {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Grid_reverse-rotate_bd62f59d {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Grid_glowAppearance_bd62f59d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Grid_highlightAppearance_bd62f59d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Grid_blink_bd62f59d {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Grid_slideUpIn_bd62f59d {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Grid_container_fff50d0d {
  width: 1060rem;
}
.mediaLarge .Grid_container_fff50d0d {
  width: 1440rem;
}

.Grid_header_9a3828c4 {
  display: flex;
  align-items: center;
}
.Grid_header_9a3828c4 > *:last-child {
  margin-left: 20rem;
}

.Grid_row_fad44a4a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -24rem;
}
.mediaLarge .Grid_row_fad44a4a {
  margin-top: -30rem;
}

.Grid_cell_95a78ad9 {
  margin-top: 24rem;
}
.mediaLarge .Grid_cell_95a78ad9 {
  margin-top: 30rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes MapChanges_fadeIn_194c07e7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes MapChanges_fadeInThreeQuarters_194c07e7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes MapChanges_fadeInHalf_194c07e7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes MapChanges_fadeOut_194c07e7 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes MapChanges_fadeInWithScale_194c07e7 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes MapChanges_slideUp_194c07e7 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes MapChanges_scale_194c07e7 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes MapChanges_raysAppearance_194c07e7 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes MapChanges_rotate_194c07e7 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes MapChanges_reverse-rotate_194c07e7 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes MapChanges_glowAppearance_194c07e7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes MapChanges_highlightAppearance_194c07e7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes MapChanges_blink_194c07e7 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes MapChanges_slideUpIn_194c07e7 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.MapChanges_header_31ada2d {
  margin-bottom: 28rem;
}

.MapChanges_legend_92b285b6 {
  margin-bottom: 14rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Vehicle_fadeIn_c03ad304 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Vehicle_fadeInThreeQuarters_c03ad304 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Vehicle_fadeInHalf_c03ad304 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Vehicle_fadeOut_c03ad304 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Vehicle_fadeInWithScale_c03ad304 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Vehicle_slideUp_c03ad304 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Vehicle_scale_c03ad304 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Vehicle_raysAppearance_c03ad304 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Vehicle_rotate_c03ad304 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Vehicle_reverse-rotate_c03ad304 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Vehicle_glowAppearance_c03ad304 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Vehicle_highlightAppearance_c03ad304 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Vehicle_blink_c03ad304 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Vehicle_slideUpIn_c03ad304 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Vehicle_b4f7ade7 {
  display: flex;
  width: 332rem;
  height: 240rem;
  background: no-repeat center/contain;
  position: relative;
}
.mediaLarge .Vehicle_b4f7ade7 {
  width: 458rem;
  height: 330rem;
}

.Vehicle_gradient_66189772 {
  background: radial-gradient(143% 140% at 1% 100%, rgba(0, 0, 0, 0.4), transparent) no-repeat center/contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Vehicle_details_1190e9b6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1 1;
  padding: 0 0 14rem 18rem;
}
.mediaLarge .Vehicle_details_1190e9b6 {
  padding: 0 0 18rem 22rem;
}

.Vehicle_vehicleName_3c00f9a6 {
  margin-bottom: 4rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 18rem;
  font-weight: 700;
}
.mediaLarge .Vehicle_vehicleName_3c00f9a6 {
  font-size: 22rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes RentalVehicles_fadeIn_2013d8d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RentalVehicles_fadeInThreeQuarters_2013d8d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes RentalVehicles_fadeInHalf_2013d8d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes RentalVehicles_fadeOut_2013d8d3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes RentalVehicles_fadeInWithScale_2013d8d3 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes RentalVehicles_slideUp_2013d8d3 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes RentalVehicles_scale_2013d8d3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes RentalVehicles_raysAppearance_2013d8d3 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes RentalVehicles_rotate_2013d8d3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes RentalVehicles_reverse-rotate_2013d8d3 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes RentalVehicles_glowAppearance_2013d8d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RentalVehicles_highlightAppearance_2013d8d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes RentalVehicles_blink_2013d8d3 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RentalVehicles_slideUpIn_2013d8d3 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.RentalVehicles_header_4faf333a {
  margin-bottom: 28rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes SeasonalUpdate_fadeIn_7f00897d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes SeasonalUpdate_fadeInThreeQuarters_7f00897d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes SeasonalUpdate_fadeInHalf_7f00897d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes SeasonalUpdate_fadeOut_7f00897d {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes SeasonalUpdate_fadeInWithScale_7f00897d {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes SeasonalUpdate_slideUp_7f00897d {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes SeasonalUpdate_scale_7f00897d {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes SeasonalUpdate_raysAppearance_7f00897d {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes SeasonalUpdate_rotate_7f00897d {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes SeasonalUpdate_reverse-rotate_7f00897d {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes SeasonalUpdate_glowAppearance_7f00897d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes SeasonalUpdate_highlightAppearance_7f00897d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes SeasonalUpdate_blink_7f00897d {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes SeasonalUpdate_slideUpIn_7f00897d {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.SeasonalUpdate_250e2e65 {
  display: flex;
  align-items: center;
}

.SeasonalUpdate_image_1bf5b78 {
  width: 456rem;
  height: 214rem;
  background: no-repeat center/cover;
}

.SeasonalUpdate_container_cc8124a9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1;
  margin-left: 48rem;
  margin-right: 20rem;
}
.mediaLarge .SeasonalUpdate_container_cc8124a9 {
  margin-left: 88rem;
  margin-right: 40rem;
}

.SeasonalUpdate_title_250e2e65 {
  display: flex;
  align-items: center;
}

.SeasonalUpdate_description_77846fe8 {
  margin-top: 8rem;
}

.SeasonalUpdate_tag_fe951f3d {
  margin-left: 10rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Main_fadeIn_84c5dae7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Main_fadeInThreeQuarters_84c5dae7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Main_fadeInHalf_84c5dae7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Main_fadeOut_84c5dae7 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Main_fadeInWithScale_84c5dae7 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Main_slideUp_84c5dae7 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Main_scale_84c5dae7 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Main_raysAppearance_84c5dae7 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Main_rotate_84c5dae7 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Main_reverse-rotate_84c5dae7 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Main_glowAppearance_84c5dae7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Main_highlightAppearance_84c5dae7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Main_blink_84c5dae7 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Main_slideUpIn_84c5dae7 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
/* should be percentage of screen width */
@keyframes Main_fadeIn_84c5dae7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Main_fadeInThreeQuarters_84c5dae7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Main_fadeInHalf_84c5dae7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Main_fadeOut_84c5dae7 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Main_fadeInWithScale_84c5dae7 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Main_slideUp_84c5dae7 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Main_scale_84c5dae7 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Main_raysAppearance_84c5dae7 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Main_rotate_84c5dae7 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Main_reverse-rotate_84c5dae7 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Main_glowAppearance_84c5dae7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Main_highlightAppearance_84c5dae7 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Main_blink_84c5dae7 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Main_slideUpIn_84c5dae7 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Main_c6b88ada {
  width: 100%;
  height: 100%;
  position: relative;
}

.Main_areaBaseWrapper_afa6e4d5 {
  mask-image: linear-gradient(to bottom, transparent, #000 10%, #000 90%, transparent);
  mask-repeat: no-repeat;
}
.mediaMedium .Main_areaBaseWrapper_afa6e4d5 {
  mask-image: linear-gradient(to bottom, transparent, #000 12%, #000 88%, transparent);
}
.mediaExtraLarge .Main_areaBaseWrapper_afa6e4d5 {
  mask-image: linear-gradient(to bottom, transparent, #000 10%, #000 90%, transparent);
}

.Main_videoContainer_742b9b37 {
  width: 1366rem;
  height: 768rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-31%);
}
.mediaMedium .Main_videoContainer_742b9b37 {
  width: 1600rem;
  height: 900rem;
}
.mediaLarge .Main_videoContainer_742b9b37 {
  width: 1920rem;
  height: 1080rem;
}
.mediaExtraLarge .Main_videoContainer_742b9b37 {
  width: 2560rem;
  height: 1440rem;
}

.Main_content_89d4e584 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: no-repeat top/100% auto;
}
.Main_content__first_dbd58c45 {
  background-image: url("R.images.comp7.gui.maps.icons.whatsNewView.bg_first");
}
.Main_content__second_7dca6a3b {
  background-image: url("R.images.comp7.gui.maps.icons.whatsNewView.bg_second");
}
.Main_content__third_2588e0ff {
  background-image: url("R.images.comp7.gui.maps.icons.whatsNewView.bg_third");
}

.Main_scrollBar_1f24d8d6 {
  height: 84vh;
  position: absolute;
  top: 50%;
  right: 12rem;
  transform: translateY(-45%);
}
.mediaMedium .Main_scrollBar_1f24d8d6 {
  transform: translateY(-46%);
}
.mediaLarge .Main_scrollBar_1f24d8d6 {
  height: 86vh;
  transform: translateY(-46%);
}
.mediaExtraLarge .Main_scrollBar_1f24d8d6 {
  transform: translateY(-48%);
}

.Main_button_9e2e2dc3 {
  opacity: 0;
  animation-name: Main_slideUpIn_84c5dae7;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  animation-delay: 2700ms;
  min-width: 180rem;
  margin-top: 30rem;
  margin-bottom: 100rem;
}
.mediaMedium .Main_button_9e2e2dc3 {
  margin-top: 20rem;
  margin-bottom: 120rem;
}
.mediaExtraLarge .Main_button_9e2e2dc3 {
  margin-top: 40rem;
  margin-bottom: 140rem;
}

.Main_container_6171ab21 {
  width: 1060rem;
  margin-bottom: 50rem;
}
.mediaMedium .Main_container_6171ab21 {
  margin-bottom: 68rem;
}
.mediaLarge .Main_container_6171ab21 {
  width: 1440rem;
}
.Main_container_6171ab21:last-child {
  margin-right: 0;
}
.Main_container__custom_41c25278 {
  margin-bottom: 60rem;
}
.mediaMedium .Main_container__custom_41c25278 {
  margin-bottom: 80rem;
}
.Main_container__updates_b5be00ed {
  display: flex;
  justify-content: space-between;
  margin-top: 25rem;
  margin-bottom: 50rem;
}
.mediaMedium .Main_container__updates_b5be00ed {
  margin-top: 34rem;
  margin-bottom: 68rem;
}
.Main_container__1_f604bb7f {
  opacity: 0;
  animation-name: Main_slideUpIn_84c5dae7;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  animation-delay: 450ms;
}
.Main_container__2_3037bf3a {
  opacity: 0;
  animation-name: Main_slideUpIn_84c5dae7;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  animation-delay: 900ms;
}
.Main_container__3_364d1171 {
  opacity: 0;
  animation-name: Main_slideUpIn_84c5dae7;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  animation-delay: 1350ms;
}
.Main_container__4_2d897c3d {
  opacity: 0;
  animation-name: Main_slideUpIn_84c5dae7;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  animation-delay: 1800ms;
}
.Main_container__5_f30d5c83 {
  opacity: 0;
  animation-name: Main_slideUpIn_84c5dae7;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  animation-delay: 2250ms;
}
.Main_container__6_d560cd2f {
  opacity: 0;
  animation-name: Main_slideUpIn_84c5dae7;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  animation-delay: 2700ms;
}
.Main_container__7_cbb333ac {
  opacity: 0;
  animation-name: Main_slideUpIn_84c5dae7;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  animation-delay: 3150ms;
}

.Main_newLTRolesImage_e6b4aa81 {
  background-image: url("R.images.comp7.gui.maps.icons.whatsNewView.new_LT_roles");
}

.Main_balanceChangesImage_ac0c24a0 {
  background-image: url("R.images.comp7.gui.maps.icons.whatsNewView.balance_changes");
}

.Main_drawConditionsImage_dfa009e8 {
  background-image: url("R.images.comp7.gui.maps.icons.whatsNewView.draw_conditions");
}

.Main_noSuperPlatoonsImage_526967b1 {
  background-image: url("R.images.comp7.gui.maps.icons.whatsNewView.no_super_platoons");
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.App_f9ac9f39 {
  display: flex;
  width: 100%;
  height: 100%;
  background: url("R.images.comp7.gui.maps.icons.whatsNewView.backdrop") no-repeat center/cover;
  position: relative;
}

.App_container_9abce13f {
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.App_waiting_93ca532a {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
}