/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BattleInfo_root_78068d1,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BattleInfo_c571fef2 {
  display: flex;
  flex-wrap: nowrap;
  height: 120rem;
  color: rgba(238, 237, 233, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
}

.BattleInfo_containerText_99e1a870 {
  width: 490rem;
  height: 120rem;
  position: relative;
  left: 60rem;
}
.mediaMedium .BattleInfo_containerText_99e1a870 {
  width: 584rem;
}
.mediaLarge .BattleInfo_containerText_99e1a870 {
  width: 744rem;
}
.mediaExtraLarge .BattleInfo_containerText_99e1a870 {
  width: 884rem;
}

.BattleInfo_firstLine_b7c4be88 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 24rem;
  margin-top: -17rem;
  left: 0;
}
.mediaMedium .BattleInfo_firstLine_b7c4be88 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  height: 26rem;
}

.BattleInfo_secondLine_6c48744f {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 24rem;
  margin-top: 5rem;
  left: 0;
}
.mediaMedium .BattleInfo_secondLine_6c48744f {
  margin-top: 8rem;
}
.mediaLarge .BattleInfo_secondLine_6c48744f {
  margin-top: 7rem;
}
.mediaExtraLarge .BattleInfo_secondLine_6c48744f {
  margin-top: 9rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#DifficultyItem_root_84d51887,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.DifficultyItem_difficultyItem_17a5fed3 {
  width: 180rem;
  height: 26rem;
  position: relative;
}

.DifficultyItem_progress_cf46d2a0 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  height: 57rem;
  margin-left: -10rem;
  top: 3rem;
}

.DifficultyItem_progressIcon_8b0abd {
  width: 63rem;
  height: 71rem;
  margin-right: -21rem;
  background: url("R.images.last_stand.gui.maps.icons.difficulties.progression.progress_large") no-repeat 50%/contain;
  opacity: 1;
}
.DifficultyItem_progressIcon__completed_602c7ded {
  background-image: url("R.images.last_stand.gui.maps.icons.difficulties.progression.completed_large");
}
.DifficultyItem_difficultyItem__disabled_84d51887 .DifficultyItem_progressIcon_8b0abd {
  opacity: 0.8;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_3f691153 {
  width: 100%;
  height: 86rem;
  position: relative;
  z-index: 1;
}
.mediaLarge .Header_3f691153 {
  transform: translateY(30rem);
}

.Header_label_4d493233 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  width: 100%;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-weight: 600;
  text-align: center;
  position: absolute;
  bottom: 4rem;
}
.Header_label_4d493233[lang=th] {
  bottom: 8rem;
}
.mediaLarge .Header_label_4d493233 {
  bottom: 50rem;
}
.mediaLarge .Header_label_4d493233[lang=th] {
  bottom: 56rem;
}

.Header_title_6cbfc85 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: -6rem;
}
.Header_base__lose_65f475ba .Header_title_6cbfc85 {
  font-size: 56rem;
  opacity: 0.8;
  top: -7rem;
}
.mediaLarge .Header_base__lose_65f475ba .Header_title_6cbfc85 {
  font-size: 70rem;
  top: -53rem;
}
.Header_base__win_65f475ba .Header_title_6cbfc85 {
  font-size: 56rem;
  opacity: 1;
}
.mediaLarge .Header_base__win_65f475ba .Header_title_6cbfc85 {
  font-size: 60rem;
  top: -50rem;
}
.mediaLarge .Header_base__win_65f475ba .Header_title_6cbfc85[lang=fr], .mediaLarge .Header_base__win_65f475ba .Header_title_6cbfc85[lang=it] {
  width: 110%;
}

.Header_subTitle_968d7458 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  max-width: 870rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-size: 20rem;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 60rem;
}
.Header_subTitle_968d7458[lang=th] {
  top: 65rem;
}
.mediaMedium .Header_subTitle_968d7458 {
  font-size: 24rem;
  top: 57rem;
}
.mediaMedium .Header_subTitle_968d7458[lang=th] {
  top: 62rem;
}
.mediaLarge .Header_subTitle_968d7458 {
  top: 26rem;
}
.mediaLarge .Header_subTitle_968d7458[lang=th] {
  top: 32rem;
}

.Header_iconWarning_3db7a0bd {
  width: 32rem;
  height: 32rem;
  background: url("R.images.gui.maps.icons.dogtags.icons.alert_big") no-repeat 50%/contain;
  position: absolute;
  top: 18rem;
  right: -24rem;
  transform: translateX(100%);
}

.Header_record_deec923 {
  width: auto;
  height: auto;
  color: #fd9;
  font-size: 19rem;
  font-weight: 700;
  line-height: 20rem;
  text-shadow: 0 0 4rem rgba(255, 127, 0, 0.25), 0 0 15rem #ff2a00, 0 0 30rem #e52;
  white-space: pre;
  position: absolute;
  top: 16rem;
  right: -30rem;
  transform: translateX(100%);
}

.Header_glow_1d360861 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1860rem;
  height: 800rem;
  background: url("R.images.last_stand.gui.maps.icons.battleResult.glow_win") no-repeat 50%/contain;
  mix-blend-mode: screen;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
}
.Header_glow_1d360861[lang=th] {
  margin-top: 3rem;
}

.Header_containerGlow_72d9d90a {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 60rem;
}
.Header_base__win_65f475ba .Header_containerGlow_72d9d90a {
  top: 49rem;
}
.mediaLarge .Header_containerGlow_72d9d90a {
  top: 10rem;
}

.Header_topContainer_b30c86eb {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Header_difficultyContainer_70aa1da5 {
  position: relative;
}
.Header_difficultyContainer__withoutSubtitle_9f5f3ed5 {
  top: 58rem;
}
.mediaMedium .Header_difficultyContainer__withoutSubtitle_9f5f3ed5 {
  top: 56rem;
}
.mediaLarge .Header_difficultyContainer__withoutSubtitle_9f5f3ed5 {
  top: 19rem;
}
.Header_difficultyContainer__withSubtitle_5cef8291 {
  top: 76rem;
}
.mediaLarge .Header_difficultyContainer__withSubtitle_5cef8291 {
  top: 48rem;
}

.Header_difficulty_70aa1da5 {
  position: relative;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#VehicleType_root_4e0d61e4,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.VehicleType_7a98563c {
  background: no-repeat 50%/contain;
}
.VehicleType_base__c_24x24_92335fef {
  width: 24rem;
  height: 24rem;
}
.VehicleType_base__c_38x38_2a1f524c {
  width: 38rem;
  height: 38rem;
}
.VehicleType_base__c_48x48_e19c5d21 {
  width: 48rem;
  height: 48rem;
}
.VehicleType_base__c_83x74_d3c76480 {
  width: 83rem;
  height: 74rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#PlayerInfo_root_56d02918,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PlayerInfo_7c774221 {
  display: flex;
  flex-wrap: nowrap;
  height: 120rem;
  color: rgba(238, 237, 233, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
}

.PlayerInfo_containerIconVehicle_32210bf {
  width: 100rem;
  height: 120rem;
  margin-left: 10rem;
  position: relative;
  right: 12rem;
}
.mediaSmall .PlayerInfo_containerIconVehicle_32210bf {
  width: 160rem;
  margin-left: 5rem;
}

.PlayerInfo_iconVehicle_d5eedfaf {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200rem;
  height: 140rem;
  background: no-repeat 50%/cover;
  transform: translate(-50%, -50%) scale(0.6);
}
.mediaMedium .PlayerInfo_iconVehicle_d5eedfaf {
  transform: translate(-50%, -50%) scale(0.8);
}

.PlayerInfo_containerText_65b61f27 {
  width: 340rem;
  height: 120rem;
}
.mediaSmall .PlayerInfo_containerText_65b61f27 {
  width: 470rem;
}
.mediaMedium .PlayerInfo_containerText_65b61f27 {
  width: 580rem;
}
.mediaLarge .PlayerInfo_containerText_65b61f27 {
  width: 740rem;
}
.mediaExtraLarge .PlayerInfo_containerText_65b61f27 {
  width: 870rem;
}

.PlayerInfo_firstLine_d4eac422 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20rem;
  margin-top: -17rem;
  right: 0;
}
.mediaMedium .PlayerInfo_firstLine_d4eac422 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
}

.PlayerInfo_vehType_cafded94 {
  margin: 0 -6rem;
  opacity: 0.5;
}

.PlayerInfo_userName_72b55ffd {
  flex: 0 1 auto;
}

.PlayerInfo_clanTag_423316c3 {
  margin-left: 3rem;
}

.PlayerInfo_clanTagBr_e0c489de {
  margin-top: -2rem;
}

.PlayerInfo_secondLine_e311e1cb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
  height: 20rem;
  margin-top: 5rem;
  right: 0;
}
.mediaMedium .PlayerInfo_secondLine_e311e1cb {
  margin-top: 8rem;
}
.mediaLarge .PlayerInfo_secondLine_e311e1cb {
  margin-top: 7rem;
}
.mediaExtraLarge .PlayerInfo_secondLine_e311e1cb {
  margin-top: 9rem;
}

.PlayerInfo_bullet_396e3a2a {
  width: 4rem;
  height: 4rem;
  margin: 4rem 4rem 0 10rem;
  border-radius: 50%;
  background-color: #e9e2bf;
  opacity: 0.5;
}

.PlayerInfo_premiumIGR_27355802 {
  width: 10rem;
  height: 10rem;
  margin: 0 3rem 0 -2rem;
  background: url("R.images.gui.maps.icons.library.premium_igr_ico") no-repeat center/contain;
  position: relative;
  top: 5rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#NumberAnim_root_3f9aec94,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.NumberAnim_d10abffc {
  display: flex;
  position: relative;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#RewardItem_root_4a85f1a2,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.RewardItem_e1b9de38 {
  display: flex;
  align-items: center;
  height: 40rem;
  margin: 0 9rem;
}

.RewardItem_value_3c42cc57 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 3rem;
  color: #d9d9d9;
  font-weight: 600;
  position: relative;
  bottom: 1rem;
}
.RewardItem_value__bonds_241c688e {
  color: var(--color-currency-bond);
}
.RewardItem_value__gold_96ae8dd9 {
  color: var(--color-currency-gold);
}
.RewardItem_value__credit_ada7aa49 {
  color: var(--color-currency-credits);
}
.mediaMedium .RewardItem_value_3c42cc57 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
}
.mediaLarge .RewardItem_value_3c42cc57 {
  font-size: 64rem;
}

.RewardItem_reward_beeec68f {
  margin-right: 0;
  pointer-events: none;
}
.RewardItem_reward__single_ceef77e8 {
  margin: 0;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Rewards_root_405577a5,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Rewards_f200efc9 {
  width: 100%;
  height: 131rem;
  padding-top: 65rem;
  position: relative;
}
.mediaMedium .Rewards_f200efc9 {
  height: 158rem;
}
.mediaLarge .Rewards_f200efc9 {
  height: 212rem;
}

.Rewards_reward_1a8854f {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rewards_rewardsWrapper_f865bce0 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46rem;
}
.mediaMedium .Rewards_rewardsWrapper_f865bce0 {
  margin-top: 65rem;
}
.mediaLarge .Rewards_rewardsWrapper_f865bce0 {
  margin-top: 27rem;
}

.Rewards_textWrapper_8ade3d92 {
  margin-top: 6rem;
  text-align: center;
  white-space: pre;
  position: relative;
}
.mediaMedium .Rewards_textWrapper_8ade3d92 {
  margin-top: 25rem;
}
.mediaLarge .Rewards_textWrapper_8ade3d92 {
  margin-top: 48rem;
}

.Rewards_text_7a613bb5 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(242, 242, 247, 0.7);
  font-weight: 400;
  line-height: 1.1em;
}
.Rewards_text__banned_269e6c90 {
  color: #ee7000;
}
.mediaLarge .Rewards_text_7a613bb5 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
  line-height: 1.2em;
}
.mediaLarge .Rewards_base__win_405577a5 .Rewards_text_7a613bb5 {
  line-height: 1.2em;
}

.Rewards_smoke_38b48210 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960rem;
  height: 321rem;
  margin-bottom: 20rem;
  background: url("R.images.last_stand.gui.maps.icons.battleResult.smoke") no-repeat center/contain;
  z-index: -1;
}

.Rewards_container_1c98b40e {
  display: flex;
  align-items: center;
  margin: -36rem 5rem 0;
}
.mediaLarge .Rewards_container_1c98b40e {
  margin-top: 25rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#SortHelper_root_af12aed1,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.SortHelper_9d778842 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.SortHelper_base__active_dbd69244 {
  cursor: pointer;
}
.SortHelper_base__selected_123b8b20 {
  background-color: rgba(var(--color-general-secondary-rgb), 0.15);
}

.SortHelper_line_f7ffaa44 {
  width: 100%;
  height: 1rem;
  background-color: var(--color-general-secondary);
  content: "";
  position: absolute;
  bottom: -1rem;
}

.SortHelper_arrow_920be1c0 {
  width: 0;
  height: 0;
  border: 4rem solid transparent;
  border-top: none;
  border-bottom-color: var(--color-general-secondary);
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.SortHelper_base__desc_af12aed1 .SortHelper_arrow_920be1c0 {
  border-top: 4rem solid;
  border-top-color: var(--color-general-secondary);
  border-bottom: none;
  bottom: -5rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#CellDecorator_root_b5c0999b,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.CellDecorator_children_baf4b143 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.CellDecorator_8e41db2a {
  display: flex;
  height: 100%;
  position: relative;
}
.CellDecorator_base__keys_a3370dfb {
  width: 60rem;
}
.CellDecorator_base__actions_6350e0fb {
  width: 130rem;
}
.CellDecorator_base__actions_6350e0fb[lang=ru] {
  width: 142rem;
}
.CellDecorator_base__actions_6350e0fb.CellDecorator_base__tabWindow_3990bbbe {
  display: none;
}
.CellDecorator_base__actions_6350e0fb.CellDecorator_base__currentPlayer_4db8f1fd {
  width: 0;
}
.CellDecorator_base__player_d5652c4a {
  width: 267rem;
}
.CellDecorator_base__player_d5652c4a.CellDecorator_base__currentPlayer_4db8f1fd[lang=ru] {
  width: 409rem;
}
.CellDecorator_base__player_d5652c4a.CellDecorator_base__currentPlayer_4db8f1fd {
  width: 397rem;
}
.CellDecorator_base__player_d5652c4a.CellDecorator_base__tabWindow_3990bbbe {
  width: 329rem;
}
.CellDecorator_base__player_d5652c4a.CellDecorator_base__tabWindow_3990bbbe.CellDecorator_base__actions_6350e0fb {
  display: none;
}
.CellDecorator_base__stats_a3370dfb {
  width: 60rem;
}
.CellDecorator_base__stats_a3370dfb.CellDecorator_base__tabWindow_3990bbbe {
  width: 100rem;
}
.CellDecorator_base__buffs_3e76b04 {
  width: 130rem;
}
.CellDecorator_base__damage_c1078d6a {
  width: 90rem;
}
.CellDecorator_base__damage_c1078d6a.CellDecorator_base__tabWindow_3990bbbe {
  width: 100rem;
}
.CellDecorator_base__vehicle_b5c0999b, .CellDecorator_base__vehicleIcon_d2d1ac28 {
  width: 204rem;
}
.CellDecorator_base__vehicle_b5c0999b.CellDecorator_base__tabWindow_3990bbbe, .CellDecorator_base__vehicleIcon_d2d1ac28.CellDecorator_base__tabWindow_3990bbbe {
  width: 200rem;
}

.CellDecorator_children_baf4b143 {
  display: flex;
  align-items: center;
  z-index: 2;
}
.CellDecorator_base__stats_a3370dfb .CellDecorator_children_baf4b143, .CellDecorator_base__damage_c1078d6a .CellDecorator_children_baf4b143, .CellDecorator_base__actions_6350e0fb .CellDecorator_children_baf4b143, .CellDecorator_base__statsLarge_b5c0999b .CellDecorator_children_baf4b143 {
  justify-content: center;
}
.CellDecorator_base__vehicleIcon_d2d1ac28.CellDecorator_base__tabWindow_3990bbbe .CellDecorator_children_baf4b143 {
  padding-left: 0;
}
.CellDecorator_base__player_d5652c4a.CellDecorator_base__tabWindow_3990bbbe .CellDecorator_children_baf4b143 {
  padding-left: 0;
}
.CellDecorator_base__vehicle_b5c0999b .CellDecorator_children_baf4b143 {
  padding-left: 12rem;
}
.CellDecorator_base__vehicle_b5c0999b.CellDecorator_base__tabWindow_3990bbbe .CellDecorator_children_baf4b143 {
  padding-left: 12rem;
}
.CellDecorator_base__kills_b5c0999b.CellDecorator_base__tabWindow_3990bbbe .CellDecorator_children_baf4b143 {
  padding-left: 19rem;
}
.CellDecorator_base__buffs_3e76b04 .CellDecorator_children_baf4b143 {
  padding-left: 12rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Divider_root_76b1f722,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Divider_80a19f4b {
  width: 100%;
  height: 1rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#RowDecorator_root_aac40ec7,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RowDecorator_backgroundHelper_2e26df7b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.RowDecorator_9c2cbad3 {
  width: 100%;
  height: 50rem;
  position: relative;
}
.RowDecorator_base__header_abc85b28 {
  height: 40rem;
}
.RowDecorator_base__currentPlayer_c096c296 {
  height: 80rem;
  margin-top: -4rem;
  padding-top: 4rem;
  font-size: 24rem;
  font-weight: 600;
  text-shadow: 0 0 4rem rgba(252, 246, 235, 0.16), 0 0 8rem rgba(255, 196, 108, 0.24), 0 0 16rem rgba(255, 154, 82, 0.5);
}

.RowDecorator_overlay_d9e1001c {
  width: 100%;
  height: 1rem;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(232, 230, 226, 0.03), rgba(246, 244, 236, 0.25));
  opacity: 0.5;
  mix-blend-mode: screen;
}

.RowDecorator_divider_1658ecef {
  opacity: 0.15;
}

.RowDecorator_headerDivider_d597113e {
  opacity: 0.8;
}

.RowDecorator_childrenWrapper_6deceacc {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  z-index: 3;
}
.RowDecorator_base__defaultText_aac40ec7 .RowDecorator_childrenWrapper_6deceacc {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.RowDecorator_base__goldText_aac40ec7 .RowDecorator_childrenWrapper_6deceacc {
  color: #ffd0a4;
}
.RowDecorator_base__disable_aac40ec7 .RowDecorator_childrenWrapper_6deceacc {
  opacity: 0.5;
}

.RowDecorator_backgroundHelper_2e26df7b {
  top: -1rem;
  z-index: 1;
}
.RowDecorator_base__goldBg_aac40ec7 .RowDecorator_backgroundHelper_2e26df7b {
  top: 3rem;
  background: linear-gradient(90deg, transparent 2%, rgba(130, 57, 0, 0.2) 15%, rgba(130, 57, 0, 0.2) 85%, transparent 98%);
  bottom: -1rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#HeaderIcon_root_1ee11e98,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HeaderIcon_d7f54b6b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity ease-in-out 0.15s;
}
.HeaderIcon_base__hoverEnabled_1ee11e98:hover {
  opacity: 1;
}
.HeaderIcon_base__highlighted_a21a50f4 {
  opacity: 0.8;
}
.HeaderIcon_base__squad_small_63ecb0d8 {
  margin-right: 7rem;
}
.HeaderIcon_base__buffs_f96ed88e {
  justify-content: flex-start;
}

.HeaderIcon_icon_35ac5787 {
  width: 32rem;
  height: 32rem;
  background: no-repeat 50%/contain;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#HeaderRow_root_29fa123c,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HeaderRow_9af02515 {
  display: flex;
}

.HeaderRow_text_f68ca11b {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(237, 230, 217, 0.5);
}
.HeaderRow_text__tabWindow_f2f594eb {
  margin-left: 6rem;
}

.HeaderRow_cell_8a6dfec5 {
  width: 100%;
  height: 100%;
}

.HeaderRow_squad_935f56a9 {
  justify-content: flex-start;
  width: 28rem;
  height: 20rem;
}

.HeaderRow_vehicle_14e4dbf7 {
  justify-content: flex-start;
  padding-left: 14rem;
}

.HeaderRow_border_871a1365 {
  flex: 0 0 auto;
  width: 2rem;
  position: relative;
}

.HeaderRow_upperLine_648f954e {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 1rem;
  top: -1rem;
}

.HeaderRow_iconBorder_37a55ff9 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 31rem;
  background: linear-gradient(180deg, transparent 2.66%, rgba(242, 242, 247, 0.2) 48.96%, transparent 97.89%);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}

.HeaderRow_actions_a19b825a {
  width: 100%;
  margin: 0 -2rem;
  color: rgba(237, 230, 217, 0.5);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#InteractionControls_root_c9a30f9e,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.InteractionControls_146f6573 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  z-index: 1;
}

.InteractionControls_control_2beca3f5 {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.InteractionControls_button_5ec72fb9 {
  width: 38rem;
  height: 28rem;
}

.InteractionControls_icon_cf51d582 {
  width: 22rem;
  height: 22rem;
  background: no-repeat center/contain;
}
.mediaMedium .InteractionControls_icon_cf51d582 {
  margin-top: 0;
}
.InteractionControls_icon__addFriend_382e2b7b {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.friendInvite");
}
.InteractionControls_icon__friendSent_41931811 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.friendSent");
}
.InteractionControls_icon__friendBlacklist_7a788b92 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.removeBlacklist");
}
.InteractionControls_icon__friend_a14815f9 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.friendAllready");
}
.InteractionControls_icon__platoonCanMade_a89f038a {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.platoonCanMade");
}
.InteractionControls_icon__platoonSent_af35adbd {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.platoonSent");
}
.InteractionControls_icon__platoonDone_684bbfd2 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.platoonDone");
}
.InteractionControls_icon__platoonUnavailable_f10b79f3 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.platoonUnavailable");
}
.InteractionControls_icon__menu_4472d150 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.menu");
}

.InteractionControls_iconWrapper_75bdbe8d {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36rem;
  height: 26rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#PlayerInfo_root_56d02918,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PlayerInfo_c13516d9 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.PlayerInfo_base__withBadge_d7f77396 {
  transform: translateX(-6rem);
}

.PlayerInfo_nickName_7b81bced {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 40rem;
}
.PlayerInfo_nickName__withSquad_7cb67087 {
  margin-left: 10rem;
}

.PlayerInfo_userName_1962969c {
  margin: 0 -10rem 0 -30rem;
}
.PlayerInfo_userName_1962969c > div {
  margin-left: 10rem;
  padding: 15rem;
}
.PlayerInfo_base__tabWindow_56d02918 .PlayerInfo_userName_1962969c {
  margin: 0 -10rem 0 -26rem;
}
.PlayerInfo_userName__withBadge_a8d4a0ad {
  padding-left: 7rem;
}

.PlayerInfo_name_20d67aee {
  max-width: 190rem;
}
.PlayerInfo_base__currentPlayer_56d02918 .PlayerInfo_name_20d67aee {
  max-width: 302rem;
}
.PlayerInfo_base__tabWindow_56d02918 .PlayerInfo_name_20d67aee {
  max-width: 280rem;
}

.PlayerInfo_clanTag_c2c71134 {
  max-width: 128rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.PlayerInfo_clanTag_c2c71134 > div {
  margin: -15rem;
  padding: 15rem;
}

.PlayerInfo_squad_dd98248 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 22rem;
  margin: 0 10rem 0 4rem;
  background: no-repeat 50%/contain;
  color: #ced9d9;
  text-align: center;
  mix-blend-mode: screen;
  transform: translateX(4rem);
}
.PlayerInfo_squad__highContrast_628621d0 {
  width: 14rem;
  height: 18rem;
  margin: 0 10rem;
  color: #595950;
  font-size: 12rem;
}
.PlayerInfo_base__currentPlayer_56d02918 .PlayerInfo_squad__highContrast_628621d0 {
  margin: 0 8rem 0 3rem;
}
.PlayerInfo_squad__defaultAlly_507bf2dc {
  color: #feab34;
}
.PlayerInfo_base__withBadge_d7f77396 .PlayerInfo_squad_dd98248 {
  transform: translateX(10rem);
}

.PlayerInfo_squadNum_632446e3 {
  position: relative;
  top: -1rem;
}

.PlayerInfo_banIcon_56491f35 {
  width: 16rem;
  height: 16rem;
  margin: 6rem 12rem 0 0;
  z-index: 1;
}
.PlayerInfo_banIcon__warned_1c18ebaa {
  background: url("R.images.last_stand.gui.maps.icons.common.teamList.icon.warned") no-repeat 50%/contain;
}
.PlayerInfo_banIcon__banned_732735b5 {
  background: url("R.images.last_stand.gui.maps.icons.common.teamList.icon.banned") no-repeat 50%/contain;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#StatValueDecorator_root_5170dfab,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.StatValueDecorator_49276f9 {
  white-space: nowrap;
  position: relative;
}
.StatValueDecorator_base__max_9ad2cb6a {
  font-weight: 700;
}

.StatValueDecorator_crown_94f6c06b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38rem;
  height: 38rem;
  background: no-repeat 50%/contain;
}
.StatValueDecorator_crown__gold_702e5240 {
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.gold");
}
.StatValueDecorator_base__currentPlayer_5170dfab .StatValueDecorator_crown__gold_702e5240 {
  width: 60rem;
  height: 60rem;
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.player.gold");
}
.StatValueDecorator_crown__silver_14f41da8 {
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.silver");
}
.StatValueDecorator_base__currentPlayer_5170dfab .StatValueDecorator_crown__silver_14f41da8 {
  width: 60rem;
  height: 60rem;
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.player.silver");
}
.StatValueDecorator_crown__bronze_60a3d8e7 {
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.bronze");
}
.StatValueDecorator_base__currentPlayer_5170dfab .StatValueDecorator_crown__bronze_60a3d8e7 {
  width: 60rem;
  height: 60rem;
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.player.bronze");
}

.StatValueDecorator_amount_5c9f9597 {
  position: relative;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#VehicleInfo_root_9c9aeed,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.VehicleInfo_30590fa0 {
  display: flex;
  align-items: center;
  width: 100%;
}

.VehicleInfo_label_70315f59 {
  flex: 1;
  margin-left: -6rem;
}

.VehicleInfo_premiumIGR_aca7dde6 {
  width: 10rem;
  height: 10rem;
  margin: 1rem 3rem 0 -2rem;
  background: url("R.images.gui.maps.icons.library.premium_igr_ico") no-repeat center/contain;
  position: relative;
  top: 5rem;
}

.VehicleInfo_vehType_af7fa755 {
  width: 38rem;
  height: 38rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#TeamList_root_68eb33e8,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TeamList_81df03aa {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8c8c7e;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#TeamResults_root_d769cec3,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TeamResults_6c23d5d4 {
  width: 100%;
  height: 280rem;
  position: relative;
  z-index: 1;
}

.TeamResults_table_8049bec6 {
  max-width: 871rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BattleResultApp_root_c41f5b7d,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.BattleResultApp_bgWrapper_c41f5b7d, .BattleResultApp_vignette_a2378442 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.BattleResultApp_e15a7f4d {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.BattleResultApp_closeBtn_a294eb07 {
  position: absolute;
  top: 31rem;
  right: 28rem;
  z-index: 1;
  z-index: 1;
}

.BattleResultApp_bg_f4fbe486 {
  width: 100%;
  height: 100%;
  background: no-repeat 50%/cover;
}

.BattleResultApp_vignette_a2378442 {
  background: url("R.images.last_stand.gui.maps.icons.backgrounds.vignette_simple") no-repeat 50%/100% 100%;
}

.BattleResultApp_containerLeftSide_7c0c82fc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  right: 50%;
}

.BattleResultApp_block_58e1b143 {
  width: 871rem;
  margin-left: 53rem;
  position: relative;
  transform: translateY(-30rem);
}
.BattleResultApp_block__isRight_b9410de0 {
  right: 0;
  left: inherit;
}
.mediaMedium .BattleResultApp_block_58e1b143 {
  transform: translateY(-32rem);
}
.mediaLarge .BattleResultApp_block_58e1b143 {
  margin-left: 85rem;
  transform: translateY(-1rem);
}
.mediaExtraLarge .BattleResultApp_block_58e1b143 {
  margin-left: 395rem;
  transform: translateY(-52rem);
}

.BattleResultApp_playerInfo_a042e518 {
  position: absolute;
  right: 5rem;
}

.BattleResultApp_battleInfo_3797679c {
  position: absolute;
  left: 0;
}

.BattleResultApp_battleInfo_3797679c,
.BattleResultApp_playerInfo_a042e518 {
  bottom: 6rem;
}
.mediaMedium .BattleResultApp_battleInfo_3797679c,
.mediaMedium .BattleResultApp_playerInfo_a042e518 {
  bottom: 37rem;
}
.mediaLarge .BattleResultApp_battleInfo_3797679c,
.mediaLarge .BattleResultApp_playerInfo_a042e518 {
  bottom: 47rem;
}
.mediaExtraLarge .BattleResultApp_battleInfo_3797679c,
.mediaExtraLarge .BattleResultApp_playerInfo_a042e518 {
  bottom: 77rem;
}

.BattleResultApp_ribbon_fedbedec {
  width: 1422rem;
  height: 925rem;
  background: url("R.images.last_stand.gui.maps.icons.battleResult.ribbon_reward_defeat") no-repeat center/cover;
  position: absolute;
  top: -25vh;
  left: -10%;
  z-index: -1;
}
.mediaMedium .BattleResultApp_ribbon_fedbedec {
  width: 1667rem;
  height: 1084rem;
  top: -28vh;
  left: -10%;
}
.mediaLarge .BattleResultApp_ribbon_fedbedec {
  width: 2000rem;
  height: 1300rem;
  top: -33vh;
  left: -14%;
}
.mediaExtraLarge .BattleResultApp_ribbon_fedbedec {
  width: 2667rem;
  height: 1734rem;
  top: -36vh;
  left: -52%;
}
.BattleResultApp_ribbon_win_7d093e61 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.ribbon_reward");
}

.BattleResultApp_buttonWrapper_7593d24e {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 60rem;
  left: 0;
}
.mediaMedium .BattleResultApp_buttonWrapper_7593d24e {
  bottom: 69rem;
}
.mediaLarge .BattleResultApp_buttonWrapper_7593d24e {
  bottom: 80rem;
}
.mediaExtraLarge .BattleResultApp_buttonWrapper_7593d24e {
  bottom: 112rem;
}

.BattleResultApp_button_364f0502 {
  min-width: 92rem;
  height: 24rem;
}
.mediaMedium .BattleResultApp_button_364f0502 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  min-width: 118rem;
  height: 33rem;
}
.mediaLarge .BattleResultApp_button_364f0502 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  min-width: 150rem;
  height: 41rem;
}
.mediaExtraLarge .BattleResultApp_button_364f0502 {
  min-width: 196rem;
  height: 48rem;
}

.BattleResultApp_backBlock_ee577774 {
  width: 900rem;
  height: 360rem;
  background-color: #1b1e25;
  filter: blur(40rem);
  opacity: 0.8;
  position: absolute;
  bottom: -400rem;
  pointer-events: none;
}

.BattleResultApp_gradient_ea0586e1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 600rem;
  height: 180rem;
  background: radial-gradient(#344149 60%, transparent 80%);
  filter: blur(50px);
  opacity: 0;
  top: -50rem;
}
.BattleResultApp_base__lose_c41f5b7d .BattleResultApp_gradient_ea0586e1 {
  animation: BattleResultApp_fadeInLose_c41f5b7d 4s 1.5s ease-in-out forwards;
}
.BattleResultApp_base__win_c41f5b7d .BattleResultApp_gradient_ea0586e1 {
  animation: BattleResultApp_fadeInWin_c41f5b7d 1.5s 0.5s ease forwards;
}
.mediaLarge .BattleResultApp_gradient_ea0586e1 {
  top: -70rem;
}

@keyframes BattleResultApp_fadeInLose_c41f5b7d {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.45;
  }
}
@keyframes BattleResultApp_fadeInWin_c41f5b7d {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.65;
  }
}