/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#SortHelper_root_af12aed1,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.SortHelper_9d778842 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.SortHelper_base__active_dbd69244 {
  cursor: pointer;
}
.SortHelper_base__selected_123b8b20 {
  background-color: rgba(var(--color-general-secondary-rgb), 0.15);
}

.SortHelper_line_f7ffaa44 {
  width: 100%;
  height: 1rem;
  background-color: var(--color-general-secondary);
  content: "";
  position: absolute;
  bottom: -1rem;
}

.SortHelper_arrow_920be1c0 {
  width: 0;
  height: 0;
  border: 4rem solid transparent;
  border-top: none;
  border-bottom-color: var(--color-general-secondary);
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.SortHelper_base__desc_af12aed1 .SortHelper_arrow_920be1c0 {
  border-top: 4rem solid;
  border-top-color: var(--color-general-secondary);
  border-bottom: none;
  bottom: -5rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#CellDecorator_root_b5c0999b,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.CellDecorator_children_baf4b143 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.CellDecorator_8e41db2a {
  display: flex;
  height: 100%;
  position: relative;
}
.CellDecorator_base__keys_a3370dfb {
  width: 60rem;
}
.CellDecorator_base__actions_6350e0fb {
  width: 130rem;
}
.CellDecorator_base__actions_6350e0fb[lang=ru] {
  width: 142rem;
}
.CellDecorator_base__actions_6350e0fb.CellDecorator_base__tabWindow_3990bbbe {
  display: none;
}
.CellDecorator_base__actions_6350e0fb.CellDecorator_base__currentPlayer_4db8f1fd {
  width: 0;
}
.CellDecorator_base__player_d5652c4a {
  width: 267rem;
}
.CellDecorator_base__player_d5652c4a.CellDecorator_base__currentPlayer_4db8f1fd[lang=ru] {
  width: 409rem;
}
.CellDecorator_base__player_d5652c4a.CellDecorator_base__currentPlayer_4db8f1fd {
  width: 397rem;
}
.CellDecorator_base__player_d5652c4a.CellDecorator_base__tabWindow_3990bbbe {
  width: 329rem;
}
.CellDecorator_base__player_d5652c4a.CellDecorator_base__tabWindow_3990bbbe.CellDecorator_base__actions_6350e0fb {
  display: none;
}
.CellDecorator_base__stats_a3370dfb {
  width: 60rem;
}
.CellDecorator_base__stats_a3370dfb.CellDecorator_base__tabWindow_3990bbbe {
  width: 100rem;
}
.CellDecorator_base__buffs_3e76b04 {
  width: 130rem;
}
.CellDecorator_base__damage_c1078d6a {
  width: 90rem;
}
.CellDecorator_base__damage_c1078d6a.CellDecorator_base__tabWindow_3990bbbe {
  width: 100rem;
}
.CellDecorator_base__vehicle_b5c0999b, .CellDecorator_base__vehicleIcon_d2d1ac28 {
  width: 204rem;
}
.CellDecorator_base__vehicle_b5c0999b.CellDecorator_base__tabWindow_3990bbbe, .CellDecorator_base__vehicleIcon_d2d1ac28.CellDecorator_base__tabWindow_3990bbbe {
  width: 200rem;
}

.CellDecorator_children_baf4b143 {
  display: flex;
  align-items: center;
  z-index: 2;
}
.CellDecorator_base__stats_a3370dfb .CellDecorator_children_baf4b143, .CellDecorator_base__damage_c1078d6a .CellDecorator_children_baf4b143, .CellDecorator_base__actions_6350e0fb .CellDecorator_children_baf4b143, .CellDecorator_base__statsLarge_b5c0999b .CellDecorator_children_baf4b143 {
  justify-content: center;
}
.CellDecorator_base__vehicleIcon_d2d1ac28.CellDecorator_base__tabWindow_3990bbbe .CellDecorator_children_baf4b143 {
  padding-left: 0;
}
.CellDecorator_base__player_d5652c4a.CellDecorator_base__tabWindow_3990bbbe .CellDecorator_children_baf4b143 {
  padding-left: 0;
}
.CellDecorator_base__vehicle_b5c0999b .CellDecorator_children_baf4b143 {
  padding-left: 12rem;
}
.CellDecorator_base__vehicle_b5c0999b.CellDecorator_base__tabWindow_3990bbbe .CellDecorator_children_baf4b143 {
  padding-left: 12rem;
}
.CellDecorator_base__kills_b5c0999b.CellDecorator_base__tabWindow_3990bbbe .CellDecorator_children_baf4b143 {
  padding-left: 19rem;
}
.CellDecorator_base__buffs_3e76b04 .CellDecorator_children_baf4b143 {
  padding-left: 12rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Divider_root_76b1f722,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Divider_80a19f4b {
  width: 100%;
  height: 1rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#RowDecorator_root_aac40ec7,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RowDecorator_backgroundHelper_2e26df7b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.RowDecorator_9c2cbad3 {
  width: 100%;
  height: 50rem;
  position: relative;
}
.RowDecorator_base__header_abc85b28 {
  height: 40rem;
}
.RowDecorator_base__currentPlayer_c096c296 {
  height: 80rem;
  margin-top: -4rem;
  padding-top: 4rem;
  font-size: 24rem;
  font-weight: 600;
  text-shadow: 0 0 4rem rgba(252, 246, 235, 0.16), 0 0 8rem rgba(255, 196, 108, 0.24), 0 0 16rem rgba(255, 154, 82, 0.5);
}

.RowDecorator_overlay_d9e1001c {
  width: 100%;
  height: 1rem;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(232, 230, 226, 0.03), rgba(246, 244, 236, 0.25));
  opacity: 0.5;
  mix-blend-mode: screen;
}

.RowDecorator_divider_1658ecef {
  opacity: 0.15;
}

.RowDecorator_headerDivider_d597113e {
  opacity: 0.8;
}

.RowDecorator_childrenWrapper_6deceacc {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  z-index: 3;
}
.RowDecorator_base__defaultText_aac40ec7 .RowDecorator_childrenWrapper_6deceacc {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.RowDecorator_base__goldText_aac40ec7 .RowDecorator_childrenWrapper_6deceacc {
  color: #ffd0a4;
}
.RowDecorator_base__disable_aac40ec7 .RowDecorator_childrenWrapper_6deceacc {
  opacity: 0.5;
}

.RowDecorator_backgroundHelper_2e26df7b {
  top: -1rem;
  z-index: 1;
}
.RowDecorator_base__goldBg_aac40ec7 .RowDecorator_backgroundHelper_2e26df7b {
  top: 3rem;
  background: linear-gradient(90deg, transparent 2%, rgba(130, 57, 0, 0.2) 15%, rgba(130, 57, 0, 0.2) 85%, transparent 98%);
  bottom: -1rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#HeaderIcon_root_1ee11e98,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HeaderIcon_d7f54b6b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity ease-in-out 0.15s;
}
.HeaderIcon_base__hoverEnabled_1ee11e98:hover {
  opacity: 1;
}
.HeaderIcon_base__highlighted_a21a50f4 {
  opacity: 0.8;
}
.HeaderIcon_base__squad_small_63ecb0d8 {
  margin-right: 7rem;
}
.HeaderIcon_base__buffs_f96ed88e {
  justify-content: flex-start;
}

.HeaderIcon_icon_35ac5787 {
  width: 32rem;
  height: 32rem;
  background: no-repeat 50%/contain;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#HeaderRow_root_29fa123c,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HeaderRow_9af02515 {
  display: flex;
}

.HeaderRow_text_f68ca11b {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(237, 230, 217, 0.5);
}
.HeaderRow_text__tabWindow_f2f594eb {
  margin-left: 6rem;
}

.HeaderRow_cell_8a6dfec5 {
  width: 100%;
  height: 100%;
}

.HeaderRow_squad_935f56a9 {
  justify-content: flex-start;
  width: 28rem;
  height: 20rem;
}

.HeaderRow_vehicle_14e4dbf7 {
  justify-content: flex-start;
  padding-left: 14rem;
}

.HeaderRow_border_871a1365 {
  flex: 0 0 auto;
  width: 2rem;
  position: relative;
}

.HeaderRow_upperLine_648f954e {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 1rem;
  top: -1rem;
}

.HeaderRow_iconBorder_37a55ff9 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 31rem;
  background: linear-gradient(180deg, transparent 2.66%, rgba(242, 242, 247, 0.2) 48.96%, transparent 97.89%);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}

.HeaderRow_actions_a19b825a {
  width: 100%;
  margin: 0 -2rem;
  color: rgba(237, 230, 217, 0.5);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#InteractionControls_root_c9a30f9e,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.InteractionControls_146f6573 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  z-index: 1;
}

.InteractionControls_control_2beca3f5 {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.InteractionControls_button_5ec72fb9 {
  width: 38rem;
  height: 28rem;
}

.InteractionControls_icon_cf51d582 {
  width: 22rem;
  height: 22rem;
  background: no-repeat center/contain;
}
.mediaMedium .InteractionControls_icon_cf51d582 {
  margin-top: 0;
}
.InteractionControls_icon__addFriend_382e2b7b {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.friendInvite");
}
.InteractionControls_icon__friendSent_41931811 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.friendSent");
}
.InteractionControls_icon__friendBlacklist_7a788b92 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.removeBlacklist");
}
.InteractionControls_icon__friend_a14815f9 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.friendAllready");
}
.InteractionControls_icon__platoonCanMade_a89f038a {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.platoonCanMade");
}
.InteractionControls_icon__platoonSent_af35adbd {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.platoonSent");
}
.InteractionControls_icon__platoonDone_684bbfd2 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.platoonDone");
}
.InteractionControls_icon__platoonUnavailable_f10b79f3 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.platoonUnavailable");
}
.InteractionControls_icon__menu_4472d150 {
  background-image: url("R.images.last_stand.gui.maps.icons.battleResult.platoon.menu");
}

.InteractionControls_iconWrapper_75bdbe8d {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36rem;
  height: 26rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#PlayerInfo_root_56d02918,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.PlayerInfo_c13516d9 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.PlayerInfo_base__withBadge_d7f77396 {
  transform: translateX(-6rem);
}

.PlayerInfo_nickName_7b81bced {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 40rem;
}
.PlayerInfo_nickName__withSquad_7cb67087 {
  margin-left: 10rem;
}

.PlayerInfo_userName_1962969c {
  margin: 0 -10rem 0 -30rem;
}
.PlayerInfo_userName_1962969c > div {
  margin-left: 10rem;
  padding: 15rem;
}
.PlayerInfo_base__tabWindow_56d02918 .PlayerInfo_userName_1962969c {
  margin: 0 -10rem 0 -26rem;
}
.PlayerInfo_userName__withBadge_a8d4a0ad {
  padding-left: 7rem;
}

.PlayerInfo_name_20d67aee {
  max-width: 190rem;
}
.PlayerInfo_base__currentPlayer_56d02918 .PlayerInfo_name_20d67aee {
  max-width: 302rem;
}
.PlayerInfo_base__tabWindow_56d02918 .PlayerInfo_name_20d67aee {
  max-width: 280rem;
}

.PlayerInfo_clanTag_c2c71134 {
  max-width: 128rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.PlayerInfo_clanTag_c2c71134 > div {
  margin: -15rem;
  padding: 15rem;
}

.PlayerInfo_squad_dd98248 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 22rem;
  margin: 0 10rem 0 4rem;
  background: no-repeat 50%/contain;
  color: #ced9d9;
  text-align: center;
  mix-blend-mode: screen;
  transform: translateX(4rem);
}
.PlayerInfo_squad__highContrast_628621d0 {
  width: 14rem;
  height: 18rem;
  margin: 0 10rem;
  color: #595950;
  font-size: 12rem;
}
.PlayerInfo_base__currentPlayer_56d02918 .PlayerInfo_squad__highContrast_628621d0 {
  margin: 0 8rem 0 3rem;
}
.PlayerInfo_squad__defaultAlly_507bf2dc {
  color: #feab34;
}
.PlayerInfo_base__withBadge_d7f77396 .PlayerInfo_squad_dd98248 {
  transform: translateX(10rem);
}

.PlayerInfo_squadNum_632446e3 {
  position: relative;
  top: -1rem;
}

.PlayerInfo_banIcon_56491f35 {
  width: 16rem;
  height: 16rem;
  margin: 6rem 12rem 0 0;
  z-index: 1;
}
.PlayerInfo_banIcon__warned_1c18ebaa {
  background: url("R.images.last_stand.gui.maps.icons.common.teamList.icon.warned") no-repeat 50%/contain;
}
.PlayerInfo_banIcon__banned_732735b5 {
  background: url("R.images.last_stand.gui.maps.icons.common.teamList.icon.banned") no-repeat 50%/contain;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#StatValueDecorator_root_5170dfab,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.StatValueDecorator_49276f9 {
  white-space: nowrap;
  position: relative;
}
.StatValueDecorator_base__max_9ad2cb6a {
  font-weight: 700;
}

.StatValueDecorator_crown_94f6c06b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38rem;
  height: 38rem;
  background: no-repeat 50%/contain;
}
.StatValueDecorator_crown__gold_702e5240 {
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.gold");
}
.StatValueDecorator_base__currentPlayer_5170dfab .StatValueDecorator_crown__gold_702e5240 {
  width: 60rem;
  height: 60rem;
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.player.gold");
}
.StatValueDecorator_crown__silver_14f41da8 {
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.silver");
}
.StatValueDecorator_base__currentPlayer_5170dfab .StatValueDecorator_crown__silver_14f41da8 {
  width: 60rem;
  height: 60rem;
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.player.silver");
}
.StatValueDecorator_crown__bronze_60a3d8e7 {
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.bronze");
}
.StatValueDecorator_base__currentPlayer_5170dfab .StatValueDecorator_crown__bronze_60a3d8e7 {
  width: 60rem;
  height: 60rem;
  background-image: url("R.images.last_stand.gui.maps.icons.common.teamList.crown.player.bronze");
}

.StatValueDecorator_amount_5c9f9597 {
  position: relative;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#VehicleType_root_4e0d61e4,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.VehicleType_7a98563c {
  background: no-repeat 50%/contain;
}
.VehicleType_base__c_24x24_92335fef {
  width: 24rem;
  height: 24rem;
}
.VehicleType_base__c_38x38_2a1f524c {
  width: 38rem;
  height: 38rem;
}
.VehicleType_base__c_48x48_e19c5d21 {
  width: 48rem;
  height: 48rem;
}
.VehicleType_base__c_83x74_d3c76480 {
  width: 83rem;
  height: 74rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#VehicleInfo_root_9c9aeed,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.VehicleInfo_30590fa0 {
  display: flex;
  align-items: center;
  width: 100%;
}

.VehicleInfo_label_70315f59 {
  flex: 1;
  margin-left: -6rem;
}

.VehicleInfo_premiumIGR_aca7dde6 {
  width: 10rem;
  height: 10rem;
  margin: 1rem 3rem 0 -2rem;
  background: url("R.images.gui.maps.icons.library.premium_igr_ico") no-repeat center/contain;
  position: relative;
  top: 5rem;
}

.VehicleInfo_vehType_af7fa755 {
  width: 38rem;
  height: 38rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#TeamList_root_68eb33e8,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TeamList_81df03aa {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8c8c7e;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Caption_root_4db09398,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Caption_12fb43ec {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Caption_label_c380e02d {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  padding: 0 10rem 4rem;
  color: #f2f2f7;
  font-weight: 600;
  text-shadow: 0 0 15rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.mediaMedium .Caption_label_c380e02d {
  font-size: 28rem;
}

.Caption_line_ac746f35 {
  flex: 0 0 345rem;
  width: 345rem;
  height: 2rem;
  margin-bottom: 5rem;
  background: url("R.images.last_stand.gui.maps.icons.battle.eventStats.bg.line_left") no-repeat 50%/contain;
}
.Caption_line__right_824dbbcc {
  transform: rotate(180deg);
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_ec75a40 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 88rem;
  background: radial-gradient(25% 30% at 50% 100%, rgba(255, 251, 241, 0.13) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(30% 38% at 50% 0%, rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(90deg, rgba(6, 7, 9, 0) 0%, #070809 33.85%, #070809 59.44%, rgba(6, 7, 9, 0) 100%);
  position: relative;
  z-index: 3;
}
.mediaMedium .Header_ec75a40 {
  height: 156rem;
}

.Header_container_b357bdd0 {
  width: 100%;
}
.Header_container__right_b7afed9a {
  text-align: right;
}

.Header_title_b5162666 {
  margin-top: 12rem;
  color: #e9e2bf;
  font-size: 22rem;
  font-weight: 600;
  line-height: 1.3em;
}
.mediaMedium .Header_title_b5162666 {
  margin-top: 49rem;
}

.Header_subtitle_6cea72b9 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 2rem;
  color: #8c8c7e;
  line-height: 16rem;
  white-space: pre;
}
.mediaMedium .Header_subtitle_6cea72b9 {
  margin-top: 1rem;
  font-size: 18rem;
  line-height: 22rem;
}

.Header_icon_e7539829 {
  width: 64rem;
  height: 64rem;
  margin: 12rem 15rem 0;
  background: url("R.images.gui.maps.icons.battleTypes.c_64x64.last_stand") no-repeat 50%/contain;
}
.mediaMedium .Header_icon_e7539829 {
  width: 136rem;
  height: 136rem;
  margin: 10rem 15rem 0;
  background-image: url("R.images.gui.maps.icons.battleTypes.c_136x136.last_stand");
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#TabScreenApp_root_51e48dce,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.TabScreenApp_overlay_85ff597e, .TabScreenApp_content_ebe184a0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.TabScreenApp_176a4b5a {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.TabScreenApp_overlay_85ff597e {
  background: rgba(0, 0, 0, 0.8);
}

.TabScreenApp_missionTask_be0c52a3 {
  width: 100%;
  margin-bottom: 37rem;
  color: #f2f2f7;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  text-align: center;
  position: relative;
  z-index: 1;
}
.mediaMedium .TabScreenApp_missionTask_be0c52a3 {
  margin-bottom: 33rem;
  font-size: 24rem;
}

.TabScreenApp_content_ebe184a0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  margin-top: -6rem;
}

.TabScreenApp_tableCaption_c3a6b840 {
  margin-bottom: 30rem;
}
.mediaMedium .TabScreenApp_tableCaption_c3a6b840 {
  margin-bottom: 27rem;
}

.TabScreenApp_flare_7a90819c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200rem;
  height: 768rem;
  margin-top: 6rem;
  background: url("R.images.last_stand.gui.maps.icons.battle.eventStats.bg.flare") no-repeat 50%/cover;
  mix-blend-mode: screen;
}