/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#DifficultyItem_root_84d51887,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.DifficultyItem_border_3ef02768 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
.DifficultyItem_f9ea1d1b {
  display: flex;
  align-items: flex-end;
  width: 124rem;
  height: 104rem;
  position: relative;
  pointer-events: auto;
}
.DifficultyItem_base__hoverable_84d51887:hover {
  cursor: pointer;
}

.DifficultyItem_content_d2957dcf {
  display: flex;
  flex-direction: column;
  width: 124rem;
  height: 49rem;
  position: relative;
}

.DifficultyItem_storyPointsWrapper_e7223a99 {
  opacity: 0.7;
  transition: opacity 0.3s 0s ease-in-out;
}
.DifficultyItem_base__locked_84d51887 .DifficultyItem_storyPointsWrapper_e7223a99 {
  opacity: 0.5;
}
.DifficultyItem_base__hoverable_84d51887:hover .DifficultyItem_storyPointsWrapper_e7223a99, .DifficultyItem_base__selected_84d51887 .DifficultyItem_storyPointsWrapper_e7223a99 {
  opacity: 1;
}
.DifficultyItem_storyPointsWrapper_e7223a99 {
  display: flex;
  justify-content: center;
  position: relative;
  top: -26rem;
}

.DifficultyItem_storyPointsGlow_865279f8 {
  opacity: 0;
  transition: opacity 0.3s 0s ease-in-out;
}
.DifficultyItem_base__selected_84d51887 .DifficultyItem_storyPointsGlow_865279f8 {
  opacity: 1;
}
.DifficultyItem_storyPointsGlow_865279f8 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 124rem;
  height: 78rem;
  background: url("R.images.last_stand.gui.maps.icons.difficulties.story_point_shine") no-repeat 50%/contain;
}

.DifficultyItem_border_3ef02768 {
  opacity: 0.7;
  transition: opacity 0.3s 0s ease-in-out;
}
.DifficultyItem_base__locked_84d51887 .DifficultyItem_border_3ef02768 {
  opacity: 0.25;
}
.DifficultyItem_base__hoverable_84d51887:hover .DifficultyItem_border_3ef02768, .DifficultyItem_base__selected_84d51887 .DifficultyItem_border_3ef02768 {
  opacity: 1;
}
.DifficultyItem_border_3ef02768 {
  background: url("R.images.last_stand.gui.maps.icons.difficulties.border") no-repeat 50%/contain;
}

.DifficultyItem_bgHelper_e2cbb8de {
  position: absolute;
  top: 3rem;
  right: 3rem;
  bottom: 3rem;
  left: 3rem;
  background: no-repeat 50%/contain;
}
.DifficultyItem_bgHelper__selected_aa403705 {
  opacity: 0;
  transition: opacity 0.3s 0s ease-in-out;
}
.DifficultyItem_base__selected_84d51887 .DifficultyItem_bgHelper__selected_aa403705 {
  opacity: 1;
}
.DifficultyItem_bgHelper__selected_aa403705 {
  background-image: url("R.images.last_stand.gui.maps.icons.difficulties.bg.selected");
}
.DifficultyItem_bgHelper__hover_da7a02c3 {
  opacity: 0;
  transition: opacity 0.3s 0s ease-in-out;
}
.DifficultyItem_base__locked_84d51887 .DifficultyItem_bgHelper__hover_da7a02c3 {
  opacity: 0;
}
.DifficultyItem_base__hoverable_84d51887:hover .DifficultyItem_bgHelper__hover_da7a02c3, .DifficultyItem_base__selected_84d51887 .DifficultyItem_bgHelper__hover_da7a02c3 {
  opacity: 1;
}
.DifficultyItem_bgHelper__hover_da7a02c3 {
  background-image: url("R.images.last_stand.gui.maps.icons.difficulties.bg.hover");
}
.DifficultyItem_bgHelper__default_6128901 {
  background-image: url("R.images.last_stand.gui.maps.icons.difficulties.bg.default");
}
.DifficultyItem_bgHelper__locked_fd5602d8 {
  background-image: url("R.images.last_stand.gui.maps.icons.difficulties.bg.locked");
}

.DifficultyItem_progress_c50db54a {
  opacity: 0.7;
  transition: opacity 0.3s 0s ease-in-out;
}
.DifficultyItem_base__locked_84d51887 .DifficultyItem_progress_c50db54a {
  opacity: 0.5;
}
.DifficultyItem_base__hoverable_84d51887:hover .DifficultyItem_progress_c50db54a, .DifficultyItem_base__selected_84d51887 .DifficultyItem_progress_c50db54a {
  opacity: 1;
}
.DifficultyItem_progress_c50db54a {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  height: 26rem;
  top: -7rem;
}

.DifficultyItem_progressIconWrapper_fb8bd451 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 20rem;
  margin-right: 3rem;
  position: relative;
}
.DifficultyItem_progressIconWrapper_fb8bd451:last-child {
  margin-right: 0;
}

.DifficultyItem_progressIcon_4ec65bf6 {
  width: 22rem;
  height: 26rem;
  background: url("R.images.last_stand.gui.maps.icons.difficulties.progression.progress_small") no-repeat 50%/contain;
}
.DifficultyItem_progressIcon__completed_4fedf01e {
  width: 48rem;
  height: 51rem;
  margin-top: -1rem;
  background-image: url("R.images.last_stand.gui.maps.icons.difficulties.progression.completed_small");
}

.DifficultyItem_label_e0bd4ef3 {
  opacity: 0.7;
  transition: opacity 0.3s 0s ease-in-out;
}
.DifficultyItem_base__locked_84d51887 .DifficultyItem_label_e0bd4ef3 {
  opacity: 0.4;
}
.DifficultyItem_base__hoverable_84d51887:hover .DifficultyItem_label_e0bd4ef3, .DifficultyItem_base__selected_84d51887 .DifficultyItem_label_e0bd4ef3 {
  opacity: 1;
}
.DifficultyItem_label_e0bd4ef3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  height: 20rem;
  color: var(--color-general-primary);
  text-shadow: 0 1rem 0 rgba(13, 14, 16, 0.4);
  letter-spacing: 0.4rem;
  top: 15rem;
}

.DifficultyItem_lock_63b24d89 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 24rem;
  height: 24rem;
  background: url("R.images.last_stand.gui.maps.icons.difficulties.icon_lock") no-repeat 50%/contain;
  position: absolute;
  bottom: -7rem;
  z-index: 2;
  pointer-events: none;
}