.Counter_base_9e {
  display: flex;
  min-width: 14rem;
  height: 14rem;
  position: relative;
  z-index: 0;
  animation: Counter_show_be ease-in-out forwards;
}

.Counter_base__big_19 {
  min-width: 21rem;
  height: 21rem;
}

.Counter_base__small_3b {
  min-width: 13rem;
  height: 13rem;
}

.Counter_base__empty_98 {
  min-width: 6rem;
  height: 6rem;
}

.Counter_base__animated_40 {
  animation-duration: 0.2s;
}

.Counter_base__hidden_56 {
  animation-name: Counter_hide_b6;
}
.Counter_bg_74 {
  border: 1rem solid #fe4e0f;
  border-radius: 7rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 6rem rgba(254, 103, 0, 0.2),
    0 0 12rem 4rem rgba(249, 0, 0, 0.3);
  background-image: url("R.images.gui.maps.icons.components.counter.pattern");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.Counter_base__big_19 .Counter_bg_74 {
  border-radius: 11rem;
}
.Counter_base__small_3b .Counter_bg_74 {
  border-radius: 7rem;
}
.Counter_value_3e {
  display: flex;
  padding: 0 4rem;
  color: #fefeec;
  font-size: 11rem;
  line-height: 13rem;
  white-space: nowrap;
}
.Counter_base__big_19 .Counter_value_3e {
  padding: 0 7rem;
  font-size: 14rem;
  line-height: 20rem;
}
.Counter_base__small_3b .Counter_value_3e {
  font-size: 9rem;
  line-height: 12rem;
}
.Counter_value__text_d6 {
  padding: 0 7rem;
}
.Counter_base__big_19 .Counter_value__text_d6 {
  padding: 0 10rem;
}
.Counter_base__small_3b .Counter_value__text_d6 {
  padding: 0 5rem;
  font-size: 10rem;
}
.Counter_base__pattern_71 .Counter_value_3e {
  display: none;
}
.Counter_plus_15 {
  position: relative;
  top: -1rem;
}
.Counter_pattern_83 {
  display: none;
}
.Counter_base__pattern_71 .Counter_pattern_83 {
  display: block;
  border-radius: 50%;
  background-image: url("R.images.gui.maps.icons.components.counter.pattern");
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@keyframes Counter_show_be {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes Counter_hide_b6 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/* colors*/

/* buttons*/

/* Calculate glow mask according to the button size*/

.FlatButton_base_36 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 66rem;
  height: 66rem;
  border: 1rem solid rgba(255, 255, 255, 0.25);
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.3) repeat-y right center;
  color: #e9e2bf;
  font-size: 15rem;
  font-weight: 700;
  position: relative;
  z-index: 2;
  transition:
    border linear 0.16s,
    background-color linear 0.16s;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .FlatButton_base_36 {
    width: 235rem;
    background-image: url("R.images.gui.maps.icons.battlePass.progression.buttons_lines");
  }
}

@media (min-width: 1600px) {
  .FlatButton_base_36 {
    width: 245rem;
  }
}

@media (min-width: 1280px) {
  .FlatButton_base__small_ec {
    width: 66rem;
    background: rgba(0, 0, 0, 0.3) repeat-y right center;
  }
}

@media (min-width: 1600px) {
  .FlatButton_base__small_ec {
    width: 66rem;
  }
}

@media (min-width: 1920px) {
  .FlatButton_base__small_ec {
    width: 245rem;
    background-image: url("R.images.gui.maps.icons.battlePass.progression.buttons_lines");
  }
}

.FlatButton_base__big_69 {
  width: 245rem;
  background-image: url("R.images.gui.maps.icons.battlePass.progression.buttons_lines");
}

.FlatButton_base__disabled_1e {
  opacity: 0.5;
  cursor: default;
}

.FlatButton_base__hover_41 {
  border-color: rgba(255, 255, 255, 0.35);
  background-color: rgba(0, 0, 0, 0.4);
}

.FlatButton_base__click_ab {
  border-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.3);
}

.FlatButton_base__highlight_0b {
  border: 0;
  box-shadow:
    0 0 7rem #ff2a00,
    0 2rem 4rem rgba(107, 52, 0, 0.2) inset;
  z-index: 1;
}

.FlatButton_base__yellow_3a {
  background-color: #c67700;
}

.FlatButton_highlight_b0 {
  width: 100%;
  height: 100%;
  border: 1rem solid #fd9;
  border-radius: 2rem;
  filter: drop-shadow(0 0 7px #ff2a00);
  position: absolute;
  top: 0;
  left: 0;
}

.FlatButton_glowInner_cb {
  width: 100%;
  height: 100%;
  background: url("R.images.gui.maps.icons.battlePass.progression.rare_light_large") no-repeat
    center / contain;
  mix-blend-mode: additive;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  animation: FlatButton_rotating_25 15s linear infinite;
}

.FlatButton_glowInner__duplicate_f7 {
  width: 190rem;
  height: 190rem;
  margin: 56rem 0 0 56rem;
  background-image: url("R.images.gui.maps.icons.battlePass.progression.shineForAnimation_dark");
  animation-duration: 18s;
  animation-direction: reverse;
}

.FlatButton_glow_12 {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    118rem 100%,
    118rem 118rem,
    184rem 118rem,
    184rem 184rem,
    118rem 184rem,
    118rem 100%,
    100% 100%,
    100% 0%
  );
  width: 302rem;
  height: 302rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (min-width: 1280px) {
  .FlatButton_glow_12 {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      33.5rem 100%,
      33.5rem 118rem,
      268.5rem 118rem,
      268.5rem 184rem,
      33.5rem 184rem,
      33.5rem 100%,
      100% 100%,
      100% 0%
    );
  }
}

@media (min-width: 1600px) {
  .FlatButton_glow_12 {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      28.5rem 100%,
      28.5rem 118rem,
      273.5rem 118rem,
      273.5rem 184rem,
      28.5rem 184rem,
      28.5rem 100%,
      100% 100%,
      100% 0%
    );
  }
}

@media (min-width: 1280px) {
  .FlatButton_base__small_ec .FlatButton_glow_12 {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      118rem 100%,
      118rem 118rem,
      184rem 118rem,
      184rem 184rem,
      118rem 184rem,
      118rem 100%,
      100% 100%,
      100% 0%
    );
  }
}

@media (min-width: 1920px) {
  .FlatButton_base__small_ec .FlatButton_glow_12 {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      28.5rem 100%,
      28.5rem 118rem,
      273.5rem 118rem,
      273.5rem 184rem,
      28.5rem 184rem,
      28.5rem 100%,
      100% 100%,
      100% 0%
    );
  }
}

.FlatButton_base__big_69 .FlatButton_glow_12 {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    28.5rem 100%,
    28.5rem 118rem,
    273.5rem 118rem,
    273.5rem 184rem,
    28.5rem 184rem,
    28.5rem 100%,
    100% 100%,
    100% 0%
  );
}

.FlatButton_content_3f {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0;
  line-height: 1.25;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

@media (min-width: 1280px) {
  .FlatButton_content_3f {
    justify-content: flex-start;
    padding: 0 9rem;
  }
}

.FlatButton_icon_24 {
  width: 52rem;
  height: 52rem;
  background: no-repeat center / contain;
  filter: brightness(70%);
  transition: filter linear 0.16s;
}

.FlatButton_base__hover_41 .FlatButton_icon_24 {
  filter: brightness(100%);
}

.FlatButton_label_a4 {
  display: none;
  white-space: pre;
}

@media (min-width: 1280px) {
  .FlatButton_label_a4 {
    display: flex;
    flex: 0;
    margin-left: 10rem;
    padding-bottom: 3rem;
  }
}

.FlatButton_base__small_ec .FlatButton_label_a4 {
  display: none;
}

@media (min-width: 1920px) {
  .FlatButton_base__small_ec .FlatButton_label_a4 {
    display: flex;
  }
}

.FlatButton_base__big_69 .FlatButton_label_a4 {
  display: flex;
  flex: 0;
  margin-left: 10rem;
  padding-bottom: 3rem;
}

.FlatButton_count_17 {
  display: none;
}

@media (min-width: 1280px) {
  .FlatButton_count_17 {
    display: flex;
    flex: 0;
    margin-left: 10rem;
    padding-bottom: 3rem;
    font-size: 36rem;
  }
}

.FlatButton_base__small_ec .FlatButton_count_17 {
  display: none;
}

@media (min-width: 1920px) {
  .FlatButton_base__small_ec .FlatButton_count_17 {
    display: flex;
  }
}

.FlatButton_counter_c3 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -50%);
}

.FlatButton_glowBorder_3e {
  width: 92rem;
  height: 92rem;
  background: url("R.images.gui.maps.icons.battlePass.progression.flat_button_light_small")
    no-repeat center / contain;
  mix-blend-mode: additive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease opacity;
  pointer-events: none;
}

@media (min-width: 1280px) {
  .FlatButton_glowBorder_3e {
    width: 244rem;
    height: 244rem;
    background-image: url("R.images.gui.maps.icons.battlePass.progression.flat_button_light");
  }
}

.FlatButton_glowBorder__hover_a7 {
  opacity: 0;
}

.FlatButton_base_36:hover .FlatButton_glowBorder__hover_a7 {
  opacity: 1;
}

.FlatButton_tokensCount_72 {
  display: none;
  min-width: 30rem;
  padding-left: 30rem;
  background: url("R.images.gui.maps.icons.battlePass.progression.bp_token") no-repeat left bottom /
    24rem 24rem;
  font-size: 22rem;
  position: absolute;
  top: 17rem;
  right: 20rem;
  pointer-events: auto;
}

@media (min-width: 1280px) {
  .FlatButton_tokensCount_72 {
    display: block;
  }
}

.FlatButton_disabledBackground_f9 {
  background: url("R.images.gui.maps.icons.battlePass.progression.pattern_disable") repeat;
  opacity: 0.05;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@keyframes FlatButton_rotating_25 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.PageTitle_base_ef {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PageTitle_title_33 {
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}

.mediaMedium .PageTitle_title_33 {
  font-size: 56rem;
}

.Reward_base_ea {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
  width: 48rem;
  height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
  width: 80rem;
  height: 80rem;
}

.Reward_base__s128x100_c3 {
  width: 128rem;
  height: 100rem;
}

.Reward_base__s180x135_7c {
  width: 180rem;
  height: 135rem;
}

.Reward_base__s232x174_67 {
  width: 232rem;
  height: 174rem;
}

.Reward_base__s296x222_78 {
  width: 296rem;
  height: 222rem;
}

.Reward_base__s400x300_07 {
  width: 400rem;
  height: 300rem;
}

.Reward_base__s600x450_f8 {
  width: 600rem;
  height: 450rem;
}

.Reward_tooltipWrapper_b5 {
  height: 100%;
}

.Reward_icon_df {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.Reward_overlay_68 {
  background: no-repeat center / 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
  width: 96rem;
  height: 96rem;
  background-size: 100%;
  overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
  width: 128rem;
  height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
  width: 266rem;
  height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
  width: 344rem;
  height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
  width: 450rem;
  height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
  width: 618rem;
  height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
  width: 670rem;
  height: 575rem;
}

.Reward_highlight_36 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  position: absolute;
  z-index: 0;
}

.Reward_image_89 {
  position: relative;
}

.Reward_info_72 {
  margin-top: -13rem;
  color: #e9e2bf;
  font-size: 14rem;
  line-height: 18rem;
  text-align: center;
  z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
  margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
  margin-right: 2rem;
  text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
  margin-right: 0;
}

.Reward_info__credits_ef {
  color: #e9e2bf;
}

.Reward_info__gold_36 {
  color: #ffc363;
}

.Reward_info__crystal_36 {
  color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
  color: #ffdd99;
}

.Reward_timer_d3 {
  background: no-repeat center / contain;
  position: absolute;
  z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
  width: 23rem;
  height: 23rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.small.timer");
  top: -6rem;
  right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.big.timer");
  top: -14rem;
  right: -14rem;
}

.FrontlineReward_base_e2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.FrontlineReward_base__disable_dc {
  filter: grayscale(100%);
  opacity: 0.5;
}

.FrontlineReward_base__disableBattlePassReward_5a {
  opacity: 0.3;
}
.FrontlineReward_animWrapper_23 {
  mix-blend-mode: screen;
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
}
.FrontlineReward_glow_0d {
  animation: FrontlineReward_rotateKeys_e3 15s linear infinite;
  width: 64rem;
  height: 64rem;
  background: url("R.images.frontline.gui.maps.icons.rewards.select_anim") no-repeat center /
    contain;
  top: -32rem;
  left: -32rem;
  position: absolute;
}
.mediaSmall .FrontlineReward_glow_0d {
  width: 126rem;
  height: 126rem;
  background: url("R.images.frontline.gui.maps.icons.rewards.select_anim_big") no-repeat center /
    contain;
  top: -63rem;
  left: -63rem;
}
.FrontlineReward_glowReverse_42 {
  animation: FrontlineReward_rotateKeys_e3 15s linear infinite;
  width: 100rem;
  height: 100rem;
  background: url("R.images.frontline.gui.maps.icons.rewards.select_anim_reverse") no-repeat
    center / contain;
  top: -50rem;
  left: -50rem;
  position: absolute;
  animation-duration: 18s;
  animation-direction: reverse;
}
.mediaSmall .FrontlineReward_glowReverse_42 {
  width: 200rem;
  height: 200rem;
  background: url("R.images.frontline.gui.maps.icons.rewards.select_anim_reverse_big") no-repeat
    center / contain;
  top: -100rem;
  left: -100rem;
}
@keyframes FrontlineReward_rotateKeys_e3 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.RewardsCol_base_74 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94rem;
  margin-left: 1rem;
  position: relative;
}

.mediaSmall .RewardsCol_base_74 {
  width: 135rem;
}

.mediaMedium .RewardsCol_base_74 {
  width: 144rem;
}

.mediaLarge .RewardsCol_base_74 {
  width: 180rem;
}

.RewardsCol_bg_12 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    transparent 0,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.3) 80%,
    transparent 100%
  );
}

.RewardsCol_highlight_2b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat center / 100% 100%;
}

.RewardsCol_highlight__white_a8 {
  background-image: url("R.images.frontline.gui.maps.icons.rewards.col_bg_1024_white");
}

.mediaSmall .RewardsCol_highlight__white_a8 {
  background-image: url("R.images.frontline.gui.maps.icons.rewards.col_bg_white");
}

.RewardsCol_highlight__gold_c5 {
  background-image: url("R.images.frontline.gui.maps.icons.rewards.col_bg_1024");
}

.mediaSmall .RewardsCol_highlight__gold_c5 {
  background-image: url("R.images.frontline.gui.maps.icons.rewards.col_bg");
}

.RewardsCol_levels_7a {
  color: #f2f2f7;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 18rem;
  font-size: 18rem;
}

.mediaMedium .RewardsCol_levels_7a {
  font-size: 24rem;
}

.RewardsCol_levels__disable_d4 {
  filter: grayscale(100%);
  opacity: 0.5;
}

.RewardsCol_reward_40 {
  margin-bottom: 22rem;
}

.RewardTable_base_cf {
  display: flex;
}

.SubTitle_base_8d {
  color: rgba(242, 242, 247, 0.7);
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  font-size: 18rem;
}

.mediaMedium .SubTitle_base_8d {
  font-size: 24rem;
}

.SubTitle_noRewards_f1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #7ab300;
  position: relative;
}

.SubTitle_icon_0f {
  width: 20rem;
  height: 20rem;
  background: url("R.images.frontline.gui.maps.icons.check.large") no-repeat 50% / contain;
  position: relative;
  right: -5rem;
  bottom: -4rem;
}

.mediaMedium .SubTitle_icon_0f {
  bottom: -2rem;
}

.RewardsViewApp_base_1c {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RewardsViewApp_pageTitle_61 {
  position: absolute;
  top: 42rem;
  left: 50%;
  transform: translate(-50%);
}

.mediaLarge .RewardsViewApp_pageTitle_61 {
  top: 88rem;
}

.RewardsViewApp_table_32 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120rem;
}

.RewardsViewApp_claimButton_3d {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 30rem;
  left: 0;
}
