/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Characteristics_root_34bff876,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.Characteristics_media-wrapper_34bff876,
#Characteristics_root_34bff876 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Characteristics_9735e744 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(233, 231, 220, 0.5);
  line-height: 20rem;
}
.Characteristics_9735e744 + .Characteristics_9735e744 {
  margin-top: 4rem;
}

.Characteristics_title_75be3f17 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-secondary);
}

.Characteristics_characteristicsWrapper_11e726e7 {
  margin-top: 7rem;
}

.Characteristics_contentWrapper_7b508d7c {
  padding: 14rem 20rem 18rem;
}

.Characteristics_value_b78ff8b5 {
  color: #eeede9;
  opacity: 0.9;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.Header_media-wrapper_65f475ba,
#Header_root_65f475ba {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Header_9590974c {
  display: flex;
  padding: 22rem 20rem 18rem;
  position: relative;
}

.Header_headerTextWrapper_b75997fd {
  padding: 19rem 0 0 10rem;
}

.Header_name_4c46b58 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #eeede9;
  line-height: 16rem;
  opacity: 0.9;
}

.Header_categoryWrapper_f9c19163 {
  display: flex;
  align-items: center;
  margin-top: 15rem;
}

.Header_icon_35d94e17 {
  width: 80rem;
  height: 80rem;
  background: no-repeat center center/cover;
}

.Header_categoryIcon_d7b554e4 {
  width: 16rem;
  height: 16rem;
  margin-right: 10rem;
  background: no-repeat center center/cover;
}

.Header_category_8594ee8 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: #e9e7dc;
  line-height: 20rem;
  opacity: 0.5;
}

.Header_warningWrapper_998aa05c {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  color: var(--color-status-alert);
  position: absolute;
  top: 12rem;
  right: 20rem;
}

.Header_warningIcon_e020543a {
  width: 16rem;
  height: 16rem;
  margin-right: 6rem;
  background: url("R.images.gui.maps.icons.library.alertIcon") no-repeat center/contain;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#LevelsInfo_root_b288c7ac,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.LevelsInfo_media-wrapper_b288c7ac,
#LevelsInfo_root_b288c7ac {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.LevelsInfo_label_d846a2d6,
.LevelsInfo_headCell_2e36cfd9,
.LevelsInfo_cell_4befb142 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50rem;
  color: #64ba21;
}

.LevelsInfo_headCell_2e36cfd9,
.LevelsInfo_label_d846a2d6 {
  color: var(--color-general-secondary);
}

.LevelsInfo_label_d846a2d6 {
  justify-content: flex-start;
  width: 175rem;
  margin-left: 10rem;
}

.LevelsInfo_cell_4befb142:first-child {
  color: var(--color-general-secondary);
}

.LevelsInfo_headCell_2e36cfd9 {
  position: relative;
}

.LevelsInfo_row_e46e492b {
  display: flex;
  padding: 4rem 0;
}

.LevelsInfo_bf577044 {
  display: flex;
  flex-direction: column;
}

.LevelsInfo_arrow_d83c589a {
  width: 8rem;
  height: 6rem;
  background: url("R.images.frontline.gui.maps.icons.loadout.arrows.skill_param") no-repeat center center/cover;
  position: absolute;
  top: 50%;
  transform: translate(25rem, -50%);
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BattleAbilityTooltip_root_fe550d87,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.BattleAbilityTooltip_media-wrapper_fe550d87,
#BattleAbilityTooltip_root_fe550d87 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.BattleAbilityTooltip_b3525077 {
  width: 430rem;
}

.BattleAbilityTooltip_title_f3f1f3b2 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-secondary);
}

.BattleAbilityTooltip_activationDepends_1375a1fa,
.BattleAbilityTooltip_additionalInfo_fe550d87,
.BattleAbilityTooltip_description_ae30df8d {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(233, 231, 220, 0.5);
  line-height: 20rem;
}

.BattleAbilityTooltip_activationDepends_1375a1fa {
  padding: 12rem 20rem 15rem;
}

.BattleAbilityTooltip_description_ae30df8d {
  padding: 14rem 20rem 17rem;
}

.BattleAbilityTooltip_contentWrapper_dd6c2adb {
  padding: 14rem 20rem 18rem;
}

.BattleAbilityTooltip_footerWrapper_ca778cb1 {
  display: flex;
  align-items: center;
  padding: 12rem 20rem 22rem;
}

.BattleAbilityTooltip_altBtn_aa9e5a {
  width: 29rem;
  height: 26rem;
  margin-right: 8rem;
  background: url("R.images.gui.maps.icons.tooltip.tooltip_alt_btn") no-repeat center/cover;
}