/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Shield_root_1010a4f3,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Shield_fdadec95 {
  width: 22rem;
  height: 26rem;
  position: relative;
  left: -3rem;
}

.Shield_content_4d1de7b4 {
  width: 22rem;
  height: 26rem;
  opacity: 0.4;
  position: relative;
}
.Shield_content__completed_df6f2492 {
  opacity: 1;
}

.Shield_icon_852a3b2a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22rem;
  height: 26rem;
  background: url("R.images.last_stand.gui.maps.icons.difficulties.progression.progress_small") no-repeat 50%/contain;
}
.Shield_icon__completed_27443cc3 {
  width: 48rem;
  height: 51rem;
  background-image: url("R.images.last_stand.gui.maps.icons.difficulties.progression.completed_small");
  transform: translate(-50%, -26rem);
}

.Shield_check_c7a26a19 {
  width: 24rem;
  height: 24rem;
  margin-top: 1rem;
  background: url("R.images.last_stand.gui.maps.icons.difficulties.progression.check") no-repeat 50%/contain;
}

.Shield_index_726c9af4 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  color: #e9e2bf;
  text-align: center;
  z-index: 1;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Rewards_root_405577a5,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Rewards_9ead941e {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 66rem;
  position: relative;
}
.Rewards_base__last_653802ba {
  height: 48rem;
}

.Rewards_shield_57f47719 {
  margin-right: 4rem;
}

.Rewards_reward_7511df10 {
  margin: 0 10rem;
}
.Rewards_reward__received_62b5a47f {
  opacity: 0.5;
}

.Rewards_container_4b1e77a4 {
  display: flex;
  align-items: center;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#DifficultyTooltipApp_root_a69bf6a6,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}

html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.DifficultyTooltipApp_1f7af9a6 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 328rem;
  padding: 20rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  line-height: 110%;
  letter-spacing: 0.36rem;
}

.DifficultyTooltipApp_header_2379f96b {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 1rem;
  color: var(--color-general-primary);
}

.DifficultyTooltipApp_subHeaderWrapper_96f0b6e0 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.DifficultyTooltipApp_subHeaderWrapper__high_e55163ba {
  margin-bottom: 8rem;
}

.DifficultyTooltipApp_subHeader_7066f535 {
  margin-left: -1rem;
}

.DifficultyTooltipApp_rewards_c1ee7fc1 {
  position: relative;
}

.DifficultyTooltipApp_rewardsDescr_b9dd678c {
  margin: 13rem 0 18rem;
}

.DifficultyTooltipApp_missions__completed_5122fdaa {
  color: #ffe9cc;
}

.DifficultyTooltipApp_description_206f0d88 {
  margin: 16rem 0 12rem;
}

.DifficultyTooltipApp_storyPoint_13ee3be5 {
  margin-top: 2rem;
  filter: drop-shadow(0 0 40rem rgba(255, 76, 60, 0.6)) drop-shadow(0 0 24rem rgba(255, 233, 187, 0.3)) drop-shadow(0 0 8rem rgba(255, 251, 239, 0.2));
}

.DifficultyTooltipApp_dots_e7474852 {
  display: flex;
  align-self: center;
  width: 329rem;
  height: 9rem;
  margin-top: 1rem;
  background: url("R.images.last_stand.gui.maps.icons.difficulties.dots") no-repeat 50%/contain;
}
.DifficultyTooltipApp_dots__text_c4f6d968 {
  margin-top: 13rem;
}

.DifficultyTooltipApp_state_dbbde58f {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
  color: #e9e2bf;
}
.DifficultyTooltipApp_state__locked_7fc6407c {
  color: #8c8c7e;
}
.DifficultyTooltipApp_state__selected_98d59d2e {
  color: #7ab300;
}

.DifficultyTooltipApp_lockDescr_a41a7031 {
  margin-top: 5rem;
  color: #595950;
}