/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Article_4c8e50ad {
  display: flex;
  flex-direction: column;
  margin: 54rem 0;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  position: relative;
}

.Article_title_659722c4 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 5rem;
  font-size: 30rem;
}

.Article_subtitle_49e05acb {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.Article_head_1804b7a {
  margin-bottom: 40rem;
}

.Article_images_1c3d2987 {
  display: flex;
}

.Article_imageContainer_8e95068 {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 471rem;
}
.Article_images__mapStyle_b9623d81 .Article_imageContainer_8e95068 {
  align-items: center;
}

.Article_text_ece10432 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  padding: 10rem 0;
}
.Article_images__mapStyle_b9623d81 .Article_text_ece10432 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  padding-bottom: 0;
}

.Article_accent_c8f4f12c {
  margin-top: 32rem;
}

.Article_accent_color_a3a8f0eb {
  color: var(--color-currency-gold);
}

.Article_divider_c3c15108 {
  width: 20rem;
  height: 100%;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Details_82317705 {
  display: flex;
  margin: 50rem 0;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  position: relative;
}
.Details_base__reverse_e972fe9f {
  flex-direction: row-reverse;
}
.Details_base__noIndent_ee7aedc9 {
  margin: -40rem 0 40rem;
}

.Details_title_b7b0344f {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 6rem;
  font-size: 30rem;
}

.Details_subtitle_90dc25e7 {
  display: flex;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 5rem;
}

.Details_text_96c8da9a {
  display: flex;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.Details_image_e176a953 {
  width: 471rem;
}

.Details_description_27a0d131 {
  flex: 1;
}

.Details_devider_eb6cc254 {
  width: 20rem;
  height: 100%;
}

.Details_textBlock_51423ea5 + .Details_textBlock_51423ea5 {
  margin-top: 29rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.InfoBlock_bc3a412a {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.InfoBlock_cardsWrapper_f2cef6b3 {
  display: flex;
  flex-direction: row;
}

.InfoBlock_card_77d87e0a {
  width: 310rem;
  text-align: center;
}
.InfoBlock_card_77d87e0a + .InfoBlock_card_77d87e0a {
  margin-left: 18rem;
}

.InfoBlock_img_52fe2f9f {
  width: 100%;
  height: 185rem;
  margin-bottom: 20rem;
  background: no-repeat center/contain;
}

.InfoBlock_cardTitle_665d1b88 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 6rem;
  color: var(--color-general-primary);
}

.InfoBlock_cardSubtitle_24d2f638 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  line-height: 20rem;
}
.mediaMedium .InfoBlock_cardSubtitle_24d2f638 {
  line-height: 24rem;
}

.InfoBlock_divider_6e3dd538 {
  width: 100%;
  height: 1rem;
  margin: 60rem 0;
  background: rgba(196, 211, 241, 0.25) url("R.images.battle_royale.gui.maps.icons.noise_100x100") repeat-x left bottom/100rem 100rem;
  opacity: 0.25;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Header_2427389a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  position: relative;
}

.Header_8ee81185 {
  margin: 40rem 0 34rem;
  text-align: center;
}

.Header_title_7819f4a0 {
  margin-bottom: 10rem;
  font-size: 80rem;
  font-weight: 600;
  line-height: 1;
}

.Header_subtitle_3cf5efe9 {
  color: rgb(2, 190, 100);
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
  margin: -8rem 0 8rem;
}

.Header_eventTime_12062330 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: #fcf6eb;
}

.Header_container_500d6c3d {
  display: flex;
  width: 100%;
  height: 540rem;
  position: relative;
  cursor: pointer;
}

.Header_video_60c6b98f {
  width: 150rem;
  height: 110rem;
  background: url("R.images.battle_royale.gui.maps.infopage.youtubeButton") no-repeat center/contain;
  filter: brightness(1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: filter 0.5s ease-in-out;
  pointer-events: none;
}
.Header_container_500d6c3d:hover .Header_video_60c6b98f {
  filter: brightness(1.2);
}

.Header_preview_a64158df {
  width: 100%;
  height: 100%;
  background: url("R.images.battle_royale.gui.maps.infopage.preview") no-repeat center/contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Mosaic_255afcd9 {
  margin-bottom: 50rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  position: relative;
}

.Mosaic_title_b996510a {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 28rem;
  font-size: 30rem;
}

.Mosaic_container_2ad5aab8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Mosaic_item_b894c3e {
  display: flex;
  align-items: flex-start;
  width: 48%;
  padding-left: 80rem;
  position: relative;
}

.Mosaic_description_2b66d8c6 {
  display: flex;
  flex-direction: column;
}

.Mosaic_itemTitle_64b62b1d {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  padding-bottom: 6rem;
}

.Mosaic_image_1d2ab1f {
  width: 61rem;
  height: 60rem;
  position: absolute;
  top: 0;
  left: 0;
}

.Mosaic_itemSubtitle_14f4e1cf {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 36rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TableBp_ceecd909 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 40rem;
  position: relative;
}

.TableBp_row_8145facf {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  position: relative;
}

.TableBp_border_1435e8f0 {
  width: 420rem;
  border-top: 1rem solid rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
}
.TableBp_cell__inFirstRow_8db61dbf .TableBp_border_1435e8f0 {
  border-top: none;
}

.TableBp_cell_30049571 {
  display: flex;
  justify-content: center;
  padding: 11rem 0;
  position: relative;
}
.TableBp_cell__text_9d0186a3 {
  justify-content: flex-start;
  width: 392rem;
}
.TableBp_cell__inFirstRow_8db61dbf {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-right: 38rem;
  margin-bottom: 12rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.TableBp_cell__inSecondCell_2b2d7b32 {
  margin-right: 114rem;
}

.TableBp_points_5fafdfd2 {
  display: flex;
  justify-content: flex-end;
  width: 36rem;
  height: 18rem;
  padding-right: 33rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.points_24") no-repeat center/contain;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 1;
  overflow-wrap: normal;
}

.TableBp_dash_8ba26b41 {
  margin: 0 14rem 0 16rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Column_dc60da96 {
  display: flex;
  flex-direction: column;
  width: 420rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  position: relative;
}

.Column_battleType_7ef70ce0 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  padding-bottom: 23rem;
}

.Column_cell_734531dc {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11rem 0 10rem;
  border-top: 1rem solid rgba(255, 255, 255, 0.1);
  color: rgba(var(--color-general-primary-rgb), 0.5);
  position: relative;
}

.Column_pointContainer_b43f5997 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Column_point_90602b2 {
  margin-right: 8rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.Column_reward_bb1636fd {
  width: 16rem;
  height: 16rem;
  background: url("R.images.battle_royale.gui.maps.icons.token_battle_royale_16x16") no-repeat center/contain;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TableSh_ef0a0d78 {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-bottom: 30rem;
  position: relative;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.TowerBlock_20368ecb {
  margin: 50rem 0 5rem;
  position: relative;
}

.TowerBlock_title_41014c13 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 5rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 30rem;
}

.TowerBlock_subTitle_5cc2e27f {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.TowerBlock_head_9f150e83 {
  margin-bottom: 28rem;
}

.TowerBlock_lootsContainer_e3188e86 {
  display: flex;
  align-items: center;
  margin-bottom: 40rem;
}

.TowerBlock_description_39566a5f {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  flex: 1;
  margin-left: 18rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.TowerBlock_descriptionTitle_faa28941 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 8rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.TowerBlock_image_53afacf6 {
  width: 143rem;
  height: 140rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Vehicles_header_5be1213 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
}

.Vehicles_tab_166fa258 {
  padding-bottom: 10rem;
  position: relative;
  cursor: pointer;
}

.Vehicles_tabGlow_fd176726 {
  background: no-repeat center/contain;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}
.Vehicles_tabGlow__upper_403f1868 {
  width: 244rem;
  height: 77rem;
  background-image: url("R.images.battle_royale.gui.maps.infopage.vehicles.slots.slotGlow");
}
.Vehicles_tabGlow__bottom_6369026f {
  width: 150rem;
  height: 55rem;
  background-image: url("R.images.battle_royale.gui.maps.infopage.vehicles.slots.slotGlowBottom");
  mix-blend-mode: screen;
}
.Vehicles_tab__active_7f03fbab .Vehicles_tabGlow_fd176726 {
  opacity: 1;
}

.Vehicles_tabTitle_2175b580 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  position: relative;
  z-index: 1;
}
.Vehicles_tab__active_7f03fbab .Vehicles_tabTitle_2175b580 {
  color: rgb(255, 228, 192);
}

.Vehicles_body_c7ec9238 {
  padding-top: 55rem;
}

.Vehicles_description_a3a86d3 {
  display: flex;
  margin-bottom: 30rem;
}

.Vehicles_text_802e4cc8 {
  flex: 1;
  margin-left: 21rem;
}

.Vehicles_subtitle_fd398faf {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: -7rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.Vehicles_title_7f828d28 {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  margin-left: -15rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.Vehicles_titleText_f60a649a {
  margin: -6rem 0 0 -10rem;
}

.Vehicles_container_9668783f {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Vehicles_abilitiesItem_b34d3f92 {
  display: flex;
  align-items: flex-start;
  width: 48%;
  min-height: 64rem;
  padding: 6rem 0 34rem 86rem;
  position: relative;
}

.Vehicles_abilitiesImage_7dfb5fa6 {
  width: 64rem;
  height: 64rem;
  position: absolute;
  top: 12rem;
  left: 6rem;
}

.Vehicles_abilitiesTitle_e7b624e8 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  padding-bottom: 4rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.Vehicles_abilitiesSubtitle_3fb10ec9 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.Vehicles_tabImage_f47b2080 {
  width: 120rem;
  height: 80rem;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.Vehicles_tabImage_f47b2080:hover {
  opacity: 1;
}
.Vehicles_tab__active_7f03fbab .Vehicles_tabImage_f47b2080 {
  opacity: 1;
}

.Vehicles_image_3dcb5e28 {
  width: 350rem;
  height: 220rem;
}

.Vehicles_type_707e0352 {
  width: 64rem;
  height: 64rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.App_9dacc05d {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 35rem 0 5rem;
  background: url("R.images.battle_royale.gui.maps.infopage.background") no-repeat center/cover;
  color: var(--color-general-secondary);
  z-index: 2;
}
.App_base__stPatrick_5f32278c {
  background: url("R.images.battle_royale.gui.maps.st_patrick.icons.progression.main_bg") no-repeat center/cover;
}

.App_scrollBar_d2538d18 {
  height: 84vh;
  position: absolute;
  top: 50%;
  right: 12rem;
  transform: translateY(-45%);
}
.mediaMedium .App_scrollBar_d2538d18 {
  transform: translateY(-46%);
}
.mediaLarge .App_scrollBar_d2538d18 {
  height: 86vh;
  transform: translateY(-46%);
}
.mediaExtraLarge .App_scrollBar_d2538d18 {
  transform: translateY(-48%);
}

.App_containerWrapper_de3d4b06 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App_container_ed715267 {
  display: flex;
  flex-direction: column;
  width: 965rem;
}

.App_scroll_de3d4b06 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App_battleTask_5d53a55 {
  margin: 10rem 0 -30rem;
}

.App_divider_f99a45d4 {
  width: 100%;
  height: 1rem;
  background: rgba(196, 211, 241, 0.25) url("R.images.battle_royale.gui.maps.icons.noise_100x100") repeat-x left bottom/100rem 100rem;
  opacity: 0.25;
}

.App_alignCenter_1fabed30 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App_generalDescription_6a1828d9 {
  margin-bottom: 0;
}

.App_9dacc05d .App_titleStyling_0,
.App_textStyle_cd5a0ce1 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 10rem;
  padding-top: 16rem;
  color: rgba(237, 230, 217, 0.9);
}

.App_bpTitleStyling_ff830e8a {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
}

.App_footer_1d76016a {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  padding: 50rem 0;
  color: #fcf6eb;
  text-align: center;
}

.App_defaultVertical_790cf5a6 {
  flex: 1;
}

.App_frame_6302ad2b {
  width: 965rem;
  height: 400rem;
}

.App_9dacc05d .App_maraudersTitle_53ec438c {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin: 20rem 0 4rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.App_9dacc05d .App_maraudersContainer_8dc6cdec {
  margin-top: 0;
}

.App_9dacc05d .App_respawnContainer_4bc90ad4 {
  justify-content: center;
  align-items: center;
  margin-top: 16rem;
}

.App_map_e9a3bd98 {
  width: 310rem;
  height: 185rem;
}

.App_respawn_8179a5ff {
  width: 471rem;
  height: 220rem;
}

.App_marauder_0,
.App_progression_0,
.App_shop_885c7375 {
  width: 471rem;
  height: 280rem;
}

.App_zone_b69d1ef5,
.App_radar_0,
.App_sector_e9e1a7cd {
  width: 470rem;
  height: 330rem;
}

.App_zone_b69d1ef5 {
  margin-bottom: 9rem;
}

.App_zoneText_ff830e8a {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
}

.App_visionCoreDescription_0,
.App_shopDescription_fa2ac510 {
  margin-top: 14rem;
}

.App_battleTaskImage_ae6b98e4 {
  width: 165rem;
  height: 164rem;
}

.App_battleTaskDescription_26d46618 {
  margin-left: 12rem;
}

.App_pointsBattleTask_a1e1fb9d {
  width: 136rem;
  height: 136rem;
  margin-left: 6rem;
}

.App_bpDetails_8dc6cdec {
  margin-top: 0;
}

.App_9dacc05d .App_indentBPTable_23219c42 {
  margin-bottom: 11rem;
}

.App_articleBPSettings_35a49e1e {
  margin-bottom: 18rem;
}

.App_bpDetailsHead_ac30c186 {
  margin-bottom: 4rem;
}

.App_bpDistributionTitle_0,
.App_progressionTitle_97a613fe {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 11rem;
}

.App_closeButton_f5179698 {
  position: absolute;
  top: 30rem;
  right: 30rem;
}