/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.Announcement_2f30b082 {
  width: 812rem;
  opacity: 0;
  transition: opacity 0.2s linear;
  pointer-events: none;
}
.Announcement_base__visible_5ca9be2b {
  opacity: 1;
}

.Announcement_content_59e3f1a4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Announcement_countdownSlot_47d7df6a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 31rem;
}

.Announcement_countdownViewport_644f7a0b {
  width: 140rem;
  height: 0.9em;
  font-size: 124rem;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to bottom, #000 60%, transparent 90%);
}

.Announcement_countdownAnimated_3490c1cb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
}

.Announcement_countdownValue_d37110a2 {
  color: #fff;
  font-weight: 700;
  line-height: 0.8;
  text-align: center;
  text-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.25);
  transform: translateX(-50%);
}

.Announcement_heading_bb6fb1f9 {
  width: 275rem;
  margin-top: -60rem;
  color: #fff;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.Announcement_description_fd12345c {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 812rem;
  margin-top: 6rem;
  color: #fff;
  font-size: 18rem;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
}
.Announcement_description_fd12345c::before,
.Announcement_description_fd12345c::after {
  display: flex;
  width: 50%;
  height: 2rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 30%,
    rgba(255, 255, 255, 0.5) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
}
.Announcement_description_text_5119b1b {
  padding: 4rem 100rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.Indicator_39148d3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34rem;
  height: 34rem;
  margin-right: 4rem;
  position: relative;
}

.Indicator_glow_1bab6de1 {
  width: 96rem;
  height: 96rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  animation: Indicator_pulse_93e8cc0c 0.3s ease forwards;
}
.Indicator_glow__ally_c5b2ede {
  background: url("R.images.fort_rush.gui.maps.icons.battle.hud.base_capture_indicators.glow_ally")
    center center/96rem 96rem no-repeat;
}
.Indicator_glow__enemy_bd194948 {
  background: url("R.images.fort_rush.gui.maps.icons.battle.hud.base_capture_indicators.glow_enemy")
    center center/96rem 96rem no-repeat;
}
.Indicator_glow__neutralized_b112b4cd {
  background: url("R.images.fort_rush.gui.maps.icons.battle.hud.base_capture_indicators.glow_neutralized")
    center center/96rem 96rem no-repeat;
}

.Indicator_circle_aeb9fe80 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34rem;
  height: 34rem;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.Indicator_circle__capturing_e1f9a806 {
  animation: Indicator_capturing_93e8cc0c 1s ease forwards infinite;
}
.Indicator_circle_aeb9fe80 {
  background: url("R.images.fort_rush.gui.maps.icons.battle.hud.base_capture_indicators.base_indicator_default")
    center center/34rem 34rem no-repeat;
}
.Indicator_circle__ally_e01cd88e {
  background: url("R.images.fort_rush.gui.maps.icons.battle.hud.base_capture_indicators.base_indicator_ally")
    center center/34rem 34rem no-repeat;
}
.Indicator_circle__enemy_bc17dec9 {
  background: url("R.images.fort_rush.gui.maps.icons.battle.hud.base_capture_indicators.base_indicator_enemy")
    center center/34rem 34rem no-repeat;
}
.Indicator_circle__neutralized_ec409dce {
  background: url("R.images.fort_rush.gui.maps.icons.battle.hud.base_capture_indicators.base_indicator_neutralized")
    center center/34rem 34rem no-repeat;
}

.Indicator_label_90d53be0 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18rem;
  font-weight: 600;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes Indicator_pulse_93e8cc0c {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes Indicator_capturing_93e8cc0c {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.HudBaseCaptureIndicators_ba31e9 {
  display: flex;
  align-items: center;
  margin-top: 15rem;
  position: relative;
}
.HudBaseCaptureIndicators_ba31e9::before {
  left: -10rem;
  transform: translateY(-50%);
}
.HudBaseCaptureIndicators_ba31e9::after {
  right: -10rem;
  transform: scale(-1) translateY(50%);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.CaptureBar_fdf8dde9 {
  width: 346rem;
  height: 14rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}
.CaptureBar_base__ally_23889926.CaptureBar_base__win_612db1d1 {
  animation: CaptureBar_win-glow-ally_23889926 0.9s ease-in-out infinite alternate;
}
.CaptureBar_base__enemy_23889926.CaptureBar_base__win_612db1d1 {
  animation: CaptureBar_win-glow-enemy_23889926 0.9s ease-in-out infinite alternate;
}

.CaptureBar_content_75a4ccc1 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}

.CaptureBar_border_e00ddb0a {
  border-width: 1rem;
  border-style: solid;
  border-radius: 1rem;
  border-image: url(R.images.gui.maps.icons.ui_kit.common.secondary_border_pattern) 4/4rem round;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.CaptureBar_fill_d74de8fa {
  border-radius: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: width 200ms linear;
}
.CaptureBar_fill_d74de8fa::before {
  display: flex;
  width: 100%;
  border-radius: 2rem;
  background: url("R.images.fort_rush.gui.maps.icons.capturing_indicator.mono_noise") 0 0/48rem
    48rem repeat;
  opacity: 0.1;
  mix-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.CaptureBar_fill_d74de8fa::after {
  display: flex;
  width: 100%;
  border: 1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}
.CaptureBar_base__ally_23889926 .CaptureBar_fill_d74de8fa {
  background-color: #89cd00;
  right: 0;
}
.CaptureBar_base__ally_23889926 .CaptureBar_fill_d74de8fa::before {
  background-position: right top;
}
.CaptureBar_base__enemy_23889926 .CaptureBar_fill_d74de8fa {
  background-color: #eb0002;
  left: 0;
}

.CaptureBar_divider_f314d91e {
  width: 1rem;
  margin-left: -0.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.CaptureBar_deltaFill_b3620998 {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: width 200ms ease-out;
}
.CaptureBar_base__ally_23889926 .CaptureBar_deltaFill_b3620998 {
  right: 0;
}
.CaptureBar_base__ally_23889926 .CaptureBar_deltaFill__inProgress_37f3b29b {
  margin-right: -1rem;
}
.CaptureBar_base__enemy_23889926 .CaptureBar_deltaFill_b3620998 {
  left: 0;
}
.CaptureBar_base__enemy_23889926 .CaptureBar_deltaFill__inProgress_37f3b29b {
  margin-left: -1rem;
}
.CaptureBar_deltaFill__pending_58ce0758 {
  animation: CaptureBar_pending-pulse_23889926 2.4s ease-in-out infinite;
}
.CaptureBar_base__ally_23889926 .CaptureBar_deltaFill__pending_58ce0758 {
  box-shadow: inset 0 0 0 1rem rgba(255, 255, 255, 0.15);
  background-color: #89cd00;
}
.CaptureBar_base__enemy_23889926 .CaptureBar_deltaFill__pending_58ce0758 {
  box-shadow: inset 0 0 0 1rem rgba(255, 255, 255, 0.15);
  background-color: #f41c0c;
}
.CaptureBar_deltaFill__applied_60a5bf75 {
  min-width: 4rem;
  opacity: 1;
  transition: opacity 600ms ease-out;
}
.CaptureBar_base__ally_23889926 .CaptureBar_deltaFill__applied_60a5bf75 {
  box-shadow:
    0 0 6rem #bff323,
    0 0 6rem rgba(233, 255, 200, 0.5),
    inset 0 0 4rem 1rem rgba(81, 255, 0, 0.25);
  background-color: #e9ffc8;
}
.CaptureBar_base__enemy_23889926 .CaptureBar_deltaFill__applied_60a5bf75 {
  box-shadow:
    0 0 6rem rgba(248, 205, 190, 0.5),
    0 0 6rem rgba(255, 11, 13, 0.65),
    inset 0 0 6rem 1rem rgba(255, 0, 0, 0.25);
  background-color: #f8bebe;
}
.CaptureBar_base__exit_23889926 .CaptureBar_deltaFill__applied_60a5bf75 {
  opacity: 0;
}
.CaptureBar_deltaFill__full_af2f3fa {
  opacity: 0;
  transition: none;
}
.CaptureBar_base__empty_23889926 .CaptureBar_deltaFill_b3620998 {
  transition: width 100ms ease-out;
}

.CaptureBar_deltaLabel_f744002 {
  padding: 0 4rem;
  font-size: 20rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.04em;
  white-space: nowrap;
  position: absolute;
  top: -4rem;
  z-index: 5;
  transition:
    left 200ms ease-out,
    right 200ms ease-out;
}
.CaptureBar_deltaLabel__pending_e1dc907a {
  opacity: 0.4;
  animation: CaptureBar_pending-label-pulse_23889926 2.4s ease-in-out infinite;
}
.CaptureBar_base__ally_23889926 .CaptureBar_deltaLabel__pending_e1dc907a {
  color: #e9ffc8;
  text-shadow:
    0 0 4rem rgba(122, 161, 5, 0.7),
    0 0 6rem rgba(206, 255, 134, 0.5),
    0 1rem 1rem rgba(0, 0, 0, 0.42);
}
.CaptureBar_base__enemy_23889926 .CaptureBar_deltaLabel__pending_e1dc907a {
  color: #f8bebe;
  text-shadow:
    0 0 6rem rgba(255, 0, 0, 0.54),
    0 0 4rem rgba(243, 112, 67, 0.48),
    0 1rem 1rem rgba(0, 0, 0, 0.42);
}
.CaptureBar_deltaLabel__applied_7f1f3629 {
  opacity: 0.7;
  transform: scale(1);
  transition:
    opacity 600ms ease-in,
    transform 600ms ease-in;
}
.CaptureBar_base__ally_23889926 .CaptureBar_deltaLabel__applied_7f1f3629 {
  color: #e9ffc8;
  text-shadow:
    0 0 4rem #7aa105,
    0 0 6rem rgba(206, 255, 134, 0.74),
    0 1rem 1rem rgba(0, 0, 0, 0.42);
}
.CaptureBar_base__enemy_23889926 .CaptureBar_deltaLabel__applied_7f1f3629 {
  color: #f8bebe;
  text-shadow:
    0 0 6rem rgba(255, 0, 0, 0.77),
    0 0 4rem rgba(243, 112, 67, 0.68),
    0 1rem 1rem rgba(0, 0, 0, 0.42);
}
.CaptureBar_base__exit_23889926 .CaptureBar_deltaLabel__applied_7f1f3629 {
  opacity: 0;
  transform: scale(1.5);
}

@keyframes CaptureBar_pending-pulse_23889926 {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.32;
  }
}
@keyframes CaptureBar_pending-label-pulse_23889926 {
  0%,
  100% {
    opacity: 0.34;
  }
  50% {
    opacity: 0.48;
  }
}
@keyframes CaptureBar_win-glow-ally_23889926 {
  from {
    box-shadow: 0 0 4rem rgba(137, 205, 0, 0.3);
  }
  to {
    box-shadow:
      0 0 16rem rgba(137, 205, 0, 0.9),
      0 0 32rem rgba(137, 205, 0, 0.4);
  }
}
@keyframes CaptureBar_win-glow-enemy_23889926 {
  from {
    box-shadow: 0 0 4rem rgba(244, 28, 12, 0.3);
  }
  to {
    box-shadow:
      0 0 16rem rgba(244, 28, 12, 0.9),
      0 0 32rem rgba(244, 28, 12, 0.4);
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.Chevrons_ef2de4f8 {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 30rem;
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.25) 33%,
    black 50%,
    rgba(0, 0, 0, 0.25) 66%,
    rgba(0, 0, 0, 0.25) 100%
  );
  mask-size: 300% 100%;
  mask-repeat: no-repeat;
  mask-position: 100% 0;
}

.Chevrons_base__ally_c2550cfb {
  mask-position: 0% 0;
  flex-direction: row-reverse;
}

.Chevrons_base__flash_fb3698bd {
  animation: Chevrons_chevrons-wave_1c4aba1 2.5s ease-in-out;
}

.Chevrons_base__ally_c2550cfb.Chevrons_base__flash_fb3698bd {
  animation-name: Chevrons_chevrons-wave-reverse_1c4aba1;
}

.Chevrons_chevron_7b12f59d {
  width: 14rem;
  height: 30rem;
  mask-image: url("R.images.fort_rush.gui.maps.icons.hud_header.wave_mask");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.Chevrons_chevron__filled_8fafcf36 {
  opacity: 1;
}

.Chevrons_chevron__ally_268d0e8d {
  background-color: #89cd00;
}

.Chevrons_chevron__enemy_5a22ab66 {
  background-color: #eb0002;
  transform: scaleX(-1);
}

@keyframes Chevrons_chevrons-wave_1c4aba1 {
  from {
    mask-position: 100% 0;
  }
  to {
    mask-position: 0% 0;
  }
}
@keyframes Chevrons_chevrons-wave-reverse_1c4aba1 {
  from {
    mask-position: 0% 0;
  }
  to {
    mask-position: 100% 0;
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.HudHeaderTeamSection_64271e18 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 1 0;
  min-width: 0;
  max-width: 269rem;
  overflow: visible;
}
.HudHeaderTeamSection_base__enemy_24b22fd5 {
  align-items: flex-start;
}

.HudHeaderTeamSection_topRow_4ce49857 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 8rem;
}
.HudHeaderTeamSection_base__enemy_24b22fd5 .HudHeaderTeamSection_topRow_4ce49857 {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.HudHeaderTeamSection_scoreBlock_15bc9617 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 8rem;
}
.HudHeaderTeamSection_base__enemy_24b22fd5 .HudHeaderTeamSection_scoreBlock_15bc9617 {
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 8rem;
}

.HudHeaderTeamSection_teamScore_92b263e4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 70rem;
  color: rgba(238, 242, 246, 0.85);
  line-height: 1;
  text-align: right;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  font-size: 32rem;
  font-weight: 700;
  line-height: 1.3em;
}
.HudHeaderTeamSection_base__enemy_24b22fd5 .HudHeaderTeamSection_teamScore_92b263e4 {
  justify-content: flex-start;
  text-align: left;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.HudTimer_ad471bfc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80rem;
}

.HudTimer_timerIcon_ee87bf64 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34rem;
  height: 34rem;
  margin-top: 8rem;
  position: relative;
}
.HudTimer_timerIcon_ee87bf64 svg {
  display: flex;
  width: 34rem;
  height: 34rem;
}

.HudTimer_timerValue_e8f12fdf {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80rem;
  margin-top: 8rem;
  color: #fff;
  line-height: 1;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.HudTimer_timerPart_da9fe8dd {
  display: flex;
  flex-direction: row;
  min-width: 20rem;
}
.HudTimer_timerPart__minutes_d29b0096 {
  justify-content: flex-end;
  text-align: right;
}
.HudTimer_timerPart__seconds_680bd8e2 {
  justify-content: flex-start;
  text-align: left;
}

.HudTimer_timerColon_c4061d95 {
  width: 5rem;
  text-align: center;
}

.HudTimer_emblem_30e39f31 {
  width: 48rem;
  height: 48rem;
}

.HudTimer_centerFlash_3d961397 {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  pointer-events: none;
}

.HudTimer_centerFlashPulse_25c0d554 {
  width: 160rem;
  height: 160rem;
  background: url("R.images.fort_rush.gui.maps.icons.hud_header.score_tick") center/contain
    no-repeat;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  animation: HudTimer_center-flash_4fd08321 800ms ease-out both;
  pointer-events: none;
}
.HudTimer_centerFlashPulse__delayed_51339111 {
  animation-delay: 300ms;
}

@keyframes HudTimer_center-flash_4fd08321 {
  0% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.HudHeader_c601d9a2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 768rem;
  max-width: 100%;
  min-height: 64rem;
  padding: 0;
  overflow: visible;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.BaseCaptureCircle_16d25b08 {
  width: 88rem;
  height: 88rem;
  position: relative;
}

@keyframes BaseCaptureCircle_glowPulse_58c07523 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.BaseCaptureCircle_layer_glow_72b409d5 {
  width: 192rem;
  height: 192rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 192rem 192rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.BaseCaptureCircle_layer_glow__ally_7a630463 {
  background: url("R.images.fort_rush.gui.maps.icons.world_base_marker.glow_ally") center
    center/contain no-repeat;
  animation: BaseCaptureCircle_glowPulse_58c07523 1.5s ease-in-out forwards 2;
}
.BaseCaptureCircle_layer_glow__enemy_ba3bb934 {
  background: url("R.images.fort_rush.gui.maps.icons.world_base_marker.glow_enemy") center
    center/contain no-repeat;
  animation: BaseCaptureCircle_glowPulse_58c07523 1.5s ease-in-out forwards 2;
}
.BaseCaptureCircle_layer_glow__neutral_a17306c8 {
  background: url("R.images.fort_rush.gui.maps.icons.world_base_marker.glow_neutral") center
    center/contain no-repeat;
  animation: BaseCaptureCircle_glowPulse_58c07523 1.5s ease-in-out forwards 2;
}

.BaseCaptureCircle_layer_contested_3249d044 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.BaseCaptureCircle_layer_base_a5b4017f {
  width: 76rem;
  height: 76rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.BaseCaptureCircle_layer_base__ally_796ef68f {
  background: url("R.images.fort_rush.gui.maps.icons.world_base_marker.bg_ally") center
    center/contain no-repeat;
}
.BaseCaptureCircle_layer_base__enemy_a7de69bc {
  background: url("R.images.fort_rush.gui.maps.icons.world_base_marker.bg_enemy") center
    center/contain no-repeat;
}
.BaseCaptureCircle_layer_base__neutral_332acfc1 {
  background: url("R.images.fort_rush.gui.maps.icons.world_base_marker.bg_neutral") center
    center/contain no-repeat;
}
.BaseCaptureCircle_layer_base__justCapturedNeutral_332acfc1 {
  background: url("R.images.fort_rush.gui.maps.icons.world_base_marker.bg_neutral") center
    center/contain no-repeat;
}

.BaseCaptureCircle_layer_progress_a5b4017f {
  width: 76rem;
  height: 76rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BaseCaptureCircle_label_630af12 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76rem;
  height: 76rem;
  color: #edddc1;
  font-size: 36rem;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
  letter-spacing: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease;
}
.BaseCaptureCircle_label__ally_99b5eded {
  color: #e9ffc8;
  text-shadow:
    0 0 6rem #89cd00,
    0 1rem 2rem rgba(0, 0, 0, 0.6);
}
.BaseCaptureCircle_label__enemy_783506c4 {
  color: #edddc1;
  text-shadow:
    0 0 8.3rem rgba(255, 0, 0, 0.85),
    0 1rem 2rem rgba(0, 0, 0, 0.6);
}
.BaseCaptureCircle_label__active_647372a2 {
  color: rgba(255, 255, 255, 0.95);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.WorldBaseMarkers_79c2f0e1 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.WorldBaseMarkers_marker_727c6c36 {
  position: absolute;
  transform-origin: 0 0;
  transition: opacity 200ms ease-in-out;
}
.WorldBaseMarkers_marker_727c6c36 .WorldBaseMarkers_marker_body_ef616173 {
  transform: translate(-50%, -50%);
}
.WorldBaseMarkers_marker__current_a01f1117 {
  /* !important is critical to override GF data-binding */
  opacity: 1 !important;
  z-index: 10;
  /* This needs to be in px, so that transition from data-bind-style-transform2d is seamless */
  transform: translateX(var(--marker-center-x)) translateY(calc(130px * var(--interface-scaling)))
    scale(1) !important;
  transition:
    transform 650ms cubic-bezier(0.87, 0, 0.13, 1),
    opacity 650ms cubic-bezier(0.34, 1.56, 0.64, 1) 650ms;
}
.WorldBaseMarkers_marker__current_a01f1117 .WorldBaseMarkers_marker_body_ef616173 {
  transform: translateX(-50%);
  transition: transform 650ms cubic-bezier(0.87, 0, 0.13, 1);
}
.WorldBaseMarkers_marker__hold_ce973a90 {
  z-index: 10;
  transform: translateX(var(--marker-center-x)) translateY(calc(130px * var(--interface-scaling)))
    scale(1) !important;
  transition: opacity 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.5s;
}
.WorldBaseMarkers_marker__hold_ce973a90 .WorldBaseMarkers_marker_body_ef616173 {
  transform: translateX(-50%);
}
.WorldBaseMarkers_marker__returning_921917de {
  transition: transform 0.25s linear;
}
.WorldBaseMarkers_marker__returning_921917de .WorldBaseMarkers_marker_body_ef616173 {
  transform: translateX(0%);
  transition: transform 0.25s linear;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.FortRushHudApp_71fb006a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(50% 20% at 50% 0%, #0d2131 0%, rgba(0, 48, 87, 0) 100%);
  position: absolute;
  top: 0rem;
  left: 0;
  pointer-events: none;
}
.FortRushHudApp_base__hudHeaderHidden_bec4b838 .FortRushHudApp_scorePanel_32a68cbf {
  display: none;
}
.FortRushHudApp_base__captureIndicatorsHidden_bec4b838 .FortRushHudApp_captureIndicators_20d88fe0 {
  display: none;
}
.FortRushHudApp_base__announcementHidden_bec4b838 .FortRushHudApp_announcement_90b9e6be {
  display: none;
}
.FortRushHudApp_base__capturingIndicatorHidden_bec4b838
  .FortRushHudApp_capturingIndicator_20d88fe0 {
  display: none;
}
.FortRushHudApp_base__capturePointsMarkerHidden_bec4b838
  .FortRushHudApp_capturePointsMarker_20d88fe0 {
  display: none;
}
.FortRushHudApp_71fb006a .FortRushHudApp_scorePanel_32a68cbf {
  padding-top: 16rem;
}
.FortRushHudApp_71fb006a .FortRushHudApp_announcement_90b9e6be {
  position: absolute;
  top: 130rem;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
