/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Separator_412036b5 {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
}

.Separator_12ee2666 {
  width: 292rem;
  height: 100%;
  opacity: 0;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, 10%);
  transition:
    opacity 0.2s ease,
    transform 0.8s cubic-bezier(0.4, 0, 0, 1);
  pointer-events: none;
}
.Separator_base__bothUnselected_68dca4b0 .Separator_12ee2666 {
  opacity: 1;
  transform: translate(-50%, 0%);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Background_b1f609f4 {
  width: 100%;
  height: 100%;
  cursor: default;
}
.Background_base__hover_b95aa35f,
.Background_base__unselected_26effab7.Background_base__hover_b95aa35f {
  cursor: pointer;
}
.Background_base__selected_26effab7.Background_base__hover_b95aa35f {
  cursor: default;
}

.Background_mask_4ca900a0 {
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.Background_bgContainer_9a5a49a2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.Background_12653090 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280rem;
  height: 1080rem;
  filter: brightness(1);
  opacity: 1;
  transition:
    opacity 0.2s ease,
    filter 0.2s ease;
}
.Background_base__hover_b95aa35f .Background_12653090 {
  filter: brightness(1.15);
  opacity: 1;
}
.Background_base__unselected_26effab7 .Background_12653090 {
  filter: brightness(1);
  opacity: 0.5;
}
.Background_base__unselected_26effab7.Background_base__hover_b95aa35f .Background_12653090 {
  filter: brightness(1.15);
  opacity: 0.7;
}
.Background_base__selected_26effab7.Background_base__hover_b95aa35f .Background_12653090 {
  filter: brightness(1.15);
  opacity: 1;
}
.Background_base__bothUnselected_26effab7.Background_base__unselected_26effab7
  .Background_12653090 {
  filter: brightness(1);
  opacity: 0.7;
}
.Background_base__bothUnselected_26effab7.Background_base__unselected_26effab7.Background_base__hover_b95aa35f
  .Background_12653090 {
  filter: brightness(1.15);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Frame_57889960 {
  width: 100%;
  height: 100%;
  cursor: default;
  pointer-events: none;
}

.Frame_frameContainer_766f4121 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.Frame_b3a3ec3f {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1552rem;
  height: 1080rem;
  opacity: 0;
  mix-blend-mode: screen;
  transform: translate(-60%, -50%);
  transition:
    transform 0.8s cubic-bezier(0.4, 0, 0, 1),
    opacity 0.8s cubic-bezier(0.4, 0, 0, 1);
}
.Frame_base__selected_80f6d9ac .Frame_b3a3ec3f {
  opacity: 1;
}
.Frame_base__right_80f6d9ac .Frame_b3a3ec3f {
  transform: translate(-40%, -50%);
}
.Frame_base__unselected_80f6d9ac.Frame_base__hover_80f6d9ac .Frame_b3a3ec3f {
  transform: translate(-60%, -50%);
}
.Frame_base__selected_80f6d9ac.Frame_base__hover_80f6d9ac .Frame_b3a3ec3f {
  opacity: 1;
  transform: translate(-49.8%, -50%);
}
.Frame_base__unselected_80f6d9ac .Frame_b3a3ec3f {
  transform: translate(-70.3%, -50%);
}
.Frame_base__unselected_80f6d9ac.Frame_base__bothUnselected_80f6d9ac .Frame_b3a3ec3f {
  transform: translate(-60%, -50%);
}
.Frame_base__right_80f6d9ac.Frame_base__unselected_80f6d9ac.Frame_base__hover_80f6d9ac
  .Frame_b3a3ec3f {
  transform: translate(-40%, -50%);
}
.Frame_base__right_80f6d9ac.Frame_base__selected_80f6d9ac.Frame_base__hover_80f6d9ac
  .Frame_b3a3ec3f {
  opacity: 1;
  transform: translate(-50.2%, -50%);
}
.Frame_base__right_80f6d9ac.Frame_base__unselected_80f6d9ac .Frame_b3a3ec3f {
  transform: translate(-29.7%, -50%);
}
.Frame_base__right_80f6d9ac.Frame_base__unselected_80f6d9ac.Frame_base__bothUnselected_80f6d9ac
  .Frame_b3a3ec3f {
  transform: translate(-40%, -50%);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Side_fc29a4b4 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  transition: width 0.8s cubic-bezier(0.4, 0, 0, 1);
}
.Side_base__unselected_4b86b567.Side_base__hover_c14f3f57 {
  width: 50%;
}
.Side_base__selected_1fe37404.Side_base__hover_c14f3f57 {
  width: 66.67%;
}
.Side_base__unselected_4b86b567 {
  width: 33.34%;
}
.Side_base__unselected_4b86b567.Side_base__bothUnselected_6ca59e65 {
  width: 50%;
}

.Side_button_cb82de55 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  opacity: 1;
  bottom: 60rem;
  z-index: 3;
  transition: opacity 0.2s ease;
}
.mediaMedium .Side_button_cb82de55 {
  bottom: 70rem;
}
.mediaLarge .Side_button_cb82de55 {
  bottom: 80rem;
}
.mediaExtraLarge .Side_button_cb82de55 {
  bottom: 110rem;
}
.Side_base__selected_1fe37404 .Side_button_cb82de55 {
  opacity: 0.5;
}
.Side_base__selected_1fe37404.Side_base__hover_c14f3f57 .Side_button_cb82de55 {
  opacity: 1;
}
.Side_base__unselected_4b86b567 .Side_button_cb82de55 {
  opacity: 0.3;
}
.Side_base__unselected_4b86b567.Side_base__hover_c14f3f57 .Side_button_cb82de55 {
  opacity: 0.5;
}
.Side_base__unselected_4b86b567.Side_base__bothUnselected_6ca59e65 .Side_button_cb82de55 {
  opacity: 0.3;
}
.Side_base__unselected_4b86b567.Side_base__bothUnselected_6ca59e65.Side_base__hover_c14f3f57
  .Side_button_cb82de55 {
  opacity: 0.5;
}

.Side_textBox_8a08a8c7 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  max-width: 90%;
  background-color: rgba(10, 10, 10, 0.25);
  opacity: 0.5;
  bottom: 125rem;
  z-index: 3;
  transition: opacity 0.2s ease;
  pointer-events: none;
}
.mediaMedium .Side_textBox_8a08a8c7 {
  bottom: 136rem;
}
.mediaLarge .Side_textBox_8a08a8c7 {
  bottom: 157rem;
}
.mediaExtraLarge .Side_textBox_8a08a8c7 {
  bottom: 197rem;
}
.Side_base__hover_c14f3f57 .Side_textBox_8a08a8c7 {
  opacity: 1;
}
.Side_base__unselected_4b86b567.Side_base__hover_c14f3f57 .Side_textBox_8a08a8c7 {
  opacity: 1;
}
.Side_base__selected_1fe37404.Side_base__hover_c14f3f57 .Side_textBox_8a08a8c7 {
  opacity: 1;
}
.Side_base__unselected_4b86b567 .Side_textBox_8a08a8c7 {
  opacity: 0.3;
}
.Side_base__unselected_4b86b567.Side_base__bothUnselected_6ca59e65 .Side_textBox_8a08a8c7 {
  opacity: 0.7;
}
.Side_base__bothUnselected_6ca59e65.Side_base__unselected_4b86b567.Side_base__hover_c14f3f57
  .Side_textBox_8a08a8c7 {
  opacity: 1;
}

.Side_text_81036e10 {
  justify-content: center;
  margin: 5rem 20rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 22rem;
  font-weight: 500;
  line-height: 1.15em;
  text-align: center;
}
.mediaMedium .Side_text_81036e10 {
  margin: 10rem 20rem;
  font-size: 24rem;
  line-height: 1.15em;
}
.mediaLarge .Side_text_81036e10 {
  margin: 14rem 20rem;
  font-size: 30rem;
  line-height: 1.12em;
}
.mediaExtraLarge .Side_text_81036e10 {
  margin: 24rem;
  font-size: 34rem;
  line-height: 1.08em;
}

.Side_noiseContainer_9a0ce360 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 4;
  pointer-events: none;
}

.Side_noise_5ae7660 {
  background: url("R.images.halloween.gui.maps.icons.storyChoice.noise") repeat 0;
  opacity: 0;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  right: -50%;
  bottom: 0;
  left: -50%;
  transition: opacity 0.2s ease;
  animation: Side_noiseMove_1fe37404 0.3s infinite steps(4, start);
}
.Side_base__unselected_4b86b567 .Side_noise_5ae7660 {
  opacity: 1;
}
.Side_base__unselected_4b86b567.Side_base__hover_c14f3f57 .Side_noise_5ae7660 {
  opacity: 0;
}
.Side_base__bothUnselected_6ca59e65.Side_base__unselected_4b86b567 .Side_noise_5ae7660 {
  opacity: 0;
}

@keyframes Side_noiseMove_1fe37404 {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.StoryChoiceApp_57203edb {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
}

.StoryChoiceApp_closeBtn_5c9e28cf {
  position: absolute;
  top: 30rem;
  right: 30rem;
  z-index: 1;
  z-index: 3;
}

.StoryChoiceApp_vignette_822b9efb {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:
    url("R.images.halloween.gui.maps.icons.backgrounds.vignette_simple") no-repeat 50%/100% 100%,
    linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, transparent 50%);
  mix-blend-mode: normal;
  z-index: 1;
  pointer-events: none;
}

.StoryChoiceApp_sideRight_335e3d73 {
  position: absolute;
  top: 0;
  right: 0;
}

.StoryChoiceApp_sideLeft_6b9d87f1 {
  position: absolute;
  top: 0;
  left: 0;
}

.StoryChoiceApp_shadow_fbe48b31 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 820rem;
  height: 600rem;
  margin-top: 5rem;
  background: radial-gradient(rgba(36, 15, 7, 0.4) 35%, transparent 65%);
  opacity: 0;
  top: -350rem;
  z-index: 3;
  transition: opacity 0.2s ease;
  pointer-events: none;
}
.mediaMedium .StoryChoiceApp_shadow_fbe48b31 {
  width: 850rem;
  top: -300rem;
}
.mediaLarge .StoryChoiceApp_shadow_fbe48b31 {
  width: 920rem;
  top: -250rem;
}
.mediaExtraLarge .StoryChoiceApp_shadow_fbe48b31 {
  width: 1000rem;
  top: -200rem;
}
.StoryChoiceApp_base__bothUnselected_153f5cd0 .StoryChoiceApp_shadow_fbe48b31 {
  opacity: 1;
}

.StoryChoiceApp_header_e4a1808d {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 34rem;
  font-weight: 500;
  line-height: 1.3em;
  text-align: center;
  opacity: 0;
  top: 50rem;
  z-index: 3;
  transform: translate(-50%, -20%);
  transition:
    opacity 0.8s cubic-bezier(0.4, 0, 0, 1),
    transform 0.8s cubic-bezier(0.4, 0, 0, 1);
  pointer-events: none;
}
.mediaMedium .StoryChoiceApp_header_e4a1808d {
  font-size: 46rem;
  font-weight: 600;
  top: 56rem;
}
.mediaLarge .StoryChoiceApp_header_e4a1808d {
  font-size: 56rem;
  top: 64rem;
}
.mediaExtraLarge .StoryChoiceApp_header_e4a1808d {
  font-size: 64rem;
  top: 91rem;
}
.StoryChoiceApp_base__bothUnselected_153f5cd0 .StoryChoiceApp_header_e4a1808d {
  opacity: 1;
  transform: translate(-50%, 0%);
}
