/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.BoosterTooltipApp_8070f331 {
  max-width: 410rem;
  padding: 15rem 25rem 19rem;
}

.BoosterTooltipApp_header_a8137851 {
  display: flex;
  align-items: center;
}

.BoosterTooltipApp_headerLabel_a5c18de7 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  width: 300rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 24rem;
}

.BoosterTooltipApp_boosterIcon_331d1eb2 {
  width: 48rem;
  height: 48rem;
  margin-right: 10rem;
  background: no-repeat 50% / contain;
}

.BoosterTooltipApp_label_3c623b78 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 24rem;
  color: var(--color-general-tertiary);
}

.BoosterTooltipApp_body_3753f8a5 {
  display: flex;
}

.BoosterTooltipApp_dot_996efa80 {
  width: 5rem;
  height: 5rem;
  margin: 11rem 0 0 11rem;
  border-radius: 3rem;
  background-color: var(--color-general-tertiary);
}

.BoosterTooltipApp_bonus_2a8f9b41 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  flex: 1 1 0;
  margin-left: 11rem;
  color: var(--color-general-tertiary);
  font-weight: 400;
}

.BoosterTooltipApp_dots_52fb613c {
  width: 350rem;
  height: 1rem;
  margin: 16rem 0 10rem;
  background: url("R.images.last_stand.gui.maps.icons.library.dots") no-repeat 50% / contain;
}

.BoosterTooltipApp_footer_628da975 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 100%;
  margin-top: 2rem;
  color: var(--color-status-done);
  text-align: center;
}
