<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="../../../../../styles/default.css" rel="stylesheet" />
    <script defer="defer" src="../../../lib/vendors.js"></script>
    <script defer="defer" src="../../../lobby/views/PreBattleView/PreBattleView.js"></script>
    <link href="../../../lobby/views/PreBattleView/PreBattleView.css" rel="stylesheet" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
