/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes TooltipDecorator_fadeIn_95da40d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TooltipDecorator_fadeInThreeQuarters_95da40d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes TooltipDecorator_fadeInHalf_95da40d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes TooltipDecorator_fadeOut_95da40d3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes TooltipDecorator_fadeInWithScale_95da40d3 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes TooltipDecorator_slideUp_95da40d3 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes TooltipDecorator_scale_95da40d3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes TooltipDecorator_raysAppearance_95da40d3 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes TooltipDecorator_rotate_95da40d3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes TooltipDecorator_reverse-rotate_95da40d3 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes TooltipDecorator_glowAppearance_95da40d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TooltipDecorator_highlightAppearance_95da40d3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes TooltipDecorator_blink_95da40d3 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TooltipDecorator_slideUpIn_95da40d3 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.TooltipDecorator_decorator_81525906 {
  margin: 4rem 5rem 8rem;
}

.TooltipDecorator_decoratorInner_11d8e15d {
  padding: 1rem;
  border-image-source: url("R.images.comp7_light.gui.maps.icons.icons.tooltip_bg");
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  border-image-repeat: round;
  box-shadow: 0 0 8rem rgba(15, 15, 15, 0.8);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_reverse-rotate_0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes App_glowAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_highlightAppearance_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_blink_0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_slideUpIn_0 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.App_c6f34e00 {
  width: 328rem;
  padding: 7rem 19rem 28rem;
  color: #8c8c7e;
  font-size: 14rem;
  line-height: 1.3;
}

.App_header_775ebd33 {
  display: flex;
  align-items: center;
  height: 68rem;
  margin-bottom: 1rem;
  padding-left: 70rem;
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  position: relative;
}

.App_icon_9a379f5a {
  width: 48rem;
  height: 48rem;
  margin-right: 8rem;
  background: url("R.images.comp7_light.gui.maps.icons.prestigePoints.s48x48") no-repeat center/contain;
  position: absolute;
  top: 11rem;
}

.App_divider_8b5ac59e {
  width: 100%;
  height: 9rem;
  margin-bottom: 10rem;
  background: url("R.images.gui.maps.icons.library.efficiency.divider") no-repeat center/contain;
}

.App_bulletLine_aa4edbb {
  display: flex;
  align-items: center;
}

.App_bullet_581f55cf {
  margin-right: 4rem;
}