/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Stage_fadeIn_68142ff2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Stage_fadeInThreeQuarters_68142ff2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Stage_fadeInHalf_68142ff2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Stage_fadeOut_68142ff2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Stage_fadeInWithScale_68142ff2 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Stage_slideUp_68142ff2 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Stage_scale_68142ff2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Stage_raysAppearance_68142ff2 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Stage_rotate_68142ff2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Stage_reverse-rotate_68142ff2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Stage_glowAppearance_68142ff2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Stage_highlightAppearance_68142ff2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Stage_blink_68142ff2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Stage_slideUpIn_68142ff2 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Stage_dd8bd0be {
  width: 332rem;
  height: 50rem;
  overflow: hidden;
  position: relative;
}

.Stage_line_6cf4ae98 {
  width: 100%;
  height: 5rem;
  background: linear-gradient(180deg, #ffba3b -74%, rgba(255, 113, 53, 0) 316.67%);
  opacity: 0.66;
}

.Stage_progress_14938f9d {
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition-timing-function: linear;
  transition-duration: var(--animation-duration);
  transition-property: transform;
}

.Stage_background_7913d805 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ff9b53 -74%, rgba(253, 67, 0, 0) 100%);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}

.Stage_accent_ae0fcda6 {
  width: 1rem;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.3s opacity ease-in-out;
}
.Stage_base__current_68142ff2 .Stage_accent_ae0fcda6 {
  opacity: 1;
}

.Stage_image_d59eb726 {
  width: 101rem;
  height: 26rem;
  background: url("R.images.comp7.gui.maps.icons.ban.cursor") no-repeat center/contain;
  position: absolute;
  top: 0;
  left: -76.5rem;
  z-index: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes BanProgressionWidget_fadeIn_33c9ab58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes BanProgressionWidget_fadeInThreeQuarters_33c9ab58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes BanProgressionWidget_fadeInHalf_33c9ab58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes BanProgressionWidget_fadeOut_33c9ab58 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes BanProgressionWidget_fadeInWithScale_33c9ab58 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes BanProgressionWidget_slideUp_33c9ab58 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes BanProgressionWidget_scale_33c9ab58 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes BanProgressionWidget_raysAppearance_33c9ab58 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes BanProgressionWidget_rotate_33c9ab58 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes BanProgressionWidget_reverse-rotate_33c9ab58 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes BanProgressionWidget_glowAppearance_33c9ab58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes BanProgressionWidget_highlightAppearance_33c9ab58 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes BanProgressionWidget_blink_33c9ab58 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes BanProgressionWidget_slideUpIn_33c9ab58 {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.BanProgressionWidget_e508801a {
  display: flex;
  justify-content: center;
  position: relative;
}

.BanProgressionWidget_background_6a4cb777 {
  width: 790rem;
  height: 311rem;
  background: url("R.images.comp7.gui.maps.icons.ban.glow") no-repeat center/contain;
  position: absolute;
  top: 0rem;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}

.BanProgressionWidget_stage_68c90a63 + .BanProgressionWidget_stage_68c90a63 {
  margin-left: 20rem;
}
