/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.BattleInfo_d5226211 {
  display: flex;
  opacity: 0.5;
}

.BattleInfo_group_962f81f6 {
  display: flex;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 16rem;
  line-height: 1;
  position: relative;
}
.mediaMedium .BattleInfo_group_962f81f6 {
  font-size: 18rem;
}
.mediaLarge .BattleInfo_group_962f81f6 {
  font-size: 22rem;
}
.BattleInfo_group_962f81f6 + .BattleInfo_group_962f81f6::before {
  width: 1rem;
  height: 100%;
  margin: 0 12rem;
  background-color: var(--color-general-primary);
  background-image: url(R.images.gui.maps.icons.ui.noise);
  opacity: 0.5;
  content: "";
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.AnimatedNumber_958fc84e {
  overflow: hidden;
}

.AnimatedNumber_slotMachineDigit_a9587a5a {
  position: relative;
  mask-image: linear-gradient(to top, transparent 0%, #000 15%, #000 85%, transparent 100%);
}

.AnimatedNumber_plugChar_c66678 {
  opacity: 0;
  pointer-events: none;
}

.AnimatedNumber_digitsList_2065427d {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Currency_10720e2d {
  margin-left: 24rem;
}
.mediaLarge .Currency_10720e2d {
  margin-left: 32rem;
}
.mediaExtraLarge .Currency_10720e2d {
  margin-left: 40rem;
}
.Currency_10720e2d:first-child {
  margin-left: 0;
}

.Currency_icon_4d923f64 {
  opacity: 0;
}
.Currency_icon__visible_9c676b12 {
  animation: Currency_fadeIn_271064ec 600ms cubic-bezier(0.33, 0, 0.25, 1) forwards;
}

.Currency_value_54c8fc6b {
  display: flex;
  margin-right: 5rem;
  font-size: 40rem;
  font-weight: 600;
  text-shadow:
    0 1rem 15rem rgba(23, 23, 23, 0.4),
    0 1rem 0 rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
  opacity: 0.9;
}
.mediaMedium .Currency_value_54c8fc6b {
  font-size: 56rem;
}
.mediaLarge .Currency_value_54c8fc6b {
  font-size: 64rem;
}
.mediaExtraLarge .Currency_value_54c8fc6b {
  font-size: 80rem;
}

@keyframes Currency_fadeIn_271064ec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Currencies_5b11a533 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Flag_201e443b {
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translate(-6%, -44%);
}

.Flag_8ac99d2d {
  width: 1400rem;
  height: 910rem;
}
.mediaMedium .Flag_8ac99d2d {
  width: 1700rem;
  height: 1170rem;
}
.mediaLarge .Flag_8ac99d2d {
  width: 2400rem;
  height: 1560rem;
}
.mediaExtraLarge .Flag_8ac99d2d {
  width: 2400rem;
  height: 1560rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.LeaverNotice_border_f25a6ab3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.LeaverNotice_a9ee9e8c {
  --block-padding: 20rem;
  --block-padding-top: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 600rem;
  min-height: 108rem;
  margin-top: 8rem;
  background: url("R.images.fort_rush.gui.maps.icons.postBattleResults.disable_background")
    no-repeat center/cover;
  position: relative;
}
.mediaMedium .LeaverNotice_a9ee9e8c {
  margin-top: 24rem;
}
.mediaExtraLarge .LeaverNotice_a9ee9e8c {
  margin-top: 40rem;
}

.LeaverNotice_border_f25a6ab3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  pointer-events: none;
}
.LeaverNotice_border_side_e501e8c7 {
  flex: 1 1 0;
  height: 100%;
  position: relative;
}
.LeaverNotice_border_side_center_62dbe8bb,
.LeaverNotice_border_side_outer_9940f3de,
.LeaverNotice_border_side_inner_b0f42f48 {
  border-style: solid;
  border-color: transparent;
  position: absolute;
  pointer-events: none;
}
.LeaverNotice_border_side_center_62dbe8bb {
  border-image: url("R.images.gui.maps.icons.ui_kit.card.noise_center") 1/1rem repeat;
  opacity: 0.25;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
}
.LeaverNotice_border_side_outer_9940f3de {
  border-image: url("R.images.gui.maps.icons.ui_kit.card.noise_outer") 1/1rem repeat;
  opacity: 0.15;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.LeaverNotice_border_side_inner_b0f42f48 {
  border-image: url("R.images.gui.maps.icons.ui_kit.card.noise_inner") 1/1rem repeat;
  opacity: 0.4;
  top: 5rem;
  right: 5rem;
  bottom: 5rem;
  left: 5rem;
}
.LeaverNotice_border_side__left_7e16fbc4 > * {
  border-image-width: 1rem 0 1rem 1rem;
  right: 0;
}
.LeaverNotice_border_side__right_7e16fbc4 > * {
  border-image-width: 1rem 1rem 1rem 0;
  left: 0;
}
.LeaverNotice_border_gap_2bcbda1e {
  width: 64rem;
  position: relative;
}
.LeaverNotice_border_gap_2bcbda1e > * {
  border-image-width: 0 0 1rem 0;
}

.LeaverNotice_iconSection_f7ac27f {
  --icon-size: 32rem;
  display: flex;
  width: var(--icon-size);
  height: var(--icon-size);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.LeaverNotice_alertIcon_f92f0e3d {
  width: 32rem;
  height: 32rem;
  background: url("R.images.gui.maps.icons.ui_kit.input.message.alert") center center/cover
    no-repeat;
}

.LeaverNotice_body_878a8ccf {
  padding-left: var(--block-padding);
  padding-top: var(--block-padding-top);
  padding-right: var(--block-padding);
  padding-bottom: 24rem;
}

.LeaverNotice_title_c1030e92 {
  font-size: 20rem;
  font-weight: 500;
}
.mediaMedium .LeaverNotice_title_c1030e92 {
  font-size: 22rem;
}
.mediaLarge .LeaverNotice_title_c1030e92 {
  font-size: 24rem;
}

.LeaverNotice_description_e1a15ce5 {
  color: rgb(178, 175, 171);
  font-size: 16rem;
  font-weight: 400;
  line-height: 20rem;
  opacity: 0.9;
}
.mediaMedium .LeaverNotice_description_e1a15ce5 {
  font-size: 18rem;
  line-height: 24rem;
}
.mediaLarge .LeaverNotice_description_e1a15ce5 {
  font-size: 20rem;
  line-height: 28rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.TableHeader_row_a81d3e65 {
  height: 56rem;
  position: relative;
}
.mediaMedium .TableHeader_row_a81d3e65 {
  height: 48rem;
}
.mediaLarge .TableHeader_row_a81d3e65 {
  height: 55rem;
}
.mediaExtraLarge .TableHeader_row_a81d3e65 {
  height: 71rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.HeaderCell_cellWithValue_78949e6d {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-left: 38rem;
}
.mediaMedium .HeaderCell_cellWithValue_78949e6d {
  align-items: flex-start;
  padding-left: 43rem;
}
.mediaExtraLarge .HeaderCell_cellWithValue_78949e6d {
  padding-left: 52rem;
}
.HeaderCell_cellWithValue__totalInfo_789bf7be {
  padding-left: 24rem;
}
.mediaMedium .HeaderCell_cellWithValue__totalInfo_789bf7be {
  padding-left: 24rem;
}
.mediaExtraLarge .HeaderCell_cellWithValue__totalInfo_789bf7be {
  padding-left: 40rem;
}
.HeaderCell_cellWithValue__zeroIndent_334269c9 {
  padding-left: 0;
}
.mediaMedium .HeaderCell_cellWithValue__zeroIndent_334269c9 {
  padding-left: 0;
}

.HeaderCell_wrapper_7849c6a {
  display: flex;
  align-items: center;
}

.HeaderCell_imageWrapper_a570c717 {
  width: 40rem;
  height: 40rem;
}
.mediaExtraLarge .HeaderCell_imageWrapper_a570c717 {
  width: 56rem;
  height: 56rem;
}
.HeaderCell_cellWithValue__totalInfo_789bf7be .HeaderCell_imageWrapper_a570c717 {
  font-size: 28rem;
}
.mediaLarge .HeaderCell_cellWithValue__totalInfo_789bf7be .HeaderCell_imageWrapper_a570c717 {
  width: 56rem;
  height: 56rem;
}
.mediaExtraLarge .HeaderCell_cellWithValue__totalInfo_789bf7be .HeaderCell_imageWrapper_a570c717 {
  width: 80rem;
  height: 80rem;
}

.HeaderCell_value_f7bb7c82 {
  color: rgba(238, 237, 233, 0.9);
  font-size: 22rem;
  font-weight: 600;
  text-shadow:
    0 1rem 0 rgba(0, 0, 0, 0.3),
    0 1rem 15rem rgba(23, 23, 23, 0.4);
}
.mediaMedium .HeaderCell_value_f7bb7c82 {
  padding-top: 2rem;
  font-size: 24rem;
}
.mediaLarge .HeaderCell_value_f7bb7c82 {
  text-shadow:
    0 2rem 0 rgba(0, 0, 0, 0.3),
    0 1rem 15rem rgba(23, 23, 23, 0.4);
}
.mediaExtraLarge .HeaderCell_value_f7bb7c82 {
  font-size: 32rem;
  font-weight: 700;
}
.HeaderCell_cellWithValue__totalInfo_789bf7be .HeaderCell_value_f7bb7c82 {
  font-size: 28rem;
}
.mediaMedium .HeaderCell_cellWithValue__totalInfo_789bf7be .HeaderCell_value_f7bb7c82 {
  font-size: 28rem;
}
.mediaLarge .HeaderCell_cellWithValue__totalInfo_789bf7be .HeaderCell_value_f7bb7c82 {
  font-size: 40rem;
}
.mediaExtraLarge .HeaderCell_cellWithValue__totalInfo_789bf7be .HeaderCell_value_f7bb7c82 {
  font-size: 56rem;
  font-weight: 600;
}

.HeaderCell_cellWithText_710c47ce {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.HeaderCell_text_35220206 {
  margin-top: 13rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-size: 22rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  white-space: nowrap;
}
.mediaMedium .HeaderCell_text_35220206 {
  margin-top: 4rem;
  font-size: 24rem;
}
.mediaLarge .HeaderCell_text_35220206 {
  margin-top: 5rem;
}
.mediaExtraLarge .HeaderCell_text_35220206 {
  margin-top: 12rem;
  font-size: 28rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.ScoreHeaderCell_cellWithValue_6dabfcee {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 20rem;
  padding-right: 15rem;
  position: relative;
}
.ScoreHeaderCell_cellWithValue_6dabfcee::before {
  width: 2rem;
  height: 42rem;
  background: rgba(196, 198, 192, 0.16);
  content: "";
  position: absolute;
  right: 0;
  transform: rotate(15deg);
}
.mediaExtraLarge .ScoreHeaderCell_cellWithValue_6dabfcee {
  padding-left: 40rem;
}

.ScoreHeaderCell_wrapper_bc1c032f {
  display: flex;
  align-items: center;
}

.ScoreHeaderCell_value_2885a3f6 {
  color: rgba(238, 237, 233, 0.9);
  font-size: 28rem;
  font-weight: 600;
  text-shadow:
    0 1rem 0 rgba(0, 0, 0, 0.3),
    0 1rem 15rem rgba(23, 23, 23, 0.4);
}
.mediaLarge .ScoreHeaderCell_value_2885a3f6 {
  font-size: 40rem;
}
.mediaExtraLarge .ScoreHeaderCell_value_2885a3f6 {
  font-size: 56rem;
}

.ScoreHeaderCell_icon_a80b9d90 {
  width: 40rem;
  height: 40rem;
  background: no-repeat center/contain;
}
.mediaLarge .ScoreHeaderCell_icon_a80b9d90 {
  width: 56rem;
  height: 56rem;
}
.mediaExtraLarge .ScoreHeaderCell_icon_a80b9d90 {
  width: 80rem;
  height: 80rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Index_align_5032d1bf {
  display: flex;
  justify-content: center;
}
.Index_align__right_9d371d4f {
  justify-content: flex-end;
  padding-right: 4rem;
}
.mediaExtraLarge .Index_align__right_9d371d4f {
  padding-right: 8rem;
}
.Index_align__left_7938cc {
  justify-content: flex-start;
}

.Index_offsetCell_c4e68915 {
  padding-right: 3rem;
}
.mediaExtraLarge .Index_offsetCell_c4e68915 {
  padding-right: 10rem;
}
.Index_offsetCell__number_2c760167 {
  padding-right: 17rem;
}
.mediaExtraLarge .Index_offsetCell__number_2c760167 {
  padding-right: 23rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.PersonalEfficiency_messagesPanel_d1b1fa0b {
  position: absolute;
  right: 0;
  bottom: 106rem;
  left: 0;
}
.mediaExtraLarge .PersonalEfficiency_messagesPanel_d1b1fa0b {
  bottom: 150rem;
}

.PersonalEfficiency_message_d772bbd7 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  width: 100%;
  color: rgba(var(--color-general-primary-rgb), 0.32);
  text-align: center;
}

.PersonalEfficiency_totalEfficiency_4de0e87b {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 85rem;
  left: 0;
}
.mediaMedium .PersonalEfficiency_totalEfficiency_4de0e87b {
  bottom: 108rem;
}
.mediaLarge .PersonalEfficiency_totalEfficiency_4de0e87b {
  bottom: 117rem;
}
.mediaExtraLarge .PersonalEfficiency_totalEfficiency_4de0e87b {
  bottom: 157rem;
}

.PersonalEfficiency_totalEfficiencyTable_9139933 {
  width: auto;
}

.PersonalEfficiency_clarificationWrapper_5f3072b1 {
  margin-bottom: 40rem;
  cursor: default;
}
.mediaMedium .PersonalEfficiency_clarificationWrapper_5f3072b1 {
  margin-bottom: 64rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Overview_background_30fb26a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Overview_5f6760cf {
  --status-text-size: 132rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.mediaMedium .Overview_5f6760cf {
  --status-text-size: 140rem;
}
.mediaLarge .Overview_5f6760cf {
  --status-text-size: 172rem;
}
.mediaExtraLarge .Overview_5f6760cf {
  --status-text-size: 220rem;
}

.Overview_background_30fb26a {
  background: no-repeat center/cover;
  pointer-events: none;
}
.Overview_background__win_2c296f46 {
  background-image: url("R.images.fort_rush.gui.maps.icons.postBattleResults.backgrounds.win");
}
.Overview_background__lose_ec5189dc {
  background-image: url("R.images.fort_rush.gui.maps.icons.postBattleResults.backgrounds.lose");
}
.Overview_background__tie_6f3e947d {
  background-image: url("R.images.fort_rush.gui.maps.icons.postBattleResults.backgrounds.tie");
}

.Overview_cornerShadow_e460e9b8 {
  width: 880rem;
  height: 410rem;
  background: url("R.images.fort_rush.gui.maps.icons.postBattleResults.corner_shadow") no-repeat
    center/cover;
  position: absolute;
  top: 0;
  left: 0;
}
.mediaMedium .Overview_cornerShadow_e460e9b8 {
  width: 1114rem;
  height: 530rem;
}
.mediaLarge .Overview_cornerShadow_e460e9b8 {
  width: 1680rem;
  height: 830rem;
}

.Overview_bottomGradient_cb52c727 {
  width: 100%;
  height: 202rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mediaMedium .Overview_bottomGradient_cb52c727 {
  height: 302rem;
}
.mediaExtraLarge .Overview_bottomGradient_cb52c727 {
  height: 400rem;
}
.Overview_bottomGradient__win_608f02cc {
  background: linear-gradient(
    180deg,
    rgba(109, 96, 80, 0) 0%,
    rgba(109, 96, 80, 0) 35%,
    #6d6050 100%
  );
}
.Overview_bottomGradient__lose_ac21e3e0 {
  background: linear-gradient(
    180deg,
    rgba(54, 62, 71, 0) 0%,
    rgba(54, 62, 71, 0) 35%,
    #363e47 100%
  );
}
.Overview_bottomGradient__tie_808d1fb8 {
  background: linear-gradient(
    180deg,
    rgba(75, 75, 76, 0) 0%,
    rgba(75, 75, 76, 0) 35%,
    #4b4b4c 100%
  );
}

.Overview_info_8501ce2a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 612rem;
  margin: 0 601rem 76rem 0;
  position: relative;
  z-index: 0;
}
.mediaMedium .Overview_info_8501ce2a {
  width: 840rem;
  margin: 0 703rem 99rem 0;
}
.mediaLarge .Overview_info_8501ce2a {
  width: 937rem;
  margin: 0 888rem 95rem 0;
}
.mediaExtraLarge .Overview_info_8501ce2a {
  width: 1250rem;
  margin: 10rem 1220rem 218rem 0;
}

.Overview_statusWrapper_f61da090 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: var(--status-text-size);
  margin-bottom: 8rem;
}
.mediaMedium .Overview_statusWrapper_f61da090 {
  margin-bottom: 24rem;
}
.mediaExtraLarge .Overview_statusWrapper_f61da090 {
  margin-bottom: 40rem;
}

.Overview_status_1c902a82 {
  opacity: 0.56;
  mask-image: linear-gradient(to bottom, #f3ecec 0%, rgba(240, 232, 232, 0.08) 100%);
}

.Overview_statusText_dc3de5cb {
  color: #f3ecec;
  font-size: var(--status-text-size);
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 0;
  coh-font-fit-mode: shrink;
  coh-font-fit-max-size: var(--status-text-size);
  white-space: nowrap;
  mask-image: url(R.images.gui.maps.icons.post_battle.battle_status_mask);
  mask-size: cover;
  mask-position: center center;
}

.Overview_currencies_69bdd9c2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}
.mediaMedium .Overview_currencies_69bdd9c2 {
  margin-bottom: 2rem;
}
.mediaLarge .Overview_currencies_69bdd9c2 {
  margin-bottom: 20rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Divider_80a19f4b {
  width: 100%;
  height: 1rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.DropdownPortal_background_c766b1c4 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.DropdownPortal_ce932b5a {
  position: relative;
}

.DropdownPortal_popover_cf1c0927 {
  width: 280rem;
}
.DropdownPortal_popover_cf1c0927 .DropdownPortal_scrollContent_84f2a497 {
  height: auto;
  max-height: 325rem;
}
.DropdownPortal_popover_cf1c0927 .DropdownPortal_bar_ff158767 {
  height: 100%;
  position: absolute;
  top: 12rem;
  right: 9rem;
}

.DropdownPortal_area__begin_3f8609e6 {
  mask: linear-gradient(to bottom, transparent, #000 4%);
}
.DropdownPortal_area__end_45482477 {
  mask: linear-gradient(to top, transparent, #000 4%);
}
.DropdownPortal_area__begin_3f8609e6.DropdownPortal_area__end_45482477 {
  mask: linear-gradient(to bottom, transparent, #000 4%, #000 96%, transparent);
}

.DropdownPortal_list_e5576e40 {
  padding: 10rem 0;
  position: relative;
}

.DropdownPortal_button_16fda908 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem 13rem;
  border: none;
  background: none;
  color: var(--color-general-tertiary);
  text-align: left;
  cursor: pointer;
}
.DropdownPortal_base__selected_9ada34eb .DropdownPortal_button_16fda908 {
  color: var(--color-general-secondary);
}

.DropdownPortal_background_c766b1c4 {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.DropdownPortal_ce932b5a:hover .DropdownPortal_background_c766b1c4 {
  opacity: 0.1;
}
.DropdownPortal_background_c766b1c4 {
  background: url(R.images.gui.maps.icons.hangar.playlists.item_bg) no-repeat center/cover;
  pointer-events: none;
}
.DropdownPortal_base__selected_9ada34eb .DropdownPortal_background_c766b1c4 {
  opacity: 0.05;
}

.DropdownPortal_itemLabelWrapper_2b33e0c3 {
  display: flex;
  align-items: center;
}

.DropdownPortal_vehicleName_9ada34eb,
.DropdownPortal_vehicleLevel_e03ba278 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.DropdownPortal_vehicleGap_149320b4 {
  margin-right: 2rem;
}

.DropdownPortal_selectIcon_55072cb4 {
  width: 24rem;
  height: 24rem;
  margin-right: 6rem;
  background: url(R.images.gui.maps.icons.ui_kit.checkbox.icon_check) no-repeat center/cover;
  opacity: 0;
}
.DropdownPortal_base__selected_9ada34eb .DropdownPortal_selectIcon_55072cb4 {
  opacity: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Trigger_9cdafb94 {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.Trigger_arrow_8ee677b2 {
  width: 24rem;
  height: 24rem;
  background: url(R.images.gui.maps.icons.ui_kit.arrows.arrow_down) no-repeat center/cover;
  transform: rotate(0deg);
  transition: transform 200ms ease-in-out;
}
.Trigger_arrow__opened_38ae933 {
  transform: rotate(180deg);
}

.Trigger_arrowWrapper_68451ace {
  position: absolute;
  top: 0;
  right: -2rem;
  transform: translateX(100%);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.VehicleSelector_vehicleName_ff1d26ec,
.VehicleSelector_vehicleLevel_9e1a557b {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.VehicleSelector_vehicleGap_250d0374 {
  margin-right: 2rem;
}

.VehicleSelector_label_14dee5e6 {
  display: flex;
  align-items: center;
  color: var(--color-general-primary);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Header_ecb415bd {
  display: flex;
}

.Header_vehicle_ec875116 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  color: rgba(238, 237, 233, 0.9);
}

.Header_vehicleImageWrapper_f07116f5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200rem;
  height: 146rem;
  margin: 20rem -8rem 0 0;
  overflow: hidden;
}
.mediaMedium .Header_vehicleImageWrapper_f07116f5 {
  width: 260rem;
  height: 190rem;
  margin: 0;
}

.Header_info_63ade36e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 365rem;
}
.mediaMedium .Header_info_63ade36e {
  max-width: 450rem;
}
.mediaExtraLarge .Header_info_63ade36e {
  max-width: 600rem;
}

.Header_accountInfo_e1497c3e {
  max-width: 100%;
  height: 48rem;
  margin-top: 24rem;
  margin-bottom: 4rem;
}
.mediaMedium .Header_accountInfo_e1497c3e {
  margin-top: 30rem;
}

.Header_accountInfoGap_50a55407 {
  margin-right: 4rem;
}

body .Header_accountName_6a8dc850,
body .Header_clanAbbreviation_24ad710 {
  color: rgba(238, 237, 233, 0.9);
  font-size: 22rem;
  font-weight: 500;
}
.mediaExtraLarge .Header_accountName_6a8dc850,
.mediaExtraLarge .Header_clanAbbreviation_24ad710 {
  font-size: 28rem;
  font-weight: 400;
}

.Header_accountName_6a8dc850 {
  flex: 1;
}

.Header_clanAbbreviation_24ad710 {
  display: flex;
}

.Header_anonymizerIcon_b6806a1a {
  opacity: 0.4;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Value_798a6cdd {
  display: flex;
}

.Value_separator_798a6cdd {
  display: flex;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Index_statistics_638478ff {
  position: relative;
}

.Index_scrollAreaContent_52a570a {
  opacity: 0;
}
.Index_scrollAreaContent__initialized_b2629fde {
  opacity: 1;
}

.Index_item_6b7cdfb0 {
  display: flex;
  width: 100%;
}

.Index_separator_add04e19 {
  flex: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

body .PlayerStatistics_scrollbar_987bbca2 {
  position: absolute;
  top: 0;
  right: -18rem;
}
.mediaMedium .PlayerStatistics_scrollbar_987bbca2 {
  right: -31rem;
}
.mediaLarge .PlayerStatistics_scrollbar_987bbca2 {
  right: -26rem;
}

.PlayerStatistics_scrollAreaContent_8636fa99 {
  height: auto;
  max-height: 100%;
}

.PlayerStatistics_listItemSeparator_32247273 {
  height: 1rem;
  margin-bottom: 4rem;
  padding: 0 15rem;
  opacity: 0.1;
}

.PlayerStatistics_listItem_27e9eeba {
  align-items: flex-end;
  height: 24rem;
  margin-bottom: 5rem;
}
.mediaExtraLarge .PlayerStatistics_listItem_27e9eeba {
  margin-bottom: 10rem;
}

.PlayerStatistics_label_3fb1f69f {
  color: rgba(238, 237, 233, 0.55);
  font-size: 16rem;
  font-weight: 400;
}
.mediaMedium .PlayerStatistics_label_3fb1f69f {
  font-size: 18rem;
}

.PlayerStatistics_value_6831d5c1 {
  color: #eeede9;
  font-size: 16rem;
  opacity: 0.8;
}
.mediaMedium .PlayerStatistics_value_6831d5c1 {
  font-size: 18rem;
}

.PlayerStatistics_zeroValue_d98b2431 {
  opacity: 0.5;
}

.PlayerStatistics_valueSeparator_dcf01904 {
  opacity: 0.3;
}

.PlayerStatistics_listSubItem_db8ef127 {
  padding-left: 25rem;
}

.PlayerStatistics_separator_4e8ac571 {
  display: flex;
  width: 100%;
  height: 1rem;
  position: relative;
}

.PlayerStatistics_separatorSquare_5e440c20 {
  position: absolute;
  top: 0;
  left: 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.EfficiencyDetails_efficiencyDetails_db8069eb {
  display: flex;
  flex-direction: column;
  width: 598rem;
  min-height: 540rem;
  margin-top: 31rem;
  background-image: linear-gradient(rgba(254, 254, 236, 0.05), rgba(254, 254, 236, 0.03));
  position: relative;
  z-index: 0;
}
.mediaMedium .EfficiencyDetails_efficiencyDetails_db8069eb {
  width: 760rem;
  min-height: 600rem;
  margin-top: 39rem;
}
.mediaLarge .EfficiencyDetails_efficiencyDetails_db8069eb {
  min-height: 719rem;
}
.mediaExtraLarge .EfficiencyDetails_efficiencyDetails_db8069eb {
  width: 904rem;
  min-height: 900rem;
}
.EfficiencyDetails_efficiencyDetails__allies_20b1febc {
  margin-left: 12rem;
}
.mediaMedium .EfficiencyDetails_efficiencyDetails__allies_20b1febc {
  margin-left: 10rem;
}
.mediaLarge .EfficiencyDetails_efficiencyDetails__allies_20b1febc {
  margin-left: 20rem;
}
.mediaExtraLarge .EfficiencyDetails_efficiencyDetails__allies_20b1febc {
  margin-left: 30rem;
}
.EfficiencyDetails_efficiencyDetails__enemies_23a29af {
  margin-right: 12rem;
}
.mediaMedium .EfficiencyDetails_efficiencyDetails__enemies_23a29af {
  margin-right: 10rem;
}
.mediaLarge .EfficiencyDetails_efficiencyDetails__enemies_23a29af {
  margin-right: 20rem;
}
.mediaExtraLarge .EfficiencyDetails_efficiencyDetails__enemies_23a29af {
  margin-right: 30rem;
}

.EfficiencyDetails_divider_85b11efd {
  background-color: rgba(196, 198, 192, 0.16);
  opacity: 0.76;
  position: absolute;
  top: 0;
  left: 0;
}

.EfficiencyDetails_dividerImage_5b9d06d2 {
  opacity: 0.32;
}

.EfficiencyDetails_closeIcon_8d81da90 {
  opacity: 0.9;
  position: absolute;
  top: 10rem;
  right: 10rem;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}
.EfficiencyDetails_closeIcon_8d81da90:hover {
  opacity: 1;
}
.EfficiencyDetails_closeIcon_8d81da90:active {
  opacity: 0.6;
}

.EfficiencyDetails_statistics_30a81815 {
  flex: 1;
  padding: 0 30rem 21rem;
}
.mediaMedium .EfficiencyDetails_statistics_30a81815 {
  padding: 0 60rem 39rem;
}
.mediaLarge .EfficiencyDetails_statistics_30a81815 {
  padding: 0 60rem 41rem;
}
.mediaExtraLarge .EfficiencyDetails_statistics_30a81815 {
  padding: 0 60rem 46rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.AccountInfoCell_accountInfo_dec8771 {
  max-width: 100%;
  padding-bottom: 3rem;
  font-size: 16rem;
}
.mediaMedium .AccountInfoCell_accountInfo_dec8771 {
  padding-bottom: 2rem;
  font-size: 18rem;
}
.mediaExtraLarge .AccountInfoCell_accountInfo_dec8771 {
  padding-bottom: 1rem;
  font-size: 22rem;
}

.AccountInfoCell_accountName_758104df {
  opacity: 1;
}
.AccountInfoCell_accountInfo_dec8771 .AccountInfoCell_accountName_758104df {
  flex: 1;
  padding-bottom: 0;
  color: rgba(238, 237, 233, 0.9);
}

.AccountInfoCell_clanAbbreviation_99f1cc86 {
  display: flex;
}
.AccountInfoCell_accountInfo_dec8771 .AccountInfoCell_clanAbbreviation_99f1cc86 {
  padding-bottom: 0;
  color: rgba(238, 237, 233, 0.9);
}

.AccountInfoCell_badge_b101914f {
  margin-right: 2rem;
}
.mediaMedium .AccountInfoCell_badge_b101914f {
  margin-bottom: 2rem;
}
.mediaLarge .AccountInfoCell_badge_b101914f {
  margin-bottom: 0;
}
.mediaExtraLarge .AccountInfoCell_badge_b101914f {
  margin-bottom: 1rem;
}

.AccountInfoCell_anonymizerIcon_a1d51ca4 {
  opacity: 0.5;
}

.AccountInfoCell_clanAbbreviation_99f1cc86,
.AccountInfoCell_igrIcon_158694e7,
.AccountInfoCell_anonymizerIcon_a1d51ca4 {
  margin-left: 2rem;
}

.mediaMedium .AccountInfoCell_igrIcon_158694e7,
.mediaMedium .AccountInfoCell_stripe_fefba7b2 {
  margin-bottom: 2rem;
}
.mediaLarge .AccountInfoCell_igrIcon_158694e7,
.mediaLarge .AccountInfoCell_stripe_fefba7b2 {
  margin-bottom: 0;
}
.mediaExtraLarge .AccountInfoCell_igrIcon_158694e7,
.mediaExtraLarge .AccountInfoCell_stripe_fefba7b2 {
  margin-bottom: 1rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.HeaderCell_headerCell__asc_204e6a44::before,
.HeaderCell_headerCell__desc_dc5a7202::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.HeaderCell_headerCell_5b34d1b1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition:
    opacity 0.2s,
    background-color 0.2s;
}
.HeaderCell_headerCell__icon_cfa14ddf {
  justify-content: center;
}
.HeaderCell_headerCell__text_b476890c {
  padding-left: 4rem;
  color: rgba(238, 237, 233, 0.8);
  font-size: 16rem;
  font-weight: 400;
}
.mediaMedium .HeaderCell_headerCell__text_b476890c {
  font-size: 18rem;
}
.HeaderCell_headerCell_5b34d1b1:hover {
  background: rgba(243, 238, 223, 0.16);
  opacity: 1;
}
.HeaderCell_headerCell__asc_204e6a44,
.HeaderCell_headerCell__desc_dc5a7202 {
  background: rgba(243, 238, 223, 0.06);
  opacity: 1;
}
.HeaderCell_headerCell__asc_204e6a44::before,
.HeaderCell_headerCell__desc_dc5a7202::before {
  border-bottom: 1rem solid;
  border-bottom-color: var(--color-general-secondary);
  content: "";
}
.HeaderCell_headerCell__asc_204e6a44::after,
.HeaderCell_headerCell__desc_dc5a7202::after {
  width: 0;
  height: 0;
  border-left: 6rem solid transparent;
  border-right: 6rem solid transparent;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.HeaderCell_headerCell__desc_dc5a7202::after {
  border-top: 6rem solid;
  border-top-color: var(--color-general-secondary);
  border-bottom: none;
  bottom: -6rem;
}
.HeaderCell_headerCell__asc_204e6a44::after {
  border-top: none;
  border-bottom: 6rem solid;
  border-bottom-color: var(--color-general-secondary);
  bottom: 0;
}

.HeaderCell_icon_5a06734a {
  width: 32rem;
  height: 32rem;
  background: no-repeat center/contain;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.NumberValueCell_numberValueCell_6b405713 {
  width: 100%;
  padding: 0 12rem 3rem;
  color: rgba(238, 237, 233, 0.8);
  font-size: 16rem;
  text-align: center;
}
.mediaMedium .NumberValueCell_numberValueCell_6b405713 {
  padding-bottom: 2rem;
  font-size: 18rem;
}
.mediaExtraLarge .NumberValueCell_numberValueCell_6b405713 {
  padding: 0 20rem 1rem;
  font-size: 22rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.PlatoonCell_platoon_5fe0374b {
  position: relative;
}
.mediaMedium .PlatoonCell_platoon_5fe0374b {
  padding-bottom: 2rem;
}
.mediaLarge .PlatoonCell_platoon_5fe0374b {
  padding-bottom: 0;
}

.PlatoonCell_platoonText_b6a98287 {
  font-size: 14rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.PlatoonCell_platoonText__personal_d021db4c {
  color: #ffd0a4;
}
.PlatoonCell_platoonText__alien_9767e814 {
  color: rgba(238, 237, 233, 0.9);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.EfficiencyTable_efficiencyTable__allies_b2f99733 {
  margin-right: -15rem;
  z-index: 10;
}
.mediaMedium .EfficiencyTable_efficiencyTable__allies_b2f99733 {
  margin-right: -14rem;
}
.mediaLarge .EfficiencyTable_efficiencyTable__allies_b2f99733 {
  margin-right: -24rem;
}
.mediaExtraLarge .EfficiencyTable_efficiencyTable__allies_b2f99733 {
  margin-right: -37rem;
}
.EfficiencyTable_efficiencyTable__enemies_1ba35ae7 {
  margin-left: -15rem;
}
.mediaMedium .EfficiencyTable_efficiencyTable__enemies_1ba35ae7 {
  margin-left: -14rem;
}
.mediaLarge .EfficiencyTable_efficiencyTable__enemies_1ba35ae7 {
  margin-left: -24rem;
}
.mediaExtraLarge .EfficiencyTable_efficiencyTable__enemies_1ba35ae7 {
  margin-left: -37rem;
}

.EfficiencyTable_header_412b5b7b {
  margin-bottom: -1rem;
  position: relative;
  z-index: 2;
}
.EfficiencyTable_efficiencyTable__allies_b2f99733 .EfficiencyTable_header_412b5b7b {
  margin-right: 27rem;
}
.mediaMedium .EfficiencyTable_efficiencyTable__allies_b2f99733 .EfficiencyTable_header_412b5b7b {
  margin-right: 24rem;
}
.mediaLarge .EfficiencyTable_efficiencyTable__allies_b2f99733 .EfficiencyTable_header_412b5b7b {
  margin-right: 44rem;
}
.mediaExtraLarge
  .EfficiencyTable_efficiencyTable__allies_b2f99733
  .EfficiencyTable_header_412b5b7b {
  margin-right: 64rem;
}
.EfficiencyTable_efficiencyTable__enemies_1ba35ae7 .EfficiencyTable_header_412b5b7b {
  margin-left: 27rem;
}
.mediaMedium .EfficiencyTable_efficiencyTable__enemies_1ba35ae7 .EfficiencyTable_header_412b5b7b {
  margin-left: 24rem;
}
.mediaLarge .EfficiencyTable_efficiencyTable__enemies_1ba35ae7 .EfficiencyTable_header_412b5b7b {
  margin-left: 44rem;
}
.mediaExtraLarge
  .EfficiencyTable_efficiencyTable__enemies_1ba35ae7
  .EfficiencyTable_header_412b5b7b {
  margin-left: 64rem;
}

.EfficiencyTable_rowsWrapper_da034938 {
  padding-top: 1rem;
}
.EfficiencyTable_efficiencyTable__allies_b2f99733 .EfficiencyTable_rowsWrapper_da034938 {
  padding-right: 27rem;
}
.mediaMedium
  .EfficiencyTable_efficiencyTable__allies_b2f99733
  .EfficiencyTable_rowsWrapper_da034938 {
  padding-right: 24rem;
}
.mediaLarge
  .EfficiencyTable_efficiencyTable__allies_b2f99733
  .EfficiencyTable_rowsWrapper_da034938 {
  padding-right: 44rem;
}
.mediaExtraLarge
  .EfficiencyTable_efficiencyTable__allies_b2f99733
  .EfficiencyTable_rowsWrapper_da034938 {
  padding-right: 64rem;
}
.EfficiencyTable_efficiencyTable__enemies_1ba35ae7 .EfficiencyTable_rowsWrapper_da034938 {
  padding-left: 27rem;
}
.mediaMedium
  .EfficiencyTable_efficiencyTable__enemies_1ba35ae7
  .EfficiencyTable_rowsWrapper_da034938 {
  padding-left: 24rem;
}
.mediaLarge
  .EfficiencyTable_efficiencyTable__enemies_1ba35ae7
  .EfficiencyTable_rowsWrapper_da034938 {
  padding-left: 44rem;
}
.mediaExtraLarge
  .EfficiencyTable_efficiencyTable__enemies_1ba35ae7
  .EfficiencyTable_rowsWrapper_da034938 {
  padding-left: 64rem;
}

.EfficiencyTable_efficiencyTable_e622a43e .EfficiencyTable_alignLeft_a52cfd11 {
  justify-content: flex-start;
}

.EfficiencyTable_efficiencyTable_e622a43e .EfficiencyTable_alignRight_46cf6a64 {
  justify-content: flex-end;
}

.EfficiencyTable_table_f467cc44 {
  width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 0;
}

.EfficiencyTable_tableBody_5b14613b {
  flex: 1;
  position: relative;
  z-index: 1;
}

.EfficiencyTable_tableBody_5b14613b .EfficiencyTable_scrollBar_f4e5aa11 {
  max-height: 100%;
  position: absolute;
  top: 0;
}
.EfficiencyTable_efficiencyTable__allies_b2f99733 .EfficiencyTable_scrollBar_f4e5aa11 {
  right: 12rem;
}
.mediaMedium .EfficiencyTable_efficiencyTable__allies_b2f99733 .EfficiencyTable_scrollBar_f4e5aa11 {
  right: 10rem;
}
.mediaLarge .EfficiencyTable_efficiencyTable__allies_b2f99733 .EfficiencyTable_scrollBar_f4e5aa11 {
  right: 31rem;
}
.mediaExtraLarge
  .EfficiencyTable_efficiencyTable__allies_b2f99733
  .EfficiencyTable_scrollBar_f4e5aa11 {
  right: 43rem;
}
.EfficiencyTable_efficiencyTable__enemies_1ba35ae7 .EfficiencyTable_scrollBar_f4e5aa11 {
  right: -15rem;
}
.mediaMedium
  .EfficiencyTable_efficiencyTable__enemies_1ba35ae7
  .EfficiencyTable_scrollBar_f4e5aa11 {
  right: -15rem;
}
.mediaExtraLarge
  .EfficiencyTable_efficiencyTable__enemies_1ba35ae7
  .EfficiencyTable_scrollBar_f4e5aa11 {
  right: -21rem;
}

.EfficiencyTable_scrollAreaContent_4fa5a5ab {
  height: auto;
  max-height: 100%;
}

.EfficiencyTable_mask_8fbe6740 {
  mask-image: linear-gradient(#000 0%, #000 93%, transparent 100%);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.TableBodyRow_tableBodyRow_be19874 {
  height: 36rem;
  position: relative;
  z-index: 0;
  transition: background-color 0.2s;
  cursor: pointer;
}
.mediaMedium .TableBodyRow_tableBodyRow_be19874 {
  height: 40rem;
}
.mediaLarge .TableBodyRow_tableBodyRow_be19874 {
  height: 48rem;
}
.mediaExtraLarge .TableBodyRow_tableBodyRow_be19874 {
  height: 60rem;
}
.TableBodyRow_tableBodyRow_be19874:hover {
  background-color: rgba(248, 245, 241, 0.07);
}
.TableBodyRow_tableBodyRow_be19874:hover::after {
  opacity: 1;
}
.TableBodyRow_tableBodyRow__selected_9cd5fe77 {
  transition: none;
}
.TableBodyRow_tableBodyRow__selected_9cd5fe77:hover {
  background-color: transparent;
}
.TableBodyRow_tableBodyRow__selected_9cd5fe77:hover::after {
  opacity: 0;
}
.TableBodyRow_tableBodyRow_be19874::after {
  height: 1rem;
  background-color: rgba(248, 245, 241, 0.07);
  opacity: 0;
  content: "";
  position: absolute;
  top: -1rem;
  right: 0;
  left: 0;
  transition: opacity 0.2s;
}

.TableBodyRow_tableBodyRow__selected_9cd5fe77 .TableBodyRow_selectedRowTail_595bad28 {
  position: absolute;
  top: 0;
  left: 100%;
}
.TableBodyRow_tableBodyRow__selected_9cd5fe77 .TableBodyRow_selectedRowTail__enemies_15d3ff4e {
  right: 100%;
  left: initial;
  transform: rotate(180deg);
}

.TableBodyRow_rowDivider_7f22c0ad {
  background-color: rgba(196, 198, 192, 0.15);
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: opacity 0.2s;
}

.TableBodyRow_rowDividerImage_9c09afd1 {
  opacity: 0.3;
}

.TableBodyRow_accountInfo_5ecfc9f2,
.TableBodyRow_numberValue_8b5b22c7 {
  transition: opacity 0.2s;
}
.TableBodyRow_tableBodyRow__personalSquad_5ecfc9f2 .TableBodyRow_accountInfo_5ecfc9f2,
.TableBodyRow_tableBodyRow__personalSquad_5ecfc9f2 .TableBodyRow_numberValue_8b5b22c7 {
  opacity: 0.8;
}

.TableBodyRow_tableBodyRow__personal_5ecfc9f2 .TableBodyRow_accountName_4ede8694,
.TableBodyRow_tableBodyRow__personalSquad_5ecfc9f2 .TableBodyRow_accountName_4ede8694 {
  color: #ffc289;
}
.TableBodyRow_tableBodyRow__teamKiller_5ecfc9f2 .TableBodyRow_accountName_4ede8694 {
  color: #09e2ff;
}

.TableBodyRow_tableBodyRow__personal_5ecfc9f2 .TableBodyRow_clanAbbreviation_5ecfc9f2,
.TableBodyRow_tableBodyRow__personalSquad_5ecfc9f2 .TableBodyRow_clanAbbreviation_5ecfc9f2,
.TableBodyRow_tableBodyRow__personal_5ecfc9f2 .TableBodyRow_numberValue_8b5b22c7,
.TableBodyRow_tableBodyRow__personalSquad_5ecfc9f2 .TableBodyRow_numberValue_8b5b22c7 {
  color: #ffc289;
}

.TableBodyRow_selectedOverlay_7f267587 {
  display: none;
  background-color: rgba(248, 245, 241, 0.07);
  position: absolute;
  top: -1rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  cursor: pointer;
}
.TableBodyRow_tableBodyRow__selected_9cd5fe77 .TableBodyRow_selectedOverlay_7f267587 {
  display: flex;
}

.TableBodyRow_selectedOverlayDivider_35a0f807 {
  background-color: rgba(196, 198, 192, 0.15);
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.TableBodyRow_selectedOverlayDivider__bottom_20b949b4 {
  top: initial;
  bottom: 0;
}

.TableBodyRow_selectedOverlayImage_9c09afd1 {
  opacity: 0.3;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Header_row_e61ae0d9 {
  height: 32rem;
  position: relative;
}
.mediaMedium .Header_row_e61ae0d9 {
  height: 40rem;
}

.Header_rowDivider_f54d9df6 {
  background-color: #4c4c4c;
  position: absolute;
  bottom: 0;
  left: 0;
}

.Header_rowDividerImage_19f6e11 {
  opacity: 0.3;
}

.Header_cell_70aa1da5 {
  position: relative;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.SelectedRowTail_selectedRowTail_8abda9c8 {
  height: 100%;
  background-color: rgba(248, 245, 241, 0.07);
  position: relative;
}
.SelectedRowTail_selectedRowTail__hasWidth_6cb87e09 {
  width: 23rem;
}
.mediaMedium .SelectedRowTail_selectedRowTail__hasWidth_6cb87e09 {
  width: 19rem;
}
.mediaLarge .SelectedRowTail_selectedRowTail__hasWidth_6cb87e09 {
  width: 39rem;
}
.mediaExtraLarge .SelectedRowTail_selectedRowTail__hasWidth_6cb87e09 {
  width: 59rem;
}

.SelectedRowTail_selectedRowVerticalLine_64ed87 {
  width: 1rem;
  height: 100%;
  background-color: #b2afab;
  background-image: linear-gradient(to right, #fff, #f3eedf);
  opacity: 0.4;
  position: absolute;
  top: 0;
  right: -1rem;
}

.SelectedRowTail_selectedRowTriangle_6f2b6bb3 {
  width: 5rem;
  height: 5rem;
  background-color: #b2afab;
  background-image: linear-gradient(to bottom, #fff, #f3eedf);
  opacity: 0.64;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  position: absolute;
  top: 50%;
  right: -6rem;
  transform: translate(-50%, -50%) rotate(-45deg);
  pointer-events: none;
}

.SelectedRowTail_rowDivider_8fbc881 {
  background-color: rgba(196, 198, 192, 0.15);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}
.SelectedRowTail_rowDivider__bottom_4111cb99 {
  top: initial;
  bottom: 0;
}

.SelectedRowTail_rowDividerImage_d11f29d5 {
  opacity: 0.3;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.TeamEfficiency_ab8dfa62 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding-top: 110rem;
  padding-bottom: 79rem;
  overflow: hidden;
  position: relative;
}
.mediaMedium .TeamEfficiency_ab8dfa62 {
  padding: 140rem 0 117rem;
}
.mediaLarge .TeamEfficiency_ab8dfa62 {
  padding: 168rem 0 152rem;
}
.mediaExtraLarge .TeamEfficiency_ab8dfa62 {
  padding: 250rem 0;
}
@media (orientation: portrait) {
  .TeamEfficiency_ab8dfa62 {
    align-items: center;
  }
}

.TeamEfficiency_wrapper_a2a49ce {
  display: flex;
  max-height: 100%;
}
@media (orientation: portrait) {
  .TeamEfficiency_wrapper_a2a49ce {
    margin-bottom: 100rem;
  }
}

.TeamEfficiency_table_5763cf17 {
  display: flex;
  flex-direction: column;
}
.TeamEfficiency_table__hidden_e8864815 {
  display: none;
  pointer-events: none;
}

.TeamEfficiency_details_f087bb8e {
  display: none;
}
.TeamEfficiency_details__visible_eaf91b76 {
  display: flex;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.BattleResults_4f5a0359::before,
.BattleResults_tab_b92eb0b4 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.BattleResults_4f5a0359 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.BattleResults_4f5a0359::before {
  background: url("R.images.fort_rush.gui.maps.icons.postBattleResults.backgrounds.win_blur")
    no-repeat center/cover;
  content: "";
  z-index: -1;
  pointer-events: none;
}
.BattleResults_base__win_1de73c2::before {
  background-image: url("R.images.fort_rush.gui.maps.icons.postBattleResults.backgrounds.win_blur");
}
.BattleResults_base__lose_1de73c2::before {
  background-image: url("R.images.fort_rush.gui.maps.icons.postBattleResults.backgrounds.lose_blur");
}
.BattleResults_base__tie_1de73c2::before {
  background-image: url("R.images.fort_rush.gui.maps.icons.postBattleResults.backgrounds.tie_blur");
}

.BattleResults_navigation_27fe91fd {
  display: flex;
  position: absolute;
  top: 51rem;
  left: 50%;
  transform: translate(-50%);
}
.mediaMedium .BattleResults_navigation_27fe91fd {
  top: 79rem;
}
.mediaExtraLarge .BattleResults_navigation_27fe91fd {
  top: 99rem;
}
.BattleResults_navigation__disabled_2c9da021 {
  pointer-events: none;
}

.BattleResults_switcher_95518d44 {
  flex-grow: 0;
}

.BattleResults_tab_b92eb0b4 {
  visibility: hidden;
  pointer-events: none;
}
.BattleResults_content__overview_1de73c2 .BattleResults_tab__overview_117692f5 {
  visibility: visible;
  pointer-events: auto;
}
.BattleResults_content__teamScore_1de73c2 .BattleResults_tab__teamScore_117692f5 {
  visibility: visible;
  pointer-events: auto;
}

.BattleResults_info_b97810a {
  position: absolute;
  bottom: 52rem;
  left: 50%;
  transform: translateX(-50%);
}
.mediaMedium .BattleResults_info_b97810a {
  bottom: 68rem;
}
.mediaLarge .BattleResults_info_b97810a {
  bottom: 75rem;
}
.mediaExtraLarge .BattleResults_info_b97810a {
  bottom: 113rem;
}
