/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-pattern */
.PreBattleQueueViewApp_787572f7 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.PreBattleQueueViewApp_sceneWrapper_d9b3f989 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}

.PreBattleQueueViewApp_vignette_bdc4e809 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("R.images.halloween.gui.maps.icons.backgrounds.vignette_simple") no-repeat
    50%/100% 100%;
}

.PreBattleQueueViewApp_container_91e5986 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 18rem;
  pointer-events: none;
}

.PreBattleQueueViewApp_containerIcon_9cb12e3a {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 5rem;
}
.mediaMedium .PreBattleQueueViewApp_containerIcon_9cb12e3a {
  top: 7rem;
}

.PreBattleQueueViewApp_smoke_23f81c84 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 60rem;
  background: url("R.images.halloween.gui.maps.icons.difficulties.smoke") no-repeat 50%/100% 100%;
  top: 25rem;
  transform: translate(-50%, -50%) rotate(-35deg);
}
.mediaMedium .PreBattleQueueViewApp_smoke_23f81c84 {
  width: 147rem;
  height: 128rem;
  top: 35rem;
}

.PreBattleQueueViewApp_icon_db2e5c31 {
  width: 60rem;
  height: 60rem;
  margin-left: 3rem;
  position: relative;
}
.mediaMedium .PreBattleQueueViewApp_icon_db2e5c31 {
  width: 112rem;
  height: 112rem;
  margin-left: 0;
}

.PreBattleQueueViewApp_title_301179e4 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 16rem;
  font-weight: 700;
  line-height: 1.3em;
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.14);
  color: #e9e2bf;
  top: 65rem;
}
.mediaMedium .PreBattleQueueViewApp_title_301179e4 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  top: 118rem;
}

.PreBattleQueueViewApp_timer_ed9f1bba {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.14);
  color: #e9e2bf;
  top: 85rem;
}
.mediaMedium .PreBattleQueueViewApp_timer_ed9f1bba {
  font-size: 32rem;
  font-weight: 700;
  line-height: 1.3em;
  top: 145rem;
}

.PreBattleQueueViewApp_vehicle_9b11aaec {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  position: absolute;
  top: 138rem;
  right: 0;
  left: 0;
}
.mediaMedium .PreBattleQueueViewApp_vehicle_9b11aaec {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-left: -16rem;
  top: 191rem;
}
.mediaLarge .PreBattleQueueViewApp_vehicle_9b11aaec {
  top: 211rem;
}
.mediaExtraLarge .PreBattleQueueViewApp_vehicle_9b11aaec {
  font-size: 32rem;
  font-weight: 400;
  line-height: 42rem;
  margin-left: -20rem;
  top: 224rem;
}

.PreBattleQueueViewApp_vehicleType_de0df25c {
  margin-right: 5rem;
}
.mediaMedium .PreBattleQueueViewApp_vehicleType_de0df25c {
  margin-right: 2rem;
}

.PreBattleQueueViewApp_leaveBtn_37b42985 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.mediaMedium .PreBattleQueueViewApp_leaveBtn_37b42985 {
  bottom: 70rem;
}
.mediaLarge .PreBattleQueueViewApp_leaveBtn_37b42985 {
  bottom: 80rem;
}
.mediaExtraLarge .PreBattleQueueViewApp_leaveBtn_37b42985 {
  bottom: 110rem;
}
.PreBattleQueueViewApp_leaveBtn_37b42985 {
  bottom: 60rem;
  min-width: 102rem;
  pointer-events: auto;
}
.mediaMedium .PreBattleQueueViewApp_leaveBtn_37b42985 {
  min-width: 160rem;
}

.PreBattleQueueViewApp_tip_a012fac8 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  text-shadow: -4rem 7rem 0 rgba(255, 39, 23, 0.14);
  color: #feab34;
  bottom: 106rem;
}
.mediaMedium .PreBattleQueueViewApp_tip_a012fac8 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  bottom: 144rem;
}
.mediaLarge .PreBattleQueueViewApp_tip_a012fac8 {
  bottom: 154rem;
}
.mediaExtraLarge .PreBattleQueueViewApp_tip_a012fac8 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.3em;
  bottom: 184rem;
}
.PreBattleQueueViewApp_tip__firstTip_65f392c {
  color: #8c8c7e;
}
