.TooltipDecorator_base_c9 {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.images.gui.maps.icons.tooltip.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.ExtendedText_base_71 {
  display: flex;
  line-height: 1.2;
  position: relative;
}

.ExtendedText_base__zeroPadding_25 {
  padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
  width: 100%;
}

.ExtendedText_truncated_97 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.ExtendedText_truncated__hide_31 {
  opacity: 0;
}

.ExtendedText_unTruncated_b8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  color: #ff2717;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.colors_blackReal_fc {
  color: #000000;
}

.colors_whiteReal_31 {
  color: #ffffff;
}

.colors_white_45 {
  color: #f2f2f7;
}

.colors_whiteOrange_81 {
  color: #fefeec;
}

.colors_whiteSpanish_c3 {
  color: #e9e2bf;
}

.colors_par_5b {
  color: #8c8c7e;
}

.colors_parSecondary_fd {
  color: #595950;
}

.colors_parTertiary_97 {
  color: #37362e;
}

.colors_red_79 {
  color: #ff2717;
}

.colors_redDark_73 {
  color: #b70000;
}

.colors_yellow_76 {
  color: #feab34;
}

.colors_orange_cd {
  color: #ee7000;
}

.colors_cream_0f {
  color: #ffdd99;
}

.colors_brown_82 {
  color: #cbac77;
}

.colors_greenBright_68 {
  color: #80d43a;
}

.colors_green_fa {
  color: #7ab300;
}

.colors_greenDark_a9 {
  color: #497212;
}

.colors_blueBooster_26 {
  color: #ccffff;
}

.colors_blueTeamkiller_86 {
  color: #09e2ff;
}

.colors_cred_35 {
  color: #ced9d9;
}

.colors_gold_c3 {
  color: #ffc363;
}

.colors_bond_ce {
  color: #c9c9b6;
}

.colors_prom_83 {
  color: #a29b70;
}

.renderers_noBreakWrapper_10 {
  display: flex;
  flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
  width: 100%;
  height: 0;
}

.renderers_newLine_bd {
  flex: 1;
  width: 100%;
}

.NotEnoughPointsApp_base_82 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  width: 311rem;
  padding: 15rem 20rem 18rem;
  border: 1rem solid #3d3b31;
  border-radius: 2rem;
  box-shadow:
    0 0 8rem #000000,
    inset 0 0 4rem rgba(61, 59, 49, 0.86);
  background: #070705
    linear-gradient(
      to top,
      rgba(201, 201, 182, 0.05),
      rgba(201, 201, 182, 0) 9%,
      rgba(201, 201, 182, 0) 89%,
      rgba(201, 201, 182, 0.05)
    );
}

.NotEnoughPointsApp_title_a2 {
  color: #e9e2bf;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}

.NotEnoughPointsApp_body_ba {
  margin-top: 6rem;
  line-height: 18rem;
}

.NotEnoughPointsApp_value_18 {
  margin-top: 8rem;
}

.NotEnoughPointsApp_points_9a {
  margin-left: 2rem;
  color: #ff2717;
}

.NotEnoughPointsApp_icon_02 {
  width: 16rem;
  height: 16rem;
  margin-left: -2rem;
  margin-top: 1rem;
  background: url("R.images.gui.maps.icons.epicBattles.awards.c_16x16.abilityToken") no-repeat 50% /
    contain;
}
