/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
/* should be percentage of screen width */
@keyframes Diff_fadeIn_3ad418bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Diff_fadeInThreeQuarters_3ad418bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes Diff_fadeInHalf_3ad418bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes Diff_fadeOut_3ad418bf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Diff_fadeInWithScale_3ad418bf {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Diff_slideUp_3ad418bf {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Diff_scale_3ad418bf {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Diff_raysAppearance_3ad418bf {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Diff_rotate_3ad418bf {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Diff_reverse-rotate_3ad418bf {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes Diff_glowAppearance_3ad418bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Diff_highlightAppearance_3ad418bf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes Diff_blink_3ad418bf {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Diff_slideUpIn_3ad418bf {
  from {
    opacity: 0;
    transform: translateY(50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* should be percentage of screen width */
.Diff_8f04feea {
  font-weight: 700;
}
.Diff_base__negative_ebb1426 {
  color: #c13816;
}
.Diff_base__positive_36979f4d {
  color: #16c116;
}