/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.DailyQuestsTooltipApp_b5a82c23 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 378rem;
  padding: 15rem 29rem 19rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.DailyQuestsTooltipApp_name_3f7f3230 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-tertiary-rgb), 0.25);
}

.DailyQuestsTooltipApp_description_1702ec9b {
  margin-top: 7rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.DailyQuestsTooltipApp_label_91187f25 {
  margin-top: -3rem;
  color: var(--color-general-tertiary);
}

.DailyQuestsTooltipApp_content_6698a504 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DailyQuestsTooltipApp_dots_b6044c40 {
  width: 350rem;
  height: 1rem;
  margin: 16rem 0 10rem;
  background: url("R.images.last_stand.gui.maps.icons.library.dots") no-repeat 50% / contain;
}

.DailyQuestsTooltipApp_rewards_bacfd44c {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17rem;
}

.DailyQuestsTooltipApp_reward_2bf199e9 {
  margin: 15rem 10rem 0 0;
}

.DailyQuestsTooltipApp_timerStatus_174ddda4 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  padding: 2rem 0;
  color: rgba(var(--color-general-tertiary-rgb), 0.9);
}
