/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Glow_root_a44066b8,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.Glow_media-wrapper_a44066b8,
#Glow_root_a44066b8 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Glow_fb7467e0 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Glow_sparksBgFx_d40a78ff {
  width: 1140rem;
  height: 716rem;
  background: url("R.images.frontline.gui.maps.icons.progressionScreen.fx_sparks_bg_orange")
    center/cover no-repeat;
  opacity: 0;
  position: absolute;
}
.Glow_base__appearing_a44066b8 .Glow_sparksBgFx_d40a78ff {
  animation: Glow_fadeInOutSparksFx_a44066b8 0.6s ease-in-out forwards;
}

.Glow_sparksBg_80ab367d {
  width: 710rem;
  height: 108rem;
  background: url("R.images.frontline.gui.maps.icons.progressionScreen.sparks_bg_orange")
    center/cover no-repeat;
  opacity: 0.3;
  position: absolute;
}

.Glow_video_8a929657 {
  opacity: 0;
  position: absolute;
}
.Glow_base__appearing_a44066b8 .Glow_video_8a929657 {
  animation: Glow_fadeIn_a44066b8 0.6s ease-in-out forwards;
}
.Glow_base__visible_a44066b8 .Glow_video_8a929657 {
  opacity: 0.8;
}

@keyframes Glow_fadeIn_a44066b8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Glow_fadeInOutSparksFx_a44066b8 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ClaimRewardButton_root_a2ccee13,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.ClaimRewardButton_media-wrapper_a2ccee13,
#ClaimRewardButton_root_a2ccee13 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ClaimRewardButton_6a9b8fa0 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ClaimRewardButton_glow_433d746e {
  position: absolute;
}

.ClaimRewardButton_container_741d3600 {
  opacity: 0;
  position: relative;
}
.ClaimRewardButton_base__appearing_a2ccee13 .ClaimRewardButton_container_741d3600 {
  animation: ClaimRewardButton_fadeInBtn_a2ccee13 0.2s 0.4s ease-in-out forwards;
}
.ClaimRewardButton_base__visible_a2ccee13 .ClaimRewardButton_container_741d3600 {
  opacity: 1;
}

.ClaimRewardButton_button_7e382552 {
  min-width: 145rem;
  height: 32rem;
  margin-top: -2rem;
}
.mediaLarge .ClaimRewardButton_button_7e382552 {
  min-width: 230rem;
  height: 48rem;
  margin-top: -4rem;
}

.ClaimRewardButton_bubble_66a9d9b0 {
  opacity: 0;
  position: absolute;
  top: -12rem;
  right: 10rem;
}
.ClaimRewardButton_base__appearing_a2ccee13 .ClaimRewardButton_bubble_66a9d9b0 {
  animation: ClaimRewardButton_fadeInBubbleNew_a2ccee13 0.2s 0.6s ease-in-out forwards;
}
.ClaimRewardButton_base__visible_a2ccee13 .ClaimRewardButton_bubble_66a9d9b0 {
  opacity: 1;
}

.ClaimRewardButton_valueContainer_937dcb63 {
  min-width: 16rem;
  padding: 0;
}

@keyframes ClaimRewardButton_fadeIn_a2ccee13 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ClaimRewardButton_fadeInBtn_a2ccee13 {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ClaimRewardButton_fadeInBubbleNew_a2ccee13 {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#LevelInformation_root_b7f5b33e,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.LevelInformation_media-wrapper_b7f5b33e,
#LevelInformation_root_b7f5b33e {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.LevelInformation_9271d1b9 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.LevelInformation_glow_6d32019 {
  position: absolute;
}

.LevelInformation_labelContainer_e9afd167 {
  font-size: 28rem;
}
.mediaLarge .LevelInformation_labelContainer_e9afd167 {
  font-size: 40rem;
}
.LevelInformation_labelContainer_e9afd167 {
  display: flex;
  margin: 2rem 0 0 20rem;
}
.mediaLarge .LevelInformation_labelContainer_e9afd167 {
  margin: -5rem 0 0 10rem;
}

.LevelInformation_eventState_b7f5b33e,
.LevelInformation_timerLabel_bfb2cd22 {
  color: rgba(238, 237, 233, 0.9);
  font-weight: 600;
  text-shadow: 0 0 14rem rgba(255, 255, 255, 0.5);
}

.LevelInformation_timerIcon_9d27acc0 {
  display: none;
}

.LevelInformation_timerLabel_bfb2cd22 {
  font-size: 28rem;
}
.mediaLarge .LevelInformation_timerLabel_bfb2cd22 {
  font-size: 40rem;
}
.LevelInformation_timerLabel_bfb2cd22 {
  font-weight: 600;
}

.LevelInformation_maxLevelContainer_9271d1b9 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.LevelInformation_maxLevelReachedMessage_c2d7a634 {
  margin: 2rem 0 0 10rem;
  color: #ffe4c0;
  font-size: 20rem;
  font-weight: 600;
  letter-spacing: 0.56rem;
  z-index: 1;
}
.mediaLarge .LevelInformation_maxLevelReachedMessage_c2d7a634 {
  font-size: 28rem;
}

.LevelInformation_currentPoints_6c13d58c {
  color: var(--color-general-primary);
}

.LevelInformation_separator_b7f5b33e,
.LevelInformation_needPoints_e8a11fbf {
  margin-left: 8rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.LevelInformation_upIcon_efa7dc88 {
  width: 32rem;
  height: 32rem;
  margin-left: 11rem;
  background: url("R.images.frontline.gui.maps.icons.progressionScreen.upIcon") no-repeat
    center/contain;
}
.mediaLarge .LevelInformation_upIcon_efa7dc88 {
  margin: 6rem 0 0 12rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#LevelBlock_root_f32d7c08,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.LevelBlock_media-wrapper_f32d7c08,
#LevelBlock_root_f32d7c08 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.LevelBlock_4febf6d6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.LevelBlock_level_d685b90a {
  margin-left: 13rem;
}
.mediaMedium .LevelBlock_level_d685b90a {
  margin-left: 23rem;
}
.mediaLarge .LevelBlock_level_d685b90a {
  margin-left: 20rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#CustomProgressBar_root_e41abc42,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.CustomProgressBar_media-wrapper_e41abc42,
#CustomProgressBar_root_e41abc42 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.CustomProgressBar_f7c1daea {
  width: 100%;
}

.CustomProgressBar_content_a6264339 {
  width: 100%;
  height: 29rem;
  position: relative;
}

.CustomProgressBar_background_3f6eaea9 {
  box-shadow: none;
  background-color: transparent;
}
.CustomProgressBar_background_3f6eaea9::after {
  border: 0 none;
}

.CustomProgressBar_fillPattern_372b4dd0 {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.CustomProgressBar_completeProgressCover_35fea46d,
.CustomProgressBar_pointer_21613146 {
  height: 22rem;
  position: absolute;
  top: 3rem;
  left: 0;
}

.CustomProgressBar_completeProgressCover_35fea46d {
  width: 100%;
  border-radius: 2rem;
  box-shadow:
    0 0 8.7rem 0 rgba(36, 255, 98, 0.5),
    0 0 6.8rem 0 rgba(215, 255, 70, 0.35),
    0 0 4rem 0 rgba(215, 255, 160, 0.25);
  background-color: #6dc62b;
  opacity: 0.6;
}

.CustomProgressBar_pointer_21613146 {
  width: 2rem;
  background-color: #fff;
  filter: drop-shadow(0 0 16rem rgba(255, 154, 82, 0.5))
    drop-shadow(0 0 8rem rgba(255, 196, 108, 0.24)) drop-shadow(0 0 4rem rgba(252, 246, 235, 0.16));
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Background_root_26effab7,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.Background_media-wrapper_26effab7,
#Background_root_26effab7 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Background_76b8cae4 {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.Background_layer_1909665 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Background_top_ecf7586c {
  width: 100%;
  height: 47rem;
  margin-top: 44rem;
}
.mediaMedium .Background_top_ecf7586c {
  margin-top: 45rem;
}
.Background_base__inProgress_26effab7 .Background_top__white_b1609903 {
  background: radial-gradient(
    78.04% 100% at 50% 100%,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(49, 49, 49, 0) 100%
  );
}
.Background_top__black_60a61c7c {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.Background_bottom_2bbccaf2 {
  flex: 1;
  width: 100%;
  margin-top: 26rem;
}
.Background_base__inProgress_26effab7 .Background_bottom__white_2d624d43 {
  background: radial-gradient(
    126.66% 103.83% at 50% 0%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(49, 49, 49, 0) 100%
  );
}
.Background_bottom__black_2cee6b06 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#SectionSeparator_root_527dfb09,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.SectionSeparator_media-wrapper_527dfb09,
#SectionSeparator_root_527dfb09 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.SectionSeparator_d0aad5ae {
  display: flex;
  flex-direction: column;
  width: 1rem;
  height: 100%;
}

.SectionSeparator_top_9a011b6f {
  width: 100%;
  height: 47rem;
  margin-top: 44rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}
.mediaMedium .SectionSeparator_top_9a011b6f {
  margin-top: 45rem;
}

.SectionSeparator_bottom_ab2fed8e {
  flex: 1;
  width: 100%;
  margin-top: 26rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#TiersSeparators_root_dd3750ab,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.TiersSeparators_media-wrapper_dd3750ab,
#TiersSeparators_root_dd3750ab {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.TiersSeparators_be26eda0 {
  display: flex;
  width: 100%;
}

.TiersSeparators_container_879f1c8 {
  display: flex;
  flex-direction: column;
}

.TiersSeparators_top_dd3750ab,
.TiersSeparators_bottom_9f4aa714 {
  width: 3rem;
  height: 55rem;
  background: url("R.images.frontline.gui.maps.icons.progressionScreen.line") no-repeat
    center/contain;
}

.TiersSeparators_bottom_9f4aa714 {
  margin-top: 26rem;
  transform: rotate(180deg);
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#TiersSection_root_22400138,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.TiersSection_media-wrapper_22400138,
#TiersSection_root_22400138 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.TiersSection_b122bb9f {
  display: flex;
  width: 153rem;
  position: relative;
}
.mediaMedium .TiersSection_b122bb9f {
  width: 179rem;
}
.mediaLarge .TiersSection_b122bb9f {
  width: 230rem;
}

.TiersSection_background_ddc4d980 {
  position: absolute;
  top: 0;
  left: 0;
}

.TiersSection_doneIcon_cb7f26ee {
  width: 41rem;
  height: 41rem;
  background: url("R.images.frontline.gui.maps.icons.progressionScreen.doneIcon") no-repeat
    center/contain;
  position: absolute;
  top: 0;
}

.TiersSection_glow_9a0c5716 {
  width: 230rem;
  height: 230rem;
  background: url("R.images.frontline.gui.maps.icons.progressionScreen.glow") no-repeat
    center/contain;
  opacity: 0.6;
  position: absolute;
  top: -90rem;
  left: -106rem;
}

.TiersSection_tiers_ea289110 {
  display: flex;
  margin-top: 31rem;
  color: rgba(238, 237, 233, 0.9);
  font-size: 24rem;
  text-shadow:
    0 1rem 0 rgba(0, 0, 0, 0.3),
    0 1rem 15rem rgba(23, 23, 23, 0.4);
  position: relative;
}
.mediaMedium .TiersSection_tiers_ea289110 {
  margin-top: 32rem;
}
.TiersSection_tiers__locked_9c1ac494 {
  color: rgba(var(--color-general-primary-rgb), 0.5);
}

.TiersSection_tiersSeparators_42b277a8 {
  position: absolute;
  top: 36rem;
}
.mediaMedium .TiersSection_tiersSeparators_42b277a8 {
  top: 37rem;
}

.TiersSection_content_32433d0c {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.TiersSection_rewardsContainer_efc03b65 {
  display: flex;
  flex-direction: column;
  margin-top: 89rem;
}
.mediaMedium .TiersSection_rewardsContainer_efc03b65 {
  margin-top: 88rem;
}

.TiersSection_reward_5fc7980a + .TiersSection_reward_5fc7980a {
  margin-top: 20rem;
}

.TiersSection_sectionSeparator_ddc4d980 {
  position: absolute;
  top: 0;
  left: 0;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ProgressBlock_root_405c3716,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.ProgressBlock_media-wrapper_405c3716,
#ProgressBlock_root_405c3716 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ProgressBlock_22f7d395 {
  display: flex;
  width: 100%;
  position: relative;
  mask-image: linear-gradient(to right, transparent, #000 2.88%, #000 97.22%, transparent);
  mask-repeat: no-repeat;
}

.ProgressBlock_progressBar_7da7bc49 {
  width: 100%;
  height: 29rem;
  position: absolute;
  top: 90rem;
  left: 0;
}
.mediaMedium .ProgressBlock_progressBar_7da7bc49 {
  top: 91rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ProgressionScreen_root_dbdeb549,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
}

html,
body,
.ProgressionScreen_media-wrapper_dbdeb549,
#ProgressionScreen_root_dbdeb549 {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 1px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ProgressionScreen_64dc73b7 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: calc(var(--external-padding-top) - 5rem);
  padding-bottom: var(--external-padding-bottom);
  background: url("R.images.frontline.gui.maps.bg.info") no-repeat center/cover;
}

.ProgressionScreen_content_8178663f {
  display: flex;
  flex-direction: column;
  width: 1224rem;
}
.mediaMedium .ProgressionScreen_content_8178663f {
  width: 1432rem;
}
.mediaLarge .ProgressionScreen_content_8178663f {
  width: 1840rem;
}

.mediaMedium .ProgressionScreen_levelBlock_5336bf8c {
  margin-top: -2rem;
}
.mediaLarge .ProgressionScreen_levelBlock_5336bf8c {
  margin-top: 24rem;
}

.ProgressionScreen_progressBlock_241efddb {
  height: 537rem;
  margin-top: 9rem;
}
.mediaMedium .ProgressionScreen_progressBlock_241efddb {
  height: 629rem;
  margin-top: 8rem;
}
.mediaLarge .ProgressionScreen_progressBlock_241efddb {
  margin-top: 6rem;
}
