/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Profit_6037941e {
  display: flex;
  align-items: center;
  position: relative;
}
.Profit_base__big_6b8f37cd,
.Profit_base__large_e3f34b22 {
  flex-direction: row-reverse;
}

.Profit_icon_a3ad1d71 {
  width: 16rem;
  height: 16rem;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
}
.Profit_base__big_6b8f37cd .Profit_icon_a3ad1d71 {
  transform: translateY(1rem);
}
.Profit_base__large_e3f34b22 .Profit_icon_a3ad1d71 {
  transform: none;
}
.Profit_icon__tankmenXP-small_6ee2c7d5 {
  background-image: url("R.images.fun_random.gui.maps.icons.feature.profit.tankmenXP_16x16");
}
.Profit_base__small_6b8f37cd .Profit_icon__tankmenXP-small_6ee2c7d5 {
  transform: translateY(-1rem);
}
.Profit_icon__tankmenXP-big_6b8f37cd,
.Profit_icon__tankmenXP-large_f01250f8 {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.fun_random.gui.maps.icons.feature.profit.tankmenXP");
}
.Profit_icon__credits-small_1a506f8b {
  background-image: url("R.images.gui.maps.icons.library.CreditsIcon_2");
}
.Profit_icon__credits-big_6b8f37cd,
.Profit_icon__credits-large_bbc8996c {
  width: 48rem;
  height: 48rem;
  margin-right: -1rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.money_silver");
}
.Profit_icon__gold-small_b9565eb {
  background-image: url("R.images.gui.maps.icons.library.GoldIcon_2");
}
.Profit_base__small_6b8f37cd .Profit_icon__gold-small_b9565eb {
  transform: translateY(-1rem);
}
.Profit_icon__gold-big_6b8f37cd,
.Profit_icon__gold-large_c1d230b5 {
  width: 48rem;
  height: 48rem;
  margin-right: -1rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.money_gold");
}
.Profit_icon__crystal-small_a1140ac6 {
  background-image: url("R.images.gui.maps.icons.library.CrystalIcon_2");
}
.Profit_base__small_6b8f37cd .Profit_icon__crystal-small_a1140ac6 {
  transform: translateY(-1rem);
}
.Profit_icon__crystal-big_6b8f37cd,
.Profit_icon__crystal-large_8668202 {
  width: 48rem;
  height: 48rem;
  margin-right: -1rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.money_bonds");
}
.Profit_icon__multyXp-small_7b9f9d52 {
  background-image: url("R.images.gui.maps.icons.library.multyXp");
}
.Profit_base__small_6b8f37cd .Profit_icon__multyXp-small_7b9f9d52 {
  transform: translateY(-1rem);
}
.Profit_icon__multyFreeXp-small_7dcd3502 {
  background-image: url("R.images.gui.maps.icons.library.multyFreeXp");
}
.Profit_base__small_6b8f37cd .Profit_icon__multyFreeXp-small_7dcd3502 {
  transform: translateY(-1rem);
}
.Profit_icon__xp-small_4bee637e {
  background-image: url("R.images.gui.maps.icons.library.NormalXpIcon");
}
.Profit_base__small_6b8f37cd .Profit_icon__xp-small_4bee637e {
  transform: translateY(-2rem);
}
.Profit_icon__xp-big_6b8f37cd,
.Profit_icon__xp-large_ad32f830 {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.exp");
}
.Profit_base__big_6b8f37cd .Profit_icon__xp-big_6b8f37cd,
.Profit_base__big_6b8f37cd .Profit_icon__xp-large_ad32f830 {
  transform: translateY(-1rem);
}
.Profit_icon__freeXP-small_2558eb64 {
  background-image: url("R.images.gui.maps.icons.library.freeXPIcon16x16");
}
.Profit_base__small_6b8f37cd .Profit_icon__freeXP-small_2558eb64 {
  transform: translateY(-1rem);
}
.Profit_icon__freeXP-big_6b8f37cd,
.Profit_icon__freeXP-large_102a16b4 {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.freeExp");
}

.Profit_value_50419a14 {
  /* font-size inherit does not work here, so 1em means the size does not change */
  /* stylelint-disable-next-line */
  --font-size: 1em;
  padding-right: 2rem;
  color: var(--color-general-primary);
  font-size: var(--font-size);
  position: relative;
  z-index: 2;
}
.Profit_base__big_6b8f37cd .Profit_value_50419a14 {
  --font-size: 24rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-weight: 700;
}
.Profit_base__big_6b8f37cd .Profit_value_50419a14 + .Profit_icon_a3ad1d71 {
  font-size: 24rem;
}
.Profit_base__large_e3f34b22 .Profit_value_50419a14 {
  padding-right: 5rem;
  --font-size: 36rem;
  font-weight: 700;
}
.Profit_base__large_e3f34b22 .Profit_value_50419a14 + .Profit_icon_a3ad1d71 {
  font-size: 36rem;
}
.Profit_base__small_6b8f37cd .Profit_value__notEnough_1ade341b {
  color: #ff2717;
}
.Profit_base__big_6b8f37cd .Profit_value__notEnough_1ade341b {
  color: #b70000;
}
.Profit_base__large_e3f34b22 .Profit_value__notEnough_1ade341b {
  color: #b70000;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.ListItem_9ed21754 {
  display: flex;
  margin-bottom: 4rem;
}

.ListItem_title_ffdc3010 {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.ListItem_description_d694fdcd {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.ListItem_base__total_ea38608d .ListItem_description_d694fdcd {
  color: #fefeec;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}

.ListItem_dotted_dc00eddb {
  display: flex;
  flex: 1;
  height: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
}
.ListItem_secondCount_ea38608d .ListItem_dotted_dc00eddb {
  align-self: flex-end;
  margin-right: 3rem;
}
.ListItem_dotted__inline_c714df3 {
  align-self: flex-end;
  margin-left: 3rem;
}

.ListItem_count_16457bf9 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 60rem;
}
.ListItem_base__total_ea38608d .ListItem_count_16457bf9 {
  font-weight: 700;
}

.ListItem_profit_c0826df5 {
  margin-left: 5rem;
}

.ListItem_text_8419d244 {
  display: flex;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Content_bd627888 {
  display: flex;
  flex-direction: column;
}

.Content_title_9e9cd55a {
  color: #fefeec;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 8rem;
  box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.25);
}

.Content_block_604708c6 {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
}
.Content_block__additional_315b276a {
  margin-top: 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.Footer_1b733abe {
  display: flex;
  padding-left: 24rem;
  position: relative;
}

.Footer_icon_cb4ec2ad {
  width: 24rem;
  height: 24rem;
  background: url("R.images.fun_random.gui.maps.icons.tooltips.battle_result.economy.info")
    no-repeat center/contain;
  position: absolute;
  top: 0;
  left: 0;
}

.Footer_description_398ba227 {
  color: #cbac77;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 2rem 0 0 7rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

/* stylelint-disable no-missing-end-of-source-newline */
.Header_36d24a5c {
  display: flex;
  align-items: center;
  min-height: 48rem;
  padding-left: 48rem;
  position: relative;
}

.Header_icon_442a1490 {
  width: 48rem;
  height: 48rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.Header_description_d221db51 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-left: 10rem;
  position: relative;
  top: -2rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14rem;
  line-height: 1.2;
  overflow: hidden;
}

.App_78b07e4b {
  display: flex;
  flex-direction: column;
  width: 400rem;
  padding: 18rem 20rem;
}

.App_divider_8fa6b2e1 {
  width: 100%;
  height: 9rem;
  background: url("R.images.fun_random.gui.maps.icons.tooltips.battle_result.economy.divider")
    no-repeat center/contain;
}
